@import "Markdown";

* {
     font-family: "Din Display Pro Bold", Arial;
     font-size: 14px;
}

body {
     font-family: "Din Display Pro Bold", Arial;
}

.gaia-indent {
    padding-left: 1.5rem;
}

.gaia-content {
    padding: 1.5rem;
    padding-top: 0.5rem;
}

.gaia-content .mpageui-Table {
    height: auto;
}

html {
    font-size: 100%;
}

.gaia-section {
    padding: 1rem;
}

.gaia-section > * {
    margin-bottom: 0.5rem;
}

.gaia-root-section > * {
    margin-bottom: 0.5rem;
}

.gaia-root > .mpageui-tabcontrol > .mpageui-tablistcontrol > .mpageui-tablistcontrol-list {
    min-width: 15%;
    max-width: none;
}

.gaia-root > .mpageui-TabControl > .mpageui-TabListControl > .mpageui-TabContents {
    overflow-y: auto;
}

.gaia-root > .mpageui-TabControl {
    height: 100%;
}


h1 {
    margin-bottom: 1rem;
}

h2 {
    border-bottom: 2px solid #dedfe0;
}
