/* ============== CSS RESET ============== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
    big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt,
    dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; vertical-align:baseline; overflow-y:hidden;}
:focus {outline:0;}
body {color:#000; background:#FFF; font:normal 13px/1.5em Tahoma, sans-serif; text-align:left; width:100%;}
ol, ul {list-style:none; text-align:left;}
table {border-collapse:separate; border-spacing:0; font:normal 13px Tahoma, sans-serif;}
caption {display:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
script {display:none;}
input {padding:0; margin:0;}

/* ========== Common Styles ========== */
a, a:active, a:link, a:hover {text-decoration:underline; cursor:pointer; color:#3380E5;}
a:visited {background:none;}
a:focus {border:1px dotted #505050;}
hr {display:none;}
table {font-size:100%; width:100%; border-collapse:collapse;}
td {font:13px/1.5em Tahoma, sans-serif; word-wrap:break-word; vertical-align:top;}
th {font:11px/1.2em Tahoma, sans-serif; word-wrap:break-word; vertical-align:bottom; text-align:left; color:#505050;}
.even {background:#F3F6FD}
.odd {background:#FFF;}
.disclaimer {font:normal 10px Tahoma, sans-serif; text-align:left; clear:left;}
.res-severe, .res-severe a {color:#E50D34; font-weight:bold;}
.res-high {color:#FF8013; font-weight:bold;}
.res-low {color:#0054E7; font-weight:bold;}
.res-none {display:block; padding-left:1em; zoom:1;}
.res-none-hd, .info-hd, .det-hd {position:absolute; visibility:hidden;}
.unit, .within, .date-time {font:normal 11px Tahoma, sans-serif; color:#505050;}
.hdr {color:#505050; font:normal 11px/1.2em Tahoma, sans-serif; background:#E8EFF9; vertical-align:bottom;}
.hidden {display:none;}

/* ========== Section Commons ========== */
.section {position:relative; zoom:1; background:none; margin:0 0 10px 0; font:normal 13px Tahoma, sans-serif;}
.sec-hd-tgl {float:right; text-align:center; width:1em; font-size:25px; cursor:pointer; font-weight:normal;}
.sec-hd {font:normal 14px/1.3em Tahoma, sans-serif; display:block; background:url(crnr-left.png) no-repeat 0 0; border-right:1px solid #ADCC92;}
.sec-hd, .sec-hd a {color:#003C74; font-weight:bold; text-decoration:none;}
.sec-hd a:hover {text-decoration:underline; cursor:pointer; color:#3380E5;}
.sec-title {display:block; padding-left:4px;}
.sec-total {color:#505050; font:normal 11px Tahoma, sans-serif; padding-left:6px; text-decoration:none;}
.sec-content {font:normal 13px/1.5em Tahoma, sans-serif; border:1px solid #ADCC92;}
.closed .sec-content, .closed .sub-sec-content, .pat-more.closed {display:none;}
.closed .sec-hd {display:block; margin:0; border-bottom:2px ridge #E0FFFF;}
.sub-sec-hd {font:normal 11px Tahoma, sans-serif; color:#505050; background:#F3F8EE; padding-left:2px; border-top:1px solid #ADCC92; border-bottom:1px solid #ADCC92;}
.sub-sec-hd-tgl {float:right; text-align:center; width:1em; cursor:pointer; font-weight:normal;}
.add-plus {cursor:pointer;	font-weight:normal;	font-size:12px;}
.add-plus img {vertical-align:middle;}
a.add-plus {font-weight:normal; text-decoration:none; padding-left:4px;}
.form-menu {position:absolute; border:1px solid #000; background-color:#FFF; padding:5px; z-index:2000; right:1px; top:20px; width:75%;}

/* ========== Page Header ========== */
.pg-hd {padding:2px 0; margin:0 0 1px 5px; color:#003C74; border-bottom:1px solid #E7E7E7; text-align:right; line-height:1.5em; display:block; zoom:1;}
.pg-title {font-weight:bold; display:inline; font-size:16px; float:left;}
.page-ctrl {margin-right:20px; vertical-align:middle;}
#expAll, #custView {padding-left:5px; padding-right:5px;}
#banner, #filters {margin-bottom:1em; margin-left:5px; display:block;}
#filters select {margin-right:15px; display:inline-block;}
.filter-lbl {margin-right:5px; color:#505050;}

/* ========== Patient Demographics ========== */
.dmg-pt-name-lbl, .dmg-sex-age-lbl {position:absolute; visibility:hidden;}
.dmg-info dt {padding-left:10px; display:inline; color:#505050;}
.dmg-info dd {display:inline;}
.dmg-pt-name {font:bold 14px Tahoma, sans-serif;}
.dmg-sex-age {padding-left:10px;}
.dmg-dob, .dmg-mrn, .dmg-fin, .dmg-rfv {padding-left:2px;}
.dmg-rfv {font-weight:bold;}
		
/* ========== Column Layouts ========== */
.col-group {position:relative; clear:both; float:left; width:100%; overflow:hidden; background:#FFF}
.col-outer1, .col-outer2 {float:left; width:100%; position:relative;}
.col1, .col2,	.col3 {float:left; position:relative;	padding:0 0 3px 0; overflow:hidden;}

/* 3 Column - Equal Widths */
.three-col .col-outer2 {right:34%;}
.three-col .col-outer1 {left:33%;}
.three-col .col1 {width:32.65%; left:1.25%;}
.three-col .col2 {width:33.65%; left:1.5%;}
.three-col .col3 {width:32.65%; left:1.75%;}

/* 2 Column - Equal Widths */
.two-col .col-outer1 {right:50%;}
.two-col .col1 {width:49.3%; left:50.5%;}
.two-col .col2 {width:49.3%; left:51%;}

/* 1 Column - Full Page */
.one-col .col1 {width:99%; left:.5%;}


/* ========== Hover Formatting ========== */
.hvr {background:#FFF; padding:0 5px; z-index:1; margin:-1px 10px 10px 5px; width:400px; line-height:2em; word-wrap:break-word;}
.hvr.hover {position:absolute; display:none; z-index:1000; background-color:#FFC; border:1px solid #000;}
.hvr dt {clear:left; color:#505050;}
.hvr dt span {float:left; margin-left:5px;}
.hvr dd {float:left; display:inline; margin:0 5px; overflow-x:hidden;}
.hvr table {margin:3px 0;}

/* --- Individual Components --- */	

/* ========== Patient - Collapsed ==========    .pat-risk, .pat-name, .pat-dob, .pat-mrn, .pat-loc, .pat-rrt, .pat-phys {border:1px solid #E8EFF9;};border:2px solid #E6E8F1;*/


.pat-sec {clear:both; margin:0 5px; word-wrap:break-word; }
.patContent {clear:both; margin:0 5px; word-wrap:break-word; width:100%; height:auto; }
.pat-table-hdr {color:#505050; background:#F6F6F6; text-align:center; }
.table-hdr {width:100%;}
.pat-table{table-layout:fixed; width:99%; border:1px #F6F6F6 solid ;text-align:center; padding-top:5px}
.pat-table1{table-layout:fixed; width:99% ;text-align:center; height:auto; }
.pat-table td, .pat-table1 td { text-align:center; padding-top:5px}

.pat-col-hdr {border-right:#E6E8F1 1px solid;border-bottom:1px solid #E8EFF9; text-align:center;}
.pat-col-hdr.uline {text-decoration:underline;}
.pat-det-hd, .pat-info dt {position:absolute; visibility:hidden;} 
.within {font:normal 12px Tahoma, sans-serif; color:#505050;} 
.pat-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}

td.pat-name{text-align:left; cursor:pointer; border-right:#E6E8F1 1px solid;font:normal 14px/1.5em Tahoma, sans-serif; color:#7596C6 ;border-left:#E6E8F1 1px solid; padding-left:5px}
td.pat-name a {text-decoration:none;}
td.pat-name a:hover{text-decoration:underline;}
