.jqplot-target{position:relative;color:#666;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:1em;}.jqplot-axis{font-size:.75em;}.jqplot-xaxis{margin-top:10px;}.jqplot-x2axis{margin-bottom:10px;}.jqplot-yaxis{margin-right:10px;}.jqplot-y2axis,.jqplot-y3axis,.jqplot-y4axis,.jqplot-y5axis,.jqplot-y6axis,.jqplot-y7axis,.jqplot-y8axis,.jqplot-y9axis{margin-left:10px;margin-right:10px;}.jqplot-axis-tick,.jqplot-xaxis-tick,.jqplot-yaxis-tick,.jqplot-x2axis-tick,.jqplot-y2axis-tick,.jqplot-y3axis-tick,.jqplot-y4axis-tick,.jqplot-y5axis-tick,.jqplot-y6axis-tick,.jqplot-y7axis-tick,.jqplot-y8axis-tick,.jqplot-y9axis-tick{position:absolute;}.jqplot-xaxis-tick{top:0;left:15px;vertical-align:top;}.jqplot-x2axis-tick{bottom:0;left:15px;vertical-align:bottom;}.jqplot-yaxis-tick{right:0;top:15px;text-align:right;width:15px;}.jqplot-y2axis-tick,.jqplot-y3axis-tick,.jqplot-y4axis-tick,.jqplot-y5axis-tick,.jqplot-y6axis-tick,.jqplot-y7axis-tick,.jqplot-y8axis-tick,.jqplot-y9axis-tick{left:0;top:15px;text-align:left;}.jqplot-xaxis-label{margin-top:10px;font-size:11pt;position:absolute;}.jqplot-x2axis-label{margin-bottom:10px;font-size:11pt;position:absolute;}.jqplot-yaxis-label{margin-right:10px;font-size:11pt;position:absolute;}.jqplot-y2axis-label,.jqplot-y3axis-label,.jqplot-y4axis-label,.jqplot-y5axis-label,.jqplot-y6axis-label,.jqplot-y7axis-label,.jqplot-y8axis-label,.jqplot-y9axis-label{font-size:11pt;position:absolute;}table.jqplot-table-legend,table.jqplot-cursor-legend{background-color:rgba(255,255,255,0.6);border:1px solid #ccc;position:absolute;font-size:.75em;}td.jqplot-table-legend{vertical-align:middle;}td.jqplot-table-legend>div{border:1px solid #ccc;padding:.2em;}div.jqplot-table-legend-swatch{width:0;height:0;border-top-width:.35em;border-bottom-width:.35em;border-left-width:.6em;border-right-width:.6em;border-top-style:solid;border-bottom-style:solid;border-left-style:solid;border-right-style:solid;}.jqplot-title{top:0;left:0;padding-bottom:.5em;font-size:1.2em;}table.jqplot-cursor-tooltip{border:1px solid #ccc;font-size:.75em;}.jqplot-cursor-tooltip{border:1px solid #ccc;font-size:.75em;white-space:nowrap;background:rgba(208,208,208,0.5);padding:1px;}.jqplot-highlighter-tooltip{border:1px solid #ccc;font-size:.75em;white-space:nowrap;background:rgba(208,208,208,0.5);padding:1px;}.jqplot-point-label{font-size:.75em;}td.jqplot-cursor-legend-swatch{vertical-align:middle;text-align:center;}div.jqplot-cursor-legend-swatch{width:1.2em;height:.7em;}.jqplot-elem-hideOnHover{}.jqplot-elem-showOnHover{display:none;}.jqplot-highlighter-tooltip .jqplot-elem-hideOnHover{display:none;}.jqplot-highlighter-tooltip .jqplot-elem-showOnHover{display:inline;}

        /* ============== CSS RESET ============== */
        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
            big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt,
            dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
            margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; vertical-align: baseline; }
        /* remember to define focus styles! */
        :focus { outline: 0; }
        body { line-height: 1em; color: #000; background: #FFF; }
        ol, ul { list-style: none; }
        /* tables still need 'cellspacing="0"' in the markup */
        table { border-collapse: separate; border-spacing: 0; }
        caption, th, td { text-align: left; font-weight: normal; }
        blockquote:before, blockquote:after, q:before, q:after { content: ""; }
        script { display: none; height: 0; width: 0; }
        input { padding: 0; margin: 0; }
        html { font-size: 100.1%; }

@media screen {
 
	 body { text-align:center;
	 	   background: #FFF none repeat scroll 0 0;
		   font: normal 12px Tahoma, Helvetica, Arial, sans-serif;
		   width:100%;
		  }

     p{ position: absolute;
		left: 220px;
		top: 330px;
	  }
 
	h1 { color: #003C74;
		font-size: 2.8em;
	  }
 
	.ghead {	color: #003C74;
			text-align: right;
			font-size: 1.5em;
			margin: 4px;
		   }
	.layoutTable td { vertical-align: middle; padding: 1em .5em 0em .5em;
				   }
					  
	.resultTable{ border-collapse: collapse;
				  border: 1px solid #ADCC92;
				/*margin-left:auto; margin-right:auto; */
				  float: left;
				  margin-bottom: 3em;
				  margin-right: 5em;
				  text-align:center;
				  width: 16em; 		  
				}
	.resultTable td {padding: 0em;}

	.resultTable thead tr { color: #003C74;
						 background: #FFF url(../images/header-green.gif) repeat-x 0 100%;		
					   }
	
	.resultTable tbody th, .resultTable tbody td { border-bottom:1px solid #E8EFF9;} 
	
	.innerTable{ border-collapse: collapse;
				  float: left;
				  margin-bottom: 3em;
				  margin-right: 5em;
				  text-align:center;
				  width: 16em; 		  
				}
	
	.tableData { width: 16em; 
				 height:auto; 
				 max-height: 20em;
				 overflow-y: auto; 
				 overflow-x: hidden;
				}
	
	.dateHead { font-weight: normal; 
			    padding: 0px 4px;
			  }
    .date {width: 49%;} 
	.sys {width: 24%;}
	.dia {width: 24%;}	

	.dateOther{width: 55%;}
	.unitOther{width: 44%;}
	
	.nograph{ visibility: visible;
			  display: block;
			  color: #003C74;
			  font-weight: bold;
			  width: 650px;
			  height: 50px;
			  border: 1px solid #FFF;
			}
	
	.selections { text-align: center;}
 
 	.flot-graph { float: left; 
				  margin-bottom: 3em;
				}
 
	.trHide {display: none;}
 
	hr { width:99%;
		white-space: nowrap;
		border:1px solid #677484;
		clear: both;
	   }
	   
    /* ========== Hover Formatting ========== */
     .hvr {background:#FFF; padding:0 5px; z-index:1; margin:-1px 10px 10px 5px; width:400px; line-height:2em; word-wrap:break-word;}
     .hvr.hover {position:absolute; display:none; z-index:1000; background-color:#FFC; border:1px solid #000;}
     .hvr dt {clear:left; color:#505050;}
     .hvr dt span {float:left; margin-left:5px;}
     .hvr dd {float:left; display:inline; margin:0 5px; overflow-x:hidden;}
     .hvr table {margin:3px 0;}
    /* ========== Normalcy Formatting ========== */	 
	 .res-severe, .res-severe a {color:#E50D34; font-weight:bold;}
	 .res-high {color:#FF8013; font-weight:bold;}
	 .res-low {color:#0054E7; font-weight:bold;}
	   
}
 
 
@media print {
	.resultTable { border-collapse: collapse;
				  float: none;
				  margin-left:auto; margin-right:auto;
	}
  
	.trHide {display: none;}
 
    p{ position: absolute;
	   left: 220px;
	   top: 330px;
	}
}
 
 
 /* ============== CSS RESET ============== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
    big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt,
    dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; vertical-align:baseline;}
:focus {outline:0;}
body {color:#000; background:#FFF; font:normal 13px/1.5em Tahoma, sans-serif; text-align:left; width:100%;}
ol, ul {list-style:none; text-align:left;}
table {border-collapse:separate; border-spacing:0; font:normal 13px Tahoma, sans-serif;}
caption {display:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
script {display:none;}
input {padding:0; margin:0;}

/* ========== Common Styles ========== */
a, a:active, a:link, a:hover {text-decoration:underline; cursor:pointer; color:#3380E5;}
a:visited {background:none;}
a:focus {border:1px dotted #505050;}
hr {display:none;}
table {font-size:100%; width:100%; border-collapse:collapse;}
td {font:13px/1.5em Tahoma, sans-serif; word-wrap:break-word; vertical-align:top;}
th {font:12px/1.2em Tahoma, sans-serif; word-wrap:break-word; vertical-align:bottom; text-align:left; color:#505050;}
.even {background:#F5F7FB;}
.odd {background:#FFF;}
.res-severe, .res-severe a {color:#E50D34; font-weight:bold;}
.res-high {color:#FF8013; font-weight:bold;}
.res-low {color:#0054E7; font-weight:bold;}
.res-none {display:block; padding-left:1em; zoom:1;}
.res-none-hd, .info-hd, .info dt, .det-hd {position:absolute; visibility:hidden;}
.res-low-icon { background-image:url(../Images/6303_11.gif); background-repeat:no-repeat; text-align: center; background-position:center; }
.res-high-icon { background-image:url(../Images/6302_11.gif); background-repeat:no-repeat; text-align: center; background-position:center; }
.res-severe-icon { background-image:url(../Images/5278_11.gif); background-repeat:no-repeat; text-align: center; background-position:center; }
.unit, .within, .date-time {font:normal 11px Tahoma, sans-serif; color:#505050;}
.hdr {color:#505050; font:normal 12px/1.2em Tahoma, sans-serif; background:#E8EFF9; vertical-align:bottom;}
.sub-title-disp {color:##003C74; font:normal 12px/1.2em Tahoma, sans-serif; padding-left: 4px; background:#E8EFF9; border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;}
.hidden {display:none;}
.important-icon { background:url(../Images/4015_16.gif) no-repeat center; width: 16px; height: 16px; display: inline-block; margin-right: 2px;}
/* ========== Drop Down menu =========== */
.favHidden {display:none;}
.form-menu {position:absolute; border:1px solid #000; background-color:#FFF; padding:5px; z-index:2000; right:1px; top:20px; width:75%;}
.menu-hide {display: none;}

/* ========== Section Commons ========== */
.section {position:relative; zoom:1; background:none; margin:0 0 10px 0; font:normal 13px Tahoma, sans-serif;}
.sec-hd-tgl {float:right; text-align:center; width:1em; font-size:25px; cursor:pointer; font-weight:normal;}
.sec-hd {font:normal 14px/1.3em Tahoma, sans-serif; display:block; background:url(../images/crnr-left.png) no-repeat 0 0; border-right:1px solid #ADCC92;}
.sec-hd, .sec-hd a {color:#003C74; font-weight:bold; text-decoration:none;}
.sec-hd a:hover {text-decoration:underline; cursor:pointer; color:#3380E5;}
.sec-title {display:block; padding-left:4px;}
.sec-total {color:#505050; font:normal 11px Tahoma, sans-serif; padding-left:6px; text-decoration:none;}
.sec-content {font:normal 13px/1.5em Tahoma, sans-serif; border:1px solid #ADCC92;}
.sub-sec {zoom:1;}
.closed .sec-content, .closed .sub-sec-content,.closed  .sub-title-disp {visibility:hidden; position:absolute;}
.closed .sec-hd {display:block; margin:0; border-bottom:2px ridge #E0FFFF;}
.sub-sec-hd {font:normal 12px Tahoma, sans-serif; color:#505050; background:#F3F8EE; padding-left:2px; border-top:1px solid #ADCC92; border-bottom:1px solid #ADCC92;}
.sub-sec-hd-tgl {float:right; text-align:center; width:1em; cursor:pointer; font-weight:normal;}
.add-plus {cursor:pointer;	font-weight:normal;	font-size:12px;}
.add-plus img {vertical-align:middle;}
a.add-plus {font-weight:normal; text-decoration:none; padding-left:4px;}

/* ========== Page Header ========== */
.pg-hd {padding:2px 0; margin:0 0 1px 5px; color:#003C74; border-bottom:1px solid #E7E7E7; text-align:right; line-height:1.5em; display:block; zoom:1;}
.pg-title {font-weight:bold; display:inline; font-size:16px; float:left;}
.page-ctrl {margin-right:20px; vertical-align:middle;}
#expAll, #custView, #savePrefs, #clearPrefs, #otherAnchors {padding-left:5px; padding-right:5px;}
#banner, #disclaimer {margin-left:5px;}
#disclaimer {margin-bottom:1em;font:normal 10px Tahoma, sans-serif; text-align:left; clear:left;}
		
/* ========== Column Layouts ========== */
.col-group {position:relative; clear:both; float:left; width:100%; background:#FFF}
.col-outer1, .col-outer2 {float:left; width:100%; position:relative;}
.col1, .col2,	.col3 {float:left; position:relative;	padding:0 0 3px 0; overflow-x:hidden;}
.pref-columns .col1, .pref-columns .col2, .pref-columns .col3 {float:left; position:static; padding:0 .3% 3px 0; overflow-x:hidden;}
.pref-columns .col-group { padding: 0 0 0 2%; }

/* 3 Column - Equal Widths */
.three-col .col-outer2 {right:34%;}
.three-col .col-outer1 {left:33%;}
.three-col .col1 {width:32.65%; left:1.25%;}
.three-col .col2 {width:33.65%; left:1.5%;}
.three-col .col3 {width:32.65%; left:1.75%;}

/* 2 Column - Equal Widths */
.two-col .col-outer1 {right:50%;}
.two-col .col1 {width:49.3%; left:50.5%;}
.two-col .col2 {width:49.3%; left:51%;}

/* 1 Column - Full Page */
.one-col .col1 {width:99%; left:.5%;}


/*====Drag and Drop====*/
.ui-sortable-placeholder {border:1px dotted black; visibility:visible !important; height:50px !important;}
.ui-sortable-placeholder * {visibility:hidden;}

/*==== Auto Suggest Control =====*/
div.suggestions {-moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid black; background: white; font-size:.85em;}
div.suggestions div {cursor: default; padding: 0px 3px; }
div.suggestions div.current {background-color: #3366cc; color: white; }
div.suggestions .detTxt {/*font-size:.95em;*/}
.current .detTxt {color: #EFEFEF;}
.explTxt {font-style:italic;}
.search-box {zoom:1; background-image:url(../images/magnifying-glass.gif); background-repeat:no-repeat; width:91%; padding-left:20px;font-size:.85em;}
.search-box-div {zoom:1; border-bottom: 2px solid #ADCC92; padding-bottom:2px; padding-top:2px;}
/* ========== Hover Formatting ========== */
.hvr {background:#FFF; padding:0 5px; z-index:1; margin:-1px 10px 10px 5px; width:400px; line-height:2em; word-wrap:break-word;}
.hvr.hover {position:absolute; display:none; z-index:1000; background-color:#FFC; border:1px solid #000;}
.hvr dt {clear:left; color:#505050;}
.hvr dt span {float:left; margin-left:5px;}
.hvr dd {float:left; display:inline; margin:0 5px; overflow-x:hidden;}
.hvr table {margin:3px 0;}
/*  ===Document Icon Hover === */ 
.cmp-doc {height:16px ; width: 16px; display:inline-block;}
.has-icon .cmp-doc {background-image:url(../images/3729_16.png); background-repeat:no-repeat;}
  
  

/*
 * Project: mp_activities_o1.css
 * Version 1.0.0
 * Released 10/04/2010
 * @author Randy Rogers
 */
.act-info, .act-info-hd {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.act-info dt, .act-info-hd {position:absolute; visibility:hidden;}  
.act-name {width:33%; float:left; display:inline-block; padding-right:5px;}
.act-info dt, .act-det-hd {position:absolute; visibility:hidden;}
.act-dt {width:20%; float:left; display:inline-block; padding-left:5px;}
.act-res {width:43%; float:left; display:inline-block; padding-left:5px;}
.favHidden {display:none;}
.form-menu {position:absolute; border:1px solid #000; background-color:#FFF; padding:5px; z-index:2000; right:1px; top:20px; width:75%;}
.menu-hide {display: none;}
/*
 * Project: mp_demographics_o1.css
 * Version 1.0.1-SNAPSHOT
 * Released 7/23/2010
 * @author Greg Howdeshell (GH7199)
 */
.dmg-pt-name-lbl, .dmg-sex-age-lbl {position:absolute; visibility:hidden;}
.dmg-info dt {padding-left:10px; display:inline; color:#505050;}
.dmg-info dd {display:inline;}
.dmg-pt-name {font:bold 14px Tahoma;}
.dmg-sex-age {font:12px Tahoma;padding-left:10px;}
.dmg-dob, .dmg-mrn, .dmg-fin, .dmg-rfv , .dmg-isolation {font:12px Tahoma;padding-left:2px;}
.dmg-rfv {font-weight:bold;}/*
 * Project: mp_diagnoses_o1.css
 * Version 1.1.0
 * Released 7/23/2010
 * @author Greg Howdeshell (GH7199)
 * @author Megha Rao (MR018925)
 */
.dx-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 .2em; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.dx-info-hd, .dx-info dt, .dx-det-hd {position:absolute; visibility:hidden;}
.dx-name {display:inline;}
.dx-code {display:inline; color:#505050; padding-left:.5em; font-size:.85em;}
.dx-det br {line-height:0.1em; }/*
 * Project: mp_discharge_indicator_o1.css
 * Version 1.0.1
 * Released 12/8/2010
 * @author Megha Rao (MR018925)
 */


.disch-table, .disch-table-hdr {table-layout:fixed; width:100%;}
.disch-table, .disch-table-hdr  {line-height:1.5em}
.disch-table-hdr td { font-size:12px;}
.disch-table-hdr {color:#505050;background:#F6F6F6; text-align:center;}
.disch-pointer {cursor:pointer;}
.disch-table td, .disch-table-hdr td { text-align:center; border-right:#E6E8F1 2px solid;padding-top:5px;padding-bottom:5px; border-bottom:#E6E8F1 2px solid}
.disch-tbl-rev td {text-align:center;padding-top:5px;padding-bottom:5px;}
.ind-button {cursor:pointer; padding-right:5px}/*
 * Project: mp_disch_orders_o1.css
 * Version 1.0.1
 * Released 12/8/2010
 * @author Megha Rao
 * @author Randy Rogers
 */  
.dishord-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 .2em;  border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.dishord-info dt {position:absolute; visibility:hidden;}  
.dishord-name {width:70%; float:left; display:inline-block; padding-left:.5em;}
.dishord-info-hd, .dishord-info dt, .dishord-det-hd {position:absolute; visibility:hidden;}
.dishord-date {width:25%; float:left; display:inline-block; padding-left:.5em;}/*
 * Project: mp_documents_o1.css
 * Version 1.0.0
 * Released 7/26/2010
 * @author Greg Howdeshell (GH7199)
 * @author Subash Katageri (SK018948)
 */
.doc-info, .doc-info-hdr {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding-left:2px; padding-right:2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.doc-info-hd, .doc-info dt, .doc-det-hd {position:absolute; visibility:hidden;}
.doc-info-hdr {background:#E8EFF9; font:normal 12px Tahoma; color:#505050;}
.doc-cat, .doc-cat-hd {width:36%; float:left; display:inline-block; padding-right:5px;}
.doc-cat-full, .doc-cat-full-hd {width:65%; float:left; display:inline-block; padding-right:5px;}
.doc-auth, .doc-auth-hd {width:29%; float:left; display:inline-block; padding-left:.5em; padding-right:5px;}
.doc-dt, .doc-dt-hd {width:22%; float:left; display:inline-block; padding-left:5px;}
.doc-info-hdr-scroll {margin-right:15px;}
.content-hdr {background:#E8EFF9;}
/*
 * Project: mp_follow_up_o1.css
 * Version 1.0.1
 * Released 12/13/2010
 * @author Megha Rao (MR018925)
 */
.fu-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.fu-info dt, .fu-info-hd {position:absolute; visibility:hidden;}  
.fu-name {width:33%; float:left; display:inline-block; padding-right:5px;}
.fu-info dt, .fu-det-hd {position:absolute; visibility:hidden;}
.fu-ph {width:20%; float:left; display:inline-block; padding-left:5px;}
.fu-range {width:43%; float:left; display:inline-block; padding-left:5px;}
/*
 * Project: mp_meds_rec_o1.css
 * Version 1.0.2
 * Released 12/9/2010
 * @author Megha Rao (MR018925)
 */
.medrec-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding-left:2px; padding-right:2px; border-bottom:.1em solid #E8EFF9; word-wrap:break-word;}
.medrec-info-hd, .medrec-info dt, .medrec-det-hd {position:absolute; visibility:hidden;}
.medrec-name {display:inline;}
.medrec-sig {display:inline; color:#505050; padding-left:.4em; font:normal 13px/1.5em Tahoma, sans-serif;}/*
 * Project: mp_orders_o1.css
 * Version 1.1.2
 * Released 01/05/2011
 * @author Greg Howdeshell (GH7199)
 * @author Randy Rogers (RR4690)
 * @author Megha Rao (MR018925)
 */  
.ord-info,.ord-info-hdr {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 .2em;  border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.ord-info-hd, .ord-info dt, .ord-det-hd {position:absolute; visibility:hidden;}
.ord-info-hdr {background:#E8EFF9; font:normal 11px Tahoma; color:#505050;}
.ord-name {width:58%; float:left;display:inline-block;padding-left:1%;}
.ord-status{width:18%;float:left;display:inline-block;padding-left:1%;}
.ord-date {width:18%;float:left;display:inline-block;padding-right:1%;}
.ord-nm-hd  {width:58%; float:left;display:inline-block;padding-left:1%;}
.ord-st-hd {width:18%;float:left;display:inline-block;padding-left:1%;}
.ord-dt-hd {width:18%;float:left;display:inline-block;padding-right:1%;}/*
 * Project: mp_pathology_o1.css
 * Version 2.0.0
 * Released 9/27/2010
 * @author Greg Howdeshell (GH7199)
 * @author Anantha Ramu (AR018249)
 * @author Sean Turk (ST012419)
 */  
.path-info, .path-info-hdr {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.path-info-hd, .path-info dt, .path-det-hd {position:absolute; visibility:hidden;}
.path-info-hdr {background:#E8EFF9; font:normal 12px Tahoma; color:#505050;}
.path-cat, .path-cat-hd {width:65%; float:left; display:inline-block; padding-right:5px;}
.path-auth, .path-auth-hd {display:none;}
.path-dt, .path-dt-hd {width:22%; float:left; display:inline-block; padding-left:5px;}
.path-image {display:none;}
/*
 * Project: mp_patient_family_edu_sum_o1.css
 * Version 1.0.0
 * Released 7/26/2010
 * @author Greg Howdeshell (GH7199)
 * @author Megha Rao (MR018925)
 */
.pfe-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 .2em; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.pfe-info-hd, .pfe-info dt, .pfe-det-hd {position:absolute; visibility:hidden;}
.pfe-name {width:72%; float:left; display:inline-block; padding-right:.5em;}
.pfe-date {width:23%; float:left; display:inline-block; padding-left:.5em;} /*
 * Project: mp_patinfo_o1.css
 * Version 1.1.1
 * Released 10/05/2010
 * @author Anantha Ramu (AR018249)
 */
.pt-info {zoom:1; line-height:1.5em; clear:both; overflow-x:hidden; overflow-y:auto; padding-left:1%; padding-right:1%; border-bottom:.1em solid #E8EFF9; word-wrap:break-word;}
.pt-info-hd, .pt-info dl, .pt-det-hd {position:absolute; visibility:hidden;}
.pt-label {width:45%; float:left; display:inline-block; padding-right:.5em;}
.pt-detail {width:45%; float:left; display:inline-block; padding-left:.5em;}

/*
 * Project: mp_quality_measures_o1.css
 * Version 1.0.0
 * Released 12/8/2010
 * @author Megha Rao
 */
.qm-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.qm-info-hd {position:absolute; visibility:hidden;}  
.qm-ic-name {width:94%; float:left; display:inline-block;}
.qm-cmp-name {width:88%; float:left; display:inline-block; padding-left:1%;}
.qm-cmp-icon {width:3%; float:left; display:inline-block; }
.qm-doc {width:3%; float:left; display:inline-block; padding-right:1%;}
.qm-det-hd {position:absolute; visibility:hidden;}
.qm-cbo {line-height:2.5em; padding-left:.5em;}
/*
 * Project: rcm_discharge_planning_o1.css
 * Version 1.0.0
 * Released 9/21/2010
 * @param {Criterion} criterion
 * @author Justin Rosendahl
 */
.cm-info {line-height:1.5em; clear:both; overflow-x:hidden; overflow-y:auto; padding-left:1%; padding-right:1%; border-bottom:.1em solid #E8EFF9; word-wrap:break-word;}
.cm-info dt {width:45%; float:left; display:inline; padding-right:.5em; color: #505050;}
.cm-detail {width:45%; float:left; display:inline; padding-left:.5em;}/*
 * Project: mp_results_o1.css
 * Version 1.0.0
 * Released 10/04/2010
 * @author Randy Rogers
 */
.rslt-info, .rslt-info-hd {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.rslt-info dt, .rslt-info-hd {position:absolute; visibility:hidden;}  
.rslt-icn {width:1%; float:left; display:inline-block; padding-right:.5em;}
.rslt-info dt, .rslt-det-hd {position:absolute; visibility:hidden;}
.rslt-dt {width:20%; float:left; display:inline-block; padding-left:.5em;}
.rslt-disp {width:30%; float:left; display:inline-block; padding-left:.5em;}
.rslt-lo {width:43%;float:left; color:#0054E7; font-weight:bold;padding-right:.5em;}
.rslt-hi{width:43%;float:left;  color:#FF8013; font-weight:bold;padding-right:.5em;}
.rslt-crit{width:43%;float:left;  color:#E50D34; font-weight:bold;padding-right:.5em;}
.rslt-norm{width:43%;float:left;  color:#000;padding-right:.5em;}
.hi {background-image: url(../images/6302_11.gif); background-repeat: no-repeat; background-position: center right;  width: 8px; z-index: -1; display:inline-block;}
.lo {background-image: url(../images/6303_11.gif); background-repeat: no-repeat; background-position: center right;  width: 8px; z-index: -1; display:inline-block;}
.crit {background-image: url(../images/5278_11.gif); background-repeat: no-repeat; background-position: center right;  width: 12px; z-index: -1; display:inline-block;}/*
 * Project: mp_social_o1.css
 * Version 1.0.0
 * Released 10/04/2010
 * @author Randy Rogers
 */
.soc-info, .soc-info-hd {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.soc-info dt, .soc-info-hd {position:absolute; visibility:hidden;}  
.soc-name {width:33%; float:left; display:inline-block; padding-right:.5em;}
.soc-info dt, .soc-det-hd {position:absolute; visibility:hidden;}
.soc-dt {width:20%; float:left; display:inline-block; padding-left:.5em;}
.soc-res {width:43%; float:left; display:inline-block; padding-left:.5em;}