/* ============== CSS RESET ============== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
    big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt,
    dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; vertical-align:baseline;}
:focus {outline:0;}
body {color:#000; background:#FFF; font:normal 13px/1.5em Tahoma, sans-serif; text-align:left; width:100%;}
ol, ul {list-style:none; text-align:left;}
table {border-collapse:separate; border-spacing:0; font:normal 13px Tahoma, sans-serif;}
caption {display:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
script {display:none;}
input {padding:0; margin:0;}

/* ========== Common Styles ========== */
a, a:active, a:link, a:hover {text-decoration:underline; cursor:pointer; color:#3380E5;}
a:visited {background:none;}
a:focus {border:1px dotted #505050;}
hr {display:none;}
table {font-size:100%; width:100%; border-collapse:collapse;}
td {font:13px/1.5em Tahoma, sans-serif; word-wrap:break-word; vertical-align:top;}
th {font:12px/1.2em Tahoma, sans-serif; word-wrap:break-word; vertical-align:bottom; text-align:left; color:#505050;}
.even {background:#F5F7FB;}
.odd {background:#FFF;}
.res-severe, .res-severe a {color:#E50D34; font-weight:bold;}
.res-high {color:#FF8013; font-weight:bold;}
.res-low {color:#0054E7; font-weight:bold;}
.res-none {display:block; padding-left:1em; zoom:1;}
.res-none-hd, .info-hd, .info dt, .det-hd {position:absolute; visibility:hidden;}
.res-low-icon { background-image:url(../Images/6303_11.gif); background-repeat:no-repeat; text-align: center; background-position:center; }
.res-high-icon { background-image:url(../Images/6302_11.gif); background-repeat:no-repeat; text-align: center; background-position:center; }
.res-severe-icon { background-image:url(../Images/5278_11.gif); background-repeat:no-repeat; text-align: center; background-position:center; }
.unit, .within, .date-time {font:normal 11px Tahoma, sans-serif; color:#505050;}
.hdr {color:#505050; font:normal 12px/1.2em Tahoma, sans-serif; background:#E8EFF9; vertical-align:bottom;}
.sub-title-disp {color:##003C74; font:normal 12px/1.2em Tahoma, sans-serif; padding-left: 4px; background:#E8EFF9; border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;}
.hidden {display:none;}
.important-icon { background:url(../Images/4015_16.gif) no-repeat center; width: 16px; height: 16px; display: inline-block; margin-right: 2px;}
/* ========== Drop Down menu =========== */
.favHidden {display:none;}
.form-menu {position:absolute; border:1px solid #000; background-color:#FFF; padding:5px; z-index:2000; right:1px; top:20px; width:75%;}
.menu-hide {display: none;}

/* ========== Section Commons ========== */
.section {position:relative; zoom:1; background:none; margin:0 0 10px 0; font:normal 13px Tahoma, sans-serif;}
.sec-hd-tgl {float:right; text-align:center; width:1em; font-size:25px; cursor:pointer; font-weight:normal;}
.sec-hd {font:normal 14px/1.3em Tahoma, sans-serif; display:block; background:url(../images/crnr-left.png) no-repeat 0 0; border-right:1px solid #ADCC92;}
.sec-hd, .sec-hd a {color:#003C74; font-weight:bold; text-decoration:none;}
.sec-hd a:hover {text-decoration:underline; cursor:pointer; color:#3380E5;}
.sec-title {display:block; padding-left:4px;}
.sec-total {color:#505050; font:normal 11px Tahoma, sans-serif; padding-left:6px; text-decoration:none;}
.sec-content {font:normal 13px/1.5em Tahoma, sans-serif; border:1px solid #ADCC92;}
.sub-sec {zoom:1;}
.closed .sec-content, .closed .sub-sec-content,.closed  .sub-title-disp {visibility:hidden; position:absolute;}
.closed .sec-hd {display:block; margin:0; border-bottom:2px ridge #E0FFFF;}
.sub-sec-hd {font:normal 12px Tahoma, sans-serif; color:#505050; background:#F3F8EE; padding-left:2px; border-top:1px solid #ADCC92; border-bottom:1px solid #ADCC92;}
.sub-sec-hd-tgl {float:right; text-align:center; width:1em; cursor:pointer; font-weight:normal;}
.add-plus {cursor:pointer;	font-weight:normal;	font-size:12px;}
.add-plus img {vertical-align:middle;}
a.add-plus {font-weight:normal; text-decoration:none; padding-left:4px;}

/* ========== Page Header ========== */
.pg-hd {padding:2px 0; margin:0 0 1px 5px; color:#003C74; border-bottom:1px solid #E7E7E7; text-align:right; line-height:1.5em; display:block; zoom:1;}
.pg-title {font-weight:bold; display:inline; font-size:16px; float:left;}
.page-ctrl {margin-right:20px; vertical-align:middle;}
#expAll, #custView, #savePrefs, #clearPrefs, #otherAnchors {padding-left:5px; padding-right:5px;}
#banner, #disclaimer {margin-left:5px;}
#disclaimer {margin-bottom:1em;font:normal 10px Tahoma, sans-serif; text-align:left; clear:left;}
		
/* ========== Column Layouts ========== */
.col-group {position:relative; clear:both; float:left; width:100%; background:#FFF}
.col-outer1, .col-outer2 {float:left; width:100%; position:relative;}
.col1, .col2,	.col3 {float:left; position:relative;	padding:0 0 3px 0; overflow-x:hidden;}
.pref-columns .col1, .pref-columns .col2, .pref-columns .col3 {float:left; position:static; padding:0 .3% 3px 0; overflow-x:hidden;}
.pref-columns .col-group { padding: 0 0 0 2%; }

/* 3 Column - Equal Widths */
.three-col .col-outer2 {right:34%;}
.three-col .col-outer1 {left:33%;}
.three-col .col1 {width:32.65%; left:1.25%;}
.three-col .col2 {width:33.65%; left:1.5%;}
.three-col .col3 {width:32.65%; left:1.75%;}

/* 2 Column - Equal Widths */
.two-col .col-outer1 {right:50%;}
.two-col .col1 {width:49.3%; left:50.5%;}
.two-col .col2 {width:49.3%; left:51%;}

/* 1 Column - Full Page */
.one-col .col1 {width:99%; left:.5%;}


/*====Drag and Drop====*/
.ui-sortable-placeholder {border:1px dotted black; visibility:visible !important; height:50px !important;}
.ui-sortable-placeholder * {visibility:hidden;}

/*==== Auto Suggest Control =====*/
div.suggestions {-moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid black; background: white; font-size:.85em;}
div.suggestions div {cursor: default; padding: 0px 3px; }
div.suggestions div.current {background-color: #3366cc; color: white; }
div.suggestions .detTxt {/*font-size:.95em;*/}
.current .detTxt {color: #EFEFEF;}
.explTxt {font-style:italic;}
.search-box {zoom:1; background-image:url(../images/magnifying-glass.gif); background-repeat:no-repeat; width:91%; padding-left:20px;font-size:.85em;}
.search-box-div {zoom:1; border-bottom: 2px solid #ADCC92; padding:2px 0px;}
/* ========== Hover Formatting ========== */
.hvr {background:#FFF; padding:0 5px; z-index:1; margin:-1px 10px 10px 5px; width:400px; line-height:2em; word-wrap:break-word;}
.hvr.hover {position:absolute; display:none; z-index:1000; background-color:#FFC; border:1px solid #000;}
.hvr dt {clear:left; color:#505050;}
.hvr dt span {float:left; margin-left:5px;}
.hvr dd {float:left; display:inline; margin:0 5px; overflow-x:hidden;}
.hvr table {margin:3px 0;}
/*  ===Document Icon Hover === */ 
.cmp-doc {height:16px ; width: 16px; display:inline-block;}
.has-icon .cmp-doc {background-image:url(../images/3729_16.png); background-repeat:no-repeat;}
  
  

