

body {margin-top: 0px;
	margin-right: 2px;
	margin-left: 2px;
	}

@media screen,print{
	#filter_bar {
		float: left;
		height: 62px;
		width: 100%;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		border-bottom: 2px solid #0AB8FC;
		position: absolute;
		top: 0px;
		background-color: #DCEDF7;
		background-image: url('I:\WININTEL\static_content\MPages\bc_mp_standard\images\bc_logo_small.png');
		background-repeat:no-repeat;
		background-position:right top;
	}
.empty_5px {
		width: 5px;
			}
.load_data
	{	

		color: white;
		padding: 3px;
		font-size:1.2em;
		font-weight: bold;
		background-color: #1673F5;

	};
	#search_bar {
	top: 90px;
	width: 150px;
				}
	#content_area {
		float: left;
		width: 100%;
		position: absolute;
		left: 0px;
		top: 65px;
	}
	#census_table{
		width:100%;
		position:absolute;
		left: 2px;
		right: 2px;
		top:28px;
	}
	#census_table tr.header_row_one {
		background-color:#0AB8FC;
	}
	#census_table tr.header_row_one th {
		text-align:center;
	}
	#census_table tr.header_row_two th{
		text-align:left;
		cursor:pointer;
	}
	#census_table thead tr th {
		font-size:0.8em;
		font-weight:bold;
	}
	#census_table tbody tr td {
		font-size:0.8em;
	}
	table.pt_details_table tr td{
		font-size:0.7em;
	}
	#page_x_of_y{
		position:absolute;
		right:0px;
		top:0px;
	}
	#page_navigation{
		position:absolute;
		right:0px;
		top:15px;
	}
	#expand_collaps_all{
		position:absolute;
		right:0px;
		top:30px;
		display:none;
	}
	#expand_all,#collaps_all,#previous_data,#next_data{
		text-decoration:underline;
		cursor:pointer;
	}
	#filter_bar{
		font-size:0.8em;
	}
	
	span.open_chart{
		cursor:pointer;
		color:blue;
		font-weight:bold;
	}
	#tooltip{
		position:absolute;
		z-index:3000;
		border:1px solid #111;
		background-color:#eee;
		padding:5px;
		opacity: 0.85;
		font-size:12px;
	}
	span.consulting_physician{
		text-decoration:underline;
		cursor:pointer;
	}
	#refresh_census{
		text-decoration:underline;
		cursor:pointer;
	}
	table.tablesorter thead tr .header{
		background-image:url(../images/bg.gif);
		background-repeat:no-repeat;
		background-position: center right;
	}
	table.tablesorter thead tr .headerSortUp{
		background-image: url(../images/asc.gif);
	}
	table.tablesorter thead tr .headerSortDown{
		background-image: url(../images/desc.gif);
	}
	span.nowrap{
		white-space: nowrap;
	}
}
@media print{
	font-size:1.2em;
}

.form_search { float: right; padding-right: 15px;}
.multiple_orders {padding-right: 50px; padding-left: 15px;
				font-size: 12px;
				background: url(../images/red_bullet.gif); 
							background-position:  center left;
							background-repeat: no-repeat;
				}
.multiple_orders_orange	{padding-right: 50px; padding-left: 15px;
				font-size: 12px;
				background: url(../images/orange_bullet.gif); 
	
				background-position:  center left;
				background-repeat: no-repeat;
				}		
.single_order_green	{padding-right: 50px; padding-left: 15px;
				font-size: 12px;
				background: url(../images/green-bullet.gif); 
	
				background-position:  center left;
				background-repeat: no-repeat;
				}			
.insurance {
			width: 150px;
		
			
		}
.multiple_order_insurance {
				padding-left: 3px;
				width: 10px;
}

a img {outline : none;}
img {border : 0;}



/* popup windows */
#div1, #div2, #div3 {position:absolute; top: 50; left: 20; width:400; visibility:hidden}
