
.popup_title2
	{	
		width: 600px;
		mid-width: 600px;
		color: #076E6C;
		font-weight: bold;
		border-color: black;
		backgroud: green;
		border-style: solid;
		border: 3px;
		border-bottom: 3px;
		border-top: 0px;
		border-right: 0px;
		border-left: 0px;
		padding-bottom: 5px;
		
	}
	
.item_list_custom
 {
 	font-weight: 80%;
 	border: 1px;
 	border-color: #C0C4C4;
 	border-style: solid;
 	background: #C9F2F2;
 }
 
.ul_holder
{
	border: 1px;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-style: solid;
	font-weight: bold;
}
.ul_item
	{
	
		font-weight: 90%;
	}
 .line_item_holder {display: inline;
 					width: 275px;
 	}
  .line_item_holder2 {display: inline;
 					width: 150px;
 				}
  .line_item_holder3 {display: inline;
 					width: 150px;
 					}
 .red_color { color: red;}

