table.anesthesia_lab_table tr.data_row td{
	font-size:12px;
}
span.anesthesia_lab_values, span.anesthesia_lab_dates, span.anesthesia_lab_description{
	display:none;
}
table.anesthesia_med_surg_table{
	font-size:12px;
}
tr.anesthesia_med_surg_group_0{
	font-weight:bold;
	text-align:center;
	background-color:#D8D8D8;
}
tr.anesthesia_med_surg_group_1{
	font-weight:bold;
	text-align:left;
}
tr.anesthesia_med_surg_group_2{
	font-weight:bold;
	text-align:left;
	background-color:#E0E0E0;
}
table.anesthesia_social_hx_table{
	font-size:12px;
}
table.anesthesia_problem_table{
	font-size:12px;
}
table.anesthesia_problem_table span.onset_dt_tm{
	font-size:11px;
}
table.anesthesia_vitals_table{
	font-size:12px;
}
table.anesthesia_vitals_table tr td{
	width:12.5%;
	vertical-align:top;
}
span.anesthesia_vitals_bold{
	font-weight:bold;
}
span.anesthesia_vitals_value{
	font-size:16px;
}
span.anesthesia_vitals_dt_tm{
	font-size:10px;
}
span.anesthesia_vitals_est_wt{
	font-size:10px;
	color:red;
}
span.anesthesia_vitals_act_wt{
	font-size:10px;
	color:black;
}
table.anesthesia_scip_table{
	font-size:12px;
}
table.anesthesia_scip_table tr td{
	position:relative;
}
table.anesthesia_scip_table tr td span{
	position:absolute;
	top:30%;
}
table.anesthesia_medications_table{
	font-size:12px;
}
table.anesthesia_medications_table tr.meds_group{
	background-color:#D8D8D8;
	font-weight:bold;
}
table.anesthesia_medications_table td{
	position:relative;
}
table.anesthesia_medications_table span.meds_date{
	position:absolute;
	right:3px;
	bottom:0px;
}
table.anesthesia_medications_table span.meds_tooltip{
	display:none;
}
table.anesthesia_studies_table{
	font-size:12px;
}
table.anesthesia_studies_table tr.anesthesia_studies_group{
	background-color:#D8D8D8;
	font-weight:bold;
}
table.anesthesia_procedure_table{
	font-size:12px;
}
table.anesthesia_procedure_table tr.header_row{
	background-color:#D8D8D8;
}
table.anesthesia_procedure_table tr.header_row td{
	font-weight:bold;
}
table.anesthesia_procedure_table tr td{
	vertical-align:top;
	font-size:12px;
}
table.anesthesia_demographics_table{
	font-size:12px;
}
table.anesthesia_demographics_table tr td{
	vertical-align:top;
	font-size:12px;
}
table.anesthesia_docs_table{
	font-size:12px;
}
table.anesthesia_vit_io_table table{
	font-size:12px;
}
