table.chief_complaint_table{
	font-size:0.9em;
}
table.chief_complaint_table span.highlight{
	font-weight:bold;
}
table.nursing_docs_table{
	font-size:0.8em;
}
table.nursing_docs_table tr.section_header{
	font-weight:bold;
}
table.nursing_docs_table tr.detailed_row{
	font-size:0.8em;
}
table.allergy_table {
	font-size:0.9em;
}
table.allergy_table tr.data_row td table{
	font-size:1.2em;
}
table.allergy_table tr.data_row td table tr.allergy_name td{
	font-weight:bold;
	font-size:1.1em;
}
table.orders_table{
	font-size:0.9em;
}
tr.order_group_header{
	font-weight:bold;
}
table.orders_table tr td table{
	font-size:1.2em;
}
