/* Color Definitions
 * 
 * PRIMARY
 * Blue		0D94D2*		B1D4ED*
 * Green	7BC143		CDE8B1
 * 
 * SECONDARY
 * Blue		00A8CB		B1DCEA
 * Yellow	FDB913		F9E49A
 * Orange	F58025		F5CCA7
 * 
 * TERTIARY
 * Gray		6A737B		C4C7CA
 * Purple	7C2B83		C8A8CE
 * Blue		006492*		A8C1D3
 * 
 * Millennium marked with '*'
 */

/* basics */
html,body{height:100%;overflow: hidden;}
a {display: block;width: 100%;height: 100%;cursor: pointer;color: #0D94D2;text-decoration: none;}
a:hover {text-decoration: none; color: #0D94D2;background: #F9E49A;}
.hidden{display: none;}

/* Hide XmlCclRequest Anchors */
.xmlcclrequest {display: none;}

/* menu */
table.mpage-menu{width:100%;border-style:solid;border-top:thin #e7e7e7;}
table.mpage-menu td{padding:0 0.5em;margin:0;vertical-align:middle;height:auto;text-align: left;}
.mpage-title{font-weight:bold;color:#003C74;display:inline;font-size:15px;float:left; margin-left: 0.5em;}
.mpage-menu td label,button,img{display:inline;padding: 0;}
.mpage-menu td label{font-size:12px;font-family:Tahoma;color:#000;margin:0 4px 0 4px;}
.mpage-menu td select{font-size:12px;font-family:Tahoma;color:#000;}
.mpage-menu td button{margin:0 4px 0 4px;font-size:12px;font-family:Arial;color:#000;}
.mpage-menu .loader-message{vertical-align:middle;}
.mpage-menu .loader-message .loader-text{float:left;margin-bottom: 0.2em;padding-bottom: 0;}
.horizontal-line{color:#E7E7E7;background-color:#E7E7E7;height:1px;border:none;}
#nuLink{cursor: pointer;text-decoration:underline;color:#3380e5;}
#nuLink:hover{color:blue;}
#ptpopMessage{font-weight:bold;font-size:12px;font-family:Tahoma;color:#000;}

/* patient-dashboard */
div.patient-dashboard-wrap{position:relative;overflow:scroll;width:99%;height:90%;}

table.patient-dashboard tbody{/*height:auto;*/border:3px solid #0D94D2;border-radius: 1px;}
table.patient-dashboard thead{font:1.2em;color:#FFFFFF;}
table.patient-dashboard th,td{ padding: 4px 5px 4px 5px; font-size: 12px;}
table.patient-dashboard th{background-color:#0D94D2;text-align:center;padding:0.25em 0.25em;white-space:nowrap;}
table.patient-dashboard td{text-align:center;border-bottom: 1px solid #B1DCEA;}
table.patient-dashboard .sort-icon{height:9px;width:21px;}

/* dashboard header */
.patient-dashboard-header .sort-icon:hover{cursor: pointer;}
.patient-dashboard-header .select-header{cursor:pointer;}
.patient-dashboard-header .header-text{margin-top :-1px;}

/* FIXED position td and th on table scroll*/
.patient-dashboard-header th{background-color:#0D94D2;z-index:30;position:relative;TOP: expression(this.offsetParent.scrollTop-0);}
.patient-location,.patient-image,.patient-basic-info,.patient-risk,.multi-select{border-right: 1px solid #CCC; background:#FFF;z-index:25;position:relative;left:expression(this.offsetParent.scrollLeft-0);}
.patient-dashboard-header .fixed-header{z-index:35;position: relative;left:expression(this.offsetParent.scrollLeft-0);}
.new-patient,.remaining-patient {z-index:25;position:relative;left:expression(this.offsetParent.scrollLeft-2);}

/* multi select view */
.multi-select{min-width:75px;width:75px;border-left:2px solid #0D94D2;}
.multi-select-wraper{cursor: pointer; width: 96px;height: 36px;}
.multi-select-wraper.selected{background:#FFF url('../img/selected.png') no-repeat;}

/* Additional styles for Hovering on multi select view*/
.multi-select:hover a{text-decoration: none; display: block;color: #A0A0A0;}
.multi-select:hover .multi-select-wraper{background:#FFF url('../img/selectedHover.png') no-repeat;}
.multi-select:hover .multi-select-wraper.selected{background:#FFF url('../img/selected.png') no-repeat;}
.multi-select:hover .multi-select-wraper.off-unit{background:#FFF; cursor: auto;}

/*Style to be applied when hovering select-header*/
.multi-select-wraper.hover {background:#FFF url('../img/selectedHover.png') no-repeat center;}

/*remove hyperlink multi select view*/
.patient-remove a{cursor: pointer;position: absolute;width: 100%;height: 20px;bottom: 0;left: 0;display: none;}
.patient-remove:hover a{color: #0D94D2;background: #F9E49A; display: block;}

/* location and img view */
.patient-image{width:150px;min-width:150px;}
.patient-image img{margin-top:.1em;/*height:110px;width:110px;*/}
.patient-image .location{vertical-align:bottom;margin-top:.5em;width: 150px;text-align: left;}
.location .field{font-weight:bold;}

/* basic info view */
.patient-basic-info .patient-info-wrap{white-space: normal;min-width:250px;width:250px;}
.patient-basic-info{width:250px;min-width:250px;}
.patient-basic-info p,.name{text-align:left;}
.patient-basic-info .name{white-space:normal;}
.patient-basic-info .field{font-weight:bold;}

/* risk view */
.patient-risk .patient-risk-wrap{white-space: normal;min-width:150px;width:150px;}
.patient-risk{width:150px;min-width:150px;border-right:2px solid #0D94D2;}
.patient-risk p,.name{text-align:center;}
.patient-risk .name{white-space:normal;}
.patient-risk .field{font-weight:bold;}

/* add new patient */
.new-patient {width:100px;height:auto;}

/* load more patient */
.remaining-patient {width:150px;height:auto;}

/* activity view*/
.activity-view{min-width:125px;border-right:1px solid #B1DCEA;font-weight:bold;}
.activity-view-wrap{width:125px;min-width:125px;}
.activity-text{text-align: center;font-weight:bold; word-wrap:break-word;}
.active-activity-view{cursor:pointer;}
.active-activity-view:hover{background-color:#B1D4ED;}
.inerror-status{background:#FFF url('../img/stripes.png') left top;}
.inerror-status .activity-text{color:#6A737B;}
.draft-status{background-color: #CDE8B1;}
.saved-status{background-color:#7BC143;}
.offunit-status{background-color:#c6c2c2;}
.saved-status .activity-text{color:#FFF;}
.activity-view-new{min-width:125px;border-right:1px solid #B1DCEA;font-weight:bold;}
.activity-view-new{cursor:pointer;}
.activity-view-new:hover{background-color:#B1D4ED;}
.activity-view-wrap-new{width:125px;min-width:125px;}



table.patient-dashboard .patient-dashboard-footer td{text-align:center;border-bottom:none;position: fixed;}
.patient-dashboard-footer td button{margin:0 4px 0 4px;font-size:12px;font-family:Arial;color:#000;display:inline;padding: 0;font-style: normal;}


/* activity dialog view */
.activity-dialog-view ul{list-style-type:none;}
.activity-dialog-view .activity-action{text-align:left;font-weight:bold;}
.activity-dialog-view li{font-size:100%;}
.activity-dialog-view li:hover,.activity-dialog-hover,.last-activity-choice:hover,.unchart-activity:hover,.unchart-event:hover, .activity-choice-hover{background-color:#B1D4ED;cursor:pointer;}
.activity-freetext-button{margin-bottom:0.15em; position:relative;font-size:90%;}
.activity-date{vertical-align: middle; text-align:center;white-space:nowrap;}
.activity-dialog-view .selection{height:200px;width: 100%; background-color: #eeeeee; border: none;}
.main-content{height:100%;width:100%;overflow: hidden;}
.maxImageSize{max-height:65px;max-width:65px;}

/*nurse unit view*/
.WLText{vertical-align: top; float:left;}

/*new patient dialog view*/
.newptient-dialog-view .selection{width: 100%; background-color: #eeeeee; border: none;font-family: Courier New;}
.loadmore{margin:10px 4px 10px 4px;font-size:12px;font-family:Arial;color:#000;display:inline;padding: 0;font-style: normal;}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
 /* .patient-dashboard-footer { display:table;margin:20px; width:100%;}   */

/* .patient-dashboard-footer{ */
	/* padding-top:30px; */
	/* padding-bottom:20px; */
 /* } */
