.dmg-pt-name-lbl,.dmg-sex-age-lbl{position:absolute;visibility:hidden;}
.dmg-info dt{padding-left:10px;display:inline;color:#505050;}
.dmg-info dd{display:inline;}
.dmg-pt-name{font:bold 14px Tahoma;}
.dmg-sex-age{font:12px Tahoma;padding-left:10px;}
.dmg-dob,.dmg-mrn,.dmg-fin,.dmg-rfv,.dmg-isolation{font:12px Tahoma;padding-left:2px;}
.dmg-rfv{font-weight:bold;}.dishord-info{line-height:1.5em;clear:both;zoom:1;overflow-x:hidden;overflow-y:auto;padding:0 .2em;border-bottom:1px solid #E8EFF9;word-wrap:break-word;}
.dishord-info dt{position:absolute;visibility:hidden;}
.dishord-name{width:70%;float:left;display:inline-block;padding-left:.5em;}
.dishord-info-hd,.dishord-info dt,.dishord-det-hd{position:absolute;visibility:hidden;}
.dishord-date{width:25%;float:left;display:inline-block;padding-left:.5em;}.doc-info,.doc-info-hdr{clear:both;zoom:1;overflow-x:hidden;overflow-y:auto;padding:0 1%;word-wrap:break-word;}
.doc-info{border-bottom:1px solid #EDEDED;}
.doc-info dt{display:none;}
.doc-cat,.doc-cat-hd{width:36%;float:left;display:inline-block;margin-right:1%;}
.doc-cat{overflow-y:hidden;}
.doc-auth,.doc-auth-hd{width:31%;float:left;display:inline-block;margin-right:1%;}
.doc-dt,.doc-dt-hd{width:22%;float:left;display:inline-block;margin-left:1%;}
.doc-image{width:5%;float:left;display:inline-block;margin-right:1%;}
a.doc-image-found{width:16px;height:16px;display:inline-block;background-image:url(../Images/4988.gif);text-decoration:none;}.pt-info{zoom:1;clear:both;overflow:hidden;padding:0 1%;border-bottom:1px solid #EDEDED;word-wrap:break-word;}
.pt-info a:link{text-decoration:none;color:#000;}
.pt-info a:active,.pt-info a:hover{text-decoration:underline;}
.pt-label{width:48%;float:left;display:inline-block;margin-right:1%;}
.pt-detail{width:48%;float:left;display:inline-block;margin-left:1%;}.rcm-dcp-info{line-height:1.5em;clear:both;overflow-x:hidden;overflow-y:auto;padding-right:1%;border-bottom:.1em solid #E8EFF9;word-wrap:break-word;}
.rcm-dcp-info dt{width:40%;background:#F6F6F6;font-size:12px;float:left;display:inline;margin-left:1px;padding-left:0;padding-right:.5em;color:#505050;margin-right:3px;text-align:right;}
.rcm-dcp-detail{width:55%;float:left;display:inline;padding-left:.5em;}.ins-list{position:relative;zoom:1;}
.ins-table{background:#FFF;table-layout:fixed;width:auto;}
.ins-table caption{visibility:hidden;height:1px;overflow:hidden;line-height:1px;}
.ins-table td{font:normal 13px/1.5em Tahoma;word-wrap:break-word;}
.ins-table th{font:normal 13px/1.5em Tahoma;color:#505050;word-wrap:break-word;}
#edVisit{position:absolute;left:55%;top:15%;display:none;background:#FFC;border:1px solid #E5EEFC;padding:5px;z-index:5000;width:auto;}
#complaint{position:absolute;left:50%;top:15%;display:none;background:#FFC;border:1px solid #E5EEFC;padding:5px;z-index:5000;width:auto;}
#edVisit dt.ins-det-type,#complaint dt.ins-det-type{display:block;width:auto;color:#505050;}
#hvrInfo{text-align:left;}
;.ins-table .ins-full-code{font:bold 13px/1.5em Tahoma;color:#E51334;text-align:left;}
.ins-table .result{display:inline;}
.ins-table dd.result{display:inline;}
.ins-table .ins-result{font:13px Tahoma;color:#000;width:54%;}
.ins-label{width:40%;color:#666;background:#F6F6F6;margin-right:3px;text-align:right;vertical-align:top;}
.ins-value{width:60%;padding-left:10px;margin-left:5px;text-align:left;}
.ins-table dt{visibility:hidden;position:absolute;}
.ins-pe-table .ins-pe-result{font:13px Tahoma;color:#000;width:30%;}
.ins-pe-label{color:#505050;text-align:left;padding-left:2px;width:30%;}
.ins-pe-det-hd{visibility:hidden;position:absolute;}
.ins-pe-table dt{visibility:hidden;position:absolute;}
.ii-tableSecHead{color:#505050;text-align:left;padding-left:2px;width:45%;background:#F3F8EE;}
.ins-modify-dialog{display:none;position:absolute;z-index:1;height:auto;width:auto;font-size:14px;padding-right:4px;padding-left:4px;padding-top:3px;padding-bottom:3px;border:solid 3px #3797FE;background-color:white;width:230px;height:165px;}
.ins-error-dialog{padding:5px;color:black;border:1px black solid;height:160px;width:350px;background-color:white;position:absolute;top:50%;left:50%;display:none;z-index:2;}
.ins-modify-dialog-buttons input{width:75px;font-size:13px;float:right;}
.ins-modify-dialog-buttons{clear:both;}
.ins-error-dialog input{width:90px;font-size:16px;height:30px;}
.ins-modify-dialog input{margin:4px;}
.error-dialog-message-area{margin:5px;height:100px;font-size:15px;}
.error-buttons{float:right;}
.error-title-bar{background-image:url(../images/H2_header_center.png);font-weight:bold;font-size:12px;color:#3E3E3E;height:15%;width:100%;}
.centerField{padding-top:40px;}
.ins-hvr{background:#FFF;padding:0 5px;z-index:1;margin:-1px 10px 10px 5px;width:400px;line-height:2em;word-wrap:break-word;}
.ins-hvr.hover{position:absolute;display:none;z-index:1000;background-color:#FFC;border:1px solid #000;}
.ins-hvr dt{clear:left;color:#505050;}
.ins-hvr dt span{float:left;margin-left:5px;}
.ins-info{line-height:1.5em;clear:both;zoom:1;overflow-x:hidden;overflow-y:auto;padding:0 .2em;border-bottom:1px solid #E8EFF9;word-wrap:break-word;}
.ins-info-hd,.ins-det-hd{visibility:hidden;position:absolute;}.vis-info{line-height:1.2em;clear:both;height:100%;min-height:100%;overflow-x:hidden;overflow-y:auto;padding-left:.2em;padding-right:.2em;border-bottom:.1em solid #E8EFF9;word-wrap:break-word;}
.vis-info-hd,.al-info dt,.al-det-hd{position:absolute;visibility:hidden;}
.vis-name{width:47%;float:left;display:inline-block;padding-right:.5em;}
.vis-reac{width:47%;float:left;display:inline-block;padding-left:.5em;}
.vis-list{position:relative;zoom:1;}
.vis-table{background:#FFF;table-layout:fixed;width:auto;}
.vis-table cavision{visibility:hidden;height:1px;overflow:hidden;line-height:1px;}
.vis-table td{font:normal 13px/1.5em Tahoma;word-wrap:break-word;}
.vis-table th{font:normal 13px/1.5em Tahoma;color:#505050;word-wrap:break-word;}
#edVisit{position:absolute;left:55%;top:15%;display:none;background:#FFC;border:1px solid #E5EEFC;padding:5px;z-index:5000;width:auto;}
#complaint{position:absolute;left:50%;top:15%;display:none;background:#FFC;border:1px solid #E5EEFC;padding:5px;z-index:5000;width:auto;}
#edVisit dt.vis-det-type,#complaint dt.vis-det-type{display:block;width:auto;color:#505050;}
.vis-table .vis-full-code{font:bold 13px/1.5em Tahoma;color:#E51334;text-align:left;}
.vis-table .result{display:inline;}
.vis-table dd.result{display:inline;}
.vis-table .vis-result{font:13px Tahoma;color:#000;width:54%;}
.vis-label{width:40%;color:#666;background:#F6F6F6;margin-right:3px;text-align:right;vertical-align:top;}
.vis-message{color:#505050;text-align:left;padding-left:2px;vertical-align:top;}
.vis-value{width:60%;padding-left:10px;margin-left:5px;text-align:left;}
.vis-table dt{visibility:hidden;position:absolute;}
.vis-pe-table dd.result{display:inline;}
.vis-pe-result{float:left;font:13px Tahoma;color:#000;width:33%;background:inherit;}
.vis-pe-header-parent{width:100%;background:#E8EFF9;margin:0;padding:0;}
.vis-pe-header{float:left;color:#505050;font:normal 11px Tahoma;text-align:left;width:33%;white-space:nowrap;}
.vis-pe-det-hd{visibility:hidden;position:absolute;}
.vis-pe-table dt{visibility:hidden;position:absolute;}
.ii-tableSecHead{color:#505050;text-align:left;padding-left:2px;width:45%;background:#F3F8EE;}
.vis-info{line-height:1.5em;clear:both;zoom:1;overflow-x:hidden;overflow-y:auto;padding:0 .2em;border-bottom:1px solid #E8EFF9;word-wrap:break-word;}
.vis-det br{line-height:.1em;}
.vis-info-hd,.vis-det-hd{visibility:hidden;position:absolute;}
.vis-secured{color:#C00;}.totals_hd{color:#19b1d0;font-size:15px;font-weight:bold;padding-bottom:2px;padding-left:25px;padding-top:1px;}
.total_td{height:35px;}
.exclusion_hd{color:#c00;text-align:center;padding-bottom:2px;}
.obs_total_digits{font-size:32px;color:#505050;margin:2.3%;}
.obs_total_text{font-size:18px;color:#9f9f9f;}
.total_digits{font-size:18px;color:#505050;padding-right:5px;}
.total_text{font-size:11px;color:#a0a0a0;}
.text_left{text-align:left;}
.first_row_hd{text-align:center;padding-bottom:2px;}
.orderName{color:#337FE5;font-size:12px;cursor:pointer;}
.orderP{color:#7A7A7A;font-size:12px;}
.dt_time{color:#505050;font-size:12px;}
.action_btn{background-image:url(../images/buttonGradient.png);height:30px;width:40px;}
.text_right{text-align:right;}
.date_td{color:#1AB1D0;font-size:15px;background-color:#E4EDF0;}
.border-ln{float:right;display:inline-block;height:30px;border-right:solid 1px #e1e3e5;margin-top:5px;}
.duration_digit{color:#9F9F9F;font-size:12px;}
.duration_text{color:#9F9F9F;font-size:9px;}
input{margin-bottom:8px;}
td{width:17%;}
th{width:17%;}
.clearBoth{clear:both;}
.newPad{margin-top:0;}
.movingDiv{background-color:white;position:absolute;z-index:94;}
.exclusionImg{height:10px;width:100%;float:left;background-image:url(../images/exclusionStatus-hor.png);background-repeat:repeat-x;margin-bottom:-5px;margin-top:10px;}
.grey_td{background-color:#f6f6f6;}
.row_padding{margin-top:5px;margin-bottom:5px;}
.top-row{background-color:#E4EDF0;}
.action_icon{width:100px;float:right;margin-right:10px;}
.td_time{color:#000;font-size:12px;}
.exclusionRow{background-image:url(../images/exclusionStatus.png);background-repeat:repeat-y;}
.obsRow{background-image:url(../images/observationStatus.png);background-repeat:repeat-y;}
.outRow{background-image:url(../images/outpatientStatus.png);background-repeat:repeat-y;}
.inRow{background-image:url(../images/inpatientStatus.png);background-repeat:repeat-y;}
.trans-start{float:right;margin-right:10%;}
table{font-family:Tahoma;text-align:center;}
.noEventRow{height:100%;width:100%;}
.noObsHead{font-size:15px;text-align:center;padding-top:15px;padding-bottom:20px;}
.border_right{float:right;border-right:solid 1px #e1e3e5;height:20px;margin-top:2px;}
.border_left{float:right;border-right:solid 1px #FFF;height:20px;margin-top:2px;}
.border_bottom{border-bottom:solid 1px #979DA3;}
.heightSet{height:0;padding-bottom:25px;padding-top:15px;float:right;}
.heightSetB{height:0;padding-top:20px;padding-bottom:25px;float:right;text-align:center;margin-right:5.3%;}
.heightSetC{height:0;padding-top:2px;float:right;text-align:center;margin-right:1%;}
.heightSetD{height:0;padding-top:2px;float:right;text-align:center;margin-right:5.3%;}
.detail_td{padding-left:10px;}
.topBorder{border-top:solid 1px #F0F1F2;}
.notOpaque{filter:alpha(opacity=100);opacity:1;}
.filterCheckBox{margin-left:25px;}
.add_dropDown{position:absolute;display:none;z-index:10;font-size:14px;border:solid 1px #ABADB3;background-color:white;width:150px;margin-left:20px;}
.addHoc{width:450px;height:278px;border:solid 1px #707070;padding-top:5px;font-size:12px;display:none;z-index:99;position:fixed;background-color:white;left:36%;top:30%;filter:alpha(opacity=100);opacity:1;}
.addHoc_header{padding-left:20px;font-size:12px;font-weight:bold;color:#3E3E3E;}
.addHocseparator{clear:both;float:left;height:1px;border-top:1px solid #525252;width:100%;}
.order_desc{padding-left:5px;width:85%;}
.transdiv{filter:alpha(opacity=40);opacity:.4;background-color:#A0A0A0;position:fixed;top:0;left:0;bottom:0;right:0;z-index:98;display:none;margin:0;padding:0;}
#addhoc_startDate{padding-left:20px;width:70px;}
#addhoc_endDate{padding-left:20px;width:70px;}
#addHoc_duration{padding-left:20px;padding-top:46px;}
#orderDesc{padding-left:5px;overflow:auto;margin-left:20px;}
#orderLabel{padding-left:20px;}
#exclusion_btn{height:30px;margin-left:20px;}
.marginRight{margin-right:10px;}
.leftButtonPadding{margin-left:220px;}
.paddingDiv{padding-left:20px;padding-top:10px;}
.addhocTime{padding-left:7px;width:80px;}
.filterCheckText{font-size:14px;}
.inactive{font-style:italic;}
.inactive_row{background-image:url(../images/inactiveStatus.png);background-repeat:repeat-y;}
.vert_align{height:30px;vertical-align:text-bottom;float:left;padding-top:5px;}
.obs_filter{background-image:url(../images/buttonGradient.png);width:200px;height:30px;}
.addhoc_btn{float:left;margin-right:10px;width:100px;}
.btn_div{background-color:#f6f6f6;height:40px;width:100%;padding-top:15px;border-top:solid 1px #ABADB3;margin-top:6px;}
.dropDown{display:none;position:absolute;z-index:20;font-size:14px;border:solid 1px #ABADB3;background-color:white;width:100px;}
.dropDownLabel{width:92px;padding-right:4px;padding-left:4px;padding-top:3px;padding-bottom:3px;z-index:20;}
.dropDownLabel1{width:92px;padding-right:4px;padding-left:4px;padding-top:3px;padding-bottom:3px;z-index:20;}
.btn_img{padding-left:30px;}
.float_left{float:left;padding-bottom:10px;}
.confirmDialog{color:black;border:1px black solid;height:160px;width:350px;background-color:white;position:fixed;top:31%;left:36%;display:none;z-index:99;}
.confirmDialog input{width:90px;font-size:16px;height:30px;}
.confirmation_message_area{margin:5px;height:85px;font-size:15px;padding-top:10px;}
.confirmation_title_bar{padding-left:6px;background-image:url(../images/H2_header_center.png);font-weight:bold;font-size:12px;height:13%;width:344px;}
.confirm-button{float:left;margin-right:10px;width:100px;}
.confirm-button-left{margin-left:70px;float:left;margin-right:20px;width:100px;}
.pm_obs_errorDialog{color:black;border:1px black solid;height:160px;width:350px;background-color:white;position:absolute;top:31%;left:36%;display:none;z-index:8;}
.pm_obs_errorDialog input{width:90px;font-size:16px;height:30px;}
.pm_obs_error_message_area{margin:5px;height:90px;font-size:15px;}
#pm_obs_error-button{float:right;margin-right:7px;margin-bottom:7px;}
.pm_obs_error_title_bar{padding-left:5px;background-image:url(../images/H2_header_center.png);font-weight:bold;font-size:12px;color:#3E3E3E;height:13%;width:345px;}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;vertical-align:baseline;}
:focus{outline:0;}
body{color:#000;background:#FFF;font:normal 13px/1.5em Tahoma,sans-serif;text-align:left;width:100%;}
ol,ul{list-style:none;text-align:left;}
table{border-collapse:separate;border-spacing:0;font:normal 13px Tahoma,sans-serif;}
caption{display:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
script{display:none;}
input{padding:0;margin:0;}
a,a:active,a:link,a:hover{text-decoration:underline;cursor:pointer;color:#3380E5;}
a:visited{background:none;}
a:focus{border:1px dotted #505050;}
hr{display:none;}
table{font-size:100%;width:100%;border-collapse:collapse;}
td{font:13px/1.5em Tahoma,sans-serif;word-wrap:break-word;vertical-align:top;}
th{font:12px/1.2em Tahoma,sans-serif;word-wrap:break-word;vertical-align:bottom;text-align:left;color:#505050;}
.even{background:#F5F7FB;}
.odd{background:#FFF;}
.res-normal a{color:#000;}
.res-severe,.res-severe a{color:#E50D34;font-weight:bold;}
.res-high,.res-high a{color:#FF8013;}
.res-low,.res-low a{color:#0054E7;}
.res-abnormal,.res-abnormal a{color:#976823;}
.hvr .res-high,.hvr .res-low,.hvr .res-abnormal{font-weight:bold;}
.res-modified{background:url(../Images/0594_11.gif) no-repeat center;display:inline-block;width:11px;height:11px;padding-left:2px;}
.res-low .res-ind{background:url(../Images/6303_11.gif) no-repeat center;display:inline-block;width:11px;height:11px;}
.res-high .res-ind{background:url(../Images/6302_11.gif) no-repeat center;display:inline-block;width:11px;height:11px;}
.res-severe .res-ind{background:url(../Images/5278_11.gif) no-repeat center;display:inline-block;width:11px;height:11px;}
.res-abnormal .res-ind{background:url(../Images/AbnormalIcon_11.gif) no-repeat center;display:inline-block;width:11px;height:11px;}
.res-high>.res-ind,.res-low>.res-ind,.res-abnormal>.res-ind,.res-severe>.res-ind{margin:5px .3em 4px 0;}
.res-normal .res-ind{display:none;}
.res-none{display:block;padding-left:1em;zoom:1;}
.res-none-hd,.info-hd,.det-hd{display:none;}
.res-low-icon{background-image:url(../Images/6303_11.gif);background-repeat:no-repeat;text-align:center;background-position:center;}
.res-high-icon{background-image:url(../Images/6302_11.gif);background-repeat:no-repeat;text-align:center;background-position:center;}
.res-severe-icon{background-image:url(../Images/5278_11.gif);background-repeat:no-repeat;text-align:center;background-position:center;}
.unit,.within{font-size:11px;color:#505050;}
.date-time{color:#666;}
.code{font-size:9px;color:#999;}
.row-label{color:#666;}
.detail-line{color:#7C7C7C;}
.hdr{color:#505050;font-size:12px;line-height:1.3em;background:#E8EFF9;vertical-align:bottom;}
.content-hdr{background:#E8EFF9;}
.hdr-scroll{margin-right:15px;}
.sub-title-disp{color:#666;font:normal 12px/1.2em Tahoma,sans-serif;padding-left:4px;background:#E8EFF9;border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;}
.hidden{display:none;}
.important-icon{background:url(../Images/4015_16.gif) no-repeat center;width:16px;height:16px;display:inline-block;margin-right:2px;}
.favHidden{display:none;}
.form-menu{position:absolute;border:1px solid #000;background-color:#FFF;padding:5px;z-index:2000;right:1px;top:20px;width:75%;}
.menu-hide{display:none;}
.section{position:relative;zoom:1;background:none;margin:0 0 10px 0;font:normal 13px Tahoma,sans-serif;}
.sec-hd-tgl{float:right;text-align:center;width:1em;font-size:25px;cursor:pointer;font-weight:normal;}
.sec-hd{font:normal 14px/1.3em Tahoma,sans-serif;display:block;background:url(../images/crnr-left.png) no-repeat 0 0;border-right:1px solid #ADCC92;}
.sec-hd,.sec-hd a{color:#003C74;font-weight:bold;text-decoration:none;}
.sec-hd a:hover{text-decoration:underline;cursor:pointer;color:#3380E5;}
.sec-title{display:inline-block;padding-left:4px;}
.sec-total{color:#505050;font:normal 11px Tahoma,sans-serif;padding-left:6px;text-decoration:none;}
.sec-content{font:normal 13px/1.5em Tahoma,sans-serif;border:1px solid #ADCC92;}
.sub-sec{zoom:1;}
.closed .sec-content,.closed .sub-sec-content,.closed .sub-title-disp{visibility:hidden;position:absolute;}
.closed .sec-hd{display:block;margin:0;border-bottom:2px ridge #E0FFFF;}
.sub-sec-hd{font:normal 12px Tahoma,sans-serif;color:#505050;background:#F3F8EE;padding-left:2px;border-top:1px solid #ADCC92;border-bottom:1px solid #ADCC92;}
.sub-sec-hd-tgl{float:right;text-align:center;width:1em;cursor:pointer;font-weight:normal;}
.add-plus{cursor:pointer;font-weight:normal;font-size:12px;display:inline;}
.add-plus img{vertical-align:middle;}
a.add-plus{font-weight:normal;text-decoration:none;padding-left:4px;}
.add-icon{background:url(../Images/3941.gif) no-repeat center;width:16px;height:16px;display:inline-block;margin-right:2px;}
.pg-hd{padding:2px 0;margin:0 0 1px 5px;color:#003C74;border-bottom:1px solid #E7E7E7;text-align:right;line-height:1.5em;display:block;zoom:1;}
.pg-title{font-weight:bold;display:inline;font-size:16px;float:left;}
.page-ctrl{margin-right:20px;vertical-align:middle;}
#expAll,#custView,#savePrefs,#clearPrefs,#otherAnchors{padding-left:5px;padding-right:5px;}
#banner,#disclaimer{margin-left:5px;}
#disclaimer{margin-bottom:1em;font:normal 10px Tahoma,sans-serif;text-align:left;clear:left;}
.col-group{position:relative;clear:both;float:left;width:100%;background:#FFF;}
.col-outer1,.col-outer2{float:left;width:100%;position:relative;}
.col1,.col2,.col3{float:left;position:relative;padding:0 0 3px 0;overflow-x:hidden;}
.pref-columns .col1,.pref-columns .col2,.pref-columns .col3{float:left;position:static;padding:0 .3% 3px 0;overflow-x:hidden;}
.pref-columns .col-group{padding:0 0 0 2%;}
.three-col .col-outer2{right:34%;}
.three-col .col-outer1{left:33%;}
.three-col .col1{width:32.65%;left:1.25%;}
.three-col .col2{width:33.65%;left:1.5%;}
.three-col .col3{width:32.65%;left:1.75%;}
.two-col .col-outer1{right:50%;}
.two-col .col1{width:49.3%;left:50.5%;}
.two-col .col2{width:49.3%;left:51%;}
.one-col .col1{width:99%;left:.5%;}
.ui-sortable-placeholder{border:1px dotted black;visibility:visible!important;height:50px!important;}
.ui-sortable-placeholder *{visibility:hidden;}
div.suggestions{-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid black;background:white;font-size:.85em;}
div.suggestions div{cursor:default;padding:0 3px;}
div.suggestions div.current{background-color:#36c;color:white;}
.highlight{font-weight:bold;}
.current .det-txt{color:#EFEFEF;}
.det-txt{color:#666;font-size:7pt;font-weight:normal;padding-left:5px;}
.explTxt{font-style:italic;}
.search-box{zoom:1;background-image:url(../images/magnifying-glass.gif);background-repeat:no-repeat;width:91%;padding-left:20px;font-size:.85em;}
.search-box-div{zoom:1;border-bottom:2px solid #ADCC92;padding:2px 0;}
.hvr{background:#FFF;padding:0 5px;z-index:1;margin:-1px 10px 10px 5px;width:400px;line-height:2em;word-wrap:break-word;}
.hvr.hover{position:absolute;display:none;z-index:1000;background-color:#FFC;border:1px solid #000;}
.hvr dt{clear:left;color:#505050;}
.hvr dt span{float:left;margin-left:5px;}
.hvr dd{float:left;display:inline;margin:0 5px;overflow-x:hidden;}
.hvr table{margin:3px 0;}
.cmp-doc{height:16px;width:16px;display:inline-block;}
.has-icon .cmp-doc{background-image:url(../images/3729_16.png);background-repeat:no-repeat;}div.suggestions{-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid black;background:white;font-size:.85em;}
div.suggestions div{cursor:default;padding:0 3px;}
.suggestions{z-index:9999999;}
div.suggestions div.current{background-color:#36c;color:white;position:relative;}
div.detailsToolTip{position:absolute;background-color:#ffc;border:solid 1px #666;font:10px/12px Arial,Helvetica,sans-serif;width:270px;padding:1px;z-index:100;visibility:hidden;color:#333;float:right;layer-background-color:#ffc;}
input.searchText{background-image:url(../images/6428_16.png);background-repeat:no-repeat;padding-left:20px;}
input.required-search-field{background-color:#FFFCE1;}.rcm-drop-menu-hover{color:#FFF;background:#00F;cursor:pointer;}
.rcm-drop-menu{position:absolute;border:1px solid #000;background-color:#FFF;padding:5px;z-index:2000;right:1px;top:20px;width:200px;}
.rcm-drop-menu-img{float:right;}