

/*  Behavioral Health Episode of Care */
.bh_eoc_section_label{
    color: #3E3E3E;
    font-size: 12px;
    font-weight: bold;
    margin-right: 1%;
    text-indent: 5px;
}

.bh_eoc_column_headers{
    color: #3E3E3E;
    font-size: 10px;
    background-color: #F6F6F6;
    margin-right: 1%;
    text-indent: 5px;
}

.bh_eoc_row{
    color: #3E3E3E;
    font_size: 10px;
    text-indent: 5px;
}

.eoc_agency_col {
    width: 5%;
    vertical-align: middle;
/*     border-right-style: dashed;
    border-width: 1px; */
}

.eoc_program_col {
    width: 15%;
    vertical-align: middle;
/*     border-right-style: dashed;
    border-width: 1px; */
}

.eoc_author_col {
    width: 20%;
    vertical-align: middle;
/*    border-right-style: dashed;
     border-width: 1px; */
}

.eoc_admit_col {
    vertical-align: middle;
/*     border-right-style: dashed;
    border-width: 1px; */
}

.eoc_discharge_col {
    vertical-align: middle;
/*     border-right-style: dashed;
    border-width: 1px; */
}

