/** Ambulatory Device Custom Component CSS Portion **/
.mpage-tooltip .result-details{ background-color:transparent;word-break: break-all;}
.mpage-tooltip .result-details dt span{float:left;color:#505050;}
.mpage-tooltip{position:absolute;top:0;left:0;background-color:#FFFCE0;border:1px solid #BDBDBD;border-radius:3px;z-index:2;}
.pwx_small_text {font-size: 11px;}
.pwx_grey {color: #A0A0A0;}
.pwx_header_black {color: #3E3E3E;}
.pwx_no_text_decor {text-decoration: none !important;}
.pwx_div_scroll {overflow-y:auto;}
.pwx_form-menu{position:absolute;border:1px solid #000;background-color:#FFF;padding:5px;z-index:2000;right:1px;top:20px;width:75%;line-height:150%;}
.pwxnopad-info {word-wrap: break-word;clear:both;overflow-x:hidden;overflow-y:hidden;background: #ffffff;}
.pwx_grey_border_top-info {border:1px solid #EDEDED; word-wrap: break-word;clear:both;padding:0 0.5%;overflow-x:hidden;overflow-y:auto;background: #ffffff;}
.pwx_grey_border-info {border-bottom:1px solid #EDEDED; border-right:1px solid #EDEDED; border-left:1px solid #EDEDED; border-top: 0; word-wrap: break-word;clear:both;padding:0 0.5%;overflow-x:hidden;overflow-y:auto;background: #ffffff;}
.pwx_single_dt_wpad {width:97.5%;float:left;display:inline-block; margin-right:1%; padding-left: .5%;}
.pwx_single_sub_sec_dt {width:100%;float:left;display:inline-block;background-color: #CDDCEE;word-wrap:break-word;} 
.pwx-sub-sec-hd-tgl{background:url(images/sprite_green.png) -36px 0;font-size:1px;
        	        color:#CDDCEE;height:7px;width:7px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px;}
.pwx-sub-sec-hd-tgl-close{background:url(images/sprite_green.png) -28px 0;
	        font-size:1px;color:#CDDCEE;height:9px;width:5px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px;}
.pwx-add-icon{background:url(images/3941_16.png) no-repeat; 
	        width:16px;height:16px; display:inline-block; padding-right: 5px;}
.pwx-add-icon-plus{background:url(images/3941_16.png) no-repeat; 
	        width:16px;height:16px; display:inline-block;}
.pwx-add-icon-plus-arrow{background:url(images/3943_16.gif) no-repeat; 
	        width:16px;height:16px; display:inline-block; padding-right: 5px;}
.pwx-warning-large-icon{background:url(images/4017_32.png) no-repeat; 
	        width:32px;height:32px; display:inline-block; padding-right: 5px;}
.pwx-help-icon{background:url(images/3865_16.gif) no-repeat; 
	        width:16px;height:16px; display:inline-block;padding-right: 5px;}  
.pwx-information-icon{background:url(images/3867_16.png) no-repeat; 
	        width:16px;height:16px; display:inline-block;}		
.pwx_indicator_on_icon{background:url(images/statusIndicator_connect.png) no-repeat; 
	        width:16px;height:16px; display:inline-block;padding-right:5px;}		
.pwx_indicator_off_icon{background:url(images/statusIndicator_disconnect.png) no-repeat; 
	         width:16px;height:16px; display:inline-block;padding-right:5px;}		
.pwx-refresh-icon{background:url(images/3688_16.png) no-repeat; 
	        width:16px;height:16px; display:inline-block;}
.pwx-alert-red-icon{background:url(images/6047.png) no-repeat; 
	        width:16px;height:16px; display:inline-block;padding-right: 5px;}			
.pwx_sub_sec_link {text-decoration:none;color:#3E3E3E;cursor:pointer;word-wrap:break-word; }
.pwx_sub_sec_link:hover {text-decoration:none;color:#3E3E3E;cursor:pointer;word-wrap:break-word; }
.pwx_formmenu_link {text-decoration:none;color:#4d4d4d !important;}
a:link.pwx_formmenu_link {text-decoration:none;color:#4d4d4d !important;}
a:visited.pwx_formmenu_link {text-decoration:none;color:#4d4d4d !important;}
a:hover.pwx_formmenu_link {text-decoration:underline;color:#4d4d4d !important;}
a:focus.pwx_formmenu_link {text-decoration:none;color:#4d4d4d !important;}
a:active.pwx_formmenu_link {text-decoration:none;color:#4d4d4d !important;}
.pwx_blue_link {text-decoration:none;color:#3380E5;}
a:link.pwx_blue_link {text-decoration:none;color:#3380E5;}
a:visited.pwx_blue_link {text-decoration:none;color:#3380E5;}
a:hover.pwx_blue_link {text-decoration:underline;color:#3380E5;}
a:focus.pwx_blue_link {text-decoration:none;color:#3380E5;}
a:active.pwx_blue_link {text-decoration:none;color:#3380E5;}
.pwx_grey_link {text-decoration:none;color:#A0A0A0;}
.pwx_grey_link:hover {text-decoration:underline;color:#A0A0A0;}
a:link.pwx_grey_link {text-decoration:none;color:#A0A0A0;}
a:visited.pwx_grey_link {text-decoration:none;color:#A0A0A0;}
a:hover.pwx_grey_link {text-decoration:underline;color:#A0A0A0;}
a:focus.pwx_grey_link {text-decoration:none;color:#A0A0A0;}
a:active.pwx_grey_link {text-decoration:none;color:#A0A0A0;}	      
#pwx_devices_header{clear:both;border: 1px solid #EDEDED;background-color:#F6F6F6;white-space:nowrap; display:inline-block; width:98.6%;padding-bottom: 5px;padding-top: 5px; padding-left: 5px; font-size: 11px;}
#pwx_devices_locName{color:#3E3E3E;}
#pwxdevice_devicelocation_label{color:#666;}
#pwx-device-help-icon-id {margin-top:0.3%;float:right;width:5%;}
#pwx_device_info_icon {cursor: hand;margin-top:0.3%;float:right;width:5%;}
#pwx_device_connected_color{color:#00CC00}
#pwx_device_no-device_id{margin-top:2%;margin-bottom:2%;margin-left:45%;margin-right:45%;}
#pwx_device_nolocation_div{border: 1px solid #EDEDED;width:99.5%;display:inline-block;}	
p#pwx-device_location_nofound_message {padding-left:3%;font-size:15px;color: #909090;word-wrap:break-word;}	  	
.pwx_devices_list{width:80.5%;float:left;display:inline-block;margin-right:1%;padding-left: .5%;}		
#pwx_devices_device_category{font-weight: 900;color:#3E3E3E; padding-left: 8px;}	
#pwx_devices_header_devicename{color:black;float:left;font-size:13px;display:inline-block;width:40%;padding-left:1%;white-space:nowrap;overflow:hidden;word-wrap:break-word;vertical-align:middle;float:left;padding-top:1px;}
#pwx_devices_header_devicemanufname{color:black;font-size:13px;float:left;display:inline-block;width:43%;padding-left:1%;white-space:nowrap;overflow:hidden;word-wrap:break-word;vertical-align:middle;float:left;padding-top:1px;} 
#pwx_devices_header_devicelaunchsection{float:left;display:inline-block;white-space:nowrap;padding-left:1%;overflow:hidden;word-wrap:break-word;vertical-align:middle;float:left;padding-top:1.5%}
#pwx_modal_header_device_name_id{padding-right:2%;font-weight:bold;font-size:20px}			
a:link.pwx_device_row_anchor {text-decoration:none;color:#000;}
a:visited .pwx_device_row_anchor{text-decoration:none;color:#000;}/*:link and :visited are mutually exclusive, so precedence doesn't matter, but for consistency, act as if it does*/
a:focus.pwx_device_row_anchor {text-decoration:none;color:#000;}   
a:hover.pwx_device_row_anchor {text-decoration:none}
a:active.pwx_device_row_anchor {text-decoration:none;}
#pwx_device_modal_updated_current_time{color: #A0A0A0;font-size:12px;margin-left:0.5%;} 	
#pwx_device_clear_all{font-size:10px;margin-left:65%;}
.pwxdevicegroupdiv{padding-bottom:.5%;border-bottom:1px dashed #A0A0A0;padding-top:.5%;float:left;width:100%}
.pwxdevicebpgroup{padding-top:0.5%;float:left;width:100%}
#pwxdevicebpgroupclearlink{display:none;margin-left:2%;font-size:10px;}
.pwxdevicenonbpgroupdiv{padding-top:0.5%;float:left;width:49%}
.pwxdevicegrouplabel{white-space:nowrap;overflow:hidden;word-wrap:break-word;text-align:right;vertical-align:middle;float:left;width:45%}
.pwxdevicegroupanchor{display:none;float:right;font-size:10px;}	
.pwxdevicenongrouplabel{text-align:right;float:left;width:22%;white-space:nowrap;overflow:hidden;word-wrap:break-word;vertical-align:middle;}
.pwxdevicenongroupanchor{display:none;margin-left:2%;font-size:10px;}	
#pwx_device_chart_from_section {float:left;padding-top:1%;padding-bottom:1%;} 
.pwx_device-form-dpdown-menu{position:absolute;border:1px solid #000;background-color:#FFF;padding:5px;z-index:2000;right:1px;top:20px;width:55%;line-height:150%;} 