/* Styles not related to code  */

body { font: 14px/1.4 verdana, arial, helvetica, sans-serif; }
h1 { font-size:1.3em; }
h2 { font-size:1.2em; }                                                     
a:link { color:#33c; }
a:visited { color:#339; }
ul { margin-bottom: 2.4em; }
ul li { margin-bottom:.5em; }
p { max-width: 60em; }
span.news { font-weight:bold; font-style:italic; }
tr { font-size:11px; border:10px solid red; }
