body {
  background-color: gray;
  }
#uhspa-bannerbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  }
.uhspa-bannerbar-col1 {
  float:none;
  display: inline-block;
  }
.uhspa-bannerbar-col2 {
  float:none;
  display: inline-block;
  }
.uhspa-bannerbar-col3 {
  float:none;
  display: inline-block;
  }

.uhspa_tpnadvisor_dcask .ui-dialog-titlebar {
  display: none;
  }


.uhspa_tpnadvisor * {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*overflow-y: auto;*/
  }

.uhspa_tpnadvisor .uhspa-tpnadvisor-title {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 12px;
  color: black;
}

 .uhspa_tpnadvisor .uhspa-range-warn
,.uhspa_tpnadvisor .uhspa-satisfied.uhspa-range-warn
,.uhspa_tpnadvisor  ul.ing li dl dd input.hi.uhspa-range-warn
{
  background-color: orange !important;
}


.uhspa_tpnadvisor {
  padding: 75px 10px 50px 10px;
  min-width: 1000px;
  }

 .uhspa_tpnadvisor_Standard  .Custom
,.uhspa_tpnadvisor_Standard .Compound
,.uhspa_tpnadvisor_Custom .Compound
  {
  background: transparent no-repeat right top url('../../../images/fvolumelock.png');
  }

.uhspa_tpnadvisor .uhspa-fvolumelock  {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
  width: 16px;
  height: 20px;
  overflow: visible;
}
.uhspa_tpnadvisor .uhspa-fvolumelock-top {
  height: 8px;
  width: 12px;
  margin-left: 2px;
  background-color: transparent;
  border: 2px solid black;
  border-bottom: none;
  border-radius: 100% 100% 0 0;
  box-sizing: border-box;
}
.uhspa_tpnadvisor .uhspa-fvolumelock-bottom {
  height: 12px;
  width: 100%;
  background-color: gold;
  text-align: center;
  padding: 0;
  border: 1px solid #CCC;
  border-top: none;
  box-sizing: border-box;
}
.uhspa_tpnadvisor .uhspa-fvolumelock-bottom:after {
  position:relative;
  content: "=";
  top: -3px;
  color: #444;
}

 .uhspa_tpnadvisor_Standard  .Custom .uhspa-fvolumelock
,.uhspa_tpnadvisor_Standard .Compound .uhspa-fvolumelock
,.uhspa_tpnadvisor_Custom .Compound .uhspa-fvolumelock
{
  display: block;
}
 .uhspa_tpnadvisor_Standard  .Custom .uhspa-fvolumelock .uhspa-fvolumelock-top
,.uhspa_tpnadvisor_Standard .Compound .uhspa-fvolumelock .uhspa-fvolumelock-top
,.uhspa_tpnadvisor_Custom .Compound .uhspa-fvolumelock .uhspa-fvolumelock-top
{
  left: 0;
}


.uhspa_tpnadvisor .uhspa-required {
  background-color: yellow !important;
  }
.uhspa_tpnadvisor .uhspa-satisfied {
  background-color: #DEF !important;
  }

/* general */

.uhspa_tpnadvisor section {
  border: 1px solid black;
  background-color: white;
  margin-bottom: 15px;
  }
.uhspa_tpnadvisor section.collapse {        margin-bottom: 5px; }
.uhspa_tpnadvisor section.collapse header {  border-bottom: none; }
.uhspa_tpnadvisor section.collapse div {      display: none;  }

.uhspa_tpnadvisor section header {
  border-bottom: 1px solid black;
  background-color: #9CF;
  padding-top: 2px;
  position: relative;
  }
.uhspa_tpnadvisor section header h1 {
  font-size: 18px;
  display: inline-block;
  margin: 0 5px;
  padding: 2px;
  }
.uhspa_tpnadvisor section header span {
  display: inline-block;
  font-weight: bold;
  margin: 2px 0 0 2px;
  padding: 2px 2px 2px 10px;
  }
.uhspa_tpnadvisor section div {
  vertical-align: top;
  padding-bottom: 2px;
  }
.uhspa_tpnadvisor section div textarea {
  width: 98%;
  height: 80px;
  }

/* general - ingredient related */
.uhspa_tpnadvisor  ul.ing {
  }
.uhspa_tpnadvisor  ul.ing li {
  width: 100%;
  overflow: hidden;
  vertical-align: top;
  min-width: 1000px;
  }

.uhspa_tpnadvisor  ul.ing li dl {
  display: inline-block;
  vertical-align: top;
  margin: 2px 0 0 2px;
  padding: 4px 2px 2px 10px;
  border: 1px solid gray;
  position: relative;
  }

.uhspa_tpnadvisor  ul.ing li.dithered *{
  color: gray;
  }

 .uhspa_tpnadvisor section header h1
,.uhspa_tpnadvisor  ul.ing li dl.b0 {  min-width: 300px; width: 31%; }
 .uhspa_tpnadvisor section header span.new
,.uhspa_tpnadvisor  ul.ing li dl.b1 {  min-width: 150px; width: 16%; }
 .uhspa_tpnadvisor section header span.old
,.uhspa_tpnadvisor  ul.ing li dl.b2 {  min-width: 120px; width: 12%; }
 .uhspa_tpnadvisor section header span.lab
,.uhspa_tpnadvisor  ul.ing li dl.b3 {  min-width: 345px; width: 34%; }

.uhspa_tpnadvisor  ul.ing li dl dt {
  display: none;
  font-weight: bold;
  }
.uhspa_tpnadvisor  ul.ing li dl.b0 dt {
  display: block;
  }

.uhspa_tpnadvisor  ul.ing li dl dd input {
  width: 60px;
  text-align: center;
  font-size: 16px;
  padding: 2px 0;
  border-style: inset;
  }
.uhspa_tpnadvisor  ul.ing li dl dd input.hi  {
  background-color: #DEF;
  margin-bottom: 3px;
  font-weight: bold;
  }
.uhspa_tpnadvisor  ul.ing li.dithered dl dd input.hi  {
  color: gray;
  background-color: silver;
  margin-bottom: 3px;
  font-weight: bold;
  }

.uhspa_tpnadvisor  ul.ing li dl dd input[type=radio] {
  border: none;
  }
.uhspa_tpnadvisor  ul.ing li dl dd span.ro span {
  font-size: 14px;
  }
.uhspa_tpnadvisor  ul.ing li dl dd span.ro span.rom {
  display: inline-block;
  width: 64px;
  text-align: center;
  position: relative;
  top: 2px;
  font-size: 14px;
  }
.uhspa_tpnadvisor  ul.ing li dl dd label {
  margin-left: 2px;
  font-size: 14px;
  }
.uhspa_tpnadvisor  ul.ing li dl.b0 dd {
  font-size: 14px;
  margin: 3px 0 0 0;
  overflow: visible;
  }

.uhspa_tpnadvisor  ul.ing li dl.b2 span:first-child {
  margin-top: 8px;
}

 .uhspa_tpnadvisor  ul.ing li dl  dd.eq span.vl
,.uhspa_tpnadvisor  ul.ing li dl  dd.eq span.uom
,.uhspa_tpnadvisor  ul.ing li dl.b2 dd span.vl
,.uhspa_tpnadvisor  ul.ing li dl.b2 dd span.uom
  {
  min-width: 60px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  }

.uhspa_tpnadvisor  ul.ing li dl.b2 dd span.vl1 {
  margin-top: 7px;
  }
.uhspa_tpnadvisor  ul.ing li dl.b2 dd span.vl {
  font-size: 14px;
  min-width: 40px;
  text-align: center;
  margin-right: 5px;
  }
.uhspa_tpnadvisor  ul.ing li dl.b2 dd span.uom {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  width: 60%;
  }
.uhspa_tpnadvisor  ul.ing li dl.b3 dd {
  overflow-y: hidden;
  }
.uhspa_tpnadvisor  ul.ing li dl.b3 dd span.lab {
  display: block;
  vertical-align: top;
  height: 35px;
  position: relative;
  width: 100%;
  min-width: 170px;
  padding: 0;
  margin: 0 0 5px 0;
  }

 .uhspa_tpnadvisor  ul.ing li dl.b3 dd span.lab span.sparkline
,.uhspa_tpnadvisor  ul.ing li dl.b3 dd span.lab span.IOspark
  {
  display: block;
  min-width: 125px;
  width: 50%;
  height: 35px;
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: hidden;
  }

.uhspa_tpnadvisor  ul.ing li dl.b3 dd span {
  font-size: 14px;
  display: inline-block;
  overflow: hidden;
  }
.uhspa_tpnadvisor  ul.ing li dl.b3 dd span.vl {
  margin: 0 5px;
  }
.uhspa_tpnadvisor  ul.ing li dl.b3 dd span.dt {
  display: inline-block;
  min-width: 100%;
  margin: 0 0 0 10px;
  font-size: 12px;
  }


/* patientInfo  */
.uhspa_tpnadvisor section.patientinfo > div {
  min-width: 1000px;
  }
.uhspa_tpnadvisor section.patientinfo div ul {
  }
.uhspa_tpnadvisor section.patientinfo div ul li {
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;

  float: left;
  display: block;
  }
.uhspa_tpnadvisor section.patientinfo div ul li dl {
  }
.uhspa_tpnadvisor section.patientinfo div ul li dl dt {
  }
.uhspa_tpnadvisor section.patientinfo div ul li dl dt h2 {
  font-size: 16px;
  }
.uhspa_tpnadvisor section.patientinfo div ul li dd {
  max-height: 110px;
  }

.uhspa_tpnadvisor section.patientinfo div ul li.allergy {
  min-width: 190px;
  width: 19%;
  }
.uhspa_tpnadvisor section.patientinfo div ul li.allergy dd.allergy_data span {
  display: block;
  cursor: pointer;
  }

.uhspa_tpnadvisor section.patientinfo div ul li.meds {
  width: 50%;
  min-width: 500px;
  overflow: auto;
  }
.uhspa_tpnadvisor section.patientinfo div ul li.meds dl {
  height: auto;
  overflow: visible;
  }
.uhspa_tpnadvisor section.patientinfo div ul li.meds dl dd {
  width: 100%;
  overflow: visible;
  }
.uhspa_tpnadvisor section.patientinfo div ul li.meds div {
  padding: 0 0 0 20px;
  text-indent: -20px;
  }
.uhspa_tpnadvisor section.patientinfo div ul li.meds div strong {
  font-weight: normal;
  margin-right: 10px;
  }
.uhspa_tpnadvisor section.patientinfo div ul li.meds div span {
  color: #666;
  }

.uhspa_tpnadvisor section.patientinfo div ul li.labs {
  min-width: 240px;
  width: 24%;
  }
.uhspa_tpnadvisor section.patientinfo div ul li.labs dd {
  width: 100%;
  min-width: 150px;
  display: inline-block;
  overflow-y: hidden;
  }
.uhspa_tpnadvisor section.patientinfo div ul li.labs span.lab {
  display: inline-block;
  vertical-align: top;
  height: 35px;
  position: relative;
  width: 100%;
  min-width: 170px;
  padding: 0;
  overflow: visible;
  margin: 0 0 5px 0;
  }
.uhspa_tpnadvisor section.patientinfo div ul li.labs span.lab span.vl {
  margin: 0 5px;
  }
.uhspa_tpnadvisor section.patientinfo div ul li.labs span.lab span.dt {
  display: inline-block;
  min-width: 100%;
  margin: 0 0 0 10px;
  font-size: 12px;
  }
.uhspa_tpnadvisor section.patientinfo div ul li.labs span.lab span.sparkline {
  display: inline-block;
  min-width: 125px;
  width: 50%;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  overflow-y: hidden;
  }

.uhspa_tpnadvisor section.patientinfo .htwt {
  min-width: 100px;
  width: 15%;
  }
.uhspa_tpnadvisor section.patientinfo .htwt .nmvl {
  display: block;
  }
.uhspa_tpnadvisor section.patientinfo .htwt .nm:after {
  content: ': ';
  }

/* route */
.uhspa_tpnadvisor section.route div ul li {
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  min-width: 125px;
  width: 19%;
  height: 110px;
  float: left;
  display: block;
  }

.uhspa_tpnadvisor section.route input {
  margin: 0 5px 0 0;
  }
.uhspa_tpnadvisor section.route div ul li.sltn {
  min-width: 440px;
  width: 55%;
  }

.uhspa_tpnadvisor section.route div ul li.sltn span {
  display: inline-block;
  width: 275px;
  margin: 0 10px 0 0;
  padding: 0;
  }

.uhspa_tpnadvisor section.route div ul.Neo li.ntrm {
  min-width: 220px;
  width: 22%;
  height: auto;
  min-height: 110px;
  }
.uhspa_tpnadvisor section.route div ul.Neo li.ntrm dd {
  height: 90px;
  }
.uhspa_tpnadvisor section.route div ul.Neo li.ntrm dd.sbo {
  height: 55px;
  }
.uhspa_tpnadvisor section.route div ul.Neo li.ntrm dd label {
  display: block;
  padding-left: 20px;
  text-indent: -20px;
  text-decoration: none;
  }


.uhspa_tpnadvisor section.route div ul.Neo li.ntrm  div {
  display: none;
  height: 25px;
  margin: 10px 0 0 0;
  position: relative;
  }
.uhspa_tpnadvisor section.route div ul.Neo li.ntrm  div.sbo {
  display: block;
  }

.uhspa_tpnadvisor section.route div ul.Neo li.ntrm  div label {
  font-size: 14px;
  }
.uhspa_tpnadvisor section.route div ul.Neo li.ntrm  div label span.uom{
  font-size: 12px;
  }
.uhspa_tpnadvisor section.route div ul.Neo li.ntrm  div input {
  width: 60px;
  text-align: center;
  font-weight: bold;
  padding: 2px 0;
  }
.uhspa_tpnadvisor section.route div ul.Neo li.ntrm div button {
  padding: 4px;
  cursor: pointer;
  border: 2px outset gray;
  font-weight: bold;
  background-image:none,linear-gradient(to bottom,#f6f6f6 0,#eaeaea 100%);
  position: absolute;
  right: 0;
  bottom: 0;
  }
.uhspa_tpnadvisor section.route div ul.Neo li.ntrm div button[disabled] {
  cursor: auto;
  }

 .uhspa_tpnadvisor section.route div ul li span:hover label
,.uhspa_tpnadvisor section.route div ul li span:hover input
  {
  background-color: #EEE;
  cursor: pointer;
  }

.uhspa_tpnadvisor section.route div ul li.cnsl {
  width: 19%;
  }

.uhspa_tpnadvisor section.route div ul li.cnsl * { overflow: hidden; }

.uhspa_tpnadvisor section.route div ul li dl dt h2 {
  font-size: 16px;
  }
.uhspa_tpnadvisor section.route div ul li dd {
  }



/* infuse */
.uhspa_tpnadvisor section.infuse div {
  padding: 10px;
}

.uhspa_tpnadvisor section.infuse div .uhspa-lipidinfuse {
  margin-left: 15px;
}
.uhspa_tpnadvisor section.infuse div .uhspa-lipidinfuse label {
  cursor: pointer;
}

 .uhspa_tpnadvisor section.infuse div .uhspa-reqstart-time
,.uhspa_tpnadvisor section.infuse div .uhspa-tpninfuse-hours
,.uhspa_tpnadvisor section.infuse div .uhspa-lipidinfuse-hours
{
  width: 40px;
  text-align: center;
}
.uhspa_tpnadvisor section.infuse div .uhspa-infuse-lipid-cb {
  margin-right: 5px;
}





/* dose */
.uhspa_tpnadvisor section.dose {
  }
.uhspa_tpnadvisor section.dose ul.ing li dl  {
  height: 110px;
  }
.uhspa_tpnadvisor section.dose ul.ing li dl.b0 dd {
  margin: 5px 0 0 0;
  line-height: 14px;
  }
.uhspa_tpnadvisor section.dose ul.ing li dl.b0 dd br {
  font-size: 10px;
  }
.uhspa_tpnadvisor section.dose span.vsm {
  font-size: 10px;
  margin-left: 5px;
  }

/* Volume/Energy */
.uhspa_tpnadvisor section.volenergy ul.ing li dl  {
  height: 95px;
  }
.uhspa_tpnadvisor section.volenergy ul.ing li.Volume dl  {
  height: 125px;
  }

.uhspa_tpnadvisor section.volenergy ul.ing li.Volume dl .minvol {
  position: absolute;
  top: 4px;
  right: 3px;
  padding: 2px 4px;
  cursor: pointer;
  }
.uhspa_tpnadvisor section.volenergy ul.ing li.Volume dl .minvol span {
  font-weight: bold;
  }
.uhspa_tpnadvisor section.volenergy ul.ing li.Volume dl .minvol:hover {
  background-color: #eee;
  }
.uhspa_tpnadvisor section.volenergy ul.ing li.Volume dl .minvol:hover span {
  color: blue;
  text-decoration: underline;
  }
.uhspa_tpnadvisor section.volenergy ul.ing li.Volume input.uhspa-disabled  {
  color: gray;
  background-color: silver !important;
  }

.uhspa_tpnadvisor.Neo section.volenergy ul.ing li.Carbohydrates dl  {
  height: 125px;
  }
.uhspa_tpnadvisor section.volenergy ul.ing li dl dd {
  line-height: 16px;
  }

.uhspa_tpnadvisor section.volenergy ul.ing li.Volume dl dd.voldisp {
  }
.uhspa_tpnadvisor section.volenergy ul.ing li.Volume dl dd.voldisp div {
  margin: 0;
  padding: 0;
  text-wrap: nowrap;
  overflow: hidden;
  min-width: 140px;
  position: relative;
  }
.uhspa_tpnadvisor section.volenergy ul.ing li.Volume dl dd.voldisp div .lbl {
  font-size: 13px;
  display: inline-block;
  position: absolute;
  text-wrap: nowrap;
  left: 65px;
  width: 150px;
  }
.uhspa_tpnadvisor section.volenergy ul.ing li.Volume dl.b2 dd.voldisp div .lbl {
  left: 45px;
  }
.uhspa_tpnadvisor section.volenergy ul.ing li.Volume dl dd.voldisp div input.amt {
  font-size: 13px;
  display: inline-block;
  width: 60px;
  margin: 0;
  text-align: center;
  border: none;
  }
.uhspa_tpnadvisor section.volenergy ul.ing li.Volume dl.b2 dd.voldisp div input.amt {
  width: 40px;
  margin: 0;
  }
.uhspa_tpnadvisor section.volenergy ul.ing li.Volume dl dd.voldisp div .uom {
  font-size: 12px;
  color: #333;
  display: none;
  }

.uhspa_tpnadvisor section.volenergy table {
  border-collapse: collapse;
  display: inline-block;
  min-width: 345px;
  width: 34%;
  margin: 0 5px;
  font-size: 12px;
  margin: 5px 0 0 5px;
  }
.uhspa_tpnadvisor section.volenergy table caption {
  text-align: left;
  font-size: 12px;
  margin: 0 0 2px 0;
  }
.uhspa_tpnadvisor section.volenergy table th {
  font-weight: normal;
  text-align: right;
  min-width: 50px;
  }
.uhspa_tpnadvisor section.volenergy table th:after {
  content: ':';
  }
.uhspa_tpnadvisor section.volenergy table tr td {
  text-align: right;
  min-width: 100px;
  width: 33%;
  padding: 2px 0;
  }
 .uhspa_tpnadvisor section.volenergy table tr.total th
,.uhspa_tpnadvisor section.volenergy table tr.total td
  {
  border-top: 1px solid gray;
  }
.uhspa_tpnadvisor section.volenergy table tr td span {
  margin: 0 5px 0 0;
  font-size: 14px;
  }

.uhspa_tpnadvisor section.volenergy dd.eq {
  margin: 2px 0 0 0;
  }
.uhspa_tpnadvisor section.volenergy dd.eq span {
  font-size: 14px;
  }
.uhspa_tpnadvisor section.volenergy dd.eq span.vl {
  font-size: 14px;
  margin-right: 5px;
  width: 40px;
  text-align: center;
  display: inline-block;
  }

 .uhspa_tpnadvisor.adm21 section.volenergy li.Volume .b1 dd.eq
,.uhspa_tpnadvisor.adm31 section.volenergy li.Volume .b1 dd.voldisp
,.uhspa_tpnadvisor section.volenergy li.Volume .b2.adm21 dd.eq
,.uhspa_tpnadvisor section.volenergy li.Volume .b2.adm31 dd.voldisp
  {
  display: none;
  }

 .uhspa_tpnadvisor section.volenergy dd.prefProtein
,.uhspa_tpnadvisor section.volenergy dd.prefFat
  {
  position: absolute;
  top: 0;
  right: 0;
  }


/* electrolytes */

 .uhspa_tpnadvisor section.electrolyte .Chloride dl
,.uhspa_tpnadvisor section.electrolyte .Acetate dl
  {
  height: 135px;
  }
.uhspa_tpnadvisor section.electrolyte  .b1 .salt  {
  font-size: 12px;
  }

 .uhspa_tpnadvisor section.electrolyte .Chloride .b1 label
,.uhspa_tpnadvisor section.electrolyte .Acetate .b1 label
  {
  display: inline-block;
  }
 .uhspa_tpnadvisor section.electrolyte  .b1 input[type=radio]
   {
  width:20px;
  }
 .uhspa_tpnadvisor section.electrolyte .Chloride .b1 span.itm
,.uhspa_tpnadvisor section.electrolyte .Acetate .b1 span.itm
  {
  display: block;
  margin-bottom: 5px;
  /* line-height: 12px; */
  }
 .uhspa_tpnadvisor section.electrolyte .Chloride .b1 span.itm  label
,.uhspa_tpnadvisor section.electrolyte .Acetate .b1 span.itm  label
  {
  position: relative;
  top: 3px;
  }


 .uhspa_tpnadvisor section.electrolyte .Chloride .b1 span.itm  select
,.uhspa_tpnadvisor section.electrolyte .Chloride .b1 span.itm  input.v
,.uhspa_tpnadvisor section.electrolyte .Acetate .b1 span.itm  select
,.uhspa_tpnadvisor section.electrolyte .Acetate .b1 span.itm  input.v
 {
  margin-left: 25px;
 }

.uhspa_tpnadvisor section.electrolyte .Phosphate .b0 select {
  position: absolute;
  top: 2px;
  right: 2px;
  text-align: center;
 }
.uhspa_tpnadvisor section.electrolyte .Chloride .b0 select {
  position: absolute;
  top: 2px;
  right: 2px;
  text-align: center;
 }



/* additive (override .ing for smaller) */

.uhspa_tpnadvisor section.additive ul.ing li {
  min-width: 495px;
  width:49.8%;
  display: inline-block;
  }
.uhspa_tpnadvisor section.additive ul.ing li dl {
  height: 100%;
  }

.uhspa_tpnadvisor section.additive ul.ing li dl.b0 dd {
  font-size: 12px;
  margin: 0;
  }
 .uhspa_tpnadvisor section.additive ul.ing li dl.b1 dd
,.uhspa_tpnadvisor section.additive ul.ing li dl.b2 dd
  {
  white-space: nowrap;
  }
.uhspa_tpnadvisor section.additive ul.ing li dl dd span.vl {
  display: inline-block;
  width: 64px;
  text-align: center;
  position: relative;
  top: 2px;
  font-size: 14px;
  }
.uhspa_tpnadvisor section.additive ul.ing li dl dd span.uom {
  font-size: 12px;
  }


.uhspa_tpnadvisor section.additive header span {
  margin: 0;
  padding: 0;
  }
.uhspa_tpnadvisor section.additive header span.gap {
  min-width: 20px; width: 2%;
  }

.uhspa_tpnadvisor section.additive header div {
  min-width: 495px;
  width:49.8%;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  }

 .uhspa_tpnadvisor section.additive header h1
,.uhspa_tpnadvisor section.additive header span.lbl {
  display: inline-block;
  padding: 0 2px 0 10px;
  margin: 0 4px 0 2px;
  }

 .uhspa_tpnadvisor section.additive header h1
,.uhspa_tpnadvisor section.additive header span.lbl
,.uhspa_tpnadvisor section.additive ul.ing li dl.b0 {  min-width: 150px; width: 40%;}

.uhspa_tpnadvisor section.additive ul.ing li dl.b0 .teChoice .TraceElementChoice {
  position: absolute;
  top: 2px;
  right: 2px;
  }

.uhspa_tpnadvisor section.additive ul.ing li dl.b0 .teChoice div {
  display: none;
  text-indent: -35px;
  padding-left: 35px;
  }
.uhspa_tpnadvisor section.additive ul.ing li dl.b0 .teChoice.child .child { display: block; }
.uhspa_tpnadvisor section.additive ul.ing li dl.b0 .teChoice.adolescent .adolescent { display: block; }

.uhspa_tpnadvisor section header span.new2{
  padding: 0 10px 0 2px;
  margin: 0 2px 0 0;
  }
 .uhspa_tpnadvisor section header span.new2
,.uhspa_tpnadvisor section.additive ul.ing li dl.b1 {  min-width: 120px; width: 25%;}

.uhspa_tpnadvisor section header span.old2 {
  padding: 0 10px 0 2px;
  margin: 0 2px 0 0;
  }
 .uhspa_tpnadvisor section header span.old2
,.uhspa_tpnadvisor section.additive ul.ing li dl.b2 {  min-width: 100px; width: 23%;}

.uhspa_tpnadvisor section.additive p  {
  margin: 10px 0 0 10px;
  }
.uhspa_tpnadvisor section.additive textarea  {
  margin: 0 10px 10px 10px;
  min-width: 980px;
  }




/* order comments */
.uhspa_tpnadvisor section.ordercomment div p {
  margin: 10px 0 0 10px;
  }
.uhspa_tpnadvisor section.ordercomment div textarea {
  margin: 0 10px 10px 10px;
  min-width: 980px;
  }

/* ADDitional order */
.uhspa_tpnadvisor section.addorder div {
  overflow-y: hidden;
  }

.uhspa_tpnadvisor section.addorder div dl dt h2 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  }

.uhspa_tpnadvisor section.addorder div dl.lab {
  width: 40%;
  min-width: 400px;
  display: inline-block;
  margin: 5px 0 0 10px;
  vertical-align: top;
  }
.uhspa_tpnadvisor section.addorder div dl.lab ul {
  }
.uhspa_tpnadvisor section.addorder div dl.lab ul li {
  padding: 2px 0;
  min-width: 390px;
  padding-left: 20px;
  text-indent: -20px;
  }
.uhspa_tpnadvisor section.addorder div dl.lab ul li label {
  width: 100%;
  cursor: pointer;
  }
.uhspa_tpnadvisor section.addorder div dl.lab ul li label:hover {
  background-color: #EEE;
  }
.uhspa_tpnadvisor section.addorder div dl.lab ul li label span.display {
  color: gray;
  }

.uhspa_tpnadvisor section.addorder div dl.lab ul li input {
  margin: 0 5px 0 0;
  }

.uhspa_tpnadvisor footer {
  clear: both;
  margin-top: 10px;
  padding: 5px 0;
  border-top: 1px solid gray;
  text-align: right;
  background-color: white;
  }
.uhspa_tpnadvisor footer button {
  margin: 10px 20px 10px 0;
  padding: 2px;
  border: 2px outset gray;
  background-image:none,linear-gradient(to bottom,#f6f6f6 0,#eaeaea 100%);
  cursor: pointer;
  width: 100px;
  }
.uhspa_tpnadvisor footer button:hover {
  font-weight: bold;
  }
.uhspa_tpnadvisor footer button.add {
  width: 150px;
  border: 3px outset gray;
  font-size: 16px;
  }

.uhspa_tpnadvisor  footer .comtypcd  {
  padding: 10px 20px;
  text-align: right;
  }
.uhspa_tpnadvisor  footer.physician .comtypcd {
  display: none;
  }
.uhspa_tpnadvisor  footer .comtypcd select {
  width: 150px;
  background-color: yellow;
  }

.uhspa_tpnadvisor .uhspa-tpn-nomode {
  margin: 25px;
  padding: 20px;
  background-color: white;
  border: 2px solid red;
  text-align: center;
}
.uhspa_tpnadvisor .uhspa-tpn-nomode button {
  padding: 5px 10px;
  cursor: pointer;
}


.uhspa_tpnadvisor #NotifyConfigError {
display: none;
  padding: 35px 10px 10px 10px;
  margin: 0 0 10px 0;
  background-color: #EEE;
  border: 2px solid red;
  position: relative;
  }
.uhspa_tpnadvisor #NotifyConfigError h1 {
  height: 20px;
  position: absolute;
  width: 100%;
  padding: 2px 10px;
  font-size: 16px;
  background-color: red;
  color: yellow;
  top: 0;
  left: 0;
  }
.uhspa_tpnadvisor #NotifyConfigError p {
  padding-left: 20px;
  text-indent: -20px;
  }

/* jquery-ui .dialog() doesn't keep this content inside .uhspa_tpnadvisor */
.uhspa-osmoalert  p {
  font-size: 14px;
  }


.uhspa_tpnadvisor #dbgproposal {
  display: inline;
  position: relative;
  text-align: center;
  }
.uhspa_tpnadvisor #dbgproposal button {
  display: inline-block;
}
.uhspa_tpnadvisor #dbgproposal textarea {
  width: 100%;
  height: 95%;
  overflow: auto;
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  }
.uhspa_tpnadvisor #dbgproposal:hover {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  height: 525px;
  background-color: #eee;
  z-index: 50;
  }
.uhspa_tpnadvisor #dbgproposal:hover button {

  }
.uhspa_tpnadvisor #dbgproposal:hover textarea {
  display: block;
  }
