.uhspa-bannerbar {
    color: white;
    background-color: steelblue;
    padding: .25em;
    /*border-bottom: 1px solid black;*/
    font-size:.9em;
    overflow:hidden;
}
    
.uhspa-bannerbar-col1 {
    float:left;
    width:40%;
}

.uhspa-bannerbar-col2 {
    float:left;
    width:30%;
}

.uhspa-bannerbar-col3 {
    float:left;
    width:30%;
}

.uhspa-bannerbar-label {
    margin-right:.5em;
    display: inline-block;
}

.uhspa-bannerbar-value {
    font-weight:bold;
}

.uhspa-bannerbar-name {
    font-weight:bold;
    font-size:1.3em;
}