html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;vertical-align:baseline;}
:focus{outline:0;}
body{color:#000;background:#FFF;font:normal 13px/1.5em Tahoma,sans-serif;text-align:left;width:100%;}
ol,ul{list-style:none;text-align:left;}
table{border-collapse:separate;border-spacing:0;font:normal 13px Tahoma,sans-serif;}
caption{display:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
script{display:none;}
input{padding:0;margin:0;}
a,a:active,a:link,a:hover{text-decoration:underline;cursor:pointer;color:#3380E5;}
a:visited{background:none;}
a:focus{border:1px dotted #505050;}
hr{display:none;}
table{font-size:100%;width:100%;border-collapse:collapse;}
td{font:13px/1.5em Tahoma,sans-serif;word-wrap:break-word;vertical-align:top;}
th{font:12px/1.2em Tahoma,sans-serif;word-wrap:break-word;vertical-align:bottom;text-align:left;color:#505050;}
.even{background:#F5F7FB;}
.odd{background:#FFF;}
.res-normal a{color:#000;}
.res-severe,.res-severe a{color:#E50D34;font-weight:bold;}
.res-high,.res-high a{color:#FF8013;}
.res-low,.res-low a{color:#0054E7;}
.res-abnormal,.res-abnormal a{color:#976823;}
.hvr .res-high,.hvr .res-low,.hvr .res-abnormal{font-weight:bold;}
.res-modified{background:url(../Images/0594_11.gif) no-repeat center;display:inline-block;width:11px;height:11px;padding-left:2px;}
.res-low .res-ind{background:url(../Images/6303_11.gif) no-repeat center;display:inline-block;width:11px;height:11px;}
.res-high .res-ind{background:url(../Images/6302_11.gif) no-repeat center;display:inline-block;width:11px;height:11px;}
.res-severe .res-ind{background:url(../Images/5278_11.gif) no-repeat center;display:inline-block;width:11px;height:11px;}
.res-abnormal .res-ind{background:url(../Images/AbnormalIcon_11.gif) no-repeat center;display:inline-block;width:11px;height:11px;}
.res-high>.res-ind,.res-low>.res-ind,.res-abnormal>.res-ind,.res-severe>.res-ind{margin:5px .3em 4px 0;}
.res-normal .res-ind{display:none;}
.res-none{display:block;padding-left:1em;zoom:1;}
.res-none-hd,.info-hd,.det-hd{display:none;}
.res-low-icon{background-image:url(../Images/6303_11.gif);background-repeat:no-repeat;text-align:center;background-position:center;}
.res-high-icon{background-image:url(../Images/6302_11.gif);background-repeat:no-repeat;text-align:center;background-position:center;}
.res-severe-icon{background-image:url(../Images/5278_11.gif);background-repeat:no-repeat;text-align:center;background-position:center;}
.unit,.within{font-size:11px;color:#505050;}
.date-time{color:#666;}
.code{font-size:9px;color:#999;}
.row-label{color:#666;}
.detail-line{color:#7C7C7C;}
.hdr{color:#505050;font-size:12px;line-height:1.3em;background:#E8EFF9;vertical-align:bottom;}
.content-hdr{background:#E8EFF9;}
.hdr-scroll{margin-right:15px;}
.sub-title-disp{color:#666;font:normal 12px/1.2em Tahoma,sans-serif;padding-left:4px;background:#E8EFF9;border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;}
.hidden{display:none;}
.important-icon{background:url(../Images/4015_16.gif) no-repeat center;width:16px;height:16px;display:inline-block;margin-right:2px;}
.favHidden{display:none;}
.form-menu{position:absolute;border:1px solid #000;background-color:#FFF;padding:5px;z-index:2000;right:1px;top:20px;width:75%;}
.menu-hide{display:none;}
.section{position:relative;zoom:1;background:none;margin:0 0 10px 0;font:normal 13px Tahoma,sans-serif;}
.sec-hd-tgl{float:right;text-align:center;width:1em;font-size:25px;cursor:pointer;font-weight:normal;}
.sec-hd{font:normal 14px/1.3em Tahoma,sans-serif;display:block;background:url(../images/crnr-left.png) no-repeat 0 0;border-right:1px solid #ADCC92;}
.sec-hd,.sec-hd a{color:#003C74;font-weight:bold;text-decoration:none;}
.sec-hd a:hover{text-decoration:underline;cursor:pointer;color:#3380E5;}
.sec-title{display:inline-block;padding-left:4px;}
.sec-total{color:#505050;font:normal 11px Tahoma,sans-serif;padding-left:6px;text-decoration:none;}
.sec-content{font:normal 13px/1.5em Tahoma,sans-serif;border:1px solid #ADCC92;}
.sub-sec{zoom:1;}
.closed .sec-content,.closed .sub-sec-content,.closed .sub-title-disp{visibility:hidden;position:absolute;}
.closed .sec-hd{display:block;margin:0;border-bottom:2px ridge #E0FFFF;}
.sub-sec-hd{font:normal 12px Tahoma,sans-serif;color:#505050;background:#F3F8EE;padding-left:2px;border-top:1px solid #ADCC92;border-bottom:1px solid #ADCC92;}
.sub-sec-hd-tgl{float:right;text-align:center;width:1em;cursor:pointer;font-weight:normal;}
.add-plus{cursor:pointer;font-weight:normal;font-size:12px;display:inline;}
.add-plus img{vertical-align:middle;}
a.add-plus{font-weight:normal;text-decoration:none;padding-left:4px;}
.add-icon{background:url(../Images/3941.gif) no-repeat center;width:16px;height:16px;display:inline-block;margin-right:2px;}
.pg-hd{padding:2px 0;margin:0 0 1px 5px;color:#003C74;border-bottom:1px solid #E7E7E7;text-align:right;line-height:1.5em;display:block;zoom:1;}
.pg-title{font-weight:bold;display:inline;font-size:16px;float:left;}
.page-ctrl{margin-right:20px;vertical-align:middle;}
#expAll,#custView,#savePrefs,#clearPrefs,#otherAnchors{padding-left:5px;padding-right:5px;}
#banner,#disclaimer{margin-left:5px;}
#disclaimer{margin-bottom:1em;font:normal 10px Tahoma,sans-serif;text-align:left;clear:left;}
.col-group{position:relative;clear:both;float:left;width:100%;background:#FFF;}
.col-outer1,.col-outer2{float:left;width:100%;position:relative;}
.col1,.col2,.col3{float:left;position:relative;padding:0 0 3px 0;overflow-x:hidden;}
.pref-columns .col1,.pref-columns .col2,.pref-columns .col3{float:left;position:static;padding:0 .3% 3px 0;overflow-x:hidden;}
.pref-columns .col-group{padding:0 0 0 2%;}
.three-col .col-outer2{right:34%;}
.three-col .col-outer1{left:33%;}
.three-col .col1{width:32.65%;left:1.25%;}
.three-col .col2{width:33.65%;left:1.5%;}
.three-col .col3{width:32.65%;left:1.75%;}
.two-col .col-outer1{right:50%;}
.two-col .col1{width:49.3%;left:50.5%;}
.two-col .col2{width:49.3%;left:51%;}
.one-col .col1{width:99%;left:.5%;}
.ui-sortable-placeholder{border:1px dotted black;visibility:visible!important;height:50px!important;}
.ui-sortable-placeholder *{visibility:hidden;}
div.suggestions{-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid black;background:white;font-size:.85em;}
div.suggestions div{cursor:default;padding:0 3px;}
div.suggestions div.current{background-color:#36c;color:white;}
.highlight{font-weight:bold;}
.current .det-txt{color:#EFEFEF;}
.det-txt{color:#666;font-size:7pt;font-weight:normal;padding-left:5px;}
.explTxt{font-style:italic;}
.search-box{zoom:1;background-image:url(../images/magnifying-glass.gif);background-repeat:no-repeat;width:91%;padding-left:20px;font-size:.85em;}
.search-box-div{zoom:1;border-bottom:2px solid #ADCC92;padding:2px 0;}
.hvr{background:#FFF;padding:0 5px;z-index:1;margin:-1px 10px 10px 5px;width:400px;line-height:2em;word-wrap:break-word;}
.hvr.hover{position:absolute;display:none;z-index:1000;background-color:#FFC;border:1px solid #000;}
.hvr dt{clear:left;color:#505050;}
.hvr dt span{float:left;margin-left:5px;}
.hvr dd{float:left;display:inline;margin:0 5px;overflow-x:hidden;}
.hvr table{margin:3px 0;}
.cmp-doc{height:16px;width:16px;display:inline-block;}
.has-icon .cmp-doc{background-image:url(../images/3729_16.png);background-repeat:no-repeat;}div.rcm-search-suggestions{-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid black;background:white;font-size:.85em;}
div.rcm-search-suggestions div{cursor:default;padding:0 3px;}
.rcm-search-suggestions{z-index:9999999;}
.rcm-search-suggestions strong{font-weight:bold;}
div.rcm-search-suggestions div.rcm-search-current{background-color:#36c;color:white;position:relative;}
div.detailsToolTip{position:absolute;background-color:#ffc;border:solid 1px #666;font:10px/12px Arial,Helvetica,sans-serif;width:270px;padding:1px;z-index:100;visibility:hidden;color:#333;float:right;layer-background-color:#ffc;}
input.searchText{background-image:url(../images/6428_16.png);background-repeat:no-repeat;padding-left:20px;}
input.searchTextLoading{background-image:url(../images/6439_16.gif);background-repeat:no-repeat;padding-left:20px;}
input.required-search-field{background-color:#FFFCE1;}.expand-collapse-all{float:right; color: #0000FF;text-decoration:underline;cursor:pointer;font-size:14px;margin-right: 25px; display:inline; }.rcm-tab-folder{background-color:#F6F6F6;border-bottom:1px solid black;padding-top:6px;padding-bottom:6px;}
.rcm-tab-folder span.rcm-tab-folder-active{background-color:window;color:#1A4072;border-bottom:none;padding-bottom:9px;}
.rcm-tab-folder span{background-color:#F6F6F6;color:#736F6E;padding:7px 14px 7px 14px;font-size:13px;cursor:default;border-right:1px solid black;border-bottom:1px solid black;border-top:1px solid black;}/*========= filter box =========*/
.ddw-filter-box{text-align:center; border: 1px black solid; display:none; width:550px; background-color:white; position:absolute; top:72px; left:8px;}
.ddw-filter-title{padding-left:1em; font-size: 15px; font-weight:bold; color:rgb(62,67,129);}
.ddw-filter-title-bar{background-color:#E6E8F1; text-align:left;width: 100%;padding-top:.5em; padding-bottom:.5em;}
.ddw-filter{margin-left:.5em; text-align:left; margin-top:1em; margin-bottom:1em;}
.ddw-filter label{padding-right:4px;}
.ddw-separator{clear:both; border-top:1px solid rgb(230, 232, 240); border-width:medium; margin-top:.5em; margin-bottom:.5em;}
.ddw-filterDropdown{width:200px;  margin-right:10em;}
.ddw-prmySortLabel{margin-left:1.2em;}
.ddw-filter-include{margin-left:.5em; text-align:left;}
.ddw-sortDropdown{width:232px;}
.ddw-filter-sorting{text-align:left; margin: 0px; padding:0px;}
.ddw-filter-sorting input{margin-left: 1em}
.ddw-filter-sorting-header{margin-left:.5em; font-weight:bold; color:rgb(62,67,129);text-decoration:underline;}
.ddw-filter-sorting-dropdown{padding:.5em;}
.ddw-filter-sorting-dropdown label{padding-right:4px;}
.ddw-filter-save-area {width: 98%;text-align:left; border-top:1px solid rgb(230, 232, 240); background-color:#F6F6F6;border-width:medium; margin-top:.5em;margin-bottom:0;padding:4px;padding-bottom:2px;}
.ddw-filter-save-area input{margin-left:.5em;vertical-align:middle;}
.ddw-filter-button-image {width: 20px; height: 17px; margin-top:.45em;}
.ddw-filter-button-apply{margin-left:10em;margin-top:5px;margin-bottom:5px;padding:2px;width:80px;}
.ddw-filter-button-cancel{margin:5px;padding:2px;width:80px;}
.ddw-filters{float:left; padding-left:4px; padding-bottom:4px; padding-top:2px;max-width:5%;}
.ddw-appliedFilters{font-size: 11px; color: #666666; float:left; text-align:left; padding-top:.7em; padding-left: 2em;padding-right:1em;vertical-align:middle;max-width:78%;}
.ddw-appliedFiltersPatientCount{float:right; margin-right:1em;border-left: solid 1px #333333;vertical-align:middle;padding-right:5px;height:100%;max-width:7%;}
.ddw-patientCountWhitePipeLine{font-size: 11px; color: #666666; text-align:center; border-left: solid 1px #FFFFFF; padding-bottom:4px; padding-top:4px;padding-left:1em;height:100%;}
.ddw-surroundAllFloatingDivs{clear:both;}
.ddwfiltersContainer{width:auto; background-color:#E6E8F1;}
.ddw-sec-hd {font:normal 14px/1.3em Tahoma, sans-serif; display:none; background:url(../images/crnr-left.png) no-repeat 0 0; border-right:1px solid #ADCC92;}
.pg-hd {padding:.25em 0; margin:0 0 .1em .5em; color:#003C74; border-bottom:.1em solid #E7E7E7; text-align:right; line-height:1.5em; display:none;}

.ddworklist-th {font-size: 9px; color: #696969; border-right: 2px solid #EDEDED; background: #F6F6F6; padding:4px;}
.ddworklist-th-patient {text-indent:2em;}
.ddworklist-zebra-striping-blue{background: #F3F6FD;}
.ddworklist-zebra-striping-white{background: #FFFFFF;}
.dd-worklist-td-border{border-right: 1px solid #EDEDED; padding: 0em .15em .15em .15em;}
.dd-worklist-patientName{color:#2400A5; font-size:12px; font-weight:bold;}
.ddworklist-patientInfo {border-right: 1px solid #EDEDED; padding: 0em .15em .15em .15em;}
.ddworklist-patientInfo a span{display:none;text-indent:3em;}
.ddworklist-patientInfo a:hover{position:relative;}
.ddworklist-patientInfo a:hover span{width:320px; position:absolute; display:block; margin:0px; padding:0px; color:black; border: 2px rgb(157, 158, 158) solid; background-color:rgb(252, 249, 206);}
.ddworklist-patientInfo dl {list-style-type:none; margin:0px; padding:0px; }
.ddworklist-patientInfo dt {float:left; width: 150px; margin: 0px; padding: 0px; text-align:right;}
.ddworklist-patientInfo dd {float:right; width: 150px; margin:0px; padding: 0px; text-align:left;}
.ddworklist-indention{text-indent: 1em;}
.ddworklist-indention2{text-indent: 15px;}
.ddworklist-basicFont {font-size: 12px; color: #666666;}
.ddworklist-basicFontRed{font-size: 12px; color:#CC0000;}
.ddworklist-firstColumnItemFont {font-size: 12px; color: #000000; border-right: 2px; border-right-color: #EDEDED; padding: 0em .15em .15em .15em;}
.ddworklist-firstColumnItemFontRed{font-size: 12px; color: #CC0000; border-right: 2px; border-right-color: #EDEDED; padding: 0em .15em .15em .15em;}
.ddworklist-hoverData{background-color: #FFFCE1; border: solid 1px #BDBDBD; color: #333333; display: none; position: absolute; z-index: 1000;}
.ddworklist-hvr-info-lbl{clear:left; color: #505050; margin: 0 5px;}
.ddworklist-hvr-info-smallindentlbl{margin-left: 11px;}
.ddworklist-hvr-info-val{margin-right: 5px;}
.ddworklist-hvr-info-val2{margin-left: 40px;}
.ddworklist-hvr-info-val3{margin-left: 90px;}
.ddworklist-hvr-info-val4{margin-left:50px;}
.ddwworklistContainer{height:auto; width:auto;}
.ddworklist-small-text {font-size: 9px; color: #999999;}
.ddworklist-solid-line{background-color: #F3F6FD; border: solid 3px #3797FE;}
.ddworklist-dashed-line{border: dashed 1px #3797FE;}
.ddworklist-transparent-line{border:dashed 1px transparent;}
.ddworklist-modify-dialog {display:none;position:absolute;z-index:0;height:auto;width:auto;padding-right:4px;padding-left:4px;padding-top:4px;padding-bottom:4px;border:solid 3px #3797FE;background-color:white;}
.ddworklist-modify-relationship-action-buttons{clear:both;float:left;margin-left:4px; margin-top:20px}
.ddworklist-modify-relationship-action-buttons input {width:75px;margin-right:4px;margin-left:4px;margin-top:4px;margin-bottom:4px}
.ddworklist-invisible-info{display:none;}
.ddworklist-dialog {padding:5px; color: black; z-index:6; border: 1px black solid; height:160px; width:350px; background-color:white; position:fixed;left:40%; display:none;}
.ddworklist-dialog-title-bar {background-image:url(../images/H2_header_center.png); background-repeat:none; font-weight:bold; font-size:12px; color:#3E3E3E; height: 20px; width: 100%;}
.ddworklist-dialog-message-area {margin: 5px; height:100px;font-size:15px;}
.ddworklist-dialog-buttons {border-top:1px solid #C9DFE5; height:20px;}
.ddworklist-dialog-buttons input {float:right; margin-right:5px; margin-top: 5px; width:40px;font-size:12px;color:rgb(62,67,129);}
.ddworklist-alert-image{width: 20px; height: 17px;}
.ddworklist-canceledHoverParent{padding:4px;display:inline;}
.ddworklist-canceledHoverData{background-color: #FFFCE1; border: solid 1px #BDBDBD; color: #333333; display: none; position: absolute; z-index: 1000;}
.ddworklist-hoverParent{display:inline; padding:4px;}
.ddworklist-inlineDiv{display:inline;}

#deniedDayListTable td{padding:4px;}
.searchTextSpacing {margin-top:6px;width:150px;}
.transDiv{position:fixed; top:0; left:0; bottom:0; right:0; z-index:5; display:none; margin:0; padding:0; overflow: hidden; background-image: url(../images/transparent.png); background-repeat: repeat;}
