.abd-table {width:100%;table-layout: fixed;}
.abd-table td, .abd-table th {padding:0 2px;}
.abd-dt-tm{width:17.5%;}
.abd-event{width:8.9%;}
.abd-duration{width:13%;}
.abd-oxy-sat{width:7.5%}
.abd-hr{width:5.5%;}
.abd-skin-colour{width:8.3%;}
.abd-activity{width:11%;}
.abd-position{width:11.8%;}
.abd-stimulation{width:16.3%;}
