.agc-chart-type-label {margin-left: 5px; font-weight: bold;}
.agc-info dt {display:none;}
.agc-lbl {padding-left:8px; text-align:left; vertical-align:middle; width: 10%;}
.agc-res1, .agc-res2, .agc-res3, .agc-res4, .agc-res5 {width:18%; text-align:center;}
.agc-res1 {border-left: 1px solid #DDD; border-right:1px solid #DDD;}
.agc-table {width:100%; table-layout:fixed;}
.agc-sec.closed .sec-content {display:none;}
.agc-scrl-tbl {margin-right:15px;}
.agc-scrl-tbl-hdr {padding-right:15px;}
.agc-res a, .agc-res a:link {text-decoration:none; color: #000;}
.agc-res a:active, .agc-res a:hover {text-decoration:underline; color: #000;}
.agc-res .new-line {display:block;}
.sec-content > .agc-scrl-tbl {padding-right:15px; margin-right:0;}
.agc-latest-hdr {padding: 4px 6px; text-align:center; width:18%; border-left:1px solid #DDD; border-right:1px solid #DDD;}
.agc-prev-hdr {padding: 4px 6px 4px 9px; text-align:center; width:72%;} 
.content-border{border: 1px solid #DDD;}
.result-align{vertical-align:middle; color:#999;}
