.allergy-o2-col, .allergy-o2-sp-hide-col {
    width: 12.5%;
}

.allergy-o2-col.pat-req-col, .allergy-o2-sp-hide-col.pat-req-col {
    width: 11%;
}

.allergy-sp-hide-mode .allergy-o2-sp-hide-col, .al-wf-remove-reaction, .allergy-o2-hide-col {
    display: none;
}

/*change the columns width when the side panel is open*/
.allergy-sp-hide-mode .allergy-o2-col.pat-req-col{
    width: 16.5%;
}
.allergy-sp-hide-mode .allergy-o2-col{
    width: 20%;
}

/* when the nka nkma links are present add padding to the segmented control*/
.al-wf-nkaContainer a ~ .al-seg-control-container {
    padding-top: 10px;
}

/* View Outside Records Style*/
.wf_al-sec .al-control-separator {
    float: right;
    border-left: 1px solid #A0A0A0;
    padding-left: 20px;
    height: 2.2em;
}

.wf_al-sec .view-pat-req-content {
    float: right;
    padding-right: 20px;
    line-height: 2.2em;
}

.wf_al-sec .view-pat-req-content label {
    margin-right: 3px;
}

.wf_al-sec .view-pat-req-content input {
    margin-right: 8px;
}

/*Patient requested removal*/
.wf_al-sec .table-cell .pat-req-remove {
    text-decoration: line-through;
}

/* Side Panel Styles */
.al-wf-side-panel {
    display: none;
    width: 40%;
    padding-left: 10px;
    position: relative;
    box-sizing: border-box;
    float: right;
    min-height: 220px;
}

.al-wf-title-text {
    font-size: 12px;
    color: #505050;
    background-color: #F6F6F6;
    padding-right: 10px;
    margin-bottom: -2px;
    margin-top: 3px;
}

.al-outside-requests {
    background-color: #f6ebf9;
    padding-left: 15px;
    padding-top: 11px;
    margin-top: -11px;
    padding-bottom: 10px;
    margin-bottom: -10px;
}

.al-outside-requests .al-wf-title-text {
    background-color: #f6ebf9;
    margin-left: -8px;
    padding-top: 10px;
}

.al-wf-side-panel-result-item {
    padding-left: 4px;
}

.al-wf-side-panel-result-list {
    padding-top: 10px;
}

.al-wf-side-panel-result-list .outside-requests {
    margin-left: -8px;
    padding-top: 10px;
}

.al-wf-side-panel-result-list dd {
    display: inline-block;
    padding: 0 0 1px 10px;
    box-sizing: border-box;
    vertical-align: text-top;
}

.al-wf-side-panel-addition {
    width: 60%;
    display: inline-block;
}

.al-wf-side-panel .side-panel-dd {
    width: 33%;
}

.al-wf-selected-row, .al-wf-selected-row .res-severe, .al-wf-selected-row .al-res-severe {
    background-color: #568ECB;
    color: #FFF;
}

.al-res-severe {
    color: #E50D34;
    font-weight: normal;
}

.al-wf-side-panel .al-res-severe {
    color: #1c1f21;
}

.al-wf-side-panel .al-sec-toggle {
    float: left;
    height: 12px;
    width: 12px;
    background: url("../images/5323_expanded_16.png") no-repeat right;
    padding-top: 5px;
}

.al-wf-side-panel .closed .al-sec-toggle {
    background: url("../images/5323_collapsed_16.png") no-repeat right;
}

.al-wf-side-panel .al-expand-content {
    cursor: pointer;
    width: 95%;
}

.al-wf-side-panel .closed .al-sp-sec-container {
    display: none;
}

.al-wf-side-panel .al-expand-content .outside-req-date {
    float: right;
}

.al-wf-side-panel .al-reject-btn {
    margin-left: 8px;
}

.al-wf-side-panel .al-modifications ul {
    list-style-type: disc;
    margin-left: 12px;
}

.wf_al-sec .pat-req-icon {
    float: left;
    width: 16px;
    height: 16px;
    background: url("../images/6965_16.png") no-repeat right;
    padding-left: 2px;
    margin-right: 2px;
}

.al-wf-side-panel .al-directwrite-sp-banner {
    padding: 10px;
    border-left: 2px solid #A352CC;
    background-color: #DAA9EB;
}

.al-wf-side-panel .al-directwrite-sp-banner .pat-req-icon {
    margin-right: 8px;
}

.al-wf-side-panel .al-directwrite-sp-banner .al-directwrite-sp-banner-msg {
    font-size: 12px;
}

/*Changes for Allergies modify*/
.al-wf-save-button, .al-wf-cancel-button, .al-wf-edit-mode, .al-wf-no-edit-mode {
    display: none;
}

.al-wf-edit-mode .al-wf-cancel-button, .al-wf-edit-mode .al-wf-save-button, .al-wf-modify-button {
    display: block;
}

.al-wf-side-panel-reaction {
    padding-top: 8px;
}

.al-wf-side-panel-select {
    min-width: 100px;
    display: block;
}

.al-wf-side-panel-text-comment {
    width: 100%;
    display: block;
    padding-top: 8px;
}

.al-wf-side-panel-text-input {
    width: 90%;
    min-height: 75px;
    display: block;
}

.al-wf-side-panel-options-list {
    padding-bottom: 12px;
}

.al-wf-side-panel-options-list dd {
    min-width: 33%;
}

.al-wf-side-panel-selector-spacing {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 5px;
}

.al-wf-side-panel-comments {
    width: 100%;
}

.al-wf-side-panel-remove-icon {
    background: url(../images/mpages-sprite.png) no-repeat -80px 0;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    float: right;
}

.al-wf-side-panel-remove-icon:hover {
    background: url(../images/mpages-sprite.png) no-repeat -101px 0;
    cursor: pointer;
}

.al-wf-side-panel-result-list dt {
    display: block;
    padding: 0 0 1px 8px;
    box-sizing: border-box;
    vertical-align: text-top;
}

.al-wf-side-panel-reactions {
    margin: 4px 0 4px 0;
}

.al-wf-side-panel-reaction-list, .al-wf-edit-reaction {
    width: 90%;
    display: block;
}

.al-wf-side-panel-dummy-search {
    width: 330px;
    height: 24px;
}

.al-wf-side-panel-result-list .pat-req-mod-icon {
    float: left;
    width: 9px;
    height: 9px;
    background: url("../images/dot.png") no-repeat right;
    margin-top: 5px;
    margin-right: 5px;
}

.al-wf-side-panel-free-text-input-error {
    border: 1px solid #E50D34;
}

.al-wf-side-panel-error-msg-text {
    font-size: 12px;
    font-weight: normal;
    color: #E50D34;
}

.al-wf-side-panel .sp-alert-banner .warning-msg {
    border-left: 1px solid #ffedad;
}

/* Styles for search container and highlighting a row */
.allergy-search {
    width: 150px;
    height: 18px;
    border: 1px solid #A0A0A0;
}

.al-search-container {
    float: right;
    width: 200px;
}

.al-search-padding {
    padding-bottom: 12px;
}

.al-row-selected {
    background-color: #568ECB;
    color: #FFF;
}

.al-search-container .add-icon {
    cursor: pointer;
}

.al-proc-row {
    cursor: pointer;
}

.al-vocab-select {
    display: block;
    float: right;
    padding-right: 4px;
}

.al-vocab-select select {
    height: 22px;
}

.al-free-text-item {
    border-top: 1px solid #DDD;
}

.al-free-text-item .disabled {
    border-top: 1px solid #DDD;
    background-color: #DDD;
}

.al-proc-date-label {
    display: block;
}

.al-sp-actions {
    display: inline-block;
}

.al-save-error-message {
    width: 100%;
    display: inline-block;
}

.al-save-error-message > .error-container {
    width: 100%;
    box-sizing: border-box;
    border-left: 2px solid #C00;
}

/* Changes for HI table */
.al-wf-hi-ext-label {
    border-left: 2px solid #A352CC;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    background-color: #DAA9EB;
}

.al-wf-outsiderecords-button button {
    background-color: #DAA9EB;
    padding: 3px;
}

.al-wf-hi-open-label {
    background-color: #FFFFFF;
}

.al-wf-hi-banner-container {
    font-size: 12px;
    font-weight: normal;
    color: #3E3E3E;
    zoom: 1;
    overflow: hidden;
    padding: 10px;
}

.al-wf-hi-banner-container div {
    display: inline-block;
    vertical-align: middle;
}

.al-wf-hi-ext-btn {
    font-size: 12px;
    font-weight: normal;
    background-color: #EADDEF;
    color: #3E3E3E;
}

.al-wf-hi-container {
    margin: 1% 0;
}

.al-wf-hi-data-label, .al-wf-hi-error-data-label {
    margin-left: 5px;
    vertical-align: middle;
    font-weight: bold;
    position: absolute;
}

.al-wf-pull-right {
    float: right;
}

.al-wf-comm-loading {
    vertical-align: middle;
    background: transparent url(../images/6439_24.gif) no-repeat scroll center;
}

.al-wf-loading {
    display: none;
    background: url(../images/bgFFFop50.png) center;
    position: absolute;
    width: 100%;
    vertical-align: middle;
}

.al-wf-hi-pager-container .paginator {
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

.al-wf-externalData {
    height: 22px;
    width: 22px;
}

.al-wf-panel-source {
    display: inline;
}

.al-wf-panel-source.al-wf-title-text {
    vertical-align: 6px;
    margin-left: 5px;
}

.al-wf-hi-table-rendered {
    position: relative;
}
