/* All classes in this file should be prefixed with the components namespace psrl */
/*.psrl {background-color:green;}*/
.pwx_prsl_result_details{background-color:transparent;word-break: break-all;}
.psrl-nopad-info {word-wrap: break-word;clear:both;overflow-x:hidden;overflow-y:hidden;background: #ffffff;}
.psrl_single_sub_sec_dt {width:100%;float:left;display:inline-block;background-color: #CDDCEE;word-wrap:break-word;}
.psrl_sub_sec_link {text-decoration:none;color:#3E3E3E;cursor:pointer;word-wrap:break-word; }
.psrl_sub_sec_link:hover {text-decoration:none;color:#3E3E3E;cursor:pointer;word-wrap:break-word;}
.psrl-sub-sec-hd-tgl{background:url(../images/sprite_green.png) -36px 0;font-size:1px;
		color:#CDDCEE;height:7px;width:7px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px;}
.psrl-sub-sec-hd-tgl-close{background:url(../images/sprite_green.png) -28px 0;font-size:1px;
		color:#CDDCEE;height:9px;width:5px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px;}
.psrl_single_dt_wpad {width:97.5%;float:left;display:inline-block; margin-right:1%; padding-left: .5%;}
.psrl_grey_border-info {float:left;display:inline-block;width:99%;border:1px solid #EDEDED; word-wrap: break-word;clear:both;padding:0 0.5%;overflow-x:hidden;overflow-y:auto;background: #ffffff;}
.psrl_grey_no_top_border-info {border-bottom:1px solid #EDEDED; border-right:1px solid #EDEDED; border-left:1px solid #EDEDED; border-top: 0; word-wrap: break-word;clear:both;padding:0 0.5%;overflow-x:hidden;overflow-y:auto;background: #ffffff;}
.psrl_result_link{text-decoration:none;color: Black;}
a:link.psrl_result_link {text-decoration:none;color: Black;}
a:visited.psrl_result_link {text-decoration:none;color: Black;}
a:hover.psrl_result_link {text-decoration:underline;color: Black;}
a:focus.psrl_result_link {text-decoration:none;color: Black;}
a:active.psrl_result_link {text-decoration:none;color: Black;}
.pwx_prsl_no_text_decor {text-decoration: none !important;}
.pwx_prsl_grey_link {text-decoration:none;color:#A0A0A0;}
a:link.pwx_prsl_grey_link {text-decoration:none;color:#A0A0A0;}
a:visited.pwx_prsl_grey_link {text-decoration:none;color:#A0A0A0;}
a:hover.pwx_prsl_grey_link {text-decoration:underline;color:#A0A0A0;}
a:focus.pwx_prsl_grey_link {text-decoration:none;color:#A0A0A0;}
a:active.pwx_prsl_grey_link {text-decoration:none;color:#A0A0A0;}
.pwx_prsl_text{font-size: 11px;}
.pwx-prsl_add-icon{background:url(../images/3941_16.png) no-repeat; 
	        width:16px;height:16px; display:inline-block; padding-right: 5px;}
.pwx-prsl_add-icon-plus{background:url(../images/3941_16.png) no-repeat; 
	        width:16px;height:16px; display:inline-block;}	
.pwx-prsl_add-icon-plus-arrow{background:url(../images/3943_16.gif) no-repeat; 
	        width:16px;height:16px; display:inline-block; padding-right: 5px;}