/* All classes in this file should be prefixed with the components namespace av */
/*.av {background-color:green;}*/
.pwx_vi_result_details{background-color:transparent;word-break: break-all;}
.pwx_vi_2_col_enc_lbl{width:35%;float:left;display:inline-block;margin-right:1%;padding-left: .5%;color: #A0A0A0;word-wrap:break-word;}
.pwx_vi_2_col_enc_value{width:61.5%;float:left;display:inline-block;margin-left:1%;word-wrap:break-word;}
.pwx_vi_pwxnopad_enc-info {clear:both;height: 18px;overflow:hidden;background:#ffffff;}
.pwx_vi_enc_div_blue_border{border-bottom:2px solid #0070C0;border-right:2px solid #0070C0;border-left:2px solid #0070C0;}
.pwx_vi_enc_head_blue_border{border-top:2px solid #0070C0;border-right:2px solid #0070C0;border-left:2px solid #0070C0;}
.pwx_vi_2_col_enc_doc_text{width:70%;float:left;display:inline-block;margin-right:1%;padding-left: 7%;color: #A0A0A0;word-wrap:break-word;}
.pwx_vi_2_col_enc_doc_date{width:20%;float:left;display:inline-block;margin-left:1%;word-wrap:break-word;}
.pwx_vi_2_col_enc_healthplan_name{width:60%;float:left;display:inline-block;overflow: hidden;margin-right:1%;padding-left: 7%;word-wrap:break-word;white-space: nowrap}
.pwx_vi_2_col_enc_healthplan_fclass{width:30%;float:left;display:inline-block;margin-left:1%;overflow: hidden;word-wrap:break-word;white-space: nowrap }
.pwx_vi_grey_border_no_top{border-bottom:1px solid #EDEDED; border-right:1px solid #EDEDED;border-left:1px solid #EDEDED;}
.pwx_vi_grey_border-info {border-bottom:1px solid #EDEDED; border-right:1px solid #EDEDED; border-left:1px solid #EDEDED; border-top: 0; word-wrap: break-word;clear:both;padding:0 0.5%;overflow-x:hidden;overflow-y:auto;background: #ffffff;}
.pwx_vi_grey_border_all{border:1px solid #EDEDED;}
.pwx-vi-bgc{background: white}
.pwx_vi_grey_border-nowordwrap_info {border-bottom:1px solid #EDEDED; border-right:1px solid #EDEDED; border-left:1px solid #EDEDED; border-top: 0;clear:both;padding:0 0.5%;overflow-x:hidden;overflow-y:auto;background: #ffffff;}
.pwx_vi_small_text {font-size: 11px;}
.pwx_vi_normal_line_height {line-height:120%;}
.pwx_vi_div_scroll {overflow-y:auto;}
.pwx_vi_single_dt_wpad {width:97.5%;float:left;display:inline-block; margin-right:1%; padding-left: .5%;}
.pwx_vi_pwxnopad-info {word-wrap: break-word;clear:both;overflow-x:hidden;overflow-y:hidden;background: #ffffff;}
.pwx_vi_single_sub_sub_sec_dt {width:97%;float:left;display:inline-block;padding-left:3%;padding-top: 3px;padding-bottom: 3px;}
.pwx_vi_grey_dash_border_bottom-info {border-bottom: 1px dashed #A0A0A0;word-wrap: break-word;padding:0 0.5%;margin-left:0.5%;background: #ffffff;}
.pwx-vi_sub-sec-hd-tgl{background:url(../images/sprite_green.png) -36px 0;font-size:1px;
	        color:#CDDCEE;height:7px;width:7px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px;}
 .pwx-vi_sub-sec-hd-tgl-close{background:url(../images/sprite_green.png) -28px 0;
	        font-size:1px;color:#CDDCEE;height:9px;width:5px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px;}
.pwx_vi_white_sub-sec-hd{font-size:12px;font-weight:normal;padding:0 3px;zoom:1;}
.pwx_vi_single_sub_sec_white_dt {width:100%;float:left;display:inline-block;}
.pwx_vi_sub_sub_sec_link {text-decoration:none;cursor:pointer; overflow-x:hidden;}
.pwx_vi_sub_sub_sec_link:hover {text-decoration:none;cursor:pointer; overflow-x:hidden;}
.pwx_vi_header_black {color: #3E3E3E;font-weight:bold}
.pwx_vi_doc_class {border-bottom:1px solid #EDEDED;border-right:1px solid #EDEDED;border-left:1px solid #EDEDED;}
.pwx_vi_result_link{text-decoration:none;color: Black;}
.pwx_vi_result_link:hover {text-decoration:underline;color: Black;}
.pwx_vi_sub_sec_link {text-decoration:none;color:#3E3E3E;cursor:pointer;word-wrap:break-word; }
.pwx_vi_sub_sec_link:hover {text-decoration:none;color:#3E3E3E;cursor:pointer;word-wrap:break-word; }
.pwx_vi_sub_sub_sec_link {text-decoration:none;cursor:pointer; overflow-x:hidden;}
.pwx_vi_sub_sub_sec_link:hover {text-decoration:none;cursor:pointer; overflow-x:hidden;}
.pwx_vi_blue_link {text-decoration:none;color:#3380E5;}
.pwx_vi_blue_link:hover {text-decoration:underline;color:#3380E5;}
.pwx_vi_sub_sub_sec_link {text-decoration:none;cursor:pointer; overflow-x:hidden;}
.pwx_vi_sub_sub_sec_link:hover {text-decoration:none;cursor:pointer; overflow-x:hidden;}
#pwx_vi-loading_text {color:#808080;text-align: center;}
.pwx_vi_sub_sub_single_dt_wpad {width:94%;float:left;display:inline-block; margin-right:1%; padding-left: 4%;overflow-x:hidden;overflow-y:auto;word-wrap: break-word;}
.pwx_vi_sub_sub-sec-hd{font-size:12px;font-weight:normal;color:#3E3E3E;vertical-align: middle;background: url(../images/pwx_sub_sec_dashed_line.png) repeat-x;overflow-x:hidden;overflow-y:auto;word-wrap: break-word;}