/* All classes in this file should be prefixed with the components namespace ahp */
/*.ahp {background-color:green;}*/
.pwx_hp_div_scroll{padding:1%;}
.pwx_hp_result_details {background-color:transparent;word-break: break-all;}
.pwx_hp_tabs_data {border:1px solid #ddd;z-index:1;}
.pwx_hp_tabs {color:#000;background-color: #fff;overflow-y:visible;height:21px;}
.pwx_hp_tabs a {color:#000;float: left;font-size: 12px;padding-left:0.5%;text-decoration: none;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.pwx_hp_tabs_active {float:left;text-align:center;width:22.5%;height:19px;font-weight:bold;border-style:solid;border-width:1px 0px 1px 1px;border-color:#ddd #ddd #fff #ddd;font-size: 11px;background-color: #fff;}
.pwx_hp_tabs_inactive {float:left;text-align:center;width:25.75%;height:20px;background-color:#fafafa;border-style:solid;border-width:1px 1px 1px 1px;border-color:#ddd #ddd #ddd #ddd;}
.pwx_hp_tabs_noncurrent{background-color: #fafafa;font-weight:normal;cursor:pointer;}
.pwx_hp_tabs_current{border-color: #ddd #ddd transparent #ddd;font-weight:bold;z-index:1000;background: #ffffff !important;height:20px;}
.pwx_hp_tabs_none {float:left;width:50%;background-color:#fff;border-top:1px solid #fff;border-bottom:1px solid #ddd;padding:0}
.pwx_hp_dl{word-wrap: break-word;clear:both;overflow-x:hidden;overflow-y:hidden;background: #ffffff;}
.pwx_hp_dt{width:100%;float:left;display:inline-block;background-color: #CDDCEE;word-wrap:break-word;}
.pwx_hp_sub_sec_link {text-decoration:none;color:#3E3E3E;cursor:pointer;word-wrap:break-word;}
.pwx_hp_sub_sec_link:hover {text-decoration:none;color:#3E3E3E;cursor:pointer;word-wrap:break-word;}
.pwx-hp-sub-sec-hd-tgl{background:url(../images/sprite_green.png) -36px 0;font-size:1px;color:#CDDCEE;height:7px;width:7px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px;}
.pwx-hp-sub-sec-hd-tgl-close{background:url(../images/sprite_green.png) -28px 0;font-size:1px;color:#CDDCEE;height:9px;width:5px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px;}
.pwx_hp_header_black {color: #3E3E3E;}
.pwx_hp_semi_bold {font-weight: 600;}
.pwx_hp_grey_border-info{border-bottom:1px solid #EDEDED; border-right:1px solid #EDEDED; border-left:1px solid #EDEDED; border-top: 0; word-wrap: break-word;clear:both;padding:0 0.5%;overflow-x:hidden;overflow-y:auto;background: #ffffff;}
.pwx_hp_small_text {font-size: 11px;}
.pwx_hp_col_lbl{width:25%;float:left;display:inline-block;margin-right:1%;padding-left: .5%;}
.pwx_hp_grey_border_top-info {border:1px solid #EDEDED; word-wrap: break-word;clear:both;padding:0 0.5%;overflow-x:hidden;overflow-y:auto;background: #ffffff;}
.pwx_hp_single_dt_wpad {width:97.5%;float:left;display:inline-block; margin-right:1%; padding-left: .5%;}
.pwx_hp_col_value{float:left;display:inline-block}