/* All classes in this file should be prefixed with the components namespace acf */
/*.acf {background-color:green;}*/
.pwx_cf_result_details{background-color:transparent;word-break: break-all;}
.pwx-cf-sub-sec-hd-tgl{background:url(../images/sprite_green.png) -36px 0;font-size:1px;color:#CDDCEE;height:7px;width:7px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px;}
.pwx-cf-sub-sec-hd-tgl-close{background:url(../images/sprite_green.png) -28px 0;font-size:1px;color:#CDDCEE;height:9px;width:5px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px;}
.pwx_cf_grey_border_top_nowordwrap-info{border:1px solid #EDEDED;clear:both;padding:0 0.5%;overflow-x:hidden;overflow-y:auto;background: #ffffff;}
.pwx_cf_grey_border-nowordwrap_info {border-bottom:1px solid #EDEDED; border-right:1px solid #EDEDED; border-left:1px solid #EDEDED; border-top: 0;clear:both;padding:0 0.5%;overflow-x:hidden;overflow-y:auto;background: #ffffff;}
.pwx_cf_prov_consent_text_dt {width:89.5%;float:left;display:inline-block; margin-right:1%; padding-left: .5%;white-space: nowrap;overflow:hidden;}
.pwx_cf-cancel-icon{background:url(../images/3727.gif) no-repeat; width:16px;height:16px; display:inline-block; padding-right: 5px;}
.pwx_cf_single_dt_wpad {width:95.5%;float:left;display:inline-block; margin-right:1%; padding-left: .5%;}
.pwx_cf_result_link{text-decoration:none;color: Black;overflow:hidden}
.pwx_cf_result_link:hover{color: Black;overflow:hidden}
.pwx_cf_nopad-info {word-wrap: break-word;clear:both;overflow-x:hidden;overflow-y:hidden;background: #ffffff;}
.pwx_cf_single_sub_sec_dt {width:100%;float:left;display:inline-block;background-color: #CDDCEE;word-wrap:break-word;}
.pwx_cf_header_black {color: #3E3E3E;padding-left: 5px;}
.pwx_cf_small_text {font-size: 11px;}
.pwx_cf_nopad_enc-info {height: 18px;overflow:hidden;background:#ffffff;}
.pwx_cf_grey_border-info {border-bottom:1px solid #EDEDED; border-right:1px solid #EDEDED; border-left:1px solid #EDEDED; border-top: 0; word-wrap: break-word;clear:both;padding:0 0.5%;overflow-x:hidden;background: #ffffff;}
.pwx_cf_sub_sub_sec_link {text-decoration:none;cursor:pointer; overflow-x:hidden;}
.pwx_cf_sub_sub_sec_link:hover {text-decoration:none;cursor:pointer; overflow-x:hidden;}
.pwx_cf_2_col_date_consentdoc{width:20%;float:left;display:inline-block;margin-left:1%;overflow:hidden}
.pwx_cf_2_col_name_consentdoc{width:75%;float:left;display:inline-block;margin-right:1%;padding-left: .5%;overflow:hidden}
.pwx_cf_div_scroll {overflow-y:auto;}
.pwx_cf_no_text_decor {text-decoration: none !important;}
.pwx_cf_grey_link {text-decoration:none;color:#A0A0A0;}
.pwx_cf_grey_link:hover {text-decoration:none;color:#A0A0A0;}
.pwx-cf_add-icon{background:url(../images/3941_16.png) no-repeat; 
	        width:16px;height:16px; display:inline-block; padding-right: 5px;}
.pwx-cf_add-icon-plus{background:url(../images/3941_16.png) no-repeat; 
	        width:16px;height:16px; display:inline-block;}	
.pwx-cf_add-icon-plus-arrow{background:url(../images/3943_16.gif) no-repeat; 
	        width:16px;height:16px; display:inline-block; padding-right: 5px;}