.ac-table-cell{
	width:109px;
}
.acdisplayDates{ 
        padding:10px; font-weight:bold; 
} 
.acrecordBegins{ 
        padding:10px;
        font-weight: bold;
}

.acDateColumn{
	border-right:1px solid #a5a5a5;
	height:17px;
	font-family: tahoma;
	font-size: 10px;
	color: #7b7b7b;
	text-align:right;
}

.acDateToday{
	border-right:1px solid #a5a5a5;
	height:17px;
	font-family: tahoma;
	font-size: 11px;
	color: #222222;
	text-align:right;
}

.acTimeToday{
	border-right:1px solid #cdcdcd;
	border-left:1px solid #cdcdcd;
	height:17px;
	font-family: tahoma;
	font-size: 11px;
	color: #222222;
	text-align:right;
}

.acTimeColumn{
	border-right:1px solid #cdcdcd;
	border-left:1px solid #cdcdcd;
	font-family: tahoma;
	font-size: 10px;
	color: #7c7c7c;
	height:17px;
	text-align:right;
}
.acDispHeader{
	padding-top:10px;
}
.acDispMain{
	height:20px;
	width:auto;
	vertical-align:baseline;
}
.acDispLabel{
	font-size:11px;
	color:#505050;
	font-family:tahoma;
	padding-right:3px;
}
.acDispValue{
	font-size:18px;
	font-weight:bold;
	color:#505050;
	font-family:tahoma;
	padding-right:25px;
}
.acTbDiv{
	height: 300px;
	width: 100%; 
	overflow-y: hidden; 
	overflow-x: scroll;
	display:inline-block;	
}

.acGraphContainer .jqplot-xaxis{
	display: none;
}

.acResultTable{
	border-left:1px solid #CDD2D6;
}

.acResultTable td{
	border-right:1px solid #a5a5a5;
	text-align:right;
}


.acDiscBackground{
	background : #EEEEE6;
}

.acTableCellProperties{
	font-family:tahoma;
	font-size:11px;
	color:#222222;
}

.acIndFlag{
	line-height:21px;
	width:6px;
}

.acInstIcon{
	background:url("../images/antiCoag_colors.png") no-repeat -10px -310px;
    display:inline-block;
	height:16px;
	width: 16px;
}

.acInstIconConstant{
    background:url("../images/antiCoag_colors.png") no-repeat -10px -335px;
    display:inline-block;
    height:16px;
    width: 16px;
}
.acSplInst{
	display:none;
}

.ac-hvr{
	word-wrap:break-word;
	width:auto;
	max-width: 400px;
}

.acTable tr .odd{
	background-color: #FAF4B9;
}

.acTable td{
	align: center;
}

.series_icons{
	width:20px;
	height:20px;
}


.ac-legendItem{
	padding-left:18px;
	 line-height:16px;
}

.ac-legendHeader{
	padding-left:0px;
	 font-weight:bold;
}

.ac-legendLabel{
	font-size:11px;
	font-family:Tahoma; 
	padding-left:6px;
}

.ac-legendRange{
	font-size:11px; 
	font-family:Tahoma; 
	padding-left:6px;
}

.ac-legendUnits{
	font-size:11px; 
	font-family:Tahoma; 
	padding-left:6px;
}

.ac-legendCheck{
	padding-right:6px;
}

.ac-hdr{
	background-color:#B0C4DE;
	padding-left:6px; 
	font-weight:bold;
	word-wrap: normal;
	white-space: nowrap;
}

.ac-sub-hdr{
	background-color:#CED8F6; 
	padding-left:16px; 
	font-weight:bold;
}

.ac-bold{
	font-weight:bold;
}

.ac-sub-item{
	padding-left:16px; 
	line-height:21px;
    word-wrap:normal;
}

.ac-sub-sub-item{
	padding-left:26px; 
	line-height:21px;
    word-wrap:normal;
    white-space:nowrap;
}

.closed .ac-sub-sub-item{
	display:none;
}

.ac-special-legend{
	margin-left:25px;
}

.acGraphContainer {
    width: 65%;
    vertical-align: top;
    display: inline-block;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 30px
}

.graphContainerLeft {
    width: 23%;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
}

.ac-yaxis {
    width: 60px;
    display: table-cell;
    overflow: hidden;
    height: 310px;
    top:-6px;
}

.ac-y2axis {
    width: 50px;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    height: 310px;
}

.ac-y2axis-inner {
    width: 50px;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    height: 310px;
    left: -18px;
    top:-6px;
}

.acGraph {
    height: 298px;
}

.ac-legend-wrapper {
    vertical-align: top;
    display: table-cell;
    padding:7px 0px 7px 7px;
    height: 264px;
    overflow: hidden;
}

.ac-legend-inner {
    max-height: 260px;
    overflow: hidden;
}

.ac-table-legend {
    margin-top: 10px;
}

.ac-table-space{
	height: 0px;
}

.ac-taken-legend.closed .ac-table-cell{
	display:none;
}

.ac-administered-legend.closed .ac-table-cell{
	display:none;
}

.ac-prescribed-legend.closed .ac-table-cell{
	display:none;
}

.ac-discontinued-legend.closed .ac-table-cell{
	display:none;
}

.graphContainerLeft table {
	table-layout: fixed;
}

.ac-label {
	width: 90%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
    display: inline-block;
}

.ac-no-info {
	background: url("../images/6775_16.png") no-repeat 0 0;
	display: inline-block;
	height: 16px;
	width: 16px;
}

.acDisp{
	padding-top:2px;
    width:auto;
    display:inline-block;
}

.acOuterBorder{
	border-left:1px solid #CDCDCD;
	border-top:1px solid #CDCDCD;
	border-bottom:1px solid #CDCDCD;
}

.acOuter{
	border-bottom:1px solid #CDCDCD;
}

.acOuterComponent{
	padding-left:20px;
}

.acheader{
	padding-bottom:8px;
	padding-top:10px;
}

.acBackColor{
	background-color:#FFECC7;
}

.acTakenTotal .EN_US,.acTakenTotal .EN_AU, .acTakenTotal .EN_GB{
	background:url("../images/ac_en_US.png") no-repeat 0 0;
	display:inline-block;
	height:160px;
	width:20px;
	margin-top: 78px;
}

.acTakenTotal .FR_FR{
	background:url("../images/ac_fr_FR.png") no-repeat 0 0;
	display:inline-block;
	height:160px;
	width:20px;
	margin-top: 78px;
}

.acTakenTotal .DE_DE{
	background:url("../images/ac_de_DE.png") no-repeat 0 0;
	display:inline-block;
	height:160px;
	width:20px;
	margin-top: 78px;
}

.acTakenTotal .ES_ES{
	background:url("../images/ac_es_ES.png") no-repeat 0 0;
	display:inline-block;
	height:160px;
	width:20px;
	margin-top: 78px;
}

.acTakenTotal{
	width:3%;
	display:inline-block;
	overflow:hidden;
}

.acDispValue{
	font-size:18px;
	font-weight:bold;
	color:#505050;
	font-family:tahoma;
	padding-right:25px;
}

.acInst{
	display:inline-block;
}

.acHeld{
	padding-right:4px;
	padding-top:2px;
	padding-bottom:2px;
}

.acPT{
	min-height:23px;
	max-height:23px;
}

.acHeight{
	line-height:23px;
}

.acPres{
	line-height:28px;
}

.acDisc{
	line-height:27px;
	border-bottom:1px solid #D3D3D3;
}

.acTaken{
	line-height:22px;
}

.acInstAlign{
	vertical-align:middle;
	padding-right:3px;
}

.acValPadding{
	padding-top:3px;
	padding-bottom:4px;
	padding-right:4px;
}

/** Classes used for the Anti-Coagulation Warfarin Trending Alignment of Warfarin SpreadSheets with Table Legends inorder to maintain the height of the both the headers**/

.acsub-sec-hd{
	font-size:12px;
	font-weight:normal;
	color:#3E3E3E;
	background:#CDDCEE;
	padding:0 3px;
	zoom:1;
	overflow:hidden;
	text-overflow: ellipsis;
}

.acsub-sec-title{
	color:#3E3E3E;
}

.acsub-sec-hd-tgl {
	background:url(../images/sprite_green.png) -36px 0px;
	 font-size:1px;
	 color:#CDDCEE;
	 height:9px;
	 width:7px;
	 float:left;
	 cursor:pointer;
	 display:inline-block;
	 margin:5px 4px 5px 2px;
}

.acSubHdr{
	line-height:19px;
	background-color:#CED8F6;
}

.closed .acsub-sec-hd-tgl {
	background:url(../images/sprite_green.png) -28px 0px;
	height:9px;
	width:5px;
}

.ac-yaxis .jqplot-yaxis-tick{
    width:40px;
}

.ac-PTIcon{
    background:url("../images/antiCoag_colors.png") no-repeat -10px -37px;
    display:inline-block;
    height:20px;
    width:20px;
    margin-left:5px;
}

.ac-prescribedIcon{
    background:url("../images/antiCoag_colors.png") no-repeat -10px -66px;
    display:inline-block;
    height:20px;
    width:20px;
    margin-left:5px;
}

.ac-discontinuedIcon{
    background:url("../images/antiCoag_colors.png") no-repeat -10px -6px;
    display:inline-block;
    height:20px;
    width:20px;
    margin-left:5px;
}

.ac-administeredIcon{
    background:url("../images/antiCoag_colors.png") no-repeat -10px -96px;
    display:inline-block;
    height:20px;
    width:20px;
    margin-left:5px;
}

.ac-heldIcon{
    background:url("../images/antiCoag_colors.png") no-repeat -10px -126px;
    display:inline-block;
    height:20px;
    width:20px;
}

.ac-takenIcon{
    background:url("../images/antiCoag_colors.png") no-repeat -10px -154px;
    display:inline-block;
    height:20px;
    width:20px;
    margin-left:5px;
}

.ac-specialinstructionsIcon{
    background:url("../images/antiCoag_colors.png") no-repeat -10px -187px;
    display:inline-block;
    height:20px;
    width:20px;
}

.ac-INRIcon{
    background:url("../images/antiCoag_colors.png") no-repeat -10px -217px;
    display:inline-block;
    height:20px;
    width:20px;
}
	
.ac-goalINRIcon{
    background:url("../images/antiCoag_colors.png") no-repeat -10px -274px;
    display:inline-block;
    height:20px;
    width:20px;
}
	
.ac-graphNotDisplayIcon{
    background:url("../images/antiCoag_colors.png") no-repeat -10px -244px;
    display:inline-block;
    height:20px;
    width:20px;
}

.ac-treatment-Ellipsis{
        max-width:40%;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        margin-right:10px;
}

.ac-dispValueDiv{
        display:inline-block;
}

.ac-yaxis-wrapper {
    display: table-cell;
    height: 310px;
    top: -6px;
    min-width: 60px;
}

.acDispWrapper{
    display:inline;
    margin-right:20px;
}