.reh_app-info,.reh_app-info-hdr{padding:0 1%;word-wrap:break-word;zoom:1}
.reh_app-sub-sec-hdr{background:#e8eff9;display:block;font:normal 11px Tahoma,sans-serif;width:100%}
.reh_app-hdr-txt{padding:0 1%}
.reh_app-info-hdr{background:#efefef;color:#505050;font:normal 11px Tahoma,sans-serif}
.reh_app-info dt,.reh_app-det-hd{position:absolute;visibility:hidden}
.reh_app-info{line-height:1.5em;border-bottom:1px solid #e8eff9;zoom:1}
.reh_app-dt{float:left;padding-right:1%;width:22%}
.reh_app-tp{float:left;padding-left:2%;padding-right:5px;width:34%}
.reh_app-lc{float:left;padding-left:1%;width:34%}