.bhas-info,.bhas-info-hdr{overflow:hidden;padding:0 1%;border-bottom:1px solid #EDEDED;word-wrap:break-word;}
.bhas-info dt{display:none;}
.bhas-name{width:30%;float:left;margin-right:1%;}
.bhas-res{width:41%;float:left;margin-left:1%;margin-right:1%;}
.bhas-dt{width:22%;float:left;margin-left:1%;}
.bhas-res a:active,.bhas-res a:hover{text-decoration:underline;}