.bp-wf-results-table{width:49.5%;border:2px solid #F0F0F0;border-collapse:seperate;border-spacing:2px 5px;}
.bp-wf-table1-position{float:left;}
.bp-wf-table2-position{float:right;}
.bp-wf-plan-name{text-align:right;background-color:#F0F0F0;color:#505050;width:50%;}
.bp-wf-plan-name-size{font-size:12px;padding:4px 4px 4px 0;}
.bp-wf-plan-result{text-align:left;background-color:#fffff;color:#0000;width:50%;}
.bp-wf-plan-result-size{font-size:12px;padding:4px 0 4px 4px;}