.pmc2-device-info {
	margin: 5px 0 11px 0;
	padding: 0 0 11px 3px;
	float: left;
	width: 300px;
	color: #666;
}

.pmc2-device-info b {
	color: #000;
	font-size: 14px;
	font-weight: normal;
}

.pmc2-device-header {
	font-weight: bold;
	font-size: 14px;
	color: #000;
}

.pmc2-device-info .pmc2-implant-date {
	font-size: 12px;
	color: #505050;
	margin-bottom: 11px;
}

.pmc2-device-info .pmc2-serial-number {
	font-size: 12px;
	color: #505050;
}

.pmc2-tooltip td {
	padding: 1px;
}

.pmc2-tooltip-labeltext {
	text-align:right;
	color:#505050;
}

.pmc2-tooltip-valuetext {
	text-align:left;
	color:#000000;
}

.pmc2-show-all {
	text-align: right;
	margin-top: 3px;
}

.pmc2-tablecol-event-type, .pmc2-tablecol-date, .pmc2-tablecol-time, .pmc2-tablecol-duration {
	display: inline-table;
	width: 20%;
	border: 0 none;
	padding: 3px 6px 3px 6px;
}

.pmc2-episode-tabular-data {
	margin-left: 300px;
	min-height: 100px;
}

.pmc2-sugg-match-content {
	width: 400px;
	float: left;
	margin-top: 18px;
	margin-right: 20px;
	border-right: 1px solid #dcdcdc;
	padding-right: 20px;
}

.pmc2-sugg-match-data {
	width: 260px;
	display: inline-block;
	padding-right: 20px;
}

.pmc2-matching-device-title {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #777676;
}

.pmc2-search-device-content-faceup {
	margin-left: 440px;
	width: 400px;
}
.pmc2-search-device-content-manage-dev {
	margin-left: 10px;
}

.pmc2-search-output {
	margin-top: 10px;
	background-color: #F6F6F6;
	border: 1px solid #dcdcdc;
	padding: 15px 10px 15px 10px;
	max-width: 450px;
	max-height: 68px;
}

.pmc2-search-data {
	width: 70%;
	float: left;
	margin: 2px 0px;
}

.pmc2-clear-columns {
	clear: both;
}

.pmc2-search-device-section {
	margin-left: 22px;
}

.pmc2-search-device-section label {
	font-size: 12px;
	color: #505050;
	margin-bottom: 10px;
}

input.pmc2-device-serial-text {
	width: 262px;
	padding: 2px 3px 2px 2px;
	font-size: 12px;
	color: #9f9f9f;
	margin-right: 5px;
	border: 1px solid #D0D3D5;
}

input.pmc2-find-device-btn, input.pmc2-associate-device-button, input.pmc2-add-device-button {
	cursor: pointer;
	padding: 2px 20px;
	font-size: 12px;
	background-color: #F6F6F6;
	border: 1px solid #B6B6B6;
}

.pmc2-search-device-inputs, .pmc2-search-results {
	padding-top: 10px;
}

.pmc2-add-device-btn {
	float: right;
	background-color: #F6F6F6;
	margin-top: 5px;
}

.pmc2-associate-device-btn {
	vertical-align: top;
	float: right;
	background-color: #F6F6F6;
	margin: 10px 10px 0px 0px;
}

.pmc2-search-patient-name {
	font-size: 14px;
	color: #154072;
	font-weight: bold;
	padding: 20px 10px 0px 10px;
}
.pmc2-serial-number {
	font-size: 14px;
	color: #505050;
}

.pmc2-disassociation-dialog-text .pmc2-serial-number{
	padding-left: 10px;
}
.pmc2-search-patient-dob {
	font-size: 12px;
	color: #505050;
	padding:0px 10px 20px 10px;
}
.pmc2-search-patient-details {
	font-size: 12px;
	color: #505050;
}
.pmc2-search-info-icon {
	float: left;
	width: 24px;
	vertical-align: top;
	padding: 10px 15px 0px 10px;
	height: 70px;
	text-align: center;
}

.pmc2-search-info-text {
	font-size: 12px;
	color: #000;
	padding: 15px 0px;
}

.pmc2-associate-info-text {
	height: 70px;
	width: 480px;
    float: left;
    text-align: justify;
	padding: 10px 10px 5px 0px;
	font-size: 12px;
}

.pmc2-search-device-content .pmc2-associate-info-text {
    width: 400px;
}

.pmc2-sugg-match-results {
	margin-right: 18px;
}

.pmc2-matching-device-title {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #777676;
}

.pmc2-search-info-text a {
	color: #000;
}

.pmc2-device-search-errorMsg span {
	color: #505050;
}

.pmc2-device-search-errorMsg span {
	color: #505050;
}

.pmc2-disassociation-info-text {
	display: inline-block;
	font-size: 12px;
	color: #000;
	vertical-align: top;
}

.pmc2-disassociation-info-bg {
	background-color: #F6F6F6;
	padding: 5px 15px;
}

.pmc2-disassociation-dialog-text {
	padding: 15px;
}

.pmc2-disassociation-info-icon {
	display: inline-block;
	margin-right: 10px;
}

.pmc2-no-device-border {
	padding:9px 10px 9px 36px; 
	border-left:2px solid #005fc9;
	background-color: #d7e5ff;
}

.pmc2-no-device {
	font-family: arial;
	font-weight: 700;
	font-size: 12px;
	color: #333;
	background-color: #d7e5ff;
	vertical-align: top;
	display: inline-block;
}

.pmc2-no-results-errorMsg {
	font-family: tahoma;
	font-size: 12px;
	color: #505050;
}

.pmc2-no-results-errorMsg b {
	color: #000000;
}

.pmc2-search-device-label {
	color: #777676;
}

.pmc2-manage-dev-disassociation {
	width: 50%;
	float: left;
	border-right: 1px solid #dcdcdc;
	padding-top: 10px;
}

.pmc2-manage-dev-association {
	margin-left: 50%;
	border-left: 1px solid #dcdcdc;
	padding-top: 10px;
}

.pmc2-manage-dev-undo {
	font-size: 11px;
	color: #777676;
	cursor: pointer;
}

.pmc2-manage-dev-assisted {
	padding: 10px;
}