/* All classes in this file should be prefixed with the components namespace hcmCandidates */

.hcmCandidates-table .hcmCandidates-plan-payer {
  width: 23%;
  margin-left: 1%;
  display: inline-block;
}

.hcmCandidates-table .hcmCandidates-createcase {
  margin: 0 6px 6px 6px;
}

/**
 * Need these so that the column headers align correctly with the table cells.
 */
.hcmCandidates-table .header-item {
  padding-right: 0;
  padding-left: 0;
}

.hcmCandidates-table .hcmCandidates-data-point {
  width: 30%;
  margin-left: 1%;
  display: inline-block;
  vertical-align: top;
}

.hcmCandidates-table .hcmCandidates-meta {
  color: #999;
}

.hcmCandidates-table .hcmCandidates-meta-label {
  font-weight: bold;
  margin-right: 0.3em;
}

.hcmCandidates-table .hcmCandidates-data-point.header-item {
  padding: 0.5em 0;
}

.hcmCandidates-supporting-fact .hcmCandidates-table {
  margin: 0.5em 0;
}

.hcmCandidates-identification-detail-header {
  font-size: 1.1em;
  margin: 0.5em 0;
  font-weight: bold;
}

.hcmCandidates-table .sub-sec-display {
  font-weight: bold;
}

.hcmCandidates-cm-name {
  font-weight: bold;
}

.hcmCandidates-filter-form {
  float: right;
}

.hcmCandidates-filters-wrapper {
  float: left;
}

.hcmCandidates-filters {
  padding-bottom: 5px;
}

.hcmCandidates-detail-icon {
  display: inline-block;
  background: url(../images/5100.png) no-repeat;
  width: 16px;
  height: 16px;
  padding-right: 5px;
  margin-left: 1%;
}

.hcmCandidates-assigned-icon {
  display: inline-block;
  background: url(../images/4021_12.png) no-repeat;
  width: 12px;
  height: 12px;
  margin-left: 1%;
  margin-top: 3px;
}

.hcmCandidates-create-case-checkbox {
  margin-top: 3px;
}

.hcmCandidates-inline-list dt,
.hcmCandidates-inline-list dd {
  display: inline-block;
}

.hcmCandidates-inline-list dd {
  margin-left: 0.5em;
}

.hcmCandidates-inline-list dd + dt {
  margin-left: 1em;
}

.hcmCandidates-filter-form select {
  margin-right: 2em;
  margin-left: .25em;
}

.hcmCandidates-error-icon {
  background: url(../images/6275_16.png) no-repeat;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  height: 16px;
  display: inline-block;
}

.hcmCandidates-info-icon {
  background: url(../images/5104_16.png) no-repeat;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  height: 16px;
  display: inline-block;
}

.hcmCandidates-no-supporting-facts {
  color: #A0A0A0;
  padding-top: 5px;
}

/*
 * These styles shouldn't be needed when we consume MPage UI demographics banner API. These styles should be removed
 * when http://jira2.cerner.corp/browse/HICAREDEV-214 is done.
 */
.hcmCandidates-demo-banner {
  border-bottom: 1px solid;
}

.hcmCandidates-inline-list li, .hcmCandidates-inline-list li span {
  display: inline-block;
  font-weight: normal;
  margin-right: .75em;
}

.hcmCandidates-inline-list li span {
  color: #999;
  font-size: .9em;
  margin-right: .25em;
}

.hcmCandidates-error-message {
  margin-left: 45px;
}

.hcmCandidates-failed-candidate-error-message {
  margin-left: 70px;
}

.hcmCandidates-failed-candidates {
  margin-left: 95px;
}

#hcmCandidatesCandidateErrorBody {
  margin-bottom: 10px;
}

.hcmCandidates-table .hcmCandidates-name {
  width: 18%;
}

.hcmCandidates-table .hcmCandidates-risk-score {
  width: 5%;
}

.hcmCandidates-table .hcmCandidates-programs {
  width: 14%;
}

.hcmCandidates-table .hcmCandidates-visit-date {
  width: 10%;
}

.hcmCandidates-table .hcmCandidates-aligned-providers {
  width: 14%;
  margin-left: 1%;
}

.hcmCandidates-table .hcmCandidates-visit-date div div {
  color: #999;
}

.hcmCandidates-table .hcmCandidates-name .hcmCandidates-candidate-name {
  font-weight: bold;
}

.hcmCandidates-table {
  padding-top: 10px;
  clear: both;
}

.hcmCandidates-button-separator {
  border-left: 1px solid #a0a0a0;
  padding-left: 2em;
  float: right;
}

.hcmCandidates-assign-cases {
  margin: 13px 0;
}

.alert-msg {
  padding-bottom: 10px;
}

.hcmCandidates-none {
  clear: both;
}

.hcmCandidates-table .hcmCandidates-aligned-provider {
  width: 25%;
  margin-left: 1%;
  display: inline-block;
  vertical-align: top;
}

.hcmCandidates-provider-header {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 3%;
}
