/* All classes in this file should be prefixed with the components namespace hcm */

.hcmCaseLoad .chart {
  display: inline-block;
}

.hcmCaseLoad .legends {
  display: inline-block;
  vertical-align: top;
  margin-top: 70px;
}

.hcmCaseLoad .legends .color {
  padding: 5px;
  display: inline-block;
}

.hcmCaseLoad .legends .value {
  display: inline-block;
  margin-left: 5px;
}

.hcmCaseLoad .legends .total-cases-row {
  border-top: solid 1px;
}

.hcmCaseLoad .legends .count-column {
  text-align: right;
}

.hcmCaseLoad .legends .label-column {
  padding-bottom: 5px;
  padding-right: 20px;
}

.hcmCaseLoad .legends th {
  padding-bottom: 5px;
  font-size: 100%;
  background-color: inherit;
  font-weight: bold;
  color: inherit;
}

.hcmCaseLoad-caremanager-name {
  font-weight: bold;
}

.hcmCaseLoad-sec .sec-content {
  padding: 0px;
}
