/* Indent secondary line in the component table */
.care-team-o1-result-table .secondary-line {
	padding-left: 10px;
}

/* Display a vertical divider between the component table columns */
.hdr .care-team-o1-contact-column,
.hdr .care-team-o1-phone-column {
	border-left: 1px solid #DDD;
}

/* Display a horizontal divider between each row */
.care-team-o1-result-table .result-info {
	border-bottom: 1px solid #EDEDED;
}


/* Component table hover styles */
.care-team-o1-hover {
	display: inline-block;
	padding: 2px 10px;
	width: 250px;
}
.care-team-o1-hover dl {
	line-height: 2em;
}
.care-team-o1-hover dd span {
	clear: right;
	margin-left: 4px;
}
.care-team-o1-hover .pull-left {
	float: left;
}

/* Column Definitions */
.care-team-o1-role-column,
.care-team-o1-contact-column,
.care-team-o1-phone-column {
	box-sizing: border-box;
	display: inline-block;
	padding-left: 1%;
	vertical-align: top;
}

/* Component table column widths */
.care-team-o1-role-column {
	width: 35%;
}
.care-team-o1-contact-column {
	width: 40%;
}
.care-team-o1-phone-column {
	width: 25%;
}
/* Hide the phone column when the window is less than 1301px wide */
@media (max-width: 1301px) {
	.care-team-o1-role-column {
		width: 49%;
	}
	.care-team-o1-contact-column {
		width: 51%;
	}
	.care-team-o1-phone-column {
		display: none;
	}
}

.care-team-o1-contact-spacer,
.care-team-o1-contact-name {
	display: table-cell;
}

/* Team icon styles */
.care-team-o1-contact-spacer {
	cursor: default;
	margin-right: 6px;
	width: 16px;
}
.header-item-display .care-team-o1-contact-spacer {
	float: left;
}
.care-team-o1-contact-icon {
	height: 16px;
	background: url(../images/sprite_green.png) no-repeat -420px 1px;
}
.sort-option .care-team-o1-contact-spacer {
	/* Override the 'default' cursor in sort column headers */
	cursor: pointer;
}
.care-team-o1-result-table .hdr.sort-control > * {
	padding-left: 1%;
}
.result-info .care-team-o1-contact-spacer {
	padding: 0 2px;
}
