/* All classes in this file should be prefixed with the components namespace hcmCareManagers */

/* The ComponentTable framework was originally created for workflow views. The following overides
 * to hcmCareManagers-table and its columns are necessary to make it look right in a summary view.
 * Please refer to https://wiki.ucern.com/pages/viewpage.action?pageId=1204098837 for further details.
 */
.hcmCareManagers-table .hcmCareManagers-name {
  width: 41%;
  margin-left:1%;
  display:inline-block;
}

.hcmCareManagers-table .hcmCareManagers-width-two-column {
  width: 50%;
  margin-left:1%;
  display:inline-block;
}

.hcmCareManagers-table .hcmCareManagers-width-three-column {
  width: 12%;
  margin-left:1%;
  display:inline-block;
}

.hcmCareManagers-table .header-item {
  padding-right: 0px;
  padding-left: 0px;
}

.hcmCareManagers-result-table .result-info {
  border-bottom: 1px solid #EDEDED;
}

.hcmCareManagers-table .selected {
  background-color:#568ECB;
  color:#FFF;
}
