/*NameSpace: charges-o1 */

/*New Styles Start */
.charges-o1-table {margin-top: 10px;}
.charges-o1-content-cont {display: inline-block; vertical-align: top; width: 60%; overflow-x: hidden;}
.charges-o1-history-container {position: relative;}
.charges-o1-sidepane-cont {padding-left: 10px;display: inline-block; vertical-align: top;position: relative;width: 40%; float: right;box-sizing: border-box;-moz-box-sizing: border-box;}
.charges-o1-container .loading-screen {position:absolute;width:100%;background:url(../../images/bgFFFop50.png);left:0px;}
.charges-o1-preview-pane {position:relative;}
.charges-o1-container .preview_pane {background-color: #F6F6F6; border: 1px solid #DDD; padding: 10px 0; min-height: 175px; box-sizing: border-box;}
.charges-o1-pp-init {text-align: center; margin-top: 20px; line-height: 120%; color: #505050;}
.charges-o1-pp-historical {text-align: center; margin-top: 30px; line-height: 120%; color: #000;}

.charges-o1-pp-warning-section {background-color: #FEEAB8; padding: 4px 10px;margin-top:15px;}
.charges-o1-pp-error-section {background-color: #FBDBDD; padding: 4px 10px;}
.charges-o1-alert-icon {display: table-cell; width: 16px; height: 16px; padding-right: 4px;}
.charges-o1-pp-error-section > .charges-o1-alert-icon {background: transparent url(../images/6047_16.png) no-repeat;}
.charges-o1-pp-warning-section > .charges-o1-alert-icon {background: transparent url(../images/4017_16.png) no-repeat;}
.charges-o1-alert-message {display: table-cell;}
.charges-o1-error-primary {color: #E50D34; font-weight: bold; display: inline-block; margin-right: 4px;}


.charges-o1-default-option {display: none;}

.charges-o1-rolling-history-cont {display: table; width: 100%; border:1px solid #DDD; table-layout: fixed; box-sizing: border-box;}
.charges-o1-rolling-history-col {display: table-cell; border-left: 1px solid #DDD;}
.charges-o1-rolling-history-col:first-child { border-left: none;}
.charges-o1-rolling-history-blank-col {display: table-cell; background-color: #f1f1f1;}
.charges-o1-rolling-history-blank-col.first {border-left: 1px solid #DDD;}
.charges-o1-rolling-history-hdr {background-color: #F6F6F6; color: #505050; border-bottom: 1px solid #DDD; padding: 6px 6px 2px; font-size: 10px; line-height: 1.2em;}
.selected > .charges-o1-rolling-history-hdr {background-color: #568ECB; color: #FFF;}
.charges-o1-rolling-history-val {padding-left: 6px;}
.mpage-tooltip-hover > .charges-o1-rolling-history-val {background-color: #f5f8fc;}
.selected > .charges-o1-rolling-history-val {background-color: #D7E6FF;}

.charges-o1-empty-table .hdr{color: #9f9f9f; border-bottom: 1px solid #ddd;}

.charges-o1-rolling-table-title {margin-right: 5px;}

/*Override visibility when a subsection is closed*/
.charges-o1-history-table .closed .sub-sec-content {display: none;}

.charges-o1-cpt-table-cont {margin-top: 10px;}

.charges-o1-table-filler {width: 100%; border: 1px solid #ddd; border-top: none; box-sizing: border-box; display:none;}

.charges-o1-history-modal-body {position: relative;}

.charges-o1-cpt-table-header {background: #FFF; border: 1px solid #DDD; border-bottom: none;}
.charges-o1-cpt-table-header-blank-cell {display: inline-block; width: 25%; padding-bottom: 5px;}
.charges-o1-cpt-table-header-instructions {display: inline-block; background: #FFF; text-align: center; width: 75%; color: #505050; box-sizing: border-box;}
.charges-o1-instruction-lbl-container {width: 100%; text-align: center; margin-bottom: 5px;}
.charges-o1-instruction-line-left {border-left: 1px solid #DDD; border-top: 1px solid #DDD; display:inline-block; width: 25%; vertical-align: bottom; height: 7px;}
.charges-o1-instruction-line-right {border-right: 1px solid #DDD; border-top: 1px solid #DDD; display:inline-block; width: 25%; vertical-align: bottom; height: 7px;}
.charges-o1-instruction-line-lbl {display: inline-block; vertical-align: bottom; padding: 0 4px;}

.charges-o1-rp-historical-cpt {font-size: 16px;}

.charges-o1-cpt-table-cont .result-info.even:hover {background-color: #dde4f2;}
.charges-o1-cpt-table-cont .result-info.odd:hover {background-color: #f5f8fc;}
.charges-o1-cpt-table-cont .component-table div.content-body {border-bottom: none;}

.charges-o1-content-type {display: table; width: 100%; padding: 10px 20px; box-sizing: border-box;}
.charges-o1-content-search {display: inline-block; margin-right: 20px;}
.charges-o1-content-date {display: inline-block;}
.charges-o1-lbl {font: 12px; color: #505050;}
.charges-o1-visit-type-lbl {font: 12px; color: #505050; display: table-cell; white-space: nowrap; width: 1px; padding-right: 5px;}
.charges-o1-type-drop-down {margin: 0; width: 100%;}
.charges-o1-column {width:25%;}
.charges-o1-column-time {width:8%;}
.charges-o1-modal-add-mod-cont {display: inline-block; vertical-align: top; margin-right: 24px;}
.charges-o1-modal-date-cont {display: inline-block; vertical-align: top; margin-right: 24px;}
.charges-o1-modal-loc-cont {display: inline-block; vertical-align: top;}

.charges-o1-col-diag-name {width: 80%;}
.charges-o1-col-diag-primary {width: 10%;}
.charges-o1-col-diag-secondary {width: 10%;}

/*full history table css*/
.charges-o1-fh-svc-date-col {width: 15%;}
.charges-o1-fh-physician-col {width: 25%;}
.charges-o1-fh-cpt-col {width: 12%;}
.charges-o1-fh-diag-col {width: 48%;}

/*.charges-o1-preview-pane {background-color:#F6F6F6;	border-color:#DDDDDD; min-height:175px;	text-align:center;}*/

.charges-o1-rp-button {padding: 4px 10px; min-width: 70px; border-radius:2px; border: 1px solid #666; cursor: pointer; background-color: #f6f6f6;}
.charges-o1-rp-button:hover {background-color:#eaeaea;}
.charges-o1-rp-button.charges-o1-rp-button-disabled {border: 1px solid #a0a0a0; color: #a0a0a0;}
.charges-o1-rp-lbl {font:12px Tahoma; color:#505050;}
/*.charges-o1-rp-val {margin-top: 5px;}*/
.charges-o1-rp-btn-cont {text-align: right;}
.charges-o1-rp-mod-root-cont {text-align: left;margin-left:-18px;padding-bottom:2px;}
.charges-o1-rp-sec-cont {margin-top: 10px;}
.charges-o1-rp-upper-section {width: 100%; padding:10px 10px 0 10px; display: table; box-sizing: border-box;margin-left:10px;}
.charges-o1-rp-assoc-diag-section {width: 100%; padding: 0 10px; box-sizing: border-box;margin-left:10px;}
.charges-o1-rp-unassoc-diag-section {width: 100%; padding:0 10px 10px 10px; box-sizing: border-box;margin-left:10px;}
.charges-o1-rp-cpt-cont {display: table-cell; vertical-align: bottom; text-align: left;}
.charges-o1-rp-svc-date-cont {display: table-cell; text-align: left; vertical-align: top; padding-left:20px;width:50%;}

.charges-o1-rp-assoc-diag-list {display: table; width: 100%; border-spacing: 0 6px; border-collapse: separate;}
.charges-o1-rp-unassoc-diag-list {display: table; width: 100%; border-spacing:0 6px; border-collapse: separate;}
.charges-o1-rp-diag-unassigned {display: table-row;}
.charges-o1-rp-diag-assigned {display: table-row;}
.charges-o1-diag-assign-priority {margin-right: 5px;}
.charges-o1-diag-lbl {display:table-cell;float:left;width:78%;}
.charges-o1-diag-action-col {display:table-cell;width:22%;float:right;text-align:right}
.charges-o1-diag-primary{float:right;text-align:center;background-color:#dde4f2;color:#193f72;cursor:default;padding:0 10px;font-size:12px}
.charges-o1-diag-secondary{float:right;visibility:hidden;text-align:inherit;vertical-align:middle;cursor:pointer;background-color:#dde4f2;color:#193f72;padding:0 4px;display:inline-block;}
.charges-o1-rp-diag-assigned:hover .charges-o1-diag-secondary {visibility: visible;}
.charges-o1-rp-diag-unassigned:hover .charges-o1-diag-secondary {visibility: visible;}
.charges-o1-rp-diag-unassigned:hover .charges-o1-diag-lbl {color: #000;}
.charges-o1-diag-secondary:hover {visibility: visible; background-color: #3380e5; color: #fff;}

.charges-o1-no-data-img {height: 55px; width: 55px; display: inline-block; background: transparent url(../images/no_data_glyph_standard.png) no-repeat;}
.charges-o1-success-img {height: 55px; width: 55px; display: inline-block; background: transparent url(../images/data_entry_success.png) no-repeat;}

.charges-o1-rp-diag-chkbx{margin-top:1px;margin-left:-5px;vertical-align:middle;float:left;display:table-cell;}
.charges-o1-diag-span{word-wrap: break-word;float:left;margin-left:10px;width:80%;vertical-align:middle;text-align:left;}
.charges-o1-rp-cpt-val {font:18px Tahoma; color:#000000; margin: 1px; max-width: 70px;}
.charges-o1-rp-cpt-val.charges-o1-secondary-text {font-size: 100%; color: #505050;}
.charges-o1-secondary-text {color: #505050;}
.charges-o1-rp-cpt-val:hover {border: 1px dashed #568ECB; margin: 0; max-width: 70px;}
.charges-o1-rp-svc-date-val {font:14px Tahoma; color:#000000;}

.charges-o1-location-anchor {display: inline-block; padding: 1px 1px 0px 1px; box-sizing: border-box; }
.charges-o1-location-menu-anchor {border-left: 1px; border-top: 1px; border-right: 1px; border-style: solid; border-color: grey; padding: 0;}

.charges-o1-action-col {width: 10%;}
.charges-o1-cpt-code-col {width: 10%;}

.charges-o1-date-col {display: table-cell; width: 30px; background-color: #F6F6F6; text-align: center; vertical-align: middle; border-left: 1px solid #DDD;}
.charges-o1-date-col  .ui-datepicker-trigger{margin-left:2px;}
.charges-o1-date-col input {visibility: hidden; width: 0px; height: 0px; display: inline-block; border: 0;}

/*hover styles */
.charges-o1-rh-hvr-cont {padding: 5px; width: 400px;}
.charges-o1-rh-hvr-cont .sp-separator {margin: 3px 0;clear:both}
.charges-o1-rh-hvr-hdr {color: #505050;}
.charges-o1-rh-hvr-phys-col {display: table-cell; width: 48%;float:left;word-wrap:break-word;}
.charges-o1-rh-hvr-cpt-col {display: table-cell; width: 48%; float:right;word-wrap:break-word;}
.charges-o1-rh-cur-phys {font-weight: bold;}
.charges-o1-ation-bar{margin-left:10px;}
.charges-o1-rh-hvr-row-div{clear:both}

/*New Styles End */


.charge-default-font{
	font:12px Tahoma;
	color:#505050;
}



#cptCodeDateContainer{
	clear:both;
	width:100%;
	border-bottom: 1px solid #DDD;
	box-shadow: 0 2px 1px -1px #FFF;
	margin-bottom:10px;
	padding-bottom:10px;
}



dl.charges-o1-row-selected{
	background-color:#568ECB !important;
	color:#FFF;
}

.charges-o1-modifier-label{padding-top:3px;}
.charges-o1-modifier-value{display:inline-block;border:1px dashed transparent;padding-right:5px;cursor:pointer;margin-top:3px;}
.charges-o1-modifier-value:hover{border-color: #568ECB;}
.charges-o1-modifier-menu-item{margin-bottom : 10px;cursor : pointer;display:table;}
.charges-o1-modifier-menu-item:hover{background-color:#568ecb;color:#FFF;}
.charges-o1-modifier-menu-selection{width:11px;height:20px;display:inline-block;vertical-align:middle;margin-right:3px;padding:0 6px;}
.charges-o1-modifier-menu-selection.selected{background:url(../images/6432_11.png) no-repeat center;}
.charges-o1-modifier-menu-item:hover .charges-o1-modifier-menu-selection.selected{background:url("../images/6432_11_white.png") no-repeat center;}
.charges-o1-modifier-description{display:table-cell;margin-left:10px;width:100%}
.charges-o1-sp-middle-section{display : table;width:100%;}
.charges-o1-my-note-message {background: url("../images/4017_16.png") no-repeat scroll 6px 4px #ffffa0;padding: 5px 0 5px 28px;}
.charges-o1-my-note-container {display: table;width: 100%;box-sizing: border-box;}
.charges-o1-my-note-info {display: inline-block;width: 100%;box-sizing: border-box;-moz-box-sizing: border-box;margin-right: 1%;word-wrap: break-word;}
.charges-o1-my-note-selected {padding: 6px 0;}
.charges-o1-note-subject {color:black;}
.charges-o1-my-notes-info {display: inline-block;width: 40%;box-sizing: border-box;-moz-box-sizing: border-box;word-wrap: break-word;}
.charges-o1-my-notes-last-update {display: inline-block;width: 20%;box-sizing: border-box;-moz-box-sizing: border-box;word-wrap: break-word;}
.charges-o1-my-notes-table-container {margin: 10px 0;}
.charges-o1-my-notes-table-container .result-info {cursor: pointer;}
.charges-o1-my-notes-table-container .dither-note{cursor:default;border:1px solid transparent;color:#a0a0a0;background-color:#f6f6f6}
.charges-o1-all-notes-charged{display:table;width:100%;box-sizing:border-box;background-color:#d7e6ff;}
.charges-o1-rec-supp {width: 90%;float: right;}
.charges-o1-ncode-warn {width: 100%;padding: 0;display: table;box-sizing: border-box;background-color: #FEEAB8;margin:10px 0 -9px 0;}
.charges-o1-ncode-unavail {width: 100%;padding: 0;display: table;box-sizing: border-box;background-color: #D7E6FF;margin:10px 0 -9px 0;}
.charges-o1-ncode-unavail.inline-message.information-container {	white-space: nowrap;width: 69%;overflow: hidden;text-overflow: ellipsis;}
.charges-o1-rp-recncd a,.charges-o1-details-link a {text-decoration: underline;}
.charges-o1-details-link {float: right;height: auto;text-align: left;width: 13%;padding: 5px 7px 5px 0;}
.charges-o1-ncode-warn > .warning-container.inline-message {width: 69%;}
.charges-o1-rp-recncd {display: inline;}
.charges-o1-rp-ncode-val {display: inline;font: 18px Tahoma;color: #000;margin: 0;max-width: 70px;padding: 0 20px 3px 0;}
.advice-paragraph {text-align: justify;padding-right: 3px;}
.charges-o1-details-link .vwp-util-active {background-color: #dde4f2;border-right: 2px solid #568ecb;border-left: 2px solid #568ecb;border-top: 2px solid #568ecb;}
.charges-o1-advisory-content {width: 450px;padding: 5px;text-align: justify;background-color: #FFF;border: 1px solid #A7ACB1;}
.charges-o1-advisory-content-out {border: 1px solid #888F95;}
.charges-o1-tooltip-advice {z-index: 3000;}
.charges-o1-advisory-content-mid {border: 3px solid #EBECED;}
.charges-o1-selected-ctp {display: table-cell;text-align: left;vertical-align: bottom;padding:0 0 0 10px;}
.charges-o1-date-val,.charges-o1-provider-value,.charges-o1-location-anchor {padding-top:6px;}
.charges-o1-location-label,.charges-o1-provider-label {padding-top:26px;}
.charges-o1-provider-value {word-wrap:break-word;width:50%;}
.charges-o1-provider-section {width:95%;float:right;}
.charges-o1-location-anchor {width:100%;}
.charges-o1-suggested-label {color:#505050;padding-left:5px;}
.charges-o1-sp-diag{overflow-x:hidden;}
/***************** Modify Location and Provider *************************************/
.charges-o1-location-provider{display:inline-block;border:1px dashed transparent;cursor:pointer;padding-right:5px;}
.charges-o1-location-provider:hover{border-color:#568ecb}
.charges-o1-providers-menu{height:150px;}
.charges-o1-location-menu-main-div{height:150px;overflow-y:auto;overflow-x: hidden}
.charges-o1-location-menu-item{margin-bottom:2px;cursor:pointer;display:table;}
.charges-o1-location-menu-item:hover{background-color:#568ecb;color:#FFF;}
.charges-o1-location-menu-selection{width:11px;height:24px;display:inline-block;vertical-align:middle;margin-right:6px;padding: 0 5px;}
.charges-o1-location-menu-selection.selected{background:url(../images/6432_11.png) no-repeat center}
.charges-o1-location-menu-item:hover .charges-o1-location-menu-selection.selected{background:url("../images/6432_11_white.png") no-repeat center}
.charges-o1-location-description{display:table-cell;margin-left:10px;width:100%}
.charges-o1-search{background-color:#FFF;border:1px solid #a0a0a0;display:inline-block;width:226px;height:20px}
.charges-o1-search .search-box-div{border:medium none;float:left;padding-top:0px;}
.charges-o1-search .search-box{background:url("../images/6428_16.png") no-repeat scroll 2px 2px #FFF;border:medium none;font-family:arial;font-size:12px;padding:1px 0 0 18px;width:200px;height:16px}
.charges-o1-search .suggestions {width: 226px;margin:3px 0 0 -1px}
.charges-o1-highlight{font-weight:bold}
.charges-o1-tooltip-timeline{z-index:9999;}
.charges-o1-submit-fail-banner,.charges-o1-retrieve-fail-banner{display:none;margin-bottom:4px;}
.charges-o1-rp-diag-assigned:hover .charges-o1-diag-lbl {color: #000;}  
.charges-o1-adv-info {margin-left:5px;max-height:400px;}
.charges-o1-scroll-container{overflow-x:hidden;margin-bottom:20px;}
.charges-o1-charged-doc{text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
/***************** Specialty Flexing*****************/
.charges-o1-specialty-banner{background-color:#FFF;margin-bottom:9px;}
.charges-o1-specialty-drop-down {margin:0;}
.charges-o1-specialty-info-icon {display:inline-block; width:4%; background:url("../images/5104_16.png") no-repeat; background-size:20px 20px;height:20px;}
.charges-o1-specialty-label {font-weight:normal;display:inline-block;position:absolute;right:10px;top:54px;}
.charges-o1-specialty-list {font-weight:normal;display:inline-block;}
.charges-o1-specialty-btn {font-weight:normal;padding-bottom:10px;padding-left:10px;padding-right:10px;display:inline-block;}
.charges-o1-specialty-info-label{display:inline-block;position:absolute;width:40%;}
.charges-o1-specialty-assign-button {background-color:#cce9f9;color:#3E3E3E;border:1px solid;min-width:7%;min-height:28px;}
.charges-o1-specialty-assign-btn-disable{border:1px solid #A0A0A0;min-height:28px;}
.charges-o1-specialty-banner-color {background-color:#cce9f9;padding-left:7px;border-left:2px solid #007cc3;height:35px;padding-top:8px;padding-bottom:2px;}