/* All classes in this file should be prefixed with the components namespace ckout */
/*.ckout {background-color:green;}*/
.ckout-text {
	height: 44px;
	text-align: center;
	width: 100%;
	color: #30649C;
	word-wrap: break-word;
}

.ckout-text:hover {
	text-decoration: underline;
	cursor: pointer;
}

.ckout-comp {
	border-color: #ECEAEB;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	float: left;
	height: 88px;
	margin-right: 3px;
	min-width: 96px;
	width: 15.3%;
}
.ckout-complete {	
	background: url("../images/Sprites/checkout_sprite.png") -5px -5px no-repeat;
	height: 44px;
	margin-top: 5px;
	width: 45px;
}
.ckout-incomplete {	
	background: url("../images/Sprites/checkout_sprite.png") -50px -5px no-repeat;
	height: 44px;
	margin-top: 5px;
	width: 45px;
}

.ckout-container {
	min-width: 650px;
	overflow-x: visible;
	overflow-y: hidden;
	width: 100%;
}

.ckout-comp.ckout-complete-bgcolour {
	background-color: #F6F6F6;
}

.ckout-comp.ckout-incomplete-bgcolour {
	background-color: #FFF;
}

.ckout-request-alert-msg {
	background-color: #D7E6FF;
	border-left: 2px solid #005FC8;
}
.ckout-request-alert-msg .error-text {
	color: #000;
}
.ckout-request-msg {
	width: 98%;
	font-size: 12px;
	margin-bottom: 8px;
	float: none;
}
.ckout-request-blue-cross-image {
	background-image: url("../images/6754_24.png");
	background-repeat: no-repeat;
}
