.chief_compl_hidden {display:none;}
.chief_compl_outer_div {padding:6px; border:1px solid transparent; overflow:hidden;}
.chief_compl_editable_outside_box, .chief_compl_outer_block {background-color:#F0F2EE; border-color:#C6CDC5;}
.chief_compl_editable_inside_box {width:100%; background-color:#FFF;}
.chief_compl_textonly, .chief_compl_textarea {display:block; padding:4px; font-size:14px; border:1px solid transparent;}
.chief_compl_textarea {width:100%; overflow:hidden; font-family:Tahoma;}
.chief_compl_button {float:right; margin:6px 0 0 6px;}
.chief_compl_countText {float:left;}
.chief_compl_error, .chief_compl_author_info, .chief_compl_countText {display:block; margin:4px 0 0 5px;}
.chief_compl_author_info, .chief_compl_countText, .chief_compl_enter_text {color:#A0A0A0;}