.commune-content-body{border:0}
.commune-content-body hr{display:block}
.commune-width-five{display:inline-block;width:4.5%}
.commune-width-eight{display:inline-block;width:7.5%}
.commune-width-ten{display:inline-block;width:9.5%}
.commune-width-twenty-five{display:inline-block;width:24.5%}
.commune-width-fifty{display:inline-block;width:49.5%}
.commune-width-ninety{display:inline-block;width:89.5%}
.commune-width-ninety-two{display:inline-block;width:91.5%}
.commune-top-align{vertical-align:top}
.commune-left-align{text-align:left}
.commune-right-align{text-align:right}
.commune-center{text-align:center}
.commune-label-text{color:#7f7f7f;font-weight:bold}
.commune-highlight-text:hover{text-decoration:underline;cursor:pointer}
.commune-footer{padding-top:12px}
.commune-mass-commands{padding-bottom:12px}
.commune-popup-window{position:absolute;width:250px}
.commune-window-head{background:#e6eef7;position:absolute;border-color:#568ecb;border-style:solid;border-width:2px 2px 0;float:left;z-index:1000;top:0;padding:0 2px}
.commune-window-body{position:absolute;float:left;background:#fff;border:2px solid #568ecb;text-align:left;padding:2px}
.commune-comment-group{border-bottom:1px solid #c8c8c8;padding-bottom:2px}
.commune-comment-item:hover{color:#FFF;background-color:#568ecb;cursor:pointer}
.commune-freetext-comment{padding-top:2px;border:0;width:100%}
.commune-reset-label{position:absolute;right:12px}
.commune-gray-text{color:#a1a1a1}
.commune-ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.commune-legend{text-align:right;font-size:10px;font-style:italic}
.commune-btn-review{width:50%;min-width:115px}
.commune-flag-class{height:16px;width:16px;background:url("../images/4948_16.gif") center;display:inline-block}
.commune-tab-count{display:inline-block}
.commune-hyperlink{color:#06C}
.communication-sec .accordion-content,.communication-sec .accordion-container{position:relative}