.chx-ext-data-indicator {
	width: 22px;
	height: 22px;
	background: url("../images/6965_16.png") no-repeat right;
	display: inline-block;
	vertical-align: bottom;
}

/*family history*/
.chx-row {
    clear: both;
    zoom: 1;
    overflow: hidden;
    word-wrap: break-word;
}

.chx-row.grouped {
    padding-left: 10px
}

.chx-grp-by-cond .chx-condition, .chx-grp-by-family .chx-family {
    padding: 4px 6px;
    width: 30%;
    float: left;
    display: inline-block;
}

.chx-grp-by-cond .chx-family, .chx-grp-by-family .chx-condition {
    padding: 4px 6px;
    width: 60%;
    float: left;
    display: inline-block;
    border-left: 1px solid #DDD;
}

.chx-grp-by-cond .chx-condition-hd, .chx-grp-by-family .chx-family-hd {
    padding: 4px 6px;
    width: 30%;
    float: left;
    display: inline-block;
}

.chx-grp-by-cond .chx-family-hd, .chx-grp-by-family .chx-condition-hd {
    padding: 4px 6px;
    width: 60%;
    float: left;
    display: inline-block;
    border-left: 1px solid #DDD;
}
/*patient portal request column*/
.chx-grp-by-cond.three-column .chx-condition, .chx-grp-by-family.three-column .chx-family {
	width: 27%;
}
.chx-grp-by-cond.three-column .chx-family, .chx-grp-by-family.three-column .chx-condition {
	width: 57%;
}
.chx-grp-by-cond.three-column .chx-request, .chx-grp-by-family.three-column .chx-request {
	padding: 4px 6px;
	width: 6%;
	float: left;
	display: block;
}

.chx-grp-by-cond.three-column .chx-condition-hd, .chx-grp-by-family.three-column .chx-family-hd {
	width: 27%;
	border-left: 1px solid #DDD;
}
.chx-grp-by-cond.three-column .chx-family-hd, .chx-grp-by-family.three-column .chx-condition-hd {
	width: 57%;
}
.chx-grp-by-cond.three-column .chx-request-hd, .chx-grp-by-family.three-column .chx-request-hd {
	padding: 4px 6px;
	width: 6%;
	float: left;
	display: block;
}

.chx-sec .hdr {
    overflow: hidden;
    word-wrap: break-word;
    padding: 0
}

.chx-sec .hdr.shifted {
    margin-right: 17px;
}

.chx-sec .hdr.grouped {
    padding-left: 10px
}

.chx-fhx-item.chx-info {
    display: inline-block;
    margin-right: 20px;
}

.chx-sec .comment {
    clear: both;
    display: block;
    padding-top: 8px
}

.chx-sec .comment p {
    padding-left: 35px;
    text-indent: -20px;
}

.chx-sec .comment .fhx-comment {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chx-menu {
    margin-bottom: 5px;
    width: 100%;
    display: inline-block;
}

.chx-menu select {
    float: right;
    display: inline-block;
}

.chx-menu .res-none {
    display: inline-block;
    float: left;
}

.chx-row > dt, .chx-info > dt, .chx-sec .comment > dt {
    display: none
}
.pat-portal-fam.selected {
	background-color: #3B78BB;
}

/*pregnancy history*/
.chx-stat {
    display: inline;
    padding-left: .5em;
}

.chx-pic {
    background: url(../images/4948_16.gif) no-repeat 0 0;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.chx-table {
    table-layout: fixed;
}

.chx-hdr {
    border-right: 1px solid #DDD;
    padding: 4px 6px;
    vertical-align: bottom;
}

.chx-columns {
    padding: 4px 6px;
}

.chx-wgt {
    border: none;
}

.chx-sens-hdr {
    padding: 7px 0 0 3px;
    width: 20px;
}

.chx-info-hdr.shifted {
    margin-right: 17px;
}

.chx-info-hdr.hdr {
    padding-bottom: 0;
}

.chx-outcome {
    width: 20%;
}

.chx-outcome-txt {
    padding-left: 17px;
    text-indent: -17px;
}

.chx-sec .content-body {
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

/* procedure history Option 3*/
.chx-proc3-info-hdr {
    zoom: 1;
    overflow: hidden;
    word-wrap: break-word;
    padding-bottom: 4px;
    padding-top: 4px
}
.chx-implant-content {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.chx-implant-img {
    display: inline-block;
    padding: 4px 6px;
    background: url(../images/6710_16.png) no-repeat;
    background-position: center;
}

.chx-secondary-table-element {
    display: inline-block;
    margin-left: 16px;
}

.chx-proc-name,
.chx-provider {
    width: 30%;
}

.chx-implant,
.chx-pat-request {
    width: 10%;
}

.chx-date,
.chx-proc-name-small,
.chx-provider-small {
    width: 20%;
}

/*social history*/
/*Social History tab - Side Panel */
.shx-side-panel {
	display: none;
}
.shx-side-panel-open .shx-side-panel{
	box-sizing: border-box;
	display: inline-block;
	width: 40%;
	margin-left: 1%;
}
.shx-side-panel-open .shx-table{
	display: inline-block;
	width:59%;
}
.shx-table .request-column {
	width: 10%;
}
.shx-table .details-column {
	width: 75%;
}
.shx-table .category-column {
	width: 15%;
}
.shx-side-panel-description {
	padding-right: 15px;
	text-align: left;
}

.shx-side-panel-detail-list {
	padding-left: 10px;
}

.shx-side-panel-detail-item {
	display: inline-block;
	margin-bottom: 10px;
	vertical-align: top;
}

.shx-side-panel-detail-item.column-view {
	width: 33%;
}
.shx-side-panel-detail-item.row-view {
	width: 100%;
}
.shx-side-panel-detail-item .label {
	color: #505050;
}


.chx-sec .pat-req-icon {
	float: left;
	width: 16px;
	height: 16px;
	background-image: url("../images/6965_16.png");
	background-repeat: no-repeat;
}
.chx-tab-link.disabled:hover {color: #A0A0A0; text-decoration:none; cursor:default;}

.chx-sec .pat-req-icon.table-grp-header {
	margin: 0 3px;
}

.chx-detail-lbl {
    color: #505050;
}

.chx-detail {
	color: #000000;
	padding: 0 20px 0 5px;
}
.selected .chx-detail-lbl,
.selected .chx-detail {
	color:#fff;
}

.chx-det {
    padding: 6px;
}

.chx-inner {
    width: 400px;
    height: auto;
    float: left;
    word-wrap: break-word;
    padding-top: 5px;
    background-color: #FFC;
}

.chx-divider {
    position: absolute;
    left: 50%;
    top: 8px;
    bottom: 8px;
    border-left: 1px solid #787878;
}

.chx-left-fixed-header {
    width: 15%;
}
/* Social History tab - patient request banner*/
.chx-ack-banner-container{
	overflow:hidden;
	background: #F6F6F6 none repeat scroll 0% 0%;
	border: 1px solid #DDD;
	padding: 5px;
	margin-bottom: 8px;
}
.chx-ack-banner-container button {
	float:right;
}

/*chronic problems*/
.chx-main-prb-table thead th[data-column="commInd"] {
    border: none;
}

.chx-main-prb-table .chx-prb-request {width:8%;}
.chx-main-prb-table .chx-prb-name {width:40%;}
.chx-main-prb-table .chx-prb-comm-ind {width:3%;}
.chx-main-prb-table .chx-prb-class {width:44%;}

.chx-prob-table-with-panel .chx-main-prb-table .chx-prb-request {width:13%;}

.chx-prob-table-with-panel {
    width: 55%;
    display: inline-block;
}

.chx-prob-side-panel {
    display: none;
    float: right;
    width: 45%;
    padding-left: 10px;
    box-sizing: border-box;
}

.chx-prob-side-panel-init {
    display: inline-block;
    float: right;
    width: 45%;
    padding-left: 10px;
    box-sizing: border-box;
}

.chx-prob-side-panel-prob-name {
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
}

.chx-prob-side-panel-btn-holder {
    text-align: right;
    display: inline-block;
}

.chx-prob-side-panel-btn {
    cursor: pointer;
    text-align: center;
    float: right;
    background-color: #F6F6F6;
    padding: 4px 6px;
    margin-left: 6px;
    border: 1px solid #666;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #fff inset;
    min-width: 53px;
}

.chx-prob-side-panel-description {
    padding-right: 15px;
    text-align: right;
}

.chx-prob-side-panel-detail-list {
    padding-left: 10px;
}

.chx-prob-side-panel-detail-item {
    display: table-row;
}

.chx-prob-side-panel-detail-item dt {
    display: none;
}

.chx-prob-side-panel-detail-item dd {
    display: table-cell;
    padding-bottom: 4px;
    box-sizing: border-box;
}

.chx-remove-strike {
    text-decoration: line-through
}



/*side panel section*/
.chx-sp-details-sub-section {
    display: inline-block;
    width: 50%
}

.chx-sp-detail-group {
    margin-bottom: 8px;
}

.chx-expand-content {
    margin-left: 10px;
}

.chx-prob-selected-row {
    background-color: #568ECB;
    color: #FFF;
}

.chx-sp-body-contents {
	background-color: #f6ebf9;
	padding: 10px 10px 10px 10px;
}

.shx-outside-records ~ .sp-separator {
	margin-top: 0;
}

.shx-outside-records .chx-expand-content-section{
	margin-bottom: 8px;
}
/*hi-table chronic problems*/
.chx-hi-prob-col-name {
    width: 25%;
}

.chx-prob-side-panel-rel {
    display: inline-block;
    position: relative;
}

/* Style for Error message on problems tab */
.chx-problems .chx-error-message > .error-container {
    width: auto;
    margin-right: 10px;
    float: right;
}

.chx-modal-container .error-icon-component {
    height: auto;
}

.chx-prob-side-panel .sp-actions .chx-error-message {
    display: inline-block;
    float: right;
    margin-left: 6px;
    width: auto;
}

/* patient request icon */
.chx-pat-req-icon {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background: url("../images/6965_16.png") no-repeat right;
    display: inline-block;
}

/*tabs related */
.chx-tab-container hr {
    margin-top: -12px;
    display: block;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #BBBBBB;
}

.chx-tab-container hr.chx-has-selector {
	margin-top: -13px;
}

.chx-tab-control-container {
    overflow: hidden;
    margin-bottom: 10px;
}

.chx-tabs {
    overflow: hidden;
    margin-bottom: 10px;
}

.chx-tabs > ul {
    list-style: none;
    padding-left: 15px;
}

.chx-tabs > ul > li {
    color: #797979;
    display: block;
    float: left;
    margin-right: 3px;
    cursor: pointer;
}

.chx-tabs > ul > li > span {
    height: 27px;
    line-height: 32px;
}

.chx-tabs .chx-tab-text {
    padding: 0 10px 0 10px;
    float: left;
    background: url(../images/tab2_inactive_center.png);
}

.chx-tabs .chx-pat-req-icon {
    height: 100%;
    float: left;
    margin-top: 3px;
}

.chx-tabs .chx-tab-active-header .chx-pat-req-icon {
    margin-top: 0;
}

.chx-tabs .chx-tab-left-edge {
    display: block;
    float: left;
    background: url(../images/tab2_inactive_left.png) no-repeat;
}

.chx-tabs .chx-tab-right-edge {
    display: block;
    float: right;
    background: url(../images/tab2_inactive_right.png) no-repeat;
    width: 6px;
}

.chx-tabs .chx-tab-active-header {
    color: #505050;
    display: block;
    float: left;
    margin-right: 3px;
}

.chx-tabs .chx-tab-active-header > span {
    height: 27px;
    line-height: 28px;
}

.chx-tabs .chx-tab-active-header > .chx-tab-text {
    padding: 0 10px;
    float: left;
    background: url(../images/tab2_active_center.png);
}

.chx-tabs .chx-tab-active-header > .chx-tab-left-edge {
    display: block;
    float: left;
    background: url(../images/tab2_active_left.png) no-repeat;
}

.chx-tabs .chx-tab-active-header > .chx-tab-right-edge {
    display: block;
    float: right;
    background: url(../images/tab2_active_right.png) no-repeat;
    width: 6px;
}

.chx-actions {
    float: right;
}

/*View Outside Records styles*/
.chx-actions .chx-control-separator {
	display: inline-block;
	border-left: 1px solid #A0A0A0;
	padding-left: 20px;
	height: 20px;
	vertical-align: top;
}

.chx-actions .view-pat-req-content {
	display: inline-block;
	padding-right: 20px;
	vertical-align: top;
}

.chx-actions .view-pat-req-content label {
    margin-right: 3px;
}

.chx-actions .view-pat-req-content input {
    margin-right: 8px;
}

/* Styles for search container and highlighting a row */
.chx-procedure-search {
    width: 150px;
    height: 18px;
    border: 1px solid #A0A0A0;
}

.chx-search-container {
    display: inline-block;
}

.chx-row-selected {
    background-color: #568ECB;
    color: #FFF;
}

.chx-search-container .add-icon {
    cursor: pointer;
}

.chx-proc-row {
    cursor: pointer;
}

.chx-vocab-select {
    display: inline-block;
    vertical-align: top;
    padding-right: 4px;
}

.chx-vocab-select select {
    height: 22px;
}

.chx-free-text-item {
    border-top: 1px solid #DDD;
}

.chx-proc-date-label {
    display: block;
}

.chx-remove-pat-request {
    float: left;
    margin: 10px 0 5px 10px;
}

.chx-tab-link.disabled:hover {
    color: #A0A0A0;
    text-decoration: none;
    cursor: default;
}

.chx-sp-banner-container {
    clear: left;
    margin-left: 5px;
}

.chx-show-expand-btn {
    background: url(../images/sprite_green.png) -28px 0;
    height: 9px;
    width: 5px;
    margin: 4px 3px 4px 6px;
    float: left;
    cursor: pointer;
}

.chx-hide-expand-btn {
    background: url(../images/sprite_green.png) -36px 0;
    height: 7px;
    width: 7px;
    margin: 4px 3px 4px 6px;
    float: left;
    cursor: pointer;
}

.chx-pull-right {
    float: right;
}

.chx-section-closed {
    display: none;
}

.chx-request-label {
	color: #505050;
}

.chx-primary-label {
    font-weight: bold;
}

.sub-sec-hd.chx-section-header {
    padding-left: 4px;
}

.chx-secondary-header {
    background-color: #D0DAE6;
    padding: 4px 0;
}

.chx-sp-item-list {
    list-style-type: disc;
    margin-left: 12px;
}

.chx-hi-table-container {
    margin-bottom: 20px;
}

.chx-seg-control-container {
    margin-top: 10px;
    margin-bottom: 10px
}

/* Adjustments for side panel, sp stands for side panel */
.chx-sp-adjustment {
    display: block;
    float: left;
    width: 60%;
}

.chx-sp {
    display: inline-block;
    width: 40%;
    padding-left: 10px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.chx-sp-proc-date {
    border: 1px solid #A0A0A0;
    height: 17px;
    margin-left: 5px;
    width: 100px;
    padding-left: 4px;
}

.chx-sp-date-container {
    padding-top: 10px;
}

.chx-sp-date-container .hasDatepicker {
    border: none;
    margin-left: 5px;
}

.chx-sp-date-container .ui-datepicker-trigger {
    padding-left: 5px;
}

.chx-sp-helper-text {
    color: #A0A0A0;
}

.chx-sp-datepicker {
    display: none;
}

.chx-sp-date-selector {
    display: inline-block;
    float: left;
}

.chx-sp-proc-name {
    float: left;
    display: inline-block;
    width: 70%;
    padding: 4px 7px 4px 16px;
}

.chx-sp-pos-rel {
    position: relative;
}

/* Style for Error message */
.chx-error-message {
    width: 100%;
    display: inline-block;
}

.chx-error-message > .error-container {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 2px solid #C00;
}

/* Styles for modal dialog TODO: remove unused classes*/
.chx-modal-container {
    margin: 24px 23px 10px;
    overflow: auto;
}

.chx-warning-message {
    background: url("../images/4017_24.png") no-repeat;
    display: inline-block;
    padding-left: 30px;
    overflow: auto;
    padding-top: 3px;
    padding-bottom: 14px;
}

/* Style to maintain the highlight of selected row when a row is hovered over */
.wf .chx-row.res-selected:hover {
    color: #000;
}

/* Styles for the fields within side panel (sp) when modifying */
.chx-sp-modify-proc {
    margin-top: -8px;
}

.chx-sp-modify-proc input {
    width: 100%;
    padding-left: 4px;
    height: 24px;
}

/*Classes added for displaying HealtheIntent data
*/
.chx-hi-sp-date-provider {
    display: inline-block;
    width: 40%;
}

.chx-hi-ext-label {
    background-color: #EADDEF;
    font-size: 12px;
    font-weight: normal;
    color: #3E3E3E;
    padding: 0 3px;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    zoom: 1;
    overflow: hidden;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.chx-hi-ext-div {
    padding-bottom: 5px;
}

.chx-hi-ext-btn {
    font-size: 12px;
    font-weight: normal;
    background-color: #EADDEF;
    color: #3E3E3E;
}

/**Style for proc name taking full width in the proc content table**/
.chx-hi-sp-proc-name {
    width: 100%;
}

.chx-hi-proc-name {
    float: left;
    display: inline-block;
    width: 30%;
    padding: 4px 7px 4px 16px;
}

.chx-hi-hide-mode .chx-hi-proc-name {
    width: 100%;
}

.chx-hi-hide-mode .chx-hi-hide {
    display: none;
}

.chx-hi-hide {
    float: left;
    display: inline-block;
    width: 30%;
    padding: 4px 7px 4px 16px;
}

/*Defining the image and properties for spinner*/
.chx-hi-comm-loading {
    vertical-align: middle;
    background: transparent url(../images/6439_24.gif) no-repeat scroll center;
}

.chx-hi-loading {
    display: none;
    background: url(../images/bgFFFop50.png) center;
    position: absolute;
    width: 100%;
    vertical-align: middle;
}

.chx-hi-loading-sp {
    display: none;
    background: url(../images/bgFFFop50.png) center;
    position: absolute;
    width: 55%;
    vertical-align: middle;
}

.chx-row-pager {
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
}
.pat-portal-fam.selected {
	background-color: #3B78BB;
}

.chx-ack-banner span {
	vertical-align: -5px;
}

.chx-tab-link.disabled:hover {
	color: #A0A0A0;
	text-decoration: none;
	cursor: default;
}
.chx-row.selected, .chx-row.selected .comment {
	color: #FFF;
}

.chx-prob-comment-indicator {
	background:url(../images/mpages-sprite.png) no-repeat -81px -64px; width:16px; height:16px; float:right;
}

.chx-prob-comment {
 color: #000; text-align:left; padding: 10px;
}
.chx-prob-comment .chx-prob-comment-text {
	padding-bottom:3px;
}
.chx-prob-comment .chx-prob-comment-header {
	font-size: 11px; color:#505050;
}
.chx-prob-comments-separator {
	padding-right:18px;
}

.wf-consol-hx-famHx .request_cond_view_ped-column, .wf-consol-hx-famHx .request_fam_view_ped-column {
    width: 10%
}

.wf-consol-hx-famHx .condition_cond_view_ped-column, .wf-consol-hx-famHx .fam_member_fam_view_ped-column,
.wf-consol-hx-famHx .condition_cond_view-column, .wf-consol-hx-famHx .fam_member_fam_view-column {
    width: 30%
}

.wf-consol-hx-famHx .fam_member_cond_view_ped-column, .wf-consol-hx-famHx .condition_fam_view_ped-column {
    width: 60%
}

.wf-consol-hx-famHx .fam_member_cond_view-column, .wf-consol-hx-famHx .condition_fam_view-column {
    width: 70%
}

.wf-consol-hx-famHx.table-base.side-panel-active {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.wf-consol-hx-famHx-sp-container {
    display: none;
    width: 40%;
    padding-left: 10px;
}

.wf-consol-hx-famHx-sp-container.side-panel-active, .wf-consol-hx-famHx-sp-deceased-info {
    display: inline-block;
}

.wf-consol-hx-famHx-expand-content {
    cursor: pointer;
    display: inline-block;
    padding: 0 0 8px 10px;
}

.wf-consol-hx-famHx-toggle {
    float: left;
    display: inline-block;
    height: 16px;
    width: 15px;
    background: url("../images/5323_expanded_16.png") no-repeat right;
    padding-top: 5px;
}

.closed .wf-consol-hx-famHx-toggle {
    background: url("../images/5323_collapsed_16.png") no-repeat right;
}

.wf-consol-hx-famHx-sp-content-data {
    vertical-align: middle;
    overflow: hidden;
    padding: 11px 0 6px 12px;
}

dl.wf-consol-hx-famHx-sp-content-item {
    overflow: auto;
}

dl.wf-consol-hx-famHx-sp-content-item dt, dl.wf-consol-hx-famHx-sp-content-item dd {
    float: left;
}

dl.wf-consol-hx-famHx-sp-content-item dt {
    clear: left;
    width: 70%;
    margin-right: 2%;
}

dl.wf-consol-hx-famHx-sp-content-item dd {
    margin-left: 5px;
}

.closed .wf-consol-hx-famHx-sp-content-container {
    display: none;
}

.wf-consol-hx-famHx-sp-content-container {
    padding: 8px 0 8px 16px;
    margin-left: 15px;
}

.wf-consol-hx-famHx-sp-content-container div {
    padding: 3px 0;
}

.wf-consol-hx-famHx-sp-deceased-details {
    display: block;
    margin-left: 30px;
}

.wf-consol-hx-famHx-sp-header-item {
    margin-left: 15px;
    font-weight: bold;
    padding-right: 4px;
}

.wf-consol-hx-famHx-sp-comment-item {
    float: left;
    width: 74%;
    padding: 2px 0 1px 5px;
    display: block;
}

.wf-consol-hx-famHx-sp-comment-details {
    float: right;
    margin-right: 20px;
    width: 55%;
}

.wf-consol-hx-famHx-sp-comment-date {
    padding-left: 10px;
}
