.cv2ClassFilterSpan{font-weight:normal;cursor:pointer;padding:2px}
.cv2AddTypeSpan{font-weight:normal;cursor:pointer;padding:1px 2px 2px 2px}
.cv2-menu2{color:#000;width:100%;z-index:1000}
.cv2-icon4972{float:right}
.cv2-edit-img{float:right;padding-left:6px;cursor:pointer}
.cv2-hand-img{float:right;padding-left:6px;padding-right:3px}
.cv2-processing{color:#505050;font:normal 11px Tahoma,sans-serif;padding-left:6px;text-decoration:none}
.cv2-hide{display:none}
.cv2-hidden{visibility:hidden}
.cv2-nkp-rec{color:red}
.cv2-comment{color:#000;background:#FFF;border:1px solid #FFF;border-color:#e5eefc #FFF;line-height:2em;margin:-1px 1em 1em .5em;padding:0 .5em;width:30em;max-height:60em;overflow:hidden;word-wrap:break-word}
.cv2-comment.hover{background-color:#FFC;border-color:#000;display:none;position:absolute;z-index:99999}
.cv2-sec .mnu-labelbox{left:0;top:0}
.cv2-mnu-contentbox{position:absolute;float:left;background:#fff;border:2px solid #568ecb;text-align:left;top:22px;z-index:99999}
.cv2-mnu-contentbox-class{top:23px}
.cv2-mnu-border{border:1px dashed #568ecb;margin:-1px}
.cv2-mnu-hover-over{background:#568ecb;color:#fff}
.cv2-AddTypeOpt{padding:0 18px 4px 5px}
.cv2-ClassOpt{padding:0 18px 4px 5px}
.cv2-ControlDiv{display:none}
.cv2-ClassificationDiv{overflow:hidden;border:0}
.cv2-ClassFilterLabel{color:#818181;padding:2px;vertical-align:top}
.cv2-AddLabel{color:#818181;padding:2px}
.cv2-SelectList{font-size:.85em;vertical-align:top}
.cv2-dx-text{margin-left:5px}
.cv2-sec-content{overflow:hidden;background:0;padding:5px 2%;width:100%}
.cv2-priority-input{width:15px;text-align:center;padding:0;margin:0;border-width:0;border:transparent;background:transparent}
.cv2-priority-drop-down-img{vertical-align:middle;cursor:pointer;padding:2px}
.cv2-non-priority{cursor:pointer;vertical-align:middle;text-align:center}
.cv2-default-cursor{cursor:default}
.cv2-input-container{border:1px dashed transparent;margin-top:1px}
.cv2-input-container-hover{border:1px dashed #0391eb;cursor:default;margin-top:1px}
.cv2-no-drag-line td{padding-bottom:1px}
.cv2-drag-line td{padding-bottom:0;border-bottom:2px solid #0391eb!important}
.cv2-comments-div{padding-top:10px;margin-top:10px;background:#fff}
.cv2-comment-text{padding:10px 0;border:1px solid #f4f4f3}
.cv2-selected .cv2-comment-text span{color:#000}
.cv2-comment-text span{color:#000}
.cv2-indent-comment{padding:0 0 0 25px;display:block}
.cv2-comments-link{color:blue;text-decoration:underline;cursor:pointer}
.cv2-comment-row{background:#fff}
.cv2-comment-row-odd{background-color:transparent}
.cv2-comment-row-even{background-color:#f4f4f3}
.cv2-closed{display:none}
.cv2-row-hover{background-color:#FFC;border-color:#CCC}
.cv2-row-odd{height:20px;background-color:#fff}
.cv2-row-even{height:20px;background-color:#fff}
.cv2-priority-drop-down-menu{display:none;position:absolute;background-color:#FFF;color:#000;border:1px solid #a0a0a0;z-index:9999;text-align:left}
.cv2-priority-drop-down-menu td{padding-left:6px;color:#000;background-color:#FFF}
.cv2-menu-selectable{cursor:pointer}
.cv2-priority-drop-down-menu-hover td{background-color:#346bae;color:#fff}
.cv2-result-item{clear:both;zoom:1;overflow:hidden;padding:4px;height:auto;border-bottom:1px solid #ededed;word-wrap:hyphenate;width:100%}
.cv2-flag-result{background-color:#FFC;color:red;font-weight:bold}
.cv2-flag-result .cv2-historical-item{background-color:#FFC;color:red;font-weight:bold}
.cv2-info dt{display:none}
.cv2-info{clear:both;zoom:1;overflow:hidden;display:inline-block;width:92%}
.cv2-info-icon{background:url(../images/std-info.png) no-repeat center center;width:5%;display:inline-block;margin-right:4px;cursor:pointer;vertical-align:middle;float:left}
.cv2-info-icon.hidden{display:none}
.cv2-item-left{display:table-cell;margin-right:5px;*display:block;float:left}
.cv2-item-center{display:table-cell;vertical-align:middle;*display:inline-block}
.cv2-item-right{display:table-cell;margin-left:5px;float:right;*display:block}
.cv2-scroll-container{overflow:hidden}
.cv2-scroll-arrow-container{background-color:#f6f6f6;width:20px;float:left;background-repeat:no-repeat;background-position-y:50%;width:2%}
.cv2-scroll-active{cursor:pointer}
.cv2-scroll-right-arrow-container{display:block;background-position-x:100%}
.cv2-scroll-left-arrow-container{display:block;background-position-x:0}
.cv2-scroll-left-arrow-container.cv2-scroll-active{background-image:url(../images/scroll_left_20.png)}
.cv2-scroll-right-arrow-container.cv2-scroll-active{background-image:url(../images/scroll_right_20.png)}
.cv2-wrapper-container{overflow:hidden;float:left;width:96%}
.cv2-results-column{float:left;margin-right:20px}
.cv2-mod-icon{margin-left:6px;cursor:pointer;background:transparent url(../images/6250_16.png) no-repeat;width:16px;height:16px;display:inline-block}
.cv2-comment-ind{margin-right:8px;background:transparent url(../images/6222_16.gif) no-repeat;width:16px;height:16px;display:inline-block}
.cv2-move-mnu-item{padding-top:0;padding-right:18px;padding-bottom:4px;padding-left:5px}
.cv2-mnu-hover{background-color:#568ecb;color:#fff;cursor:pointer}
.cv2-historical-item{color:#7d7d7d}
.cv2-toggleHistLink{cursor:pointer;color:#346bae;float:right;padding-right:6px}
.cv2-prob-count{float:left;padding-left:6px}
.cv2-comment-toggle{cursor:pointer;width:16px;height:16px;display:inline-block}
.cv2-comment-close{background:transparent url(../images/5323_collapsed_16.png) no-repeat}
.cv2-comment-open{background:transparent url(../images/5323_expanded_16.png) no-repeat}
.cv2-priority-menu .menu-selection-ind{display:none}
.cv2-priority-menu{margin:1px}
.cv2-priority-active:hover{border:1px dashed #568ecb}
.cv2-priority-active:hover .cv2-priority-drop-down-img{visibility:visible}
.cv2-this-visit-ind{display:inline-block;cursor:pointer;padding:3px;margin:1px 11px;vertical-align:top;zoom:1}
.cv2-active{background-color:#f3f6fd;color:#385a86}
.cv2-inactive{background-color:#4088e7;color:#fff}
.cv2-selected .cv2-this-visit-ind{cursor:default}
.cv2-dithered,.cv2-dithered .cv2-active{background-color:#dfdfdf}
.cv2-selected .cv2-active{background:#4088e7;color:white}
div.cv2-indicator-menu{background:#f3f6fd;border:1px solid #568ecb;box-sizing:border-box;margin:0 10px;color:#000}
.cv2-selected div.cv2-indicator-menu{border:0;margin:1px 11px;background:transparent;color:#FFF}
.cv2-dithered div.cv2-indicator-menu{background:#f3f6fd}
.cv2-this-visit-ind .menu-selection-ind{display:none}
.cv2-this-visit-ind .menu-container-root{border:1px solid #568ecb}
.cv2-menu-item-disabled{display:none}
.cv2.sub-sec-title{overflow:hidden;position:relative;text-align:center}
.cv2-sec .search-box,.cv2-sec .suggestions{font-size:12px;font-family:Tahoma}
.cv2-hover{width:400px;padding:0 5px;line-height:2em;word-wrap:break-word}
.cv2-hover-label{color:#505050}
.cv2-sec .comment-form{padding:4px;width:100%;box-sizing:border-box}
.cv2-sec .search-box-div{border:0}
.cv2-expanded{border:2px solid #568ecb}
.cv2-priority-size{min-width:45px}
.cv2-chkbx{width:13px;height:13px;display:inline-block;zoom:1}
.cv2-chkbx-selected{background:transparent url(../images/chkbx_selected.png) no-repeat;zoom:1}
.cv2-chkbx-deselected{background:transparent url(../images/chkbx_alert.png) no-repeat;zoom:1}
.cv2-nkp-cont{position:relative;display:inline-block;zoom:1}
.cv2-nkp-cont:hover .cv2-chkbx-deselected{background:transparent url(../images/chkbx_hvr.png) no-repeat}
.cv2-nkp-cont:hover .cv2-chkbx-selected{background:transparent url(../images/chkbx_selected_hvr.png) no-repeat}
.cv2-nkp-text{margin-left:5px;cursor:default;zoom:1;position:relative;display:inline-block;vertical-align:text-bottom}
.cv2-selected{background-color:#4088e7}
.cv2-selected span,.cv2-selected div,.cv2-selected input{color:white}
.cv2-selected .cv2-priority-input{color:white}
.cv2-entry-and-alert-cont{display:table;width:100%}
.cv2-search-entry-cont{display:table-cell;box-sizing:border-box;width:50%}
.cv2-alert-cont{display:table-cell;box-sizing:border-box;width:50%;text-align:right;vertical-align:bottom;padding-bottom:5px}
.cv2-unspecified-alert-cont{color:#346bae;cursor:pointer}
.cv2-dx-ass-unspecified{width:16px;height:16px;background:url(../images/ConsolProblemsSprite.png) -10px -88px;background-repeat:no-repeat;cursor:pointer;display:inline-block;margin-right:4px}
.cv2-dx-ass-specified{width:16px;height:16px;background:url(../images/ConsolProblemsSprite.png) -10px -62px;background-repeat:no-repeat;cursor:pointer;display:inline-block;margin-right:4px}