input.cp-documentation-savebtn {
	padding: 5px;
	float: right;
	margin-top: 10px;
}

input.cp-documentation-inerrbtn {
	padding: 5px;
	float: left;
	margin-top: 10px;
}

.cpm .structure-term-item.documented .structure-yes-no-icon {
	vertical-align: middle;
}
.cpm .pw-doc-content .structure-yes-no-icon {
	line-height: 2;
}