.cic-column{min-height:20px;line-height:20px;}
.cic-column .res-ind{line-height:1em;}
.cic-events-container,.cic-problems-container,.cic-decision-container{width:32%;float:left;margin:0 .25%;}
.cic-hover{width:400px;padding:0 5px;line-height:2em;word-wrap:break-word;}
.cic-hover-label{color:#505050;}
.cic-container{overflow:auto;}
.cic-container .sub-sec-display{font-weight:bold;}
.cic-container dl.result-info{border-bottom:1px solid #ddd;}
.cic-container dl.result-info dd{padding:2px 8px;}