/*Cerner allergies example*/
.cerner_all_table th {font:normal 13px Tahoma,sans-serif; padding: 1px 0 0 2px; background-color:#E8E8E8;}
.cerner_all {font:normal 13px Tahoma,sans-serif; padding: 1px 0 0 2px;}
.cerner_all_reac {font:normal 13px Tahoma,sans-serif; padding: 1px 0 0 2px;}
.cerner_all_even {background:#C2D7F2;}
.cerner_all_onset {padding: 0 0 1px 12px; font:normal 9px Tahoma,sans-serif;}
.cerner_all_severity {padding: 0 0 1px 12px; font:normal 9px Tahoma,sans-serif;}
.cerner_all_severe {color: red; font-weight:bold;}

/*Cerner quick links example*/
.cerner_ql_heading {background:#E8E8E8; padding: 2px 2px; font:normal 13px Tahoma,sans-serif;}
.cerner_ql_search_bar  {passing:2px 2px; zoom:1;}
.cerner_ql_search_combo {width: 20%; height: 25px;}
.cerner_ql_search_box {width: 69%; height: 21px;}
.cerner_ql_search_button {width: 10%; height: 26px;}
.cerner_ql_links {padding-left: 2px;}