.cl-link-text{color:#3380E5;}
.cl-link{border-bottom:1px solid #EDEDED;border-left:1px solid #EDEDED;border-right:1px solid #EDEDED;padding-left:.5em;}
#clDrop,.cl-sec .drop-Down{display:none;}
table.custom-link-table td{padding:0;}
table.custom-link-table{border-spacing:0;width:100%;}