.dp-info{clear:both;zoom:1;overflow:hidden;padding:0 1%;border-bottom:1px solid #EDEDED;word-wrap:break-word;}
.dp-info dt{display:none;}
.dp-name{width:32%;float:left;display:inline-block;margin-right:1%;}
.dp-res{width:42%;float:left;display:inline-block;margin-left:1%;margin-right:1%;}
.dp-dt{width:20%;float:left;display:inline-block;margin-left:1%;}
.dp-res a,.dp-res a:link,{text-decoration:none;cursor:pointer;}
.dp-res a:active,.dp-res a:hover{text-decoration:underline;}