.da-staticinfo {table-layout:fixed; border-bottom:1px solid #E0E0E0;}
.da-algorithm {width:24%; text-align:right; padding-right: 1%; padding-bottom: 1%;}
.da-updt {width:73%; text-align:left;  font-size: 11px;} 
.da-cbo {line-height:2.5em; padding: 2px 0;}
.da-cond-lbl {margin-right:1em;}
.da-info {clear:both; zoom:1; overflow:hidden; padding:0 1%; word-wrap:break-word;} 
.da-info dt {display:none;}
.da-meas-notmet {background:url(../images/5278_16.gif); repeat:no-repeat;height:16px;width:16px; display:inline-block;}
.da-meas-notdone {background:url(../images/6376_16.png); repeat:no-repeat;height:16px;width:16px;display:inline-block;}
.da-meas-done {background:url(../images/4022_16.png); repeat:no-repeat;height:16px;width:16px;display:inline-block;}
.da-meas-exclude {background:url(../images/cancel_disabled.gif); repeat:no-repeat;height:16px;width:16px;display:inline-block;}
.da-measure {width:50%; float:left; display:inline-block; margin-right:1%;}
.da-icon {width:11%; float:left; display:inline-block; margin-left:1%;}
.da-outcome {width: 36%; float:left; display:inline-block; margin-left:1%;}
.da-add{padding-left:5px;}