.disch-table, .disch-table-hdr {table-layout:fixed; width:100%;}
.disch-table, .disch-table-hdr  {line-height:1.5em}
.disch-table-hdr td { font-size:12px;}
.disch-table-hdr {color:#505050;background:#F6F6F6; text-align:center;}
.disch-pointer {cursor:pointer;}
.disch-table td, .disch-table-hdr td { text-align:center; border-right:#E6E8F1 2px solid;padding-top:5px;padding-bottom:5px; border-bottom:#E6E8F1 2px solid}
.disch-sec.closed .sec-content {display:none;}
.disch-sgn-button {padding-top: 4px;text-align: right;}
.disch-sgn-button > button {cursor: pointer;font-size: 100%;}