/**
 * 	Assigning widths to the Note type, Author, Date and Image column
 */
.doc-cat{width: 38.3%;display:table-cell;}
.doc-auth{width: 33%;display:table-cell;}
.doc-date{width: 23.3%;display:table-cell;}
.doc-image{width: 5.3%;display:table-cell;}
a.doc-image-found {width:16px; height:16px; display:inline-block; background-image:url(../images/4988.gif); text-decoration:none;}
/**
 * 	CSS for Hover
 */
.doc-hover{width:400px;padding:2px 10px;display:inline-block;}
.doc-hover dd span{margin-left:4px;clear:right; }
.doc-hover dl{ line-height:2em;}
.doc-det-type {float:left;}

/**
 * 	CSS for separating rows when zebra striping is off
 */
.doc-table .result-info{border-bottom: 1px solid #EDEDED;}
/**
 * 	This will create some spacing between the left edge of the table and the first column 
 */
.doc-o1-table .hdr .doc-cat, .doc-table .result-info .doc-cat {padding-left: 1%;}
.doc-table .result-info .doc-date{color: #666666;} 
.doc-o1-table .hdr .sort-control>*{padding: 6px 0px 2px;}

.doc-o1-table .hdr dd {vertical-align: middle;}
.doc-o1-table .header-item {padding: 6px 0 2px;}
.doc-o1-table .hdr.shifted {margin-right: 0; padding-right: 17px;}
.doc-o1-table .hdr, .doc-o1-table .result-info {display:table; width: 100%; box-sizing: border-box;clear: both;zoom: 1;overflow-x: hidden;	overflow-y: auto;word-wrap: break-word;}
.doc-o1-table .res-none {padding: 1em;}/*No result found text css for My Documents check box */

.doc-maincontainer input[type="checkbox"] {
	margin-right: .25em;
	margin-bottom: 3px;
	vertical-align: middle;
}
