.fmh-o2-row{clear:both;zoom:1;overflow:hidden;word-wrap:break-word}
.fmh-o2-row.grouped{padding-left:10px}
.fmh-o2-sec .content-body{border:1px solid #DDD}
.fmh-o2-grp-by-cond .fmh-o2-condition,.fmh-o2-grp-by-member .fmh-o2-member{padding:4px 6px 4px 6px;width:30%;float:left;display:inline-block}
.fmh-o2-grp-by-cond .fmh-o2-member,.fmh-o2-grp-by-member .fmh-o2-condition{padding:4px 6px 4px 6px;width:60%;float:left;display:inline-block;border-left:1px solid #DDD}
.fmh-o2-grp-by-cond .fmh-o2-condition-hd,.fmh-o2-grp-by-member .fmh-o2-member-hd{padding:4px 6px 4px 6px;width:30%;float:left;display:inline-block}
.fmh-o2-grp-by-cond .fmh-o2-member-hd,.fmh-o2-grp-by-member .fmh-o2-condition-hd{padding:4px 6px 4px 6px;width:60%;float:left;display:inline-block;border-left:1px solid #DDD}
.fmh-o2-sec .content-hdr .hdr{overflow:hidden;word-wrap:break-word;padding:0}
.fmh-o2-sec .content-hdr .hdr.shifted{margin-right:17px}
.fmh-o2-sec .content-hdr .hdr.grouped{padding-left:10px}
.fmh-o2-info{float:left;display:inline-block;margin-right:20px;white-space:nowrap}
.fmh-o2-sec .comment{clear:both;display:block;padding-top:8px}
.fmh-o2-sec .comment p{padding-left:35px;text-indent:-20px}
.fmh-o2-menu{margin-bottom:5px;width:100%;display:inline-block}
.fmh-o2-menu select{float:right;display:inline-block}
.fmh-o2-menu .res-none{display:inline-block;float:left}
.fmh-o2-row>dt,.fmh-o2-info>dt,.fmh-o2-sec .comment>dt{display:none}