.fu-o2-load{background:url("../images/6439_32.gif") no-repeat 0 0;display:inline-block;height:30px;width:30px;margin:12% 0 0 45%;}
.fu-o2-content{display:inline-block;width:100%;}
.fu-o2-table-height{max-height:400px;}
.fu-o2-search-button-name{margin-left: 1.5%;font-size: 12px;}
.fu-o2-search-button{margin:1% 0 1% 0;}
.fu-o2-favorites-container{width:40%; float:left;margin:8px 0 8px 8px;}
.fu-o2-free-text-search{border-top:1px solid #A0A0A0;margin-top:1%;}
.fu-o2-top-container{width:100%;margin-top:1%;background-color:#f6f6f6;border: 1px solid #ddd;display:inline-block;}
.fu-o2-instructions-container{width:100%;float:left;margin-top:1%;}
.fu-o2-free-text-search:hover{background-color:white !important;color:black !important;}
.fu-o2-default-follow-up{width: 99%;margin-top: 27px;height: 31%;}
.fu-o2-legend{padding:0 5px 0 5px;font-size:12px;}
.fu-o2-col-height{height:50px;}
.fu-o2-search-tabs .fu-o2-tab-active-header{background:url(../images/segmentedControl_active_center.png) repeat-x 0 0;color:#fff;font-weight:bold;}
.fu-o2-side-panel{display:none; width:60%; padding-left: 10px; position: relative; -moz-box-sizing: border-box; box-sizing:border-box; float: right;min-height: 220px;}
.fu-o2-full-table {width:100%;float:left;}
.fu-o2-table {width:40%;float:left;}
.fu-o2-tabs{display:inline-block;width:99%;height:90%;}
.fu-o2-tab-container{display:inline-block;float:left;vertical-align:top;width:25%;margin: 8px 0 8px 1.5%;}
.fu-o2-col,.fu-o2-sp-hide-col,.fu-o2-sp-hide-first-col {width:32%;}
.fu-o2-provider-col{width:30%;}
.fu-o2-time-frame-col{width:18%;}
.fu-o2-comments-col{width:52%;}
.fu-o2-sp-hide-first-col{display:none;}
.fu-o2-sp-hide-mode .fu-o2-sp-hide-first-col{width:98%;display:block;}
.fu-o2-sp-hide-mode .fu-o2-provider-col{ display:none; }
.fu-o2-sp-hide-mode .fu-o2-time-frame-col{ display:none;}
.fu-o2-sp-hide-mode .fu-o2-comments-col{display:none; }
.fu-o2-clicked{background-color:#D6EFFC;}
.fu-o2-quick-pick-val{padding:1% 0 0 3%;word-wrap: break-word;}
.fu-o2-quick-pick-val:hover{background-color:#568ECB;cursor:pointer;color:white;}
.fu-o2-pcp-val{padding:1% 0 0 3%;word-wrap: break-word;}
.fu-o2-pcp-val:hover{background-color:#568ECB;cursor:pointer;color:white;}
.fu-o2-att-phys-val{padding:1% 0 0 3%;word-wrap: break-word;}
.fu-o2-att-phys-val:hover{background-color:#568ECB;cursor:pointer;color:white;}
.fu-o2-provider-res,.fu-o2-fav-res{padding:1% 0 0 2%;word-wrap: break-word;}
.fu-o2-fav-res:hover{background-color:#568ECB;cursor:pointer;color:white;}
.fu-o2-search .suggestions{width:24.3%!important;margin-top:5px;margin-left:-1px;}
.fu-o2-wf-selected-row-init{ background-color:#BBC3CB;}
.fu-o2-wf-selected-row{background-color: #568ECB; color: #FFF;}
.fu-o2-quick-picks-inner-container{height:160px;}
.fu-o2-quick-picks-content{height:100%;}
.fu-o2-favorites-content{height:160px;overflow-x:hidden;overflow-y:auto;border:1px solid #A0A0A0;margin-top:4px;background-color:white;}
.fu-o2-facility-inner-container-headers{background-color:#f6f6f6;height: 16px;padding: .3% 0 .1% 3%;font-size:10px;border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;}
.fu-o2-facility-inner-container-headers-defaults{background-color:#f6f6f6;height: 16px;padding: .5% 0 .1% 3%;font-size:10px;border-bottom: 1px solid #ddd;}
.fu-o2-facility-inner-container{height: 160px;border: 1px solid #A0A0A0;overflow-x: hidden;overflow-y: auto;margin-top:4px;background-color:white;}
.fu-o2-default-follow-up-container{height:40%;}
.fu-o2-default-follow-up-content{height:80%;}
.fu-o2-facility-container{width:30%;float:left;margin: 8px 0 8px 1.5%;}
.fu-o2-quick-picks-container{height:100%;}
.fu-o2-search-content{height: 160px;margin-top:4px;}
.fu-o2-suggestion{width:28%;}
.fu-o2-tabs-content{border:1px solid #DDD;min-height:230px;overflow-x:hidden;width:100%;}
.fu-o2-search{background-color:#FFF;border:1px solid #A0A0A0;display:inline-block;width:99%;height:24px;margin-bottom: 1.5%;}
.fu-o2-search .search-box-div{border:medium none;float:left;padding:0 0 0 .1%;width:80%;}
.fu-o2-search .search-box{background:url("../images/6428_16.png") no-repeat scroll 2px 4px #FFF;border:medium none;font-family:arial;font-size:12px;padding:4px 0 0 20px;width:100%;height:16px;}
.fu-o2-search-title{color:#A0A0A0;}
.fu-o2-delete-hover{display:inline-block;cursor:pointer;background:url(../images/6457_over_16.png) no-repeat center center;}
.fu-o2-no-value{color:#a0a0a0;}
.fu-o2-no-favorites{color:#a0a0a0;padding: 1% 0 0 2%;}
.fu-o2-clear-sugg-text{background:url("../images/6457_up_16.png") no-repeat scroll right center #FFF;cursor:pointer;display:inline-block;float:right;height:18px;width:16px;visibility:hidden;margin:3px 2px 0 0;}

/* Side Panel Styles */
.fu-o2-side-panel{ display:none; width:60%; padding-left: 10px; position: relative; -moz-box-sizing: border-box; box-sizing:border-box; float: right;min-height: 220px;}
.fu-o2-edit-title{padding:5px;font-weight:bold;font-size:14px;}
.fu-o2-address-details{display:inline-block;float:left;width:48%;margin-bottom:10px;}
.fu-o2-time-details{display:inline-block;float:left;margin:0 0 10px 4%;width:48%;}
.fu-o2-street-info{margin-bottom:5px;}
.fu-o2-city-info{display:inline-block;margin-right:8px;width:42%;}
.fu-o2-city-input{width:100%;}
.fu-o2-state-info{display:inline-block;margin-right:8px;width:18%;}
.fu-o2-state-input{width:100%;}
.fu-o2-zipcode-info{display:inline-block;width:30%;}
.fu-o2-zipcode-input{width:100%;}
.fu-o2-comments-section{clear:both;height:160px;margin-left:0.2%;}
.fu-o2-predefined-comment{display:inline-block;float:left;width:52%;margin-right:4%;}
.fu-o2-comments{float:left;width:41%;height:142px;}
.fu-o2-comments-input{width:97%;resize:none;height:100%;overflow-y:auto;}
.fu-o2-sp-comments-sec{height:100%;}
.fu-o2-comments-list{width:98%;height:146px;overflow-y:auto;border:1px solid #AAA;padding-left:10px;background-color:#FFF;}
.fu-o2-side-panel-favorites-content{clear:both;float:right;margin:10px 15px 10px 0;}
.fu-o2-street-info .search-box-div,.fu-o2-phone-details .search-box-div{width:90%!important;border-bottom:none!important;}
.fu-o2-street-info .search-box,.fu-o2-phone-details .search-box{background:url("../images/5323_down_16.png") no-repeat right center #FFF;padding:0 9% 0 0;width:100%;font-size:12px;}
.fu-o2-phone-details .suggestions,.fu-o2-street-info .suggestions{width:100%;}
.fu-o2-address-details .section{margin-bottom:0!important;padding:0!important;}
.fu-o2-area-info{padding:7px 0;}
.fu-o2-phone-details .section{padding-bottom:5px;padding:0!important;}
.fu-o2-timeframe-title{float:left;}
.fu-o2-time-separator{float:left;border-bottom:#C0C0C0 1px solid;display:inline-block;width:70%;margin:10px 0 0 10px;}
.fu-o2-date-control-selector{float:left;margin-right:1%;}
.fu-o2-date-control-value{float:left;width:65%;}
.fu-o2-calendar-freetext-input{width:130px;height:50px;resize:none;}
.fu-o2-timeframe-options{clear:both;margin-top:10%;}
.fu-o2-date-info{float:left;}
.fu-o2-followup-days{margin-right:2%;width:30%;height:17px;}
.fu-o2-calendar-input{width:51%;height:15px;margin-right:1.5%;}
.fu-o2-time-input{width:25%;height:15px;margin-left:1.5%;}
.fu-o2-needed-container{padding:5px;clear:both;float:left;}
.fu-o2-checkbox{margin-right:6px;}
.fu-o2-sp-date-info{position:relative;top:-2px;}
/*** view mode ***/
.fu-o2-view-timeframe-details{display:inline-block;float:left;width:38%;margin-right:20px;}
.fu-o2-view-comments-details{display:inline-block;float:left;width:56%;}
.fu-o2-physician-details{font-weight:bold;font-size:14px;padding:0px 5px;}
.fu-o2-view-details{margin-bottom:15px;}
.fu-o2-view-title{color:#505050;}
.fu-o2-view-comments{height:130px;overflow-y:auto;overflow-x:hidden;word-wrap:break-word;white-space: pre-wrap;}
.fu-o2-view-address{margin-bottom:10px;}
.fu-o2-sp-actions{display:inline-block;}