.fram-risks-tabs{background-color:#EEE;color:#505050;border-top:1px solid #cecece;border-right:1px solid #cecece;border-left:1px solid #cecece;border-bottom:#EEE;margin-right:10px;display:inline-block;min-width:90px;text-align:center;vertical-align:bottom;font-family:tahoma;font-size:12px;padding:5px;cursor:pointer;z-index:2;margin-bottom:-1px}
.fram-risks-content-body{border:1px solid #DDD;margin-top:0}
.fram-risks-tabs.selected{background-color:#FFF;color:#193f72}
.fram-risks-smoker-row td{border-bottom:1px solid #666!important}
.fram-risks-odd-hover{background-color:#f5f8fc!important}
.fram-risks-even-hover{background-color:#dde4f2!important}
.fram-risks-table .fram-risks-text{height:18px;font-size:12px;font-family:Tahoma}
.fram-risks-table select{height:20px;font-size:12px;color:#000;font-family:Tahoma}
.fram-risks-table tbody{color:#000;font-size:12px}
.fram-risks-table th,.fram-risks-table td{padding:4px 6px}
.fram-risks-table td{border-bottom:thin solid #ededed}
.fram-risks-table th{font-size:10px;color:#505050;background-color:#f6f6f6;vertical-align:bottom;border-bottom:thin solid #DDD}
.fram-risks-td-hvr-active{background-color:#FFC!important}
.fram-risks-link-class{color:#30649c!important}
.fram-risks-not-elig{font-style:italic;font-size:12px;font-weight:normal;color:#C00;padding-left:2px;margin:32px 16px 32px 32px}
.fram-risks-not-elig-sm{font-style:italic;font-weight:normal;color:#C00}
.fram-risks-col1{width:10%}
.fram-risks-col2{width:3%}
.fram-risks-col3,.fram-risks-col4,.fram-risks-col5,.fram-risks-col6{width:21.75%}
.fram-risks-hg{background-color:#e2ecd9}
.fram-risks-rg{background-color:#f3f8ef}
.fram-risks-sub-lbl{font-weight:bold;color:#666;padding-left:32px}
.fram-risks-note{font-size:10px;font-weight:normal;color:#999;padding-left:3px}
.fram-risks-rt{text-align:right}
.fram-risks-ctr{text-align:center}
.fram-risks-sel{vertical-align:top}
.fram-risks-tbh{border-top:thin solid #DDD}
.fram-risks-bbp{border-bottom:thin solid #ededed;border-left:thin solid #ededed;padding-left:16px}
.fram-risks-bbpn{border-left:thin solid #ededed;padding-left:16px}
.fram-risks-bbb{font-weight:bold}
.fram-risks-pr{margin:0 8px;padding:3px 8px}
.fram-risks-disp-n{display:none}
.fram-risks-text,.fram-risks-diastolic-div{width:80px}
.fram-risks-diastolic-div{display:inline-block;float:left;font-size:16.66px;font-family:sans-serif;margin-left:1px}
.fram-risks-float-left{float:left}
.fram-risks-frt{float:right;padding-right:1%;vertical-align:middle}
.fram-risks-doc{font-weight:bold;color:#666}
.fram-risks-p2{padding-left:2px}
.fram-risks-p32px{padding-left:32px}
.fram-risks-blank{height:16px}
.fram-risks-normalcy-span{width:7px;display:inline-block}
.fram-risks-saving-img{vertical-align:middle;padding-bottom:1px}
.fram-risks-table{overflow:auto;font-style:normal}
.fram-risks-table td:last-child{background-color:#f6f6f6;border-bottom:0}
.fram-risks-table tr:last-child td:last-child{background-color:#FFF}