.tmln-sec {position: relative;  zoom: 1;}
.tmln-info {line-height: 1.5em; clear: both; zoom:1; overflow-x:hidden; overflow-y:auto; padding-left: 4px; padding-right:2px; border-bottom: 1px solid #E8EFF9;}
.tmln-info-hd, .tmln-info dt, .tmln-det-hd {position:absolute; visibility:hidden;}
.sub-sec-content .tmln-info dt {position:relative;visibility:visible;}
.tmln-info dd {float: left; padding: 0; display: inline;}

/*==================== Graph =======================*/
.v-graph ul {	list-style: none; display: inline-block; white-space:nowrap; width: 99%; margin-left: 0; padding-left: 0;}
.v-graph  ul li { display: inline-block; 	margin-left: 0; margin-bottom: 0;}
.jqplot-highlighter-tooltip{border:1px solid #000;font-size:1em;z-index:1000;background-color:#FFF;background-color:#FFC;padding:1px 6px;}
.jqplot-x2axis-tick{text-align:center;margin-bottom:0;}
.jqplot-xaxis-tick{text-align:center;}
.jqplot-yaxis-tick {width:40px;}
.nowTime {background-color:#FFC;}
.legend {float: left;font-size:12px;}

.tmln-graph-selection{position:relative;width:300px;white-space:nowrap;border:1px solid #ddd;overflow:auto;}
.tmln-reset-buttons{height:125px;margin:2px 39px 2px 0;}
.tmln-vitals-selection, .tmln-bp-selection{height:300px; margin:2px 0;}
.tmln-control-graph{height:125px;position:relative;left:325px;}
.tmln-vitals-graph, .tmln-bp-graph{height:300px;position:relative;left:290px;}
.tmln-table-graph{position:relative;zoom:1;}
.closed .tmln-table-graph{display:none;}

div.btns {margin:4px 0 4px 8px;}
div.btn {display:inline-block;position:relative;cursor: pointer;vertical-align:middle;margin-right:2px; height:22px; width: 23px; border: 1px solid #C9DFE5; background: #FFF;}
div.series-on{ background-color: #eeeeee;}
div.series-off{ border-right: 3px solid #C9DFE5; border-bottom: 3px solid #C9DFE5;}
.sub-sec {clear: left;}
.sub-sec-hd {zoom: 1;}
.oContainer {clear: both;}
.rBtn {width:99%;}
.rBtn_data {width:99%;margin-left: 25px;}
.rBtn_data canvas {position:relative;}
div.btns div.closed {display:none;}

.tmln-tbl {text-align:left; padding-top:3px;}
.tmln-th  {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; text-align:center; vertical-align:text-top; overflow:visible; zoom:1; background: #FFF;}
.tmln-tab-hd {position:relative; margin-bottom: 10px; padding-top:3px; overflow:visible; word-wrap:break-word; zoom:1; background: #FFF;}
.tmln-col {font-size:12px; text-align:center; border: 1px solid #C9DFE5;}
.tmln-res {font-size:12px; text-align:right; padding-right:5px; background: #FFF;}
.tmln-disc {clear:left; font-weight:bold;}
/* IE Specific Code */

.jqplot-x2axis{margin-bottom:20px;}

/*Sprite css*/

.graph-icon-sprite{ background:url("../images/Sprites/graphIconSprite.png") top left no-repeat; margin-left:.5%;}
.btn.series-on.graph-icon-sprite, .btn.series-off.graph-icon-sprite{ background:url("../images/Sprites/graphIconSprite.png") top left no-repeat; }

.btn.series-on.filledheart-red{background-position:-10px -10px;}
.btn.series-off.filledheart-red{background-position:-439px -10px;}

.btn.series-on.filledheart-maroon{background-position:-406px -10px;}
.btn.series-off.filledheart-maroon{background-position:-835px -10px;}

.btn.series-on.filledsquare{background-position:-373px -10px;}
.btn.series-off.filledsquare{background-position:-802px -10px;}

.btn.series-on.filledrectvertical{background-position:-340px -10px;}
.btn.series-off.filledrectvertical{background-position:-769px -10px;}

.btn.series-on.filledtriangledown{background-position:-307px -10px;}
.btn.series-off.filledtriangledown{background-position:-736px -10px;}

.btn.series-on.filledtriangleup{background-position:-274px -10px;}
.btn.series-off.filledtriangleup{background-position:-703px -10px;}

.btn.series-on.filledstar{background-position:-241px -10px;}
.btn.series-off.filledstar{background-position:-670px -10px;}

.btn.series-on.filledtriangleright{background-position:-208px -10px;}
.btn.series-off.filledtriangleright{background-position:-637px -10px;}

.btn.series-on.filledtriangleleft{background-position:-175px -10px;}
.btn.series-off.filledtriangleleft{background-position:-604px -10px;}

.btn.series-on.plus{background-position:-142px -10px;}
.btn.series-off.plus{background-position:-571px -10px;}

.graph-icon-sprite.filledcircle{background-position:-505px -12px;width:33px;}
.graph-icon-sprite.downvee{background-position:-538px -10px;width:33px;}
.graph-icon-sprite.upvee{background-position:-472px -12px;width:33px;}

