.gc-info dt {display:none;}
.gc-lbl {width:34%; padding:0 2px; text-align:left;}
.gc-res1, .gc-res2, .gc-res3 {width:22%; padding:0 2px; text-align:center;}
th.gc-res2 {width:44%;}
.gc-res1 {border-right:1px solid #EDEDED;}
.gc-table {width:100%; table-layout:fixed;}
.gc-sec.closed .sec-content {display:none;}
.gc-scrl-tbl {margin-right:15px;}
.gc-scrl-tbl-hdr {padding-right:15px;}
.gc-res a, .gc-res a:link {text-decoration:none; color: #000;}
.gc-res a:active, .gc-res a:hover {text-decoration:underline; color: #000;}
.sec-content > .gc-scrl-tbl {padding-right:15px; margin-right:0;}
