.hmi-head{zoom:1;clear:both;overflow:hidden;padding:0 1%;}
.hmi-head .hmi-name span{margin-left:.5%;}
.hmi-info dt{position:absolute;display:none;}
.hmi-info{clear:both;zoom:1;overflow:hidden;padding:0 1%;border-bottom:1px solid #EDEDED;word-wrap:break-word;}
.hmi-name{display:inline-block;float:left;width:71%;}
.hmi-date{float:right;width:26%;margin-left:1%;}
.overdue{color:#C03;font-weight:bold;}
.hmi-sec>.hmi-stale-warning{background:url("../images/4017_16.png") no-repeat scroll 6px 4px #FFFFA0;padding:5px 0 5px 28px;}