/* All classes in this file should be prefixed with the components namespace rdi2014 */
/*.rdi2014 {background-color:green;}*/
.rdi2014-table {
	border: 1px solid #EDEDED;
}

.rdi2014-table tr:hover td {
	background-color: #FFFCE1;
}

.rdi2014-table td {
	padding-left: 5px;
	border: 1px solid #EDEDED;
	width: 50%;
}

.rdi2014-table td.rdi2014-row-title {
	text-align: right;
	padding-right: 5px;
	background-color: #F6F6F6;
	font-size: 12px;
	color: #505050;
}

.rdi2014-table td.rdi2014-vip-title {
	text-align: center;
	background-color: #99CCFF;
	font-size: 14px;
	font-weight: bold;
}

.rdi2014-table tr:hover td.rdi2014-vip-title {
	background-color: #99CCFF;
}

.rdi2014-units {
	font-size: 9px;
	color: #A0A0A0;
}

.rdi2014-banner td {
	padding: 5px;
	vertical-align: middle;
	border: solid #568ECB;
}

.rdi2014-banner td.rdi2014-banner-image {
	width: 5%;
	border-width: 2px 0 2px 2px;
}

.rdi2014-rdi-banner td.rdi2014-banner-text {
	border-width: 2px 2px 2px 0;
}
