.hml-info, .hml-info-hdr {clear:both; zoom:1; overflow:hidden; padding:0 1%; word-wrap:break-word;width:100%;}
.hml-info {border-bottom:0px solid #EDEDED;}
.hml-info dt {display:none;}
.hml-sig {display:inline; padding-left:.5em;}
/*====Info Icon====*/
.hml-info-icon-div {display: inline-block;border-bottom:1px solid #EDEDED;width: 100%;}
.hml-info-icon-div div.hml-info-row {display: inline-block;width: 94%;}
.info-icon.disp {height: 16px;margin: 4px 0 0 4px !important;width: 16px;float: left;}
/*--med modifications--*/
.hml-info dd {display:inline;} 
.hml-dthrd, .hml-dthrd:hover {color:#cecece; cursor:default;}
.hml-content-ft { background:#fff;  border-bottom:#959FA7 1px solid; border-left:#959FA7 1px solid; border-right:#959FA7 1px solid; padding-top: 6px;}
.closed .hml-content-ft {display: none;}
/* Theme Footers */
.brown .hml-content-ft{border-color:transparent #78502C #78502C #78502C;}
.cernerblue .hml-content-ft{border-color:transparent #55A9E2 #55A9E2 #55A9E2;}
.darkgreen .hml-content-ft{border-color:transparent #166E3A #166E3A #166E3A;}
.green .hml-content-ft{border-color:transparent #ADCC92 #ADCC92 #ADCC92;}
.grey .hml-content-ft{border-color:transparent #6A737B #6A737B #6A737B;}
.lightblue .hml-content-ft{border-color:transparent #AABECD #AABECD #AABECD;}
.lightgrey .hml-content-ft{border-color:#959FA7 #959FA7 #959FA7 #959FA7;}
.navy .hml-content-ft{border-color:transparent #005074 #005074 #005074;}
.orange .hml-content-ft{border-color:transparent #FF8025 #FF8025 #FF8025;}
.pink .hml-content-ft{border-color:transparent #E1969D #E1969D #E1969D;}
.purple .hml-content-ft{border-color:transparent #691571 #691571 #691571;}
.yellow .hml-content-ft{border-color:transparent #FDC438 #FDC438 #FDC438;}

.hml-rnw-row {border-top:1px solid #959FA7; padding:5px;}
.hml-sgn-row {padding:5px; text-align:right; }
.hml-route{float:left; padding-left:5px; color:#666}
.hml-rnw-btn {font:normal 11px/1.5em Tahoma, sans-serif; margin: 0 3px;}
.hml-rnw-btn img {vertical-align:bottom;}
.hml-sgn-btn { width:5em; font-size:11px; margin-right:5px; padding: 0 3px;}

.content-body .hml-med-selected, .hml-med-selected .hml-sig  {color:#FFF; background:#0000FF;}
.hml-rx-hx  {display:inline-block; width:20px;}
.hml-rx-hx img {vertical-align:bottom;}
.hml-route-link, .hml-disp-q-rnw, .hml-rfl-rnw {color:#0000FF; cursor:pointer;}
.hml-rt-spn {color:#0000FF; cursor:pointer; padding: 0 3px;}
.hml-route-link.hml-dthrd {/*background:#FFF;*/ color:#cecece; cursor:default; text-decoration:none;}
.hml-med-selected .hml-disp-q-rnw, .hml-med-selected .hml-rfl-rnw, .hml-med-selected .hml-route-opt-spn {color:#FFF; cursor:default;}
.hml-cncld .hml-disp-q-rnw, .hml-cncld .hml-rfl-rnw, .hml-cmplt .hml-disp-q-rnw, .hml-cmplt .hml-rfl-rnw {color:#666; cursor:default;}
.hml-rfl, .hml-disp-q {white-space:nowrap;}
.hml-hide-sig-line {display:none}
.hml-cncld, .hml-cmplt {text-decoration:line-through;}
.hml-route-link {text-decoration:none;}
.hml-info .hml-dur, .hml-info  .hml-dur-cd, .hml-info .hml-disp-dur, .hml-info .hml-disp-dur-cd, .hml-info .hml-disp-qty-cd, .hml-info .hml-cat-cd {display:none;}

/*====Route Menu====*/
.hml-med-opt {padding:0 30px 1px 10px; }		
.hml-mnu-hvr {color:#FFF; background:#0000FF; cursor: pointer;} 
.hml-rt-hr {display:block; cursor:default;}
.hml-rt-menu {color:#000; width: 18%; position:absolute; border:1px solid #000; background-color:#FFF; padding:5px; z-index:2000; zoom:1;}
.hml-rt-sel {font-weight: bold;}	
.hml-rt-hover {display:none; }
.hml-rt-hover-hd {font-weight: bold; text-align: center;}
.hml-rt-div { position:absolute; background-color:#FFC;  border:3px solid #FFF15F;  padding:5px;}
.hml-rt-addr {padding: 3px 0;}
.hml-tt-arr-lt {position: absolute; background:url(../images/ttArrowLt.gif) no-repeat 0 0; height:16px; width: 16px; z-index: 1000;}
.hml-tt-arr-rt {position: absolute; background:url(../images/ttArrowRt.gif) no-repeat 0 0; height:16px; width: 16px; z-index: 1000;}
.hml-rt-more-printer, .hml-rt-printer {cursor: pointer;}
.hml-rt-uid, .hml-defrt-uid {display: none;}
.hml-rt-more-printer {color:#6F6F6F; }
.hml-mp-hvr {font-style: italic;}
.hml-mp-div { position:absolute; background-color:#FFF; border:2px solid #000; padding:5px 10px;}
.hml-mpd-rt {border-left:none;}
.hml-mpd-lt {border-right:none;}

/*====Hover table====*/
.hml-hvr-tbl {border-collapse:collapse; position:absolute; margin-left:1px; width:120px; zoom:1; display:none;} 
.hml-rfl-hvr-tbl {border-collapse:collapse; position:absolute; margin-left:1px; width:150px; display:none;} 
.hml-rfl-all {margin:10px;vertical-align:middle;}
.hml-row {background: #F8F8FF; }
.hml-row-tl {border-left: 1px solid #000;}
.hml-row-bl {border-bottom: 1px solid #000; border-left: 1px solid #000; }
.hml-row-tr {border-right: 1px solid #000; border-top: 1px solid #000;}
.hml-row-br {border-bottom: 1px solid #000; border-right: 1px solid #000;}
.hml-ref-tab {border-left: 1px solid #000; border-right: 1px solid #000; border-top: 1px solid #000;background: #F8F8FF; text-align:center; padding: 0 3px;}
.hml-row-hd {background: #F8F8FF; line-height: 10px;}
.hml-row-l { border-left: 1px solid #000; border-right: 1px solid #000; padding: 0 3px;}

.hml-rt-crnr {width: 35px;}
.hml-rfl-hvr-tbl .hml-rt-crnr {width: 70px;}
.hml-qty-txt {width:20px; margin:0 10px;}
.hml-hvr-tbl .hml-qty-txt {width:40px; margin:0 5px;}
.hml-rnw-t {color:#0000FF; }
.hml-hide-tbl {display:none;}

/*====Meds Rec====*/
.hml-mrec{text-align:right; line-height: 1em; padding-bottom:2px;}
.hml-mrec-link{color:#3380E5;}
.hml-mrec-link:hover {text-decoration:underline; cursor: pointer;}
.hml-mrec-link-dthr, .hml-mrec-link-dthr:hover {color:#CECECE;cursor:default; text-decoration:none;}

.hml-line-spacing {margin-top:10px;}
.hml-padding-top20 {padding-top:20px;}
.hml-padding-left20 {padding-left:20px;}
.hml-accordion-left-alignmnent {margin-left:5px;}
.hml-hidden {visibility:hidden;}

.hml-mimic-a-tag {color:#3380E5;float:right;cursor:pointer}
/* ==== end med modifications ==== */
.hml-sec .sub-title-disp {
	padding-right: 0px;
	line-height : 1.6em;
	overflow : hidden;
}


.hml-info .hml-formulary {	
	float: right;
	margin: 5px 5px 5px 0;	
	background: white;
	padding: 0 6px;
	width:5em;
}

.hml-sec .health-plan-selector-dropdown {
	margin-top: -1px;
}
.hml-sec .single-item-dropdown{
	margin-top : 1px;
}
.hml-med-selected .eligibility-info.health-plan-unknown {
	color: #000000;
}
