/* ==== Immunizations-o2 ==== */

/* Table columns */
.immun-o2-vaccine {
    width: 60%;
    padding-left: 10px;
}

.immun-o2-last-admin-date {
    width: 22%;
}

.immun-o2-patient-age {
    width: 18%;
}

.immun-o2-registry-links-container {
    display: inline-block;
}

.immun-o2-registry-secondary-text {
	color: #505050;
}

.immun-o2-row-selected {
    background-color: #568ECB;
    color: #FFF;
}

.immun-o2-row-selected-init {
    background-color: #BBC3CB;
}

/* Containers */
.immun-o2-left-container {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.immun-o2-lotManufacturer {
    padding-left: 12px;
}

.immun-o2-lot {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.immun-o2-manufacturer {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.immun-o2-table {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.immun-o2-sidepanel-container {
    display: inline-block;
    padding-left: 10px;
    width: 40%;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
}

.immun-o2-sidepanel-container-test {
    display: inline-block;
    padding-left: 10px;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
}

.immun-o2-maincontainer {
    width: auto;
    overflow: hidden;
}

.immun-o2-sec .immun-o2-readpane .preview_pane {
    position: relative;
    background-color: #F6F6F6;
    border-color: #DDD;
    border-width: 1px;
    width: 100%;
    box-sizing: border-box;
}

.wf .list-as-table .hdr .immun-o2-vaccine {
    padding-left: 10px;
}

.wf .list-as-table .result-info .immun-o2-vaccine {
    padding-left: 10px;
}

/* Reading pane */
.immun-o2-rp-content {
    padding: 18px 20px 10px 10px;
}

.immun-o2-rp-indicator {
    float: left;
    background: url(../images/note_indicator.png) no-repeat center #F6F6F6;
    margin-top: -2px;
    width: 5px;
}

/* Reading pane Title section */
.immun-o2-rp-section-separator {
    border-bottom: 1px solid #DDDDDD;
    height: 9.5px;
    overflow: visible;
}

.immun-o2-rp-main-separator {
    border-bottom: 1px solid #FFF;
    height: 10px;
    margin-bottom: 12px;
    overflow: visible;
}

.immun-o2-unchart-reason{
	padding-left: 20px;
}

/* Reading pane History section */
.immun-o2-rp-history {
    padding: 0 0 20px 10px;
}

.immun-o2-rp-history-title-text {
    display: inline-block;
    font-size: 12px;
    color: #505050;
    padding-left: 11px;
    background-color: #F6F6F6;
    padding-right: 4px;
}

.immun-o2-rp-history-hi {
    padding: 0 0 0 14px;
}

.immun-o2-rp-history-content {
    vertical-align: middle;
    overflow: hidden;
}

.immun-o2-rp-history-content-data {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
    float: left;
    margin-bottom: 12px;
}

/* Reading pane Comments section*/
.immun-o2-rp-comments {
    padding: 0 0 0 30px;
    overflow: visible;
    word-wrap: break-word;
    display: inline;
}

.immun-o2-rp-comments-text {
    display: block;
    padding-left: 30px;
}

.immun-o2-rp-comments-text-hi {
    padding-left: 12px;
}

.immun-o2-sp-value {
    padding: 10px 0 0 0;
    display: inline;
}

.immun-o2-sp-label {
    padding: 10px 0 0 10px;
    display: inline;
}

.immun-o2-sp-content {
    display: block;
}

.immun-o2-product {
    padding: 0 0 10px 30px;
    display: block;
}

.immun-o2-provider {
    display: inline-block;
    padding: 0 0 5px 30px;
}

.immun-o2-sp-admin-date {
    display: block;
}

.immun-o2-toggle {
    float: left;
    display: inline-block;
    height: 14px;
    width: 12px;
    background: url("../images/5323_expanded_16.png") no-repeat right;
    /*padding-top: 5px;*/
}

.closed .immun-o2-toggle {
    background: url("../images/5323_collapsed_16.png") no-repeat right;
}

.immun-o2-sp-group {
    padding: 0 0 10px 20px;
}

.immun-o2-expand-content {
    cursor: pointer;
    padding: 0 0 10px 10px;
}

.closed .immun-o2-sp-container, .immun-o2-side-panel-open .immun-o2-forecast-next-dose-range {
    display: none;
}

.immun-o2-sp-container {
    padding: 10px 0 10px 0;
}

.immun-o2-route-container{
	margin-bottom: 20px;
}

/* === /external HI data === */
.immun-o2-hi-ext-label {
    background-color: #EADDEF;
    font-size: 12px;
    font-weight: normal;
    color: #3E3E3E;
    padding: 0 3px;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    zoom: 1;
    overflow: hidden;
    padding: 7px 5px 5px;
}

.immun-o2-br {
    height: 5px;
}

.immun-o2-spinner-parent {
    position: relative;
}

.immun-o2-hi-ext-label-change-bg {
    font-weight: normal;
    color: #3E3E3E;
    padding: 0 3px;
    zoom: 1;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

.immun-o2-hi-ext-btn {
    font-size: 12px;
    font-weight: normal;
    background-color: #EADDEF;
    color: #3E3E3E;
    position: relative;
}

.immun-o2-hi-ext-btn-right {
    font-weight: normal;
    float: right;
}

.immun-o2-side-panel-button {
    overflow: hidden;
}

.immun-o2-hi-ext-btn-inv {
    visibility: hidden;
    font-size: 12px;
    font-weight: normal;
    position: relative;
}

.immun-o2-hi-hide {
    float: left;
    display: inline;
    -block;
    width: 30%;
    padding: 4px 7px 4px 16px;
}

.immun-o2-ext-name {
    width: 25%;
}

.immun-o2-ext-start-date {
    width: 25%;
}

.immun-o2-ext-comments {
    width: 25%;
}

.immun-o2-ext-provider {
    width: 25%;
}

.immun-o2-ext-with-panel {
    width: 59.9%;
}

.immun-o2-ext-with-panel .immun-o2-ext-provider, .immun-o2-ext-with-panel .immun-o2-ext-comments {
    display: none;
}

.immun-o2-ext-with-panel .immun-o2-ext-name {
    width: 60%;
}

.immun-o2-ext-with-panel .immun-o2-ext-start-date {
    width: 40%;
}

.immun-o2-ext-selected, .immun-o2-ext-selected .immun-o2-sig {
    color: #FFF;
    background: #568ECB;
}

.immun-o2-row-pager {
    border: 1px solid #DDD;
    height: 20px;
}

.immun-o2-hi-img {
    height: 22px;
    width: 22px;
    float: left;
}

.immun-o2-bannerHeader {
    margin-left: 5px;
    padding-top: 5px;
}

.immun-o2-hi-banner-btn {
    float: right;
}

/* Document History editable fields */
.immun-o2-sp-controls {
    padding: 10px 0 0 10px;
}

.immun-o2-shell-label {
    display: block;
}

.immun-o2-sp-vis-date, .immun-o2-dose-unit {
	display: inline-block;
}

.immun-o2-sp-vis-date select {
	display: none;
}

.immun-o2-sp-select {
    min-width: 200px;
}

.immun-o2-edit-mode .immun-o2-doc-history, .immun-o2-edit-mode .btn-group {
    display: none;
}

.immun-o2-cancel-history, .immun-o2-save-history, .immun-o2-save-unchart {
    display: none;
}

.immun-o2-edit-mode .immun-o2-cancel-history, .immun-o2-edit-mode .immun-o2-save-history, .immun-o2-edit-mode .immun-o2-save-unchart {
    display: block;
}

.immun-o2-sp-vis-pub-date {
	width: 125px;
}
.immun-o2-sp-vis-given-date {
	display: block;
}

.immun-o2-sp-vis-selector {
    /*float: left;*/
	display: inline-block;
	/*width: 250px;*/
}
/* hide the date precision selector at all times since we do not need for documenting history purpose*/
.immun-o2-sidepanel-container .est-admin-date select:first-child, .immun-o2-hx-modal-container .est-admin-date select:first-child {
    display: none;
}

.immun-o2-sidepanel-container .est-admin-date .dc-date-format-selector, .immun-o2-hx-modal-container .est-admin-date .dc-date-format-selector {
	margin-left: 0;
}

.immun-o2-sidepanel-container .exact-admin-date select, .immun-o2-hx-modal-container .exact-admin-date select {
    display: none;
}

.immun-o2-doc-history {
    margin-left: 5px;
}

.immun-o2-related-fields {
	float: left;
	padding-right: 5px;
}

.immun-o2-input-fields {
	line-height: 13px;
}

.immun-o2-date-control {
	margin-left: -5px;
}

.immun-o2-sp-controls .dc-date-selector {
	margin-top: -5px;
}

.immun-o2-spinner {
	margin-top: -20px;
}

/* This style is for not showing the separator between the button and drop-down in a SplitButton*/
.immun-o2-split-button {
	padding-right: 0;
	margin-right: 6px;
}

.immun-o2-split-button .btn:first-child {
	border-width: 1px 0 1px 1px;
}

.immun-o2-split-button .btn:first-child+.btn {
	border-width: 1px 1px 1px 0;
}

.immun-o2-split-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.immun-o2-split-button.disabled:hover {
	background: none;
}

.immun-o2-split-button .btn.btn-secondary:hover {
	background: none;
}

.immun-o2-split-button .no-split {
	border-right: 1px solid;
}

.immun-o2-action-holder .sp-button2{
	float: left;
}

/* Document History Modal */
.immun-o2-hx-modal-container {
	border: 1px solid #C1C7CD;
	height: 300px;
	height: 65vh;
	margin: 10px;
}

.immun-o2-hx-modal-add-immun {
	background: url(../images/shadow-left.png) repeat-y right 0;
	width: 30%;
	height: 100%;
	float: left;
	overflow-y: auto;
	overflow-x: hidden;
}

.immun-o2-hx-modal-hx-details {
	height: 100%;
	width: 70%;
	float: right;
	overflow-x: hidden;
	overflow-y: auto;
}

.immun-o2-hx-modal-hx-title {
	padding: 15px 0 8px 15px;
	font-size: 16px;
}

.immun-o2-add-link {
	display: block;
	padding:6px 0;
	text-align: center;
	margin-left: -15px;
}

.immun-o2-add-details-link {
    padding: 10px 0 0 10px;
    display: block;
}
.immun-o2-remove-vis-link {
    padding: 10px 0 0 10px;
    width: 85px;
    display: inline-block;
}

.immun-o2-add-other-vis-link {
    padding: 10px 0 0 10px;
    display: block;
    width: 90px;
}

.immun-o2-modal-left-item {
	padding: 2px 10px 2px 20px;
	border-bottom: 1px solid #C1C7CD;
	cursor:pointer;
}

.immun-o2-modal-left-item.selected {
	background: #568ECB url(../images/white_arrow.png) no-repeat right center;
	color: #FFF;
	margin-right: -1px;
}

.immun-o2-hx-modal-container a:focus {
	border: none;
}

.immun-o2-hx-modal-hx-body {
	padding: 0 15px 15px 15px;
}

.immun-o2-hx-modal-hx-dose-box {
	border: 1px solid #C1C7CD;
	border-top: none;
	padding: 7px 0 10px 0;
}

.immun-o2-hx-modal-hx-dose-box:hover, .immun-o2-popup-item:hover {
	background: #F5F8FC;
}

.immun-o2-hx-modal-hx-dose-box:first-child, .immun-o2-hx-modal-hx-dose-box.combo.ex-read-only  {
	border-top: 1px solid #C1C7CD;
}

.immun-o2-hx-modal-hx-dose-box .alert-msg {
	padding-bottom: 0;
	padding-top: 10px;
}

.immun-o2-hx-modal-hx-dose-header {
	padding-left: 10px;
}

.immun-o2-hx-modal-hx-add-dose {
	padding: 10px 0 0 10px;
	display: block;
}

.immun-o2-hx-modal-hx-remove-dose {
	background: url(../images/mpages-sprite.png) no-repeat -80px 0;
	width: 16px;
	height: 16px;
	float: right;
	margin-right: 7px;
	cursor: pointer;
}

.immun-o2-hx-modal-hx-remove-dose:hover, .immun-o2-sp-remove-new-vis:hover {
	background: url(../images/mpages-sprite.png) no-repeat -101px 0;
	cursor: pointer;
}

.immun-o2-sp-remove-new-vis {
    background: url(../images/mpages-sprite.png) no-repeat -80px 0;
    width: 16px;
    height: 16px;
    padding: 1px 17px 5px 0;
    cursor: pointer;
}

.immun-o2-hx-modal-vaccine-satisfy {
	background:url(../images/mpages-sprite.png) no-repeat -42px -53px;
	width:9px;
	height:7px;
	float: left;
	margin: 8px 0 0 5px;
}

.immun-o2-hx-modal-vaccine-satisfy.selected {
	background:url(../images/mpages-sprite.png) no-repeat -54px -53px;
}

.immun-o2-hx-modal-vaccine-unsatisfy {
	color: #CC0000;
	float: left;
	font-size: 18px;
	margin: 5px 0 0 4px;
}

.immun-o2-hx-modal-vaccine-unsatisfy.selected {
	color: #FFF;
}

.immun-o2-read-only-label {
	padding-left: 10px;
}

.immun-o2-read-only-details {
	padding: 0 0 7px 20px;
}

.immun-o2-read-only-header {
	padding: 0 0 10px 10px;
}

.immun-o2-hx-modal-hx-dose-box.combo:hover, .immun-o2-hx-modal-hx-dose-box.combo {
	background-color: #F4F4F4;
}

/* Doc History Popup */
.immun-o2-popup-footer {
	padding: 4px 2px 2px;
	text-align: right;
}

.immun-o2-popup-footer .btn {
	margin-left: 6px;
	line-height: 1;
}

.immun-o2-popup-footer .btn-secondary:hover {
	background-color: rgba(0,0,0,0);
}

.immun-o2-popup-loader {
	background: url("../images/6439_16.gif") no-repeat center;
	height: 16px;
}

.immun-o2-popup-body {
	margin: -4px;
}

.immun-o2-popup-item {
	border-top: 1px solid #C1C7CD;
	padding: 0 4px;
}

.immun-o2-popup-item:first-child {
	border-top: none;
}

.immun-o2-popup-item.selected {
	background-color: #568ECC;
	color: #FFF;
}

.immun-o2-popup-item.dithered {
    background-color: #F4F4F4;
    color: #A0A0A0;
}

/* Forecast Component Table */
.immun-o2-table-container {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.immun-o2-side-panel-addition {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.immun-o2-forecast-status {
    width: 12%;
}

.immun-o2-forecast-vaccine {
    width: 30%;
    padding-left: 10px;
}

.immun-o2-forecast-doses {
    width: 8%;
}

.immun-o2-forecast-last-admin-date {
    width: 13%;
}

.immun-o2-forecast-last-action {
    width: 12%;
}

.immun-o2-forecast-next-dose-range {
    width: 20%;
}

.immun-o2-side-panel-open .immun-o2-forecast-status, .immun-o2-side-panel-open .immun-o2-forecast-last-admin-date, .immun-o2-side-panel-open .immun-o2-forecast-last-action {
    width: 15%;
}

.immun-o2-side-panel-open .immun-o2-forecast-vaccine {
    width: 35%;
    padding-left: 10px;
}

.immun-o2-side-panel-open .immun-o2-forecast-doses {
    width: 12%;
}

.immun-o2-forecast-status-overdue-bold {
    font-weight: bold;
    color: #CC0000;
}

.selected .immun-o2-forecast-status-overdue-bold {
    color: #FFF;
}

.immun-o2-forecast-status-overdue-date {
    color: #CC0000;
}

.immun-o2-sp-refused-action-label {
    padding-bottom: 10px;
}

.immun-o2-empty-sp-glyph {
    background: url(../images/glyph-sprite.png) no-repeat -140px 0;
    width: 135px;
    height: 136px;
    display: inline-block;
}

.immun-o2-empty-sp-align {
    text-align: center
}

.immun-o2-empty-sp-glyph-text {
    vertical-align: middle;
    display: block;
    font-size: 12px;
    color: #505050;
    padding-top: 8px
}

.immun-o2-order-modal-status {
    margin: 10px 0 0 4px;
}

.immun-o2-order-modal-separator {
    border-bottom: 1px solid #525252;
    height: 10px;
}

.immun-o2-order-modal-dialog-container {
    height: 100%;
    position: absolute;
}

.immun-o2-order-modal-dialog-body {
    overflow: hidden;
    height: 100%;
}

/* Chart Exception Dialog */
.immun-o2-ex-modal-controls {
    width: 100%;
}
.immun-o2-ex-modal-description-area {
    box-sizing: border-box;
    margin-bottom: 15px;
}
.immun-o2-ex-vaccine-close {
    float: right;
    background: url('../images/mpages-sprite.png') no-repeat -59px -6px;
    width: 10px;
    height: 10px;
    margin-right: 15px;
}
.immun-o2-ex-vaccine-close:hover {
    cursor: pointer;
}
.immun-o2-ex-removed-immun {
    text-decoration: line-through;
}
.immun-o2-ex-modal-ex-event-box {
    margin-right: 10px;
}
