/****************************
* integrated-calculators-o1
****************************/

.intCalc-tab-control {
    border-bottom: 1px solid #dcdcdc;
}
.intCalc-tab-control ul {
    list-style: none;
    margin: 0 0 -2px 0;
    padding: 0 0 0 10px;
}
.intCalc-tab-control li {
    text-align: center;
    display: block;
}
.intCalc-tab-active .intCalc-tab, .intCalc-tab-inactive .intCalc-tab {
    height: 27px;
    margin-top: 3px;
    font-size: 12px;
}
.intCalc-tab-table-div {
    border: none;
    border-top: 1px solid #B9B9B9;
    margin-top: 0;
    background-color: #fff;
    padding: 10px;
}
.intCalc-table-border {
    border: 1px solid #ddd;
    border-top: none;
}
.intCalc-table-header {
    font-size: 10px;
    background-color: #f6f6f6;
    vertical-align: bottom;
}
.intCalc-table-fixed-layout {
    table-layout: fixed;
}
.intCalc-table-alt-header {
    font-size: 12px;
    color: #000;
    background-color: #ffffcc;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
    text-align: left;
    line-height: 16px;
}
.intCalc-column-border {
    border-left: 1px solid #ddd;
    line-height: 17px;
}
.intCalc-inline-block {
    display: inline-block;
}
.intCalc-cell-padding {
    padding: 0px 6px 0px 6px;
}
.intCalc-header-cell-padding {
    padding: 4px 6px 0px 6px;
}
.intCalc-no-right-padding {
    padding-right: 0px;
}
.intCalc-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
}
.intCalc-row-text-middle {
    padding-top: 3px;
}
.intCalc-light-text {
    color: #505050;
}
.intCalc-no-underline {
    text-decoration: none;
}
.intCalc-fav-margin {
    margin-left: -16px;
}
.intCalc-fav-margin-alt {
    margin-left: 0px;
}
.intCalc-arrow-margin {
    margin-left: -6px;
}
.intCalc-left-spacer {
    padding-left: 5px;
}
.intCalc-right-spacer {
    padding-right: 5px;
}
.intCalc-row-seperator {
    border-top: 1px solid #ddd;
}
.intCalc-right-text {
    text-align: right;
}
.intCalc-alt-text {
    font-size: 10px;
    color: #a0a0a0;
}
.intCalc-hover {
    position: absolute;
    font-size: 12px;
    color: #000;
    padding: 6px;
    line-height: 14px;
}
.intCalc-medCalc-name {
    color: #194072;
    font-weight: bold;
}
.intCalc-medCalc-number {
    color: #CC0000;
    font-weight: bold;
}
.intCalc-action-div {
    background-color: #fff;
    width: 100%;
    padding: 0 8px 8px 8px;
}
.intCalc-show-more-link {
    margin-bottom: 4px;
}
.intCalc-copy-button {
    margin-top: 4px;
}
.intCalc-clickable {
    cursor: pointer;
}
.intCalc-clickable a {
    font-size: 12px;
    color: #30649C;
}
.intCalc-whole {
    width: 100%;
}
.intCalc-name-column-width {
    width: 85%
}
.intCalc-param-name-width {
    width: 40%;
}
.intCalc-date-width {
    width: 95px;
}
.intCalc-modal-chxbox-pad{
    padding-right: 10px;
}
.intCalc-mc-input table{
    width:auto;
}
.intCalc-mc-input td{
    text-align:left;
}
.intCalc-mc-result table{
    width:auto;
}
.intCalc-mc-result td{
    padding: 4px;
    border:1px solid #eeeeee;
}
.intCalc-mc-error-banner {
    padding-top: 3px;
    padding-bottom: 3px;
}
.intCalc-mc-alert-icon {
    margin-top: 2px;
}
.intCalc-mc-alert-msg {
    padding: 0;
}
.intCalc-unit-left {
    float: left;
}
.intCalc-unit-right {
    float: right;
}
.intCalc-new-line:after, .intCalc-last-unit:after {
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0 !important;
    line-height: 0;
    font-size: xx-large;
    content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.intCalc-last-unit {
    display: table-cell;
    float: none;
    width: auto;
}
.intCalc-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.intCalc-tab-active .intCalc-tab-center {
    background: url("../images/tab2_active_center.png") repeat-x top left;
    line-height: 30px;
    min-width: 76px;
    padding: 0 10px 0 10px;
    color: #505050;
}
.intCalc-tab-active .intCalc-tab-left {
    background: url("../images/tab2_active_left.png") no-repeat top right;
    width: 7px;
}
.intCalc-tab-active .intCalc-tab-right {
    background: url("../images/tab2_active_right.png") no-repeat top left;
    width: 7px;
    margin-right: 3px;
}
.intCalc-tab-inactive .intCalc-tab-center {
    background: url("../images/tab2_inactive_center.png") repeat-x top left;
    padding: 0 10px 0 10px;
    color: #797979;
    line-height: 33px;
    min-width: 76px;
}
.intCalc-tab-inactive .intCalc-tab-left {
    background: url("../images/tab2_inactive_left.png") no-repeat top right;
    width: 7px;
}
.intCalc-tab-inactive .intCalc-tab-right {
    background: url("../images/tab2_inactive_right.png") no-repeat top left;
    width: 7px;
    margin-right: 3px;
}
.intCalc-renew-icon {
    background-image: url("../images/3686_16.png");
    height: 17px;
    margin-left: 5px;
}
.intCalc-expanded-icon {
    background-image: url("../images/5323_expanded_16.png");
}
.intCalc-collapsed-icon {
    background-image: url("../images/5323_collapsed_16.png");
}
.intCalc-favorite {
    background-image: url("../images/6652_16.png");
    height: 17px;
}
.intCalc-nonfavorite {
    background-image: url("../images/6652_16_unused.png");
    height: 17px;
}
.intCalc-hover-favorite {
    background-image: url("../images/6652_16.png");
    height: 17px;
}
[dir=ltr] .intCalc-result-check {
    background-image: url("../images/4021_16.png");
    margin-left: 5px;
    height: 17px;
}
[dir=rtl] .intCalc-result-check {
    background-image: url("../images/4021_16.png");
    margin-right: 5px;
    height: 17px;
}
/********************************
* integrated-calculators-o1 End
********************************/
