.ld-info, .ld-info-hdr {clear:both; zoom:1; overflow:hidden; padding:0 1%; word-wrap:break-word;}
.ld-info {border-bottom:1px solid #EDEDED;}
.ld-info dt {display:none;}
.ld-name {width:66%; float:left; display:inline-block; margin-right:1%;}
.ld-row-selected {text-decoration:underline; cursor:pointer; color:#000;}
.ld-dt {width:30%; float:left; display:inline-block; margin-left:1%;}
