.links-cpm-table-label-col {width: 90%;}
.links-cpm-table-url-col {width: 10%; text-align: center;}

.links-cpm-table .result-info {border-top: 1px solid #ddd;}
.links-cpm-table .result-info:first-child {border-top: none;}
.links-cpm-reference-link-img {width: 24px; height: 24px; display: inline-block; background:url(../img/10709.ico) no-repeat;}