/* All classes in this file should be prefixed with the components namespace manageCase */
.manageCase-sec .component-table .content-hdr {
  display: none;
}

.manageCase-sec .component-table .content-body .case-label,
.manageCase-sec .component-table .content-body .case-value {
  width: 45%;
  display: inline-block;
  padding: 5px 10px;
}

.manageCase-sec .component-table .content-body dl {
  border-bottom: 1px solid #EDEDED;
}

.manageCase-sec .component-table .content-body h3 {
  font-weight: bold;
}
.manageCase-supporting-fact .manageCaseSumm-table {
  margin: 0.5em 0;
}
.manageCase-inline-list dt,
.manageCase-inline-list dd {
  display: inline-block;
}

.manageCase-inline-list dd {
  margin-left: 0.5em;
}

.manageCase-inline-list dd + dt {
  margin-left: 1em;
}
.manageCase-table .manageCase-detail {
  width: 15%;
  margin-left: 1%;
  display:inline-block;
  vertical-align: top
}

.manageCase-table .manageCase-data-point {
  width: 30%;
  margin-left: 1%;
  display: inline-block;
  vertical-align: top;
}

.manageCase-table .manageCase-data-point.header-item {
  padding: 0.5em 0;
}

.manageCase-identification-detail-header {
  font-size: 1.1em;
  margin: 0.5em 0;
  font-weight: bold;
}

.manageCase-table .sub-sec-display{
  font-weight: bold;
}

.manageCase-supporting-fact .manageCase-table {
  margin: 0.5em 0;
}

.manageCase-no-supporting-facts {
  color: #A0A0A0;
  padding-top: 5px;
}