.med-o2-info, .med-o2-info-hdr {
	width: 95.4%;
	clear: both;
	zoom: 1;
	overflow: hidden;
	padding: 0 1%;
	word-wrap: break-word;
}
.med-o2-info {
	display: inline-block;
	padding: 4px 6px 4px 8px;
}
.med-o2-sec .content-body {
	border: none !important;
	overflow-y: inherit !important;
}
.med-o2-info dt {
	display: none;
}
.med-o2-name {
	width: 70%;
	float: left;
	display: inline-block;
	margin-right: 1%;
}
.med-o2-has-rej .med-o2-name {
	width: 70%;
	float: left;
	display: inline-block;
	margin-right: 1%;
	margin-left: -6px;
}
.med-o2-sig {
	display: inline;
	padding-left: .5em;
}
.med-o2-date {
	width: 24%;
	float: left;
	display: inline-block;
	margin-left: 1%;
}
.med-o2-rejected {
	background-image: url(../images/6669.png);
	height: 16px;
	width: 16px;
	margin-top: 10px;
	background-repeat: no-repeat;
	display: inline-block;
	padding-right: .2em;
	float: left;
}
.hvr .med-o2-rejected {
	margin: 4px -8px -4px 0;
	height: 25px;
	width: 20px;
}
.med-o2-has-rej .med-o2-rej-ind {
	display: inline-block;
	height: 10px;
	margin-right: 0.2em;
	width: 13px;
}
.med-o2-is-rej .med-o2-rej-ind {
	background-image: url("../images/6669.png");
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
	height: 16px;
	margin: 2px 0 0 15px;
	padding-right: 0.5em;
	width: 15px;
}
.med-o2-sec-height {
	overflow-y: hidden;
}
.med-o2-info .res-severe .detail-line {
	color: #e50d34 !important;
	font-weight: normal;
}
.info-icon-div {
	width: 100%;
	display: inline-block;
}
.info-icon-div div {
	display: inline-block;
	width: 95%;
	float: left;
}
.med-o2-status-container {
	text-align: right;
	margin-right: 14px;
}
.med-o2-status-disabled {
	color: #666;
}
.med-o2-status {
	display: inline-block;
	padding-right: 6px;
}
.med-o2-status:first-child {
	color: #505050;
}
.med-o2-status dd, .med-o2-status dt {
	float: left;
}
.med-o2-status > dd > a {
	margin: 0;
	color: #000;
}
.med-o2-status > .med-o2-status-img {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 2px;
}
.med-o2-status > .med-o2-status-img.loading-status {
	background: url(../images/6439_16.gif) no-repeat;
}
.med-o2-status > .med-o2-status-img.unknown {
	background: url(../images/3865_16.gif) no-repeat;
}
.med-o2-status > .med-o2-status-img.inerror {
	background: url(../images/4017_16.gif) no-repeat;
}
.med-o2-status > .med-o2-status-img.complete {
	background: url(../images/4022_16.gif) no-repeat;
}

.med-o2-status > .med-o2-status-img.not-started {
	background: url(../images/4015_16.gif) no-repeat;
}
.med-o2-status > .med-o2-status-img.partial {background: url(../images/4013_16.gif) no-repeat;}
.med-o2-status > .med-o2-status-img.partial-inprocess{background:url(../images/reconpendinginprocess.bmp) no-repeat;}
.med-o2-status > .med-o2-status-img.partial-complete{background:url(../images/reconpendingcomplete.bmp) no-repeat;}

.med-o2-medrec-link-seperator{border-left:1px solid;padding-left:4px;border-left-color: #A0A0A0;}

.med-o2-preloader-icon {
	background: url(../images/6439_16.gif) no-repeat 0 0;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.med-o2-sec .sec-content {
	float: left;
	width: 100%;
	padding-bottom: 30px;
}
.med-o2-sec .sidepanel-width {
	width: 60%;
	float: left;
}
.med-o2-sec .sidepanel-closed-width {
	width: 99.8%;
}
.med-o2-details {
	float: left;
	width: 61%;
}
.med-o2-details-open {
	display: block;
	width: 70% !important;
}

.med-o2-content-body .med-o2-order-start-date {
	display: table-cell;
	float: left;
	padding: 0 6px 0 11px;
	width: 20.6%;
}
.med-o2-content-body-scroll .med-o2-order-start-date {
	display: table-cell;
	float: left;
	padding: 0 6px 0 10px;
	width: 21%;
}
@media screen and (max-width: 1024px) {
	.med-o2-order-start-date-open {
		padding-left: 20px;
		width: 15%;
		margin-left: 4px;
	}
	.med-o2-content-body-scroll .med-o2-order-start-date {
		padding: 0 6px 0 11px;
		width: 20.6%;
	}
	.med-o2-sidepanel-container .sidepanel-header {
		max-height: 110px;
		overflow-y: auto;
		width: 99%;
	}
}
.med-o2-order-start-date-open {
	padding-left: 5px;
	width: 25%;
}
@media screen and (min-width: 1025px) and (max-width: 1359px) {
	.med-o2-content-body .med-o2-order-start-date {
		padding: 0 6px 0 9px;
		width: 20.4%;
	}
	.med-o2-content-body-scroll .med-o2-order-start-date {
		padding: 0 6px 0 12px;
		width: 20.6%;
	}
	.med-o2-order-start-date-open {
		padding-left: 12px;
		width: 25%;
	}
}
.med-o2-order-status {
	display: table-cell;
	float: left;
	text-align: left;
	width: 12%;
	padding-left: 4px;
}
.med-o2-hide-status {
	display: none !important;
}
.med-o2-info:hover {
	cursor: pointer;
}
.med-o2-content-body {
	border: 1px solid #DDD;
	float: left;
	display: table;
	width: 99%;
}
.med-o2-content-body .info-icon-div div {
	display: inline-block;
	width: 100%;
	float: left;
}
.med-o2-content-body .row-selected {
	background-color: #3A78BB;
	color: #FFF !important;
	border-bottom: 1px solid #FFF;
}
.med-o2-content-body .row-selected .res-severe, .med-o2-content-body .row-selected .detail-line {
	color: #FFF !important;
}
.med-o2-content-body .row-selected .odd, .med-o2-content-body .row-selected .even {
	background: none !important;
}
.med-o2-content-body .med-o2-content-header {
	background-color: #f6f6f6;
	border-bottom: 1px solid #ddd;
	color: #666;
	display: table-row;
	float: left;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	width: 100%;
}
.med-o2-content-body .med-o2-content-header .med-o2-details {
	background-color: #f6f6f6;
	display: table-cell;
	float: left;
	padding: 5px 0 2px;
	text-indent: 22px;
	width: 58.8%;
	word-wrap: break-word;
}
.med-o2-content-body .med-o2-content-header .med-o2-header-details-open {
	width: 66% !important;
}
.med-o2-content-body .med-o2-content-header .med-o2-order-start-date {
	background-color: #f6f6f6;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	display: table-cell;
	float: left;
	height: auto;
	padding: 5px 0 2px;
	text-indent: 10px;
	width: 20.4%;
	word-wrap: break-word;
}
.med-o2-content-body .med-o2-content-header .med-o2-order-start-date-open {
	border-right: medium none !important;
	display: block;
	float: left;
	margin-left: 10px;
	padding-left: 10px;
	text-align: left;
	text-indent: 0;
	width: 20.4%;
	word-wrap: break-word;
}
.med-o2-is-rej .med-o2-simplified-line {
	display: block;
	margin-left: 35px;
}
.med-o2-simplified-line {
	display: inline-block;
	margin-left: 15px;
	max-width: 88%;
}
.med-o2-has-rej .med-o2-simplified-line {
	display: inline-block;
	margin-left: 0px;
}
.med-o2-content-body .med-o2-content-header .med-o2-order-status {
	background-color: #f6f6f6;
	display: table-cell;
	float: left;
	height: auto;
	padding: 5px 0 2px;
	width: 12%;
	text-indent: 10px;
}
.med-o2-content-body-scroll .med-o2-content-header .med-o2-details {
	width: 58%;
}
.med-o2-content-body-scroll .med-o2-content-header .med-o2-header-details-open {
	width: 64.4% !important;
}
.med-o2-content-body #med-o2-content-container {
	float: left;
	max-height: 330px;
	overflow-y: auto;
	width: 100%;
}
.med-o2-content-body #med-o2-content-container .info-icon-div {
	width: 100%;
	display: inline-block;
	position: relative;
}
.med-o2-content-body .info-icon-med {
	background: url("../images/std-info.png") no-repeat scroll right center rgba(0, 0, 0, 0);
	cursor: pointer;
	display: inline-block;
	float: left;
	margin: 4px 0 0;
	position: absolute;
	vertical-align: middle;
	width: 18px;
}
.med-o2-content-body .info-icon-med.hidden {
	display: none;
}
.med-o2-content-body .sub-sec-title {
	margin-left: 7px;
}
.med-o2-content-body .sub-sec-title .sub-sec-title-heading {
	font-weight: bold;
}
/* Medications Side Panel */
.med-o2-sidepanel-container {
	display: inline-block;
	position: relative;
	padding-left: 10px;
	width: 39% !important;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.med-o2-sidepanel-container .rejected-medication {
	font-family: "Tahoma Bold", Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #e50d34;
	margin-bottom: 10px;
}
.med-o2-sidepanel-container .rejected-medication .med-rejected-icon {
	background-image: url("../images/6669.png");
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
	height: 16px;
	padding-right: 0.3em;
	width: 22px;
}
.med-o2-sidepanel-container h3 {
	font-size: 12px;
	font-weight: bold;
	padding: 0px 10px 0px 10px;
	color: #000;
}
.med-o2-sidepanel-container .sidepanel-action-holder {
	text-align: right;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.med-o2-sidepanel-container .sidepanel-hide {
	display: none;
}
.med-o2-sidepanel-container .sidepanel-close {
	cursor: pointer;
	text-align: center;
	float: right;
	background-color: #F6F6F6;
	padding: 4px 10px;
	margin-left: 6px;
	border: 1px solid #666;
	border-radius: 2px;
	box-shadow: 0 0 0 1px #fff inset;
	min-width: 70px;
}
.med-o2-sidepanel-container .sidepanel-header {
	padding: 10px 0 0 10px;
}
.med-o2-sidepanel-container .sidepanel-header h2 {
	font-size: 16px;
	color: #000;
	font-weight: bold;
	text-transform: capitalize;
	padding-bottom: 10px;
	width: 98%;
	word-wrap: break-word;
}
.med-o2-sidepanel-container .sidepanel-header p {
	color: #7C7C7C;
	padding: 0px !important;
	font-weight: normal !important;
}
.med-o2-sidepanel-container .sidepanel-separator {
	height: 1px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #FFF;
	margin: 10px 0;
}
.med-o2-sidepanel-container .sidepanel-content-section {
	padding: 0px;
	font-size: 12px;
	font-weight: normal;
	font-family: Tahoma, Geneva, sans-serif;
}
.med-o2-sidepanel-container .sidepanel-content-section p {
	padding: 5px 10px;
	clear: both;
	color: #7C7C7C;
	width: 82%;
}
.med-o2-sidepanel-container .sidepanel-content-section span {
	color: #7C7C7C;
	width: 42%;
	float: left;
	padding-right: 10px;
	word-wrap: break-word;
}
.med-o2-sidepanel-container .sidepanel-content-section span.med-details {
	color: #000;
	padding-right: 0px;
	width: 46%;
	word-wrap: break-word;
}