/* alternate table rows */
.bbp_evenrow{background:#E6E6E6;}
.bbp_oddrow{background:#FFFFFF;}
.bbp_wrap_section{max-height:180px!important;overflow: auto;}

/*width spacing for the table  */
.bbp_padding{padding-left: 15px;}
.bbp_prod-number{width:25%;}
.bbp_prod-name{width:25%;}
.bbp_prod-abo{width:22%;}
.bbp_qty{width:8%;}
.bbp_prd-datetime{width:28%;}

/* hover display */
.bbphover{position:fixed;zoom:normal;z-index:99999999;border:1px solid #000;color:#000;background-color:#ffc;padding:5px;opacity:1;text-align:center;overflow:auto;}
.bbp_specimenheader {color: #808080; width:auto;}

/* expand/ collapse image*/
.bbp-collapse{background: transparent url(../images/5323_collapsed_16.png) no-repeat;height:16px;width:16px;  background-position:left; padding-right: 5px;display: inline-block;}
.bbp-expand{background: transparent url(../images/5323_expanded_16.png) no-repeat; height:16px;width:16px; background-position:left; padding-right: 5px;display: inline-block;}
.bbp-displaytable{display:table;width:100%;overflow-y:auto;}
.bbp-displaynone{display:none;width:100%;overflow-y:auto;}
