.rehabr-container{width:100%;}
.rehabr-header{color:#505050;size:10px;text-decoration:underline;font-weight:bold;padding-bottom:2px;padding-top:2px;border:1px solid #ddd;width:100%;background-color:#DDD;}
.rehabr-header span{padding-left:6px;padding-right:6px;}
.rehabr-subheader{text-decoration:underline;padding-left:6px;padding-right:6px;}
.rehabr-subheader span{padding-left:6px;padding-right:6px;}
.rehabr-list{clear:both;zoom:1;overflow:hidden;border:1px solid #DDD;word-wrap:break-word;width:100%;}
.rehabr-container dd p{padding-left:1%;padding-right:8px;}
.rehabr-hidden-name{display:none;width:0;color:red;}
.rehabr-list-text{text-align:left;margin-left:50%;}
.rehabr-list-elem{width:48%;float:left;display:inline-block;padding-left:2%;}
.rehabr-list-info{width:48%;float:left;display:inline-block;padding-left:2%;}
.rehabr-light-striped{background-color:#FFF;}
.rehabr-light-striped:hover{background-color:#F5F8FC;}
.rehabr-dark-striped{background-color:#E8EBF5;}
.rehabr-dark-striped:hover{background-color:#DDE4E2;}