.noe-info{clear:both; zoom:1; overflow:hidden; padding:4px 1%; border-bottom:1px solid #EDEDED; word-wrap:break-word;}
.noe-name, .noe-scr-chk, .noe-scr-name{display:inline;}
.noe-info dt, .noe-param, .noe-scr-param{display:none;}
.noe-disp, .noe-scr-disp{display:block; color:#666;}
.noe-body .noe-info{color:#000;}
.noe-body .noe-info-folder{cursor:pointer; color:#03C;}
.noe-hd{
	font-size:12px; 
	padding-left: 5px;
	padding-top: 5px;
	overflow: hidden;
}
.noe-freq-filter, .noe-mine-filter, .noe-public-filter, .noe-shared-filter, .noe-search-results-filter, .noe-none-filter{overflow-x:hidden;}
.noe-scr-submit{border-top:1px solid #ABADB3; text-align:right; padding:6px 1%;}
.noe-lbl{margin-right:4%;}
.noe-btn{height:22px; margin-right:2%;}
.noe-preloader-icon{background:url(../images/6439_16.gif) no-repeat 0 0; width:16px; height:16px; display:inline-block;}
.noe-pp-icon{background:url(../images/6404_16.png) no-repeat 0 0; width:24px; height:16px; display:inline-block;}
.noe-careset-icon{background:url(../images/2314.gif) no-repeat -16px 0; width:24px; height:16px; display:inline-block;}
.noe-fav-star-active-icon{background:url(../images/3961_16.png) no-repeat 0 0; width:16px; height:16px; display:none; float:right; margin-right:5px; cursor:default;}
.noe-fav-star-disabled-icon{background:url(../images/3961_disabled.gif) no-repeat 0 0; width:16px; height:16px; display:none; float:right; margin-right:5px; cursor:default;}
.noe-fav-order-button{display:inline-block; float:right; margin-right:5px; cursor:pointer; line-height:2em; font-size:12px;}
.noe-scr-remove-icon{background:url(../images/6457_up_16.png) no-repeat 0 0; width:16px; height:16px; display:inline-block; float:right; margin-right:15px; cursor:pointer;}
.noe-scr-remove-icon:hover{background:url(../images/6457_over_16.png)}
.noe-plan-group-shared-name{color:#000; font-weight:bold; padding:3px 0 2px 2px; background:#F6F6F6;}
.noe-plan-group-shared-plans{padding-bottom:3px;}
.noe-sys-name-disp{display:inline; font-style:italic; font-size:10px; padding-left:3px;}
.noe-my-search-default, .noe-prsnl-search-default{color:#A0A0A0; font-style:italic;}
.noe-fav-path{font-size:12px; padding:5px 0 5px 1%;border-bottom:2px solid #C0C0C0;}
.noe-fav-folder-icon{background:url(../images/5082_16.gif) no-repeat 0 0; width:24px; height:16px; display:inline-block;}
.noe-folder-info{display:inline;}
.noe-folder-info dt{display:none;}
.noe-fav-folder{display:inline; cursor:pointer; color:#03C;}
.noe-fav-separator{display:inline; cursor:default;}
.noe-group-selected{background-color:#E6E8F1; border-bottom:1px solid #C0C0C0;}
.noe-group-mouseover{background-color:#EDF4FB; border-bottom:1px solid #A9E2F3;}
.noe-drop-down{cursor:pointer;}
.noe-venue-type-link{background:url(../images/5322_down_hover.png) no-repeat 0 0; width:7px; height:4px; display:inline-block; vertical-align:sub;}
.noe-venue-type-hdr .mnu-labelbox {background:#E6EEF7; padding:4px 5px; position:relative; border-color:#568ECB; border-style:solid; border-width:2px 2px 0; float:left; z-index:1; top:3px;}
.noe-venue-type-hdr .mnu-contentbox {padding:0 18px 4px 5px; position:relative; float:left; background:#fff; border:2px solid #568ECB; text-align:left; top:0px; clear:left;}
/*===== Tab Styles =====*/
.noe-seg-cont-center {
	background:url(../images/segmentedControl_inactive_center.png) repeat-x 0 0; 
	height:22px; 
	width:28%; 
	padding:0 4%; 
	text-align:center; 
	line-height:22px; 
	border-left:1px solid #000; 
	border-right:1px solid #000;
	float:left;
	margin-left: -1px;
	color: black;
	cursor: pointer;
}
.noe-seg-cont-center.selected {
	background:url(../images/segmentedControl_active_center.png) repeat-x 0 0;
	color: white;
	font-weight: bold;
}
.noe-freq-hd, .noe-mine-hd, .noe-public-hd, .noe-shared-hd, .noe-search-results-hd{cursor:pointer; color:#000; float:left; height:22px; width:23.5%;}
.noe-body{clear:both;}

.noe-freq-filter .noe-freq-hd, .noe-mine-filter .noe-mine-hd, .noe-public-filter .noe-public-hd, .noe-shared-filter .noe-shared-hd, .noe-search-results-filter .noe-search-results-hd{font-weight:bold; color:#fff; cursor:default;}
.noe-freq-filter .noe-freq-sec, .noe-mine-filter .noe-mine-sec, .noe-public-filter .noe-public-sec, .noe-shared-filter .noe-shared-sec, .noe-search-results-filter .noe-search-results-sec, .noe-none-filter .noe-none-sec{display:block;}

/**
 * We have to redeclare the preloader from noe2 because the webapp will not include o2 css for us
 */
.noe2-preloader-icon{background:url(../images/6439_16.gif) no-repeat 0 0; width:16px; height:16px; display:inline-block;}

/*===== NOE Dx Table Styles =====*/
.dx-table-wrap{overflow-x:hidden;}
.dx-col1{position:relative;}
.dx-tbl-table-div {overflow-x:scroll;overflow-y:visible;}
.dx-body-modal {position:absolute; top:0; left:0; background-color:#FFF; height:100%; width:100%;}
.mdl-content, .dx-load-wrap {padding:15px; width:95%;}
.dx-tbl-h2 {color: #4D4D4D; font-size: 16px; margin-bottom: 5px;}
.dx-hd-div {background: #F6F6F6; color: #999; font-size: 10px;}
.dx-orders-hd {display:inline-block; width: 50%; padding-left:5px;}
.dx-tbl .dx-tbl-hd {background: #FFF; border-bottom:2px solid #EDEDED; white-space:normal;}
.dx-tbl-cell-pointer{cursor:pointer;}
.dx-tbl-cell td{cursor:pointer;}
.dx-tbl {border: 1px solid #EDEDED; font-size: 12px;}
.dx-tbl th, .dx-tbl td {border-right: 1px solid #EDEDED; border-bottom: 1px solid #EDEDED; text-align: center; vertical-align:middle; padding: 3px; word-wrap:normal; white-space:normal;}
.dx-tbl td.dx-col1, .dx-tbl td.dx-col1 {border-right: 2px solid #EDEDED; display:inline-block; width: 25%; white-space:nowrap;}
.dx-tbl th {text-align: left;}
.dx-btn-row {text-align:right; padding-right: 2em; margin-top: 15px; margin-bottom:5px;}
.dx-btn {margin: 0 3px;}
.dx-tbl-ord dt, .dx-tbl-diag dt {color: #000;}
.dx-tbl-ord dd {color: #666;}
.dx-tbl-diag dd, .dx-adv {font-size: 10px; color: #666;}
.dx-tbl .dx-adv {text-align:left; vertical-align:top; padding-left:3px; padding-top:3px;}
.dx-req {background: #FFFF9B;}
.dx-req .dx-col1 {background:#FFF;}
.asc-req {font-weight:bold;}
.os-filt-warn {color:#E50D34;}

/* Health Plan Selector and Eligibility Information */
.noe-venue-type-hdr .sub-title-disp{
	line-height: 1.8em;
	padding-right: 2px;
	overflow: hidden;
}
.noe-healthplan-selector {
	margin-top: 0px;
	float:right;
}

.noe-healthplan-selector .health-plan-selector-dropdown {
	margin-top:1px;
}

.noe-eligibility-info {
	float:right;
	width:60px;
	margin-top:7px;
	margin-left:6px;
}

/* Fix to correctly hide the venue selection menu */
.noe-sec .cvClassFilterSpan.lb-menu2.menu-hide { display: none; }

/* To fix the padding issue with error message and searchbox */
.noe-search-box-padding{ padding-top:8px; }
