/**
 * We have to redeclare the preloader from noe2 because the webapp will not include o2 css for us
 */
.noe2-preloader-icon{background:url(../images/6439_16.gif) no-repeat 0 0; width:16px; height:16px; display:inline-block;}

.noe-new-order-pref{padding: 4px 0px 6px 0px;}
.noe-future-warning{color:black;}
.wrkflw-views .noe-disabled-venue{margin-left: 8px;color: #A0A0A0;}


.noe-base-sub-sec-title {
	display: inline;
	padding: 0px 5px 0px 5px;
}

.noe-base-sub-sec-title.left {
	float: left;
}

.noe-base-sub-sec-title.right {
	float: right;
}

.noe-base-sub-sec-title.hidden {
	display: none;
}

#noe-base-filters-toggle {
	vertical-align: middle;
}