.stg-add-form{color:#568ecb;cursor:pointer}
.stg-rslt-heading{display: table-row;text-align: left;color: #004666;background-color:#DCDCDC;}
.stg-rslt-row{display: table-row;}
.stg-rslt-item{display: table-cell;width :30%;height: 30px;border-width: 2px;padding-left: 5px;padding-right: 5px;}
.stg-rslt,.stg-rslt-dttm{display: table-cell;width : 20%;border-width: 2px;padding-left: 5px;padding-right: 5px;}
.stg-rslt-string{display: table-cell;width : 5%;height: 30px;border-width: 2px;padding-left: 5px;padding-right: 5px;}
.stg-rslt-data{display: table-cell;width : 5%;border-width: 2px;padding-left: 5px; padding-right: 5px;text-align:center;}
.stg-empty-msg{text-align:center;margin-top:30px}
.stg-details-content{background:#FFFFFF;width:100%;height:600px;border:1px solid #DCDCDC;}
.stg-details-content-show{background:#FFFFFF;width:100%;height:600px;border:1px solid #DCDCDC;overflow-y:auto;}
.stg-form-header{width:99.9%;height:37px;background-color:#F8F8F8;border:1px solid #DDDDDD;}
.stg-prblm-name{width:45%;height:30px;background-color:#F8F8F8;float:left;}
.stg-prblm-text{text-align:left;margin-top:8px;margin-left:8px;font-size: 14px;color:#004666;}
.stg-last-dttm{width:20%;height:30px;background-color:#F8F8F8;float:left;text-align:right}
.stg-lstdttm-text{text-align:right;margin-top:8px;margin-left:8px;color:#7C7C7C;}
.stg-modify-content{width:54%;height:30px;background-color:#F8F8F8;float:left;text-align:right}
.stg-btn-section{width:30.3%;height:30px;background-color:#F8F8F8;float:left;}
.stg-form-Info{width:90%;height:25px;background-color:#FFFFFF;text-align:left;font-size: 14px;margin-top:24px;margin-left:60px;}
.stg-clin-rslt-section{width:38%;height:130px;background-color:#FFFFFF;margin-left:60px;float:left;margin-top:9px;text-align:left;font-size: 14px;}
.stg-path-rslt-section{width:38%;height:130px;background-color:#FFFFFF;margin-left:60px;float:right;margin-top:9px;text-align:left;font-size: 14px;}
.stg-show-more-details-section{width:43%;height:500px;background-color:#FFFFFF;position: relative;margin-left:60px;float:left;margin-top:9px;text-align:left;font-size: 14px;}
.stg-faceup-content{background:#FFFFFF;width:99.5%;height:300px;border:1px solid #DCDCDC;} 
.stg-faceup-content-hide{background:#FFFFFF;width:99.5%;height:300px;display:none; margin-top:30px;border:1px solid #DCDCDC;} 
.stg-empty-form-img{background:url(../images/notepad1.jpg) no-repeat;height:137px;width:137px;margin:auto; }
.stg-show-form-msg{text-align:right;height:30px;width:99.5%;margin-top:11px;}
.stg-showall-form{color:#568ecb;cursor:pointer}
.stg-details-modify-buttons{width:29%;margin-top:5px;margin-left:12px;}
.stg-line{width:80%;height:1px;background-color:#add8e6}
.stg-ellipsis{width :99%;overflow:hidden;text-overflow:ellipsis;}