.oph-prescribe-sec-hd {
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom: 2px solid #89a6ce;
}
.oph-prescribe-sub-sec-hd-tgl.shut {
    background: url(../images/sprite_green.png) -28px 0px;
    height: 12px;
}
.oph-prescribe-tb {
    table-layout: fixed;
}
.oph-prescribe-th th {
    font-size: 13px;
}
.oph-prescribe-faximg-dimensions {
    height: 20px;
    width: 20px;
}
.oph-prescribe-img-dimensions {
    height: 16px;
    width: 16px;
}


.oph-prescribe-cor {
    float: right
}
.oph-prescribe-info {
    overflow: hidden;
    border-bottom: 1px solid #EDEDED;
    word-wrap: break-word;
}
.oph-prescribe-info dt {
    display: none;
}
.oph-prescribe-res a,
.oph-prescribe-res a:link,
{
    text-decoration: none;
    cursor: pointer;
}
.oph-prescribe-res a:active,
.oph-prescribe-res a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.oph-prescribe-res {
    overflow: hidden;
    text-overflow: ellipsis;
}
.oph-prescribe-print-icon {
    margin-right: 1%;
    float: right;
}
.oph-prescribe-print-icon-span {
    display: inline;
}
.oph-prescribe-warning-message{
	font-size:10px;
	color:red;
	font-family:Tahoma;
	padding-left:2px;	
}
.oph-prescribe-ack-grid {
    height: 100px;
    overflow-x: hidden;
    top: 100px;
    position: relative;
    width: 100%;
}
.oph-prescribe-ack-table-th {
    background-color: #f6f6f6;
    color: black;
    font-family: tahoma;
    font-size: 100%;
    height: 20px;
    padding-left:0%;
    width:30px;
}
.oph-prescribe-fax-btn-ctr {
    top: 130px;
    position: absolute;
    width: 95%;
}
.oph-prescribe-msg-ack {
    padding-left: 20px;
    top: 40px;
    position: relative;
    background-color: white;
}
.oph-prescribe-ack-grid {
    background-color: white;
    top: 100px
}
.oph-prescribe-OKButton {
    float: right;
}
.oph-prescribe-show-msg {
    float: left;
    left: 20px;
    top: 120px;
    display: inline;
}
.oph-prescribe-hide-msg {
    float: left;
    left: 20px;
    top: 120px;
    display: inline;
}
.oph-prescribe-fax-icon {
    margin-right: 4px;
    float: right
}
.oph-prescribe-fax-icon-span {
    display: inline
}
.oph-prescribe-print-icon {
    margin-right: 10px;
    float: right
}
.oph-prescribe-print-icon-span {
    display: inline
}
.oph-prescribe-fax-search-prescription {
    margin: 2% 1% 1%;
    height: 48%
}
.oph-prescribe-fax-search-title {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    line-height: 0.1em;
    margin: 1% 0% 1% 0%;
    padding-top: 15px;
}
.oph-prescribe-fax-search-title-span {
    background: #fff;
    padding: 0px 8px 0% 0%;
    font-size: 12px;
    color: #505050;
}
.oph-prescribe-fax-add-recipient-span {
    background: #fff;
    padding: 5px 8px 0% 0%;
    font-size: 12px;
    color: #505050
}
.oph-prescribe-fax-search-provider {
    margin: 3% 1% 1%;
    height: 48%
}
.oph-prescribe-fax-sub-title {
    margin-top: 2%;
    margin-bottom: 0.5%;
    font-size: 12px;
    color: #4A5152;
    font-family: tahoma;
    font-weight: bold;
}
.oph-prescribe-fax-date-title {
    color: #505050;
    font-weight: normal;
    font-size: 12px;
    padding-top: 5px;
}
.oph-prescribe-fax-autosearch {
    display: inline-block;
    width: 60%;
    margin: 2px;
    
}
.oph-prescribe-fax-autosearch  > .search-box-div {
    zoom: 1;
    padding: 2px 0px;
    height: 15px;
    border: 1px;
	
		
}
.oph-prescribe-fax-autosearch  > .search-box-div .suggestions {
	width:58%;
}
.oph-prescribe-popup_text{
	height : 20px;
}
.oph-prescribe-faxAddButton {
    display: inline-block;
    padding-left: 2%;
    text-align:center;
    width: 90px;
}
.oph-prescribe-faxSearchButton {
    display: inline-block;
    padding-left: 2%;
    text-align:center;
    width: 90px;
}
.oph-prescribe-cor {
    margin-right: 10px;
    float: right
}
.oph-prescribe-fax-table {
    border: 1px solid black;
    width: 100%
}
.oph-prescribe-fax-table-th {
    color: black;
    background-color: #f6f6f6;
    padding-left: 2%;
    padding-bottom: none;
    height: 20px;
    font-size: 100%;
    font-family: tahoma;
    border: 1px solid #dddddd;
}
.oph-prescribe-fax-table-th1 {
    border: 1px solid black;
    color: black;
    background-color: #f6f6f6;
    padding-left: 2%;
    padding-bottom: none;
    height: 20px;
    font-size: 100%;
    font-family: tahoma;
}
.oph-prescribe-fax-table-thdelete {
   color: black;
    background-color: #f6f6f6;
    padding-left: 2%;
    padding-bottom: none;
    height: 20px;
    font-size: 100%;
    font-family: tahoma;
    border: 1px solid #dddddd;
}
.oph-prescribe-fax-table-thnumber {
    border-bottom: 1px solid;
    color: black;
    background-color: #f6f6f6;
    padding-left: 2%;
    padding-bottom: none;
    height: 20px;
    font-size: 100%;
    font-family: tahoma;
    border: 1px solid #dddddd;
}
.oph-prescribe-fax-grid {
    border: 1px solid;
    width: 100%;
    display: block;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 25px;
    border-color: #dddddd
}
.oph-prescribe-faxtable-td {
    padding-left: 2%;
    padding-top:1%;
}
.oph-prescribe-search-tab {
    height: 20px;
    border-bottom: 0;
    font-size: 120%;
}

.oph-prescribe-faxtable-tr {
    border: 1px solid #dddddd;

}
.oph-prescribe-fax-search-StartDate {
    display: inline-block;
}
.oph-prescribe-fax-search-EndDate {
    display: inline-block;
    padding-left: 2%
}
.oph-prescribe-fax-search-button {
    display: inline-block;
    padding-left: 15px
}
.oph-prescribe-faxpopup {
    padding: 2%
}
.oph-prescribe-fax_popup_button {
    padding-left: 30%;
}
.oph-prescribe-faxpopupOK {
    width: 40%;
    text-align: centre;
    margin: 2%;
}
.oph-prescribe-fax-Popup-ErrorMessage {
    color: red;
}
.ui-datepicker-trigger{
margin-left:4px;
}
.oph-prescribe-faxtable-tr.highlighted {
    text-decoration:none;
    background-color:#4D8BD1;
    color: white
}