.ordsel-folder{background:url(../images/4972.gif) no-repeat 0 0;width:24px;display:inline-block}
.ordsel-info{clear:both;zoom:1;overflow-x:hidden;overflow-y:hidden;padding:0 1%;border-bottom:1px solid #ededed;word-wrap:break-word;cursor:pointer}
.ordsel-checkbox{float:left;margin-top:3px}
.ordsel-name{float:left;display:inline-block;padding-left:2px}
.ordsel-syn,.ordsel-sent,.ordsel-order-type,.ordsel-component-id,.ordsel-order-syn-and-sent-ids{float:left;display:none;margin-right:1%}
.ordsel-reac{float:left;display:inline-block;margin-left:1%}
.ordsel-info.ordsel-selected{font-weight:bold;color:#000;cursor:default;background-color:#caf7cc}
.ordsel-disp{padding-left:.5em;font-size:.85em;color:#666}
.ordsel-careset-icon{background:url(../images/2314.gif) no-repeat -16px 0;width:19px;height:16px;display:inline-block;float:left;margin-top:2px;margin-left:4px}
.ordsel-pp-icon{background:url(../images/6404_16.png) no-repeat 0;width:19px;height:16px;display:inline-block;float:left;margin-top:2px;margin-left:4px}