.ord2-hist-hdr{clear:both;zoom:1;overflow-x:hidden;overflow-y:auto;background:#efefef;padding:0 1%;font:normal 11px Tahoma,sans-serif;word-wrap:break-word;zoom:1;border-bottom:1px solid #adcc92;color:#787878;border:.5px solid}
.ord2-hist-info-hdr{clear:both;zoom:1;overflow:hidden;border-bottom:1px solid;padding:0 1% 3px;word-wrap:break-word;line-height:2em}
.ord2-hist-info-hdr.shifted{padding:0 30px 3px 1%}
.ord2-hist-dt{display:none}
.ord2-hist-info{clear:both;zoom:1;overflow:hidden;table-layout:fixed;padding:6px 1%;word-wrap:break-word}
.ord2-hist-iconcol{width:2.5%;float:left;display:inline-block;margin-left:.5%;margin-right:auto}
.ord2-hist-datecol,.ord2-hist-orderdtcol{width:8.1%;float:left;display:inline-block;margin-left:1%;word-wrap:break-word}
.ord2-hist-ordcol,.ord2-hist-detailcol{width:14%;float:left;display:inline-block;margin-left:1%;word-wrap:break-word}
.ord2-hist-statcol,.ord2-hist-deptcol{width:7.1%;float:left;display:inline-block;margin-left:1%;word-wrap:break-word}
.ord2-hist-updtcol,.ord2-hist-provcol{width:10%;float:left;display:inline-block;margin-left:1%;word-wrap:break-word}
.ord2-hist-datecol:hover,.ord2-hist-orderdtcol:hover,.ord2-hist-ordcol:hover,.ord2-hist-detailcol:hover,.ord2-hist-statcol:hover,.ord2-hist-deptcol:hover,.ord2-hist-updtcol:hover,.ord2-hist-provcol:hover{text-decoration:underline}
.ord2-hist-date,.ord2-hist-orderdt{height:auto;width:8.1%;float:left;display:inline-block;margin-left:1%}
.ord2-hist-ord,.ord2-hist-detail{height:auto;width:14%;float:left;display:inline-block;margin-left:1%}
.ord2-hist-stat,.ord2-hist-dept{height:auto;width:7.1%;float:left;display:inline-block;margin-left:1%}
.ord2-hist-updt,.ord2-hist-prov{height:auto;width:10%;float:left;display:inline-block;margin-left:1%}
.ord2-hist-col-name{cursor:pointer}
.ohx2-sec .accordion-container.Expanded{zoom:1}
.ord2-hist-info-hdr-sortIcon{overflow-y:hidden;padding-top:5px;cursor:pointer}
.ord2-hist-info-hdr-sortIcon.ascend{background:url(../images/5322_up.png) no-repeat center top transparent}
.ord2-hist-info-hdr-sortIcon.descend{background:url(../images/5322_down.png) no-repeat center top transparent}
.ordhistSprite{background:url("../images/Sprites/ordhistSprite.png") top left no-repeat}
.ord2-hist-coicon{background-position:-10px -10px;background-repeat:no-repeat;width:2.5%;float:left;margin-left:.5%}
.ord2-hist-reicon{background-position:-10px -36px;background-repeat:no-repeat;width:2.5%;float:left;margin-left:.5%}
.ord2-hist-ppicon{background-position:-10px -81px;background-repeat:no-repeat;width:2.5%;float:left;margin-left:.5%}
.ord2-hist-csicon{background-position:-10px -55px;background-repeat:no-repeat;width:2.5%;float:left;margin-left:.5%}
.ord2-hist-coiconcol{background-position:-10px -10px;background-repeat:no-repeat;position:relative;top:5px;width:2.5%;float:left;margin-left:.5%;cursor:pointer}
.ord2-hist-reiconcol{background-position:-10px -36px;background-repeat:no-repeat;position:relative;top:8px;width:2.5%;float:left;margin-left:.5%;cursor:pointer}
.ord2-hist-ppiconcol{background-position:-10px -81px;background-repeat:no-repeat;position:relative;top:5px;width:2.5%;float:left;margin-left:.5%;cursor:pointer}
.ord2-hist-csiconcol{background-position:-10px -55px;background-repeat:no-repeat;position:relative;top:5px;width:2.5%;float:left;margin-left:.5%;cursor:pointer}