/* Classes to determine the sizing of the columns */
.wf .list-as-table .hdr .ord2-nm-hd, .wf .list-as-table .hdr .ord2-st-hd, .wf .list-as-table .hdr .ord2-dt-hd { padding-bottom: 4px; }
.ord2-name, .ord2-nm-hd {width:45%;}
.ord2-status, .ord2-st-hd {width:20%;}
.ord2-date, .ord2-dt-hd {width:18%;}
/* The shifted class is applied to the component header when the content-body is scrolled */
.ord2-hdr-shifted{padding-right:17px;}
.ord2-name:before {display:none;} /* IE8 */