.partogram-fhr-legend-item {
	margin-left: 4px;
	margin-top: 10px;
}

.partogram-fhr-legend-header-item-name {
	height: inherit;
	display: inline-block;
	word-wrap: break-word;
	overflow: hidden;
	vertical-align: top;
	max-width: 95%;
}

.partogram-fhr-legend-header-img {
	display: inline-block;
	vertical-align: top;
	cursor:pointer;
	padding-right: 12px;
}

.partogram-fhr-legend-item-baby-name {
	font-weight: bold;
	font-size: 12px;
}

.partogram-fhr-legend-item-baby-heartrate-unit{
	padding-top:5px;
}
.partogram-fhr-legend-item-baby-heartrate-header {
	margin-left: 20px;
	width: 90%;
}

.partogram-fhr-legend-heartrate-img {
	display: inline-block;
	vertical-align: middle;
	padding-right: 10px;
	width: 14px;
}
.partoFHRHorizontalRuler {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin-bottom: 10px;
	margin-top: 10px;
	width: 90%;
}

.partogram-fhr-legend-item-baby-heartrate {
	display: inline-block;
	word-wrap: break-word;
	overflow: hidden;
	color: #505050;
	vertical-align: middle;
	max-width: 95%;
}

.partoFHRSprite {background: url('../images/Sprites/partoFHRSprite.png') no-repeat top left; width: 10px; height: 10px;  } 
.partoFHRSprite.partoFHRBaby1Base-ON{ background-position: 0 0; width: 12px; height: 12px; } 
.partoFHRSprite.partoFHRBaby1Inter-ON { background-position: 0 -22px; } 
.partoFHRSprite.partoFHRBaby1-ON  { background-position: 0 -42px; width: 25px; height: 25px; } 
.partoFHRSprite.partoFHRBaby2Base-ON { background-position: 0 -77px; width: 12px; height: 12px; } 
.partoFHRSprite.partoFHRBaby2Inter-ON { background-position: 0 -99px; } 
.partoFHRSprite.partoFHRBaby2-ON  { background-position: 0 -119px; width: 25px; height: 25px; } 
.partoFHRSprite.partoFHRBaby3Base-ON { background-position: 0 -154px; width: 12px; height: 12px; } 
.partoFHRSprite.partoFHRBaby3Inter-ON{ background-position: 0 -176px; } 
.partoFHRSprite.partoFHRBaby3-ON { background-position: 0 -196px; width: 25px; height: 25px; } 
.partoFHRSprite.partoFHRBaby-OFF { background-position: 0 -231px; width: 25px; height: 25px; } 
.partoFHRSprite.partoFHRBase-OFF { background-position: 0 -266px; width: 12px; height: 12px; } 
.partoFHRSprite.partoFHRInter-OFF { background-position: 0 -288px; } 
