.partogram-contract-legend-item {
	margin-left: 4px;
	margin-top: 10px;
}

.partogram-contract-legend-img {
	display:inline-block;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 12px;
}

.partogram-contract-legend-item-name {
	display:inline-block;
	font-size: 12px;
	color: #505050;
	word-wrap: break-word;
	overflow: hidden;
	vertical-align: top;
    max-width: 95%;
}

.partoContractSprite { background: url('../images/Sprites/partoContractSprite.png') no-repeat top left; width: 10px; height: 10px;  } 
.partoContractSprite.partoContractMod { background-position: 0px 0px;  } 
.partoContractSprite.partoContractNoInten { background-position: 0px -20px;  } 
.partoContractSprite.partoContractNotPalp { background-position: 0px -40px;  } 
.partoContractSprite.partoContractStrong { background-position: 0px -60px;  } 
.partoContractSprite.partoContractWeak { background-position: 0px -80px;  } 