.partogram-labor-legend-img {
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
	cursor: pointer;
}

.partogram-labor-legend-item {
	margin-left: 4px;
	margin-top: 10px;
}

.partogram-labor-legend-item-name {
	display: inline-block;
	color: #505050;
	font-size: 12px;
	word-wrap: break-word;
	overflow: hidden;
	vertical-align: top;
	max-width: 95%;
}

.partoGraphDivLabor {
	height: 500px;
}

.parto-graph-aa-unit {
	font-size: 11px;
	font-weight: bold;
}

.partoLaborSprite {
	background: url('../images/Sprites/partoLaborSprite.png') no-repeat top left;
	width: 16px;
	height: 16px;
}

.partoLaborSprite.partoLaborFetalPos-E {
	background-position: 0 0;
}

.partoLaborSprite.partoLaborFetalPos-N {
	background-position: 0 -26px;
}

.partoLaborSprite.partoLaborFetalPos-NE {
	background-position: 0 -52px;
}

.partoLaborSprite.partoLaborFetalPos-NW {
	background-position: 0 -78px;
}

.partoLaborSprite.partoLaborFetalPos-S {
	background-position: 0 -104px;
}

.partoLaborSprite.partoLaborFetalPos-SE {
	background-position: 0 -130px;
}

.partoLaborSprite.partoLaborFetalPos-SW {
	background-position: 0 -156px;
}

.partoLaborSprite.partoLaborFetalPos-W {
	background-position: 0 -182px;
}

.partoLaborSprite.partoLaborFetalPos-E-large {
	background-position: 0 -208px;
	width: 32px;
	height: 32px;
}

.partoLaborSprite.partoLaborFetalPos-NE-large {
	background-position: 0 -250px;
	width: 32px;
	height: 32px;
}

.partoLaborSprite.partoLaborFetalPos-N-large {
	background-position: 0 -292px;
	width: 32px;
	height: 32px;
}

.partoLaborSprite.partoLaborFetalPos-NW-large {
	background-position: 0 -334px;
	width: 32px;
	height: 32px;
}

.partoLaborSprite.partoLaborFetalPos-SE-large {
	background-position: 0 -376px;
	width: 32px;
	height: 32px;
}

.partoLaborSprite.partoLaborFetalPos-S-large {
	background-position: 0 -418px;
	width: 32px;
	height: 32px;
}

.partoLaborSprite.partoLaborFetalPos-SW-large {
	background-position: 0 -460px;
	width: 32px;
	height: 32px;
}

.partoLaborSprite.partoLaborFetalPos-W-large {
	background-position: 0 -502px;
	width: 32px;
	height: 32px;
}

.partoLaborSprite.partoLaborAAlines-OFF {
	background-position: 0 -544px;
	width: 37px;
	height: 25px;
}

.partoLaborSprite.partoLaborAAlines-ON {
	background-position: 0 -579px;
	width: 37px;
	height: 25px;
}

.partoLaborSprite.partoLaborFetalPos-OFF {
	background-position: 0 -614px;
	width: 37px;
	height: 25px;
}

.partoLaborSprite.partoLaborFetalPos-ON {
	background-position: 0 -649px;
	width: 37px;
	height: 25px;
}

.partoLaborSprite.partoLaborFS-Legend {
	background-position: 0 -684px;
	width: 12px;
	height: 11px;
}

.partoLaborSprite.partoLaborFS-OFF {
	background-position: 0 -705px;
	width: 37px;
	height: 25px;
}

.partoLaborSprite.partoLaborFS-ON {
	background-position: 0 -740px;
	width: 37px;
	height: 25px;
}

.partoLaborSprite.partoLaborDilation-legend {
	background-position: 0 -775px;
	width: 12px;
	height: 12px;
}

.partoLaborSprite.partoLaborDilation-OFF {
	background-position: 0 -797px;
	width: 37px;
	height: 25px;
}

.partoLaborSprite.partoLaborDilation-ON {
	background-position: 0 -832px;
	width: 37px;
	height: 25px;
}

.partoLaborSprite.partoLaborFetalPos-Error {
	background-position: 0 -867px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: bottom;
	margin-left: 5px;
	cursor: pointer;
}
