.partogram-vitals-legend-item {
	margin-left: 4px;
	margin-top: 10px;
}

.partogram-vitals-temp-legend-item {
	margin-left: 10px;
	margin-top: 10px;
}

.partogram-vitals-legend-img {
	display:inline-block;
	vertical-align: top;
	padding-right: 10px;
	cursor: pointer;
}

.partogram-vitals-temp-legend-img{
	display:inline-block;
	vertical-align: top;
	padding-right: 10px;
	padding-top: 5px;
}

.partogram-vitals-legend-item-name {
	display:inline-block;
	font-size: 12px;
	color: #505050;
	word-wrap: break-word;
	overflow: hidden;
	vertical-align: top;
	max-width: 95%;
}

.partogram-vitals-temp-text {
	font-weight: bold;
}

.partoGraphDivVitals {
	height: 500px;
}

.partoTempGroupLegend {
	display: inline-block;
	cursor: pointer;
	margin-top:2px;
}

.partoVitalsHorizontalRuler {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin-bottom: 10px;
	margin-top: 10px;
	width: 90%;
}

.partoVitalsSprite { background: url('../images/Sprites/partoVitalsSprite.png') no-repeat top left; width: 10px; height: 25px;  } 
.partoVitalsSprite.partoBP-HOVER { background-position: 0 0; height: 19px; } 
.partoVitalsSprite.partoBP-OFF { background-position: 0 -29px; width: 37px; } 
.partoVitalsSprite.partoBP-ON { background-position: 0 -64px; width: 37px; } 
.partoVitalsSprite.partoMHR-HOVER { background-position: 0 -99px; width: 12px; height: 12px; } 
.partoVitalsSprite.partoMHR-OFF { background-position: 0 -121px; width: 37px; } 
.partoVitalsSprite.partoMHR-ON { background-position: 0 -156px; width: 37px; } 
.partoVitalsSprite.partoRR-HOVER { background-position: 0 -191px; width: 12px; height: 12px; } 
.partoVitalsSprite.partoRR-OFF { background-position: 0 -213px; width: 37px; } 
.partoVitalsSprite.partoRR-ON { background-position: 0 -248px; width: 37px; } 
.partoVitalsSprite.partoSPO2-HOVER { background-position: 0 -283px; width: 5px; height: 12px; } 
.partoVitalsSprite.partoSPO2-OFF { background-position: 0 -305px; width: 37px; } 
.partoVitalsSprite.partoSPO2-ON { background-position: 0 -340px; width: 37px; } 
.partoVitalsSprite.partoTemp-Group-OFF { background-position: 0 -375px; width: 25px; } 
.partoVitalsSprite.partoTemp-Group-ON { background-position: 0 -410px; width: 25px; } 
.partoVitalsSprite.partoTemporal-OFF { background-position: 0 -445px; height: 10px; } 
.partoVitalsSprite.partoTemporal-ON { background-position: 0 -465px; height: 10px; } 
.partoVitalsSprite.partoTympanic-OFF { background-position: 0 -485px; width: 9px; height: 10px; } 
.partoVitalsSprite.partoTympanic-ON { background-position: 0 -505px; width: 9px; height: 10px; } 
.partoVitalsSprite.partoAxillary-OFF { background-position: 0 -525px; height: 9px; } 
.partoVitalsSprite.partoAxillary-ON { background-position: 0 -544px; height: 9px; } 
.partoVitalsSprite.partoOral-OFF { background-position: 0 -563px; height: 12px; } 
.partoVitalsSprite.partoOral-ON { background-position: 0 -585px; height: 12px; } 
.partoVitalsSprite.partoSkin-OFF { background-position: 0 -607px; height: 10px; } 
.partoVitalsSprite.partoSkin-ON { background-position: 0 -627px; height: 10px; } 