.partogram-container {
	min-width: 400px;
}

.partogram-container-col-1 {
	display: inline-block;
	vertical-align: top;
	width: 12%;
	margin-top: 8px;
}

.partogram-container-col-2 {
	display: inline-block;
	width: 88%;
}

.partogram-legend {
	margin-top: 25px;
	margin-right: 5px;
}

/* The total width of the Y-Axis is 25px which includes margin and content width due to border-box global setting */
.partogramGraphDiv .jqplot-yaxis {
	margin-right: 5px;
}

.partogramGraphDiv .jqplot-yaxis-tick {
	width: 20px;
	white-space: nowrap;
}

.partogramGraphDiv .jqplot-y2axis-tick {
	white-space: nowrap;
}

.partogramGraphDiv {
	overflow: hidden;
}

.partogram-top-bar-date {
	display: inline-block;
	background-color: rgb(226, 226, 226);
	height: 16px;
}

.partogram-top-bar-ticks {
	height: 16px;
	position: relative;
	overflow: hidden;
}

.partogram-ruler-time-bar-container {
	display: inline-block;
	vertical-align: top;
}

.partoHourTick {
	text-align: right;
	white-space: nowrap;
	position: absolute;
}

.partogram-top-time-bar-date-left {
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: top;
	word-wrap: normal;
}

.partogram-top-time-bar-date-middle {
	display: inline-block;
	white-space: nowrap;
	vertical-align: top;
	text-overflow: ellipsis;
	overflow: hidden;
	word-wrap: normal;
}

.partogram-container-col-2 .jqplot-x2axis {
	margin-bottom: 0px;
}

.partogram-container-col-2 .jqplot-title {
	padding: 0px;
}

.partogram-container-col-2 .jqplot-series-canvas {
	z-index: 1;
}

.partogram-container-col-2 .jqplot-event-canvas {
	z-index: 2;
}

.partoTopBarContainer.graph {
	height: 40px;
	margin-left: 25px;
}

.partoTopBarContainer.table {
	height: 50px;
}

.partoArrowImage {
	display: inline-block;
	cursor: pointer;
	width: 20px;
	height: 50px;
}

.partoArrowImageDiv {
	display: inline-block;
	vertical-align: middle;
}
/* Add 5px between res-ind and the value, in accordance with other non-lab components.
 * Overriding global CSS delcared by other few components
 */
.partogram-graph-tooltip .res-severe > .res-ind,
.partogram-graph-tooltip .res-high > .res-ind,
.partogram-graph-tooltip .res-low > .res-ind,
.partogram-graph-tooltip .res-abnormal > .res-ind{
	margin: 0 5px 0 0;
	background-position-y: 4px;
	height: 20px;
}

partogram-graph-tooltip {
	border-spacing: 5px 10px;
	border-collapse: separate;
}

.partogram-graph-tooltip th {
	background-color: #FFFCE0;
	color: #797979;
	font-size: 10px;
	padding-right: 20px;
	border-bottom: 1px solid #dcdcdc;
}

.partogram-graph-tooltip td {
	font-size: 12px;
	color: #000000;
	padding-right: 20px;
}

.partogramGraphDiv .jqplot-highlighter-tooltip {
	background-color: #FFFCE0;
	border: 1px solid #BDBDBD;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.partogramGraphDiv .jqplot-point-label {
	z-index: auto;
}

.parto-graph-wf-unit {
	font-size: 10px;
	color: #797979;
	padding: 3px;
}

.parto-graph-hover-result-date {
	font: bold 12px Tahoma;
	color: #505050;
}

.partogram-top-bar-oxytocin {
	position: relative;
	overflow-x: hidden;
	height: 9px;
}

.partogram-top-bar-epidural {
	position: relative;
	overflow-x: hidden;
	height: 8px;
	z-index: 10;
}

.partogram-top-bar-tooltip {
	display: none;
	border: 1px solid #BDBDBD;
	font-size: 1em;
	z-index: 1000;
	background-color: #FFFCE0;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
	padding: 1px 6px;
	white-space: nowrap;
	position: absolute;
}

.partoOxyHorizontalBar {
	display: inline-block;
	position: absolute;
	background-color: #FFD6EC;
	height: 6px;
}

.partoEpiHorizontalBar {
	display: inline-block;
	position: absolute;
	background-color: #CFDFF9;
	height: 6px;
}

.partoOxyHover {
	z-index: 6;
}

.partoGraphBaseSprite {
	background: url('../images/Sprites/partoGraphBaseSprite.png') no-repeat top left;
	width: 20px;
	height: 50px;
}

.partoGraphBaseSprite.partoArrowLeft {
	background-position: 0px 0px;
}

.partoGraphBaseSprite.partoArrowRight {
	background-position: 0px -60px;
}
