/* Patient Education styles */
.pated-cpm-table-btn-col{width:30%;}
.pated-cpm-table-label-col{text-align:left;width:90%;}
.pated-cpm-form{float:none;}
.pat-ed-cpm-instr-div{width:49%;float:left;}
.pat-ed-cpm-avail-instr-div{padding-right:1%;}

/*
 * Visual Updates
 */

/**
 * 	Left Container
 */
.pated-cpm-left-container{
	float: left;
	width: 49%;
}
.pated-cpm-form-container{
	background-color: #f6f6f6;
	border: 1px solid #e4e4e4;
	height: 60px;
	margin-bottom: 6px;
}
.pated-cpm-form-container form{
	padding: 0 3px 6px;
	display: block;
	width: 100%;
	height: 50%;
}
.pated-cpm-form-container select{
	max-width: 200px;
}
.pated-cpm-table-label-col, .pat-ed-cpm-avail-instr-div {
	width: 100%;
}
.pat-ed-cpm-avail-instr-div{
	padding: 0px;
	border: none;
	overflow: auto;
}
.pated-cpm-table-label-col.pated-cpm-list-item {
	width: 70%;
	word-break: break-all;
}
.pated-cpm-left-container .result-info{
	cursor: auto;
	margin: 2px;
}
button.pated-cpm-button{
	float: right;
	padding: 4px 12px;
	cursor: pointer;
	background-color: #EFEFEF;
	border: 1px solid #666;
	box-shadow: 0 0 0 1px white inset;
	border-radius: 5px;
}
button.pated-cpm-button:hover{
	background-color: #E4E4E4;
}
button.pated-cpm-button:active{
	background-color: #D8D8D8;
}
/**
 * 	Right container
 */
.pated-cpm-right-container{
	position: relative;
}
.pated-cpm-right-container .header-item-display{
	font-size: 14px;
	padding: 0 0 6px 6px;
}
.pated-cpm-right-container .pated-cpm-table{
	overflow: auto;
	background-color: #FFF;
}
.pated-cpm-right-container .result-info{
	border-bottom: 1px solid #e4e4e4;
	padding: 6px 0px 6px 6px;
}
.pated-cpm-right-container .result-info .pated-cpm-table-label-col{
	width: 90%;
}
.header-item.pat-ed-cpm.remove-button{
	display: none;
}
.pated-cpm-right-container .result-info .pated-remove-icon{
	float: right;
	display: block;
	cursor: pointer;
	background: url(../images/mpages-sprite.png) no-repeat -38px 0; 
	width: 16px; 
	height: 16px;
}
.pat-ed-cpm-avail-instr-div dl .selected{
	background-color:#568ECB;
	color: #FFF;
}
.pat-ed-cpm-instr-div.instructions{
	position: relative;
	float: right;
	min-height: 225px;
	background-color: #f6f6f6;
	border: 1px solid #e4e4e4;
	width: 49%;
}
.pat-ed-cpm-instr-div .pated-patient-education-icon{
	display: block;
	margin: auto;
	background: url(../images/glyph-sprite.png) no-repeat 0 -141px; 
	width: 56px; 
	height: 57px;
}
.pat-ed-cpm-instr-div > .no-pated{
	height: 50%;
	width: 50%;
	position: absolute;
	text-align: center;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}