/* All classes in this file should be prefixed with the components namespace patientInfoWf */
.patientInfoWf-main-container {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}

.patientInfoWf-fieldset, .patientInfoWf-sn-fieldset {
  min-width: 250px;
  margin: 5px;
  margin-right: 15px;
  border: 1px solid #b2b5b6;
  padding: 5px;
  width: 29.5%;
  float: left;
  padding-bottom: 10px;
  border-radius: 5px;
}

.patientInfoWf-sn-fieldset {
  padding: 0px 5px;
}

.patientInfoWf-sn-wrapper {
  padding: 5px 30px;
}

.patientInfoWf-holder {
  margin-bottom: 15px;
}

.patientInfoWf-sn-display {
  word-wrap: break-word;
  margin-bottom: 20px;
}

.patientInfoWf-sn-label {
  color: #6f6f6f;
  margin: 10px 0px;
}

.patientInfoWf-legend {
  padding: 0px 5px;
  color: #6f6f6f;
  margin-left: 3px;
}

.patientInfoWf-label {
  display: block;
  width: 25%;
  text-align: right;
  padding-right: 5px;
  color: #6f6f6f;
  float: left;
}

.patientInfoWf-display {
  display: block;
  float: left;
  width: 65%;
  word-wrap: break-word;
}

.patientInfoWf-sn-label {
  color: #6f6f6f;
  margin: 10px 0px;
}

.patientInfoWf-addr-wrapper, .patientInfoWf-hp-wrapper {
  float: left;
  width: 65%;
}

.clear-fix {
  clear: both;
}
 
.patientInfoWf-tabs:after {
  display: block;
  clear: both;
  content:'';
}
 
.patientInfoWf-tabs li {
  margin: 0px 5px;
  float: left;
  list-style: none;
}
 
.patientInfoWf-tabs a.patientInfoWf-tab-anchor {
  padding: 5px 15px;
  display: inline-block;
  border-radius: 3px 3px 0px 0px;
  background: #d3d3d3;
  color: #4c4c4c;
  transition: all linear 0.15s;
  border: 1px solid #b2b5b5;
  border-bottom: none;
}
 
.patientInfoWf-tabs a.patientInfoWf-tab-anchor:hover {
  background: #ececec;
  text-decoration: none;
}
 
li.active a.patientInfoWf-tab-anchor, li.active a.patientInfoWf-tab-anchor:hover {
  background: #fff;
  color: #4c4c4c;
}
 
.patientInfoWf-tab-content {
  padding: 20px 5px;
  border-top: 1px solid #b2b5b6;
  margin-top: -1px;

}
 
.patientInfoWf-tab {
  display: none;
}
 
.patientInfoWf-tab.active {
  display: block;
}

.patientInfoWf-tabs li.edit-patient-info{
  float: right;
  margin: 5px;
}
