.pe-o2-tab-container{display:inline-block;float:left;vertical-align: top;width:49%;}
.pe-o2-inst-div{border: 1px solid #DDD; display: inline-block; height: 340px; margin-left: 1%; overflow:hidden; float:left; vertical-align: top; width: 49%;background-color:#FFF;}
.pe-o2-inst-inner-div{height: 93%; overflow-x: hidden; overflow-y: auto;  width: 100%;background-color:#FFF;}
.pe-o2-tab-header{width:99.5%;border:1px solid #DDD;background-color:#F6F6F6;margin-bottom:10px;}
.pe-o2-tab-header-inner{width:94%;background-color:#F6F6F6;margin:2% 3% 0;display:inline-block;}
.pe-o2-tab.first{border-top-left-radius:5px;border-bottom-left-radius:5px;margin-left:0;}
.pe-o2-tab.last{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.pe-o2-tab.selected{background:url(../images/segmentedControl_active_center.png) repeat-x 0 0;color:white;font-weight:bold;}
.pe-o2-tab{background:url(../images/segmentedControl_inactive_center.png) repeat-x 0 0;height:22px;width:32.7%;text-align:center;line-height:1.5em;border-left:1px solid #000;border-right:1px solid #000;float:left;margin-left:-1px;color:black;cursor:pointer;margin-bottom:1.5%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.pe-o2-acknowledge{display:inline-block;margin:0 3%;float:right}

/*search box border and font styles*/
.pe-o2-search-combo{margin: 0 3% 1.2%;width: 94%;}
.pe-o2-search .search-box{background: url("../images/6428_16.png") no-repeat scroll 0 3px #FFFFFF;font-family:arial;font-size:12px;padding-top:2px;padding-bottom:2px;width:80%;border:none;}
.pe-o2-search-title{color:#A0A0A0;}
.pe-o2-search{width:63%;display:inline-block;border: 1px solid #A0A0A0;background-color: #FFF;}
.pe-o2-search .suggestions{width:30%;}
.pe-o2-search .search-box-div{padding:0px;border:none;float: left;width: 80%;}
.pe-o2-suggestion{width:28%;}

/*Language combo box style */
.pe-o2-lang-combo{display:inline-block; width:31%;padding-right:1%;float:right;}
.pe-o2-combobox{width:100%;height:21px;}
.pe-o2-tab-content{border:1px solid #DDD;width:99.5%;height:230px;overflow-x:hidden;overflow-y:auto;}
.pe-o2-load{background:url("../images/6439_32.gif") no-repeat 0 0;display:inline-block;height:30px;width:30px;margin:20% 0 0 45%;}
.pe-o2-inst-title{width:97%;background-color:#F6F6F6;padding:0.1% 0.1% 0.0% 3.0%;border-bottom:1px solid #DDD;line-height:22px;color:#505050;}
.pe-o2-inst-data{float:left;width:70%;display:inline-block;font-size:14px;padding:0.5% 0.5% 0.5% 3.0%;vertical-align:middle;line-height:32px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.pe-o2-inst-modify{display:inline-block;width:22%;margin:0.5% 1.2% 0.5% 0.5%;float:right;text-align:right;line-height:32px;}
.pe-o2-res{clear:both;overflow:hidden;word-wrap:break-word;padding:0px 0px 1px 0px;cursor:pointer;}
.pe-o2-name{width:90%;float:left;display:inline-block;margin-left: 3%;height:22px;}
.pe-o2-val{display:inline-block;text-align:right;color:#A0A0A0;}
.pe-o2-inst-res{display: inline-block; width: 100%;border-bottom:1px solid #DDD;line-height:32px;background-color:#FFF;margin-top: -4px;}
.pe-o2-inst-res:hover {background-color: #F5F8FC;opacity:0.6%;}
.pe-o2-tab-content .sub-sec-hd{padding:0px;height:22px;border-bottom:#9AABBB 1px solid;background-color:#B6C9DB;border-top:#E9EFF4 1px solid ;font-weight:bold;color:#3D3D3D;}
.pe-o2-edit{background:url("../images/6816_16_up.png") no-repeat 0 0;display:inline-block;width:16px;height:16px;padding-right:10px;cursor:pointer;}
.pe-o2-edit:hover{background:url("../images/6816_16_over.png") no-repeat 0 0;}
.pe-o2-remove{background:url("../images/6457_up_16.png") no-repeat 0 0;display:inline-block;width:16px;height:16px;cursor:pointer;}
.pe-o2-remove:hover {background:url("../images/6457_over_16.png") no-repeat 0 0;}
.pe-o2-print{background:url("../images/4975_disabled.gif") no-repeat 0 0;display:inline-block;width:16px;height:16px;padding-right:10px;cursor:pointer;}
.pe-o2-print:hover{background:url("../images/4975.gif") no-repeat 0 0;}
.pe-o2-res-none{color:#A0A0A0;margin:3% 3%;}
.pe-o2-no-result{text-align: center;top: 30%;width: 100%;}
.pe-o2-no-data-glyph{background:url("../images/noData_glyph_184.png") no-repeat 0 0;background-position :center;height:200px;margin-bottom: 5%;margin-top: 6%;}
.pe-o2-no-data-text{color:#505050;text-align:center;}
.pe-o2-clear-sugg-text {background: url("../images/6457_up_16.png") no-repeat scroll right center #FFF;cursor: pointer;display: inline-block; height: 18px;float:right;width: 16px;visibility:hidden;}
.pe-o2-tab-content  .sub-sec-title{color:#3D3D3D;font-weight:bold;}
.pe-o2-clicked{color:white;background-color: #3A78BB;}
.pe-o2-clicked dt {color: #FFF;}
.pe-o2-right-clicked{border:2px solid #3A78BB;}
.pe-o2-clicked-added-inst{border:2px solid #D6EFFC;}
.pe-o2-del-hover {display:inline-block;cursor:pointer;background:url(../images/6457_over_16.png) no-repeat center center;}
.pe-o2-tab-content-title{border:1px solid #DDD;background-color:#F6F6F6;color:#505050;height:22px;padding:0.3% 0% 0% 3%;width:96.5%;}

