/*
  This less file is used to generate the css for the Person Registries custom MPage component.

  Notes about MPage styles:
    Several of the styles contained here already exist within the MPage framework. These styles
    were utilized in the custom component to ensure that the component's look and feel were consistent
    with existing MPage UI. The MPage styles are included here as minor tweaks were required to
    produce the style and layout desired for the component. The following styles are from MPages
    and their attributes should be modified with caution -

      sub-sec-hd        Subordinate Section Header
      sub-sec-title     Subordinate Section Title
      sub-sec-content   Subordinate Section Content

*/

.person-registries-component.hi_pr-summary .hi_pr-info .hi_pr-name {
  width: 100%;
}
.person-registries-component.hi_pr-summary .hi_pr-info .hi_pr-stat {
  width: 30%;
}
.person-registries-component.hi_pr-summary .hi_pr-info .hi_pr-within {
  display: inline-block;
}
.person-registries-component.hi_pr-summary .sub-sec-hd {
  background-size: 100% 100%;
}
.person-registries-component.hi_pr-summary .sub-sec-hd .sub-sec-title {
  background-image: none;
  background-color: transparent;
}
.person-registries-component.hi_pr-summary .exception-msg {
  color: #3e3e3e;
}
.person-registries-component.hi_pr-workflow .hi_pr-info .hi_pr-name {
  width: 30%;
}
.person-registries-component.hi_pr-workflow .hi_pr-info .hi_pr-stat {
  width: 20%;
}
.person-registries-component .sub-sec {
  border: 1px solid #f2f2f2;
  border-top: 0px;
}
.person-registries-component.hi_pr-workflow .exception-msg {
  padding: 0;
  margin: 0 10%;
}
.person-registries-component [class^="icon-"],
.person-registries-component [class*=" icon-"] {
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.person-registries-component .icon-missing-data-sprite {
  background: url("../images/sprite_registries.png") 0 0;
}
.person-registries-component .icon-excluded-sprite {
  background: url("../images/sprite_registries.png") -14px 0;
}
.person-registries-component .icon-positive-sprite {
  background: url("../images/sprite_registries.png") -28px 0;
}
.person-registries-component .icon-negative-sprite {
  background: url("../images/sprite_registries.png") -42px 0;
}
.person-registries-component .icon-time-positive-sprite {
  background: url("../images/sprite_registries.png") -84px 0;
}
.person-registries-component .icon-time-negative-sprite {
  background: url("../images/sprite_registries.png") -98px 0;
}
.person-registries-component .icon-info-sprite {
  background: url("../images/sprite_registries.png") -70px 0;
  margin-left: 5px;
  width: 14px;
  top: -1px;
}
.person-registries-component h3.sub-sec-hd .icon-info-sprite,
.person-registries-component dl.hi_pr-info .icon-info-sprite {
  display: none;
}
.person-registries-component h3.sub-sec-hd:hover .icon-info-sprite {
  background: url("../images/sprite_registries.png") -56px 0;
  cursor: pointer;
  display: inline-block;
  top: 3px;
}
.person-registries-component dl.hi_pr-info:hover .icon-info-sprite {
  cursor: pointer;
  display: inline-block;
}
.person-registries-component .hi_pr-info {
  border-bottom: 1px solid #f2f2f2;
  zoom: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 2%;
  word-wrap: break-word;
}
.person-registries-component .hi_pr-info dt {
  display: none;
}
.person-registries-component .hi_pr-info .hi_pr-name {
  float: left;
  display: inline-block;
  margin-right: 1%;
  overflow-y: hidden;
}
.person-registries-component .hi_pr-info .hi_pr-name .wrapper {
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  display: inline-block;
}
.person-registries-component .hi_pr-info .hi_pr-name .wrapper i:before {
  font-size: 1.2em;
  width: 20px;
}
.person-registries-component .hi_pr-info .hi_pr-stat {
  float: left;
  display: inline-block;
  padding-left: 20px;
}
.person-registries-component .met-count {
  display: inline-block;
  min-width: 120px;
  min-height: 19px;
  white-space: nowrap;
}
.person-registries-component .header.collapsed .toggle {
  background: url(../../images/sprite_green.png) -26px 0px;
}
.person-registries-component .sub-sec-content dl:last-child {
  border-bottom: 0;
}
.person-registries-component .excluded-outcome {
  color: #8c8c8c;
}
.person-registries-component .exception-msg {
  text-align: center;
}
.person-registries-component .pull-right {
  float: right;
  width: auto;
}

.person-registries-component-score .pull-right {
  float: right;
}

.person-registries-component-score .expand-collapse-button {
  color: #30649C;
  cursor: pointer;
}

/*
 * The hi_pr part of this CSS class comes from the Namespace of the
 * style defined by the component.
 */
.person-registries-component-score .hi_pr-measures-filter-select {
  padding-right: 1em;
}

.person-registries-component-score .hi_pr-measures-filter-select select {
  margin-top: -2px;
}

.person-registries-component-score .hide {
  display: none;
}

.person-registries-component .negative-outcome,
.person-registries-component .missing-data-outcome {
  color: #bc0012;
  font-weight: bold;
}
.person-registries-component .negative-outcome .hi_pr-within,
.person-registries-component .missing-data-outcome .hi_pr-within {
  font-weight: normal;
}
.person-registries-component .event-group {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
}
.person-registries-component .event-group:last-child {
  margin-bottom: 8px;
}
.person-registries-component .event-group .event-content {
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
.person-registries-component .event-group .sub-sec-hd {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-size: 100% 100%;
}
.person-registries-component .event-group .sub-sec-title {
  padding-left: 10px;
  padding-right: 10px;
}
.person-registries-component-score .bold-text,
.person-registries-component .bold-text {
  font-weight: bold;
}
#supportDataModalbody table.supporting-facts {
  margin-top: 5px;
  margin-bottom: 5px;
}
#supportDataModalbody tr.supporting-facts-content td {
  border-bottom: 1px solid #d9d9d9;
}
#supportDataModalbody table .meta {
  color: #8c8c8c;
}
#supportDataModalbody .pull-right {
  float: right;
}
#supportDataModalbody .fact-description {
  width: 70%;
}
.person-registries-component-info {
  text-align: center;
  margin-top: 5px;
  position: relative;
  bottom: -6px;
  padding: 3px 8px;
}
.person-registries-component-info.hi_pr-summary {
  margin: 0px 5%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 0px;
  background-size: 100% 100%;
}
.person-registries-component-info.hi_pr-summary .sub-sec-title {
  background-image: none;
  background-color: transparent;
}
.person-registries-component-info.hi_pr-workflow {
  margin: 0px 10%;
  border-radius: 6px;
}
