.pregbase-error-content {width:99%;height:40px;border:3px solid #0000FF;margin-top:12px;}
.pregbase-alert-icon {padding-bottom: 5px; margin-top: 12px; margin-left:1%; width:16px; height:16px; display:inline-block; background-image:url(../images/5104_16.gif); background-repeat:no-repeat; text-decoration:none;}
.pregbase-error-text {padding-bottom: 5px; margin-left:1%;display:inline-block;width:48%;}
.pregbase-addpreg-button {padding-bottom: 2px; margin-right:3%;display:inline-block;}
.pregbase-reopenpreg-button{padding-bottom: 2px; display:inline-block;}