/* ================== Delivery Summary WorkFlow==============================*/
.pd-wf-delivery-table{margin-top:.5%;min-width:2000px;width:100%}
.pd-wf-label{margin-left:2px;color:#999;}
.pd-wf-content{margin-right:75px;}
.pd-wf-scrollable{overflow:auto;}
.pd-wf-cells{padding:4px 6px;display:inline-block;border-left:1px solid #ddd;vertical-align:top;}
.pd-wf-small{width:6%;}
.pd-wf-med{width:12%;}
.pd-wf-large{width:15%;}
.pd-wf-xlarge{width:14%;}
.header-item.pd-wf-cells{padding: 6px 6px 2px; background: none;}
