.preg-o2-stat{display:inline;padding-left:.5em}
.preg-o2-pic{background:url(../images/4948_16.gif) no-repeat 0 0;width:16px;height:16px;display:inline-block}
.preg-o2-table{table-layout:fixed}
.preg-o2-hdr{border-right:1px solid #DDD;padding:4px 6px;vertical-align:bottom}
.preg-o2-columns{border-right:1px solid #DDD;padding:4px 6px}
.preg-o2-wgt{border:0}
.preg-o2-sens-hdr{padding:7px 0 0 3px;width:20px}
.preg-o2-info-hdr.shifted{margin-right:17px}
.preg-o2-info-hdr.hdr{padding-bottom:0}
.preg-o2-info-hdrwrap{background-color:#f6f6f6;border:1px solid #DDD}
.preg-o2-outcome{width:20%}
.preg-o2-txt-indent{padding-left:17px;text-indent:-17px}
.preg-o2-outcome-txt{padding-left:17px;text-indent:-17px}
.preg-o2-sec .content-body{border-left:1px solid #DDD;border-bottom:1px solid #DDD;border-right:1px solid #DDD}