.pab2-wf-content-column {
	width: 125px;
	word-wrap: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left:1px solid #DCDCDC;
}

.pab2-wf-unit {
	font-size: 9px;
	color: #9f9f9f;
	line-height: 10px;
}

.pab2-wf-table-data-hover {
	background-color: #FFFCE0;
	line-height: 1.5em;
	margin: 1px 5px 5px 2px;
	padding-left: 5px;
	word-wrap: break-word;
	max-width: 400px;
	display: inline-block;
}

.pab2-wf-table-data-hover dt{ color:#505050; }

/*Secondary Assessment table cell override*/
.pa2-wf-sec .flowsheet-table.fs-results-table .table-cell{vertical-align: top;} /*Must be this specific to override the core class*/
/*Tertiary Assessment table cell override*/
.pa3-wf-sec .flowsheet-table.fs-results-table .table-cell{vertical-align: top;} /*Must be this specific to override the core class*/