.pv-wf-table-container {
	display: inline-block;
	overflow-y: hidden;
	white-space: nowrap;
}

.pv-wf-table .content-body {
	overflow-y: hidden;
}

.pv-wf-label-table {
	display: inline-block;
	float: left;
	width: 200px;
	overflow: hidden;
}

.pv-wf-table .sub-sec-title dd, .pv-wf-multiple-fetal-data {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.pv-wf-label-column {
	display: inline-block;
	float: left;
	word-wrap: normal;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 200px;
}

.pv-wf-fetalheartrate-hover {
	width: 75px;
	text-overflow: ellipsis;
}

.pv-wf-content-table {
	display: inline-block;
	float: left;
	overflow-x: auto;
	overflow-y: hidden;
}

.pv-wf-content-column {
	border-right: 1px solid #DDD;
	width: 125px;
	word-wrap: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.pv-wf-unit {
	font-size: 9px;
	color: #9f9f9f;
	line-height: 10px;
}

.pv-wf-scroll-controller-hidden {
	display: none;
}

.pv-wf-scroll-controller-visible {
	display: inline-block;
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 18px;
	margin-top: 34px;
}

.pv-wf-scroller-content, .pv-wf-multiple-data {
	display: inline-block;
}

.pv-wf-table-data-hover {
	background-color: #FFFCE0;
	line-height: 1.5em;
	margin: -1px 10px 10px 5px;
	padding: 0 5px;
	word-wrap: break-word;
	max-width: 400px;
	display: inline-block;
}

.pv-wf-table-data-hover dd, .pv-wf-table-data-hover p {
	padding-left: 5px;
}

.pv-wf-preg-nav-bar {
	background-color: #cddcee;
	padding: 0 6px;
	border-bottom: 1px solid #adb4bc;
	white-space: nowrap;
}

.pv-wf-preg-navigationbar {
	width: 8px;
	height: 14px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
}
.pv-wf-preg-nav-left {
	background: url(../images/arrow_left_off.jpg) no-repeat center;
	margin: 0 5px 0 0;
}

.pv-wf-preg-nav-right {
	background: url(../images/arrow_right_off.jpg) no-repeat center;
	margin: 0 0 0 5px;
}

.pv-wf-preg-nav-bar ol {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	width: 95%;
	vertical-align: middle;
}

.pv-wf-preg-nav-bar li {
	display: inline-block;
	font-size: 14px;
	color: #333;
	margin: 10px 20px;
	padding: 5px;
	font-style: bold;
	cursor: pointer;
}

.pv-wf-preg-nav-bar li.pv-wf-selected {
	padding: 5px 7px 7px;
	border-radius: 5px;
	background-color: #004d6e;
	color: #FFF;
	font-weight: bold;
}

.pv-wf-preg-nav-year {
	display: inline-block;
	color: #adb4bc;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	writing-mode: tb-rl;
	margin-bottom: 10px;
	vertical-align: middle;
}
.pv-wf-preg-nav-prev-year {
	margin-right: 0;
}

.pv-wf-preg-nav-next-year {
	border-bottom: none;
	border-left: 1px solid #adb4bc;
}

.pv-wf-preg-visit-cards {
	padding: 0 6px;
	white-space: nowrap;
	overflow-x: hidden;
}

.pv-wf-prenatal-visits-content {
	width: 99%;
}

.pv-wf-preg-visit-card {
	min-width: 265px;
	width: 400px;
	margin: 12px 10px;
	display: inline-block;
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	vertical-align: top;
}

.pv-wf-preg-visit-card-on-edit {
	min-width: 265px;
	width: 512px;
	margin: 12px 12px;
	display: inline-block;
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	vertical-align: top;
	background-color: #F6F6F6;
}

.pv-wf-preg-edit-data-labels dt {
	font-size: 12px;
	font-weight: bold;
	color: #797979;
	display: inline-block;
	height: 10px;
	vertical-align: top;
}

.pv-wf-preg-visit-card-on-edit-other {
	min-width: 265px;
	width: 400px;
	margin: 40px 10px;
	display: inline-block;
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	vertical-align: top;
}

.pv-wf-preg-visit-card dt, .pv-wf-preg-visit-card-on-edit-other dt {
	display: none;
}

.pv-wf-preg-visit-card-on-edit dt {
	display: inline-block;
}

.pv-wf-preg-visit-card dd {
	font-size: 12px;
	color: #505050;
	margin: -4px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}

.pv-wf-preg-visit-card-on-edit dd {
	font-size: 12px;
	color: #505050;
	margin: -4px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
}

.pv-wf-preg-data-labels dt {
	font-size: 11px;
	color: #9f9f9f;
	display: inline-block;
	height: 10px;
	margin: 5px 0;
	vertical-align: top;
}

.pv-wf-preg-data-labels-complete-fetal-data {
	width: 94px;
}

.pv-wf-preg-data-labels-partial-fetal-data {
	width: 150px;
}

.pv-wf-card-hdr {
	height: 50px;
	width: 368px;
	padding: 0px 17px 0 16px;
	background-color: #111;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: inline-block;
}

.pv-wf-selected .pv-wf-card-hdr {
	background-color: #004d6e;
}

.pv-wf-visit-dt, .pv-wf-ega-rslt {
	width: 165px;
	display: inline-block;
}

.pv-wf-edit-card-ega {
	width: 165px;
	display: inline-block;
	float: right;
}

.pv-wf-visit-dt {
	color: #ffffff;
	font-size: 18px;
	text-align: left;
	vertical-align: middle;
	margin-right: 35px;
}

.pv-wf-ega-rslt {
	color: #fff;
	font-size: 30px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	line-height: 30px;
	vertical-align: middle;
	padding-bottom: 7px;
	text-align: right;
	margin-left: 15px;
}

.pv-wf-ega-edit-panel-rslt {
	color: #fff;
	font-size: 18px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	width: 80px;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: left;
}

.pv-wf-provider-name {
	color: #9f9f9f;
	margin-top: -2px;
	width: 60%;
	font-size: 10px;
}
.pv-wf-patient-data {
	padding: 1px 16px 15px 16px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	height: 123px;
}
.pv-wf-edit-pane-patient-data {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 9px 9px 9px 9px;
	background-color: #fff;
}

.pc-wf-modal-dialog {
	margin: 5px 5px 5px 5px;
}
.pv-wf-drop-down-indicator {
	background-image: url("../images/dropdown-indicator.png");
	background-repeat: no-repeat;
	background-position: right;
	margin-right: 2px;
	padding-left: 6px;
}

.pv-wf-inactivate-indicator {
	background-image: url("../images/Remove-over.png");
	background-repeat: no-repeat;
	background-position: right;
	margin-right: 9px;
	margin-left: 9px;
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
}

.pv-wf-inactivate-indicator-tb {
	background-image: url("../images/Remove-over.png");
	background-repeat: no-repeat;
	background-position: right;
	margin-right: 3px;
	margin-left: 110px;
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
}
.pv-wf-patient-appt-data {
	border: 0px;
	height: 9px;
	background-color: #e7e7e7;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}

.pv-wf-patient-appt-data dl {
	float: left;
	color: #9F9F9F;
	font-size: 11px;
}
.pv-wf-patient-appt-data dd {
	color: #000;
	margin-top: 0.5px;
}

.pv-wf-preg-visit-card.pv-wf-selected {
	border-right: 3px solid #004d6e;
	border-left: 3px solid #004d6e;
	border-bottom: 3px solid #004d6e;
}
.pv-wf-preg-visit-card-on-edit.pv-wf-selected {
	border-right: 3px solid #004d6e;
	border-left: 3px solid #004d6e;
	border-bottom: 3px solid #004d6e;
}

.pv-wf-unselected {
	border: 1px solid #A7ABA8;
}

.pv-wf-pt-data-top-lt {
	width: 35%;
}

.pv-wf-pt-data-top-mid {
	width: 20%;
}

.pv-wf-pt-data-top-rt {
	width: 62%;
}

.pv-wf-pt-data-bot {
	width: 113px;
}

.pv-wf-pt-data-mid {
	width: 93px;
}

.pv-wf-diff-weight {
	margin-left: 3px;
	font-size: 12px;
	color: #999999;
}

.pv-wf-cerv-dil, .pv-wf-cerv-len, .pv-wf-cerv-eff {
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: bottom;
}

.pv-wf-urine-lbl {
	font-size: 11px;
	color: #9f9f9f;
	margin: -2 0 0 0px;
	width: 32.3%;
}

.pv-wf-urine-borders {
	width: 100px;
	height: 5px;
	display: inline-block;
	border: 1px solid #A7ABA8;
	border-bottom: none;
}
.pv-wf-left-urine-border {
	margin-left: 105px;
	margin-right: 5px;
	border-right: none;
	margin-top: 12px;
}

.pv-wf-right-urine-border {
	margin-left: 5px;
	border-left: none;
	border-bottom: none;
	margin-top: 8px;
}

.pv-wf-entry-panel-urine-lbl {
	font-size: 11px;
	color: #9f9f9f;
	margin: -2 0 0 0px;
	width: 32.3%;
}

.pv-wf-entry-panel-urine-borders {
	width: 155px;
	height: 5px;
	display: inline-block;
	border: 1px solid #A7ABA8;
	border-bottom: none;
}
.pv-wf-entry-panel-left-urine-border {
	margin-left: 125px;
	margin-right: 5px;
	border-right: none;
	margin-top: 12px;
}

.pv-wf-entry-panel-right-urine-border {
	margin-left: 5px;
	border-left: none;
	border-bottom: none;
	margin-top: 8px;
}

.pv-wf-fetal-borders {
	width: 145px;
	height: 5px;
	display: inline-block;
	border: 1px solid #A7ABA8;
	border-bottom: none;
	margin-top: 8px;
}
.pv-wf-left-fetal-border {
	margin-left: 15px;
	margin-right: 5px;
	border-right: none;
}

.pv-wf-right-fetal-border {
	margin-left: 5px;
	border-left: none;
}

.pv-wf-edit-pane-fetal-borders {
	width: 175px;
	height: 5px;
	display: inline-block;
	border: 1px solid #A7ABA8;
	border-bottom: none;
	margin-top: 8px;
}
.pv-wf-edit-pane-left-fetal-border {
	margin-left: 0px;
	margin-right: 5px;
	border-right: none;
}

.pv-wf-edit-pane-right-fetal-border {
	margin-left: 5px;
	border-left: none;
}

.pv-wf-complete-fetal-data, .pv-wf-partial-fetal-data {
	background-color: #f5f5f5;
	border-top: 1px solid #ccc;
	padding: 5px 16px 6px 16px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.pv-wf-complete-fetal-data .pv-wf-fetal-label, .pv-wf-complete-fetal-data .pv-wf-fetal-result {
	width: 42px;
	text-overflow: ellipsis;
}

.pv-wf-fetal-label .pv-wf-label-name {
	font-size: 9px;
	color: #9f9f9f;
}

.pv-wf-partial-fetal-data .pv-wf-fetal-label, .pv-wf-partial-fetal-data .pv-wf-fetal-result {
	width: 55px;
	text-overflow: ellipsis;
}

.pv-wf-cmnt-data {
	overflow: hidden;
	background-color: #ececec;
	height: 100px;
	padding: 4px 16px 9px 16px;
	border: 1px solid #ccc;
	font-size: 11px;
	color: #9f9f9f;
}

.pv-wf-cmnt-data p {
	color: #505050;
	line-height: 13px;
}

.pv-wf-cmnt-hover {
	display: none;
}

.pv-wf-cmnt-hover, .pv-wf-preg-res-hvr p {
	font-size: 11px;
	color: #505050;
	line-height: 13px;
}

.pv-wf-cmnt-data span {
	font-size: 11px;
	color: #9f9f9f;
}

.pv-wf-preg-visit-card p {
	font-size: 11px;
	color: #505050;
	margin: 1px;
	white-space: normal;
}

.pv-wf-preg-visit-card-on-edit p {
	font-size: 11px;
	color: #505050;
	margin: 1px;
}

.pv-wf-preg-assess-all-results {
	display: none;
}

h4.pv-wf-preg-data-title, dl.pv-wf-preg-all-res {
	padding: 0;
}

h4.pv-wf-preg-data-title {
	margin-left: 5px;
	margin-top: 5px;
}

.pv-wf-preg-res-hvr {
	background-color: #FFC;
	border: 1px solid #CCC;
	line-height: 1.5em;
	margin: -1px 10px 10px 5px;
	padding: 0 5px;
	word-wrap: break-word;
	position: absolute;
	max-width: 500px;
}

.pv-wf-hover-highlight {
	background-color: #FFC;
}

.pv-wf-preg-res-hvr dt {
	color: #505050;
	display: inline-block;
	margin: 1px 5px;
	display: inline-block;
}

.pv-wf-preg-res-hvr dd {
	margin: 1px 5px;
	display: inline-block;
	text-align: bottom;
	display: inline-block;
}

.pv-wf-ega-align {
	width: 50%;
	float: left;
	margin-top: 10px
}
.pv-wf-ega-edit-panel-align {
	width: 50%;
	float: left;
}

.pv-wf-cervical {
	width: 135px;
}
.pv-wf-ketones-hover {
	width: 50px;
	text-overflow: ellipsis;
}

.pv-wf-cervical-station {
	width: 175px;
}

.pv-wf-ega-lbl {
	margin-top: -2px;
	width: 60%;
	color: #9f9f9f;
}

.pv-wf-urine-border-height {
	height: 15px;
	margin-bottom: 2px;
}

.pv-wf-fetal-border-height {
	height: 10px;
	margin-bottom: 2px;
}

.pv-wf-edit-card {
	float: right;
	padding-top: 3px
}

.pv-wf-preg-visit-card-on-edit-other dd {
	font-size: 12px;
	color: #505050;
	margin: -4px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}
.pv-wf-preg-visit-card-on-edit-other.pv-wf-selected {
	border-right: 3px solid #004d6e;
	border-left: 3px solid #004d6e;
	border-bottom: 3px solid #004d6e;
}

.pv-wf-preg-visit-card-on-edit.pv-wf-selected {
	border-right: 3px solid #004d6e;
	border-left: 3px solid #004d6e;
	border-bottom: 3px solid #004d6e;
}

.pv-wf-preg-visit-card-on-edit-other p {
	font-size: 11px;
	color: #505050;
	margin: 1px;
}

.pv-wf-edit-panel-hdr {
	height: 30px;
	width: 512px;
	background-color: #004d6e;
	display: inline-block;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.pv-wf-ega-edit-panel-align {
	width: 110px;
}

.pv-wf-visit-edit-panel-dt {
	color: #fff;
	font-size: 18px;
	text-align: left;
	vertical-align: middle;
	float: left;
}

.pv-wf-edit-panel-left {
	float: left;
	width: 259px;
	height: 30px;
	display: inline-block;
	border-top-left-radius: 15px;
}
.pv-wf-edit-panel-right {
	float: right;
	width: 250px;
	height: 30px;
	display: inline-block;
	border-top-right-radius: 15px;
}

.pv-wf-edit-panel-sign-holder {
	display: inline-block;
	border-top: 3px solid #004d6e;
	background-color: #fff;
	border-top-left-radius: 15px;
}

.pv-wf-edit-panel-sign {
	background-repeat: no-repeat;
	background-color: #fff;
	vertical-align: middle;
	width: 25px;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
	height: 25px;
	display: inline-block;
}

.pv-wf-edit-panel-visit-date {
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 18px;
	width: 100px;
}
.pv-wf-edit-panel-ega {
	width: 80px;
	margin-bottom: 10px;
	display: inline-block;
}

.pv-wf-edit-panel-close-holder {
	display: inline-block;
	border-top: 3px solid #004d6e;
	background-color: #fff;
	float: right;
	border-top-right-radius: 15px;
}

.pv-wf-edit-panel-close {
	background-image: url("../images/cancel-over.png");
	background-repeat: no-repeat;
	background-color: #fff;
	vertical-align: middle;
	width: 25px;
	margin-top: 10px;
	margin-left: 5px;
	height: 25px;
	display: inline-block;
}

.pv-wf-visit-edit-panel-dt {
	color: #fff;
	font-size: 18px;
	text-align: left;
	vertical-align: middle;
	margin-right: 35px;
	margin-top: 5px;
}

.pv-wf-fundalheight-input {
	margin-top: 10px;
	width: 128px;
	padding: 0 6px 0 6px;
	text-overflow: ellipsis;
}

.pv-wf-fundalheight-val {
	width: 140px;
}
.pv-wf-fundalheight-space {
	width: 3px;
}

.pv-wf-pretermsigns-input {
	margin-top: 10px;
	height: 16px;
	width: 231px;
	padding: 0 6px 0 6px;
	text-overflow: ellipsis;
}

.pv-wf-pretermsigns-val {
	width: 243px;
}

.pv-wf-pt-data-cervical, .pv-wf-pt-data-fundalheight-value {
	width: 246px;
}

.pv-wf-pt-data-bp {
	width: 140px;
}

.pv-wf-pt-data-weight {

	width: 100px;
}

.pv-wf-pt-data-fundalheight-unit {
	width: 95px;
	padding-left: 5px;
	color: #505050;
	font-size: 12px;
}

.pv-wf-pt-data-dialation-unit {
	width: 35px;
	font-size: 12px;
	color: #505050;
}

.pv-wf-dialation-input, .pv-wf-systolic-input {
	width: 33px;
	margin-top: 10px;
	margin-right: 5px;
	height: 16px;
	padding: 0 6px 0 6px;
	text-overflow: ellipsis;
}

.pv-wf-dialation-val, .pv-wf-systolic-val {
	width: 45px;
}

.pv-wf-dialation-space, .pv-wf-systolic-space {
	width: 7px;
}
.pv-wf-station-space {
	width: 24px;
}

.pv-wf-pt-data-effacement-unit {
	width: 30px;
	color: #505050;
	font-size: 12px;
}

.pv-wf-dilation-input {
	width: 30px;
	height: 16px;
	margin-top: 10px;
	margin-right: 10px;
	padding: 0 6px 0 6px;
	text-overflow: ellipsis;
}

.pv-wf-station-input {
	width: 33px;
	height: 16px;
	margin-top: 10px;
	padding: 0 6px 0 6px;
	text-overflow: ellipsis;
}

.pv-wf-pt-data-bp-seperator {
	width: 20px;
	color: #505050;
	font-size: 12px;
}

.pv-wf-diastolic-input {
	width: 33px;
	margin-top: 10px;
	height: 16px;
	margin-right: 19px;
	padding: 0 6px 0 6px;
	text-overflow: ellipsis;
}

.pv-wf-diastolic-val {
	width: 45px;
}

.pv-wf-diastolic-space {
	width: 26px;
}

.pv-wf-weight-input {
	width: 33px;
	height: 16px;
	margin-top: 10px;
	margin-right: 5px;
	padding: 0 6px 0 6px;
	text-overflow: ellipsis;
}

.pv-wf-weight-val {
	width: 38px;
}

.pv-wf-weight-space {
	width: 10px;
}

.pv-wf-pt-data-four {
	width: 123px;
}

.pv-wf-pt-data-fetal-no-lie {
	width: 160px;
}

.pv-wf-edema-input {
	width: 92px;
	height: 16px;
	margin: 10px 0 2px 2px;
	text-overflow: ellipsis;
	padding: 0px 6px 0px 6px;
}

.pv-wf-edema-val {
	width: 104px;
	margin-left: -1px;
}

.pv-wf-edema-space {
	width: 18px;
}

.pv-wf-protein-input {
	width: 92px;
	height: 16px;
	margin: 10px 0 2px 2px;
	text-overflow: ellipsis;
	padding: 0px 6px 0px 6px;
}

.pv-wf-protein-val {
	width: 104px;
}

.pv-wf-protein-space {
	width: 23px;
}

.pv-wf-glucose-input {
	width: 92px;
	height: 16px;
	margin: 10px 0 2px 2px;
	text-overflow: ellipsis;
	padding: 0px 6px 0px 6px;
}

.pv-wf-glucose-val {
	width: 104px;
}

.pv-wf-glucose-space {
	width: 20px;
}

.pv-wf-ketones-input {
	width: 92px;
	height: 16px;
	margin: 10px 0 2px 2px;
	text-overflow: ellipsis;
	padding: 0px 6px 0px 6px;
}

.pv-wf-ketones-val {
	width: 104px;
}

.pv-wf-ketones-space {
	width: 7px;
}

.pv-wf-unsigned-color, .pv-wf-fetal-baby-label.pv-wf-unsigned-color {
	color: #7B278C;
	font-size: 12px;
}

.pv-wf-signed-color {
	color: #000000;
	font-size: 12px;
	background-color: #EFEFEF;
}

.pv-wf-disable-color {
	color: #000000;
	background-color: #D3CFCF;
}

.pv-wf-fetal-data {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 9px 9px 9px 9px;
	background-color: #f5f5f5;
}

.pv-wf-pt-data-fetal {
	width: 125px;
}

.pv-wf-fetal-input {
	width: 71px;
	height: 16px;
	margin-top: 10px;
	padding: 0 6px 0 6px;
	text-overflow: ellipsis;
}

.pv-wf-fetal-val {
	width: 83px;
}

.pv-wf-fetal-space {
	width: 18px;;
}

.pv-wf-fetal-lie-space {
	width: 10px;;
}

.pv-wf-fetal-baby-label {
	margin-right: 9px;
	font-size: 12px;
	color: #9f9f9f;
	width: 50px;
}

/** Styles for inactivate dynamic labels **/
.pv-wf-fetal-section-div {
	clear: both;
}

.pv-wf-card-button {
	padding-left: 15px;
	padding-bottom: 5px;
	display: inline;
}

.pv-wf-baby-select-pane-label-tb {
	height: 24px;
	margin: 5px 5px -5px 5px;
	padding: -5px 5px;
	min-width: 250px;
}

.pv-wf-baby-select-pane-dropdown-tb {
	height: 24px;
	margin: 5px 5px 0px 5px;
	padding: 3px 10px;
	min-width: 250px;
}

.pv-wf-card-button-tab-margin {
	margin: 0 4px;
}

.pv-wf-table-buttons-row {
	margin: 10px 10px;
}

.pv-wf-table-inactivate-buttons-row {
	margin: 16px 5px;
}
.pv-wf-card-btn-style {
	margin-top: -4px;
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	min-width: 64px;
	text-align: center;
	overflow: hidden;
	border-radius: 4px;
	box-sizing: border-box;
	border: 1px solid #989b9f;
	background: #f6f6f6;
	cursor: pointer;
}

.pv-wf-card-btn-style-table {
	vertical-align: middle;
	height: 24px;
	min-width: 64px;
	text-align: center;
	overflow: hidden;
	border-radius: 4px;
	box-sizing: border-box;
	border: 1px solid #989b9f;
	background: #f6f6f6;
	cursor: pointer;
	margin: 0 4px;
}

.pv-wf-card-btn-style.pv-wf-card-btn-disabled {
	background: #f4f4f4;
	cursor: default;
}

.pv-wf-card-btn-text {
	text-align: center;
	background-color: transparent;
	color: #000000;
	margin: 0;
	border: 0;
	width: 100%;
	height: 100%;
	padding: 0 16px 0 16px;
	cursor: pointer;
}

.pv-wf-card-btn-disabled .pv-wf-card-btn-text {
	color: #9F9F9F;
	cursor: default;
}

.pv-wf-inact-baby-div {
	display: inline-block;
	float: left;
	width: 100%;
	padding-top: 5px;
}

.pv-wf-inact-baby-sub-div {
	border: 1px solid #bbcdea;
	background-color: #e3ecf6;
	margin-left: -9px;
	padding-top: 3px;
	min-width: 508px;
}

.pv-wf-inact-baby {
	display: inline-block;
	float: left;
}

.pv-wf-inact-baby-buttons {
	display: inline-block;
	float: right;
	padding: 4px 12px 4px 0;
}

.pv-wf-inact-baby-label {
	padding: 2px 5px 8px 7px;
	text-overflow: ellipsis;
}

.pv-wf-select-baby-div {
	clear: both;
}

.pv-wf-select-baby-section {
	border: 1px solid #b38bbd;
	background-color: #e3ecf6;
	padding: 0 3px 4px;
	margin: 5px -9px 0 -9px;
}

.pv-wf-select-baby-label {
	padding: 2px 5px 0 5px;
	text-overflow: ellipsis;
}

.pv-wf-mandatory {
	color: red;
}

.pv-wf-select-baby-label-val {
	width: 142px;
	padding-right: 15px;
}

.pv-wf-select-baby-label-input {
	background-color: #ffffcc;
	margin-top: 10px;
	width: 128px;
	height: 16px;
	padding: 0 6px 0 6px;
	text-overflow: ellipsis;
}

.pv-wf-add-fetus.pv-wf-baby-reactivate-props {
	margin-left: 150px;
}
/** End of - Styles for inactivate dynamic labels **/

.pv-wf-fetal-input-nolie {
	width: 93px;
	margin-top: 8px;
	height: 18px;
	margin-right: 9px;
	padding: 0 6px 0 6px;
	text-overflow: ellipsis;
}

.pv-wf-fetal-val-nolie {
	width: 105px;
}

.pv-wf-fetal-space-nolie {
	width: 25px;
}

.pv-wf-comments-data {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 9px 9px 9px 9px;
	background-color: #ececec;
	clear: both;
}

.pv-wf-pt-data-comment {
	width: 100%;
}
.pv-wf-pt-data-comments-value {
	width: 500px;
}

.pv-wf-comments-input {
	width: 476px;
	margin-top: 10px;
	height: 90px;
	text-overflow: ellipsis;
}

.pv-wf-comments-input-tb {
	width: 180px;
	margin-top: 10px;
	height: 90px;
	text-overflow: ellipsis;
	padding: 3px 3px;
	white-space: pre-line;
	word-wrap: break-word;
}

.pv-wf-nextappt-data {
	background-color: #e7e7e7;
	padding: 1px 9px 1px 9px;
	border-right: 5px solid #DBDBDB;
	border-left: 5px solid #DBDBDB;
	border-bottom: 5px solid #DBDBDB;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.pv-wf-pt-data-nextappt {
	width: 120px;
	margin-top: 5px;
}
.pv-wf-pt-data-nextappt-value {
	width: 60px;
	margin-top: 10px;
}

.pv-wf-nextappt-input {
	width: 38px;
	margin-top: 10px;
	margin-left: 9px;
	padding: 0 6px 0 6px;
	text-overflow: ellipsis;
}

.pv-wf-pt-data-weeks {
	width: 210px;
	margin-top: 5px;
	margin-left: 9px;
}

.pv-wf-pt-data-sign {
	width: 40px;
	margin-top: 5px;
}

.pv-wf-pt-data-cancel {
	width: 60px;
	margin-top: 5px;
}

.pv-wf-drop-down-props {
	display: inline-block;
	position: relative;
}

.pv-wf-drop-down-props a {
	display: block;
	background-image: url('../images/drop_down_01.gif');
	background-repeat: no-repeat;
	background-position: right center;
	height: 30px;
	min-height: 30px;
	line-height: 30px;
}

.pv-wf-dropbox-style {
	background-color: white;
	color: black;
	width: 100%;
	z-index: 1;
}

.pv-wf-values-text {
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100px;
}

.pv-wf-dropdown {
	display: inline-block;
}

.pv-wf-dropdown a, .pv-wf-dropdown a:visited {
	text-decoration: none;
	outline: none;
}

.pv-wf-dropdown-active {
	border: solid #A9A9A9 1px;
}

.pv-wf-dropdown-deactive {
	border: solid #A9A9A9 1px;
}

.pv-wf-items-list {
	display: none;
	position: absolute;
	margin: -1px 0 0 0;
	padding: 0px;
	height: 100px;
	overflow: auto;
}

.pv-wf-mutli-select li {

	text-align: left;
}

.pv-wf-mutli-select li:hover {
	background-color: #D4D4D4;
}

.pv-wf-add-fetus {
	background-color: #EEE;
	margin-left: 8px;
}

.pv-wf-text-single-dropdown {
	position: relative;
	width: 100%;
	height: 16px;
	background-color: transparent;
	border: 0px solid;
}

.pv-wf-temp-backgrndclr {
	background-color: #e0e4e9;
}

/* Here starts table view specific css */

.pv-wf-baby-label-tb {
	height: 24px;
	margin: -4px -10px;
	padding: 3px 0px 3px 10px;
	min-width: 125px;
}

.pv-wf-baby-data-tb-delete-visit {
	height: 12px;
	margin: 4px -10px;
	padding: 3px 0px 3px 10px;
	min-width: 125px;
}

.pv-wf-baby-data-tb-delete-visit-editable {
	height: 12px;
	margin-top: 13px;
	margin-left: 120px;
	min-width: 125px;
}

.pv-wf-baby-label-tb-delete-visit {
	height: 12px;
	margin: 4px -10px;
	padding: 3px 0px 3px 10px;
	min-width: 125px;
}

.pv-wf-baby-label-tb-empty-label {
	height: 24px;
	margin: -1px -10px;
	padding: 3px 0px 3px 10px;
	min-width: 125px;
}

.pv-wf-baby-label-tb-inactivate {
	height: 20px;
	margin: -4px -10px;
	padding: 3px 0px 3px 10px;
	min-width: 125px;
}

.pv-wf-baby-label-tb-lie {
	height: 24px;
	margin: -4px -10px;
	padding: 3px 0px 0px 10px;
	min-width: 125px;
}

.pv-wf-baby-label-tb-comment {
	background-color: #f6f6f6;
	min-height: 76px;
	margin: 0px -6px;
	padding: 3px 10px 4px 10px;
	min-width: 250px;
	border-bottom: 1px solid #ddd;
}
.pv-wf-display-ellipsis {
	min-width: 105px;
	word-wrap: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.pv-wf-baby-label-tb-labels {
	height: 20px;
	margin: 0px -10px;
	padding: 3px 0px 3px 10px;
	min-width: 160px;
}

.pv-wf-baby-label-tb-labels-ega {
	height: 18px;
	margin: -2px -10px 0 -10px;
	padding: 3px 0px 3px 10px;
	min-width: 160px;
}

.pv-wf-baby-label-tb-whitespaces {
	min-width: 160px;
}

.pv-wf-baby-label-tb-last-inactive-labels {
	height: 20px;
	margin: -4px -10px;
	padding: 3px 10px;
	min-width: 300px;
}

.pv-wf-baby-label-tb-last-inactive {
	min-height: 18px;
	margin: -4px -10px;
	padding: 2px 10px;
	min-width: 300px;
}
.pv-wf-baby-label-tb-last-inactive-reactivate {
	height: 34px;
	margin: -4px -10px;
	padding: 3px 10px;
	min-width: 300px;
}

.pv-wf-baby-label-tb-header {
	background-color: #b5c9da;
	color: #000;
	font-weight: 800;
	font-size: 12px;
}

.pv-wf-baby-label-tb-header-edit-margin {
	margin: 0 0 0 6px;
	display: inline-block;
}

.pv-wf-baby-label-tb-inactive-header {
	background-color: #eaeaea;
	color: #9f9f9f;
	font-weight: 800;
	font-size: 12px;
}

.pv-wf-baby-label-tb-theme-blue {
	background-color: #e8ebf5;
}

.pv-wf-baby-label-tb-theme-label-blue {
	background-color: #dbdee8;
}

.pv-wf-baby-label-tb-theme-label-gray {
	background-color: #f6f6f6;
}

.pv-wf-baby-label-tb-theme-add-baby-options {
	background-color: #e3ecf6;
	border: 1px solid #88ade6;
	height: 100px;
	margin: -4px -10px;
	padding: 3px 10px;
}

.pv-wf-baby-label-tb-theme-add-baby-optionslielpresent {
	background-color: #e3ecf6;
	border: 1px solid #88ade6;
	height: 126px;
	margin: -4px -10px;
	padding: 3px 10px;
}

.pv-wf-baby-label-tb-theme-add-baby-optionslielpresent-select {
	background-color: #e3ecf6;
	border: 1px solid #88ade6;
	height: 126px;
	margin: 3px -10px -2px -10px;
	padding: 3px 10px;
}

.pv-wf-baby-label-tb-theme-add-baby-optionslielpresent-last {
	background-color: #e3ecf6;
	border: 1px solid #88ade6;
	height: 120px;
	min-width: 125px;
	margin: 4px 0 -10px 0;
}
.pv-wf-unit-style {
	color: #B7B9BC;
}

.pv-wf-baby-label-tb-theme-white {
	background-color: #fff;
}
.pv-wf-baby-label-tb-theme-baby-select {
	border: 1px solid #b38bbd;
	background-color: #e3ecf6;
}

.pv-wf-baby-label-tb-theme-font {
	color: #000;
	font-size: 11px;
}

.pv-wf-baby-label-tb-border {
	border-bottom: 5px solid #000;
	margin: 0 -6px;
}

.pv-wf-baby-label-tb-border-labels {
	border-bottom: 2px solid #000;
	margin: 0 -6px -1px -6px;
}

.pv-wf-baby-label-tb-borde-side {
	margin: 0 -6px;
}

.pv-wf-table-header {
	display: none;
	margin: 0 3px 0 0;
}

.pv-wf-content-column:hover .pv-wf-table-header {
	display: inline-block;
	text-decoration: none;
	float: right;
	margin-right: -2px;
}

.pv-wf-content-editable-column {
	border-right: 1px solid #DDD;
	background-color: #fff;
	width: 195px;
	word-wrap: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.pv-wf-edit-panel-sign-enabled, .pv-wf-edit-panel-sign-tb-enabled {
	background-image: url("../images/Sign-over.png");
}

.pv-wf-edit-panel-sign-disabled, .pv-wf-edit-panel-sign-tb-disabled {
	background-image: url("../images/Sign-disabled.png");
}

.pv-wf-edit-panel-sign-tb {
	background-repeat: no-repeat;
	background-color: #fff;
	vertical-align: middle;
	width: 25px;
	float: left;
	margin: 0px 2px -4px 2px;
	height: 20px;
	display: inline-block;
}

.pv-wf-edit-panel-close-tb {
	background-image: url("../images/cancel-over.png");
	background-repeat: no-repeat;
	background-color: #fff;
	vertical-align: middle;
	width: 25px;
	margin: 0px 5px -4px 3px;
	height: 20px;
	display: inline-block;
}

.pv-wf-tb-header {
	background-color: #6a737b;
	margin: -4px 4px 0px 4px;
	padding: 8px 6px 0px 6px;
	height: 20px;
	width: 110px;
	display: inline-block;
	text-align: center;
}

.pv-wf-tb-edit-header-text {
	color: #fff;
	font-size: 13px;
	font-weight: 800;
	text-align: center;
}

.pv-wf-edit-control-position {
	width: 100px;
	height: 16px;
	margin: 2px 0 2px 2px;
	text-overflow: ellipsis;
	padding: 0px 6px 0px 6px;
}
.pv-wf-edit-control-position-new {
	margin: 2px -1px 2px 3px;
}

.pv-wf-edit-control-position-fetal {
	margin: 2px 0 2px 5px;
}

.pv-wf-edit-control-position-add-baby {
	margin: 2px 0 2px 2px;
}

.pv-wf-edit-preterm-position-width {
	width: 160px;
}

.pv-wf-edit-cervical-position-width {
	width: 40px;
}

.pv-wf-edit-urine-position-width {
	width: 70px;
}
.pv-wf-display-inline {
	display: inline-block;
}

.pv-wf-tb-reactivate-margin {
	margin: 0 0 0 30px;
}
.pv-wf-tb-reactivate-margin-add-baby {
	margin: 0 0 0 3px;
	display: inline-block;
}

.pv-wf-fh-input-tb {
	margin-top: 2px;
	text-overflow: ellipsis;
	display: inline-block;
	height: 15px;
}

.pv-wf-cervical-tb {
	display: inline-block;
	margin-right: 3px;
}

.pv-wf-delete-visit-props {
	margin-left: 110px;
	padding-bottom: 30px;
}

.pv-wf-no-result {
	display: inline-block;
	float: left;
	color: #a0a0a0;
}