.psy-info {clear:both; zoom:1; overflow:hidden; padding:0 1%; border-bottom:1px solid #EDEDED; word-wrap:break-word;}
.psy-info dt {display:none;}  
.psy-name {width:30%; float:left; display:inline-block; margin-right:1%;}
.psy-res {width:34%; float:left; display:inline-block; margin-left:1%; margin-right:1%;}
.psy-dt {width:30%; float:left; display:inline-block; margin-left:1%;}
.psy-res a, .psy-res a:link, {text-decoration:none; cursor:pointer;}
.psy-res a:active, .psy-res a:hover {text-decoration:underline;}