.raddose-table{font:12px/1.2em Tahoma,sans-serif;width:auto;zoom:1;overflow:hidden;border-bottom:1px solid #EDEDED;border-right:1px solid #EDEDED;border-collapse:collapse;}
.raddose-table td{display:inline-block;padding-right:10px;}
.raddose-table th{display:inline-block;padding-right:10px;}
.raddoseHover{font-size:12px;display:none;background-color:#FFFCE1;border:1px solid #000;margin:-1px 10px 10px 5px;padding:0 5px;width:400px;word-wrap:break-word;position:absolute;z-index:1;border:1px solid #BDBDBD;}
.raddoseHover dl{margin:0;padding:0;clear:both;overflow:hidden;color:#505050;}
.raddoseHover dt{margin:0;padding:0;float:left;width:200px;color:#9f9f9f;}
.raddoseHover dd{margin:0;padding:0;float:left;width:200px;color:#000;clear:right;}
.raddoseHover span:hover{background-color:#FFC;}
.raddose-uom{font-size:9px;color:#999;}
.raddose-orderable{padding-right:20px;overflow-x:hidden;overflow-y:hidden;text-align:left;}
.raddose-stringData{text-align:left;}
.raddose-numericData{text-align:right;}
.raddose-total{font-weight:bold;float:left;clear:both;}
.raddose-total-Result{color:blue;}