/* ==== Recommendations ==== */

/* Quick filter */
.recom-o2-controls {text-align:right;padding: 0 4px 4px 0;}
.recom-o2-controls span {margin-left: 19.5px;}
.recom-o2-groupby {color:#505050;margin-right:-12px;padding-left:13px;}
.recom-o2-filter{color:#505050;border:1px solid #FFF;cursor:pointer;padding:0 4px;}
.recom-o2-filter-hover{border:1px dashed #688ECD;}
.recom-o2-filterdiv{z-index:2000;margin-top:-7.5px;display:none;right:12px;background:none repeat scroll 0 0 #FFF;border:2px solid #688ECD;position:absolute;width:150px;}
.recom-o2-filter >.wrkflw-selectArrow{float:none;margin-left:3px;}
.recom-o2-allfilter{padding:0 8px 0 8px;}
.recom-o2-allfilter:hover {background-color: #DDE8F5;cursor:pointer;}
.recom-o2-qHvr-click{background-color: #d1dcef;border-width:2px 2px 0 2px;border-color:#688ECD;border-style:solid;z-index:3000;margin-top:0;position:relative;cursor:pointer;}
.recom-o2-qHvr-unclick{background:none;border-width:2px;border-color:#FFFFFF;z-index:0;margin-top:-2px;cursor:pointer;}
.recom-o2-row-selected{background-color:#568ECB;color:#FFF;}
.recom-o2-row-selected .recom-o2-overdue{color:#FFF;}
.recom-o2-row-selected-init{background-color:#BBC3CB;}
.recom-o2-time-interval{float:right;padding-right:10px;}
.recom-o2-sec > .recom-o2-stale-warning{background:url(../images/4017_16.png) no-repeat scroll 6px 6px #FFFFA0;padding:5px 0 5px 28px;border:1px solid;margin-left:0px;}

/* Table Columns*/
/* Overriding Style to allow for proper alignment of image */
.wf .list-as-table.grouping-applied .result-info dd:first-child.recom-o2-image, .recom-o2-image {width:7%; padding-left: 0; padding-right: 0;}
.recom-o2-expectation{width:35%;}
.recom-o2-priority{width:12%;}
.recom-o2-due{width:13%;}
.recom-o2-frequency{width:18%;}
.recom-o2-new{width:auto;}
.recom-o2-favorites{width:6%;text-overflow: ellipsis;white-space: nowrap;overflow:hidden;}
.recom-o2-reference-text{width:9%;}

/* Due Type Images */
.recom-o2-due-img {background:url(../images/6423_16.png) no-repeat center;}
.recom-o2-overdue-img {background:url(../images/6422_16.png) no-repeat center;}
.recom-o2-neardue-img {background:url(../images/6424_16.png) no-repeat center;}
.recom-o2-overdue {color:#C03;}
.recom-o2-expectation .recom-o2-overdue {font-weight:bold;}

/* Modify indicator and hover */
.recom-o2-modify-indicator{width: 10px; height: 8px; display: inline-block; margin-left:4px; background:url(../images/0594_11.gif) no-repeat transparent}
.recom-o2-hover{display:block;padding:8px 16px;}
.recom-o2-row-selected .mpage-tooltip-hover, .recom-o2-row-selected .mpage-tooltip-hover .recom-o2-overdue {color:#000;}



/* Containers */
.recom-o2-table{display:inline-block;float:left; width:100%;}
.recom-o2-table-with-side-panel{display:inline-block;float:left; width:60%;}
.recom-o2-sidepanel-container{display:inline-block;position:relative;padding-left:10px;width:39%;float:left;box-sizing:border-box;-moz-box-sizing:border-box;}
.recom-o2-maincontainer{overflow-x: auto;overflow-y: hidden;width:auto;min-height: 251px;}
.recom-o2-maincontainer .result-info{cursor:pointer;}
.recom-o2-sidepanel-container .sp-all-contents{padding:20px;}

/* Time line graph */
.recom-o2-graph-not-due{height:10px;background:#d2d5d7;overflow:hidden;float:left;}
.recom-o2-graph-near-due{height:10px;overflow:hidden;background:#e9cd2e;float:left;}
.recom-o2-graph-due{height:10px;overflow:hidden;background:#cc0000;float:left;}
.recom-o2-graph-over-due{height:10px;background:#a70000;overflow:hidden;float:left;}
.recom-o2-graph-left{border-radius: 25px 0 0 25px;}
.recom-o2-graph-right{border-radius: 0 25px 25px 0;}
.recom-o2-graph-both{border-radius: 25px;}
.recom-o2-rp-graphdiv{overflow:hidden;padding-top: 2%; padding-bottom: 4px;margin-right: 18px;}
.recom-o2-graph-statusbar.right{background-image:url(../images/statusbar-Overdue.png);}
.recom-o2-graph-statusbar.left{background-image:url(../images/statusbar-Notdue.png);}
.recom-o2-graph-statusbar.center{background-image:url(../images/statusbar.png);}
.recom-o2-graph-statusbar-text{display: inline-block; width: 76px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; margin-top: 9px;}
.recom-o2-graph-statusbar{background-repeat:no-repeat;background-size:100%;color:white;font-weight:bold;text-align:center;width:76px;height:29px;margin-bottom:20px;}

/* Reading Pane Info */
.recom-o2-rp-title{color: #000;font-size: 16px;font-weight: bold;text-align: left;padding-bottom: 10px;word-wrap:break-word;}
.recom-o2-rp-dueInfo{padding-bottom: 8px;}
.recom-o2-rp-last-satisfied{text-align:left;overflow:hidden;}
.recom-o2-rp-freq{float:right;color:#1F1F1F;margin-right: 18px;}
.recom-o2-rp-history{text-align:left;overflow:visible;margin-right: 18px;}
.recom-o2-rp-content{overflow: hidden;padding:10px 20px;}
.recom-o2-rp-img{display:inline-block;width:16px;height:16px;margin-right: 6px;}
.recom-o2-rp-title-text{color:#505050;}
.recom-o2-rp-hover-details-section{padding-bottom:20px;}
.recom-o2-show-more-container{padding:8px 0;width:100%;display:inline-block;}
.recom-o2-rp-history-hd, .recom-o2-history-item{border-bottom: 1px solid #DDD;box-shadow: 0 2px 1px -1px #FFF; margin-bottom:10px;}
.recom-o2-rp-align-right, .recom-o2-history-item-undo-option{float:right;}
.recom-o2-rp-content-data{color:#1F1F1F;display:inline-block;width:75%;word-wrap: break-word;}
.recom-o2-rp-dueinfo-date{display:inline-block;color: #505050;}
.recom-o2-rp-dueinfo-week-indicator{display:inline-block;color: #505050;font-weight:bold;margin-right: 6px;}
.recom-o2-rp-hover-details{padding-top:8px;width:100%;}
.recom-o2-rp-hide-section{height:80px;overflow:hidden;}
.recom-o2-visible{display:block;}

/*Add recommendations modal window styling*/
.recom-o2-add-rec-main-container{height:416px;margin-top:10px;}
.recom-o2-add-rec-left-container{width:30%;padding-left:5px;height:100%;float:left;}
.recom-o2-add-rec-right-container{padding:0 0 10px 10px;height:100%;float:left;width:67%;}
.recom-o2-add-rec-header{margin-bottom:5px;}
.recom-o2-add-rec-available-recs{height:320px;border:1px solid #A0A0A0; overflow:auto;}
.recom-o2-add-rec-available-recs.preloader{background:url("../images/6439_32.gif") no-repeat scroll center;}
.recom-o2-add-rec-reason{float:left;margin-right:25px;}
.recom-o2-add-rec-comment{float:left;}
.recom-o2-add-rec-selected-recs{height:320px;border:1px solid #A0A0A0; overflow:auto;}
.recom-o2-add-rec-schedule-list-item{display:block;padding-left:40px;text-indent:-42px;word-wrap:break-word;}
.recom-o2-add-rec-expand-collapse-icon{display:inline-block;height:16px;width:16px;background:url(../images/5323_collapsed_16.png) no-repeat scroll center;cursor:pointer;}
.recom-o2-add-rec-expand-collapse-icon.expanded{background:url(../images/5323_expanded_16.png) no-repeat scroll center;}
.recom-o2-add-rec-series-checkbox{margin-right:5px;}
.recom-o2-add-rec-series-list-item{margin-left:11px;text-indent:-22px;}
.recom-o2-add-rec-add-comment{resize:none;padding-left:3px;overflow: auto;}
.recom-o2-new-series-title{margin-bottom:7px;padding-left:3px;margin-right:5px;}
.recom-o2-selected-series{padding:0 0 5px 10px;min-height:75px;border-bottom:1px solid #A0A0A0;overflow:auto;}
.recom-o2-selected-series.free-text{min-height:100px;}
.recom-o2-required-display:before, .recom-o2-time-frame-label:before{content:"* ";color:red;}
.recom-o2-add-rec-provider-name{font-weight:normal;}
.recom-o2-sel-series-heading{padding:5px 0;}
.recom-o2-sel-series-name{display:inline;float:left;width:90%;}
.recom-o2-sel-series-del-button{height:16px;width:20px;background:url(../images/6457_up_16.png) no-repeat scroll center;cursor:pointer;float:right;}
.recom-o2-sel-series-frequency{display:inline;float:left;padding-right:50px;width:210px;}
.recom-o2-selected-series-frequency-drop-down{margin-left:10px;}
.recom-o2-sel-series-due-date{float:left;}
.recom-o2-sel-series-freq-options{padding-top:5px;}
.recom-o2-sel-series-freq-display{margin-left:10px;}
.recom-o2-sel-series-age, .recom-o2-sel-series-date{display:inline;float:left;}
.recom-o2-selected-series-age-drop-down{margin:5px 0 0 10px;}
.recom-o2-date-selector-button{display:none;}
.recom-o2-date-selector-input{text-align:center;margin:5px 7px 0 0;}
.recom-o2-sel-series-date .ui-datepicker-trigger,.recom-o2-sidepanel-container .ui-datepicker-trigger{margin-bottom:-4px;}
.recom-o2-selected-series-age-drop-down,.recom-o2-sel-series-age-value,.recom-o2-selected-series-frequency-drop-down,.recom-o2-sel-series-freq-val,.recom-o2-date-selector-input,.recom-o2-new-series-title,.recom-o2-date-age-selector,.recom-o2-modify-reason-drop-down,.recom-o2-modify-age-drop-down,.recom-o2-modify-freq-value,.recom-o2-modify-provider-name,.recom-o2-modify-age-value,.recom-o2-modify-date-value, .recom-o2-common-style, .recom-o2-selected-series-postpone-drop-down{box-sizing:border-box;-moz-box-sizing:border-box;height:22px;}
.recom-o2-sel-series-freq-val, .recom-o2-sel-series-age-value{padding-left:3px;}

/*Modify Expectation Side Panel Styling*/
.recom-o2-sp-actions,.recom-o2-modify-date-section,.recom-o2-modify-age-section,.recom-o2-modify-recorded-for{display: inline-block;}
.recom-o2-modify-button, .recom-o2-save-button, .recom-o2-cancel-button{display: block;}
.recom-o2-modify-controls, .recom-o2-action-controls{margin-top:14px;margin-right: 10px;}
.recom-o2-comment-section,.recom-o2-modify-freq-section,.recom-o2-modify-reason,.recom-o2-modify-recorded-for, .recom-o2-action-recorded-for, .recom-o2-postpone-reason{padding-top: 14px;}
.recom-o2-due-date-div-sp,.recom-o2-due-date-label-sp,.recom-o2-modify-freq-div{padding-top: 6px;}
.recom-o2-due-section-sp,.recom-o2-modify-reason{float:left;}
.recom-o2-modify-reason{padding-right: 10px;}
.recom-o2-comment-area{width: 62%; resize:none;overflow: auto;}
.recom-o2-reset-to-default-span,.recom-o2-reset-to-default-link{padding-left: 10px;}
.recom-o2-modify-freq-value,.recom-o2-modify-age-value, .recom-o2-postpone-range-value{text-align: center;}
.recom-o2-modify-required-field:before{content:"*";color:#CC0000;}
.recom-o2-date-age-selector,.recom-o2-modify-date-value,.recom-o2-modify-age-value{margin-right: 10px;}
.recom-o2-date-age-selector{width: 90px;}
.recom-o2-sp-err-msg{padding-bottom: 40px; background-color: #FBDBDD; border-left: solid 2px #CC0000;}
.recom-o2-modify-future-date-message{padding-top: 5px;color: #CC0000;}
.recom-o2-modify-due-date-icon{background:url(../images/6816_16_over.png) no-repeat 0 0;display:inline-block;width:16px;height:16px;margin-left: 5px;}
.recom-o2-modify-pre-loader{background: url(../images/6439_32.gif)no-repeat 0 0;display:inline-block;width:32px;height:32px;margin-left: 45%;margin-top: 10%;}
.recom-o2-view-ref-text{float:right;display:inline-block;}
/*Modal dialog */

.recom-o2-custom-table {
	margin-top: 6px;
	margin-bottom: 9px;
	border: 1px solid #E9E9E9;
	border-collapse: collapse;
}
.recom-o2-table-header-show{
	color: #939393;
	padding-left: 10px;
	width: 15%;
}
.recom-o2-table-header-column{
	color: #939393;
	padding-left: 10px;
}
.recom-o2-reset-button{position: absolute; left:3px;}
.recom-o2-td{padding-left:12px; padding-top:3px;border: 1px solid #E9E9E9;
	border-collapse: collapse;}
.recom-o2-disabled{padding-left:12px; padding-top:3px; color: #909494;}

/*favorites*/
.recom-o2-fav-set{background:url(../images/3961_16.png) no-repeat 5px 0;display:table-cell;width:inherit;height:16px;padding-left: 20px;}
.recom-o2-fav-not-set{display:table-cell;width:45px;height:16px;padding-left: 20px;}
.recom-o2-fav-not-set:hover{background:url(../images/3961_disabled.gif) no-repeat 5px 0;display:table-cell;width:inherit;height:16px;padding-left: 20px;}
.recom-o2-allfilter-disabled{ pointer-events: none;opacity: 0.5;padding-left:9px;background: #F2F2F2; }

/*Manual Satisfiers*/
.recom-o2-satisfier-item{cursor: default;}
.recom-o2-satisfier-item:hover{background-color:#568ecb; color:#FFF;}
.recom-o2-satisfy-date-range{margin-right: 30px;}
.recom-o2-postpone-range-value{margin-left:10px; margin-right: 10px;}
.recom-o2-action-postpone{margin-bottom: 10px;}
.recom-o2-postpone-date{margin-top: 10px;}
.recom-o2-postpone-date-value, .recom-o2-satisfy-date-value{text-align: center;margin-right: 5px;}
.recom-o2-postpone-date-value{margin-left: 37px;}
.recom-o2-postpone-radio-button{margin-right: 5px;}
.recom-o2-satisfy-comment-area{width: 95%; resize:none; overflow: auto;}
.recom-o2-radio-button-text{vertical-align: top;}
.recom-o2-postpone-date-range, .recom-o2-satisfy-date-range{padding-top: 5px;}
.recom-o2-postpone-ui, .recom-o2-satisfy-action{padding-left: 5px;}
/*Time frame */
.recom-o2-time-frame-button{ width:95px; height:25px; }
.recom-o2-time-frame-button-selected{color:#FFF; background-color:#52656C; width:95px; height:25px; }
.recom-o2-time-frame-caret{display: inline-block;width: 0;  height: 0; border-top: 4px solid #1c1f21;border-right: 4px solid transparent;border-left: 4px solid transparent;padding-bottom:2px;}
.recom-o2-date-range-selector{margin-right:10px;margin-top:-4px;display:inline-block;padding-bottom:5px;}
.recom-o2-time-frame-drop-down{ width:28px;padding: 1px 8px 2px; }
.recom-o2-modal-from{margin-top:10px; margin-left:20px;}
.recom-o2-modal-to{text-align:right; margin-left:30px; width:10px; background-color: #FFF; border:none;}
.recom-o2-modal-table{margin-left:33px;margin-top:10px;margin-bottom:30px; width:60%; background-color: #FFF; border:none;}
.recom-o2-modal-table-row{margin-top:90px; margin-left:30px; background-color: #FFF; border:none;}
.recom-o2-modal-table-td{  border:none;background-color: #FFF;border:none;}
.recom-o2-modal-table-th{  border:none;background-color: #FFF;border:none;}
.recom-o2-lookback-button {height: 18px;text-align: center;font-size: 11px;color: #000;border: 1px solid #55656d;cursor: pointer;width: auto;padding: 0 8px 1px ;float: left;line-height: 16px;z-index: 1;position: relative;background: url(../images/segmentedControl_short_inactive_center.png) repeat;}
.recom-o2-date-range-modal{height:190px;}
.recom-o2-modal-input{width:60%;padding:3px 0px 7px 3px;}

/*History in the side panel and undo*/
.recom-o2-history-item-due-info{min-width:110px;display:inline-block; } 
.recom-o2-history-item-provider-info{text-align:left; } 
.recom-o2-reason-text{display:inline-block;padding-left:5px; } 
.recom-o2-undo-comment-area{resize:none;width:80%;overflow: auto;}
.recom-o2-undo-provider-name{padding-left:3px;}
.recom-o2-undo-title{margin-bottom:5px;font-weight:bold;}
.recom-o2-until-date-display{padding-bottom:3px;}
.recom-o2-last-satisfied-date-display{padding-bottom:10px;}
.recom-o2-satisfier-action-info div{border-left: 2px solid #A0A0A0;padding-left:7px;}
.recom-o2-undo-reason-text{padding-top: 10px;}
.recom-o2-history-item-action-info{padding-bottom: 2px;}

/*System-satisfier - add procedure fields*/
.recom-o2-procedure-name, .recom-o2-add-proc-date, .recom-o2-proc-provider-container, .recom-o2-proc-location-container, .recom-o2-proc-comment-container{padding-bottom:10px;}
.recom-o2-add-proc-provider{width:60%;}
.recom-o2-add-proc-location{width:60%;padding-left:3px;}
.recom-o2-add-proc-comment{width:100%;padding-left:3px;resize:none;overflow:auto;}
.recom-o2-sidepanel-container .suggestions{overflow-y:auto;}

/*Reference Text */
.recom-o2-reference-text-icon{background: url(../images/3728_16.png) no-repeat 6px 0;display:inline-block;width:20px;height:16px;}
.recom-o2-reference-button-icon{background: url(../images/5323_down_16.png) no-repeat 1px 0;display:inline-block;width:18px;height:15px;}