/* Classes to determine the width of the columns */
.rem1-subject,
.rem1-subject-subtype,
.rem1-patient,
.rem1-subtype,
.rem1-due-date {
	word-wrap: break-word;
}
.rem1-patient{
	width: 30%;
}
.rem1-subject{
	width: 65%;
}
.rem1-subject-subtype,
.rem1-subtype{
	width: 25%;
}
.rem1-from,
.rem1-assignedto {
	width: 15%;
}
.rem1-assignedto {
	display:none;
}
.rem1-due-date {
	width: 12%;
}
.rem1-priority,
.rem1-attachmentColumn {
	width: 4%;
	text-align: center;
}
.rem1-priority-large{
	width:16px;
	height:16px;
	text-align:left;
	background:url(../images/5278_16.png) no-repeat center center;
	float:right;
}
.rem1-attachment{
	width:16px;
	height:16px;
	background:url(../images/3730.png) no-repeat center center;
	display:inline-block;
}
/*Override the float:left property set by the component table which prevents the attachment icon and priority icon to stay center aligned */
.rem1-attachmentColumn span,
.rem1-priority span{
	float:none;
}
/*Create higher specificity to Override the padding for the attachmentColumn which is set by .hdr.sort-control>* */
.hdr.sort-control>.rem1-attachmentColumn {
	padding-top:2px;
}
.rem1-sidepanel-container{
	position:relative;
	padding-left:10px;
	width:40%;
	font-family: "Tahoma", Geneva, sans-serif;
	box-sizing:border-box;
	float:right;
}
.rem1-sidepanel-display{
	position:absolute;
	z-index:10;
}
.rem1-sidepanel-container .sidepanel-close{
	cursor:pointer;
	text-align:center;
	float:right;
	background-color:#F6F6F6;
	padding:4px 10px;
	margin-left:6px;
	border:1px solid #666;
	border-radius:2px;
	box-shadow:0 0 0 1px #fff inset;
	min-width:70px;
}
.rem1-table{
	float:left;
	width:60%;
}
.rem1-maincontainer{
	overflow-x:auto;
	overflow-y:hidden;
	width:auto;
}
.rem1-sidepanel-container-hide{
	display:none;
}
.rem1-table-resize{
	width:100%;
	float:left;
}
.rem1-sp-action-holder{
	color: #505050;
	display: inline-block;
	font-weight: bold;
	padding-bottom: 8px;
	padding-left: 10px;
	text-align: left;
	width: 100%;
}
.rem1-sp-header{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	width: 100%;
}
.rem1-MessageText{
	padding: 0 10px 0 10px;
	width:95%;
}
.rem1-msg-subject{
	float: left;
	vertical-align: middle;
	width: 85%;
	word-wrap: break-word;
}
.rem1-sidePrioirty,
.rem1-sideAttachment{
	display: table-cell;
	float: none;
	text-align: center;
	vertical-align: middle;
	width: 3%;
}
.rem1-row-selected,
.rem1-row-selected .rem1-overdue{
	background-color:#568ecb;
	color:#FFF;
}
.rem1-row-selected-init{
	background-color:#bbc3cb;
}
.rem1-action{
	text-align:left;
	display:block;
	padding-right:2px;
}
.rem1-addendum{
	display: block;
	padding: 3px 10px 3px 10px;
	width: 94%;
 }
.rem1-AddendumTitle{
	padding-left:10px;
	float:left;
	width:95%;
}
.rem1-icons,
.rem1-icon{
	float: right;
	padding-right: 10px;
	text-align: right;
}
.rem1-icon{
	width: 6%;
}
.rem1-actions{
	display: inline-block;
	vertical-align: middle;
	width: auto;
}
.rem1-resultLabel,
.rem1-resultValue{
	display: inline-block;
	text-align: left;
	vertical-align: top;
}
.rem1-resultLabel{
	padding-left: 10px;
	width: 20%;
}
.rem1-resultValue{
	padding-bottom: 2px;
	width: 70%;
}
.rem1-addendum-by{
	display: block;
	font-weight: bold;
	padding-left: 10px;
	padding-top:8px;
	padding-bottom:10px;
}
.rem1-sp-button {
	cursor:pointer;
	text-align:center;
	float:right;
	background-color:#F6F6F6;
	padding: 4px 10px;
	margin-left:8px;
	border: 1px solid #666;
	border-radius: 2px;
	box-shadow: 0 0 0 1px #fff inset;
	min-width:70px;
}
.rem1-hide-side-panel{
	display:none;
}
.rem1-show-side-panel{
	display:block;
	position:relative;
}
.rem1-expand-comp-table{
	width:100%;
}
.rem1-compact-comp-table{
	width:60%;
}
.rem1-sidepanel-loading {
	margin:auto;
}
.rem1-loading{
	vertical-align:middle;
	background:transparent url(../images/6439_32.gif) no-repeat scroll center;
	width:50px;
	height:50px;
	display:inline-block;
	position:relative;
	margin: 25% 50% 50% 45%;
}
.rem1-colon-seperator{
	padding-right:4px;
}
.rem1-filtercontainer{
	height:25px;
}
.rem1-subtypewrapper{
	padding-left:25px;
}
.rem1-checkboxwrapper,
.rem1-subtypewrapper,
.rem1-colon-seperator,
.rem1-attachment-side-panel{
	float:right;
}
.rem1-checkboxspan{
	padding-left: 5px;
}
.rem1-suptypespan{
	padding-right: 5px;
}
.rem1-patient-overdue,
.rem1-subtype-overdue{
	font-weight: normal;
}

.lookforward-container{
	float: right;
	z-index: 1;
	margin: -4px 8px 0 0;
	padding-left: 8px;
	border: 1px solid #FFF;
	border-left-color: #A0A0A0;
	height: 22px;
}
