.respt-info {clear:both; zoom:1; overflow:hidden; padding:0 1%; border-bottom:1px solid #EDEDED; word-wrap:break-word;}
.respt-info dt, .respt-info dd {float:left; display:inline-block;}
.respt-info dt {width:53%; margin-right:1%;}
.respt-info dd {width:20%; margin-left:1%; margin-right:1%;}
.respt-info a:link {text-decoration:none; cursor:pointer; color:#000;}
.respt-info a:active, .respt-info a:hover {text-decoration:underline;}
