.resa-info, .resa-disclaim {clear:both; zoom:1; overflow:hidden; padding:0 1%; border-bottom:1px solid #EDEDED; word-wrap:break-word;}
.resa-disclaim {border-top:1px solid #EDEDED;}
.resa-info dt, .resa-info dd {float:left; display:inline-block;}
.resa-info dt {width:53%; margin-right:1%;}
.resa-info dd {width:20%; margin-left:1%; margin-right:1%;}
.resa-table td, .resa-table th {padding-left:1%; text-align:left;}
.resa-info a, .resa-abg-table td a {text-decoration:none; color:#000;}
.resa-info a:active, .resa-info a:hover, .resa-abg-table td a:active, .resa-abg-table td a:hover {text-decoration:underline;}
.resa-abg-dt {margin-left:1.5em;}
.resa-abg-table {table-layout:fixed;}
.resa-abg-table th, .resa-abg-table td {padding:0 2px;}
.resa-abg-table th:first-child, .resa-abg-table td:first-child {padding-left:1%;}
/* Masks for 1-6 column views */
.resa-1col th, .resa-1col td {width:100%;}
.resa-2col th, .resa-1col td {width:50%;}
.resa-3col th, .resa-1col td {width:33.33%;}
.resa-4col th, .resa-1col td {width:25%;}
.resa-5col th, .resa-1col td {width:20%;}
.resa-6col th, .resa-1col td {width:16.67%;}