.resp-tmln-sec {position: relative;  zoom: 1;}
.resp-tmln-info {line-height: 1.5em; clear: both; zoom:1; overflow-x:hidden; overflow-y:auto; padding-left: 4px; padding-right:2px; border-bottom: 1px solid #E8EFF9;}
.resp-tmln-info-hd, .resp-tmln-info dt, .resp-tmln-det-hd {position:absolute; visibility:hidden;}
.resp-tmln-info dd {float: left; padding: 0; display: inline;}

/*==================== Graph =======================*/
.v-graph ul {	list-style: none; display: inline-block; white-space:nowrap; width: 99%; margin-left: 0; padding-left: 0;}
.v-graph  ul li { display: inline-block; 	margin-left: 0; margin-bottom: 0;}
.jqplot-highlighter-tooltip{border:1px solid #000;font-size:1em;z-index:1000;background-color:#FFF;background-color:#FFC;padding:1px 6px;}
.jqplot-x2axis-tick{text-align:center;margin-bottom:0;}
.jqplot-xaxis-tick{text-align:center;}
.jqplot-yaxis-tick {width:40px;}
.nowTime {background-color:#FFC;}
.legend {float: left;font-size:12px;}

.resp-tmln-graph-selection{position:relative;width:300px;white-space:nowrap;border:1px solid #ddd;overflow:auto;}
.resp-tmln-reset-buttons{height:125px;margin:2px 39px 2px 0;}
.resp-tmln-vitals-selection, .resp-tmln-bp-selection{height:300px; margin:2px 0;}
.resp-tmln-control-graph{height:125px;position:relative;left:325px;}
.resp-tmln-vitals-graph, .resp-tmln-bp-graph{height:300px;position:relative;left:290px;}
.resp-tmln-table-graph{position:relative;zoom:1;}
.closed .resp-tmln-table-graph{display:none;}

div.btns {margin:4px 0 4px 8px;}
div.btn {position:relative;cursor: pointer;vertical-align:middle;margin-right:2px; height:22px; width: 23px; border: 1px solid #C9DFE5; background: #FFF;}
/*div.btn canvas {position:relative;width:21px;height:21px;}*/
div.series-on{ background-color: #eeeeee;}
div.series-off{ border-right: 3px solid #C9DFE5; border-bottom: 3px solid #C9DFE5;}
.sub-sec {clear: left;}
.sub-sec-hd {zoom: 1;}
.oContainer {clear: both;}
.rBtn {width:99%;}
.rBtn_data {width:99%;margin-left: 25px;}
.rBtn_data canvas {position:relative;}
div.btns div.closed {display:none;}

/* IE Specific Code */

div.btn canvas {width:23px;height:23px;}
.rBtn_data canvas {width:23px;height:23px;}
.jqplot-x2axis{margin-bottom:20px;}