.rt{position:relative;}
.rt .sec-content{z-index:2;}
.rt-results-table{table-layout:fixed;}
.rt-results-table td.labels{width:12%;}
.rt-results-table td.data{width:88%;}
.rt-banner tr.header{background:#F2F6E9;}
.rt-table{z-index:2;}
.rt-table td.dispdt{padding-left:5px;width:80px;}
.rt-table td.name{border-right:1px solid #E8EFF9;border-bottom:1px solid #E8EFF9;padding-left:2px;font:12px/1.5em Tahoma;text-align:right;color:#666;}
.rt-table td.name1{border-right:1px solid #E8EFF9;padding-left:2px;font:12px/1.5em Tahoma;text-align:right;color:#666;}
.rt-table td.noname{border-top:1px solid #E8EFF9;border-right:1px solid #E8EFF9;padding-left:2px;font:12px/1.5em Tahoma;text-align:right;color:#666;}
.rt-table td.disp{background:#F6F6F6;padding-left:1px;border-right:1px solid #505050;}
.rt-table td{word-wrap:break-word;}
.rt-table .label{text-align:right;padding-right:5px;}
.rt-table1{table-layout:fixed;z-index:2;visibility:visible;}
.rt-table1 td{word-wrap:break-word;width:16px;}
.rt-table1 td.disp{background:#F6F6F6;padding-left:1px;border-right:1px solid #505050;width:80px;}
.rt-table1 td.visit{background:#FF7D3E;}
.rt-table1 td.lab{background:#842E91;}
.rt-table1 td.ultrasound{background:#1073D0;}
.rt-table1 td.critical{background-image:url(../images/5278_16.gif);background-repeat:no-repeat;text-align:center;}
.rt-table1 td.low{background-image:url(../images/6303_11.gif);background-repeat:no-repeat;text-align:center;}
.rt-table1 td.high{background-image:url(../images/6302_11.gif);background-repeat:no-repeat;text-align:center;}
.rt-table1 td.currentdt{background:#FFF4D4;border-top:1px solid #FFC000;border-bottom:1px solid #FFC000;text-align:center;width:80px;}
.rt-table1 td.deliverydt{background:#F99;border-top:1px solid #C00;border-bottom:1px solid #C00;text-align:center;width:80px;}
.rt-table1 td.tri1{background:#C8E6C8;border-bottom:1px solid #E8EFF9;border-top:1px solid #E8EFF9;text-align:center;border-right:1px solid #E8EFF9;}
.rt-table1 td.tri2{background:#FFC;border-bottom:1px solid #E8EFF9;border-top:1px solid #E8EFF9;text-align:center;border-right:1px solid #E8EFF9;}
.rt-table1 td.tri3{background:#FC9;border-bottom:1px solid #E8EFF9;border-top:1px solid #E8EFF9;text-align:center;border-right:1px solid #E8EFF9;}
.rt-table1 td.noborder{border-right:1px solid #FFF;}
.rt-table1 td.currentdtborder{border-right:1px solid #FFC000;}
.rt-table1 td.pregdtborder{border-right:1px solid #C00;}
.rt-table2{width:30em;line-height:2em;}
.rt-table2 td{word-wrap:break-word;}
.rt-table2 td.title{width:33%;color:#505050;padding-left:2px;}
.rt-table2 td.res{width:33%;padding-left:2px;}
.rt-table2 td.title1{width:49%;color:#505050;padding-left:2px;}
.rt-table2 td.res1{width:49%;padding-left:2px;}
.rt-table2 td.sub{width:53%;}
.rt-numval{color:#505050;font:normal 9px Tahoma;text-align:left;}
.rt-hscroll{overflow-x:auto;overflow-y:hidden;}
.rt-crit{color:#E50D34;font-weight:bold;text-align:left;font:13px Tahoma;width:20%;}
.rt-dttm{font:13px/1.5em Tahoma;text-align:right;color:#666;}
.rt-link{text-decoration:none;}