.rslt-info {clear:both; zoom:1; overflow:hidden; padding:0 1%; border-bottom:1px solid #EDEDED; word-wrap:break-word;}
.rslt-info dt {display:none;}  
.rslt-name {width:32%; float:left; display:inline-block; margin-right:1%;}
.rslt-res {width:42%; float:left; display:inline-block; margin-left:1%; margin-right:1%;}
.rslt-dt {width:20%; float:left; display:inline-block; margin-left:1%;}
.rslt-info .res-ind {display:inline-block; margin-right:.3em;}
.rslt-info .res-normal .res-value {margin-left:.5em;}
.rslt-res a, .rslt-res a:link, {text-decoration:none; cursor:pointer;}
.rslt-res a:active, .rslt-res a:hover {text-decoration:underline;}
