.sa-info,.sa-info-hdr{overflow:hidden;padding:0 1%;border-bottom:1px solid #EDEDED;word-wrap:break-word;}
.sa-info dt{display:none;}
.sa-name{width:30%;float:left;margin-right:1%;}
.sa-res{width:41%;float:left;margin-left:1%;margin-right:1%;}
.sa-dt{width:22%;float:left;margin-left:1%;}
.sa-res a:active,.sa-res a:hover{text-decoration:underline;}