
.aoav_soi-main-cont {
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
/*Division for labels div at the top*/
.aoav_soi-top-labels {
	width: 100%;
	height: 30px;
}
/*Division for side panel area*/
.aoav_soi-index-div {
	width: 40%;
	display: inline-block;
	float: right;
}
/* Adding image for criticality indicator */
.aoav_soi-image-crit {
	background: url(../images/5278_11.png) no-repeat top left;
	display: inline-block;
	height: 11px;
	width: 11px;
}
/*Adding image for high value indicator */
.aoav_soi-image-high {
	background: url(../images/6688_11.png) no-repeat top left;
	display: inline-block;
	height: 11px;
	width: 11px;
}
/*Adding class for Normal SOI Value */
.aoav_soi-range-normal {
	color: #000000;
}
/*Adding class for Critical SOI Value */
.aoav_soi-range-critical {
	font-weight: bold;
	color: #CC0000;
}
/*Adding class for High SOI Value*/
.aoav_soi-range-high {
	font-weight: bold;
	color: #FF6100;
}
/* giving common css for for all square index icons*/
.aoav_soi-phy-square, .aoav_soi-com-square, .aoav_soi-sup-square, .aoav_soi-det-square {
	margin-top: 2px;
	width: 14px;
	height: 14px;
}
/*Physiology Index icon*/
.aoav_soi-phy-square {
	background: #007CC3;
}
/*Comorbidity Index icon*/
.aoav_soi-com-square {
	background: #26A2E5;
}
/*Support Index icon*/
.aoav_soi-sup-square {
	background: #FFCE3B;
}
/*Deterioration Index icon*/
.aoav_soi-det-square {
	background: #DAACE6;
}
/*Alignment for index body division */
.aoav_soi-index-body-div {
	margin-top: -5px;
}
/*Creating line for sum of the indexes*/
.aoav_soi-separating-border {
	border-bottom: 1px #000 solid;
}
/*Header text css for index table */
.aoav_soi-index-body-heading-text, .aoav_soi-index-details-header span {
	color: #3D3D3D;
	font-size: 12px;
	font-weight: bold;
}
.aoav_soi-index-details-header span{
	padding-left: 7px;
}
/* padding below rows in soi index table*/
.aoav_soi-index-table {
	max-width: 250px;
}
.aoav_soi-index-table tr td {
	padding-bottom: 5px;
}
/* css for container div in index table */
.aoav_soi-index-table-cont {
	border-spacing: 10px;
	border-collapse: separate;
	padding-top: 15px;
	width: auto;
}
.aoav_soi-index-table-empty-row {
	height: 5px;
}
/* START -> giving width for each column in soi index table*/
.aoav_soi-index-icons {
	width: 10%;
}
.aoav_soi-index-labels {
	width: 45%;
}
.aoav_soi-index-values {
	text-align: right;
	width: 15%;
}
/*defining counter for diagnosis list*/
.aoav_soi-diagnosis-ordered-list li {
	counter-increment: mycounter;
}
/*Adding diagnosis list numbers using counter*/
.aoav_soi-diagnosis-ordered-list li:before {
	color : #505050;
	padding-right: 7px;
	content: counter(mycounter) ".)";
}
/*Adding alignment for span and word wrap to handle larger diagnosis test*/
.aoav_soi-diagnosis-ordered-list li span {
	color: #000000;
	word-wrap: break-word;
}
/* Adding width for side panel*/
.aoav_soi-side-panel {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
}
.aoav_soi-side-panel-padding{
	padding-left: 18px;
}
/*giving css to side panel*/
.aoav_soi-side-panel .side-panel {
	float: right;
	max-width: 100%;
}
/*new classes for diagnosis */
.aoav_soi-diagnosis-content {
	margin-top: -2px;
	width: auto;
}

.aoav_soi-diagnosis-first-col { 
	float: left;
}

.aoav_soi-diagnosis-data {
	padding-bottom: 10px;
}
/*new classes for diagnosis */
/*Chart icon for ICU Risk Mortality*/
.aoav_soi-triangle {
	display: inline-block;
    height: 9px;
    width: 13px;
	background: url(../images/MortalityIcon_Triangle.png) no-repeat top left;
}
/*Chart icon for Hospital Risk Mortality*/
.aoav_soi-circle {
	display: inline-block;
    height: 9px;
    width: 13px;
	background: url(../images/MortalityIcon_Circle.png) no-repeat top left;
}
/*Adding secondary text*/
.aoav_soi-diagnosis-text, .aoav_soi-date-span .aoav_soi-start-text, .aoav_soi-index-table-cont .aoav_soi-index-labels {
	color: #505050;
}
.aoav_soi-diagnosis-ordered-list {
    padding-left: 58px;
}    
/*Adding percentage symbol css*/
.aoav_soi-percentage-text {
	color: #505050;
	font-size: 10px;
}
/*Adding color and alignment for (--) when diagnosis list is empty*/
.aoav_soi-empty-diagnosis {
	color: #000000;
	padding-left: 10px;
}
/*Adding primary text color for specific elements*/
.aoav_soi-range-null, .aoav_soi-day-date {
	color: #000000;
}
/* Adding details for Day information  */
.aoav_soi-day-span {
	font-family: tahoma;
	font-size: 18px;
	color: #000000;
}
/*Adding alignment after Start Date*/
.aoav_soi-index-div .sp-header2 {
	padding: 8px 8px 6px 8px;
}
/* css for square icon beside index details header */
.aoav_soi-index-details-square {
	float: left;
	margin-right: 10px;
}
/* css for container div of physiology details */
.aoav_soi-index-details-div {
	padding: 5px 0px 15px 0;
	width:100%;
}
/* css for span containing unit of measure */
.aoav_soi-unit-of-measure {
	padding-left: 4px;
}
/* giving width for columns in physiology and comorbidity details table */
.aoav_soi-percentage-col {
	width: 15%;
}
.aoav_soi-phyIndex-details-col span {
    display: inline-block;
}
.aoav_soi-body-system-col {
	width: 30%;
}
.aoav_soi-high-col, .aoav_soi-low-col, .aoav_soi-median-col {
	width: 15%;
	text-align:right;
}
/* width for item column in comorbidity*/
.aoav_soi-item-col {
	width: 80%;
}
/* end of width css */
/* margin for index details details table */
.aoav_soi-index-details-table {
	margin-top: 7px;
	max-width: 400px;
}
/*css for index details table header and unit of measure span*/
.aoav_soi-index-details-table th, .aoav_soi-unit-of-measure {
	font-size: 10px;
	color: #505050;
}
/* css for all available high median and low values in physiology table and item column in other index tables*/
.aoav_soi-index-details-table td {
	color: #000000;
	font-size: 12px;
	padding-bottom: 5px;
}
/*text css for percentage column */
.aoav_soi-index-details-table tr td:first-child {
	font-size: 12px;
	color: #505050;
}
/* style for sub-categories of comorbidity items -> span for sourceString*/
.aoav_soi-com-str {
	padding-left: 10px;
	width: 12%;
	float: left;
	display: list-item;
}
/* style for sub-categories of comorbidity items -> span for sourceIdentifier*/
.aoav_soi-com-idt {
	width: 83%;
	float: right;
}
.aoav_soi-com-sub{
	list-style:disc;
}
/*padding for percentage column */
.aoav_soi-index-details-table tr td:first-child, .aoav_soi-index-details-table tr th:first-child {
	text-align: right;
    padding-right: 20px;
}
/* making text align right for low median and high values*/
.aoav_soi-phy-high, .aoav_soi-phy-median, .aoav_soi-phy-low {
	text-align: right;
}
/* css for disabled text (N/A values) */
.aoav_soi-disabled {
	color: #A0A0A0;
}
/* CSS for length of stay component*/
/* Top label container*/
.aoav_soi-top-labels {
	width: 100%;
	height: 40px;
	display: inline-block;
	padding-right: 15px;
}
/* Length of stay class*/
.aoav_soi-len-of-stay {
	padding-top: 8px;
	float: right;
	text-align: right;
	max-width: 45%;
}
/* Making all the los values bold in the tooltip*/
.aoav_soi-los-benchmark-hosp .aoav_soi-los-values, .aoav_soi-los-benchmark-icu .aoav_soi-los-values, .aoav-soi-benchmark-hosp-tooltip-table .aoav-soi-benchmark-hosp-tooltip-valuetext, .aoav-soi-benchmark-icu-tooltip-table .aoav-soi-benchmark-icu-tooltip-valuetext {
	font-weight: bold;
}
.aoav_soi-los-tool-tip {
	z-index: 3;
}
/*color for tooltip labels*/
.aoav_soi-los-benchmark-hosp .aoav_soi-los-benchmark-hosp-label, .aoav_soi-los-benchmark-icu .aoav_soi-los-benchmark-icu-label, .aoav-soi-benchmark-hosp-tooltip-table .aoav-soi-benchmark-hosp-tooltip-labeltext, .aoav-soi-benchmark-icu-tooltip-table .aoav-soi-benchmark-icu-tooltip-labeltext {
	color: #505050;
}
/*css for table heading in the tool tip*/
.aoav-soi-hosp-tooltip .aoav-soi-hosp-tooltip-header {
	font-size: 11px;
	color: #505050;
	padding-right: 154px;
}
/*css for table heading in the tool tip*/
.aoav-soi-icu-tooltip .aoav-soi-icu-tooltip-header {
	font-size: 11px;
	color: #505050;
	padding-right: 174px;
}

/* adding width for column in the tooltip table*/
table.aoav-soi-benchmark-icu-tooltip-table td.aoav-soi-benchmark-icu-tooltip-valuetext, table.aoav-soi-benchmark-hosp-tooltip-table td.aoav-soi-benchmark-hosp-tooltip-valuetext {
	width: 60px;
	vertical-align: middle;
}

table.aoav-soi-benchmark-icu-tooltip-table td.aoav-soi-benchmark-icu-tooltip-labeltext, table.aoav-soi-benchmark-hosp-tooltip-table td.aoav-soi-benchmark-hosp-tooltip-labeltext {
	width: 200px;
	vertical-align: middle;
}
/*aligning text for divs of the tooltip*/
.aoav-soi-hosp-tooltip, .aoav-soi-icu-tooltip {
	padding: 5px 25px 8px 15px;
	text-align: right;
}
/*SOI Readmission labels CSS*/
.aoav_soi-readmission {
  padding-top: 8px;
  float: right;
  text-align: right;
  padding-right: 15px;
  max-width: 45%;
}

/* changing color for the readmisson label*/
.aoav_soi-readmission .aoav_soi-readmission-label {
	color: #505050;
}
/* making readmission value elements bolder*/
.aoav_soi-readmission .aoav_soi-readmission-values {
	font-weight: bold;
}
/*End of SOI Readmission CSS*/

/* Graph main division & JQPlot CSS */
/*Division for graph area*/
.aoav_soi-graph-area {
	width: 55%;
	float: left;
	display: inline-block;
	overflow-x: auto;
	overflow-y: hidden;
}

.aoav_soi-graph-area.aoav_soi-chart-on-scroll {
	border-right: 1px solid #DDDDDD;
}

.aoav_soi-chart {
	display: inline-block;
	width: 99%;
	height: 100%;
}

.aoav_soi-chart-main-div {
	display: inline-block;
	width: 100%;
	border-right: 1px solid #DDDDDD;
}

.aoav_soi-graph-area .aoav_soi-chart-on-scroll {
	border-right: none;
}

.aoav_soi-graph-sp {
	display: inline-block;
	width: 100%;
}

.aoav_soi-chart-main-div .jqplot-overlayCanvas-canvas {
	z-index: 0;
}

.aoav_soi-chart-main-div .jqplot-series-canvas {
	z-index: 1;
}

.aoav_soi-chart-main-div .jqplot-highlighter-tooltip {
	z-index: 2;
}

.aoav_soi-chart-main-div .jqplot-event-canvas {
	z-index: 5;
}

/* End of graph main division & JQPlot CSS */

/* Graph X2 Axis - Days CSS */
.aoav_soi-graph-days-div {
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	font-size:9px;
}

.aoav_soi-graph-xaxes-buttons.aoav_soi-graph-day-button-selected {
	background-color: #3A78BB !important;
	color: #FFFFFF;
}

.aoav_soi-graph-xaxes-buttons.aoav_soi-hover-background {
	background-color: #EDEFEF;
}

.aoav_soi-graph-xaxes-buttons {
	display: inline-block;
	text-align: center;
	border-right: 1px solid #DDDDDD;
	background-color: #F6F6F6;
}

.aoav_soi-graph-day-button-event {
	cursor: pointer;
}

.aoav_soi-graph-xaxes-value {
	height: 23px;
	line-height: 23px;
	vertical-align: middle;
}
/* End of Graph X2 Axis - Days CSS */

/* Graph X1 Axis - Value Indicator CSS */
.aoav_soi-graph-xvalue-div {
	margin-top: -4px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	font-size:12px;
}

.aoav_soi-graph-xvalue-high {
	color: #FF6100;
	font-weight: bold;
}

.aoav_soi-graph-xvalue-crit {
	color: #CC0000;
	font-weight: bold;
}

.aoav_soi-graph-xvalue-normal {
	color: #000000;
}

.aoav_soi-graph-image {
	display: inline-block;
	height: 11px;
	width: 11px;
	vertical-align: middle;
	margin-left: -5%;
	margin-bottom: -1px;
}
/*start ICU headers css*/
.aoav_soi-graph-icu-header {
	width: 99%;
	height: 23px;
	background-color: #EBEBEB;
	border-top: 1px solid #DDDDDD;
}
.aoav_soi-level-icu {
	font-size: 9px;
	vertical-align: top;
	background-color: #F6F6F6;
	border-right: 1px solid #DDDDDD;
}
.aoav_soi-level-not-icu {
	background-color: #EBEBEB;
	border-right: 1px solid #DDDDDD;
}

.aoav_soi-level {
	display: inline-block;
	text-align: center;
	height: 23px;
	line-height: 23px;
}
/*end ICU headers css*/
/*Adding image for critical value indicator */
.aoav_soi-graph-image-crit {
	background: url(../images/5278_11.png) no-repeat top left;
}

/*Adding image for high value indicator */
.aoav_soi-graph-image-high {
	background: url(../images/6688_11.png) no-repeat top left;
}
/* End of Graph X1 Axis - Value Indicator CSS */

/*Adding padding around date and day information in the hover displayed on the graph day button*/
.aoav_soi-chart-day-hover {
	padding: 10px 10px 10px 15px;
}

/*Adding font and color for information in the hover displayed on the graph day button*/
.aoav_soi-chart-day-span {
	font-family: tahoma;
	color: #000;
}

/* Start of CSS for Y-axis creation code */
/* Adding css for the spans created in the Y-axis*/
.aoav_soi-graph-yvalue-div .aoav_soi-graph-y-axis-ticks {
	float: left;
	clear: left;
	text-align: right;
}

/* Adding css for the main division for the Y-axis*/
.aoav_soi-graph-yvalue-main-div {
	width: 4%;
	float: left;
	display: inline-block;
	background-color: #F6F6F6;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
}
/* Adding css for the top x2 axis division with the Y-axis creation*/
.aoav_soi-graph-yvalue-top-div {
	width: 54px;
	height: 47px;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #A5A5A5;
}
.aoav_soi-graph-yvalue-top-div.aoav_soi-graph-yvalue-ie8 {
	width: 53px;
}
/* Adding css for the main Y-axis creation*/
.aoav_soi-graph-yvalue-div {
	padding-right: 5px;
	font-size: 9px;
	border-right: 1px solid #A5A5A5;
}
.aoav_soi-graph-yvalue-div.aoav_soi-graph-yvalue-ie8 {
	border-right: 2px solid #A5A5A5;
}
/* Adding css for the bottom x-axis division with the Y-axis creation*/
.aoav_soi-graph-yvalue-bottom-div {
	width: 54px;
	height: 23px;
	clear: left;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #A5A5A5;
}
.aoav_soi-graph-yvalue-bottom-div.aoav_soi-graph-yvalue-ie8 {
	width: 53px;
}
/* End of code for Y-axis creation code */ 