/* ========== Significant Event O2 ========== */
.seo2-sub-sec  {color:#505050; background:#E8EFF9; padding-left:1%; border-bottom:1px solid #ADCC92; border-top:1px solid #ADCC92;}
.seo2-btn-txt  {font-size:12px; width:120px; margin:2%;}
.seo2-btn      {clear: both;  line-height: 2.5em; text-align: center; border-bottom:1px solid #E8EFF9;}
.seo2-btn dt   {width: 30%; display:inline; text-align: center;}

.seo2-info     {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.seo2-info-hd, .seo2-det-hd {position:absolute; visibility:hidden;}
.seo2-info-hdr {clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%;background:#EFEFEF; color:#505050; font:normal 11px Tahoma, sans-serif; word-wrap:break-word; zoom:1; border-bottom:1px solid #ADCC92;}

.seo2-dt       {width:30%; float:left; display:inline-block; padding-left:2%;}
.seo2-dd       {width:47%; float:left;  padding-left:1%;}
.seo2-dd-ico   {float:left; padding-left:1%;}

.seo2-ico-dd   {width:20%; float:left; display:inline-block; text-align:center;}

.seo2-inv-dd   {width:65%; float:left; display:inline-block; padding-left:.5em;}
.seo2-no-date  {padding-left:22%;}

.seo2-dl-res   {border-bottom:1px solid #E8EFF9;}
.seo2-dt-res   {width:41%; float:left; clear:both; text-align:right;}
.seo2-brdr     {border:solid 1px red;}

.seo2-fltr-txt {text-align:left; padding-left:2%; padding-right: 2%;}
.seo2-fltr     {padding-top:1%; padding-bottom:1%;}

.seo2-hide   {display:none;}
.seo2-show   {display:block;}
.seo2-spac   {padding-left:1%; padding-right:1%;}


.seo2-img-nost {background-image: url(../images/5970_16.gif); background-repeat:no-repeat; padding-left:.5em; padding-right:.5em;}
.seo2-img-prog {background-image: url(../images/5971_16.gif); background-repeat:no-repeat; padding-left:.5em; padding-right:.5em;}
.seo2-img-comp {background-image: url(../images/3918_16.gif); background-repeat:no-repeat; padding-left:.5em; padding-right:.5em;}
.seo2-img-res  {background-image: url(../images/6258_16.gif); background-repeat:no-repeat; padding-left:.5em; padding-right:.5em;}

.seo2-drp-txt {font:normal 12px Tahoma, sans-serif;}


.seo2-rrt-div {overflow-x:hidden; overflow-y:auto; background:#FFC;}
.seo2-rrt-act dt {clear:left; float:left; width:47%; text-align:right; padding:0 1%; margin-top:2%;}
.seo2-rrt-act dd {float: left; width:47%; text-align:left; padding:0 1%; margin-top:2%;}
.seo2-rrt-btn {width:50%; font-size:12px; margin-bottom:2%; margin-top:2%;}
.seo2-rrt-txt {width:40%; font-size:12px;}
.seo2-rrt-asm {font-size:11px; color:#505050;}
.seo2-rrt-res {font-size:11px;}
.seo2-rrt-li {padding-left:2%;}

/* NOTE - DO NOT USE UNDERSCORE ( _ ) IN CSS, USE DASH ( - ) INSTEAD */