.dqr-component-container{overflow:hidden;}
.dqr-noPrivs{font:14px Tahoma;padding-left:7px;padding-top:7px;padding-bottom:7px;}
.dqr-topsection{width:100%;margin-top:7px;margin-bottom:5px;font:14px Tahoma;color:black;overflow:hidden;}
.dqr-topsection-label{word-wrap:break-word;float:left;}
.dqr-topsection-label-largerText{font-family:"Tahoma";font-size:14px;font-weight:bold;color:#505050;}
.dqr-topsection-label-smallerText{font-family:"Tahoma";font-size:13px;font-weight:normal;color:black;}
.dqr-topsection-label-time{font-family:"Tahoma";font-size:13px;color:#505050;}
.dqr-topsection-button-div{float:right;}
.dqr-topsection-smartReview-button{padding:1px 2px;}
.dqr-table .closed{display:none;}
.dqr-table{width:100%;}
.dqr-table-title-div{width:100%;margin-bottom:2px;overflow:hidden;}
.dqr-table-title-text{padding-top:3px;font:14px Tahoma;font-weight:bold;color:#505050;float:left;}
.dqr-table-title-controls{font:12px Tahoma;float:right;}
.dqr-table-title-acceptedCheckBox{padding-right:10px;}
.dqr-expand-link-text{font:11px Tahoma;padding-left:10px;color:#337fe5;}
.dqr-table-header-div{background-color:#f6f6f6;border:1px solid #ddd;color:#505050;font:11px Tahoma;padding-top:2px;padding-bottom:2px;overflow:hidden;}
.dqr-table-header-action{float:left;width:40px;padding-left:16px;}
.dqr-table-header-clarification{float:left;}
.dqr-table-contents-div{padding-right:2px;}
.dqr-table-contents-div-scroll{overflow-x:hidden;overflow-y:scroll;padding-right:17px;}
.dqr-table-notificationContainer{width:100%;}
.dqr-table-notificationContainer-notificationText{text-align:center;}
.dqr-table-entryHeader-div{vertical-align:middle;background-color:#b6c9db;border-top:1px solid #dce5ee;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #9babba;padding-top:2px;padding-bottom:2px;width:100%;overflow:hidden;}
.dqr-table-entryHeader-date-div{padding-left:5px;font-weight:bold;float:left;color:#3d3d3d;width:170px;}
.dqr-table-entryHeader-physician-div{padding-top:2px;float:left;margin-left:2%;font:11px Tahoma;color:#000;}
.dqr-table-entryHeader-controls{padding-top:1px;margin-right:2%;float:right;}
.dqr-table-entryContainer-div-border-expanded{margin-right:2px;}
.dqr-table-positionEntry{width:100%;float:left;}
.dqr-table-entryContainer{border-left:1px solid;border-right:1px solid;border-top:1px solid;}
.dqr-table-entryContainer-bottom{border:1px solid;}
.dqr-table-entryContainer-expanded{border-left:2px solid;border-right:2px solid;border-top:2px solid;}
.dqr-table-entryContainer-expanded-bottom{border:2px solid;}
.dqr-orangeBorder{border-color:#ff8c1b;}
.dqr-lightGrayBorder{border-color:#ddd;}
.dqr-darkGrayBorder{border-color:#a0a0a0;}
.dqr-blueBorder{border-color:#568ecb;}
.dqr-emptyTable{font:12px Tahoma;border:1px solid;border-color:#ddd;height:16px;padding-left:50px;}
.dqr-table-entry-div{background-color:#fff;font:12px Tahoma;width:100%;color:#000;overflow:hidden;}
.dqr-table-entryLowConfidence-div{background-color:#f0f0f0;font:12px Tahoma;width:100%;color:#000;overflow:hidden;}
.dqr-table-entryRestrictedPrivs-div{background-color:#FFF8E7;font:12px Tahoma;width:100%;color:#000;overflow:hidden;}
.dqr-table-entry-expand-div{width:24px;float:left;display:table;vertical-align:bottom;}
.dqr-table-entry-action-div{width:30px;float:left;display:table;vertical-align:bottom;padding-top:1px;padding-bottom:3px;}
.dqr-table-entry-clarification-div{float:left;padding-top:2px;padding-bottom:3px;}
.dqr-table-entry-clarification-strikeout-div{float:left;margin-right:6px;padding-top:2px;padding-bottom:3px;text-decoration:line-through;color:#7c7c7c;}
.dqr-table-entry-clarification-clarifiedCondition-div{float:left;margin-left:6px;padding-top:2px;padding-bottom:3px;font-weight:bold;}
.dqr-table-findings-div{width:100%;background-color:#FFF;}
.dqr-table-findingsLowConfidence-div{width:100%;background-color:#f0f0f0;}
.dqr-table-findingsRestrictedPrivs-div{width:100%;background-color:#FFF8E7;}
.dqr-table-findingsContainer-div{margin-bottom:10px;margin-left:45px;margin-right:10px;padding-left:9px;padding-top:5px;padding-bottom:5px;}
.dqr-table-findings-table{margin-top:8px;margin-bottom:12px;}
.dqr-table-findings-condition-column-1{width:45px;}
.dqr-table-findings-condition-column-2{border:1px solid #7c7c7c;padding-left:9px;padding-top:5px;padding-bottom:5px;}
.dqr-table-findings-condition-column-3{width:12px;}
.dqr-table-findings-clarification-name-current-div{color:#238C00;font:14px Tahoma;font-weight:bold;}
.dqr-table-findings-clarification-name-potential-div{color:black;font:14px Tahoma;font-weight:bold;}
.dqr-table-findings-typeContainer{width:100%;padding-top:4px;padding-bottom:4px;}
.dqr-table-findings-typeContainer-typeLabel{color:#505050;font:12px Tahoma;padding-right:5px;}
.dqr-table-findings-typeContainer-typeName{font:12px Tahoma;}
.dqr-table-findings-NoteText-div{width:100%;padding-top:8px;}
.dqr-table-findings-NoteText-label-div{width:100%;color:#505050;font:11px Tahoma;}
.dqr-table-findings-NoteText-details-div{width:100%;font-size:12px;}
.dqr-table-findings-ContributingDoc-div{width:100%;padding-top:4px;padding-bottom:4px;}
.dqr-table-findings-ContributingDoc-label-div{width:100%;color:#505050;font:11px Tahoma;}
.dqr-table-findings-ContributingDoc-details-div{width:100%;font-size:12px;color:#337fe5;}
.dqr-table-findings-ContributingDoc-noDocs-div{font-style:italic;color:#444;}
.dqr-table-findings-noSupportingFindings{font-style:italic;color:#444;}
.dqr-table-findings-SupportingFindings-div{width:100%;padding-top:4px;padding-bottom:4px;}
.dqr-table-findings-SupportingFindings-label-div{width:100%;color:#505050;font:11px Tahoma;}
.dqr-table-findings-SupportingFindings-columnContainer{overflow:hidden;}
.dqr-table-findings-SupportingFindings-column-div{width:115px;padding-right:20px;float:left;}
.dqr-table-findings-SupportingFindings-entry-div{width:100%;font-size:12px;color:#505050;list-style-type:none;}
.dqr-table-findings-SupportingFindings-header-text{color:#505050;font-size:12px;font-weight:bold;}
.dqr-table-action-img{width:16px;height:16px;}
.dqr-table-expand-img-hidden{width:16px;height:16px;visibility:hidden;}
.dqr-table-expand-img-expanded{width:16px;height:16px;background:transparent url(../images/5323_expanded_16.png);background-position:center;}
.dqr-table-expand-img-collapsed{width:16px;height:16px;background:transparent url(../images/5323_collapsed_16.png);background-position:center;}
.dqr-hidden{display:none;}
.dqr-hvr{background:#FFF;padding:0 5px;z-index:1;margin:-1px 10px 10px 5px;line-height:2em;word-wrap:break-word;}
.dqr-hvr.hover{position:absolute;display:none;z-index:1000;background-color:#FFC;border:1px solid #000;}
.dqr-processing{color:#505050;font:normal 11px Tahoma,sans-serif;padding-left:6px;text-decoration:none;}
.dqr-hide{display:none;}
.dqr-busy,.dqr-busy *{cursor:wait!important;}
.dqr-noAction{background:url(../images/sprite_green.png) no-repeat -273px 0;height:16px;width:16px;display:inline-block;}
.dqr-acceptedReviewed{background:url(../images/sprite_green.png) no-repeat -239px 0;height:16px;width:16px;display:inline-block;}
.dqr-lowConfidence{background:url(../images/sprite_green.png) no-repeat -200px 0;height:16px;width:16px;display:inline-block;}
.dqr-skipped{background:url(../images/sprite_green.png) no-repeat -257px 0;height:16px;width:16px;display:inline-block;}
.dqr-noPrivs{background:url(../images/sprite_green.png) no-repeat -222px 0;height:16px;width:10px;display:inline-block;}
.dqr-doesNotApply{background:url(../images/sprite_green.png) no-repeat -386px -1px;height:16px;width:16px;display:inline-block;}