/* Column Definitions */ 
.table-cell.soc-o1-name {width: 35%;margin-left:1%;display:inline-block;}
.table-cell.soc-o1-result {width: 40%;margin-left:1%;display:inline-block;}
.table-cell.soc-o1-date {width: 22%;margin-left:1%;display:inline-block;color:#999;}
.soc-o1-result-table .result-info{border-bottom: 1px solid #EDEDED;}