.sh2-info{clear:both;zoom:1;overflow-x:hidden;overflow-y:auto;word-wrap:break-word}
.sh2-info dt{display:none}
.sh2-table{table-layout:fixed}
.sh2-hdr,.sh2-left-hdr{border-right:1px solid #cdcdcd;padding:7px 0 4px 7px;font-size:11px;color:#808080}
.sh2-cell-1{border-right:1px solid #cdcdcd;padding:4px 0 4px 7px;word-wrap:break-word;font:12px tahoma;width:15%}
.sh2-cell-2{padding:4px 0 4px 7px;word-wrap:break-word;font:12px tahoma;color:#004666}
.sh2-detail-lbl{font:12px tahoma;color:#505050}
.sh2-detail{font:12px tahoma;color:#000;padding-right:20px}
.sh2-det{padding:6px}
.sh2-inner{width:400px;height:auto;float:left;word-wrap:break-word;padding-top:5px;background-color:#FFC}
.sh2-divider{position:absolute;left:50%;top:8px;bottom:8px;border-left:1px solid #787878}
.sh2-outer-div{background-color:#f6f6f6;border:1px solid #cdcdcd}
.sh2-inner-div-shifted{margin-right:18px}
.wf .sh2-sec .content-body{border:1px solid #cdcdcd}
.sh2-left-fixed-header{padding:7px 0 4px 7px;font-size:11px;color:#808080;width:15%}
.sh2-right-fixed-header{border-left:1px solid #cdcdcd;padding:7px 0 4px 7px;font-size:11px;color:#808080}