.tal-datatable{width:100%;border:0;table-layout:fixed;}
.tal-datatable td{width:50%;padding-left:5px;padding-right:5px;font-size:9px;font-weight:normal;text-align:left;word-wrap:normal;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.tal-datatable tr{border-bottom:1px solid #A7A7A7;}
.tal-tableheader{width:100%;border:0;}
.tal-tableheader th{width:50%;padding-left:5px;padding-right:5px;color:#6A737B;font-weight:bold;}
.tal-linktext{color:#3380E5;}
.tal-lookback{font-size:9px;font-weight:bold;padding-left:5px;padding-right:5px;text-align:left;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}
.brown .tal-tableheader th{background:none repeat scroll 0 0 #D8CCB8;color:#4C413E;}
.cernerblue .tal-tableheader th{background:none repeat scroll 0 0 #CAE7F8;color:#4C413E;}
.darkgreen .tal-tableheader th{background:none repeat scroll 0 0 #DCEBE0;color:#4C413E;}
.green .tal-tableheader th{background:none repeat scroll 0 0 #F4F8F0;color:#4C413E;}
.gray .tal-tableheader th{background:none repeat scroll 0 0 #DBDBDB;color:#0F0F0F;}
.lightblue .tal-tableheader th{background:none repeat scroll 0 0 #EBF0F7;color:#4C413E;}
.lightgray .tal-tableheader th{background:none repeat scroll 0 0 #DBDBDB;color:#0F0F0F;}
.lowlight .tal-tableheader th{background:none repeat scroll 0 0 #D8CCB8;color:#4C413E;}
.navy .tal-tableheader th{background:none repeat scroll 0 0 #C0D5DC;color:#4C413E;}
.orange .tal-tableheader th{background:none repeat scroll 0 0 #FFE1CB;color:#4C413E;}
.pink .tal-tableheader th{background:none repeat scroll 0 0 #FFEDED;color:#4C413E;}
.purple .tal-tableheader th{background:none repeat scroll 0 0 #F2EBF4;color:#4C413E;}
.yellow .tal-tableheader th{background:none repeat scroll 0 0 #FEF7D7;color:#4C413E;}