.tri-o2-res-none{padding:4px 0px 4px 10px;color:#A0A0A0;display:block;}
.tri-o2-time-interval{float:right;font-size:12px;color:#505050;padding-right:10px;}
.tri-o2-hdr{background-color:#F6F6F6;border:1px solid #DDD;margin:0px 0px 12px 0px; width:99%;display:inline-block;}
.tri-o2-hdr-coll{display: inline-block;padding: 12px 0 12px 16px;vertical-align: top;width:70%;}
.tri-o2-hdr-colr{ float:right; display: inline-block;padding: 12px 8px 12px 0;vertical-align: top;width:27%;}
.tri-o2-acuity-scale-1{background: url("../images/Sprites/triage_wf.png") no-repeat -5px -5px;width: 16px;height: 16px;text-align:center;display:inline-block;margin-right:6px;vertical-align:middle;}
.tri-o2-acuity-scale-2{background: url("../images/Sprites/triage_wf.png") no-repeat -25px -5px;width: 16px;height: 16px;text-align:center;display:inline-block;margin-right:6px;vertical-align:middle;}
.tri-o2-acuity-scale-3{background: url("../images/Sprites/triage_wf.png") no-repeat -45px -5px;width: 16px;height: 16px;text-align:center;display:inline-block;margin-right:6px;vertical-align:middle;}
.tri-o2-acuity-scale-4{background: url("../images/Sprites/triage_wf.png") no-repeat -65px -5px;width: 16px;height: 16px;text-align:center;display:inline-block;margin-right:6px;vertical-align:middle;}
.tri-o2-acuity-scale-5{background: url("../images/Sprites/triage_wf.png") no-repeat -85px -5px;width: 16px;height: 16px;text-align:center;display:inline-block;margin-right:6px;vertical-align:middle;}
.tri-o2-visit{color: #797979;display: inline-block;font-size: 16px;font-weight: bold;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 90%;vertical-align:middle;}
.tri-o2-visit-reason{color:#000;}
.tri-o2-visit-prev{font-size:16px;}
.tri-o2-acv,.tri-o2-palert{display:inline-block;width:100%;padding-bottom:10px;}
.tri-o2-care-note-val,.tri-o2-pre-val{display: inline-block; padding-right: 10px; white-space: nowrap; width: 34%;overflow: hidden;text-overflow: ellipsis;}
.tri-o2-chief-comp{display:inline-block;width:460px;font-size:12px;color:#000;word-wrap:break-word;}
.tri-o2-care-note-img{background: url("../images/Sprites/triage_wf.png") no-repeat -125px -5px;width: 16px;height: 16px;display:inline-block;margin-right:6px;}
.tri-o2-pre-img{background: url("../images/Sprites/triage_wf.png") no-repeat -145px -5px;width: 16px;height: 16px;display:inline-block;margin-right:6px;}
.tri-o2-prob-img{background: url("../images/Sprites/triage_wf.png") no-repeat -105px -5px; width:16px;height:16px;display:inline-block;margin-right:6px;}
.tri-o2-prob-val{display:inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:80%;color:#505050;}
.tri-o2-note-div{display: inline-block; width: 100%;}
.tri-o2-vitals{margin:8px 0px 12px 0px;width:99%;}
.tri-o2-table{ border-collapse: separate;border-spacing: 0;}
.tri-o2-tbody td {border-bottom: 1px solid #DDD;border-right: 1px solid #DDD;padding:6px 16px;vertical-align: middle;text-align:center;color:#999;width:158px;}
.tri-o2-tbody td:first-child{border-left: 1px solid #DDD;}
.tri-o2-tbody td:last-child{border-right: 1px solid #DDD;}
.tri-o2-tbody tr:first-child td{border-top: 1px solid #DDD;}
.tri-o2-section{ text-align: justify; width:99%;margin:0px 0px 12px 0px;}
.tri-o2-left,.tri-o2-center{width:31.6%;display:inline-block;vertical-align: top;  margin: 0 2.55% 0 0;}
.tri-o2-right{width:31.6%;display:inline-block;vertical-align: top;}
.tri-o2-tbody td div{padding-top:4px;}
.tri-o2-sec-hdr{background-color:#F6F6F6;display:block;border-bottom:1px solid #CDCDCD;padding:2px 0px 2px 10px;color:#000;font-size:12px;;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.tri-o2-name {color: #505050;display: inline-block;float: left;font-size: 12px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:78%;}
.tri-o2-result{zoom:1;height:22px; display: inline-block; width: 100%;}
.tri-o2-result dt {display: inline-block;float: left;padding: 2px 0 2px 10px;width: 48%;}
.tri-o2-colon{display: inline-block;width: 1%;}
.tri-o2-spl-sec-result{zoom:1;clear:both;overflow:hidden;word-wrap:break-word;}
.tri-o2-val {display: inline-block;float: left;font-size: 12px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 40%;}
.tri-o2-vitals-title{color:#797979;font-size:12px;padding-top:4px;}
.tri-o2-visual-align{text-align:center;}
.tri-o2-vitals-left{word-wrap:normal;}
.tri-o2-vitals-right{text-align:right;font-size:12px;color:#797979;}
.tri-o2-vitals-lvalue{color:#505050;font-size:16px;text-align:left;word-wrap:normal;}
.tri-o2-high{background: url("../images/Sprites/triage_wf.png") no-repeat -185px -5px; width:16px;height:16px;display:inline-block;margin-right:4px;}
.tri-o2-high-res{color:#FF8013;font-size:16px;}
.tri-o2-severe{background: url("../images/Sprites/triage_wf.png") no-repeat -165px -5px; width:16px;height:16px;display:inline-block;margin-right:4px;}
.tri-o2-severe-res{color:#E50D34; font-size:16px;font-weight:bold;}
.tri-o2-low{background: url("../images/Sprites/triage_wf.png") no-repeat -205px -5px; width:16px;height:16px;display:inline-block;margin-right:4px;}
.tri-o2-low-res{color:#0054E7;font-size:16px;}
.tri-o2-normal-res{color:#505050;font-size:16px;}
.tri-o2-unit{padding-left:5px;font-size:11px;color:#797979;}
.tri-o2-time{padding-left:5px;font-size:11px;color:#505050;text-align:center;}
.tri-o2-sec-separator{padding-bottom:18px;}
.tri-o2-res-name{color: #505050;display: inline-block;float: left;font-size: 12px;margin-bottom: 2px;overflow: hidden;text-align: left;text-overflow: ellipsis;white-space: nowrap;
width: 95%;}
.tri-o2-res-val{padding:0px 0px 0px 8%;font-size:12px;display: inline-block;width: 90%;}

.tri-o2-adv-separator{border-bottom:solid 1px #ddd;padding:8px 0 8px 0;height:200px;overflow-y:auto;}
.tri-o2-q-hover{font-size:12px;cursor:pointer;}
.tri-o2-partition {color:#505050;font-size:12px;border-left:1px solid #CDCDCD;margin-right:-12px;padding-left:13px;}
.tri-o2-q-filter{z-index:1;margin-top:-44px;display:none;background:none repeat scroll 0 0 #FFF;border:2px solid #688ECD;position:absolute;width:300px;border-radius:5px 0 5px 5px;}
.tri-o2-all-fil{padding:0 8px 0 8px;word-wrap:break-word;}
.tri-o2-all-fil:hover {background-color: #DDE8F5;cursor:pointer;}
.tri-o2-q-filter-hover{border:1px dashed #688ECD;}
.tri-o2-q-hover > .wrkflw-selectArrow{float:none;margin-left:3px;}
.tri-o2-visible{display:block;}
.tri-o2-order-items {white-space:nowrap;word-wrap: break-word;}
.tri-o2-order-list {display: inline-block;max-height: 31em;overflow: auto;width: 100%;}
