.vent-info{clear:both;zoom:1;overflow:hidden;padding:0 1%;border-bottom:1px solid #ededed;word-wrap:break-word}
.vent-info dt,.vent-info dd{float:left;display:inline-block}
.vent-info dt{width:53%;margin-right:1%}
.vent-info dd{width:20%;margin-left:1%;margin-right:1%}
.vent-hd{background:#e8eff9;border-bottom:1px solid #adcc92;padding:0 1%}
.vent-sh-name{margin-left:.5em}
.vent-info a,.vent-info a:link,{text-decoration:none;cursor:pointer;color:#000}
.vent-info a:active,.vent-info a:hover{text-decoration:underline}