.vis2-dt-hd, .vis2-type-hd, .vis2-end-dt-hd {
    width: 10%;
}

.vis2-hi-vistype-hd {
    width: 20%;
}

.vis2-loc-hd, .vis2-hi-faclty-hd {
    width: 30%;
}

.vis2-sp-hide-col .vis2-loc-hd {
    display: none;
}

.vis2-desc-hd {
    width: 40%;
}

.vis2-sp-hide-col .vis2-desc-hd {
    display: none;
}

.vis2-sp-hide-col .vis2-hi-vistype-hd, .vis2-sp-hide-col .vis2-hi-faclty-hd {
    width: 35%;
}

.vis2-sp-hide-col .vis2-end-dt-hd {
    width: 30%;
}

.vis2-sp-hide-col .vis2-dt-hd, .vis2-sp-hide-col .vis2-type-hd {
    width: 50%;
}

.vis2-table-padding {
    padding-top: 15px;
    height: 50%;
}

.vis2-tables-expanded {
    width: 100%;
    display: inline-block;
}

.vis2-tables-collapsed {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.vis2-side-panel-closed {
    display: inline-block;
}

.vis2-side-panel-open-without-hi {
    display: inline-block;
    width: 40%;
    position: absolute;
    padding-left: 10px;
    vertical-align: top;
    padding-top: 10px;
    z-index: 100;
    box-sizing: border-box;
}

.vis2-side-panel-open-with-hi {
    display: inline-block;
    width: 40%;
    position: absolute;
    padding-left: 10px;
    vertical-align: top;
    z-index: 100;
    box-sizing: border-box;
}

.vis2-table-hide-col {
    display: none;
}

.vis2-sp-item {
    padding-bottom: 10px;
}

.vis2-sp-source-hd {
    padding-bottom: 15px;
    padding-top: 10px;
}

.vis2-row-selected {
    background-color: #568ECB;
    color: #FFF;
}

.vis2-rp-main-separator {
    border-bottom: 1px solid #FFF;
    height: 10px;
    margin-bottom: 12px;
    overflow: visible;
}

.vis2-expand-content {
    cursor: pointer;
}

.vis2-rp-refdet-content {
    vertical-align: middle;
    overflow: hidden;
    padding: 14px 0 0 0;
}

.vis2-toggle {
    float: left;
    display: inline-block;
    height: 12px;
    width: 12px;
    background: url("../images/5323_expanded_16.png") no-repeat right;
    padding-top: 5px;
}

.closed .vis2-toggle {
    background: url("../images/5323_collapsed_16.png") no-repeat right;
}

.vis2-rp-refDet {
    padding: 0 0 20px 0;
}

.vis2-sp-field {
    padding-left: 15px;
}

.closed .vis2-sp-container {
    display: none;
}

.vis2-sp-container {
    padding: 10px 0 10px 15px;
}

.vis2-sidepanel-container {
    display: inline-block;
    padding-left: 10px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    padding-top: 10px;
}

.vis2-main-container {
    width: auto;
    overflow: hidden;
}

.vis2-tables-and-sp {
    width: 100%;
}

.vis2-hi-ext-btn-right {
    font-weight: normal;
    float: right;
}

.vis2-hi-ext-btn-inv {
    visibility: hidden;
    font-weight: normal;
    position: relative;
}

/*Styles for Visits HI Data */
.vis2-hi-data-icon {
    display: inline-block;
    height: 22px;
    width: 22px;
    background: url("../images/6965.png") no-repeat;
    background-size: 22px 22px;
}

.vis2-hi-data-label {
    padding-left: 0.2%
}

.vis2-hi-data-button {
    background-color: #EADDEF;
    color: #3E3E3E;
}

.vis2-hi-data-view {
    float: right;
    padding-right: 1%;
    font-weight: normal;
}

.vis2-hi-data-banner-color {
    background-color: #EADDEF;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 10px solid #FFF;
}

.vis2-hi-data-banner-nocolor {
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 5px solid #FFF;
}

.vis2-hi-resfrvis-hd {
    width: 25%
}

.vis2-sp-hide-col .vis2-hi-resfrvis-hd {
    display: none;
}

.vis2-hi-prov-hd {
    width:: 15%
}

.vis2-sp-hide-col .vis2-hi-prov-hd {
    display: none;
}

.vis2-hi-data-table {
    height: 50%;
}

.vis2-hi-data-pager {
    border: 1px solid #DDD;
    height: 20px;
}

.vis2-hi-data-table-pager {
    position: relative;
    padding-bottom: 10px;
}

