.filter-cont-events{display:inline;margin-left:6px;}
h3.sub-sec{display:inline;}
.iam-settings{padding-right:10px;text-align:right;}
.commentcomponent p.ordcomment{background-color:white;border-bottom:1px solid #666;padding:.8em 0;}
.commentcomponent .ordcommenttitle{font-weight:bold;}
.orderlist-info{line-height:1.5em;clear:both;zoom:1;overflow-x:hidden;overflow-y:auto;padding:0 .2em;border-bottom:.1em solid #E8EFF9;word-wrap:break-word;}
.orderlist-info-hd,.orderlist-info dt,.orderlist-det-hd{position:absolute;visibility:hidden;}
.orderlist-name{width:48%;float:left;display:inline-block;padding-right:.5em;}
.orderlist-reac{width:48%;float:left;display:inline-block;padding-left:.5em;}
.orderlist-menu{padding-right:10px;text-align:right;}
.pat-det-gender,.pat-det-age,.pat-det-dob,.pat-det-mrn,.pat-det-fin,.pat-det-phys,.pat-det-loc{color:#000;font-size:1.2em;padding-right:1.5em;}
.persondemogwidget h6{display:inline;color:#000080;font-size:.8em;}
.prevresultswidget .btnMoreText{display:none;}
.qccontrol{width:50%;}
.qcinq-rejected{color:red;}
.qcinq-discarded{color:blue;}
.clinvalsum-table th{text-align:center;}
.clinvalsum-table td,.clinvalsum-table th{background-color:white;border-color:black;border-style:solid;border-width:1px;padding:1px;}
}
.clinvalsum-table{width:100%;}
.clinvalsum-qlist ul li{background-color:white;}
.clinvalsum-qlist .summarylineSelected{background-color:#aaf;}
td.tat-status{text-align:center;background:#fff;}
td.tat-accn{background-color:white;}
tr.tat-ontime{background-color:white;}
tr.tat-warning{background-color:yellow;}
tr.tat-alert{background-color:#FF6347;}
object.webobject{height:300px;width:100%;overflow:scroll;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;vertical-align:baseline;}
:focus{outline:0;}
body{color:#000;background:#FFF;font:normal 13px/1.5em Tahoma,sans-serif;text-align:left;width:100%;}
ol,ul{list-style:none;text-align:left;}
table{border-collapse:separate;border-spacing:0;font:normal 13px Tahoma,sans-serif;}
caption{display:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
script{display:none;}
input{padding:0;margin:0;}
a,a:active,a:link,a:hover{text-decoration:underline;cursor:pointer;color:#3380E5;}
a:visited{background:none;}
a:focus{border:1px dotted #505050;}
hr{display:none;}
table{font-size:100%;width:100%;border-collapse:collapse;}
td{font:13px/1.5em Tahoma,sans-serif;word-wrap:break-word;vertical-align:top;}
th{font:12px/1.2em Tahoma,sans-serif;word-wrap:break-word;vertical-align:bottom;text-align:left;color:#505050;}
.even{background:#F5F7FB;}
.odd{background:#FFF;}
.res-severe,.res-severe a{color:#E50D34;font-weight:bold;}
.res-high{color:#FF8013;font-weight:bold;}
.res-low{color:#0054E7;font-weight:bold;}
.res-none{display:block;padding-left:1em;zoom:1;}
.res-none-hd,.info-hd,.det-hd{display:none;}
.res-low-icon{background-image:url(../Images/6303_11.gif);background-repeat:no-repeat;text-align:center;background-position:center;}
.res-high-icon{background-image:url(../Images/6302_11.gif);background-repeat:no-repeat;text-align:center;background-position:center;}
.res-severe-icon{background-image:url(../Images/5278_11.gif);background-repeat:no-repeat;text-align:center;background-position:center;}
.unit,.within{font-size:11px;color:#505050;}
.date-time{color:#666;}
.code{font-size:9px;color:#999;}
.row-label{color:#666;}
.detail-line{color:#7C7C7C;}
.hdr{color:#505050;font-size:12px;line-height:1.3em;background:#E8EFF9;vertical-align:bottom;}
.content-hdr{background:#E8EFF9;}
.hdr-scroll{margin-right:15px;}
.sub-title-disp{color:#666;font:normal 12px/1.2em Tahoma,sans-serif;padding-left:4px;background:#E8EFF9;border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;}
.hidden{display:none;}
.important-icon{background:url(../Images/4015_16.gif) no-repeat center;width:16px;height:16px;display:inline-block;margin-right:2px;}
.favHidden{display:none;}
.form-menu{position:absolute;border:1px solid #000;background-color:#FFF;padding:5px;z-index:2000;right:1px;top:20px;width:75%;}
.menu-hide{display:none;}
.section{position:relative;zoom:1;background:none;margin:0 0 10px 0;font:normal 13px Tahoma,sans-serif;}
.sec-hd-tgl{float:right;text-align:center;width:1em;font-size:25px;cursor:pointer;font-weight:normal;}
.sec-hd{font:normal 14px/1.3em Tahoma,sans-serif;display:block;background:url(../images/crnr-left.png) no-repeat 0 0;border-right:1px solid #ADCC92;}
.sec-hd,.sec-hd a{color:#003C74;font-weight:bold;text-decoration:none;}
.sec-hd a:hover{text-decoration:underline;cursor:pointer;color:#3380E5;}
.sec-title{display:inline-block;padding-left:4px;}
.sec-total{color:#505050;font:normal 11px Tahoma,sans-serif;padding-left:6px;text-decoration:none;}
.sec-content{font:normal 13px/1.5em Tahoma,sans-serif;border:1px solid #ADCC92;}
.sub-sec{zoom:1;}
.closed .sec-content,.closed .sub-sec-content,.closed .sub-title-disp{visibility:hidden;position:absolute;}
.closed .sec-hd{display:block;margin:0;border-bottom:2px ridge #E0FFFF;}
.sub-sec-hd{font:normal 12px Tahoma,sans-serif;color:#505050;background:#F3F8EE;padding-left:2px;border-top:1px solid #ADCC92;border-bottom:1px solid #ADCC92;}
.sub-sec-hd-tgl{float:right;text-align:center;width:1em;cursor:pointer;font-weight:normal;}
.add-plus{cursor:pointer;font-weight:normal;font-size:12px;display:inline;}
.add-plus img{vertical-align:middle;}
a.add-plus{font-weight:normal;text-decoration:none;padding-left:4px;}
.add-icon{background:url(../Images/3941.gif) no-repeat center;width:16px;height:16px;display:inline-block;margin-right:2px;}
.pg-hd{padding:2px 0;margin:0 0 1px 5px;color:#003C74;border-bottom:1px solid #E7E7E7;text-align:right;line-height:1.5em;display:block;zoom:1;}
.pg-title{font-weight:bold;display:inline;font-size:16px;float:left;}
.page-ctrl{margin-right:20px;vertical-align:middle;}
#expAll,#custView,#savePrefs,#clearPrefs,#otherAnchors{padding-left:5px;padding-right:5px;}
#banner,#disclaimer{margin-left:5px;}
#disclaimer{margin-bottom:1em;font:normal 10px Tahoma,sans-serif;text-align:left;clear:left;}
.col-group{position:relative;clear:both;float:left;width:100%;background:#FFF;}
.col-outer1,.col-outer2{float:left;width:100%;position:relative;}
.col1,.col2,.col3{float:left;position:relative;padding:0 0 3px 0;overflow-x:hidden;}
.pref-columns .col1,.pref-columns .col2,.pref-columns .col3{float:left;position:static;padding:0 .3% 3px 0;overflow-x:hidden;}
.pref-columns .col-group{padding:0 0 0 2%;}
.three-col .col-outer2{right:34%;}
.three-col .col-outer1{left:33%;}
.three-col .col1{width:32.65%;left:1.25%;}
.three-col .col2{width:33.65%;left:1.5%;}
.three-col .col3{width:32.65%;left:1.75%;}
.two-col .col-outer1{right:50%;}
.two-col .col1{width:49.3%;left:50.5%;}
.two-col .col2{width:49.3%;left:51%;}
.one-col .col1{width:99%;left:.5%;}
.ui-sortable-placeholder{border:1px dotted black;visibility:visible!important;height:50px!important;}
.ui-sortable-placeholder *{visibility:hidden;}
div.suggestions{-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid black;background:white;font-size:.85em;}
div.suggestions div{cursor:default;padding:0 3px;}
div.suggestions div.current{background-color:#36c;color:white;}
.highlight{font-weight:bold;}
.current .det-txt{color:#EFEFEF;}
.det-txt{color:#666;font-size:7pt;font-weight:normal;padding-left:5px;}
.explTxt{font-style:italic;}
.search-box{zoom:1;background-image:url(../images/magnifying-glass.gif);background-repeat:no-repeat;width:91%;padding-left:20px;font-size:.85em;}
.search-box-div{zoom:1;border-bottom:2px solid #ADCC92;padding:2px 0;}
.hvr{background:#FFF;padding:0 5px;z-index:1;margin:-1px 10px 10px 5px;width:400px;line-height:2em;word-wrap:break-word;}
.hvr.hover{position:absolute;display:none;z-index:1000;background-color:#FFC;border:1px solid #000;}
.hvr dt{clear:left;color:#505050;}
.hvr dt span{float:left;margin-left:5px;}
.hvr dd{float:left;display:inline;margin:0 5px;overflow-x:hidden;}
.hvr table{margin:3px 0;}
.cmp-doc{height:16px;width:16px;display:inline-block;}
.has-icon .cmp-doc{background-image:url(../images/3729_16.png);background-repeat:no-repeat;}
#confirmDialog{position:fixed;display:none;z-index:9951;padding:10px 10px 30px 10px;border:solid #ceceff 2px;background-color:#efefef;_position:absolute;}
#confirmDialog .plainText{overflow:auto;height:400px;}
#confirmDialog .plainText input,#confirmDialog .question input{float:right;}
#confirmDialog h4{font:bold 14px / 20px Tahoma;}
.data-main-table-container{position:relative;}
.data-table-container{position:relative;overflow-x:scroll;overflow-y:hidden;overflow-x:scroll\9;overflow-y:scroll\9;*overflow:auto;height:200px\9;}
.data-table{margin:auto;width:99%;background-color:#F7F7F7;_width:auto;}
.data-table td,.data-table th{padding:0 12px 0 2px;white-space:nowrap;}
.data-evenrow{background-color:#EFEFEF;}
.data-oddrow{background-color:#fff;}
.data-row-hover{background-color:#b6d1fa;}
.data-table-control{position:relative\9;height:20px;background-color:#cdcdcd;top:expression(this.offsetParent.scrollTop);}
.fillme{background-color:#cdcdcd;}
.data-table-control input{font:normal 11px Tahoma;}
.data-table-control li{float:left;padding:0 0 0 15px;}
.data-table thead tr{*position:absolute;top:expression(this.offsetParent.scrollTop+20);cursor:pointer;background-color:#cdcdcd;margin-right:50px;}
.data-table thead th{font:normal 11px Tahoma;}
.data-table tbody{margin-top:50px;height:200px;overflow-y:scroll;overflow-x:hidden;overflow-y:scroll\9;overflow-x:hidden\9;max-height:none\9;height:200px\9;*overflow:auto;*height:auto;}
.data-table tbody tr:first-child td{*padding-top:18px;}
.data-table td.firstChild{_padding-top:18px;}
.rowSelected,.rowSelectedMajor{background:#aaf;}
.data-table-noctrl{margin:auto;width:100%;}
.data-table-noctrl td,.data-table-noctrl th{padding-right:12px;white-space:nowrap;}
.data-table-noctrl thead tr{background-color:#cdcdcd;}
.data-table-noctrl thead th{font:normal 11px Tahoma;}
th.headerSortUp{background:url(../images/lab/asc.gif) #c0c0c0 no-repeat center right;}
th.headerSortDown{background:url(../images/lab/desc.gif) #c0c0c0 no-repeat center right;}
.hvr{position:absolute;display:none;z-index:1000;background-color:#FFC;border:1px solid #000;}
.closed .sec-content *,.closed .sub-sec-content,.closed .sub-title-disp{visibility:hidden;position:absolute;}
#banner{margin-bottom:1em;margin-left:5px;}
.col1,.col2,.col3{float:left;position:relative;padding:0 0 3px 0;}
#PAGE_TAB_01{display:block;}
#PAGE_TAB_02{display:none;}
#PAGE_TAB_03{display:none;}
#PAGE_TAB_04{display:none;}
.tabmenu{margin-left:.75em;margin-bottom:.1em;border-bottom:1px 000 solid;}
.tabmenu li{display:inline;overflow:hidden;list-style-type:none;margin-bottom:1em;}
.tabmenu a.active{background-image:url(../images/tab_active.gif);background-size:110% 100%;background-repeat:no-repeat;height:1em;}
.tabmenu a.active:link{color:#003C74;font:bold 14px Tahoma;padding:2px 2px 0 2px;text-decoration:none;}
.tabmenu a.active:visited{color:#003C74;font:bold 14px Tahoma;padding:2px 2px 0 2px;text-decoration:none;}
.tabmenu a.active:active{color:#003C74;font:bold 14px Tahoma;padding:2px 2px 0 2px;text-decoration:none;}
.tabmenu a.active:hover{color:#003C74;font:bold 14px Tahoma;padding:2px 2px 0 2px;text-decoration:none;}
.tabmenu a.inactive{background-image:url(../images/tab_inactive.gif);background-size:100% 100%;background-repeat:no-repeat;height:1em;}
.tabmenu a.inactive:link{color:#B3B3B3;font:14px Tahoma;padding:2px 12px 0 2px;text-decoration:none;}
.tabmenu a.inactive:visited{color:#B3B3B3;font:14px Tahoma;padding:2px 12px 0 2px;text-decoration:none;}
.tabmenu a.inactive:active{color:#B3B3B3;font:14px Tahoma;padding:2px 12px 0 2px;text-decoration:none;}
.tabmenu a.inactive:hover{color:#B3B3B3;font:14px Tahoma;padding:2px 12px 0 2px;text-decoration:none;}
.content{font:14px/1.3em Tahoma,Helvetica,sans-serif;padding:5px;width:100%;border-top:none;z-index:2;}
.content a{text-decoration:underline;color:#DEDECF;}
.content a:hover{color:#3380E5;}
.rightElement{text-align:right;}
#custView{display:none;}
.sec-content{background:#f0f0f0;}
img.calendar{background:transparent url(../images/lab/cal.gif);width:16px;height:16px;}
img.status-ok{background:transparent url(../images/lab/4021_16.png) no-repeat bottom;width:16px;height:16px;}
img.status-alert{background:transparent url(../images/lab/4016_16.gif) no-repeat bottom;width:16px;height:16px;}
img.status-warn{background:transparent url(../images/lab/4017_16.png) no-repeat bottom;width:16px;height:16px;}
img.comment{background:transparent url(../images/lab/4972_16.png) no-repeat bottom;width:16px;height:16px;}
th.comment,td.comment{text-align:center;}
.result-critical{color:red;}
.btnMoreText{border:solid 1px #ceceff;background-color:#FFF;color:#000;margin-left:10px;text-align:center;font:normal 11px Tahoma;}
a.accn-link,a.accn-link link,a.accn-link visited,a.accn-link active,a.accn-link span{color:#003C74;text-align:left;padding-left:2px;}
.hidden{display:none;}
.filterSpacer{display:none;*display:inline;}
#confirmDialog{position:absolute;left:0;top:0;display:none;z-index:9951;padding:10px 10px 30px 10px;border:solid #ceceff 2px;background-color:#efefef;}
#confirmDialog .plainText{overflow:auto;height:400px;}
#confirmDialog .plainText input,#confirmDialog .question input{float:right;}
#confirmDialog h4{font:bold 14px/20px Tahoma;}
#srbox a{color:#333;text-decoration:none;}
#srbox a:hover{color:#400080;text-decoration:none;}
#srbox{height:400px;overflow:auto;border:2px solid #3d4569;position:relative;background:#fff;}
#mask{position:absolute;left:0;top:0;z-index:9000;background-color:#fff;display:none;}
.window{position:absolute;left:0;top:0;width:400px;height:550px;display:none;z-index:9950;padding:10px 10px 30px 10px;border:solid #ceceff 2px;}
#srdialog{width:500px;height:450px;background-color:#efefef;}
.window h4{font:bold 14px/20px Tahoma;}
.close_label{float:right;background:url(../images/lab/closelabel.png) #f7f8fb no-repeat right;border:2px solid #FFF;margin-top:5px;}
.close_label a{padding-right:25px;color:#003C74;text-align:center;padding-left:2px;text-decoration:none;font:bold 14px/20px Tahoma;}
.atreecontrol ul li{float:left;color:#003C74;font:bold 14px/20px Tahoma;}
.atreecontrol ul li,.atreecontrol ul li a,.atreecontrol ul li a link,.atreecontrol ul li a visited,.atreecontrol ul li a active,.atreecontrol ul li a span{color:#003C74;text-decoration:none;}
.atreecontrol{height:25px;}
#tv-plus{margin-left:15px;}
.srSearch{display:inline;float:right;text-align:center;padding-left:25px;}
#navtoolbar li{float:left;padding-left:25px;}
#curSRText{margin-right:25px;margin-bottom:0;padding-bottom:0;}
li.summaryMenu ul{display:none;}
li.summaryMenu:hover ul{display:block;}
#appMenu li{float:none;}
#appMenu{width:300px;border:1px solid black;font:normal 12px Verdana;z-index:9999;background:#DEFFCA;}
#appMenu a{width:100%;display:block;text-indent:3px;padding:1px 0;text-decoration:none;font-weight:bold;text-indent:5px;}
#appMenu a:hover{background:black;color:white;}
#appMenu li{padding-bottom:3px;}
.data-main-table-container{position:relative;}
.data-table-container{position:relative;overflow-x:scroll;overflow-y:hidden;overflow-x:scroll\9;overflow-y:scroll\9;*overflow:auto;height:200px\9;}
.data-table{margin:auto;width:99%;background-color:#F7F7F7;_width:auto;}
.data-table td,.data-table th{padding:0 12px 0 2px;white-space:nowrap;}
.data-evenrow{background-color:#EFEFEF;}
.data-oddrow{background-color:#fff;}
.data-row-hover{background-color:#b6d1fa;}
.data-table-control{position:relative\9;height:20px;background-color:#cdcdcd;top:expression(this.offsetParent.scrollTop);}
.fillme{background-color:#cdcdcd;}
.data-table-control input{font:normal 11px Tahoma;}
.data-table-control li{float:left;padding:0 0 0 15px;}
.data-table thead tr{*position:absolute;top:expression(this.offsetParent.scrollTop+20);cursor:pointer;background-color:#cdcdcd;margin-right:50px;}
.data-table thead th{font:normal 11px Tahoma;}
.data-table tbody{margin-top:50px;height:200px;overflow-y:scroll;overflow-x:hidden;overflow-y:scroll\9;overflow-x:hidden\9;max-height:none\9;height:200px\9;*overflow:auto;*height:auto;}
.data-table tbody tr:first-child td{*padding-top:18px;}
.data-table td.firstChild{_padding-top:18px;}
.rowSelected,.rowSelectedMajor{background:#aaf;}
.data-table-noctrl{margin:auto;width:100%;}
.data-table-noctrl td,.data-table-noctrl th{padding-right:12px;white-space:nowrap;}
.data-table-noctrl thead tr{background-color:#cdcdcd;}
.data-table-noctrl thead th{font:normal 11px Tahoma;}
th.headerSortUp{background:url(../images/lab/asc.gif) #c0c0c0 no-repeat center right;}
th.headerSortDown{background:url(../images/lab/desc.gif) #c0c0c0 no-repeat center right;}
.hvr{position:absolute;display:none;z-index:1000;background-color:#FFC;border:1px solid #000;}
.comp-editbox{background:#ffffb0;display:none;}
.comp-editbox li.item{padding:10px 0;overflow:hidden;}
.comp-editbox ul{list-style-type:none;}
.comp-editbox label{color:#000;float:left;padding:0 0 0 5px;width:10%;}
.comp-editbox{font:normal 12px Tahoma;border:2px solid #ADCC92;}
.comp-editbox input{font:normal 12px Tahoma;}
.closed .sec-content *,.closed .sub-sec-content,.closed .sub-title-disp{visibility:hidden;position:absolute;}
.filter-cont-events{display:inline;margin-left:6px;}
h3.sub-sec{display:inline;}
.iam-settings{padding-right:10px;text-align:right;}
.commentcomponent p.ordcomment{background-color:white;border-bottom:1px solid #666;padding:.8em 0;}
.commentcomponent .ordcommenttitle{font-weight:bold;}
.orderlist-info{line-height:1.5em;clear:both;zoom:1;overflow-x:hidden;overflow-y:auto;padding:0 .2em;border-bottom:.1em solid #E8EFF9;word-wrap:break-word;}
.orderlist-info-hd,.orderlist-info dt,.orderlist-det-hd{position:absolute;visibility:hidden;}
.orderlist-name{width:48%;float:left;display:inline-block;padding-right:.5em;}
.orderlist-reac{width:48%;float:left;display:inline-block;padding-left:.5em;}
.orderlist-menu{padding-right:10px;text-align:right;}
.pat-det-gender,.pat-det-age,.pat-det-dob,.pat-det-mrn,.pat-det-fin,.pat-det-phys,.pat-det-loc{color:#000;font-size:1.2em;padding-right:1.5em;}
.persondemogwidget h6{display:inline;color:#000080;font-size:.8em;}
.prevresultswidget .btnMoreText{display:none;}
.qccontrol{width:50%;}
.qcinq-rejected{color:red;}
.qcinq-discarded{color:blue;}
.clinvalsum-table th{text-align:center;}
.clinvalsum-table td,.clinvalsum-table th{background-color:white;border-color:black;border-style:solid;border-width:1px;padding:1px;}
}
.clinvalsum-table{width:100%;}
.clinvalsum-qlist ul li{background-color:white;}
.clinvalsum-qlist .summarylineSelected{background-color:#aaf;}
td.tat-status{text-align:center;background:#fff;}
td.tat-accn{background-color:white;}
tr.tat-ontime{background-color:white;}
tr.tat-warning{background-color:yellow;}
tr.tat-alert{background-color:#FF6347;}
object.webobject{height:300px;width:100%;overflow:scroll;}
.cont-event-filter-window{position:fixed;left:0;top:0;width:375px;height:450px;display:none;z-index:9950;background-color:#efefef;padding:10px;border:solid #ceceff 2px;}
.cont-event-filter-window h4{font:bold 14px/20px Tahoma;}
#cont-event-filter-window-mask{position:absolute;left:0;top:0;z-index:9000;background-color:#fff;display:none;}
#filterconteventsbox a{color:#333;text-decoration:none;}
#filterconteventsbox a:hover{color:#400080;text-decoration:none;}
#filterconteventsbox{height:400px;overflow:auto;border:2px solid #3d4569;position:relative;background:#fff;}
#filterconteventsbox ul{margin:6px;}
.cont-event-checkbox-label input{margin-right:6px;}
#cont-event-filter-actionButtons{text-align:center;padding:8px;}
#cont-event-filter-ok{width:100px;}
#cont-event-filter-cancel{width:100px;margin-left:5px;margin-right:5px;}
#cont-event-filter-default{width:130px;}