/* .CodeMirror-scroll {
  height: auto;
  overflow: auto;
  width: 100%
} */



.icon_add_query { background: url(../img/cog_add.png) 0 0 no-repeat !important;}
.icon_audit_trigger { background: url(../img/brick.png) 0 0 no-repeat !important;}
.icon_to_sql { background: url(../img/arrow_left.png) 0 0 no-repeat !important;}
.icon_to_ext { background: url(../img/arrow_right.png) 0 0 no-repeat !important;}
.icon_insert { background: url(../img/arrow_right.png) 0 0 no-repeat !important;}
.icon_run_query { background: url(../img/cog.png) 0 0 no-repeat !important;}
.icon_beautify { background: url(../img/text_indent.png) 0 0 no-repeat !important;}
.icon_query_full { background: url(../img/cog_add.png) 0 0 no-repeat !important;}
.icon_domain { background: url(../img/database.png) 0 0 no-repeat !important;}