/***** @media print	********/
@media print {
	@page {size: landscape}
	
/* ============== CSS RESET ============== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
fieldset {
	margin-top: 10px;
}
body {
	color: #000;
	background: #FFF;
	font: normal 13px /1.5em Tahoma;
}
ol, ul {
	list-style: none;
	text-align: left;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	font: normal 13px Tahoma;
}
caption {
	text-align: left;
	font: normal 10px Tahoma;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
script {
	display: none;
	height: 0;
	width: 0;
}
input {
	padding: 0;
	margin: 0;
}
html {
	font-size: 100%;
}
/* ==== COMMON STYLES ==== */
html {
	font-family: Tahoma, Arial, sans-serif;
}
body {
	text-align: left;
	font-size: 13px;
}
a, a:active, a:link, a:hover {
	text-decoration: underline;
	cursor: pointer;
	color: #3380E5;
}
span {
	background: none;
}
a:focus, a:focus span {
	background: #E7FFCA;
	border: 1px dotted #505050;
}
label {
	color: #8F8F8F;
	text-align: right;
}
table {
	font-size: 100%;
	width: 100%;
	border-collapse: collapse !important;
}
table td {
	font: 13px /1.5em Tahoma;
	padding: 0;
	vertical-align: top;
}
table th {
	font: 11px /1.2em Tahoma;
	color: #505050;
	padding: 0;
}
.date-time, .date-time span {
	font: 11px Tahoma;
}
.res-severe *, .res-severe, .res-severe th, .res-severe td, .res-severe dd {
	color: #E50D34 !important;
	font-weight: bold;
}
.res-hi *, .res-hi, .res-hi th, .res-hi td, .res-hi dd, span .res-hi {
	color: #FF8013;
	font-weight: bold;
}
.res-lo *, .res-lo, .res-lo th, .res-lo td, .res-lo dd, span .res-lo {
	color: #0054E7;
	font-weight: bold;
}
dt, dd {
	font-weight: normal;
}
.severe, .severe li, .severe td, .severe dd, .severe dt, .critical, .critical li, .critical td, .critical dd {
	color: #E50D34;
	font-weight: bold;
}
.unit, .unit span {
	color: #505050;
	font: 9px Tahoma;
}
.abn {
	color: green;
}
.alrt {
	background-color: #ffffe4;
	border: none;
	font-weight: bold;
}
.selected {
	background: #ECF4FF;
	border: 1px dotted #505050;
}
.title {
	width: 100%;
	color: #fff;
	font-size: 12px;
	margin-top: -1px;
	text-align: center;
	background-color: #ADCC92;
	line-height: 1.2em;
}
.title-tt {
	cursor: pointer;
}
.pos-res {
	background-repeat: no-repeat;
	text-align: left;
	border: none;
	cursor: pointer;
	padding-right: 5px;
	margin-top: 2px;
}
.brdr {
	border: 1px solid #E2E4EB;
}
.hx {
	font-style: italic;
}
.reoccur {
	font-style: italic;
	font-weight: bold;
}
.reoccur-appt {
	background-repeat: no-repeat;
	text-align: left;
	border: none;
	cursor: pointer;
}
.even {
	background: rgb(228, 238, 255);
	border-top: 1px solid #E8EFF9;
	border-bottom: 1px solid black;
	padding-bottom: 3px;
}
.odd {
	background: #FFFFFF;
	border-bottom: 1px solid black;
	border-top: 1px solid #E8EFF9;
}


.even td{
	border-bottom: 1px solid black;
}
.odd td{
	border-bottom: 1px solid black;
}


.rowFocus {
	background: rgb(153,204,255);
}
.load-dialog {
	margin-bottom: 5px;
	margin-left: 5px;
	font-weight: bold;
}
.move-patient {
	margin-bottom: 5px;
	margin-left: 10px;
}
.gen-cent-msg {
	position: relative;
	display: block;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}
.img-cent {
	text-align: center;
	display: block;
	word-wrap: break-word;
}
table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	font: normal 12px Tahoma;
	border-bottom: 1px solid #ADCC92;
	border-left: 1px solid #ADCC92;
}
/* ========== Column Layouts ========== */
.col-group {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
}
.col-outer1, .col-outer2 {
	float: left;
	width: 100%;
	position: relative;
}
.col1, .col2, .col3 {
	float: left;
	position: relative;
	padding: 0 0 3px 0;
}
.pref-columns .col1, .pref-columns .col2, .pref-columns .col3 {
	float: left;
	position: static;
	padding: 0 .3% 3px 0;
}
.pref-columns .col-group {
	padding: 0 0 0 2%;
}
/* 3 Column - Equal Widths */
.three-col .col-outer2 {
	right: 34%;
}
.three-col .col-outer1 {
	left: 33%;
}
.three-col .col1 {
	width: 32.65%;
	left: 1.25%;
}
.three-col .col2 {
	width: 33.65%;
	left: 1.5%;
}
.three-col .col3 {
	width: 32.65%;
	left: 1.75%;
}
/* 2 Column - Equal Widths */
.two-col .col-outer1 {
	right: 50%;
}
.two-col .col1 {
	width: 49.3%;
	left: 50.5%;
}
.two-col .col2 {
	width: 49.3%;
	left: 51%;
}
/* 1 Column - Full Page */
.one-col .col1 {
	width: 99%;
	left: .5%;
}
/* ============== HEADER ============== */
.ps-hd {
	border-bottom: .1em solid #E7E7E7;
	color: #003C74;
	font-weight: bold;
	text-align: right;
	margin-top: .2em;
}
.ps-hd h1 {
	display: inline;
	float: left;
	font-size: 12pt;
	padding-bottom: 0em;
	height: 100.00%
}
.ps-hd span {
	font-family: Tahoma;
	margin-right: 2em;
	vertical-align: middle;
	font-weight: bold;
}
.ps-hd span a {
	font-weight: normal;
	margin: 0 .5em;
	cursor: pointer;
	color: blue;
}
/* ========== Patient Demographics ========== */
.dmg-pt-banner {
	width: 100%;
	margin:0px;
	padding:0px;
}
.dmg-pt-name-lbl, .dmg-sex-age-lbl {
	position: absolute;
	display: none;
	visibility: hidden;
}
.dmg-info dt {
	padding-left: 12px;
	display: inline;
	color: #505050;
}
.dmg-info dd {
	display: inline;
	text-align: left;
}
.dmg-pt-name {
	font: bold 14px Tahoma;
}
.dmg-sex-age {
	padding-left: 10px;
}
.dmg-age-death {
	font-weight: bold;
	color: red;
}
.dmg-dob, .dmg-mrn, .dmg-loc, .dmg-allergy, .dmg-isolation {
	padding-left: 4px;
	font-weight: normal;
	text-align: left;
}
.dmg-reason {
	padding-left: 4px;
	font-weight: bold;
	text-align: left;
}
/* ========== Section Headers ========== */
.section {
	position: relative;
	zoom: 1;
	background: none;
	margin: 0 0 10px 0;
	border-right: 1px solid #B6C8A2;
}
.sec-hd {
	font-size: 13px;
	line-height: 1em;
	display: block;
	border: 1px solid #C2D6AD;
	zoom: 1;
	overflow: hidden;
}
.closed .sec-hd {
	display: block;
	border-bottom: 2px solid #B6C8A2;
}
.sec-hd, .sec-hd a {
	color: #4D4D4D;
	font-weight: bold;
	text-decoration: none;
}
.sec-hd a:hover {
	text-decoration: underline;
	cursor: pointer;
	color: #4D4D4D;
}
.sec-title {
	display: inline-block;
	padding: 5px 6px 2px 13px;
	float: left;
	color: #4D4D4D;
}
.sec-total {
	font-weight: normal;
	color: #4D4D07;
	padding-left: 5px;
	text-decoration: none;
}
.sec-hd-tgl {
	font-size: 1px;
	color: #999;
	float: right;
	width: 14px;
	height: 15px;
	cursor: pointer;
	display: inline-block;
	margin: 3px;
}
.closed .sec-hd-tgl {
}
.sub-title-disp {
	color: #666;
	font-size: 11px;
	line-height: 1.2em;
	padding: 2px 20px;
	background: #EEF4E2;
	border-right: 1px solid #C2D6AD;
	border-left: 1px solid #C2D6AD;
	border-bottom: 1px solid #DCDCDC;
}
.sec-content .sec-body {
	border: 1px solid #ADCC92;
	padding: 6px;
	background: #FFF;
}
.closed .sec-content, .closed .sub-sec-content, .closed .sub-title-disp, .closed .sec-footer {
	visibility: hidden;
	position: absolute;
}
.content-body {
	border: 1px solid #EDEDED;
}
.sec-footer {
	color: #666;
	font-size: 9px;
	line-height: 1.2em;
	padding: 2px 20px;
	background: #F6F6F6;
	border-right: 1px solid #ADCC92;
	border-left: 1px solid #ADCC92;
	border-bottom: 1px solid #ADCC92;
}
/* Subsection Commons */
.sub-sec {
	zoom: 1;
}
.sub-sec-hd {
	font-size: 12px;
	font-weight: normal;
	color: #3E3E3E;
	background: #CDDCEE;
	padding: 0 3px;
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #AABECD;
	zoom: 1;
}
.sub-sec-title {
	color: #3E3E3E;
}
.sub-sec-hd-tgl {
	font-size: 1px;
	color: #CDDCEE;
	height: 7px;
	width: 7px;
	float: left;
	cursor: pointer;
	display: inline-block;
	margin: 5px 4px 5px 2px;
}
.closed .sub-sec-hd-tgl {
	height: 9px;
	width: 5px;
}
.sub-sec-content .content-body {
	border: none;
}
/* Actionable Items */
.add-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 4px 2px 0 2px;
	text-indent: -9999px;
}
.add-text {
	display: none;
}
.sec-hd-tgl-alt {
	float: right;
	text-align: center;
	width: 1em;
	text-decoration: none;
	color: #0054e7;
}
.sub-sec {
	background: #F3F8EE;
	color: #505050;
	font: bold 11.5px /1.5em Tahoma;
	text-align: left;
	padding-left: .25em;
}
.sub-sec a:hover {
	cursor: pointer;
	color: #3380E5;
}
.sub-sec a:active {
	background-color: #3380E5;
	color: #FFFFFF;
}
.sub-sec a {
	padding-left: 2px;
	padding-right: 2px;
	font: 12px Tahoma;
	text-decoration: none;
}
.sub-sec span {
	padding-left: 4px;
}
/*
.sub-sec td:hover {
	color: #0054e7;
}
*/
.mc {
	padding-right: 4px;
	font: normal 12px Tahoma;
	color: black;
}
.hdrl {
	border-bottom: 1px solid;
	border-color: #505050;
	cursor: pointer;
}
.obvl {
	padding-left: 0px;
	background: #F3F8EE;
	color: #505050;
	font: bold 12px /1.5em Tahoma;
	border-top: 1px solid;
	border-color: #505050;
	vertical-align: middle;
}
.obvl a:hover {
	background-color: rgb(255,255,164);
}
.start-dt-tm .lblhover{
	padding-left: 4px;	
}

.menuTable {
	width: 99%;
	background: #FFFFFF;
	table-layout: fixed;
}
.menuTable .LinkText {
	color: #3380E5;
}
.hdrTable {
	width: 50%;
	table-layout: fixed;
}
.hdrTable td:hover {
	color: #0054e7;
}
.hdrTable th {
	margin-bottom: 2px;
	border: 0;
	font-size: 12px;
	color: #505050;
}
.summaryItem {
	padding-left: 5px;
	padding-top: 5px;
}
.OrgHeader {
	font: bold 11pt Tahoma;
}
.OrgList {
	font: 10pt Tahoma;
}
#tbodySCH td {
	vertical-align: middle;
}
#tbodyUNS td {
	vertical-align: middle;
}
#tbodyPRN td {
	vertical-align: middle;
}
td.sortedColumn {
	background-color: #CDDEFD;
}
.pTable {
	/* margin-left: 25%;
	 margin-right: 25%; */
	width: 100%;
	border-left: none;
	border-bottom: none;
}
.td1 {
	padding-left: 20%;
}
.tdp {
	padding-left: 0;
}
.ordDisplay{
	padding:0px;margin:0px;
}
/* =================== Layout ========================== */
.lblhover span {
	text-decoration: underline;
	color: #FF0000;
}
.lblhover span:hover {
	color: #0054e7;
}
.arrow {
	float: left;
	text-decoration: none;
	color: #0054e7;
	padding-right: 2px;
}
.arrow a:hover {
	text-decoration: none;
}
.sortedHeader {
	font-weight: bold;
}
.imgtablecell {
	text-align: center;
	display: block;
}
.spR {
	padding-right: 6px;
}
.BlueText {
	font-family: Tahoma;
	font-size: 9pt;
	color: #0054e7;
}
.RedText {
	font-family: Tahoma;
	font-size: 9pt;
	color: #FF0000;
}
.RowTypeWhite {
	background-color: #FFFFFF;
}
.RowTypeBlue {
	background-color: #F5F7FB;
}
.dis {
	background-color: #CCCCCC;
}
.ena {
	background-color: #FFFFFF;
}
.ctr {
	text-align: center;
}
.svd {
	color: #505050;
	font-style: italic;
	text-align: center;
}
span.reg {
	font-size: 7px;
	vertical-align: top;
	padding-left: 0;
}
body {
	background-color: white;
	overflow-x: hidden;
	padding: 0 10px 0 10px;
	background-repeat: no-repeat;
	background-position: center center;
}
.important-message {
	margin-left: 10px;
	color: red;
	width: 100%;
	font-style: italic;
}
.hidden {
}

.toggle-med-orders-display{display:none;}
.toggle-components-display{display:none;}

.ps-body {
	padding-top: 5px;
	width: 100.00%;
}
.page-footer {
	width: 100.00%;
}
.button-sign {
	float: right;
}
.button-save {
	float: right;
}
.active-row {
	background-color:  #99CCFF;
}
.sp-loc-desc {
	font: 13px Tahoma;
	font-weight: bold;
}
.sp-loc-opts {
	font-family: Tahoma;
}
.sp-loc-sel {
	font-family: Tahoma;
	font-size: 9pt;
}
.spOstat {
	font-size: 8pt;
	color: gray;
	font-style: italic;
}
.spSave {
	padding-right: 15px;
}
.spSign {
	padding-left: 15px;
	padding-right: 15px;
}

.important-indicator {	
	color: red;
	padding-left: 5px;
	font-weight: bold;	
}

.required-select{
}

.recon-icon{
	height:16px;
	width:16px;
}


.order-name-table {
	border-collapse: collapse;
	border-spacing: 0;
	border:0;
}


.order-name-table td{
	border-width:0px;
}


.order-detail-display{
	padding:0px;
	margin:0px;
	vertical-align: top;
}


/* ========== Hovers => hidden in print ========== */
.hvr {background:#FFF; padding:0 5px; z-index:1; margin:-1px 10px 10px 5px; width:400px; line-height:2em; word-wrap:break-word;display:none;}
.hvr.hover {position:absolute; display:none; z-index:1000; background-color:#FFC; border:1px solid #000;}
.hvr dt {clear:left; color:#505050;}
.hvr dt span {float:left; margin-left:5px;}
.hvr dd {float:left; display:inline; margin:0 5px; overflow-x:hidden;}
.hvr th{font-weight:bold;font-size:15px;}
.hvr td{font-size:12px;}
.hvr table {margin:3px 0; border:0;}


.order-ingred-hvr{
position:relative;
display:block;
width: 100.00%;
background-color:#FFC; border:1px solid #000;
padding:5px; z-index:1;
margin:10px;
word-wrap:break-word;
}
.order-ingred-hvr th{font-weight:bold;font-size:15px;}
.order-ingred-hvr td{font-size:12px;}
.order-ingred-hvr table {margin:3px 0; border:0;}


}
