	tr
	{
	vertical-align:text-top;
	}
@media print{
	
	div#page_banner{
		margin-bottom:30px;
	}
	tr.navigation_row{
		display:none;
	}
	img.minimize_data_area, img.expand_data_area, img.refresh_data_area{
		display:none;
	}
	div.mp_tab_content{
		page-break-after:always;
	}
	div.mp_tab_content:last-of-type{
		page-break-after:avoid;
	}
	span.tab_name_print{
		display:block;
		width:100%;
		font-size:1.1em;
		font-weight:bolder;
	}
	tr.header_row td{
		font-weight:bold;
		text-decoration:underline;
	}
	div.mp_data_area_full{
		width:98%;
	}
}
@media screen{
	div.mp_tab_content{
		height:100%;
		overflow-y:auto;
	}
	div.right_drop_area{
		width:49%;
		position:absolute;
		right:10px;
		padding-bottom:50px;
	}
	div.top_drop_area{
		width:99.9%;
		position:relative;
		top:0px;
	}
	div.left_drop_area{
		width:49%;
		position:absolute;
		left:20px;
		padding-bottom:50px;
	}
	div.center_drop_area_3c{
		width:32%;
		position:absolute;
		left:33%;
		padding-bottom:50px;
	}
	div.right_drop_area_3c{
		width:32%;
		position:absolute;
		left:66%;
		padding-bottom:50px;
	}
	div.left_drop_area_3c{
		width:32%;
		position:absolute;
		left:20px;
		padding-bottom:50px;
	}
	div.bottom_drop_area{
		width:95%;
		position:absolute;
		bottom:10px;
	}
	span.tab_name_print{
		display:none;
	}
	div.mp_data_area_full{
		width:99.9%;
	}
	tr.header_row td{
		font-weight:normal;
	}
	img.minimize_data_area,img.expand_data_area{
		position:absolute;
		right:2px;
		top:1px;
		width:15px;		
	}
	img.refresh_data_area{
		position:absolute;
		top:1px;
		width:15px;
	}
	#popup_error_message {
		background-color: white;
		border: black 1px solid;
		z-index: 999;
		display: none;
		position: absolute;
		_position: absolute;
		width: 600px;
		height: 300px;
		overflow-y: auto;
	}
	#backgroundPopup {
		display: none;
		position: fixed;
		_position: absolute; /* hack for internet explorer 6*/
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: #000000;
		border: 1px solid #cecece;
		z-index: 998;
	}
}
@media screen,print{

	*{
		font-family:Tahoma, sans-serif;
	}
	div#page_banner{
		position:relative;
		width:99.9%;
		height:50px;
		background-color:yellow;
		border:solid 1px silver;
	}
	img.loading{
		position:absolute;
		left:30%;
		top:30%;
	}
	span#banner_patient_name{
		position:absolute;
		left:5px;
		top:2px;
		font-size:1.6em;
	}
	span#banner_patient_dob{
		position:absolute;
		right:5px;
		top:2px;
		font-size:1.2em;
	}
	span#banner_patient_location{
		position:absolute;
		right:5px;
		top: 22px;
		font-size:1.2em;
	}
	div.mp_tab_content{
		overflow-x:hidden;
	}
	div.mp_data_area {
/*		min-height:50px;
		heigh:50px;*/
		border:solid 1px silver;
		margin-top:3px;
		margin-bottom:3px;
		position:relative;
	}
	div.mp_data_area_half{
		/*width:48%;*/
		width:98%;
	}
	div.mp_data_area div.mp_data_area_title{
		background-color:#D6E7F7;
		text-align:center;
		font-size:0.9em;
		font-weight:bolder;
		position:relative;
	}
	div.mp_data_area div.mp_data_area_content{
		font-size:0.9em;
	}
	span.person_id,span.encntr_id,span.event_cd{
		display:none;
	}
	tr.header_row{
		background-color:#3399FF;
	}
	tr.header_row th{
		text-align:left;
		font-size:0.8em;
		font-weight:bolder;
	}
	tr.header_row td{
		text-align:left;
		font-size:0.8em;
	}
	tr
	{
	vertical-align:text-top;
	}
	tr.data_row td{
		text-align:left;
		font-size:0.8em;
		font-weight:normal;
	}
	tr.navigation_row td{
		font-size:0.8em;
	}
	td.prev_data_button,td.next_data_button{
		background-color:#009900;
		text-align:center;
	}
	td.prev_data_button:hover,td.next_data_button:hover{
		background-color:#00CC00;
		text-align:center;
	}
	span.open_document{
		cursor:pointer;
	}
	span.person_id, span.encntr_id, span.event_id{
		display:none;
	}
	span.mpages_open_tab{
		cursor:pointer;
	}
	span.mpages_open_tab_name, span.mpages_open_tab_application{
		display:none;
	}
}
