/* ============== CSS RESET ============== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
    big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt,
    dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; vertical-align:baseline;}
:focus {outline:0;}
body {color:#000; background:#FFF; font:normal 12px/1.2em Tahoma; text-align:left; width:100%;}
ol, ul {list-style:none; text-align:left;}
table {border-collapse:separate; border-spacing:0; font:normal 12px Tahoma;}
caption {display:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
script {display:none;}
input {padding:0; margin:0;}

/* ========== Common Styles ========== */
html {font:normal 13px Tahoma;}
a, a span, a:active, a:link, a:link span, a:hover, a:hover span {text-decoration:underline; cursor:pointer; color:#3380E5;}
a:visited a:visited span {background:none;}
a:focus, a:focus span {border:.1em dotted #505050;}
hr {display:none;}
table {font-size:100%; width:100%; border-collapse:collapse;}
td {font:13px/1.5em Tahoma; vertical-align:top; word-wrap:break-word;}
th {font:12px/1.2em Tahoma; color:#505050; text-align:left; vertical-align:bottom; word-wrap:break-word;}
.even {background:#F5F7FB;}
.odd {background:#FFF;}
.disclaimer {font:normal 10px Tahoma; text-align:left; clear:left;}
.res-severe, .res-severe a {color:#E50D34; font-weight:bold;}
.res-high {color:#FF8013; font-weight:bold;}
.res-low {color:#0054E7; font-weight:bold;}
.res-none {display:block; padding-left:1em; zoom:1;}
.res-none-hd {position:absolute; visibility:hidden;}
.unit, .within {font:normal 11px Tahoma; color:#505050;}
.hdr {color:#505050; font:normal 12px/1.2em Tahoma; background:#E8EFF9; vertical-align:bottom;}
.patHidden {display:none;}
.headr {width: 75%; clear: left; border: none; background: none;}

/* ======================= Printer Formatting ================*/
 div#printhead {display: none;}
.noPrint {display: inline;}
.printer-table {display: none; }	
.printer-title {display: none;}
.printer-legend {display: none; }
.printer-date-time {display: none;}
.print-hi{display: none; }
.print-lo {display: none;}
.print-crit {display: none;}

  /* ============== HEADER ============== */
        .ps-hd { font-weight: bold; padding: .25em 0; margin: 0 0 .1em .5em; color: #003C74; border-bottom: .1em solid #E7E7E7; text-align: right;}
        .ps-hd h1 {display: inline; font-size: 1.2em; float: left}
		#headRight { font-weight:normal; margin-right: 2em; vertical-align: middle;}
		#shrinkTxt, #raiseTxt, #expAll, #custView {padding-left:5px; padding-right:5px;}
		#shrinkTxt {font:normal 10px Tahoma;}
                
        #banner ul, #jumpMenu ul {
           padding-left: 0px;
           margin-left: auto;
           margin-right: auto;
           display: inline;
           text-align: center;
		   
        }
        #banner li, #jumpMenu ul {
           padding-right: 12px;
           margin: 0px;
           list-style: none;
           display: inline;
        }

        #banner {
        margin-bottom: 1em;
        margin-left: .5em;
		
        }

        input.btn {
          color: #003C74;
          background-color:#C6D6F7;
        }

/* ========== Patient Demographics ========== */
.demog-pt-name-lbl, .demog-sex-age-lbl {position:absolute; visibility:hidden;}
.demog-info dt {padding-left:10px; display:inline; color:#505050;}
.demog-info dd {display:inline;}
.demog-pt-name {font:bold 14px Tahoma;}
.demog-sex-age {padding-left:10px;}
.demog-dob, .demog-mrn, .demog-fin, .demog-rfv {padding-left:2px;}
.demog-rfv {font-weight:bold;}
		

/* ========== Section Commons ========== */
.section {position:relative; zoom:1; background:none; margin:0 0 1em 0; font:normal 12px Tahoma; }
.sec-hd-tgl {float:right; text-align:center; width:1em; font-size:25px; cursor:pointer; font-weight:normal;}
.sec-hd {font:normal 14px/20px Tahoma; display:block; background:url(../images/crnr-left.png) no-repeat 0 0; border-right:1px solid #ADCC92;}
.sec-hd, .sec-hd a {color:#003C74; font-weight:bold; text-decoration:none; }
.dshead {background: #F3F8EE; }
.dshead a {color:#003C74; font-weight:bold; text-decoration:none;}
.dslink {color: #000000;}
.sec-hd a:hover {text-decoration:underline; cursor:pointer; color:#3380E5;}
.sec-title {display:block; padding-left:4px;}
.sec-total {color:#505050; font-size:.75em; padding-left:6px; font-weight:normal; text-decoration:none;}
.sec-content {margin:0; padding:0 0 0 0; font:normal 12px/1.2em Tahoma; border:1px solid #ADCC92; }
.section.closed, sub-sec.closed {padding:0;}
.closed .sec-content, .closed .sub-sec-content {display:none;}
.closed .sec-hd {display:block; margin:0; border-bottom:2px ridge #E0FFFF;}
.sub-sec-hd {font:normal 11px Tahoma; color:#505050; background:#F3F8EE; padding-left:.2em; border-top:1px solid #ADCC92; border-bottom:1px solid #ADCC92; }
.sub-sec-hd-tgl {float:right; text-align:center; width:1em; cursor:pointer; font-weight:normal;}
.addPlus {cursor:pointer;	font-weight:normal;	font-size:.85em;}
.addPlus img {vertical-align:middle;}
a.addPlus {font-weight:normal; text-decoration:none; padding-left:4px;}

/* ========== Page Header ========== */
.pg-hd {padding:.25em 0; margin:0 0 .1em .5em; color:#003C74; border-bottom:.1em solid #E7E7E7; text-align:right; line-height:1.5em;}
.pg-title {font-weight:bold; display:inline; font-size:15px; float:left;}
.page-ctrl {margin-right:2em; vertical-align:middle;}
#expAll, #custView {padding-left:5px; padding-right:5px;}
#banner {margin-bottom:1em; margin-left:.5em;}

/* ========== Patient Demographics ========== */
.dmg-pt-name-lbl, .dmg-sex-age-lbl {position:absolute; visibility:hidden;}
.dmg-info dt {padding-left:10px; display:inline; color:#505050;}
.dmg-info dd {display:inline;}
.dmg-pt-name {font:bold 14px Tahoma;}
.dmg-sex-age {padding-left:10px;}
.dmg-dob, .dmg-mrn, .dmg-fin, .dmg-rfv {padding-left:2px;}
.dmg-rfv {font-weight:bold;}

/* ========== Column Layouts ========== */   /* Adapted from : http://matthewjamestaylor.com/blog/perfect-multi-column-liquid-layouts */
.col-mask {position:relative; clear:both; float:left; width:100%; background:#FFF}
.col-mask1{position:relative; clear:both; float:left; width:100%; background:#FFF}
.col-outer1, .col-outer2 {float:left; width:100%; position:relative;}
.col1, .col2,	.col3, .col4 {float:left; position:relative;	padding:0 0 3px 0; overflow:hidden; z-index:-1;}

/* 3 Column - Equal Widths */
.three-col .col-outer2 {right:34%;}
.three-col .col-outer1 {left:33%;}
.three-col .col2 {width:32.65%; left:1.25%;}
.three-col .col3 {width:33.65%; left:1.5%;}
.three-col .col4 {width:32.65%; left:1.75%;}

/* 2 Column - Equal Widths */
.two-col .col-outer1 {right:50%;}
.two-col .col2 {width:49.3%; left:50.5%;}
.two-col .col3 {width:49.3%; left:51%;}

/* 1 Column - Full Page */
.one-col .col2 {width:99%; left:.5%;}


.main-col .col1  {width:98%; left:.5%;  }

.main2-col .col-outer1 {right:50%;}
.main2-col .col1 {width:98%; left:.5%; float:right; }

.main3-col .col-outer2 {right:34%;}
.main3-col .col-outer1 {left:33%;}
.main3-col .col1 {width:98%; left:.5%; float:right; }
		


/* ========== Hover Formatting ========== */
.hvr {background:#FFF; padding:0 .5em; z-index:1; margin:-.1em 1em 1em .5em; width:30em; line-height:2em; border:.1em solid #FFF; border-color:#E5EEFC #FFF; word-wrap:break-word;}
.hvr.hover {position:absolute; display:none; z-index:1000; background-color:#FFC; border-color:#000;}
.hvr dt {clear:left; color:#505050;}
.hvr dt span {float:left; margin:0 0 0 .5em;}
.hvr dd {float:left; display:inline; margin:0 .5em; overflow-x:hidden;}

/* --- Individual Components --- */	

/* ================== Tab Menu ==============================*/
.tabmenu { color: #003C74; border-bottom: 1px solid #7274A5;  z-index: 1; }
.tabmenu li { display: inline; overflow: hidden; list-style-type: none; margin-bottom:0;}
.tabmenu a.active { background-image: url(../images/tab_active.gif); background-repeat:no-repeat; height: 1.5em; }
.tabmenu a.active:link { color: #003C74; font: bold 12px Tahoma;  padding: 2px 2px 0px 2px; text-decoration: none;}
.tabmenu a.active:visited { color: #003C74; font: bold 12px Tahoma;  padding: 2px 2px 0px 2px; text-decoration: none;}
.tabmenu a.active:active{ color: #003C74; font: bold 12px Tahoma;  padding: 2px 2px 0px 2px; text-decoration: none;}
.tabmenu a.active:hover { color: #003C74; font: bold 12px Tahoma;  padding: 2px 2px 0px 2px; text-decoration: none;}
.tabmenu a.inactive { background-image: url(../images/tab_inactive.gif); background-repeat:no-repeat; height: 1.5em; }
.tabmenu a.inactive:link { color: #B3B3B3; font: 12px Tahoma;  padding: 2px 12px 0px 2px; text-decoration: none;}
.tabmenu a.inactive:visited { color: #B3B3B3; font: 12px Tahoma;  padding: 2px 12px 0px 2px; text-decoration: none;}
.tabmenu a.inactive:active{ color: #B3B3B3; font: 12px Tahoma;  padding: 2px 12px 0px 2px; text-decoration: none;}
.tabmenu a.inactive:hover { color: #B3B3B3; font: 12px Tahoma;  padding: 2px 12px 0px 2px; text-decoration: none;}
.content {font: 0.9em/1.3em Tahoma, Helvetica, sans-serif;  padding: 5px;  width: 100%; border-top: none; z-index: 2;	}
.content a { text-decoration: underline; color: #DEDECF; }
.content a:hover {   color: #3380E5;}	
.rightElement { text-align: right;}


/* ============== Education LIST ============== */

.edu-list {position: relative; width:99%;}
.edu-det {}
.edu-table .dt-res { font: 13px/1.5em Tahoma; text-align:left;}
.edu-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.edu-info .result {}
.edu1info {width: 75%; clear: left; border: none; background: none;}
.edu-info .date-time {font: 13px/1.5em Tahoma; color: #505050;    }
.edu-info dd {font: 13px/1.5em Tahoma;}
.edu-info dt, .edu-det-hd { visibility: hidden; position: absolute; }
.headr {width: 75%; clear: left; border: none; background: none;}
.edu-list strong, .edu-name, .edu-det-type {padding-left: 2px; font-weight:normal;}
.edu-info dd.edu-name { font-weight:normal;float:left; width:35%;   }
.edu-info dd.edu-result { font-weight:normal;float:left;  width:35%;display:inline; }
.edu-info dd.edu-date {width:29%;display:inline; padding-right: 2px; }
.edu-det-type strong {font-weight: normal;}
.subsection {clear:both;}
.nodisp {display:none;}

/* ============== Procedure History ============== */

.ph-list {position: relative; width:99%;}
.ph-det {}
.ph-table .dt-res { font: 11px Tahoma; text-align:left;}
.ph-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.ph-info .result {}
.ph-info .date-time {font: 13px/1.5em Tahoma; color: #505050;    }
.ph-info dd {font: 13px/1.5em Tahoma;}
.ph-info dt, .ph-det-hd { visibility: hidden; position: absolute; }
.ph-list strong, .ph-name, .ph-det-type {padding-left: 2px; font-weight:normal;}
.ph-info dd.ph-name { font-weight:normal;float:left; width:80%; padding-left: 2px;}
.ph-info dd.ph-date { display:inline-block; width:18%; float:left; color:#505050; font: 13px/1.5em Tahoma;}




/* ============== Social History ============== */

.sh-list {position: relative; width:99%;}
.sh-det {}
.sh-table .dt-res { font: 13px/1.5em Tahoma; text-align:left;}
.sh-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.sh-info .result {}
.sh-info .date-time {font: 13px/1.5em Tahoma; color: #505050;    }
.sh-info dd {font: 13px/1.5em Tahoma;}
.sh-info dt, .sh-det-hd { visibility: hidden; position: absolute; }
.sh-list strong, .sh-name, .sh-det-type {padding-left: 2px; font-weight:normal;}
.sh-info dd.name { font-weight:normal;float:left; width:48%; padding-left: 2px;}
.sh-info dd.result { display:inline-block; width:48%; float:left; color:#505050;}

/* ========== Microbiology ========== */
.mic-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;} 
.mic-info-hdr {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.mic-info-hd, .mic-info dt, .mic-det-hd {position:absolute; visibility:hidden;}
.mic-info-hdr {background:#E8EFF9; font:normal 12px Tahoma; color:#505050;}
.mic-src, .mic-src-hd {width:20%; float:left; display:inline-block; padding-right:5px;}
.mic-within, .mic-within-hd {width:24%; float:left; display:inline-block; padding-left:5px; padding-right:5px;}
.mic-norm, .mic-norm-hd {width:22%; float:left; display:inline-block; padding-left:5px; padding-right:5px;}
.mic-stat, .mic-stat-hd {width:22%; float:left; display:inline-block; padding-left:5px;}


/* ========== Non Microbiology ========== */
.nonmic-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;} 
.nonmic-info-hdr {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.nonmic-info-hd, .nonmic-info dt, .nonmic-det-hd {position:absolute; visibility:hidden;}
.nonmic-info-hdr {background:#E8EFF9; font:normal 12px Tahoma; color:#505050;}
.nonmic-src, .nonmic-src-hd {width:55%; float:left; display:inline-block; padding-right:5px;}
.nonmic-within, .nonmic-within-hd {width:40%; float:left; display:inline-block; padding-left:5px; padding-right:5px;}


/* ============== Genetic Screening ============== */
.genscr-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.genscr-info dt, .genscr-det-hd { visibility: hidden; position: absolute; }
.gen-det{}
.genscr-det-type {padding-left: 2px; font-weight:normal;}
.genscr-info dd {font: 13px/1.5em Tahoma;  }
.genscr-info dd.title { padding-left: 2px; font-weight:normal; float:left;  width:49%;   }
.genscr-info dd.result { display:inline-block; width:48%; float:left; color:#505050;}



/* ==============Pregnancy Assessments============== */
.assess {position: relative; zoom:1; }
.assess-table {}
.assess-table th  {border-bottom: 1px solid #E8EFF9;   text-align:center; }
.assess-table th.label {font: 12px Tahoma; color: #505050; text-align:center; } 
.assess-table th.label1 {font: 12px Tahoma; color: #505050; text-align:center; padding-left: 2px;  } 
.assess-table td.result {font: 13px/1.5em Tahoma;  text-align:center;} 
.assess-table td.result1 {font: 13px/1.5em Tahoma;  text-align:center;}
.assess-table form {display:inline;}
.alt1 {background:#FFF; border-top: 1px solid #505050;}
.alt2 { background:#F5F7FB; border-top: 1px solid #505050;}
.unit {font: 11px Tahoma; color: #505050; padding-left: 2px;} 
.unit1 {font: 13px/1.5em Tahoma; color: #505050; padding-left: 2px;} 
/*option.drop { font:italic 11px Tahoma; color: #505050; padding-left: 2px;}*/
option.drop { font:italic 11px Tahoma; color: #C8C8C8; padding-left: 2px;}
.link {font: 11px Tahoma;}
.dispDiv, .dispDiv2 {width:25%; font: 13px Tahoma;}
.alt3 {background:#FFF;  }
.alt4 {background:#F5F7FB;}
.subscroll{overflow-x: hidden; overflow-y: scroll; height:50px;}
.hscroll{overflow-x: auto; overflow-y: hidden;}
.vscroll{overflow-x: hidden; overflow-y: scroll;}
.assess-drpdn {width:70%; text-align: right; height:30px;}
.assess-drpdn form {display:inline;}
/*.assess-name form {display:inline;}*/


/* ========== Fetal Monitoring ========== */
.fm-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;} 
.fm-info-hdr {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.fm-info-hd, .fm-info dt, .fm-det-hd {position:absolute; visibility:hidden;}
.fm-info-hdr {background:#E8EFF9; font:normal 12px Tahoma; color:#505050;}
.fm-chk, .fm-chk-hd {width:5%; float:left; display:inline-block; padding-left:.5em;}
.fm-res, .fm-res-hd {width:20%; float:left; display:inline-block; padding-left:.5em;}
.fm-dt, .fm-dt-hd {width:20%; float:left; display:inline-block; padding-left:.5em;}


/* ==============Care Plan============== */
#ptl {z-index:1;}
.careplan {position: relative;}
.careplan .sec-content {  z-index:2; }
.careplan-table {z-index:2;}
.careplan-table td.dispdt {padding-left: 5px;}
.careplan-table1 {table-layout:fixed;z-index:2;}
.careplan-table1 td  {word-wrap:break-word;}
.careplan-table1 td.disp{background: #F6F6F6; padding-left: 1px; border-right: 1px solid #505050;  }
.careplan-table1 td.color1{ background: #FF7D3E;   border-right: 1px solid #FFFFFF;  }
.careplan-table1 td.color1dt{ background: #FF7D3E;  border-right: 1px solid #FFC000;  }
.careplan-table1 td.estdel1dt{ background: #FF7D3E;  border-right: 1px solid #CC0000;  }

.careplan-table1 td.color2-norm{ background: #842E91;   border-right: 1px solid #FFFFFF;  }
.careplan-table1 td.color2-crit{border-right: 1px solid #FFFFFF; background-image:url(../images/5278.gif); background-repeat:no-repeat; text-align: center; }
.careplan-table1 td.color2-high{border-right: 1px solid #FFFFFF; background-image:url(../images/6302_11.gif); background-repeat:no-repeat; text-align: center; }
.careplan-table1 td.color2-low{border-right: 1px solid #FFFFFF; background-image:url(../images/6303_11.gif); background-repeat:no-repeat; text-align: center; }

.careplan-table1 td.color2dt-norm{ background: #842E91;  border-right: 1px solid #FFC000;  }
.careplan-table1 td.color2dt-crit{border-right: 1px solid #FFFFFF; background-image:url(../images/5278.gif); background-repeat:no-repeat; text-align: center; }
.careplan-table1 td.color2dt-high{border-right: 1px solid #FFFFFF; background-image:url(../images/6302_11.gif); background-repeat:no-repeat; text-align: center; }
.careplan-table1 td.color2dt-low{border-right: 1px solid #FFFFFF; background-image:url(../images/6303_11.gif); background-repeat:no-repeat; text-align: center; }

.careplan-table1 td.estdel2dt-norm{ background: #842E91;  border-right: 1px solid #CC0000;  }
.careplan-table1 td.estdel2dt-crit{border-right: 1px solid #FFFFFF; background-image:url(../images/5278.gif); background-repeat:no-repeat; text-align: center; }
.careplan-table1 td.estdel2dt-high{border-right: 1px solid #FFFFFF; background-image:url(../images/6302_11.gif); background-repeat:no-repeat; text-align: center; }
.careplan-table1 td.estdel2dt-low{border-right: 1px solid #FFFFFF; background-image:url(../images/6303_11.gif); background-repeat:no-repeat; text-align: center; }

.careplan-table1 td.color3{ background: #1073D0;   border-right: 1px solid #FFFFFF;  }
.careplan-table1 td.color3dt{ background: #1073D0;  border-right: 1px solid #FFC000;  }
.careplan-table1 td.estdel3dt{ background: #1073D0;  border-right: 1px solid #CC0000;  }
.careplan-table1 td.color4{ background: #FFC000;   border-right: 1px solid #FFFFFF;  }
.careplan-table1 td.color4dt{ background: #FFC000;  border-right: 1px solid #FFC000;  }
.careplan-table1 td.estdel4dt{ background: #FFC000;  border-right: 1px solid #CC0000;  }
.careplan-table1 td.color5{ background: #FFF4D4;   border-top: 1px solid #FFC000; border-bottom: 1px solid #FFC000; text-align: center; }
.careplan-table1 td.color6{ background: #FF9999; border-top: 1px solid #CC0000; border-bottom: 1px solid #CC0000; text-align: center; }

.careplan-table1 td.abnrml-crit{border-right: 1px solid #FFFFFF; background-image:url(../images/5278.gif); background-repeat:no-repeat; text-align: center; }
.careplan-table1 td.abnrml-high{border-right: 1px solid #FFFFFF; background-image:url(../images/6302_11.gif); background-repeat:no-repeat; text-align: center; }
.careplan-table1 td.abnrml-low{border-right: 1px solid #FFFFFF; background-image:url(../images/6303_11.gif); background-repeat:no-repeat; text-align: center; }

.careplan-table1 td.abnrmldt-crit{border-right: 1px solid #FFC000; background-image:url(../images/5278.gif); background-repeat:no-repeat; text-align: center; }
.careplan-table1 td.abnrmldt-high{border-right: 1px solid #FFC000; background-image:url(../images/6302_11.gif); background-repeat:no-repeat; text-align: center; }
.careplan-table1 td.abnrmldt-low{border-right: 1px solid #FFC000; background-image:url(../images/6303_11.gif); background-repeat:no-repeat; text-align: center; }

.careplan-table1 td.abnrmldeldt{border-right: 1px solid #CC0000; background-image:url(../images/5278.gif); background-repeat:no-repeat; text-align: center; }
.careplan-table1 td.abnrmldeldt{border-right: 1px solid #CC0000; background-image:url(../images/6302_11.gif); background-repeat:no-repeat; text-align: center; }
.careplan-table1 td.abnrmldeldt{border-right: 1px solid #CC0000; background-image:url(../images/6303_11.gif); background-repeat:no-repeat; text-align: center; }

.careplan-table1 td.cnt{ color: #505050; font: normal 9px Tahoma; text-align: left; }
.careplan-table1 td.lktable{ width:200px;}
.careplan-table1 td.cnt{ color: #505050; font: normal 9px Tahoma; text-align: left; }
.careplan-table1 td.tri1{background: #C8E6C8;   border-bottom: 1px solid #E8EFF9; border-top: 1px solid #E8EFF9; text-align: center; border-right: 1px solid #E8EFF9;}
.careplan-table1 td.tri2{background: #FFFFCC;   border-bottom: 1px solid #E8EFF9; border-top: 1px solid #E8EFF9; text-align: center; border-right: 1px solid #E8EFF9;}
.careplan-table1 td.tri3{background: #FFCC99;   border-bottom: 1px solid #E8EFF9; border-top: 1px solid #E8EFF9; text-align: center; border-right: 1px solid #E8EFF9;}

.crit{ color: #E50D34; font-weight: bold; text-align: left; width: 20%;}
.high{ color: #FF8013; font-weight: bold; text-align: left; width: 20%;}
.low{ color: #0054E7; font-weight: bold; text-align: left; width: 20%;}

.careplan-table1 td.disp2{border-right: 1px solid #FFFFFF;}
.careplan-table1 td.disp2dt{border-right: 1px solid #FFC000; }
.careplan-table1 td.disp2deldt{border-right: 1px solid #CC0000; }
.num-val { color: #505050; font: normal 9px Tahoma; text-align: left; }
.hscroll{overflow-x: auto; overflow-y: hidden;}
.careplan-table td, .icu-vitals-table th  {}
.careplan-table td  {word-wrap:break-word;}
.careplan-table .label {text-align: right; padding-right: 5px;}
.careplan-table2 { width:30em; line-height: 2em; }
.careplan-table2 td  {word-wrap:break-word;  }
.careplan-table2 td.title{width:33%; color: #505050; padding-left: 2px;  }
.careplan-table2 td.res{width:33%;  padding-left: 2px;  }
.careplan-table2 td.title1{width:49%; color: #505050; padding-left: 2px;  }
.careplan-table2 td.res1{width:49%;  padding-left: 2px;  }
.careplan-table2 td.sub{width:53%;}
.careplan-table tr.dtrw{background: #F2F6E9;}
.deldate{ font: 13px/1.5em Tahoma; color:#ff0000;}
.careplan-table td.name{ border-right: 1px solid #E8EFF9; border-bottom: 1px solid #E8EFF9; padding-left: 2px; font: 12px/1.5em Tahoma; text-align: right; color:#666666; }
.careplan-table td.name1{ border-right: 1px solid #E8EFF9;  padding-left: 2px; font: 12px/1.5em Tahoma; text-align: right; color:#666666; }
.careplan-table td.noname{ border-top: 1px solid #E8EFF9; border-right: 1px solid #E8EFF9; padding-left: 2px; font: 12px/1.5em Tahoma; text-align: right; color:#666666; }
.dttm{ font: 13px/1.5em Tahoma; text-align: right; color:#666666;}
.careplan-table td.disp{background: #F6F6F6; padding-left: 1px; border-right: 1px solid #505050;  }
.dis{}
.curdttxt{font: 13px/1.5em Tahoma;  color:#666666;}
.curdtdis{background: #FFF4D4; text-align: center;}
.curdthd{background: #F6F6F6; border-right: 2px solid #FFC000;}
.disp1{ border-right: 1px solid #E8EFF9; border-bottom: 1px solid #E8EFF9; border-top: 1px solid #E8EFF9; border-left: 1px solid #E8EFF9;}
.curdt{ border-right: 2px solid #FFC000; border-bottom: 1px solid #E8EFF9; border-top: 1px solid #E8EFF9; border-left: 1px solid #E8EFF9;}
.nocolor{}
.careplan-table td.label {}
.ptl-info {clear:both; overflow:auto;}
.ptl-det {}
.ptl-info dd {font: 13px/1.5em Tahoma;     }
.ptl-info dt, .ptl-det-hd { visibility: hidden; position: absolute; }
.ptl-list strong, .ptl-label, .ptl-det-type {padding-left: 2px; font-weight:normal;}
.ptl-info dd.ptl-hd { font-weight:bold; float:left; padding-right: 2px;  color:#003C74;   }
.ptl-info dd.ptl-label { font-weight:normal; float:left; padding-right: 2px;  color:#505050; width:45%; text-align: right; text-align: top; }
.ptl-info dd.ptl-name { font-weight:normal; width:45%; text-align: left; display:inline-block; }
.divhvr {position:absolute; display:none; z-index:1000; background-color:#FFC; border-color:#000;}
.visitlink a {color:#FF7D3E;}

/* ==============Pregnancy Overview============== */

.preg-overview {position: relative; zoom:1; }
.po-table {}
.header{  background: #f2f2f2;}
.fl {border-bottom: 1px solid #7274A5; width: 20%; }
.fl1{width: 20%; }
.head {color: #003C74;  font: bold 12px Tahoma, font-weight:bold; text-align: center; width:16%;}
.po-table .label {text-align: right; padding-right: 2px; color: #505050; }
/*option.drop { font:italic 11px Tahoma; color: #505050; padding-left: 2px;}*/
option.drop { font:italic 11px Tahoma; color: #C8C8C8; padding-left: 2px;}
.po-table td.po-label { background: #f2f2f2; font-weight:normal; float:left; padding-right: 2px;  color:#505050; width:12%; text-align: right;}
/*.po-table td.po-label2 { background: #f2f2f2; font-weight:normal; float:left; padding-right: 2px;  color:#505050; width:12%; text-align: left; border-top: 1px solid #505050; }
*/
.po-table td.po-label2 { background: #f2f2f2; font-weight:normal; float:left; padding-right: 2px;  color:#505050; width:12%; text-align: left; }
/*.po-name form {display:inline;}*/
.po-table td.po-name  { font-weight:normal;float:left; width:12%; text-align: left;  }
/*.po-table tr.rwcol  {border-top: 1px solid #C8C8C8;}
*/
.po-rwcol  { border-top: 1px solid #C8C8C8; }
.po-table td.po-label1 { background: #f2f2f2; font-weight:normal; float:left; padding-right: 2px;  color:#505050; width:16%; text-align: right;  }
/*.po-table td.po-label3 { background: #f2f2f2; font-weight:normal; float:left; padding-right: 2px;  color:#505050; width:16%; text-align: right; border-top: 1px solid #505050;  }
*/
.po-table td.po-label3 { background: #f2f2f2; font-weight:normal; float:left; padding-right: 2px;  color:#505050; width:16%; text-align: right; }
.po-table td.po-name1  { font-weight:normal;float:left; width:16%; text-align: left; }
/*.po-table td.po-name3  { font-weight:normal;float:left; width:16%; text-align: left; border-top: 1px solid #505050; }
*/
.po-table td.po-name3  { font-weight:normal;float:left; width:16%; text-align: left; }
.po-lstrw  { font-weight:normal; border-bottom: 1px solid #505050; }
.po-table .datetime {font: 13px/1.5em Tahoma; color: #505050;    }
.po-list {position: relative; width:99%;}
.po-det {}
.po-table .dt-res { font: 13px/1.5em Tahoma; text-align:left;}
.po-info {clear:both; overflow:auto;}
.po-info .result {}
.po-info .date-time {font: 13px/1.5em Tahoma; color: #505050;    }
.po-info dd {font: 13px/1.5em Tahoma;     }
.po-info dt, .po-det-hd { visibility: hidden; position: absolute; }
.po-list strong, .po-label, .po-det-type {padding-left: 2px; font-weight:normal;}
.po-info dd.po-hd { font-weight:bold; float:left; padding-right: 2px;  color:#003C74;   }
.po-info dd.po-label { font-weight:normal; float:left; padding-right: 2px;  color:#505050; width:45%; text-align: right; text-align: top; }
.po-info dd.po-name { font-weight:normal; width:45%; text-align: left; display:inline-block; }
.po-info dd.po-label1 { font-weight:normal; float:left; padding-right: 2px;  color:#505050; width:12%  }
.po-info dd.po-name2 { font-weight:normal;float:left; width:15%;  }
.po-info dd.po-date { display:inline-block; width:23%;}
.po-drpdn {width:70%; text-align: right;}
.po-drpdn form {display:inline;}


/* ========== Documents ========== */
.doc-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;} 
.doc-info-hdr {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.doc-info-hd, .doc-info dt, .doc-det-hd {position:absolute; visibility:hidden;}
.doc-info-hdr {background:#E8EFF9; font:normal 12px Tahoma; color:#505050;}
.doc-cat, .doc-cat-hd {width:36%; float:left; display:inline-block; padding-right:5px;}
.doc-auth, .doc-auth-hd {width:30%; float:left; display:inline-block; padding-left:5px; padding-right:5px;}
.doc-dt, .doc-dt-hd {width:24%; float:left; display:inline-block; padding-left:5px;}


/* ============== Pregnancy History LIST ============== */
.preg-list{ position: relative; zoom:1; }
.preg-table { background: #FFF;  width: 100%; }
.preg-table caption { visibility: hidden; height: 1px; overflow: hidden; line-height: 1px; }
.preg-table td {}
.preg-table td dt { position: absolute; visibility: hidden; }
.preg-table .date-time { color: #505050; }
.preg-table dd.result { display: inline;}
.preg-table dd { padding-left: 5px;}
.preg-med, .preg-info dt, .preg-det-hd { visibility: hidden; position: absolute; clear:both;}
.preg-med {background: #E8EFF9; color: #505050; font: normal 11px/1.5em Tahoma; text-align: left; padding-left: 2px;}
.preg-table-info{ color: #000; font: 11px Tahoma; margin: 0 0 0 0; padding: 0 .5em; text-align:left; }
.preg-table-hd{ color: #505050; font: normal 11px Tahoma; background: #E8EFF9;}
.preg-table .result { padding-left: 4px; }
.preg-list span .result { padding-left: 4px; color: #000;}
.preg-det {}
.preg-md-sig {color: #505050; font: normal 12px Tahoma; padding-left: 5px;}
.pregpic {padding-left: 16px; width:2%; background-image:url(../images/4948_16.gif); background-repeat:no-repeat;}
.preg-med, .preg-info dt { position: absolute; visibility: hidden; }
.preg-info {font: 13px/1.5em Tahoma; border-bottom: 1px solid #E8EFF9; padding-left: 2px;}
.preg-med-name { padding-left: 2px;  }
.preg-info .preg-md-name span { }
.preg-info .preg-md-sig span {  }
.preg-det-type strong {font-weight: normal;}
.preg-det-hd { visibility: hidden; position: absolute; }

/* ============== EDD Maintenance ============== */
.edd { position: relative; zoom:1; }
.edd-table { background: #FFF; }
.edd-table caption { visibility: hidden; height: 1px; overflow: hidden; line-height: 1px; }
.edd-table td {  border-bottom: 1px solid #E8EFF9; font: 13px/1.5em Tahoma;  text-align: left;}
.edd-table td dt { position: absolute; visibility: hidden; }
.edd-table dd.result{ display: inline;}
.edd-table .status-hd { background:#E8EFF9; color: #505050; font: 12px Tahoma; text-align: left; width: 20%; padding-left: 4px;}
.edd-table .date-time-hd { background:#E8EFF9;color: #505050; font: 12px Tahoma; text-align: left; width: 20%; padding-left: 2px;}
.edd-table .ega-hd { background:#E8EFF9;color: #505050; font: 12px Tahoma; text-align: left; width: 20%; padding-left: 2px;}
.edd-table .method-hd { background:#E8EFF9; color: #505050; font: 12px Tahoma; text-align: left; width: 35%; padding-left: 2px;}
.edd-table .status { width:20%; padding-left: 4px; }
.edd-table .edd {width:20%; padding-left: 2px;}
.edd-table.ega  {width:20%; padding-left: 2px;}
.edd-table .method {width:35%; padding-left: 2px;}
.edd-det-hd { visibility: hidden; position: absolute; }
.edd-det-type { padding-left: 2px;}
.edd-table .result{ padding-left: 5px; }
.edd-table .author { text-align: left; font: 13px Tahoma;}
.edd-table .shd{ color: #505050; font: 12px/1.2em Tahoma; text-align: left; padding-left:2px;}
.edd-table .hd{line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.edd-table .dt-res { font: 13px/1.5em Tahoma; text-align:left;}

/* ============== Birth Plan ============== */

.result { padding-left: 2px; font-weight:normal;}
.bp-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.bp-info dt, .bp-det-hd { visibility: hidden; position: absolute; }
.bp-det-type{}
.bp-list strong, .bp-name, .bp-det-type {padding-left: 2px; font-weight:normal;}
.bp-info dd {font: 13px/1.5em Tahoma; }
.bp-code {display:inline; color:#505050; margin-left:.4em; font-size:.85em;}
.bp-info dd.title { padding-left: 2px; font-weight:normal; float:left;  width:49%;   }
.bp-info dd.result { display:inline-block; width:48%; float:left; color:#505050;}
.psyc-info dd.psyc-date 

/* ========== Labs ========== */
.lr-info dt, .lr-info-hd, .lr-det-hd {position:absolute; visibility:hidden;}
.lr-lbl {color:#505050; width:24.5%; padding:0 2px;} 
.lr-res1, .lr-res2, .lr-res3 {width:24.5%; padding:0 2px;}
.lr-res1 {border-right:2px solid #E8EFF9;}
.lr-hdr {background:#E8EFF9;}
.lr-table {table-layout:fixed; width:100%;}
.lr-table span {word-wrap:break-word;}
.lr-table1 {table-layout:fixed; width:98.87%;}
.lr-table1 span {word-wrap:break-word;}

/* ========== Diagnostics ========== */
.dg-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;} 
.dg-info-hdr {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.dg-info-hd, .dg-info dt, .dg-det-hd {position:absolute; visibility:hidden;}
.dg-info-hdr {background:#E8EFF9; font:normal 12px Tahoma; color:#505050;}
.dg-name, .dg-name-hd {width:48%; float:left; display:inline-block; padding-right:5px;}
.dg-within, .dg-within-hd {width:23%; float:left; display:inline-block; padding-left:5px; padding-right:5px;}
.dg-stat, .dg-stat-hd {width:20%; float:left; display:inline-block; padding-left:5px;}
 

/* ========== Problems ========== */
.prb-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.prb-info-hd, .prb-info dt, .prb-det-hd {position:absolute; visibility:hidden;}
.prb-name {display:inline;}
.prb-assoc {display:inline; padding-left:10px;}
.prb-code {display:inline; color:#505050; padding-left:5px; font-size:11px;}

/* ========== Past Medical History ========== */
.pmh-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.pmh-info-hd, .pmh-info dt, .pmh-det-hd {position:absolute; visibility:hidden;}
.pmh-name {display:inline;}
.pmh-code {display:inline; color:#505050; padding-left:5px; font-size:11px;}

/* ========== Home Medications ========== */
.hml-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.hml-info-hd, .hml-info dt, .hml-det-hd {position:absolute; visibility:hidden;}
.hml-name {width:70%; float:left; display:inline-block; padding-right:5px;}
.hml-sig {display:inline; color:#505050; padding-left:5px; font-size:11px;}
.hml-date {width:24%; float:left; display:inline-block; padding-left:5px;}
.hml-info-hdr {background:#E8EFF9; font:normal 12px Tahoma; color:#505050;}


/* ========== Medications ========== */
.med-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.med-info-hd, .med-info dt, .med-det-hd {position:absolute; visibility:hidden;}
.med-name {display:inline;}
.med-sig {display:inline; color:#505050; padding-left:5px; font-size:11px;}
.subsecscroll {overflow-y:scroll;}



/* ========== Pathology ========== */
.pat-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;} 
.pat-info-hdr {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.pat-info-hd, .pat-info dt, .pat-det-hd {position:absolute; visibility:hidden;}
.pat-info-hdr {background:#E8EFF9; font:normal 12px Tahoma; color:#505050;}
.pat-cat, .pat-cat-hd {width:54%; float:left; display:inline-block; padding-right:.5em;}
.pat-dt, .pat-dt-hd {width:40%; float:left; display:inline-block; padding-left:.5em;}


/* ========== Notes/Reminders ========== */
.nr-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;} 
.nr-info-hdr {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.nr-info-hd, .nr-info dt, .nr-det-hd {position:absolute; visibility:hidden;}
.nr-info-hdr {background:#E8EFF9; font:normal 12px Tahoma; color:#505050;}
.nr-auth, .nr-auth-hd {width:20%; float:left; display:inline-block; padding-left:.5em; padding-right:.5em;}
.nr-dt-hd {width:20%; float:left; display:inline-block; padding-left:.5em;}
.nr-dt {width:20%; float:left; font: 11px Tahoma; color: #505050; display:inline-block; padding-left:.5em;}
.nr-txt, .nr-txt-hd {width:50%; float:left; display:inline-block; padding-right:.5em;}
.nr-prior, .nr-prior-hd {width:12%; float:left; display:inline-block; padding-left:.5em; padding-right:.5em;}
.nr-subj, .nr-subj-hd {width:22%; float:left; display:inline-block; padding-left:.5em;}
.nr1-dt-hd {width:15%; float:left; display:inline-block; padding-left:.5em;}
.nr1-dt {width:15%; float:left; font: 11px Tahoma; color: #505050; display:inline-block; padding-left:.5em;}
.nr-stat, .nr-stat-hd {width:20%; float:left; display:inline-block; padding-right:.5em;}



.selectedanchor{ /*CSS class that gets added to the currently selected anchor link (assuming it's a text link)*/

}


/* ######### Default class for drop down menus ######### */

.anylinkcss{
position: absolute;
left: 0;
top: 0;
visibility: hidden;
border: 1px solid black;
border-bottom-width: 1px;
font: 13px/1.5em Tahoma
line-height: 18px;
z-index: 100; /* zIndex should be greater than that of shadow's below */
background: #FFC;
width: 400px; /* default width for menu */
}

.anylinkcss ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.anylinkcss ul li a{
width: 100%;
display: block;
text-indent: 3px;

padding: 1px 0;
text-decoration: none;
font: 13px/1.5em Tahoma
text-indent: 5px;
}

.anylinkcss a:hover{ /*hover background color*/
background: #FFC;

}

/* ######### Alternate multi-column class for drop down menus ######### */


.anylinkcsscols{
position: absolute;
left: 0;
top: 0;
visibility: hidden;
border: 1px solid black;
padding: 10px;
font: 13px/1.5em Tahoma
z-index: 100; /*zIndex should be greater than that of shadow's below*/
background: #FFC;
}

.anylinkcsscols .column{
width: 130px;
float: left;
}

.anylinkcsscols .column ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.anylinkcsscols li{
padding-bottom: 3px;
}

/* ######### class for shadow DIV ######### */


.anylinkshadow{ /*CSS for shadow. Keep this as is */
position: absolute;
left: 0;
top: 0;
z-index: 99; /*zIndex for shadow*/
background: black;
visibility: hidden;
}

