/* ============== CSS RESET ============== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
	big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt,
	dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; vertical-align:baseline;}
:focus {outline:0;}
body {color:#000; background:#FFF; font:normal 13px/1.5em Tahoma, sans-serif; text-align:left; width:100%;}
ol, ul {list-style:none; text-align:left;}
table {border-collapse:separate; border-spacing:0; font:normal 13px Tahoma, sans-serif;}
caption {display:none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
script {display:none;}
input {padding:0; margin:0;}

/* ========== Common Styles ========== */
a:link {text-decoration: none;}
a {color:#03C; cursor: pointer; text-decoration:none;}
a:hover {text-decoration: underline;}
hr {display:none;}
table {font-size:100%; width:100%; border-collapse:collapse;}
td {font:13px/1.5em Tahoma, sans-serif; vertical-align:top; word-wrap:break-word;}
th {font:12px/1.2em Tahoma, sans-serif; color:#505050; text-align:left; vertical-align:bottom; word-wrap:break-word;}
thead th {background:#EFEFEF; border:0; color:#505050; font-size:11px; padding:0;}
.even {background:#E5EEFC;}
.odd {background:#FFF;}
.disclaimer {font:normal 10px Tahoma, sans-serif, sans-serif; text-align:left; clear:left;}
.no-doc, .no-primary-doc {font-size:.85em; font-weight:normal; text-align: left; line-height:2em; margin:0 .5em; padding:0 .5em;}
.patHidden, .favHidden {display:none;}
.menu-content {position:absolute; border:1px solid #000; background-color:#FFF; padding:5px; z-index:2000; right:1px; top:20px; width:75%;}
.menu-hide {display:none;}
	
/* ========== Section Commons ========== */
.section {position:relative; zoom:1; background:none; margin:0 0 10px 0; font:normal 13px Tahoma, sans-serif;}
.sec-hd-tgl {float:right; text-align:center; width:1em; font-size:25px; cursor:pointer; font-weight:normal;}
.sec-hd {font:normal 14px/1.3em Tahoma, sans-serif; display:block; background:url(../images/crnr-left.png) no-repeat 0 0; border-right:1px solid #ADCC92;}
.sec-hd, .sec-hd a {color:#003C74; font-weight:bold; text-decoration:none;}
.sec-hd a:hover {text-decoration:underline; cursor:pointer; color:#3380E5;}
.sec-title {display:block; padding-left:4px;}
.sec-total {color:#505050; font:normal 11px Tahoma, sans-serif; padding-left:6px; text-decoration:none;}
.sec-content {font:normal 13px/1.5em Tahoma, sans-serif; border:1px solid #ADCC92;}
.closed .sec-content, .closed .sub-sec-content {display:none;}
.closed .sec-hd {display:block; margin:0; border-bottom:2px ridge #E0FFFF;}
.sub-sec-hd {text-align: left; font:normal 12px Tahoma, sans-serif; color:#505050; background:#F3F8EE; padding-left:2px; border-top:1px solid #ADCC92; border-bottom:1px solid #ADCC92;}  
.sub-sec-hd-tgl, .lab-sub-sec-hd-tgl {float:right; text-align:center; width:1em; cursor:pointer; font-weight:normal;}
.addPlus {cursor:pointer;	font-weight:normal;	font-size:12px;}
.addPlus img {vertical-align:middle; }
.menu .pic { vertical-align:-1px;}
.sec-hd a.addPlus {font-weight:normal; text-decoration:none; padding-left:4px;}
.sec-scrl {overflow-x:hidden; overflow-y:scroll; _width:99.50%;}
.sec-hd {padding: 1px 0;}
/*#sectionOne {float:left; padding-left:.5em;}
#sectionTwo {margin:0 .5em;}
#sectionThree {float:left;}
.column {float:left;}
.section-group {width:32.5%;}
#singleCol  {padding-left:.5em; width:98%;}
.two-col {width:48%;} 
*/

/* ========== Column Layouts ========== */
.col-group {position:relative; clear:both; float:left; width:100%; background:#FFF;}
.col-outer1, .col-outer2 {float:left; width:100%; position:relative;}
.col1, .col2, .col3 {float:left; position:relative;	padding:0 0 3px 0; overflow-x:hidden;}
.pref-columns .col1, .pref-columns .col2, .pref-columns .col3 {float:left; position:static; padding:0 .3% 3px 0; overflow-x:hidden;}
.pref-columns .col-group { padding: 0 0 0 2%; }

/* 3 Column - Equal Widths */
.three-col .col-outer2 {right:34%;}
.three-col .col-outer1 {left:33%;}
.three-col .col1 {width:32.65%; left:1.25%;}
.three-col .col2 {width:33.65%; left:1.5%; }
.three-col .col3 {width:32.65%; left:1.75%; }

/* 2 Column - Equal Widths */
.two-col .col-outer1 {right:50%;}
.two-col .col1 {width:49.3%; left:50.5%;}
.two-col .col2 {width:49.3%; left:51%;}

/* 1 Column - Full Page */
.one-col .col1 {width:99%; left:.5%;}


/* ========== Page Header ========== */
.pg-hd {padding:2px 0; margin:0 0 1px 5px; color:#003C74; border-bottom:1px solid #E7E7E7; text-align:right; line-height:1.5em; display:block; zoom:1;}
.pg-title {font-weight:bold; display:inline; font-size:16px; float:left;}
.page-ctrl {margin-right:20px; vertical-align:middle;}
#expAll {padding:0 5px;}
#clearPref {padding:0 5px;}
#banner {margin-bottom:1em; margin-left:5px;}
	
/* ========== Patient Demographics ========== */		
.dmg-pt-name-lbl, .dmg-sex-age-lbl {position:absolute; visibility:hidden;}
.dmg-info dt {padding-left:10px; display:inline; color:#505050;}
.dmg-info dd {display:inline;}
.dmg-pt-name {font:bold 14px Tahoma, sans-serif;}
.dmg-sex-age {padding-left:10px;}
.dmg-dob, .dmg-mrn, .dmg-fin, .dmg-rfv, .dmg-iso {padding-left:2px;}
.dmg-rfv {font-weight:bold;}

/* ==== PROBLEM LIST ==== */
.pl-list {zoom:1;}
.pl-med, .pl-det-hd, .pl-info dt {position:absolute; visibility:hidden;}
.pl-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.pl-name {clear:both; display:inline;}
.pl-code  {color:#666; display:inline; font-size:.85em; margin-left:.4em;}
.pl-searchBox {zoom:1; background-image:url(../images/magnifying-glass.gif); background-repeat:no-repeat; width:95%; padding-left:20px;font-size:.85em;}
.pl-searchBoxDiv {display:none;}
 /* ---- HOVER OVER ---- */		
.pl-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.pl-det.hover  {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.pl-det dt {clear:left; color:#666;}
.pl-det dt span {float:left; margin:0 0 0 .5em;}
.pl-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}
 
/* ==== Health Maintenance ==== */
#hmiContent{ zoom:1; overflow:auto; }
.closed .hmi-head {display:none;}
.hmi-head {background:#EFEFEF; border:1px solid #ADCC92; border-bottom:none; color:#505050; font:normal 11px Tahoma, sans-serif; padding:0 2px; _width:98.5%; zoom:1;}
.hmi-head .hmi-name span{ margin-left:.5em; font:normal 11px Tahoma, sans-serif;}
.hmi-head .hmi-date span{margin-right:.4em; font:normal 11px Tahoma, sans-serif;  color:#505050;}
.hmi-list {zoom:1;}
.hmi-info dt {position:absolute; visibility:hidden;}
.hmi-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.hmi-name {clear:both;}
.hmi-name span {float:left; width:71%;}
.overDue {color:#C03; font-weight:bold;}
.hmi-date span {color:#666; float:right; font-size:.85em; margin-left:1em;}
/* ---- HOVER OVER ---- */		
.hmi-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.hmi-det.hover {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.hmi-det dt {clear:left; color:#666;}
.hmi-det dt span {float:left; margin:0 0 0 .5em;}
.hmi-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}

 /* ==== Documents ==== */
.closed .doc-head {display:none;}
.doc-list {zoom:1; z-index:1;}
.doc-info, .doc-head {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.doc-head {background:#EFEFEF; border:1px solid #ADCC92; border-bottom:none; color:#505050; font:normal 11px Tahoma, sans-serif; padding:0 1%; zoom:1;}
.doc-med, .doc-det-hd, .doc-info dt {position:absolute; visibility:hidden;}
.doc-type {clear: both; display:inline-block; float:left; padding-right:5px; width:36%;}
.doc-auth {display:inline-block; float:left; padding:0 5px; width:30%;}
.doc-date {display:inline-block; float:left; padding-left:5px; width:24%;}
#docContent {overflow-x:hidden; overflow-y:auto;}        
/* ---- HOVER OVER ---- */		
.doc-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.doc-det.hover  {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.doc-det dt {clear:left; color:#666;}
.doc-det dt span {float:left; margin:0 0 0 .5em;}
.doc-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}
		
/* ==== ALLERGY LIST ==== */
.al-list {zoom:1;}
.al-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.al-med, .al-det-hd, .al-info dt {position:absolute; visibility:hidden;}
.al-name {float:left; padding-right:5px; width:48%;}
.al-reac {float:left; padding-left:5px; width:48%;}		
.al-info strong, .al-det strong {color:#C03;}		
/* ---- HOVER OVER ---- */		
.al-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.al-det.hover {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.al-det dt {clear:left; color:#666;}
.al-det dt span {float:left; margin:0 0 0 .5em;}
.al-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}

/* ==== HOME MEDICATIONS LIST ==== */
.hml-list {zoom:1; z-index:1;}
.hml-med, .hml-det-hd, .hml-info dt {position:absolute; visibility:hidden;}
.hml-list  .hml-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.hml-name  {display:inline;}
.hml-sig  {color:#666; display:inline; font-size:.85em; padding-left:5px;}
/* ---- HOVER OVER ---- */		
.hml-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.hml-det.hover {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.hml-det dt {clear:left; color:#666;}
.hml-det dt span {float:left; margin:0 0 0 .5em;}
.hml-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}
/*--med modifications--*/
.dthrd, .dthrd:hover {background:#FFF; color:#cecece; cursor:default;}
#moreOpt {font-weight:normal; cursor:pointer; background: url(../images/6361_16.gif) no-repeat 0 0; width:35px; display:inline-block; float:right;} 
#moreOptMenu {color:#000; width: 170px; }		
.med-opt {padding:0 30px 1px 10px; _width: 80%;}		
.mnu-hvr {color:#FFF; background:#0000FF; cursor: pointer;} 
#medRnwRow {border-top:1px solid #ADCC92; padding:5px;}
#medSgnRow {padding:5px; text-align:right; }
.med-route{float:left; padding-left:5px; color:#666}
#medSgnBtn { width:5em; font-size:11px; margin-right:5px; padding: 0 3px;}
.rnw-btn {font:normal 11px/1.5em Tahoma, sans-serif; margin: 0 3px;}
.rnw-btn img {vertical-align:bottom;}

#hmlBody .med-selected, .hml-list .med-selected, .med-selected .hml-sig, .med-selected .rx-hx  {color:#FFF; background:#0000FF;}
.rx-hx  {display:inline-block; color: #666; padding-right:.5em; font-size: .85em; width:20px;}
.rx-hx img {vertical-align:bottom;}
#routeLink, .disp-q-rnw, .rfl-rnw {color:#0000FF; cursor:pointer;}
#routeLink.dthrd, #routeLink.dthrd:hover {background:#FFF; color:#cecece; cursor:default; text-decoration:none;}
.med-selected .disp-q-rnw, .med-selected .rfl-rnw {color:#FFF; cursor:default;}
.cncld .disp-q-rnw, .cncld .rfl-rnw, .cmplt .disp-q-rnw, .cmplt .rfl-rnw {color:#666; cursor:default;}
.rfl, .disp-q {white-space:nowrap;}
.cncld, .cmplt {text-decoration:line-through;}
.cncld .rx-hx, .cmplt .rx-hx {text-decoration:none;}
.dur, .dur-cd, .disp-dur, .disp-dur-cd, .disp-qty-cd {display:none;}

/*====Hover table====*/
.hvr-tbl {border-collapse:collapse; position:absolute; margin-left:1px; width:120px; zoom:1; display:none;} 
.rfl-hvr-tbl {border-collapse:collapse; position:absolute; margin-left:1px; width:150px; display:none;} 
#rflAll {margin:10px;vertical-align:middle;}
.row {background: #F8F8FF; }
.row-tl {border-left: 1px solid #000;}
.row-bl {border-bottom: 1px solid #000; border-left: 1px solid #000; }
.row-tr {border-right: 1px solid #000; border-top: 1px solid #000;}
.row-br {border-bottom: 1px solid #000; border-right: 1px solid #000;}
.ref-tab {border-left: 1px solid #000; border-right: 1px solid #000; border-top: 1px solid #000;background: #F8F8FF; text-align:center; padding: 0 3px;}
.row-hd {background: #F8F8FF; line-height: 10px;}
.row-l { border-left: 1px solid #000; border-right: 1px solid #000; padding: 0 3px;}
.tspan {display:inline-block; } /*span to be clicked */
.rt-crnr {/*visibility:hidden;*/ width: 35px;}
.rfl-hvr-tbl .rt-crnr {/*visibility:hidden;*/ width: 70px;}
.qty-txt {width:20px; margin:0 10px;}
.hvr-tbl .qty-txt {width:40px; margin:0 5px;}
.rnw-t {color:#0000FF; }
.hide-tbl {display:none;}

/* ==== VITAL SIGNS ==== */
.vit-list {zoom:1; z-index:1;}
.vs-table {table-layout:fixed; zoom:1;}
.vs-table td, .vs-table th {text-align:center; width: 24%; line-height:1.2em;}
.vs-table th {clear:both; width: 25%; word-wrap:break-word;}
.vs-table .spacer, .vs-table .spacer th {display:none; width:1%; _width:1px;}
.vs-table .hd-rt {border-right:solid 2px gray;}
.vs-table tbody th {color:#666; padding:0 .75em 0 .25em; text-align:right; vertical-align:top;}
.vs-table td dt, .vs-det-hd {position:absolute; visibility:hidden;}
.vs-table .even {background:#E5EEFC;}
.criticalResult {color:#E50D34; font-weight:bold;}
.criticalHigh {color:#FF8013; font-weight:bold;}
.criticalLow {color:#0054E7; font-weight:bold;}
.cedetails {color:gray; font-size:80%;}
.section.vit-list .closed h2 {border-width:0;}
.vs-info {word-wrap:break-word;}
.closed #vitdiv1  {display:none;}
#vitdiv1 {border:1px solid #ADCC92;}
.vit-list .sec-scrl td{padding-right:15px;}
/* ---- HOVER OVER ---- */		
.vs-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.vs-det.hover {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.vs-det dt {clear:left; color:#666;}
.vs-det dt span {float:left; margin:0 0 0 .5em;}
.vs-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}

/* ==== LAB RESULTS ==== */
.section.lab-results .closed h2 {border-width:0;}
#vitdiv2 {border:1px solid #ADCC92;}
.closed #vitdiv2 {display:none;}
.lab-results .sec-scrl td{padding-right:15px;}

/* ==== VISIT ==== */
.vis-info, .vis-info-hdr {padding:0 2px; word-wrap:break-word; zoom:1;}
.vis-sub-sec-hdr {background:#E8EFF9; display:block; font:normal 11px Tahoma, sans-serif; width:100%;}
.vis-hdr-txt {padding:0 2px;}
.vis-info-hdr {background:#EFEFEF; color:#505050; font:normal 11px Tahoma, sans-serif;}
.vis-info dt, .vis-det-hd {position:absolute; visibility:hidden;}
.vis-info {border-bottom:1px solid #E8EFF9; zoom:1; line-height: 1.2em;}
.vis-dt {float:left; padding-right:5px; width:22%;}
.vis-tp {float:left; padding-left:5px; padding-right:5px; width:34%;}
.vis-lc {float: left; padding-left:5px; width:34%;}
/* ---- HOVER OVER ---- */		
.vis-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.vis-det.hover {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.vis-det dt {clear:left; color:#666;}
.vis-det dt span {float:left; margin:0 0 0 .5em;}
.vis-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}

/* ==== PROCEDURES ==== */
.proc-list {zoom:1;}
.proc-med, .proc-info dt, .proc-det-hd  {position:absolute; visibility:hidden;}
.proc-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.proc-name span {float:left; width:71%;}
.proc-date span {color:#666; float:right; font-size:.85em; margin-left:1em;}
/* ---- HOVER OVER ---- */		
.proc-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.proc-det.hover  {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.proc-det dt {clear:left; color:#666;}
.proc-det dt span {float:left; margin:0 0 0 .5em;}
.proc-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}		
 
/* ==== PAST MEDICAL ==== */
.pmh-list {zoom:1;}
.pmh-med, .pmh-info dt, .pmh-det-hd {position:absolute; visibility:hidden;}
.pmh-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.pmh-name  {clear:both; display:inline;}
.pmh-code  {color: #666; display:inline; font-size:.85em; margin-left:.3em;}
/* ---- HOVER OVER ---- */		
.pmh-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.pmh-det.hover {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.pmh-det dt {clear:left; color:#666;}
.pmh-det dt span {float:left; margin:0 0 0 .5em;}
.pmh-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}

/* ==== FAMILY ==== */
.fmh-list {zoom:1;}
.fmh-med, .fmh-info dt, .fmh-info-h dt {position:absolute; visibility:hidden;}
.fmh-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.fmh-info .fmh-cond {display: inline;}
.fmh-info .fmh-mbr  {color:#666; display:inline; font-size:.85em; margin-left:.3em;}
/* ---- HOVER OVER ---- */		
.fmh-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.fmh-det.hover {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.fmh-det dt {clear:left; color:#666;}
.fmh-det dt span {float:left; margin:0 0 0 .5em;}
.fmh-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}

/* ==== SOCIAL ==== */
.sch-list {zoom:1;}
.sch-med, .sch-info dt, .sch-info-h dt, .sch-det-hd {position:absolute; visibility:hidden;}
.sch-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.sch-cat  {display:inline;}
.sch-rsk  {color: #666; display:inline; font-size:.85em; margin-left:.5em;}
.sch-hi-rsk  {color:#C03; display:inline; font-weight:bold; font-size:.85em; margin-left:.5em;}
/* ---- HOVER OVER ---- */		
.sch-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.sch-det.hover {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.sch-det dt {clear:left; color:#666;}
.sch-det dt span {float:left; margin:0 0 0 .5em;}
.sch-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}
 
/* ==== IMMUNIZATIONS ==== */
.imm-list {zoom:1;}
.imm-med, .imm-info dt, .imm-det-hd {position:absolute; visibility:hidden;}
.imm-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.imm-name {clear:both;}
.imm-name span {float:left; width:71%;}
.imm-date span {color: #666; float:right; font-size:.85em; margin-left:1em;}
/* ---- HOVER OVER ---- */		
.imm-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.imm-det.hover {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.imm-det dt {clear:left; color:#666;}
.imm-det dt span {float:left; margin:0 0 0 .5em;}
.imm-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}
 
/* ==== PREGNANCY==== */
.prh-list {zoom:1;}
.prh-cld, .prh-info-h dt, .prh-det-hd {position:absolute; visibility:hidden;}
.prh-info-h, .prh-info {line-height:1.2em; padding:0 .5em; word-wrap:break-word; zoom:1;}
.prh-info-h .prh-name, .prh-info .prh-name, .prh-info .prh-name-num {clear:both;}
.prh-info-h .prh-name span, .prh-info .prh-name span, .prh-info-h .prh-name-num span {float:left;}
.prh-info-h .prh-name-num {clear:both; margin-left:1em;}
.prh-info-h .prh-name-num .prh-sig {color:#666; margin-left:.3em;}
.prh-info-h .prh-sig span {color:#666; float:left; margin-left:.3em;}
.prh-info .prh-name-num .prh-sig {color:#666; font-size:.85em; margin-left:.3em;}
.prh-info .prh-name-num .prh-num {font-size:.85em; margin-left:1em;}
/* ---- HOVER OVER ---- */	
.prh-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}		
.prh-det.hover {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}		
.prh-det dt {clear:left; color:#666;}	
.prh-det dt span {float:left; margin:0 0 0 .5em;}
.prh-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}

/* ==== Outstanding Orders ==== */
.oo-list {zoom:1;}
.oo-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.oo-med, .oo-info dt , .oo-det-hd {position:absolute; visibility:hidden;}
/* ---- HOVER OVER ---- */		
.oo-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.oo-det.hover {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.oo-det dt {clear:left; color:#666;}
.oo-det dt span {float:left; margin:0 0 0 .5em;}
.oo-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}
		
 /* ==== Patient Information ==== */
.pi-list {zoom:1;}
.pi-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; word-wrap:break-word;}
.pi-info dt , .pi-det-hd {position:absolute; visibility:hidden;}
.pi-table { table-layout:fixed;}
.pi-table td{border-bottom:1px solid #E8EFF9; padding-left:3px; word-wrap:break-word; line-height:1.2em; } 
.pi-table td.pi-label {color:#666;}
.pi-table td.pi-data {width:70%; word-wrap:break-word;}
/* ---- HOVER OVER ---- */		
.pi-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.pi-det.hover {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.pi-det dt {clear:left; color:#666;}
.pi-det dt span {float:left; margin:0 0 0 .5em;}
.pi-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}
		
/* ==== microbiology ==== */
.mic-list {zoom:1;}
.mic-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; word-wrap:break-word;}
.mic-det-hd {position:absolute; visibility:hidden;}
.mic-table td{border-bottom:1px solid #E8EFF9; vertical-align: middle; padding-left:3px; line-height: 1.2em;} 
.mic-table th{background:#EFEFEF; color:#505050; font-size:.85em; padding-left:3px; line-height: 1.2em;} 
.mic-table .growth span{color:#C03; font:bold 13px Tahoma, sans-serif;}
.mic-table .growth, .mic-table .growth a {color:#C03;}
.mic-table  .growth a:hover {text-decoration:underline; color:#C03;}
.mic-table .date-time{font:.8em Tahoma, sans-serif;}
/* ---- HOVER OVER ---- */		
.mic-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2.0em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.mic-det.hover {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.mic-det dt {clear:left; color:#666;}
.mic-det dt span {float:left; margin:0 0 0 .5em;}
.mic-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}
		
/* ==== pathology ==== */
.path-list {zoom:1;}
.path-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; word-wrap:break-word;}
.path-info .path-date span {display:inline-block; float:left; padding-left:.5em; width:22%;}
.path-table th{background:#EFEFEF; color:#505050; font:normal 11px Tahoma, sans-serif; padding-left:3px; line-height:1.2em;}
.path-table td{border-bottom:1px solid #E8EFF9; padding-left:3px; line-height:1.2em;} 
/* ---- HOVER OVER ---- */		
.path-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.path-det.hover {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.path-det dt {clear:left; color:#666;}
.path-det dt span {float:left; margin:0 0 0 .5em;}
.path-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}		
		
/* ==== diagnostics ==== */
.dgn-list {zoom:1;}
.dgn-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; word-wrap:break-word; }
.dgn-det-hd {position:absolute; visibility:hidden;}
.dgn-table {table-layout:fixed;}
.dgn-table td{border-bottom:1px solid #E8EFF9; vertical-align: middle; padding-left:3px;} 
.dgn-table th{background:#E8EFF9; font-size:.85em; padding-left:3px; }
.dgn-table .date-time span{font:.8em Tahoma, sans-serif; /*line-height: 1.2em;*/}
.dgn-table .dgn-cmp-hdr td {background:#EFEFEF; color:#505050; font-size:.85em;}
.dgn-table .dgn-cmp-hdr .result-col {width: 60%;}
.dgn-table .result-col {width: 60%;}
/* ---- HOVER OVER ---- */		
.dgn-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2.0em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.dgn-det.hover  {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.dgn-det dt {clear:left; color:#666;}
.dgn-det dt span {float:left; margin:0 0 0 .5em;}
.dgn-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}
		
 /* ==== Notes/Reminders ==== */
.nr-list {zoom:1;}
.subsection {margin:0;}
.sub-sec {background:#E8EFF9; font-size:.85em; font-weight:normal; padding-left:2px; text-align:left;}
.nr-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; word-wrap:break-word;}
.note-table { table-layout:fixed;}
.note-table td{border-bottom:1px solid #E8EFF9; padding-left:3px; padding-right:3px;} 
.note-table th{background:#EFEFEF; color:#505050; font-size:.85em; padding-left:3px;} 
.note-table .nr-text {word-wrap:break-word;}
.note-table .date-time {font:.8em Tahoma, sans-serif;}
.sec-scrl .note-table td{padding-right:20px;}
.rmdr-table td{border-bottom:1px solid #E8EFF9; padding-left:3px; width:35%;} 
.rmdr-table th{background:#EFEFEF; color:#505050; font-size:.85em; padding-left:3px; width:35%;} 
.rmdr-table .date-time {font:.8em Tahoma, sans-serif;}
 td.nr-pri, th.nr-pri {width:10%}
 td.nr-dt, th.nr-dt {width:15%}
 .nr-status, th.nr-status {width:25%;}
/* ---- HOVER OVER ---- */		
.nr-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.nr-det.hover {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.nr-det dt {clear:left; color:#666;}
.nr-det dt span {float:left; margin:0 0 0 .5em;}
.nr-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}

 /* ==== Diagnosis ==== */
.diag-list {zoom:1;}
.diag-info {line-height:1.2em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.diag-med, .diag-info dt, .diag-det-hd  {position:absolute; visibility:hidden;}
.diag-info .diag-name  {display:inline;}
.diag-info .diag-code  {color:#666; display:inline; font-size:.85em; margin-left:.5em;}	
.diag-searchBox {zoom:1; background-image:url(../images/magnifying-glass.gif); background-repeat:no-repeat; width:95%; padding-left:20px;font-size:.85em;}
.diag-searchBoxDiv {display:none;}

/* ---- AUTO SUGGEST CNTRL --- */
div.suggestions {-moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid black; background: white; font-size:.85em;}
div.suggestions div {cursor: default; padding: 0px 3px; }
div.suggestions div.current {background-color: #3366cc; color: white; }

/* ---- HOVER OVER ---- */		
.diag-det {background:#FFF; border:1px solid #FFF; border-color:#E5EEFC #FFF; line-height:2em;  margin:-1px 1em 1em .5em; padding:0 .5em; width:30em; word-wrap:break-word; z-index:1;}
.diag-det.hover  {background-color:#FFC; border-color:#000; display:none; position:absolute; z-index:1000;}
.diag-det dt {clear:left; color:#666;}
.diag-det dt span {float:left; margin:0 0 0 .5em;}
.diag-det dd {display:inline; float:left; margin:0 .5em; overflow-x:hidden;}		

/* ==== Growth Chart ==== */
.gc-info dt, .gc-info-hd, .gc-det-hd {position:absolute; visibility:hidden;}
.gc-lbl {color:#505050; width:25%; padding:0 2px;text-align:right;}
.gc-res1, .gc-res2, .gc-res3 {width:25%; padding:0 2px;text-align:center;}
.gc-res2 {padding-left:5px;}
th.gc-res2  {padding-left:8px;}
tbody .gc-res1 {border-right:solid 2px gray;}
#gcSpan {font-size:1em;}
#gcAdd {font-size:12px;}
#gcMenu {font-size:14px;}
.gc-hdr {background:#E8EFF9;}
.gc-table {width:100%; table-layout:fixed;}
.gc-table span {word-wrap:break-word;}
.no-gc {margin-left:.5em;}
.within {color:gray; font-size:80%;}
/* ---- Hover Formatting ---- */
.gc-det {background:#FFF; padding:0 .5em; z-index:1; margin:-1px 1em 1em .5em; width:30em; line-height:2em; border:1px solid #FFF; border-color:#E5EEFC #FFF; word-wrap:break-word;}
.gc-det.hover {position:absolute; display:none; z-index:1000; background-color:#FFC; border-color:#000;}
.gc-det dt {clear:left; color:#505050;}
.gc-det dt span {float:left; margin:0 0 0 .5em;}
.gc-det dd {float:left; display:inline; margin:0 .5em; overflow-x:hidden;}
		
/* ==== Pending Orders and Med Favs ==== */
#o td {line-height: 1.2em;}
.noe-list .sec-hd {background:url(../images/crnr-bl.gif);}
.closed .demo {display:none;}
.demo {width: 100%;}
.noe-list {zoom:1;}
.pending-table {border:1px solid #E8EFF9;}
.pending-table td {border-bottom:1px solid #E8EFF9;}
.pending-table thead th {padding:0 .25em; width:5%;}
.pending-table tfoot td {background:#EFEFEF; color:#505050; font-size:.85em; padding:0 .25em; width:5%;}
.pending-table tbody td {padding:.1em .5em; vertical-align:middle;}
.pending-table .pending-sel {width:5%;}
.pending-table .pending-ord {width:95%;}
.pending-table .pending-type {display:none; width:5%;}
.typeSel {display:none; float:right;}
#typeHead {float:right; padding-right:15px;}
tfoot td.pendingFooter {background:#CECECE;}
#pendingSubmit {background-color:#FFF; border:1px solid #999; font-size:.8em; font-weight:bold;} 
#orderSub {float:right;}
.noPendingOrd {display:none;}
#pOrders {background:url(../images/crnr-bl.gif); color:#003C74; font:bold 14px/20px Tahoma, sans-serif;}
.tbContentDiv1, .tbContentDiv2, .tbContentDiv3, .tbContentDiv4, .tbContentDiv5 {overflow-x:hidden; width:100%;} 
.favs-tbl tbody td {border-bottom:1px solid #E8EFF9; padding:0 1%;}
.detTxt {color:#666; font-size:7pt; font-weight:normal; padding-left:5px;}     
.favHidden {display:none;}
div.content {border:1px solid black; border-top:none; clear:left;}
div.content.inactive {display:none;}
ol#toc {background:#CECECE; border-bottom:1px solid black; line-height:1.5em; padding:.2em .2em 0; zoom:1;}
ol#toc a {background:#E6E6E6; color:#000; display:block; float:left; height:1.5em; padding:0 1em; text-decoration:none;}
ol#toc a:hover {background-color:#3af;}
ol#toc li {display:inline; float:left; margin:.1em;}
ol#toc li a.active {background-color:#FFF; border:1px solid black; border-bottom:none; font-weight:bold;}

/*====Drag and Drop====*/
.ui-sortable-placeholder {border:1px dotted black; visibility:visible !important; height:50px !important;}
.ui-sortable-placeholder * {visibility:hidden;}

/*====Additional Views====*/
#viewAdd {text-decoration:none; color:#003C74;}

@media print {
/* ==== COMMON STYLES ==== */

html .sec-content{font:7pt times, serif; zoom: 1;}
body {font-size:7pt; text-align:left;}
h1 {font-size:9pt;}
 h2 {font-size:8pt;}
 h2 .sec-hd {font-size:8pt;}
 h3 {font-size:7pt;}
.wrap {cursor:default; margin:0; padding:.1em; width:auto;}
table {font-size:10pt; width:100%;}

/*==== Sections ====*/
.sec-scrl, #docContent, #hmiContent {overflow-x: visible; overflow-y: visible;}
.vis-list {font-size:5pt;}
.vis-st {width:12%;}
.vis-vr {padding:0; width: 20%;}
.nr-list, .sub-sec, .sub-sec-title, .note-table, .rmdr-table, .vis-sub-sec-hdr, .dgn-table th {font:8pt times, serif;}
.sec-hd-tgl, .closed .sec-hd-tgl, .addPlus, .pic, .noe-list, #headRight {display:none;}
.closed .sec-content, .closed #vitdiv1 , .closed #vitdiv2, .closed .demo, .closed .vis-content{display: block;}
.closed .sec-hd {border-bottom:none; display:block; margin:0;}
.section {margin:0 0 1em 0; width:100%;}
.sec-content {background:none; border:1px solid; padding:0;}	
.sec-hd{background:none; border-right:none; font-size:8pt; font-weight:bold; line-height:1em;}

th, td, dt, dd, .path-table th, .vs-table th, .hmi-head .hmi-name span, .hmi-head .hmi-date span,{font:7pt times, serif;}
.no-doc {font:6pt times, serif; line-height:2em; margin:0 .5em; padding:0 .5em;}
#vitdiv1, #vitdiv2 {border:1px solid #ADCC92; zoom: 1;}
}