.progressIndicator {
	display: none;
	color: white;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-bottom: 8px;
	padding-top: 4px;
	font-family: Tahoma;
}
.progressIndicatorImage, .progressIndicatorMessage {
	padding-right: 5px;
}
.progressIndicatorImage {
	width: 12px;
	height: 12px;
}
.progressIndicatorMessage {
	font-weight: bold;
	font-size: 16px;
}
.progressIndicatorRange {
	font-size: 12px;
}
.progressBegin {
	background-color: #736F6E; /*gray*/
}
.progressDone {
	background-color: #B6B6B4; /*gray cloud*/
}