<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title></title>
	<link rel="stylesheet" type="text/css" media="all" href="../ext/extjs-4.1.0/resources/css/ext-all-debug.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/screen.css" />
	
	
	<!--  LOAD THE GENERAL JS LIBS -->
	
	<script type="text/javascript" src="../env.js"></script>
	<script type="text/javascript" src="../ext/extjs-4.1.0/ext-all-debug.js"></script>
	<script type="text/javascript" src="../univnm/jslib.js"></script>
<!-- $Compiled ../univnm/ext/QueryStore.js on 08/10/2012 at 15:53:49 -->
<!-- $Compiled ../univnm/ext/Notification.js on 08/10/2012 at 15:53:49 -->
<!-- $Compiled ../univnm/ext/RowProxy.js on 08/10/2012 at 15:53:49 -->
<!-- $Compiled ../univnm/ext/SupaGrid.js on 08/10/2012 at 15:53:49 -->
<!-- $Compiled ../univnm/ext/SequenceGenerator.js on 08/10/2012 at 15:53:49 -->
<!-- $Compiled ../univnm/db.js on 08/10/2012 at 15:53:49 -->
<!-- $Compiled app/view/Viewport.js on 08/10/2012 at 15:53:49 -->
	<script type="text/javascript" src="../univnm/mpages_core.js"></script>
	<script type="text/javascript" src="service_url.js"></script>
	<script type="text/javascript" src="../univnm/controller.js"></script>
	<script type="text/javascript" src="../univnm/controller_shared.js"></script>
	<script type="text/javascript" src="app.js"></script>
	


</head>

<body>Loading MPage ...</body>
</html>
