<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title></title>
	<link rel="stylesheet" type="text/css" media="all" href="../ext/extjs-4.1.0/resources/css/ext-all-debug.css" />
	<link rel="stylesheet" type="text/css" media="all" href="css/screen.css" />
	
	
	<!--  LOAD THE GENERAL JS LIBS -->
	
<script type="text/javascript" src="../env.js"></script>

<script type="text/javascript" src="compiled.js?dc=dccacd32-e575-4a43-9de5-11a835be0c65"></script>
<!-- $Compiled ../ext/extjs-4.1.0/ext-all.js on 08/10/2012 at 15:53:49 -->
<!-- $Compiled ../univnm/jslib.js on 08/10/2012 at 15:53:50 -->
<!-- $Compiled ../univnm/ext/QueryStore.js on 08/10/2012 at 15:53:50 -->
<!-- $Compiled ../univnm/ext/Notification.js on 08/10/2012 at 15:53:50 -->
<!-- $Compiled ../univnm/ext/RowProxy.js on 08/10/2012 at 15:53:50 -->
<!-- $Compiled ../univnm/ext/SupaGrid.js on 08/10/2012 at 15:53:50 -->
<!-- $Compiled ../univnm/ext/SequenceGenerator.js on 08/10/2012 at 15:53:50 -->
<!-- $Compiled ../univnm/db.js on 08/10/2012 at 15:53:50 -->
<!-- $Compiled app/view/Viewport.js on 08/10/2012 at 15:53:50 -->
<!-- $Compiled ../univnm/mpages_core.js on 08/10/2012 at 15:53:50 -->
<!-- $Compiled service_url.js on 08/10/2012 at 15:53:50 -->
<!-- $Compiled ../univnm/controller.js on 08/10/2012 at 15:53:50 -->
<!-- $Compiled ../univnm/controller_shared.js on 08/10/2012 at 15:53:50 -->
<!-- $Compiled app.js on 08/10/2012 at 15:53:50 -->
	<script>
		//make sure to remove this before moving to production!
		C.options.dontAcl = true;
	</script>


</head>

<body>Loading MPage ...</body>
</html>
