<div data-bind="foreach : {data :clinicalLabEvents, as : 'clinicalEvent'}">
    <b><span data-bind="text : clinicalEvent.CELABEVENTDISP, attr : {title : clinicalEvent.CELABEVENTDISP}">
    </span>: </b>
    <img data-bind=" visible : $root.isImageVisible(clinicalEvent.CELABCDFMEANING), attr : {src : $root.getImage(clinicalEvent.CELABCDFMEANING)}" />
    <span data-bind="attr : {'class' : $root.getCssClass(clinicalEvent.CELABCDFMEANING), title : $root.getLocalizedValue(clinicalEvent.CELABRESVALUE) + ' ' + clinicalEvent.CELABRESUNIT},
    text : $root.getLocalizedValue(clinicalEvent.CELABRESVALUE) + ' ' + clinicalEvent.CELABRESUNIT + ' ' "> </span><i
        data-bind="text : $root.getLocalizedDate(clinicalEvent.CELABDT), attr : {title : $root.getLocalizedDate(clinicalEvent.CELABDT)}">
    </i>
    <br />
</div>
