<div data-bind="foreach : {data :labEvents, as : 'event'}">
    <b><span data-bind="text : event.LABEVENTDISP, attr : {title : event.LABEVENTDISP}">
    </span>: </b>
    <img data-bind=" visible : $root.isImageVisible(event), attr : {src : $root.getImage(event)}" />
    <span data-bind="attr : {'class' : $root.getCssClass(event), title : $root.getLocalizedValue(event.LABRESVALUE) + ' ' + event.LABRESUNIT},
    text : $root.getLocalizedValue(event.LABRESVALUE) + ' ' + event.LABRESUNIT "></span><i
        data-bind="text : $root.getLocalizedDate(event.LABDT), attr : {title : $root.getLocalizedDate(event.LABDT)}">
    </i>
    <br />
</div>
