<div class="messageBox ui-dialog ui-widget ui-widget-content">
    <div class="modal-header ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
        <span data-bind="text: title"></span>
    </div>
    <div class="modal-body">
        <p class="message" data-bind="text: message">
        </p>
    </div>
    <div class="modal-footer ui-dialog-buttonset" data-bind="foreach: options">
        <button class="btn" data-bind="text : $data, click: function () { $parent.selectOption($data); }">
        </button>
    </div>
</div>
