<div data-bind="foreach : {data :microBiologyResults, as : 'result'}">
    <b><span data-bind="text : $root.getMicroBiologyHeader(result), attr : {title :$root.getMicroBiologyHeader(result), 'class' : $root.getNormalcyCdRedClass(result)}">
    </span>: </b><span data-bind="attr : {title : $root.getMicroBiologyDetail(result)},
    text :  $root.getMicroBiologyDetail(result) "></span><a href="#" data-bind="text : $root.getLocalizedDate(result.EVENTENDDTTMDISP), attr : {'class' : $root.getClinicalNoteClass(result), title : $root.clinicalNoteCaption}, click : $root.showClinicalNote">
    </a>
    <br />
</div>
