<table class='my-population-table'>
    <tbody>
        <tr>
            <td class="MPDefaultText" valign="top">
                <table border="0">
                    <tbody>
                        <tr>
                            <td class="MPDefaultText" valign="top">
                                <span data-i18n="app:modules.myPopulation.VIEWS"></span>
                            </td>
                            <td class="MPDefaultText" valign="top">
                                <span data-i18n="app:modules.myPopulation.VIEW_NAME_TITLE"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="MPDefaultText" valign="top">
                                <div class="my-population-delete-view" data-bind='visible : selectedMyView, click : deleteSelectedView'>
                                </div>
                                <select data-bind="options : myViewsList(), optionsText : populationOptions, optionsCaption : viewsCaption, value : selectedMyView">
                                </select>
                            </td>
                            <td class="MPDefaultText" valign="top">
                                <input data-bind='enable : myViewTextEnabled, value : selectedViewText, valueUpdate : ["input","keyup"], event : {keypress : validateString}'
                                    maxlength="25" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table border="0">
                    <tbody>
                        <tr>
                            <td class="MPDefaultText" valign="top">
                                <span data-i18n="app:modules.patientPopulation.PATIENT_LIST_LABEL"></span>
                            </td>
                            <td class="MPDefaultText" valign="top">
                                <span data-i18n="app:modules.patientPopulation.FACILITIES"></span>
                            </td>
                            <td class="MPDefaultText" valign="top">
                            </td>
                        </tr>
                        <tr>
                            <td class="MPDefaultText" valign="top">
                                <select data-bind="options : availablePatientsList, optionsText : 'LISTNM', optionsCaption : patientsListCaption, 
                                    value : selectedPatientList, enable : isPatientListActive">
                                </select>
                            </td>
                            <td class="MPDefaultText" valign="top">
                                <select data-bind="options : availableFacilities, optionsText : 'ORGNAME', optionsCaption : facilitiesCaption, 
                                    value : selectedFacility, enable : isFacilitiesActive">
                                </select>
                            </td>
                            <td class="MPDefaultText" valign="top">
                                <span><a href="#" data-i18n="app:modules.patientPopulation.NURSE_UNIT_LABEL" data-bind="click : showNurseUnits, enable : isNurseUnitActive, css :activeStatus">
                                </a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table border="0">
                    <tbody>
                        <tr>
                            <td class="MPDefaultText" valign="top">
                                <span data-i18n="app:modules.myPopulation.HIGH_RISK_CATEGORIES"></span>
                            </td>
                            <td class="MPDefaultText" valign="top">
                            </td>
                            <td class="MPDefaultText" valign="top">
                                <span data-i18n="app:modules.myPopulation.MY_CATEGORIES"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="MPDefaultText" valign="top">
                                <select style="width: 180px; height: 100px" multiple="multiple" data-bind="options : fullRiskCategories, optionsText : 'DESCRIPTION', selectedOptions : selectedAddRisks">
                                </select>
                            </td>
                            <td class="MPDefaultText" valign="top">
                                <br />
                                <br />
                                <a href="#" class="my-population-right-arrow" data-bind="click : addRiskCategory">
                                </a>
                                <br />
                                <a href="#" class="my-population-left-arrow" data-bind="click : removeRiskCategory">
                                </a>
                            </td>
                            <td class="MPDefaultText" valign="top">
                                <select style="width: 180px; height: 100px" multiple="multiple" data-bind="options : myRiskCategories, optionsText : 'DESCRIPTION', selectedOptions : selectedRemoveRisks">
                                </select>
                            </td>
                            <td class="MPDefaultText" valign="middle">
                                <a href="#" class="my-population-sequence-up" data-bind="click : sequenceUp"></a>
                                <br />
                                <a href="#" class="my-population-sequence-down" data-bind="click : sequenceDown"></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="MPDefaultText" valign="top">
                                <input class="my-population-default-checkbox" type="checkbox" data-bind="checked : defaultInd" /></span>
                                <span class="my-population-default-text" data-i18n="app:modules.patientPopulation.DEFAULT">
                                </span>
                            </td>
                            <td class="MPDefaultText" valign="top">
                            </td>
                            <td class="MPDefaultText" valign="top">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td class="MPDefaultText" valign="top">
                <table border="0">
                    <tbody>
                        <tr>
                            <!--Row contains the title-->
                            <td class="MPDefaultText" valign="top">
                                <b data-i18n="app:modules.patientPopulation.SELECTED_PATIENT_POPULATION"></b>
                            </td>
                        </tr>
                        <tr>
                            <!--Row contains the selected view's name-->
                            <td class="MPDefaultText" valign="top">
                                <div data-bind='text : displayedSelectedViewText'>
                                </div>
                                <div data-bind="visible : showViewName, css : 'my-population-new-view-text'">
                                    <span>- </span><span data-bind="text : selectedViewText"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <!--Row contains a list of the selected/assigned patient lists/facilities (and their nurse units)-->
                            <td class="MPDefaultText" valign="top">
                                <div data-bind="text : catPopulationListName()">
                                </div>
                                <div class='my-population-nurse-unit-list' data-bind="foreach : selectedNurseUnits">
                                    <div data-bind="text : '- ' + LOCATIONDISP">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
