<div>
    <span class="spanCursor" data-bind="click : expandCollapse">[+]</span><input type="checkbox"
                                                                                 class="WLSpacer" data-bind="checked: isSelected" />
    <a data-bind="click:launchTab, attr : {title : linkCaption}, text : patientName"
       href="#" class="LinkText"></a><span class="WLSpacer" data-bind="text : patientAge">
    </span><span class="WLSpacer" data-bind="text :patientGender"></span><span class="WLSpacer"
                                                                               data-bind="visible : isStickyNotesActive">
        <a href="#" data-bind="attr : {'class' : imageCss, title : stickyNoteCaption}, visible : !isStickyNotePresent(), click : launchStickyNotes"></a>
        <span class="SNHover" data-bind="visible : isStickyNotePresent">
            <a href="#" data-bind="attr:{'class' : imageCss}, click : launchStickyNotes">
                <span data-bind="compose : {view : 'tooltip.html'}" class="SNHoverText"></span>
            </a>
        </span>
    </span>
</div>
<div class="hiddenPanel">
    <span data-bind="visible : PCP!= ''">
        <b data-i18n="app:modules.patientInformation.PCP_CAPTION">
        </b><span class="WLSpacer" data-bind="text : PCP"></span>
    </span><span data-bind="visible : attendingPhysician!= ''">
        <br />
        <b data-i18n="app:modules.patientInformation.ATTENDING_PHYSICIAN_CAPTION"></b><span class="WLSpacer" data-bind="text : attendingPhysician"></span>
    </span><span data-bind="visible : admittingPhysician!= ''">
        <br />
        <b data-i18n="app:modules.patientInformation.ADMITTING_PHYSICIAN_CAPTION"></b><span data-bind="text : admittingPhysician" class="WLSpacer"></span>
    </span>
    <br />
    <b data-i18n="app:modules.patientInformation.LOCATION_CAPTION"></b><span class="WLSpacer"
                                                                             data-bind="text: nurseUnit"></span><span class="WLSpacer" data-bind="text: room">
    </span><span class="WLSpacer" data-bind="text: bed"></span>
    <br />
    <b data-i18n="app:modules.patientInformation.ADMITTED_CAPTION"></b><span class="WLSpacer"
                                                                             data-bind="text : admitDate"></span>
    <br />
    <b data-bind="text : MRNFINText"></b>: <span class="WLSpacer" data-bind="text : MRNFINValue">
    </span>
    <br />
    <b data-i18n="app:modules.patientInformation.LOS_CAPTION"></b><span class="WLSpacer"
                                                                        data-bind="text : LOS"></span><span class="WLSpacer" data-bind="text : LOSSuffix">
    </span>
</div>
