<div>
    <span data-bind="visible: isPatientListVisible"><span class="WLText" data-i18n="app:modules.patientPopulation.PATIENT_LIST_LABEL">
    </span>
        <select class="WLDropDownText" data-bind="options : availablePatientsList, optionsText : 'LISTNM', optionsCaption : patientsListCaption, 
    value : selectedPatientList, enable : isPatientListActive">
        </select>
    </span><span data-bind="visible : isFacilitiesListVisible"><span class="WLText WLSpacer"
        data-i18n="app:modules.patientPopulation.FACILITIES"></span>
        <select class="WLDropDownText" data-bind="options : availableFacilities, optionsText : 'ORGNAME', optionsCaption : facilitiesCaption, 
    value : selectedFacility, enable : isFacilitiesActive">
        </select>
    </span><span data-bind="visible: isNurseUnitsLinkVisible"><a href="#" data-bind="click : showNurseUnits, enable : isNurseUnitActive, css :activeStatus, html : nurseUnitsLabel,
    attr : {title : nurseUnitsTooltip}"
        class="WLSpacer"></a></span><span class="WLSpacer">
            <button data-i18n="app:modules.patientPopulation.SUBMIT_CAPTION" data-bind="command: submitCommand, activity: submitCommand.isExecuting,
        attr : {title : submitTooltip}">
            </button>
        </span><span class="WLSpacer">
            <button data-i18n="app:modules.patientPopulation.RESET_CAPTION" data-bind="command: resetCommand">
            </button>
        </span><span id="busyIndicator" data-bind="loading: {visible : isLoading}"></span>
</div>
