<div>
    <a data-bind="attr : {'class': newNoteCssClass}, click: createNewNote" href="#"></a>
    <a data-bind="attr : {'class': deleteNoteCssClass}, click: deleteNote" href="#"></a>
    <a data-bind="attr : {'class': saveImgCssClass}, click: saveNote" href="#"></a>
    <p>
        <span class="WLText" data-i18n="app:modules.stickyNote.WRITTEN_BY_CAPTION"></span>
        : <span data-bind="text: writtenBy"></span><span class="WLText WLSpacer" data-i18n="app:modules.stickyNote.DATE_CAPTION">
        </span>: <span data-bind="text: currentNoteDate"></span>
    </p>
    <textarea data-bind="disable : isProcessing, value: noteText,valueUpdate : ['input','keyup'], event : {keypress : validateString}"
              rows="4" cols="50"></textarea>
    <p>
    </p>
    <a data-bind="attr : {'class' : leftArrowImgCssClass}, click : showPreviousNote" href="#"></a>
    <span data-bind="text : currentNoteNumber" class="noteCount"></span><span class="noteCount">
        of
    </span><span data-bind="text : totalNoteNumber" class="noteCount"></span>
    <a data-bind="attr : {'class' : rightArrowImgCssClass}, click : showNextNote" href="#"></a>
    <p>
    </p>
</div>
