<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="SNDefaultText" valign="top">
            <b data-bind="text : $root.patientName"></b>
        </td>
        <td class="SNDefaultText" valign="top">
            <span class="WLSpacer" data-i18n="app:modules.tooltip.DOB_CAPTION"></span><span class="WLSpacer"
                data-bind="text : $root.patientDOB"></span>
        </td>
        <td class="SNDefaultText" valign="top">
            <span data-bind="text : $root.MRNFINText" class="WLSpacer"></span>: <span class="WLSpacer"
                data-bind="text : $root.MRNFINValue"></span>
        </td>
    </tr>
    <tr>
        <td class="SNDefaultText" colspan="3">
            <span data-i18n="app:modules.tooltip.LATEST_NOTE_CAPTION"></span><span data-bind="text : $root.latestStickyNote"
                class="WLSpacer"></span>
        </td>
    </tr>
</table>
