<span id="loadingWorklist" class="shell-margin" data-bind="loading: {visible : isLoading, options : {prepend : true}}, visible : isLoading">
    <b data-i18n="app:modules.worklist.LOADING_CAPTION"></b></span>
<div class="shell-margin">
    <span data-bind="visible : isDataAvailable"><span class="WLSpacer">
        <button data-i18n="app:modules.worklist.REMOVE_CAPTION" data-bind="command: removeCommand">
        </button>
    </span><span class="WLSpacer">
        <button data-i18n="app:modules.worklist.RESET_CAPTION" data-bind="command: resetCommand">
        </button>
    </span><span class="WLSpacer">
        <button data-i18n="app:modules.worklist.SAVE_CAPTION" data-bind="command: saveCommand">
        </button>
    </span></span>
</div>
<div class="shell-margin">
    <table class="tablestyle" cellpadding="0" cellspacing="0" data-bind="visible : isDataAvailable">
        <thead>
            <tr data-bind="foreach: columns">
                <th data-bind="visible : isVisible" class="MainText" valign="baseline" min-width="300px">
                    <input type="checkbox" data-bind="checked: isSelected, visible : $root.isHeaderCheckboxVisible($index)" />
                    <!-- ko if: isLink -->
                    <a data-bind="text : COLNAME, attr:{href : openLink}" ></a>
                    <!-- /ko -->
                    <!-- ko ifnot: isLink -->
                    <span data-bind="text: COLNAME"></span>
                    <!-- /ko -->
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach : rows -->
            <tr data-bind=" visible : $data.isVisible, attr : {'class' : $root.rowStyle($index)}">
                <!-- ko foreach : $data.HRCColumns -->
                <td valign="top" data-bind="visible : $root.isColumnVisible($index), attr : {'class' : $root.cellStyle($index)}">
                    <div data-bind="foreach : $data.qualifiedData">
                        <span data-bind="compose : {model : $root.activeView($data), activationData : $root.activationData($data,$parentContext.$parentContext.$data,$parentContext.$index), cacheViews : false}">
                        </span>
                        <br />
                    </div>
                </td>
                <!-- /ko-->
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>
<div>
    <b data-bind="visible : !isDataAvailable() && !isLoading()" data-i18n="app:modules.worklist.NO_DATA_MESSAGE">
    </b>
</div>
