#ipass-sitaware-content{display:inline-block;width:100%;position:relative;}
.ipass-sitaware-del-btn{cursor:pointer;background:url(../images/6457_up_16.png) no-repeat;width:16px;height:16px;margin-left:5px;display:inline-block;vertical-align:top;}
.ipass-sitaware-del-btn:hover{background:url(../images/6457_over_16.png) no-repeat;}
.commEditable .ipass-sitaware-edit-btn{background:url(../images/6816_16_up.png) no-repeat;width:16px;height:16px;display:inline-block;vertical-align:top;}
.commEditable .ipass-sitaware-edit-btn:hover{cursor:pointer;background:url(../images/6816_16_over.png) no-repeat;}
.ipass-sitaware-edit-btn:hover{cursor:default;}
.ipass-sitaware-delete-scroll .ipass-sitaware-text{width:92%;}
.ipass-sitaware-save:hover{text-decoration:none;}
.ipass-sitaware-save.ipass-sitaware-save-enabled{color:#3380e5;cursor:pointer;}
.ipass-sitaware-prsnl-dt{color:#505050;font-size:11px;display:inline-block;width:100%;}
.ipass-sitaware-util-icon{background:url(../images/6222_16.gif) no-repeat left top;width:16px;}
.ipass-sitaware-full{width:96%;padding:8px 0 8px 8px;position:relative;}
.ipass-sitaware-cancel{padding-left:5px;height:25px;margin-top:8px;float:right;position:relative;}
.ipass-sitaware-del,.ipass-sitaware-edit,.ipass-sitaware-edit-btn{display:inline-block;cursor:pointer;width:16px;height:16px;vertical-align:top;position:absolute;right:0;}
.ipass-sitaware-edit{right:24px;}
.ipass-sitaware-det{color:#000;font-size:12px;padding:10px 0 3px 10px;word-wrap:break-word;text-align:left;}
.ipass-sitaware-text{width:84%;word-wrap:break-word;display:inline-block;}
.ipass-sitaware-itm{width:100%;word-wrap:break-word;display:inline-block;}
.ipass-sitaware-text-area{background:#f0f1f2;padding:8px;border-bottom:1px solid #d8d8d8;}
.ipass-sitaware-new{color:#7c7c7c;font-family:Tahoma;font-size:12px;resize:none;width:97%;height:25px;overflow:hidden;padding:4px;}
.ipass-sitaware-none{font-size:12px;padding-bottom:35px;color:#7b7b7b;}
.ipass-sitaware-show{margin-left:8px;}
.ipass-sitaware-btn{float:right;height:25px;padding-right:10px;}
.ipass-sitaware-btn:hover{text-decoration:none;}
.ipass-sitaware-scroll{overflow-y:auto;margin-bottom:5px;border-bottom:1px solid #D8D8D8;}
.ipass-sitaware-box{border-bottom:1px solid #d8d8d8;}
.ipass-sitaware-even{background:#e8ebf5;}
.ipass-sitaware-odd{background:#FFF;}
.ipass-sitaware-loading{background:transparent url(../images/6439_24.gif) no-repeat scroll center;height:48px;padding:10px 0;}
.ipass-sitaware-confirm,.ipass-sitaware-del-confirm{display:inline-block;padding:7px 62px 0 25px;font-size:12px;background:url("../images/4017_16.png") no-repeat 2px 7px;}
.ipass-sitaware-confirm-icon{padding:8px 10px 10px;width:95%;}
.ipass-sitaware-field-max{color:#7c7c7c;float:left;font-size:11px;padding:5px;}
.ipass-sitaware-savcan{text-align:right;padding-top:7px;}
.ipass-sitaware-save{margin-right:2px;height:25px;padding:10px 6px 2px 0;color:#a0a0a0;}
.ipass-sitaware-savecancel{padding:10px 0 2px 0;}
.ipass-sitaware-cansavebutton,.ipass-sitaware-savebutton,.ipass-sitaware-delbutton{padding:2px 12px;cursor:pointer;min-width:50px;}
.ipass-sitaware-cansavebutton:disabled,.ipass-sitaware-savebutton:disabled,.ipass-sitaware-delbutton:disabled{cursor:default;}
.ipass-sitaware-deletepad{padding:2px 6px;}
.ipass-sitaware-field-textfull{font-weight:bold;color:#C00;}
.ipass-sitaware-delete,.ipass-sitaware-edit-action{border:1px solid #88ADE6;}
.ipass-sitaware-text-area .error-icon-component{font-size:11px;padding-left:18px;}
.ipass-sitaware-text.hidden,.ipass-sitaware-prsnl-dt.hidden{display:none;}
.commEditable.ipass-sitaware-edit-action .ipass-sitaware-edit-btn,.commEditable.ipass-sitaware-edit-action .ipass-sitaware-del-btn,.commEditable.ipass-sitaware-edit-action .ipass-sitaware-edit,.commEditable.ipass-sitaware-edit-action .ipass-sitaware-del{display:none;}
.ipass-sitaware-edit-text-area{border:none;resize:none;font:normal 12px/1.5em Tahoma,Geneva,Verdana,Trebuchet MS,sans-serif;background:transparent;margin:0 0 5px 10px;padding-bottom:5px;overflow-y:auto;width:95%;}
.ipass-sitaware-edit-footer{text-align:right;padding:5px;}
.ipass-sitaware-separator-top{border-bottom:1px solid #DDD;height:1px;display:block;}
.ipass-sitaware-separator-bottom{border-bottom:1px solid #FFF;height:1px;display:block;}
.ipass-sitaware-btns-container{float:right;}
.ipass-actions-separator-top{border-bottom:1px solid #DDD;height:1px;display:block;margin:0 -8px;}
.ipass-actions-separator-bottom{border-bottom:1px solid #FFF;height:1px;display:block;margin:0 -8px;}
.ipass-sitaware-edit-action .ipass-sitaware-full{padding:10px 0 0 0;width:100%;}
.ipass-sitaware-field-max.ipass-actions-field-textfull{color:#C00;}
.ipass-sitaware-delete .ipass-sitaware-del-btn,.ipass-sitaware-delete .ipass-sitaware-edit-btn{display:none;}