#ipass-actions-content{position:relative;}
.ipass-actions-txt{border-bottom:1px solid #D8D8D8;word-wrap:break-word;white-space:nowrap;font-size:12px;padding:10px 8px;font-family:Tahoma,sans-serif;box-sizing:border-box;display:table;width:100%;}
.ipass-actions-done-txt-color{color:#A0A0A0;}
.ipass-actions-active-txt-color{color:#000;}
.ipass-actions-itm{display:table-cell;white-space:normal!important;}
.ipass-actions-edit-action .ipass-actions-itm{padding-left:20px;}
.ipass-actions-del{color:#446793;width:16px;height:16px;}
.ipass-actions-author-timestamp{color:#505050;font-size:11px;clear:both;display:table-cell;padding:0 0 5px 24px;}
.ipass-actions-author-container{display:table-row;}
.ipass-actions-hover .ipass-actions-del{color:#446793;cursor:pointer;background:url("../images/6457_up_16.png") no-repeat right top;width:16px;height:16px;}
.ipass-actions-delete-action,.ipass-actions-edit-action{border:1px solid #88ADE6;padding:10px 0 0 0;}
.ipass-actions-hover .ipass-actions-del:hover{color:#446793;cursor:pointer;background:url("../images/6457_over_16.png") no-repeat right top;width:16px;height:16px;}
.ipass-actions-edit{display:inline-block;color:#446793;padding-left:6px;width:16px;height:16px;display:table-cell;}
.ipass-actions-hover .ipass-actions-edit.ipass-actions-edit-active{color:#446793;cursor:pointer;background:url("../images/6816_16_up.png") no-repeat right top;width:16px;height:16px;}
.ipass-actions-hover .ipass-actions-edit.ipass-actions-edit-active:hover{color:#446793;cursor:pointer;background:url("../images/6816_16_over.png") no-repeat right top;width:16px;height:16px;}
.ipass-actions-edit-action .ipass-actions-edit,.ipass-actions-edit-action .ipass-actions-del,.ipass-actions-hover.ipass-actions-edit-action .ipass-actions-edit,.ipass-actions-data.hidden,.ipass-actions-author-timestamp.hidden{display:none;}
.ipass-actions-edit-action .ipass-actions-new{margin-bottom:8px;}
#iPassActionsEditTextBox.ipass-actions-new{height:auto;width:94%;resize:none;overflow-y:auto;font:12px Tahoma,sans-serif;border:none;padding:none;color:#000;}
.ipass-actions-new{height:25px;width:97%;resize:none;overflow:hidden;font:12px Tahoma,sans-serif;padding:4px;color:#7c7c7c;}
.ipass-actions-textarea-buttons{display:inline-block;width:100%;border-top:1px solid #D8D8D8;box-sizing:border-box;padding-top:5px;}
.ipass-actions-save{color:#a0a0a0;}
.ipass-actions-save.ipass-actions-save-enabled{color:#3380e5;padding:0 0 5px 5px;cursor:pointer;}
.ipass-actions-done-cnt{color:#3380e5;padding-right:10px;}
.ipass-actions-done-hd{cursor:pointer;height:26px;color:#3380e5;float:right;padding-top:6px;}
.ipass-actions-done .ipass-actions-txt{display:none;}
.ipass-actions-done.ipass-actions-exp .ipass-actions-txt{display:table;}
.ipass-actions-chk{float:left;margin-top:2px;padding-right:5px;display:table-cell;}
.ipass-actions-chk input{cursor:pointer;}
.ipass-actions-data{width:94%;padding-left:5px;display:table-cell;}
.ipass-actions-strike{text-decoration:line-through;}
.ipass-actions-div{background:#f0f1f2;padding:8px;border-bottom:1px solid #d8d8d8;}
.ipass-actions-nodata{padding:10px 5px 5px 10px;font-size:12px;color:#7b7b7b;font-family:Tahoma,sans-serif;}
.ipass-actions-field-max{padding:5px 5px 5px 15px;color:#7c7c7c;float:left;font-size:11px;}
.ipass-delete-confirm-buttons{float:right;padding:12px 2px 2px 0;}
.ipass-edit-confirm-buttons{float:right;padding:2px 2px 2px 0;}
.ipass-actions-del,.ipass-actions-del-cancel{color:#3380E5;padding-left:6px;display:table-cell;}
.ipass-actions-confirmicon{border-top:1px solid #D8D8D8;background:url("../images/4017_16.png") no-repeat 10px 16px;display:inline-block;width:100%;}
.ipass-actions-confirm,.del-confirm{float:left;padding:15px 4px 0 28px;font-size:12px;}
.ipass-actions-savcan{text-align:right;padding-top:7px;}
.ipass-actions-save{padding:10px 6px 2px 0;}
.ipass-actions-savecancel{padding:10px 0 2px 0;}
.ipass-actions-cansavebutton,.ipass-actions-savebutton,.ipass-actionscanbutton,.ipass-actionsdelbutton{padding:2px 12px;cursor:pointer;min-width:50px;min-height:16px;margin-right:5px;}
.ipass-actions-savebutton:disabled{cursor:default;}
.ipass-actions-field-textfull{font-weight:bold;color:#C00;}
.ipass-save-image{background:url("../images/6439_16.gif") no-repeat center;background-color:#EFEFEF;}
.ipass-edit-confirm-buttons input,.ipass-sitaware-edit-footer input{min-width:50px;min-height:16px;margin-right:5px;}
.ipass-actions-delete-action .ipass-actions-edit,.ipass-actions-delete-action .ipass-actions-del{display:none;}
.ipass-actions-delete-action .ipass-actions-itm{padding-left:8px;}
.ipass-actions-delete-action .ipass-actions-author-timestamp{padding:0 0 5px 31px;}