.pwx_bh_div_scroll{overflow-y:auto}
.pwx_bh_grey_border_top-info{border:1px solid #ededed;word-wrap:break-word;clear:both;padding:0 .5%;overflow-x:hidden;overflow-y:auto;background:#fff}
.pwx_bh_grey_border-info{border-bottom:1px solid #ededed;border-right:1px solid #ededed;border-left:1px solid #ededed;border-top:0;word-wrap:break-word;clear:both;padding:0 .5%;overflow-x:hidden;overflow-y:auto;background:#fff}
.pwx_bh_clinevent_flex_dt_name{width:56%;float:left;display:inline-block;margin-right:1%;padding-left:.5%;white-space:nowrap;overflow:hidden}
.pwx_bh_clinevent_flex_dt_result{width:41%;float:left;display:inline-block;margin-right:1%;padding-left:.5%}
.pwx_bh_single_dt_wpad{width:97.5%;float:left;display:inline-block;margin-right:1%;padding-left:.5%}
.pwx_bh_result_link{text-decoration:none;color:Black;cursor:pointer}
span:hover.pwx_bh_result_link{text-decoration:underline;color:Black;cursor:pointer}
.pwx_bh_ges_detail{font-weight:bold;padding-top:.5%;padding-bottom:.5%;padding-left:4px}
.pwx_bh_result_details{background-color:transparent;word-break:break-all}
.pwx_bh_no_text_decor{text-decoration:none!important}
.pwx_bh_small_text{font-size:11px}
.pwx_bh_grey_link{text-decoration:none;color:#a0a0a0}
.pwx_bh_grey_link:hover{text-decoration:none;color:#a0a0a0}
.pwx-bh_add-icon{background:url(../images/3941_16.png) no-repeat;width:16px;height:16px;display:inline-block;padding-right:5px}
.pwx-bh_add-icon-plus{background:url(../images/3941_16.png) no-repeat;width:16px;height:16px;display:inline-block}
.pwx-bh_add-icon-plus-arrow{background:url(../images/3943_16.gif) no-repeat;width:16px;height:16px;display:inline-block;padding-right:5px}