.pwx_areg_normal_line_height{line-height:120%}
.pwx_areg_small_text{font-size:11px}
.pwx_areg_big_text{font-size:15px;font-weight:600}
.pwx_areg_alert{color:#f00}
.pwx_areg_pwxnopad-info{word-wrap:break-word;clear:both;overflow-x:hidden;overflow-y:hidden;background:#fff}
.pwx_areg_blue2_border{border:2px solid #0070c0}
.pwx-areg_warning-icon{background:url(../images/4017_16.png) no-repeat;width:16px;height:16px;display:inline-block;padding-right:5px}
.pwx_areg_single_dt_wpad{width:97.5%;float:left;display:inline-block;margin-right:1%;padding-left:.5%}
.pwx_areg_single_sub_sec_dt{width:100%;float:left;display:inline-block;background-color:#cddcee;word-wrap:break-word}
.pwx_areg_sub_sec_link{text-decoration:none;color:#3e3e3e;cursor:pointer;word-wrap:break-word}
.pwx_areg_sub_sec_link:hover{text-decoration:none}
.pwx-areg_sub-sec-hd-tgl{background:url(../images/sprite_green.png) -36px 0;font-size:1px;color:#cddcee;height:7px;width:7px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px}
.pwx-areg_sub-sec-hd-tgl-close{background:url(../images/sprite_green.png) -28px 0;font-size:1px;color:#cddcee;height:9px;width:5px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px}
.pwx_areg_grey_border_top-info{border:1px solid #ededed;word-wrap:break-word;clear:both;padding:0 .5%;overflow-x:hidden;overflow-y:auto;background:#fff}
.pwx_areg_grey_border-info{border-bottom:1px solid #ededed;border-right:1px solid #ededed;border-left:1px solid #ededed;border-top:0;word-wrap:break-word;clear:both;padding:0 .5%;overflow-x:hidden;overflow-y:auto;background:#fff}
.pwx_areg_result_link{text-decoration:none;color:Black}
.pwx_areg_result_link:hover{color:Black}
.pwx_areg_2_col_lbl_reg{width:29.5%;float:left;display:inline-block;margin-right:1%;padding-left:.5%}
.pwx_areg_2_col_value_reg{width:68%;float:left;display:inline-block;margin-left:1%}
.pwx_areg_identifier_class{padding-left:5px;font-size:9px;color:#a0a0a0}
.pwx_reg_pad-info{word-wrap:break-word;clear:both;overflow-x:hidden;overflow-y:hidden;background:#fff}
.pwx_areg_no_text_decor{text-decoration:none!important}
.pwx_areg_grey_link{text-decoration:none;color:#a0a0a0}
.pwx-areg_add-icon{background:url(../images/3941_16.png) no-repeat;width:16px;height:16px;display:inline-block;padding-right:5px}
.pwx-areg_add-icon-plus{background:url(../images/3941_16.png) no-repeat;width:16px;height:16px;display:inline-block}
.pwx-areg_add-icon-plus-arrow{background:url(../images/3943_16.gif) no-repeat;width:16px;height:16px;display:inline-block;padding-right:5px}
.pwx_areg_result_details{background-color:transparent;word-break:break-all}