.pwx_asumm_alert{color:#f00}
.pwx_asumm_result_details{background-color:transparent;word-break:break-all}
.pwx_asumm_blue2_border_top{border-top:2px solid #0070c0;border-left:2px solid #0070c0;border-right:2px solid #0070c0}
.pwx_asumm_blue2_border_bottom{border-bottom:2px solid #0070c0;border-left:2px solid #0070c0;border-right:2px solid #0070c0}
.pwx_asumm_grey_dash_border_top{border-top:1px solid #ededed;border-left:1px dashed #a0a0a0;border-right:1px dashed #a0a0a0}
.pwx_asumm_grey_dash_border_side{border-left:1px dashed #a0a0a0;border-right:1px dashed #a0a0a0}
.pwx_asumm_grey_dash_border_bottom{border-bottom:1px dashed #a0a0a0;border-left:1px dashed #a0a0a0;border-right:1px dashed #a0a0a0}
.pwx_asumm_small_text{font-size:11px}
.pwx_asumm_big_text{font-size:15px;font-weight:bold}
.pwx_asumm_pointer{cursor:pointer}
.pwx_asumm_no_text_decor{text-decoration:none!important}
.pwx_asumm_normal_line_height{line-height:120%}
.pwx_asumm_div_scroll{overflow-y:auto}
.pwx_asumm_white_background{background:#fff}
.pwxnopad_asumm-info{word-wrap:break-word;clear:both;overflow-x:hidden;overflow-y:hidden;background:#fff}
.pwx-asumm_info{word-wrap:break-word;clear:both;margin-top:0;padding:0 .5%;overflow-x:hidden;overflow-y:hidden;background:#fff}
.pwx_asumm_grey_border-info{border-bottom:1px solid #ededed;border-right:1px solid #ededed;border-left:1px solid #ededed;border-top:0;word-wrap:break-word;clear:both;padding:0 .5%;overflow-x:hidden;overflow-y:auto;background:#fff}
.pwx_asumm_grey_border_sides-info{border-right:1px solid #ededed;border-left:1px solid #ededed;border-top:0;word-wrap:break-word;clear:both;padding:0 .5%;overflow:hidden;background:#fff}
.pwx_asumm_grey_border_top-info{border:1px solid #ededed;word-wrap:break-word;clear:both;padding:0 .5%;overflow-x:hidden;overflow-y:auto;background:#fff}
.pwx_asumm_grey_dash_border-info{border-top:1px dashed #a0a0a0;border-right:1px dashed #a0a0a0;border-left:1px dashed #a0a0a0;word-wrap:break-word;clear:both;padding:0 .5%;overflow-x:hidden;overflow-y:hidden;background:#fff}
.pwx_asumm_float_left_dt_wpad{float:left;display:inline-block;margin-right:1%;padding-left:.5%;vertical-align:middle}
.pwx_asumm_float_mid_dt_wpad{float:left;display:inline-block;margin-left:1%;vertical-align:middle;overflow-x:hidden}
.pwx_asumm_float_right_dt_wpad{float:right;display:inline-block;margin-left:1%;vertical-align:middle;overflow-x:hidden}
.pwx_asumm_single_sub_sec_dt{width:100%;float:left;display:inline-block;background-color:#cddcee;word-wrap:break-word}
.pwx-asumm_sub-sec-hd-tgl{background:url(../images/sprite_green.png) -36px 0;font-size:1px;color:#cddcee;height:7px;width:7px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px}
.pwx-asumm_sub-sec-hd-tgl-close{background:url(../images/sprite_green.png) -28px 0;font-size:1px;color:#cddcee;height:9px;width:5px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px}
.pwx-asumm_add-icon{background:url(../images/3941_16.png) no-repeat;width:16px;height:16px;display:inline-block;padding-right:5px}
.pwx-asumm_add-icon-plus{background:url(../images/3941_16.png) no-repeat;width:16px;height:16px;display:inline-block}
.pwx-asumm_add-icon-plus-arrow{background:url(../images/3943_16.gif) no-repeat;width:16px;height:16px;display:inline-block;padding-right:5px}
.pwx-asumm_modify-icon{background:url(../images/5147.gif) no-repeat 2px 0;width:16px;height:16px;display:inline-block;padding-right:5px}
.pwx-asumm_mail-icon{background:url(../images/5127.gif) no-repeat;width:14px;height:10px;display:inline-block;vertical-align:bottom}
.pwx-asumm_chart-icon{background:url(../images/5665.gif) no-repeat;width:14px;height:14px;display:inline-block;vertical-align:bottom}
.pwx-asumm_highprio-icon{background:url(../images/5278_167.gif) no-repeat;width:7px;height:16px;display:inline-block}
.pwx-asumm_complete-icon{background:url(../images/close.png) no-repeat;width:48px;height:16px;display:inline-block;padding-right:5px}
.pwx-asumm_cancel-icon{background:url(../images/3727.gif) no-repeat;width:16px;height:16px;display:inline-block;padding-right:5px}
.pwx-asumm_graph-icon{background:url(../images/4399.gif) no-repeat;width:16px;height:16px;display:inline-block;padding-right:5px}
.pwx-asumm_print-menu-icon{background:url(../images/print_menu.png) no-repeat;width:26px;height:16px;display:inline-block}
.pwx-asumm_empty_circle-icon{background:url(../images/3918_16_empty.gif) no-repeat;width:11px;height:11px;display:inline-block}
.pwx-asumm_half_circle-note-icon{background:url(../images/3918_16_partial.gif) no-repeat;width:11px;height:11px;display:inline-block}
.pwx-asumm_full_circle-note-icon{background:url(../images/3918_16_full.gif) no-repeat;width:11px;height:11px;display:inline-block}
.pwx_asumm_sub_sec_link{text-decoration:none;color:#3e3e3e;cursor:pointer;word-wrap:break-word}
.pwx_asumm_sub_sec_link:hover{text-decoration:none;color:#3e3e3e;cursor:pointer;word-wrap:break-word}
a.pwx_asumm_result_link{text-decoration:none;color:Black}
a:hover.pwx_asumm_result_link{text-decoration:underline;color:Black}
.pwx_asumm_grey_link{text-decoration:none;color:#a0a0a0}
a:hover.pwx_asumm_grey_link{text-decoration:underline;color:#a0a0a0}
.pwx_asumm_pat_summ_btn_row{width:100%;float:left;display:inline-block}
.pwx_asumm_btn-seg-cntrl{cursor:pointer;display:inline-block;vertical-align:middle;font:12px Tahoma;float:left}
.pwx_asumm_btn-seg-cntrl div{display:inline-block;vertical-align:middle;float:left;padding-top:3px}
.pwx_asumm_btnLeft{height:19px;width:6px;background-image:url('../images/segmentedControl_inactive_farLeft.png')}
.pwx_asumm_btnCenter{text-align:left;vertical-align:middle;height:19px;background-image:url('../images/segmentedControl_inactive_center.png');white-space:nowrap;overflow:hidden}
.pwx_asumm_btnRight{height:19px;width:6px;background-image:url('../images/segmentedControl_inactive_farRight.png')}
.pwx_asumm_dithered_button div{font-weight:bold;color:#a0a0a0!important;cursor:default!important}
.pwx_asumm_dithered_button .pwx_asumm_btnLeft{height:19px;width:6px;background-image:url('../images/segmentedControl_active_farLeft.png')}
.pwx_asumm_dithered_button .pwx_asumm_btnCenter{text-align:left;vertical-align:middle;height:19px;background-image:url('../images/segmentedControl_active_center.png');white-space:nowrap;overflow:hidden}
.pwx_asumm_dithered_button .pwx_asumm_btnRight{height:19px;width:6px;background-image:url('../images/segmentedControl_active_farRight.png')}
.pwx_asumm_2_col_lbl{width:29.5%;float:left;display:inline-block;margin-right:1%;padding-left:.5%}
.pwx_summ_2_col_value{width:68%;float:left;display:inline-block;margin-left:1%}
.pwx_asumm_3_col_left{width:25%;float:left;display:inline-block;margin-right:1%;padding-left:.5%;white-space:nowrap;overflow:hidden}
.pwx_asumm_3_col_mid{width:16%;float:left;display:inline-block;margin-left:1%;white-space:nowrap;overflow:hidden}
.pwx_asumm_3_col_right{width:55.5%;float:left;display:inline-block;margin-left:1%;white-space:nowrap;overflow:hidden}
.pwx_asumm_remind_icon{width:7%;float:left;display:inline-block;margin-right:1%;text-align:right}
.pwx_asumm_remind_subject{width:63%;float:left;display:inline-block;margin-left:1%}
.pwx_asumm_remind_date{width:26%;float:left;display:inline-block;margin-left:1%;text-align:right}
.pwx-summ-menu{position:absolute;border:1px solid #000;background-color:#FFF;padding:5px;z-index:2000;right:1px;top:20px;width:75%;line-height:150%}
.pwx_alert-dpdown-menu{position:absolute;border:1px solid #000;background-color:#FFF;padding:5px;z-index:2000;right:1px;top:20px;width:75%;line-height:150%}
.pwx_asumm_visit_dt_wpad{width:99.5%;float:left;display:inline-block;padding-left:.5%;border-bottom:1px dashed #a0a0a0;white-space:nowrap;overflow:hidden}