.pwx_no_text_decor{text-decoration:none!important}
.pvrl-nopad-info{word-wrap:break-word;clear:both;overflow-x:hidden;overflow-y:hidden;background:#fff}
.pvrl-row-border-notop{border-bottom:1px solid #ededed;border-right:1px solid #ededed;border-left:1px solid #ededed}
.pvrl_single_sub_sec_dt{width:100%;float:left;display:inline-block;background-color:#cddcee;word-wrap:break-word}
.pvrl_sub_sec_link{text-decoration:none;color:#3e3e3e;cursor:pointer;word-wrap:break-word}
.pvrl_sub_sec_link:hover{text-decoration:none;color:#3e3e3e;cursor:pointer;word-wrap:break-word}
.pvrl-sub-sec-hd-tgl{background:url(../images/sprite_green.png) -36px 0;font-size:1px;color:#cddcee;height:7px;width:7px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px}
.pvrl-sub-sec-hd-tgl-close{background:url(../images/sprite_green.png) -28px 0;font-size:1px;color:#cddcee;height:9px;width:5px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px}
.pvrl-cancel-icon{background:url(../images/3727.gif) no-repeat;width:16px;height:16px;display:inline-block;padding-right:5px}
.pvrl_single_dt_wpad{width:97.5%;float:left;display:inline-block;margin-right:1%;padding-left:.5%}
.pvrl_small_text{font-size:11px}
.pvrl_grey_border-info{float:left;display:inline-block;width:99%;border:1px solid #ededed;word-wrap:break-word;clear:both;padding:0 .5%;overflow-x:hidden;overflow-y:auto;background:#fff}
.pvrl_grey_no_top_border-info{border-bottom:1px solid #ededed;border-right:1px solid #ededed;border-left:1px solid #ededed;border-top:0;word-wrap:break-word;clear:both;padding:0 .5%;overflow-x:hidden;overflow-y:auto;background:#fff}
.pvrl_single_sub_sub_sec_dt{width:97%;float:left;display:inline-block;padding-left:3%;padding-top:3px;padding-bottom:3px}
.pvrl_col_head_link{display:inline-block;float:right;padding-right:10px}
.pvrl_col_head_cnt{display:inline-block;float:left;padding-left:5px}
.pvrl_text_dt{width:90.5%;float:left;display:inline-block;margin-right:1%;padding-left:.5%}
.pvrl_text_indent_dt{width:84%;float:left;display:inline-block;margin-right:1%;padding-left:7%}
.pvrl_text_icon_dt{width:6%;float:left;display:inline-block;margin-left:1%}
.pvrl_full_text_indent_dt{width:91%;float:left;display:inline-block;margin-right:1%;padding-left:7%}
.pvrl_white_sub-sec-hd{font-size:12px;font-weight:normal;zoom:1}
.pvrl_result_link{text-decoration:none;color:Black}
a:link.pvrl_result_link{text-decoration:none;color:Black}
a:visited.pvrl_result_link{text-decoration:none;color:Black}
a:hover.pvrl_result_link{text-decoration:underline;color:Black}
a:focus.pvrl_result_link{text-decoration:none;color:Black}
a:active.pvrl_result_link{text-decoration:none;color:Black}
.pwx_pr_no_text_decor{text-decoration:none!important}
.pwx_pr_grey_link{text-decoration:none;color:#a0a0a0}
a:link.pwx_pr_grey_link{text-decoration:none;color:#a0a0a0}
a:visited.pwx_pr_grey_link{text-decoration:none;color:#a0a0a0}
a:hover.pwx_pr_grey_link{text-decoration:underline;color:#a0a0a0}
a:focus.pwx_pr_grey_link{text-decoration:none;color:#a0a0a0}
a:active.pwx_pr_grey_link{text-decoration:none;color:#a0a0a0}
.pwx-pr_add-icon{background:url(../images/3941_16.png) no-repeat;width:16px;height:16px;display:inline-block;padding-right:5px}
.pwx-pr_add-icon-plus{background:url(../images/3941_16.png) no-repeat;width:16px;height:16px;display:inline-block}
.pwx-pr_add-icon-plus-arrow{background:url(../images/3943_16.gif) no-repeat;width:16px;height:16px;display:inline-block;padding-right:5px}