.oe-detail{cursor:pointer}
.oe-detail span :hover{border:1px dashed #568ecb}
.oe-edit-tbl{border-collapse:collapse;position:absolute;margin-left:1px;min-width:120px;zoom:1;font-size:12px}
.oe-edit-tab{border-left:2px solid #568ecb;border-right:2px solid #568ecb;border-top:2px solid #568ecb;background:#cddcee;text-align:center;padding:0 3px}
.oe-edit-value{font-size:12px}
.oe-edit-tab-crnr{min-width:18px}
.oe-edit-tbl .oe-edit-tab-crnr{min-width:18px}
.oe-edit-row-hd{background:#f8f8ff;line-height:10px}
.oe-edit-row-tl{border-left:2px solid #568ecb}
.oe-edit-row-tr{border-right:2px solid #568ecb;border-top:2px solid #568ecb}
.oe-edit-row{background:#f8f8ff}
.oe-edit-row-b{border-bottom:2px solid #568ecb;border-left:2px solid #568ecb;border-right:2px solid #568ecb}
.oe-edit-row-bl{border-bottom:2px solid #568ecb;border-left:2px solid #568ecb}
.oe-edit-row-br{border-bottom:2px solid #568ecb;border-right:2px solid #568ecb}
.oe-edit-row-l{border-left:2px solid #568ecb;border-right:2px solid #568ecb;padding:0 3px}
.oe-edit-value-txt{min-width:60px;margin:0 2px}
.oe-required-field{font-weight:bold;background:yellow}
.oe-edit-en-other-details{max-height:100px;width:100%;margin-top:20px;border:1px solid black;overflow-y:auto}
.oe-edit-en-other-details table{width:100%}
.oe-edit-en-other-details table td{padding:5px 0 5px 0;vertical-align:top}
.oe-edit-en-other-details-wrapper{float:left;width:500px;padding:5px;min-height:20px}
.oe-edit-en-other-details-wrapper span.oe-edit-en-detail-label{display:inline-block;text-align:right;width:250px}
.oe-edit-en-other-details-wrapper span.oe-edit-en-detail-text{width:250px;float:right}
.oe-edit-en-top-details table{width:80%;border-collapse:collapse}
.oe-edit-en-top-details table td{width:20%;padding:3px}
.oe-edit-en-top-details table tr.oe-edit-en-detail-values td{border:1px solid black}
.oe-edit-en-top-details table tr.detail-labels td{max-width:100px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.oe-edit-en-detail-values td{cursor:default}
.oe-edit-en-detail-values td input{width:98%;height:99.99%;line-height:99.99%}
.oe-edit-en-detail-labels td.oe-format-required{font-weight:bold}
.oe-edit-en-other-details-wrapper span.oe-format-required{font-weight:bold}
.amr2-info,.amr2-info-hdr{clear:both;zoom:1;overflow-x:hidden;overflow-y:auto;word-wrap:break-word}
.amr2-sig{display:inline;padding-left:.5em}
.amr2-comm-loading{vertical-align:middle}
.amr2-loading{background-position:center;vertical-align:middle}
.amr2-info dd{display:inline;padding-top:4px;padding-bottom:4px}
.amr2-dthrd,.amr2-dthrd:hover{color:#cecece;cursor:default}
.amr2-content-ft{background:transparent;padding-top:6px;padding-left:4px}
.closed .amr2-content-ft{display:none}
.amr2-rnw-row{border-top:1px solid #959fa7;padding:5px}
.amr2-sgn-row{padding:5px;text-align:right}
.amr2-route{float:left;padding-left:5px;color:#666}
.amr2-rnw-btn{font-size:11px;line-height:1.5em;margin:0 3px}
.amr2-rnw-btn img{vertical-align:bottom}
.amr2-sgn-btn{width:5em;font-size:11px;margin-right:5px;padding:0 3px}
.content-body .amr2-med-selected,.amr2-med-selected .amr2-sig{color:#FFF;background:#00f}
.amr2-rx-hx{width:20px}
.amr2-rx-hx img{vertical-align:bottom}
.amr2-route-link,.amr2-disp-q-rnw,.amr2-rfl-rnw,.amr2-rt-spn,.amr2-sel-spn{color:#00f;cursor:pointer}
.amr2-route-link.amr2-dthrd{color:#cecece;cursor:default;text-decoration:none}
.amr2-med-selected .amr2-disp-q-rnw,.amr2-med-selected .amr2-rfl-rnw,.amr2-med-selected .amr2-route-opt-spn,.amr2-med-selected .amr2-sel-opt-spn{color:#FFF;cursor:default}
span.amr2-sel-container,.amr2-sel-container span{text-decoration:none!important}
.amr2-cncld .amr2-disp-q-rnw,.amr2-cncld .amr2-rfl-rnw,.amr2-cmplt .amr2-disp-q-rnw,.amr2-cmplt .amr2-rfl-rnw{color:#666;cursor:default}
.amr2-rfl-rnw,.amr2-disp-q{white-space:nowrap}
.amr2-cncld span,.amr2-cmplt span{text-decoration:line-through}
.amr2-route-link{text-decoration:none}
.amr2-info .amr2-dur,.amr2-info .amr2-dur-cd,.amr2-info .amr2-disp-dur,.amr2-info .amr2-disp-dur-cd,.amr2-info dt,.amr2-info .amr2-disp-qty-cd,.amr2-info .amr2-cat-cd{display:none}
.amr2-info{width:99%;min-height:18px;padding-top:4px}
.amr2-info-icon-div{width:100%;min-height:18px}
.amr2-info-icon{background:url("../images/std-info.png") no-repeat scroll left center transparent;cursor:pointer;margin-left:10px;margin-right:2px;padding-top:10px;width:16px}
.amr2-med-opt{padding:0 30px 1px 10px}
.amr2-mnu-hvr{color:#FFF;background:#00f;cursor:pointer}
.amr2-rt-hr{display:block;cursor:default}
.amr2-rt-menu{color:#000;position:absolute;border:1px solid #000;background-color:#FFF;padding:5px;z-index:2000;zoom:1}
.amr2-rt-sel{font-weight:bold}
.amr2-rt-hover-hd{font-weight:bold;text-align:center}
.amr2-rt-div{position:absolute;background-color:#FFC;border:3px solid #fff15f;padding:5px}
.amr2-rt-addr{padding:3px 0}
.amr2-tt-arr-lt{position:absolute;background:url(../images/ttArrowLt.gif) no-repeat 0 0;height:16px;width:16px;z-index:1000}
.amr2-tt-arr-rt{position:absolute;background:url(../images/ttArrowRt.gif) no-repeat 0 0;height:16px;width:16px;z-index:1000}
.amr2-rt-more-printer,.amr2-rt-printer{cursor:pointer}
.amr2-rt-uid,.amr2-defrt-uid{display:none}
.amr2-rt-more-printer{color:#6f6f6f}
.amr2-mp-hvr{font-style:italic}
.amr2-mp-div{position:absolute;background-color:#FFF;border:2px solid #000;padding:5px 10px}
.amr2-mpd-rt{border-left:none}
.amr2-mpd-lt{border-right:0}
.amr2-hover-container{cursor:default;width:100px;display:block;position:absolute}
.amr2-hover-header{float:left;width:100%;display:block;top:3px;position:relative}
.amr2-hover-header span{width:70px;border:2px solid #568ecb;background:#cddcee;border-bottom:2px solid #FFF;display:inline-block;text-align:center}
.amr2-hover-content{width:100%;float:left;padding:5px;border:2px solid #568ecb;background:#FFF}
.amr2-hover-input{width:25px;display:inline-block}
.amr2-qty-txt{width:100%;box-sizing:border-box}
.amr2-mrec{text-align:right}
.amr2-mrec span{cursor:pointer}
.amr2-mrec span:hover{text-decoration:underline}
.amr2-table dd{float:left}
.amr2-table dl{clear:both;overflow-y:hidden}
.amr2-container{border:1px solid #ededed}
.amr2-header{padding-left:4%}
.amr2-header-format{margin-top:6px;padding-left:10px}
.amr2-header-shifted{margin-right:16px;margin-left:16px}
.amr2-rx-col{min-width:25px}
.amr2-refills-container{min-width:160px}
.amr2-info dd.amr2-refills-container{font-size:12px;font-weight:bold}
.amr2-info dd.amr2-refill-days-remaining{font-weight:normal}
.amr2-med-col{width:42%}
.amr2-compliance{min-width:180px}
.amr2-order-date{min-width:80px}
.amr2-ordering-physician{width:120px}
.amr2-grouping-contentbox{top:65px}
.amr2-recon{font-size:11px;line-height:1.5em;padding:3px 6px;min-height:18px}
.amr2-modal-shade{position:absolute;z-index:2;left:0;top:0;width:100%;height:100%;background-color:black;-ms-filter:"alpha(opacity=50)";opacity:.5}
.amr2-modal-container{position:absolute;z-index:3;left:15%;top:10%;width:70%;background-color:white;height:80%;overflow-y:scroll}
.amr2-modal-container input[type=button]{height:20px;padding-left:5px;padding-right:5px}
.amr2-print-preview-container{margin:10px 5px 5px 5px;width:98%}
.amr2-preview-body .amr2-info{cursor:pointer}
.amr2-nav-buttons{float:right;text-align:right}
.amr2-dither{color:gray;text-decoration:line-through}
.amr2-container .oe-detail,.amr2-modify .amr2-name{color:#00f;cursor:default}
.amr2-container .oe-required-field{background:0}
.amr2-med-selected .oe-detail,.amr2-med-selected .amr2-name{color:#FFF}
.amr2-med-selected .oe-required-field{background:0}
.amr2-sec .sec-content{padding:0}
.amr2-content-container{padding:6px 6px 6px 6px}
.amr2-print-unselected{text-decoration:underline;color:#3380e5;cursor:pointer}
.amr2-group-heading{font-weight:bold;font-size:20px}
.amr2-modal-container .amr2-info{font-size:18px;padding-top:5px;padding-bottom:5px;overflow:hidden}
.amr2-modal-container .amr2-heading{font-size:22px}
.amr2-modal-container hr{display:block}
.amr2-rt-spn:hover,.amr2-rfl-rnw:hover,.amr2-disp-q:hover{border:1px dashed #568ecb}
.amr2-status-icon{min-width:16px;padding-left:2px;padding-right:2px}
.amr2-unreconciled{margin-right:10px;font-size:12pt;font-weight:bold;color:#cd0000}
.amr2-reconciled{margin-right:10px;font-size:12pt;color:#4f4f4f}
.amr2-print{padding-bottom:3px;padding-right:5px;vertical-align:bottom;float:right;cursor:pointer}
.amr2-status-container{text-align:right}
.amr2-status-disabled{color:#666}
.amr2-status{display:inline-block;margin-left:15px}
.amr2-status:first-child{color:#505050}
.amr2-status dd,.amr2-status dt{float:left}
.amr2-status>dd>a{margin:0;color:#000}
.amr2-status>.amr2-status-img{width:16px;height:16px;display:inline-block;margin-right:2px}
.amr2-status>.amr2-status-img.loading-status{background:url(../images/6439_16.gif) no-repeat}
.amr2-status>.amr2-status-img.unknown{background:url(../images/3865_16.gif) no-repeat}
.amr2-status>.amr2-status-img.inerror{background:url(../images/5682.gif) no-repeat}
.amr2-status>.amr2-status-img.complete,.amr2-status>.amr2-status-img.partial-complete{background:url(../images/4022_16.gif) no-repeat}
.amr2-status>.amr2-status-img.partial{background:url(../images/3688_16.png) no-repeat}
.amr2-status>.amr2-status-img.not-started{background:url(../images/4015_16.gif) no-repeat}
.amr2-refill-bar{border-collapse:collapse;position:relative;top:50%;margin-top:-7px;width:150px}
.amr2-refill-bar td{height:7px;width:12px;border:1px solid #7c7c7c}
.amr2-refill-cell-many{background-color:#88c756}
.amr2-refill-cell-empty{background-color:#f3f6fd}
.amr2-refill-cell-some{background-color:#fecc3f}
.amr2-refill-cell-few{background-color:#fc6262}
.amr2-refills-bar{min-width:150px;height:26px}
.amr2-toggle-optional{cursor:default;float:right;margin-right:10px}
.amr2-print-preview-container .amr2-heading{font-size:28px;padding-bottom:10px}
.amr2-print-preview-container #patient-banner{font-size:25px}
.amr2-print-preview-container .amr2-group-heading{font-size:25px}
.amr2-print-preview-container .amr2-info{font-size:20px}
.order-modify-details{font-style:italic}
.order-details{display:none}
.amr2-order-detail-editor{padding:10px}
.amr2-order-detail-toggle{display:inline-block;float:left;cursor:default;margin-top:-10px;margin-left:-5px}
.amr2-order-detail-toggle img{height:18px;vertical-align:middle}
.amr2-order-detail-toggle span{vertical-align:middle}
.amr2-ord-sent-container select{font-size:12px}
.oe-edit-popup{z-index:1;width:auto}
.oe-detail .oe-edit-popup table.oe-edit-tbl{border:1px solid black;margin-top:20px;width:inherit}
.oe-edit-popup table.oe-edit-tbl tr.oe-edit-tab-row{visibility:hidden}
.oe-edit-popup table.oe-edit-tbl tr td{border:0}
.oe-edit-popup table.oe-edit-tbl td.oe-edit-tab{display:none}
.oe-edit-popup table.oe-edit-tbl td.oe-edit-tab-crnr{display:none}
.oe-edit-en-other-details-wrapper{float:left;width:500px;padding:5px;min-height:20px}
.oe-edit-en-top-details table{table-layout:fixed}
.oe-edit-en-top-details table td{width:auto}