.aap-zone-body{border:1px solid #e8e8e8;border-right:0}
.aap-zone-body:after{content:"";display:table;clear:both}
.aap-zone-body .aap-col-one-third{background-color:#fdfdfd;border-right:1px solid #e8e8e8;height:100%}
.aap-zone-body .aap-col-full{background-color:#fdfdfd;padding-left:6px}
.aap-zone-body .aap-col-full .aap-label{margin-right:3%}
.aap-col-full{float:left;width:99.2%}
.aap-col-one-third{float:left;width:33%}
.aap-col-two-thirds{float:left;width:66%}
.aap-green-zone-header{background-color:#b1f3b1!important;border-left:1px solid #e8e8e8;line-height:2em}
.aap-green-zone-header:after{content:"";display:table;clear:both}
.aap-green-zone-header .aap-col-one-third{color:#000;font-weight:bold}
.aap-green-zone-header .aap-col-one-third{background-color:#b1f3b1!important}
.aap-green-zone-header .aap-col-two-thirds{background-color:#b1f3b1!important}
.aap-yellow-zone-header{background-color:#f8f2bf!important;border-left:1px solid #e8e8e8;line-height:2em}
.aap-yellow-zone-header:after{content:"";display:table;clear:both}
.aap-yellow-zone-header .aap-col-one-third{color:#000;font-weight:bold}
.aap-yellow-zone-header .aap-col-one-third{background-color:#f8f2bf!important}
.aap-yellow-zone-header .aap-col-two-thirds{background-color:#f8f2bf!important}
.aap-red-zone-header{background-color:#ffb5b5!important;border-left:1px solid #e8e8e8;line-height:2em}
.aap-red-zone-header:after{content:"";display:table;clear:both}
.aap-red-zone-header .aap-col-one-third{color:#000;font-weight:bold}
.aap-red-zone-header .aap-col-one-third{background-color:#ffb5b5!important}
.aap-red-zone-header .aap-col-two-thirds{background-color:#ffb5b5!important}
.aap-content{margin:10px}
.aap-content ul{list-style:disc;padding-left:20px}
.aap-asthma-trigger{color:#000}
.aap-asthma-trigger:after{content:"; "}
.aap-asthma-trigger:last-of-type:after{content:""}
.aap-allergy:after{content:"; "}
.aap-allergy:last-of-type:after{content:""}
.aap-label{color:#505050}
.aap-measurement{color:#000;font-weight:bold}
.aap-section{color:#000;font-weight:bold}
.aap-italics{font-style:italic}
.aap-required{color:#c00}
.aap-required-freetext{margin-left:6px}
.aap-required-freetext span{color:#c00}
.aap-dose-route,.aap-special-instructions{width:92%;margin-left:6px}
.aap-zone-comments{width:92%;margin-left:6px;color:#000}
.aap-spacer-administration{margin:6px}
.aap-table-column,.aap-title-column{min-height:22px;width:20%}
.aap-table-extra-column{min-height:22px;width:16%}
.aap-medication{color:#505050;display:block}
.aap-medications-required{background-color:#e8eaf4;padding:6px;padding-left:3%}
.aap-medications-required span{padding-left:5px}
.aap-hide-medications{background-color:#f6f6f6;color:#b4b4b4;margin:0;padding:0;display:none;vertical-align:middle;text-align:center}
.aap-footer{border:1px solid #e8e8e8;display:inline-block;width:99.2%}
.aap-footer .aap-col-full{padding:10px}
.aap-follow-in{width:20%;float:left}
.aap-follow-on{width:20%;float:left}
.aap-follow-other{width:58%;float:left}
.aap-follow-up{width:90%;margin-left:6px;float:left}
.aap-follow-up-label{float:left;color:#505050;width:90%}
.aap-powerform-links{margin:6px}
.aap-powerform-links a{padding-right:10px}
.aap-error-icon{float:right;background:url(../images/6457_up_18.png) 0 0 no-repeat;width:18px;height:18px;margin:0;padding:0}
.aap-print-information{border-bottom:1px solid black}
.aap-print-information:after{content:"";display:table;clear:both}
.aap-print-zone-header .aap-col-one-third{border-top:1px solid black;border-bottom:1px solid #e3e3e3;font-size:16px}
.aap-print-zone-header .aap-col-two-thirds{border-top:1px solid black;border-bottom:1px solid #e3e3e3}
.aap-print-title{font-size:22px;font-weight:bold;line-height:2em}
.aap-print-name{font-size:22px}
.aap-print-header{border-bottom:1px solid black;width:100%;display:inline-block;float:left}
.aap-print-title-group{float:left}
.aap-print-header-information{float:right;font-size:12px;line-height:1.25em;text-align:right}
.aap-print-zone-body{min-height:105px;width:100%;float:left}
.aap-print-content{line-height:1em;color:#505050;margin-left:64px;font-size:10px}
.aap-print-content .aap-italics{display:block}
.aap-print-measurement{font-weight:bold}
.aap-print-label-group{display:block}
.aap-print-section-header{color:#767676}
.aap-print-section-header .aap-col-two-thirds{background-color:#ececec}
.aap-print-section-header .aap-col-one-third{background-color:#ececec}
.aap-print-section-header .aap-col-full{background-color:#ececec}
.aap-print-medication{border-top:1px solid #e3e3e3;width:100%;display:inline-block}
.aap-print-footer{border-top:1px solid black;width:100%;float:left}
.aap-print-authorization{border:1px solid #dadada;padding:6px}
.aap-print-zone-icon{float:left}
.aap-component-footer{background-color:#f6f6f6;margin-top:10px;padding-top:1em;padding-bottom:1em;padding-left:10px}
.aap-component-footer a{padding-right:10px;display:inline-block}
.aap-plan-footer{float:left}
.aap-plan-footer a{padding-right:10px;display:inline-block}
.aap-moew-link,.aap-refresh-link{float:right}
.aap-multi-select{height:90%;margin-top:10px}
.aap-multi-select select{height:100%;overflow:auto}
.aap-plan-hover{position:absolute;width:250px;background-color:#f6f6f6;border:1px solid #e8e8e8}
.aap-plan-hover .aap-label{display:block}
.aap-signature-line{margin-top:20px}
.aap-padding{padding-left:6px}
.aap-client-instructions{font-weight:bold;display:inline-block}