.cdc2-cardiology-component-body{min-width:650px}
.cdc2-ekg-icon{margin-left:5px;background:url("../images/EKG_icon.png") no-repeat;width:17px;height:15px;display:inline-block}
.cdc2-sticky-labels{height:30px}
.cdc2-sticky-top-label,.cdc2-sticky-historical-label{border-bottom:1px solid #dadada;padding:0 0 0 10px;height:30px;min-width:274px;line-height:28px;background-color:#b5c8dc;font-weight:bold}
.cdc2-top-episodes-contents .cdc2-since-last-visit-episode-selected,.cdc2-top-episodes-contents .cdc2-since-last-visit-episode,.cdc2-lower-historical-interrogation-contents .cdc2-historical-interrogations,.cdc2-lower-historical-interrogation-contents .cdc2-historical-interrogations-selected{border-bottom:1px solid #dadada;padding:0 0 0 10px;line-height:28px}
.cdc2-top-episodes-contents .cdc2-since-last-visit-episode-selected,.cdc2-lower-historical-interrogation-contents .cdc2-historical-interrogations-selected{background-color:#568ecb;color:#FFF;cursor:pointer}
.cdc2-lower-historical-interrogation-contents .cdc2-historical-interrogations,.cdc2-lower-historical-interrogation-contents .cdc2-historical-interrogations-selected{padding:0}
.cdc2-lower-historical-interrogation-contents .cdc2-historical-interrogations-selected div{color:#000}
.cdc2-top-episodes-contents .cdc2-since-last-visit-episode:hover,.cdc2-lower-historical-interrogation-contents>.cdc2-historical-interrogations:hover,.cdc2-lower-historical-interrogation-contents>.cdc2-historical-interrogations>div.InterrogationChildrenPanel>div.cdc2-historical-interrogations:hover,.cdc2-lower-historical-interrogation-contents>.cdc2-historical-interrogations>div.InterrogationChildrenPanel>div.cdc2-revealed-data>div.cdc2-historical-interrogations:hover{background-color:#568ecb;color:#fff;cursor:pointer}
.cdc2-lower-historical-interrogation-contents>.cdc2-historical-interrogations:hover div{background-color:auto;color:black}
.cdc2-top-episodes-contents .cdc2-more-button,.cdc2-lower-historical-interrogation-contents .cdc2-more-button{border-bottom:1px solid #dadada;text-align:center;line-height:20px;background-color:#ddd}
.cdc2-top-episodes-contents .cdc2-more-button:hover,.cdc2-lower-historical-interrogation-contents .cdc2-more-button:hover{background-color:#568ecb;color:#fff;cursor:pointer}
.cdc2-lower-historical-interrogation-contents .cdc2-historical-interrogations>div:first-child,.cdc2-lower-historical-interrogation-contents .cdc2-historical-interrogations-selected>div:first-child{width:16px;height:16px;float:left;margin:0 4px 0 2px}
.cdc2-lower-historical-interrogation-contents .cdc2-historical-interrogations>div.expanded,.cdc2-lower-historical-interrogation-contents .cdc2-historical-interrogations-selected>div.expanded{margin-top:7px;background:url(../images/5323_expanded_16.png) no-repeat left}
.cdc2-lower-historical-interrogation-contents .cdc2-historical-interrogations>div.collapsed,.cdc2-lower-historical-interrogation-contents .cdc2-historical-interrogations-selected>div.collapsed{margin-top:6px;background:url(../images/5323_collapsed_16.png) no-repeat left}
.InterrogationChildrenPanel{background-color:#fff;border-top:1px solid #dadada;border-left:1px solid #dadada;padding-left:20px;margin-left:0}
.cdc2-lower-historical-interrogation-contents .cdc2-historical-interrogations .InterrogationChildrenPanel>div:last-child,.cdc2-lower-historical-interrogation-contents .cdc2-historical-interrogations-selected .InterrogationChildrenPanel>div:last-child{border-bottom:0 none!important}
.cdc2-revealed-data{display:block}
.cdc2-hidden-data{display:none}
.cdc2-historical-interrogation-child{background-color:#e8ebf5}
.cdc2-no-historical-device{margin:5px 10px}
#cdc2-viewing-aperture{border:1px solid #aaa;margin-left:310px;height:700px}
#cdc2-viewing-aperture div#cdc2-pdf-control-bar{height:40px;background-color:#dadada}
#cdc2-viewing-aperture object.cdc2-document-viewer-activeX,#cdc2-viewing-aperture object.cdc2-document-viewer-activeX-hidden{height:660px;width:100%}
#cdc2-viewing-aperture object.cdc2-document-viewer-activeX-hidden{margin-left:-10000px}
#cdc2-pdf-control-bar table{height:40px}
#cdc2-pdf-control-label{width:200px;color:#000;padding-left:10px;font-size:13px;vertical-align:middle;font-weight:bold}
#cdc2-pdf-control-pgs{text-align:center;color:#454545;vertical-align:middle;font-size:15px}
#cdc2-pdf-control-pgs b{color:#000;font-size:13px}
#cdc2-pdf-control-btns{width:200px;vertical-align:middle}
#cdc2-pdf-control-btns div{float:right;padding:0 0 0 10px;border-left:2px groove #ccc;margin-right:10px;height:30px;vertical-align:middle}
#cdc2-pdf-control-pgs #cdc2-pdf-control-pref-page,#cdc2-pdf-control-pgs #cdc2-pdf-control-next-page{border:0 none;width:16px;height:16px;margin:5px 0 -5px 0}
#cdc2-pdf-control-pgs .cdc2-pdf-control-pref-page{background:url(../images/Sprites/spt_CardiologyPDFViewer.png) -32px -29px}
#cdc2-pdf-control-pgs .cdc2-pdf-control-pref-page-disabled{background:url(../images/Sprites/spt_CardiologyPDFViewer.png) -48px -29px}
#cdc2-pdf-control-pgs .cdc2-pdf-control-next-page{background:url(../images/Sprites/spt_CardiologyPDFViewer.png) -64px -29px}
#cdc2-pdf-control-pgs .cdc2-pdf-control-next-page-disabled{background:url(../images/Sprites/spt_CardiologyPDFViewer.png) -80px -29px}
#cdc2-pdf-control-btns input{border:0 none;width:16px;height:16px;margin:8px 5px -8px 5px}
#cdc2-button-print-pdf{background:url(../images/Sprites/spt_CardiologyPDFViewer.png) -16px -29px}
#cdc2-forward-pdf-for-endorsement{background:url(../images/5084.gif)}
#cdc2-button-new-window-pdf{background:url(../images/Sprites/spt_CardiologyPDFViewer.png) 0 -29px}
.cdc2-header-data-row{height:75px;margin:0 0 0 -10px}
.cdc2-header-data-clear{clear:both}
.cdc2-hdr-row-device-details{float:left}
.cdc2-hover-details{display:none;border:1px solid #999;background-color:#fffce0;margin:-10px 0 0 40px;box-shadow:0 3px 6px #999;padding:7px;border-radius:5px;font-size:12px;color:#505050;font-weight:normal;z-index:9000}
.cdc2-hover-details td{padding:3px}
.cdc2-hdr-row-datum{padding:4px 20px 0 10px;font-size:12px;color:#505050}
.cdc2-hdr-row-label{color:#505050}
.cdc2-hdr-row-value{color:#000;padding-left:3px}
.cdc2-hdr-row-battery-info{font-size:12px;color:#505050}
.cdc2-hdr-row-device-name{font-size:15px;color:#000;font-weight:bold}
.cdc2-tooltip-labeltext{text-align:right;color:#505050}
.cdc2-tooltip-valuetext{text-align:left;color:#000}
#cdc2-overflow-container{height:660px;overflow:hidden;overflow-y:hidden;overflow-x:hidden;-ms-overflow-x:hidden;-ms-overflow-y:hidden;position:relative}
.cdc2-spacer-container{border-bottom:1px dashed #f00}
.cdc2-scrollPadder{width:100%;position:relative;overflow:hidden;margin:0 auto}
.cdc2-pdf-renderer{width:100%;height:660px;background-color:#CCC}
#cdc2-pdf-renderer-0{top:0}
.cdc2-pagination-label{text-align:center;margin-bottom:10px;padding-top:5px;height:30px}
#cdc2-floating-page-arrow{position:fixed;z-index:50;width:120px;height:30px;line-height:30px;margin-left:518px;background-color:#999;font-size:14px;text-align:center;color:#FFF;display:none}
#cdc2-page-x-of-y-label{background:#fff!important;font-size:13px;border:1px solid #aaa!important;text-align:center}
.cdc2-accordion-contents{max-height:700px;overflow-y:scroll;overflow-x:hidden;display:none}
div.cdc2-top-episodes-contents{display:block}
.cdc2-sugg-match-content{width:50%;display:inline-block;border-right:1px solid #dcdcdc;vertical-align:top;padding-right:15px;max-width:375px}
.cdc2-matching-device-title{font-size:12px;color:#505050}
.cdc2-search-device-content-faceup{display:inline-block;width:50%;padding-left:15px;border-left:1px solid #dcdcdc;margin-left:-1px;max-width:375px}
.cdc2-search-device-content-manage-dev{margin-left:5px}
.cdc2-search-device-section label{font-size:12px;color:#505050;margin-bottom:10px}
.cdc2-manual-search-input{width:60%;display:inline-block}
.cdc2-manual-search-button{width:30%;display:inline-block;vertical-align:top;margin-left:5px}
input.cdc2-device-serial-text{padding:2px;border:1px solid #d0d3d5;color:#9f9f9f;width:100%}
input.cdc2-find-device-btn,input.cdc2-add-device-button,.cdc2-associate-device-button{cursor:pointer;padding:2px 10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;background-color:#f6f6f6;border:1px solid #b6b6b6}
.cdc2-associate-device-button{width:100%}
.cdc2-search-device-inputs,.cdc2-search-results{padding-top:10px}
.cdc2-add-device-btn{background-color:#f6f6f6;display:inline-block;margin-top:5px;width:35%;vertical-align:top;padding-right:5px}
.cdc2-clear-columns{clear:both}
.cdc2-search-data{width:63%;display:inline-block}
.cdc2-search-patient-name{font-size:14px;color:#154072;font-weight:bold;padding:20px 10px 0 5px}
.cdc2-serial-number{font-size:14px;color:#505050}
.cdc2-disassociation-dialog-text .cdc2-serial-number{padding-left:10px}
.cdc2-search-patient-dob{font-size:12px;color:#505050;padding:0 5px 20px 5px}
.cdc2-search-patient-details{font-size:12px;color:#505050}
.cdc2-search-info-icon{float:left;padding:10px;text-align:center;width:5%;min-width:30px}
.cdc2-search-info-text{display:inline-block;font-size:12px;color:#000;padding:15px 0;width:300px}
.cdc2-search-info-text a{color:#000}
.cdc2-associate-info-text{padding:10px 10px 5px 0;font-size:12px;margin-left:55px}
.cdc2-search-device-content .cdc2-associate-info-text{width:350px}
.cdc2-search-output{margin-top:10px;background-color:#f6f6f6;border:1px solid #dcdcdc;padding:10px 0;max-width:450px}
.cdc2-device-search-errorMsg span{color:#505050}
.cdc2-disassociation-info-icon{display:inline-block;margin-right:10px}
.cdc2-disassociation-info-text{display:inline-block;font-size:12px;color:#000;vertical-align:top}
.cdc2-disassociation-info-bg{background-color:#f6f6f6;padding:5px 15px}
.cdc2-disassociation-dialog-text{padding:15px}
.cdc2-disassociation-info-icon{display:inline-block;margin-right:10px}
.cdc2-no-device-border{padding:9px 10px 9px 36px;border-left:2px solid #005fc9;background-color:#d7e5ff}
.cdc2-no-device{font-family:arial;font-weight:700;font-size:12px;color:#333;background-color:#d7e5ff;vertical-align:top;display:inline-block}
.cdc2-manage-dev-disassociation{width:50%;border-right:1px solid #dcdcdc;padding:10px 5px 0 0;vertical-align:top;display:inline-block}
.cdc2-manage-dev-association{width:50%;border-left:1px solid #dcdcdc;margin-left:-1px;padding-top:10px;vertical-align:top;display:inline-block}
.cdc2-manage-dev-undo{font-size:11px;color:#777676;cursor:pointer}
.cdc2-manage-dev-assisted{padding:5px 0 10px 5px}
.cdc2-scrollable-interrogations{float:left;height:700px;max-height:700px;max-width:300px;border:1px solid #AAA;overflow:auto!important}
.cdc2-no-results-errorMsg{font-family:tahoma;font-size:12px;color:#505050}
.cdc2-no-results-errorMsg b{color:#000}
.cdc2-request-endorsement-dialog{padding:1%;width:98%;overflow:hidden}
.cdc2-request-endorsement-input{display:inline-block;width:84%;margin-left:1%}
.cdc2-request-endorsement-to-label,.cdc2-request-endorsement-subject-label,.cdc2-request-endorsement-text{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis}
.cdc2-request-endorsement-cont{width:15%;display:inline-block;vertical-align:top;color:#505050;text-align:right}
.cdc2-request-endorsement-text-area{width:98.5%}
.cdc2-request-endorsement-text-box{width:99%}
.cdc2-request-endorsement-to-label span:first-child,.cdc2-request-endorsement-subject-label span:first-child{color:#f00}
.cdc2-request-endorsement-required-field{background-color:#ffffa0}
.cdc2-request-endorsement-warning-message{font-size:12px;background-color:#feeab8;visibility:hidden}
.cdc2-request-endorsement-warning-bg{background-color:#feeab8;padding:5px 15px}
.cdc2-request-endorsement-warning-info-icon{display:inline-block;margin-right:10px}
.cdc2-request-endorsement-warning-text{display:inline-block;font-size:12px;color:#000;vertical-align:top}
.cdc2-historical-device-header{padding:10px 10px 0 10px}
.cdc2-historical-device-model{font-size:110%;font-weight:bold}