.pmc1-device-info,.pmc1-historic-device-info{margin:5px 0 11px 0;padding:10px}
.pmc1-device-header{font-weight:bold;font-size:14px;color:#000}
.pmc1-device-info .pmc1-implant-date{margin-bottom:11px;max-width:200px}
.pmc1-serial-number{font-size:12px;color:#505050}
.pmc1-header-label{font-size:12px;color:#505050;max-width:200px}
.pmc1-header-value{font-size:12px;color:#000;padding-left:3px}
.pmc1-tooltip td{padding:1px}
.pmc1-tooltip-labeltext{text-align:right;color:#505050}
.pmc1-tooltip-valuetext{text-align:left;color:#000}
#pmc1-show-more-results-panel{text-align:right;margin-top:3px}
.pmc1-show-all{padding-right:10px}
.pmc1-tablecol-event-type,.pmc1-tablecol-date,.pmc1-tablecol-time,.pmc1-tablecol-duration{width:24%;border:0 none;padding:3px 10px 3px 10px}
.pmc1-ekg-icon{margin-left:5px;background:url("../images/EKG_icon.png") no-repeat;width:17px;height:15px;display:inline-block}
.pmc1-sugg-match-content{width:100%;min-width:300px}
.pmc1-matching-device-title{font-size:12px;color:#505050}
.pmc1-sugg-match-output{margin-top:10px;border:solid 1px #ddd;padding:15px 10px;background:#f6f6f6}
.pmc1-search-device-section{margin-left:22px}
.pmc1-search-device-section label{font-size:12px;color:#505050;margin-bottom:10px}
.pmc1-manual-search-input{width:60%;display:inline-block}
.pmc1-manual-search-button{width:30%;display:inline-block;vertical-align:top;margin-left:5px}
input.pmc1-device-serial-text{padding:2px;border:1px solid #d0d3d5;color:#9f9f9f;width:100%}
input.pmc1-find-device-btn,input.pmc1-associate-device-button{cursor:pointer;padding:2px 10px;background-color:#f6f6f6;border:1px solid #b6b6b6}
.pmc1-associate-device-button{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding:2px 5px}
.pmc1-search-device-inputs,.pmc1-search-results{padding-top:10px}
.pmc1-associate-device-btn{display:inline-block;vertical-align:top;float:right;background-color:#f6f6f6}
.pmc1-sugg-match-data{width:260px;padding-right:20px;display:inline-block}
.pmc1-search-data{width:63%;display:inline-block}
.pmc1-search-patient-name{font-size:14px;color:#154072;font-weight:bold;padding:20px 10px 0 5px}
.pmc1-search-separator{color:#dcdcdc}
.pmc1-disassociation-dialog-text .pmc1-serial-number{padding-left:10px}
.pmc1-search-patient-dob{font-size:12px;color:#505050;padding:0 5px 20px 5px}
.pmc1-search-patient-details{font-size:12px;color:#505050}
.pmc1-search-info-icon{float:left;vertical-align:top;padding:10px;text-align:center;width:5%;min-width:30px}
.pmc1-search-info-text{font-size:12px;color:#000;padding:15px 0}
.pmc1-search-info-text a{color:#000}
.pmc1-associate-info-text{padding:10px 10px 5px 0;font-size:12px;margin-left:55px}
.pmc1-add-device-btn{color:#f6f6f6;border:#fff 1px;margin-top:5px;width:35%;display:inline-block;vertical-align:top}
.pmc1-search-output{margin-top:10px;background-color:#f6f6f6;border:1px solid #dcdcdc;padding:10px 0;max-width:450px}
.pmc1-device-search-errorMsg span{color:#505050}
.pmc1-disassociation-info-icon{float:left;margin-right:10px}
.pmc1-disassociation-info-text{font-size:12px;color:#000;vertical-align:top}
.pmc1-disassociation-info-bg{background-color:#f6f6f6;padding:5px 15px}
.pmc1-disassociation-dialog-text{padding:15px}
.pmc1-no-device-border{padding:14px;border:2px solid #6295ef}
.pmc1-no-device{font-family:arial;font-weight:700;font-size:12px;color:#333;background-color:#fff;vertical-align:top}
.pmc1-no-results-errorMsg{font-family:tahoma;font-size:12px;color:#505050}
.pmc1-no-results-errorMsg b{color:#000}
.pmc1-manage-dev-disassociation{width:50%;border-right:1px solid #dcdcdc;padding:10px 5px 0 0;vertical-align:top;display:inline-block}
.pmc1-manage-dev-association{width:50%;border-left:1px solid #dcdcdc;margin-left:-1px;padding-top:10px;vertical-align:top;display:inline-block}
.pmc1-manage-dev-undo{font-size:11px;color:#777676;cursor:pointer}
.pmc1-manage-dev-assisted{padding:5px 0 10px 5px}
.pmc1-clear-columns{clear:both}
.pmc1-search-device-content-faceup{margin-left:440px;width:400px}
.pmc1-search-device-content-manage-dev{margin-left:5px}
.pmc1-sugg-match-faceup,.pmc1-manual-search-faceup{clear:both;padding-top:10px}