.pmc2-cardiology-component-body{min-width:650px}
.pmc2-device-info,.pmc2-historic-device-info{margin:5px 0 11px 0;padding:0 0 11px 3px;float:left;width:300px;color:#666}
.pmc2-device-header{font-weight:bold;font-size:14px;color:#000}
.pmc2-device-info .pmc2-implant-date{margin-bottom:11px}
.pmc2-serial-number{font-size:12px;color:#505050;max-width:200px}
.pmc2-header-label{font-size:12px;color:#505050}
.pmc2-header-value{font-size:12px;color:#000;padding-left:3px}
.pmc2-tooltip td{padding:1px}
.pmc2-tooltip-labeltext{text-align:right;color:#505050}
.pmc2-tooltip-valuetext{text-align:left;color:#000}
.pmc2-show-all{text-align:right;margin-top:3px}
.pmc2-tablecol-event-type,.pmc2-tablecol-date,.pmc2-tablecol-time,.pmc2-tablecol-duration{display:inline-table;width:20%;border:0 none;padding:3px 6px 3px 6px}
.pmc2-episode-tabular-data{margin-left:300px;min-height:100px}
.pmc2-ekg-icon{margin-left:5px;background:url("../images/EKG_icon.png") no-repeat;width:17px;height:15px;display:inline-block}
.pmc2-sugg-match-content{width:50%;display:inline-block;border-right:1px solid #dcdcdc;vertical-align:top;padding-right:15px;max-width:375px}
.pmc2-sugg-match-data{width:260px;display:inline-block;padding-right:20px}
.pmc2-matching-device-title{font-size:12px;color:#505050}
.pmc2-search-device-content-faceup{display:inline-block;width:50%;padding-left:15px;border-left:1px solid #dcdcdc;margin-left:-1px;max-width:375px}
.pmc2-search-device-content-manage-dev{margin-left:5px}
.pmc2-search-output{margin-top:10px;background-color:#f6f6f6;border:1px solid #dcdcdc;padding:10px 0;max-width:450px}
.pmc2-search-data{width:63%;display:inline-block}
.pmc2-clear-columns{clear:both}
.pmc2-search-device-section{margin-left:22px}
.pmc2-search-device-section label{font-size:12px;color:#505050;margin-bottom:10px}
.pmc2-manual-search-input{width:60%;display:inline-block}
.pmc2-manual-search-button{width:30%;display:inline-block;vertical-align:top;margin-left:5px}
input.pmc2-device-serial-text{padding:2px;border:1px solid #d0d3d5;color:#9f9f9f;width:100%}
input.pmc2-find-device-btn,input.pmc2-add-device-button,.pmc2-associate-device-button{cursor:pointer;padding:2px 10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;background-color:#f6f6f6;border:1px solid #b6b6b6}
.pmc2-associate-device-button{width:100%}
.pmc2-search-device-inputs,.pmc2-search-results{padding-top:10px}
.pmc2-add-device-btn{background-color:#f6f6f6;display:inline-block;margin-top:5px;width:35%;vertical-align:top;padding-right:5px}
.pmc2-associate-device-btn{vertical-align:top;float:right;background-color:#f6f6f6;margin:10px 10px 0 0}
.pmc2-search-patient-name{font-size:14px;color:#154072;font-weight:bold;padding:20px 10px 0 5px}
.pmc2-disassociation-dialog-text .pmc2-serial-number{padding-left:10px}
.pmc2-search-patient-dob{font-size:12px;color:#505050;padding:0 5px 20px 5px}
.pmc2-search-patient-details{font-size:12px;color:#505050}
.pmc2-search-info-icon{float:left;padding:10px 15px 0 10px;text-align:center;width:5%;min-width:30px}
.pmc2-search-info-text{font-size:12px;color:#000;padding:15px 0}
.pmc2-associate-info-text{padding:10px 10px 5px 0;font-size:12px;margin-left:55px}
.pmc2-search-device-content .pmc2-associate-info-text{width:400px}
.pmc2-sugg-match-results{margin-right:18px}
.pmc2-matching-device-title{font-family:Tahoma,Geneva,sans-serif;font-size:13px;color:#777676}
.pmc2-search-info-text a{color:#000}
.pmc2-device-search-errorMsg span{color:#505050}
.pmc2-device-search-errorMsg span{color:#505050}
.pmc2-disassociation-info-text{display:inline-block;font-size:12px;color:#000;vertical-align:top}
.pmc2-disassociation-info-bg{background-color:#f6f6f6;padding:5px 15px}
.pmc2-disassociation-dialog-text{padding:15px}
.pmc2-disassociation-info-icon{display:inline-block;margin-right:10px}
.pmc2-no-device-border{padding:9px 10px 9px 36px;border-left:2px solid #005fc9;background-color:#d7e5ff}
.pmc2-no-device{font-family:arial;font-weight:700;font-size:12px;color:#333;background-color:#d7e5ff;vertical-align:top;display:inline-block}
.pmc2-no-results-errorMsg{font-family:tahoma;font-size:12px;color:#505050}
.pmc2-no-results-errorMsg b{color:#000}
.pmc2-search-device-label{color:#777676}
.pmc2-manage-dev-disassociation{width:50%;border-right:1px solid #dcdcdc;padding:10px 5px 0 0;vertical-align:top;display:inline-block}
.pmc2-manage-dev-association{width:50%;border-left:1px solid #dcdcdc;margin-left:-1px;padding-top:10px;vertical-align:top;display:inline-block}
.pmc2-manage-dev-undo{font-size:11px;color:#777676;cursor:pointer}
.pmc2-manage-dev-assisted{padding:5px 0 10px 5px}