.hcmCareManagers-table .hcmCareManagers-name{width:41%;margin-left:1%;display:inline-block}
.hcmCareManagers-table .hcmCareManagers-width-two-column{width:50%;margin-left:1%;display:inline-block}
.hcmCareManagers-table .hcmCareManagers-width-three-column{width:12%;margin-left:1%;display:inline-block}
.hcmCareManagers-table .header-item{padding-right:0;padding-left:0}
.hcmCareManagers-result-table .result-info{border-bottom:1px solid #ededed}
.hcmCareManagers-table .selected{background-color:#568ecb;color:#FFF}