.cpo-active-pathways .btn-group{padding-left:5px}
.cpo-available-pathways{padding-top:10px}
.cpo-available-pathways>.cpo-section-details{border-bottom:1px solid #DDD;max-height:370px;overflow-y:auto}
.cpo-available-pathways>.cpo-section-header{padding-left:13px;font-weight:normal}
.cpo-collapsed-icon{background-image:url("../images/5323_collapsed_16.png")}
.cpo-disabled-text{color:#a0a0a0;cursor:default}
.cpo-expanded-icon{background-image:url("../images/5323_expanded_16.png")}
.cpo-extra-information-content{padding-left:17px;padding-bottom:5px}
.cpo-extra-information-item{padding-left:10px}
.cpo-half-section{display:inline-block;vertical-align:top;width:49%}
.cpo-historical-pathways>.cpo-section-header{border-bottom:0 solid}
.cpo-hover-cursor-pointer:hover{cursor:pointer}
.cpo-icon-container{display:inline-block;height:16px;margin-top:1px;vertical-align:top;width:16px}
.cpo-left-section{padding-right:5px}
.cpo-no-pathways{padding:5px 10px}
.cpo-overview-row-border-bottom{border-bottom:1px solid #DDD}
.cpo-pathway-button-container{line-height:30px;padding:5px 0;text-align:right}
.cpo-pathway-name-container{line-height:40px}
.cpo-pathway-name-container>.cpo-icon-container{margin-top:12px}
.cpo-right-section{padding-left:5px}
.cpo-right-section .cpo-section-header{background-color:#b6c9db}
.cpo-search-container{background-color:#f6f6f6;border:1px solid #DDD}
.cpo-search-form{padding:10px}
.cpo-search-form .close-btn{display:none!important}
.cpo-section .cpo-overview-row{padding:0 10px}
.cpo-section-details{border-left:1px solid #DDD;border-right:1px solid #DDD}
.cpo-section-header{background-color:#f6f6f6;border:1px solid #DDD;color:#3d3d3d;font-weight:bold;padding:2px 0}
.cpo-suggested-pathways .cpo-overview-row{padding-left:0}
.cpo-right-section>.cpo-sections{max-height:449px;overflow-y:auto;border-bottom:1px solid #DDD}