.hcmReferral .no-priv-msg{font-size:1.1em}
.hcmReferral-form-columned label{clear:left;float:left;width:25%;padding-right:1em;text-align:right}
.hcmReferral-form-columned select+label{margin-top:1em}
.hcmReferral-form-columned label+select{display:block;margin-top:1em;margin-bottom:@baseline}
.hcmReferral-bulleted-list{list-style-type:disc;padding-left:2em}
.hcmReferral-case-confirmation{float:left;padding:10px 0 10px 35px;background:url(../images/3865_24.png) no-repeat 5px 7px}
.hcmReferral-recently-assigned-table [class^='hcmReferral-width']{margin-left:1%;display:inline-block;vertical-align:top;word-wrap:break-word}
.hcmReferral-width-six-column{width:15%}
.hcmReferral-width-five-column{width:18%}
.hcmReferral-width-four-column{width:24%}
.hcmReferral-recently-assigned-table{padding-top:10px}
.hcmReferral-recently-assigned-table-header{margin-bottom:5px;font-size:14px}
#hcmReferraltable .hdr{padding-right:10px}
.hcmReferral-recently-referred .disabled{font-size:12px}
.hcmReferral-cm-name{font-weight:bold}
.hcm-case-form{padding-top:3%;padding-left:2%}
.hcmReferral-demo-banner-container{border-bottom:1px solid}
.hcmReferral-inline-list li{display:inline-block;font-weight:normal;margin-right:.75em}