.cto2-sec>.sec-content,.cto2-sec .content-body{overflow:hidden}
.cto2-relationship-col,.cto2-contact-col,.cto2-phone-col,.cto2-sp-hide-col{width:20%}
.cto2-contact-col .header-item-display{padding-left:22px}
.cto2-contact-icon{display:inline-block;height:16px;width:16px;margin-right:6px}
.cto2-contact-team .cto2-contact-icon,.cto2-contact-medserv .cto2-contact-icon{background:url(../images/sprite_green.png) no-repeat -420px 1px}
.cto2-primary-label,.cto2-all-facility-label{margin-left:6px}
.cto2-row-selected,.cto2-row-selected .secondary-text{background-color:#568ecb;color:#FFF}
.cto2-row-selected-init{background-color:#bbc3cb}
.cto2-main-container{width:auto}
.cto2-table{min-height:173px}
.cto2-side-panel-addition{display:inline-block;width:60%;box-sizing:border-box;float:left}
.cto2-sp-hide-mode .cto2-sp-hide-col{display:none}
.cto2-sp-hide-mode .cto2-relationship-col,.cto2-sp-hide-mode .cto2-contact-col,.cto2-sp-hide-mode .cto2-phone-col{width:33%}
.cto2-empty-table{display:inline-block;width:60%;height:140px;box-sizing:border-box;border:1px solid #DDD;position:relative}
.cto2-no-results{width:100%;float:left;text-align:center;margin-top:4em}
.cto2-read-pane{display:inline-block;width:40%;padding-left:10px;position:relative;box-sizing:border-box}
.cto2-read-pane .preview_pane{background-color:#f6f6f6;border-color:#DDD;min-width:275px;border-width:1px;min-height:118px;position:relative;box-sizing:border-box}
.cto2-rp-btn-holder{text-align:right;display:inline-block;width:100%}
.cto2-rp-btn-holder.hidden{display:none}
.cto2-rp-content{padding:10px}
.cto2-loading-spinner{height:32px;min-width:32px;background:transparent url(../images/6439_32.gif) no-repeat scroll center;padding-top:100px}
.cto2-rp-separator-top{border-bottom:1px solid #ddd;height:1px}
.cto2-rp-separator-bottom{border-bottom:1px solid #fff;height:1px}
.cto2-rp-contact-group{margin:10px 0;padding:0 10px}
.cto2-rp-member-display{margin-top:10px;margin-bottom:10px;padding:0 10px}
.cto2-rp-contact-left{width:60%;display:inline-block}
.cto2-rp-contact-right{width:40%;display:inline-block}
.cto2-rp-provider-left{width:50%;display:inline-block}
.cto2-rp-contact-right{text-align:right}
.cto2-rp-contact-display{font-size:16px}
.cto2-rp-contact-phones{margin-top:6px}
.cto2-rp-contact-phone,.cto2-rp-contact-med-svc{font-size:13px}
.cto2-rp-provider-group{margin:10px 0;padding-left:10px}
.cto2-rp-no-team-icon{background:url("../images/noMembersGlyph.png") no-repeat;height:56px;width:56px;margin:10px auto;display:block}
.cto2-rp-no-team-text{text-align:center;margin-bottom:5px}
.cto2-member-group{clear:both}
.cto2-team-header{cursor:pointer;padding-bottom:2px;padding-top:12px}
.cto2-team-toggle{float:left;display:inline-block;height:12px;width:12px;background:url("../images/5323_expanded_16.png") no-repeat right;padding-top:5px}
.closed .cto2-team-toggle{background:url("../images/5323_collapsed_16.png") no-repeat right}
.closed .cto2-member-listing{display:none}
.cto2-member-listing{clear:both;overflow:hidden}
.cto2-member-listing dt{display:none}
.cto2-member-listing dd{float:left;display:inline-block;width:40%;padding-bottom:4px;box-sizing:border-box}
.cto2-member-listing .cto2-member-name{width:60%;padding-right:3px}
.cto2-member-group .cto2-member-name{padding-left:13px;width:60%}
.cto2-expand-collapse-icon{position:relative;height:99%;width:99%}
.cto2-expand-collapse{height:22px;position:absolute;width:100%;bottom:0;background:url(../images/sidepanel_button_sides.png) repeat center transparent}
.cto2-expand{background:url(../images/sidepanel_button_expand.png) no-repeat center transparent}
.cto2-collapse{background:url(../images/sidepanel_button_collapse.png) no-repeat center transparent}
.cto2-expand-collapse:hover{cursor:pointer}
.cto2-sec .cto2-read-pane .cto2-focusin{border-color:#6a737b;box-shadow:0 0 8px rgba(0,0,0,0.5);z-index:5;padding-bottom:22px}
.cto2-on-expand{overflow-y:auto}
.cto2-modal-header{border-bottom:solid 1px #000;padding:8px 8px 2px 8px;margin:0 13px}
.cto2-modal-title{color:#3e3e3e;font-weight:bold;display:inline-block}
.cto2-modal-close{background:url(../images/6241_16.png) no-repeat;width:16px;height:16px;float:right;cursor:pointer;margin-right:-10px;margin-top:-3px}
.cto2-modal-button-container{padding-right:6px}
.cto2-modal-dialog{box-shadow:0 3px 8px rgba(0,0,0,0.3);border-radius:5px;background-color:#FFF;border:1px solid #999;left:40%;margin-left:-12%;position:fixed;top:25%;width:50%;word-wrap:break-word;z-index:2001;height:350px}
.cto2-modal-footer{text-align:right;background-color:#f6f6f6;border-radius:0 0 5px 5px;border-top:1px solid #DDD;padding:10px}
.cto2-modal-container{margin:24px 23px 10px;height:74%}
.cto2-modal-container div:first-child ul{border-left:1px solid #DDD}
.cto2-modal-contents-container{height:90%;float:left;width:33.3%}
.cto2-modal-assigned-text{color:#505050;display:inline-block;padding-left:4px}
.cto2-modal-assigned-text-selected{color:#FFF}
.cto2-modal-contents-lbl{padding-left:10px;color:#505050}
.cto2-modal-contents-list{border-right:1px solid #DDD;padding:0 4px 5px;height:100%;margin-top:5px;overflow-y:auto}
.cto2-list-item{padding:0 6px;cursor:default}
.cto2-list-item:hover{background-color:#f3f7fb}
.cto2-list-item.primary-select,.cto2-list-item.primary-select .cto2-all-facility-label{background-color:#538dcd;color:#FFF;cursor:default}
.cto2-list-item.primary-select:hover{background-color:#538dcd}
.cto2-list-item.secondary-select,.cto2-list-item.secondary-select .cto2-all-facility-label{background-color:#bbc3cb;color:#FFF}
.cto2-default-team-text{color:#a0a0a0;cursor:default;padding-left:6px}
.cto2-modal-button{padding:0 10px;cursor:pointer;min-width:75px}
.cto2-modal-search-box{padding-top:4px}
.cto2-modal-search-bar{float:right;margin-right:15px;margin-top:4px;width:33%}
.cto2-provider-name{padding:4px 10px}
.cto2-med-service-team{padding:0 4px 2px;color:#a0a0a0}
.cto2-provider-medservice-team-separator{padding:0 2px 0 1px}
.cto2-modal-dialog .cto2-med-service-team .highlight{font-weight:normal}
.cto2-popup-provider-assign.disabled,.cto2-popup-provider-yes.disabled{color:#BBB;border-color:#BBB}
.cto2-popup-provider-assign,.cto2-popup-provider-yes,.dyn-modal-button.cto2-hover-pointer{cursor:pointer}
.cto2-care-team-popup{padding:10px}
.cto2-modal-care-team-body{overflow-y:auto}
.cto2-popup-provider-search-results{padding-top:10px}
.cto2-popup-provider-search.unfocused{color:#afafaf;font-style:italic}
.cto2-popup-provider-search-results tr.selected{background-color:#BBB}
.popup-label{font-size:10pt;font-weight:bold;margin-bottom:5px;margin-top:10px}
.cto2-side-panel{display:none;width:40%;padding-left:10px;position:relative;box-sizing:border-box}
.cto2-rp-btn.drop-down>.selector{padding:4px 8px;min-width:64px;background:url(../images/5322_down_hover.png) no-repeat 90% center}
.cto2-rp-btn.drop-down.selected>.contents,.cto2-addplus-drp-dwn.selected>.contents{background:#FFF;border:1px solid #666;text-align:left}
.cto2-rp-btn.drop-down.selected>.selector,.cto2-addplus-drp-dwn.selected>.selector{z-index:6;background-color:#FFF;border-radius:2px 2px 0 0;border-style:solid;border-color:#666}
.cto2-rp-btn.drop-down.unselected>.selector,.cto2-addplus-drp-dwn.unselected>.selector{z-index:0}
.cto2-rp-btn.drop-down.unselected>.selector{background-color:#f6f6f6}
.cto2-rp-btn.drop-down{padding:0;text-align:left}
.cto2-rp-btn{cursor:pointer;text-align:center;float:right;background-color:#f6f6f6;padding:4px 6px;margin-left:6px;border:1px solid #666;border-radius:2px;box-shadow:0 0 0 1px #fff inset;min-width:53px}
.cto2-rp-btn.disabled{cursor:default;border:1px solid #a0a0a0}
.cto2-rp-btn.drop-down.disabled>.selector{background:url(../images/5322_down.png) no-repeat 90% center}
.cto2-rp-btn.drop-down.unselected .contents{margin:0}
.cto2-rp-btn.drop-down.selected>.contents{word-wrap:break-word;margin:-2px 0 0 -2px;min-width:22%;max-width:45%}
.cto2-addplus-drp-dwn{margin-left:5px}
.cto2-addplus-drp-dwn,.cto2-addplus-drp-dwn>.selector{float:left}
.cto2-addplus-drp-dwn.selected>.selector{border:1px solid #707070;border-bottom:0}
.cto2-addplus-drp-dwn .add-icon{margin:0 0 0 1px}
.cto2-addplus-drp-dwn .cto2-team-info{font:normal 11px Tahoma,sans-serif}
.cto2-addplus-drp-dwn.selected>.contents{margin:-1px 0;width:auto;min-width:10%}
.cto2-rp-btn.drop-down .search-item:hover,.cto2-assign-myself-team .cto2-team-info:hover,.cto2-add-other .cto2-team-info:hover,.cto2-assign-myself-footer .cto2-team-info:hover,.cto2-add-non-provider .cto2-team-info:hover{background-color:#538dcd;color:#FFF}
.cto2-assign-myself-header .cto2-team-info,.cto2-assign-myself-footer .cto2-team-info,.cto2-addplus-drp-dwn>.selector{padding:0 4px}
.cto2-assign-myself-team .cto2-team-info{padding:2px 15px;color:#505050}
.cto2-rp-btn.drop-down>.selector,.cto2-addplus-drp-dwn>.selector{text-align:left;position:relative}
.cto2-team-info:hover .cto2-modal-assigned-text{color:#FFF}
.cto2-assign-myself-footer .cto2-team-info{border-top:solid 1px #ddd}
.cto2-assign-myself-footer .cto2-team-info,.cto2-add-other .cto2-team-info,.cto2-add-non-provider .cto2-team-info{padding:2px 4px}
.cto2-sec .add-plus{display:none}
.cto2-sec .add-plus.enabled{display:block;float:left}
.cto2-assign-myself-header .disabled .cto2-team-info{color:#BBB}
.cto2-assign-myself-header .cto2-team-info{cursor:default;padding-bottom:4px}
.cto2-add-other:hover{background-color:#538dcd;color:#FFF}
.cto2-add-non-provider:hover{background-color:#538dcd;color:#FFF}
.cto2-tab-holder{width:100%;height:40px;padding-top:5px}
.cto2-provider-area{padding-top:5px;position:relative}
.cto2-rule{margin-top:1%;display:block;border-top:1px solid #e1e1e1;border-bottom:1px solid #BBB}
[id=vwpModalDialogassignProviderAndNonProviderModal] .loading-screen,[id=vwpModalDialogcareTeamModifyModal] .loading-screen{left:0}
.cto2-providers{margin-top:3%;margin-left:8%}
.cto2-provider-list{overflow-y:auto;border:1px solid #000;height:275px}
.cto2-provider-list li,.cto2-team-list li,.cto2-form-roles-holder li{cursor:pointer}
.cto2-form-roles-holder li,.cto2-provider-list li,.cto2-team-list li{padding:0 2px}
.cto2-team-list{overflow-y:auto;border:1px solid #000;height:275px}
.cto2-provider-form-holder{margin-top:2%;margin-left:10%;padding-bottom:20px}
.cto2-modal-form-inputs input{margin-top:5px;margin-bottom:8px}
input[type="text"].te-textbox.te-valid{background-color:#FFF}
.cto2-modal-form-inputs label,.cto2-provider-form-holder .te-label{font-size:14px;color:#505050}
.cto2-modal-form-inputs select{margin-left:11px}
[id=vwpModalDialogassignProviderAndNonProviderModal] .suggestions{width:40%;overflow-y:auto;box-sizing:border-box}
.cto2-form-roles ul,.cto2-provider-list,.cto2-team-list{margin:1%}
.cto2-provider-area>.input{width:40%;box-sizing:border-box}
.cto2-middle-textbox{width:30%}
.cto2-name-textbox{width:70%}
[id=cto2PrimaryPhoneTextboxStage],[id=cto2SecPhoneTextboxStage],[id=cto2TerPhoneTextboxStage]{width:100%}
.cto2-provider-form-holder .pull-left{float:left}
.cto2-phone-type{height:22px;width:116px}
.cto2-modal-form-inputs{float:left;width:50%}
.cto2-form-roles{margin-left:62%;width:30%;padding:8px}
.cto2-form-roles-holder{border:1px solid #BBB;overflow-y:auto;height:275px}
.cto2-form-asterix{color:#c00}
.cto2-form-roles-label{color:#505050}
.cto-provider-content,.cto2-team-content{width:30%;height:100%}
.cto2-provider-content{float:left;width:30%}
.cto2-provider-options{margin-left:3%;margin-top:1%;height:200px}
.cto2-team-content{margin-left:50%}
.cto2-providers p,.cto2-roles-label{font-weight:bold}
[id=newProviderAssignment]{border-top:1px solid #889098}
[id=assignProviderAndNonProviderModalbody]{overflow-y:auto;min-height:200px}
@media(min-height:500px){[id=assignProviderAndNonProviderModalbody]{min-height:300px}
}
[id=assignProviderAndNonProviderModalbody] .spinner-container{position:absolute;top:0;left:10px}
.cto2-selected-list{background-color:#3a78bb;color:#fff}
[id=vwpModalDialogcareTeamModifyModal] .data-label{width:256px}
.cto2-tab-container hr{margin-top:-12px;display:block;border-top:1px solid #e1e1e1;border-bottom:1px solid #bbb}
.cto2-tabs{overflow:hidden;margin-bottom:10px}
.cto2-tabs>ul{list-style:none;padding-left:15px}
.cto2-tabs>ul>li{color:#797979;display:block;float:left;margin-right:3px;cursor:pointer}
.cto2-tabs>ul>li>span{height:27px;line-height:32px}
.cto2-tabs .cto2-tab-text{padding:0 10px 0 10px;float:left;background:url(../images/tab2_inactive_center.png)}
.cto2-tabs .cto2-tab-left-edge{display:block;float:left;background:url(../images/tab2_inactive_left.png) no-repeat}
.cto2-tabs .cto2-tab-right-edge{display:block;float:right;background:url(../images/tab2_inactive_right.png) no-repeat;width:6px}
.cto2-tabs .cto2-tab-active-header{color:#505050;display:block;float:left;margin-right:3px}
.cto2-tabs .cto2-tab-active-header>span{height:27px;line-height:28px}
.cto2-tabs .cto2-tab-active-header>.cto2-tab-text{padding:0 10px;float:left;background:url(../images/tab2_active_center.png)}
.cto2-tabs .cto2-tab-active-header>.cto2-tab-left-edge{display:block;float:left;background:url(../images/tab2_active_left.png) no-repeat}
.cto2-tabs .cto2-tab-active-header>.cto2-tab-right-edge{display:block;float:right;background:url(../images/tab2_active_right.png) no-repeat;width:6px}
.cto2-provider-search-placeholder{color:#cdcdcd;top:.7em;left:2em;position:absolute;-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;user-select:none}