.caseClosureWf-filter-form{display:inline;padding-bottom:20px}
.caseClosureWf-reason-label{display:inline;padding-bottom:20px}
.caseClosureWf-filter-form select[name="reason"]{margin-right:10px}
.caseClosureWf-right-aligned-button{float:right;padding:5px;margin:2px}
.caseClosureWf-error-icon{background:url(../images/6275_16.png) no-repeat left top;padding-left:20px;height:16px;display:inline-block;padding-right:20px;margin:10px}
#caseClosureWfmodalBody{padding:10px}
.caseClosureWf-warn-icon{background:url(../images/4017_16.png) no-repeat left top;padding-left:20px;height:16px;display:inline-block;padding-right:20px;margin:10px}
.caseClosureWf-button-div{overflow:hidden}