p.popupLabel-7FE8F7{background-color:transparent;color:gray}
td.popupDataCont-7FE8F7{display:inline-block;word-wrap:normal}
.width40p-7FE8F7{width:40%}
.width20p-7FE8F7{width:20%}
.width60p-7FE8F7{width:60%}
td.alignRight-7FE8F7{text-align:right}
p.textPadding-7FE8F7,div.textPadding-7FE8F7{padding-left:3px;padding-right:3px}
tr.hover-7FE8F7{background-color:#ffc}
#id-7FE8F7-3{overflow-x:hidden\9;_overflow-x:auto;position:relative\9}
#id-7FE8F7-1{border:#d9e3f3 1px solid;width:100%}
th.th-7FE8F7{border-bottom:#d9e3f3 1px solid}
#id-7FE8F7-2{background-color:#ffc;border:1px solid #000;display:none;left:0;position:absolute;top:0}
#id-7FE8F7-6{width:100%}
div.scrollable-7FE8F7{overflow-x:hidden\9;_overflow-x:visible;overflow-y:auto;position:relative\9}