.summHcmCommEvents-communication-col{width:18%;margin-left:1%;display:inline-block;vertical-align:top;word-wrap:break-word}
.summHcmCommEvents-communication-table .hdr.sort-control>*{padding:5px 0}
.summHcmCommEvents-communication-table .mpage-tooltip-hover{background-color:transparent}
.summHcmCommEvents-hover{display:block;padding:8px 16px}