.wfHcmCommEvents-sidepanel-container,.wfHcmCommEvents-communication-table{margin-top:10px}
.wfHcmCommEvents-communication-table{display:inline-block;float:left;width:100%}
.wfHcmCommEvents-sidepanel-container{display:inline-block;float:left;width:39%;position:relative;padding-left:10px;box-sizing:border-box;-moz-box-sizing:border-box}
.wfHcmCommEvents-add-communication-event{display:block}
.wfHcmCommEvents-communication-form label{margin-top:10px;display:block;clear:both}
.wfHcmCommEvents-communication-form .created-by{margin-top:10px}
.wfHcmCommEvents-communication-form .edited-by label{margin:0}
.wfHcmCommEvents-communication-form,.wfHcmCommEvents-communication-event-details{text-align:left}
.wfHcmCommEvents-sidepanel-container .sp-all-contents{padding:20px}
.wfHcmCommEvents-sidepanel-container .sp-header-text{font-weight:bold}
.wfHcmCommEvents-communication-event-details h2{font-size:16px;font-weight:bold}
.wfHcmCommEvents-communication-form span{display:inline-block;vertical-align:top}
.wfHcmCommEvents-communication-form .time-label,.wfHcmCommEvents-communication-form .date-label{margin:0}
.wfHcmCommEvents-communication-form .timezone-container{margin:20px 0 0 5px;display:none}
.wfHcmCommEvents-communication-form .time-container{margin-left:10px}
.wfHcmCommEvents-communication-form .time-container .time-input{margin-top:1px}
.wfHcmCommEvents-communication-form .date-container .ui-datepicker-trigger{margin-left:5px}
.wfHcmCommEvents-communication-form .time-container .wfHcmCommEvents-clock-icon{background:url(../images/4791_16.png) no-repeat;width:16px;height:16px;display:inline-block;margin:2px 0 0 5px}
.wfHcmCommEvents-communication-form .date-container input,.wfHcmCommEvents-communication-form .time-container input{width:80px}
.wfHcmCommEvents-communication-event-details .person-contacted,.wfHcmCommEvents-communication-event-details .outcome{display:inline-block;width:50%}
.wfHcmCommEvents-communication-form .created-by,.wfHcmCommEvents-communication-form .edited-by{display:inline-block;width:100%}
.wfHcmCommEvents-communication-form .created-by label,.wfHcmCommEvents-communication-form .edited-by label{display:inline}
.wfHcmCommEvents-communication-event-details .created-by,.wfHcmCommEvents-communication-event-details .edited-by{display:inline-block;float:right;width:50%}
.wfHcmCommEvents-communication-event-details .person-contacted span,.wfHcmCommEvents-communication-event-details .created-by span,.wfHcmCommEvents-communication-event-details .outcome span,.wfHcmCommEvents-communication-event-details .edited-by span,.wfHcmCommEvents-communication-event-details .notes span,.wfHcmCommEvents-communication-form textarea{display:block}
.wfHcmCommEvents-communication-event-details .notes{display:block;clear:both}
.wfHcmCommEvents-communication-event-details .outcome,.wfHcmCommEvents-communication-event-details .edited-by,.wfHcmCommEvents-communication-event-details .notes{margin-top:10px}
.wfHcmCommEvents-communication-table .content-body{cursor:pointer}
.wfHcmCommEvents-communication-table .wfHcmCommEvents-communication-col{width:20%}
.wfHcmCommEvents-communication-event-details label{font-weight:bold;margin-top:10px;display:inline-block}
.wfHcmCommEvents-communication-table .selected{background-color:#568ecb}
.wfHcmCommEvents-communication-table .selected,.wfHcmCommEvents-communication-table .selected .disabled{color:#FFF}
.wfHcmCommEvents-communication-form span.radio label{display:inline;width:60px;margin-left:1px;margin-right:10px}
.wfHcmCommEvents-communication-form input[type="radio"]{display:inline}
.wfHcmCommEvents-communication-form input[name="duration"]{width:60px}
.wfHcmCommEvents-communication-form input[type="checkbox"]{margin:5px 5px 0 0}
.wfHcmCommEvents-communication-remove-modal{padding:10px}
.wfHcmCommEvents-warning-icon{background:url(../images/4017_16.png) no-repeat;height:16px;display:inline-block;padding-left:20px;padding-right:20px;margin:10px}
.hcm-comm-events-notes-icon{background:url(../images/6222_16.png) no-repeat;width:16px;height:16px;display:inline-block;padding-right:5px}
.wfHcmCommEvents-communication-table .mpage-tooltip-hover{background-color:transparent}
.wfHcmCommEvents-hover{display:block;padding:8px 16px}
.wfHcmCommEvents-communication-form .required-error{color:#c00}
.wfHcmCommEvents-communication-form .required:before{content:'*';color:#c00}
.wfHcmCommEvents-communication-form .comm-event-required{background-color:#ffffa0}
.wfHcmCommEvents-communication-form .error-input{background-color:#ffffa0;border-color:red}
.wfHcmCommEvents-communication-form .ambiguous-date-container{color:#c00;display:none;margin-bottom:10px}