.conprobo3 .toggle{cursor:pointer;display:inline-block;text-align:center;background-color:#f6f6f6;margin-right:6px;border:1px solid #193f72;border-radius:3px;min-width:70px;color:#193f72;padding:0 1px}
.conprobo3 .resolve-action{cursor:pointer;display:inline-block;text-align:left;min-width:65px;margin-left:5px;border:1px solid transparent;background-color:transparent;color:#30649c}
.conprobo3 .resolve-action:hover{text-decoration:underline}
.conprobo3 .selected,.conprobo3 .toggle:hover{background-color:#ccdbed;border-radius:3px;color:#193f72;border:1px solid #193f72;text-decoration:none}
.conprobo3 .selected:hover{text-decoration:line-through}
.conprobo3 .no-privs.selected,.conprobo3 .no-privs.selected:hover,.conprobo3 .resolve-action.selected,.conprobo3 .resolve-action.selected:hover,.conprobo3 .no-privs.resolved-problem,.conprobo3 .no-privs.resolved-problem:hover{cursor:default;background-color:transparent;border:1px solid transparent;color:#000;text-decoration:none;font-weight:normal}
.conprobo3 .disabled,.conprobo3 .dithered,.conprobo3 .disabled:hover,.conprobo3 .dithered:hover{cursor:default;border:1px solid transparent;color:#a0a0a0;background-color:#f6f6f6}
.conprobo3 .display.disabled,.conprobo3 .display.dithered,.conprobo3 .selector.dithered{background-color:transparent}
.conprobo3 .no-privs,.conprobo3 .no-privs:hover{cursor:default;background-color:transparent;border:1px solid transparent;color:#a0a0a0}
.conprobo3 .resolved-problem{background-color:#bababa;border:1px solid #696969;border-radius:3px;color:#f6f6f6}
.conprobo3 .disabled.resolved,.conprobo3 .dithered.resolved,.conprobo3 .selected:hover{text-decoration:line-through}
.conprobo3 .component-table .content-body{overflow-y:auto}
.conprobo3 .result-info span{display:block;min-height:1.9em}
.conprobo3 .result-info button{font-size:1em}
.conprobo3 .highlight,.conprobo3 .highlight .sec-text{border:none!important;background-color:#568ecb;color:white;font-weight:normal}
.conprobo3 .flagged-problem{background-color:#ffc}
.conprobo3 .flagged-problem.highlight{background-color:#568ecb}
.conprobo3 .flagged-problem .display{color:red;font-weight:bold}
.conprobo3 .flagged-problem.highlight .display{color:white}
.conprobo3 .flagged-problem-banner{margin:-10px -10px 0;padding-bottom:10px}
.conprobo3 .flagged-problem-banner .msg-info{border:0}
.conprobo3 .flagged-problem-banner.message-container{padding-top:0}
.conprobo3 .list .current{border:0;background-color:white;color:#a0a0a0;font-weight:normal}
.conprobo3 .drop-down .contents{color:black}
.wf .conprobo3 .list-as-table .result-info>dd.condition-name{cursor:pointer;position:static}
.conprobo3 .condition-name{width:50%;cursor:pointer}
.conprobo3 .drop-down .selector{background-image:url("../images/5322_down_dark.png");background-repeat:no-repeat;padding-left:3px;padding-right:3px;background-position:95% 47%}
.conprobo3 .priority{float:left;margin-right:10px}
.conprobo3 .priority,.conprobo3 .priority .contents{min-width:2.0em}
.conprobo3 .priority.view-only{padding-left:3px;margin-right:6px}
.touch-mode .conprobo3 .priority,.touch-mode .conprobo3 .priority .contents{min-width:3.0em}
.touch-mode .conprobo3 .drop-down .selector{padding-left:7px;padding-right:7px;background-position-x:100%}
.touch-mode .conprobo3 .result-info{padding:0}
.touch-mode .conprobo3 button{padding:.5em}
.touch-mode .conprobo3 .result-info span{min-height:2.3em;padding-top:.4em}
.conprobo3 .list-view .condition-classification{width:15%}
.conprobo3 .list-view .condition-actions{min-width:200px}
.conprobo3 .side-panel{background-color:white}
.conprobo3 .condition-comment{width:2.0em}
.conprobo3 .comment-indicator{background:url('../images/6222_16.png') no-repeat;width:16px;height:16px;cursor:pointer}
.conprobo3 dd.header-item.condition-comment{border-left:0}
.conprobo3 .detailed-view .condition-name{width:90%}
.conprobo3 .detailed-view .this-visit,.conprobo3 .detailed-view .chronic{float:left}
.conprobo3 .sp-close-btn{margin-left:-10px}
.conprobo3 .condition-details dl{display:table-row}
.conprobo3 .cond-details dt{color:#a0a0a0;text-align:right;padding:5px;padding-right:15px;display:table-cell}
.conprobo3 .cond-details dd{text-align:left;display:table-cell}
.conprobo3 .detailed-view .cond-list{width:39%;float:left}
.conprobo3 .detailed-view .cond-details{width:60%;margin-left:40%}
.conprobo3 .sp-focusin{margin-left:-6px}
.conprobo3 h1{font-size:12pt;margin-top:7px}
.conprobo3 h2{font-size:12px;color:#3d3d3d;display:block;margin-top:5px;clear:both}
.conprobo3 .history-section-preload{margin-left:auto;margin-right:auto}
.conprobo3 .condition-details-panel{margin-left:8px}
.conprobo3 .sec-text{color:#a0a0a0;display:inline-block!important;padding-left:8px}
.conprobo3 .add-comments{margin-top:10px;border:1px solid #d8d8d8;padding:5px;background-color:#f0f1f2;text-align:right}
.conprobo3 .add-comments input[type="button"]{clear:both;margin-left:6px;padding:0 10px}
.conprobo3 span.resolved{display:inline;margin-left:6px}
.conprobo3 .add-comment{padding-right:8px}
.conprobo3 .add-comment input{font-size:1em;width:100%}
.conprobo3 .add-comment .loading{background-position:100%}
.conprobo3 .save-comment{margin-left:6px;margin-top:9px}
.conprobo3 .comments{overflow-y:auto}
.conprobo3 .comment{margin-left:5px;margin-top:1em;color:black}
.conprobo3 .add-comment .placeholder{color:#a0a0a0}
.conprobo3 .historical-name-column{width:80%}
.conprobo3 .historical-onset-column{width:20%}
.conprobo3 .historical-section{padding-top:8px;padding-right:8px}
.conprobo3 .historical-section .result-info.odd{background-color:#f6f6f6}
.conprobo3 .historical-section .result-info span{display:inline}
.conprobo3 .historical-label{color:#505050}
.conprobo3-top-wrapper{background:#f6f6f6;border:1px solid #DDD;padding:8px;margin-bottom:8px}
.conprobo3-search-bar-wrapper{margin-left:auto;width:50%}
.conprobo3-search-bar-wrapper>span{float:left;line-height:2em;margin-right:1px;vertical-align:middle}
.conprobo3-classification-drop-down{vertical-align:middle;line-height:2.2em;font-size:11px;color:#505050;float:right;display:inline-block;border-right:1px solid #a0a0a0;margin-right:8px;margin-top:-4px;height:24px}
.conprobo3-add-new-drop-down{float:left;vertical-align:middle;line-height:1.9em;color:#505050;display:inline-block;margin-top:-3px;height:24px}
.conprobo3-drop-down-arrow{background:url("../images/5322_down_dark.png") no-repeat center 10px;cursor:pointer;padding-right:20px;float:right;width:0}
.conprobo3-drop-down-display{font-weight:bold;margin:4px;display:inline-block}
.conprobo3-modal{margin:24px 23px 10px;overflow:auto}
.conprobo3-info-btn .info-icon{width:20px;height:17px;vertical-align:middle}
.conprobo3 .condition-details .conprobo3-info-btn{display:inline}
.message-container.cpo3-nkp-msg{padding-bottom:6px}
.conprobo3-document-ncp{color:#a0a0a0}
.conprobo3 .unspecified-condition,.conprobo3-top-wrapper .unspecified-alert{float:left;padding-left:20px;background:url("../images/ConsolProblemsSprite.png") no-repeat scroll -10px -86px transparent}
.conprobo3 .specified-condition{background:url("../images/ConsolProblemsSprite.png") no-repeat scroll -10px -61px transparent}
.conprobo3 .condition-details .unspecified-condition,.conprobo3 .specified-condition{float:none;display:block;padding-left:25px;margin-top:10px}
.conprobo3-tv-hist-filter{float:right;display:inline-block;background:#b6c9db;padding:0 6px 0 6px}