.cpmao1-list-cont{margin-top:10px}
.cpmao1-list-cont:first-child{margin-top:0}
.cpmao1-list-cont>.cpmao1-sec-hdr{padding:6px 6px 2px;box-sizing:border-box;background:#f6f6f6 none repeat scroll 0 0;color:#999;font-size:9px;line-height:1.2em;border:1px solid #ddd;border-bottom:0}
ul.cpmao1-list{border:1px solid #ddd}
ul.cpmao1-unassigned-list{height:230px;overflow-y:auto}
li.cpmao1-list-item{padding:2px 6px;border-bottom:1px solid #ddd;overflow-y:hidden;display:table;width:100%;box-sizing:border-box}
li.cpmao1-no-results{padding:2px 6px;color:#a0a0a0}
.cpmao1-cpm-item-disp{display:table-cell;width:90%}
a.cpmao1-add-link{display:table-cell;width:10%;text-align:right}
a.cpmao1-remove-link{display:table-cell;width:16px;height:16px;background:url(../images/6457.png) right no-repeat}
a.cpmao1-remove-link:hover{background:url(../images/6457_over_16.png) right no-repeat}
input.cpmao1-btn{min-width:70px;padding:4px 10px}
.cpmao1-btn-cont{margin-top:10px;text-align:right}
.cpmao1-search-cont{display:table;width:100%;position:relative;margin:4px 0}
.cpmao1-row{display:table-row;width:100%}
.cpmao1-term-highlight{font-weight:bold}
.cpmao1-search-lbl{font-size:12px;color:#505050;display:table-cell;width:1%;white-space:nowrap;padding-right:4px}
.cpmao1-search-box-cont{box-sizing:border-box;display:table-cell;position:relative}
input.cpmao1-search-box{width:100%;box-sizing:border-box;height:20px}
input.cpmao1-default{color:#505050}
.cpmao1-proposed-disp{width:75%}
.cpmao1-proposed-by{width:25%}