.cl-link-text{color:#3380e5}
.cl-link{border-bottom:1px solid #ededed;border-left:1px solid #ededed;border-right:1px solid #ededed;padding-left:.5em}
#clDrop,.cl-sec .drop-Down{display:none}
table.custom-link-table td{padding:0}
table.custom-link-table{border-spacing:0;width:100%}