.dmg-pt-name-lbl{position:absolute;visibility:hidden}
.dmg-sex-lbl{position:absolute;visibility:hidden}
.dmg-age-lbl{position:absolute;visibility:hidden}
.dmg-info dt{padding-left:10px;display:inline;color:#505050}
.dmg-info dd{display:inline}
.dmg-pt-name{font:bold 14px Tahoma}
.dmg-sex{font:12px Tahoma;padding-left:10px}
.dmg-age{font:12px Tahoma;padding-left:10px}
.dmg-dob,.dmg-mrn,.dmg-fin,.dmg-rfv,.dmg-isolation{font:12px Tahoma;padding-left:2px}
.dmg-rfv{font-weight:bold}
.dmg-deceased{color:#e50d34;font-weight:bold}