.dialysis-container{border-radius:5px;min-width:400px}
.dialysis-container-col-2{display:inline-block;vertical-align:top;width:20%;margin-top:8px}
.dialysis-container-col-1{display:inline-block;width:75%}
.dialysis-tooltip{max-width:200px;word-wrap:normal;white-space:normal}
.dialysis-tooltip-left{margin-left:-200px}
.dialysis-header{margin:10px}
.dialysis-header-item{padding:3px 0 0 8px;width:92%;word-wrap:normal;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.dialysis-header-item-cell{border:1px solid #ccc;width:48%;height:25px}
.dialysis-header-item-desc{font-weight:bold}
.dialysis-legend{border-radius:5px;border:2px solid #c2c2c2}
.dialysis-legend-item{height:25px;margin-left:3px}
.dialysis-legend-item-name{display:inline-block;word-wrap:normal;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:70%}
.dialysis-legend-img{display:inline-block}
#dialysis-left-triangle{background:url(../images/dialysis_icons.png) repeat -3px -40px;height:20px;width:20px}
#dialysis-square{background:url(../images/dialysis_icons.png) repeat -3px -67px;height:20px;width:20px}
#dialysis-star{background:url(../images/dialysis_icons.png) repeat -3px -98px;height:20px;width:20px}
#dialysis-right-triangle{background:url(../images/dialysis_icons.png) repeat -3px -8px;height:20px;width:20px}