.wf .documentation-view-button{text-align:center;font-size:11px;color:#000;line-height:13px;background:url(../images/segmentedControl_short_inactive_center.png) repeat-x 0 0}
.wf .documentation-view-button-no-left-border{border-left:none}
.wf .documentation-view-button-active{cursor:default;font-weight:bold;background:url(../images/segmentedControl_short_active_center.png) repeat-x 0 0;color:#FFF}
.wf .hdr-toggle.documentation-view-button{width:auto}
.wf .ddemrcontent.ddsibling{border-color:transparent}
.wf .ddemrcontent .ddfreetext{margin-right:8px}
.wf .ddemrcontent+.ddfreetext{margin-top:14px;margin-bottom:5px}
.wf .documentation-empty-emr .ddfreetext{margin-top:0}
.structure-last-saved-text{display:inline-block;margin:5px 0 0 5px;color:#505050;vertical-align:text-bottom}
.structure-last-saved-text img{margin-right:.5em;vertical-align:text-bottom}