.doc2-sec .content-body .sub-sec-hd{padding-left:5px}
.doc2-side-panel .sp-header{border-bottom:1px solid #DDD}
.doc2-sec .content-body .sub-sec-hd.doc2-section-title{margin-left:0;padding-left:10px;padding-right:6px;background-color:#b6c9db;font-weight:bold}
.doc2-secondary-hd.sub-sec-hd{background-color:#d0dae6}
.doc2-sec .content-body.grouped.with-section-header .sub-sec-hd.doc2-section-title{border-bottom-width:0}
.doc2-info{clear:both;zoom:1;overflow:hidden;word-wrap:break-word;padding:4px 6px;cursor:pointer}
.doc2-info-hdr{clear:both;zoom:1;overflow:hidden;word-wrap:break-word;padding-left:6px;padding-right:6px}
.doc2-sec .content-body.doc2-table-view{border:1px solid #ddd;position:relative}
.doc2-sec .content-body.grouped .doc2-info,.doc2-sec .content-hdr.grouped .doc2-info-hdr{padding-left:16px}
.doc2-sec .content-body.with-section-header .doc2-info,.doc2-sec .content-hdr.with-section-header .doc2-info-hdr{padding-left:16px}
.doc2-sec .content-body.grouped.with-section-header .doc2-info,.doc2-sec .content-hdr.grouped.with-section-header .doc2-info-hdr{padding-left:26px}
.doc2-info-hdr.shifted{margin-right:17px}
.doc2-info-hdr-sortIcon{overflow-y:hidden;padding-top:8px;cursor:pointer}
.doc2-info-hdr-sortIcon.ascend{background:url("../images/5322_up.png") no-repeat scroll center 2px transparent}
.doc2-info-hdr-sortIcon.descend{background:url("../images/5322_down.png") no-repeat scroll center 2px transparent}
.doc2-info-hdr>dd:hover{text-decoration:underline}
.doc2-info dt{display:none}
.doc2-subj,.doc2-subj-hd{width:18%;float:left;display:inline-block;margin-right:1%}
.doc2-cat{overflow-y:hidden}
.doc2-cat,.doc2-cat-hd{width:17%;float:left;display:inline-block;margin-right:1%}
.doc2-dt,.doc2-dt-hd,.doc2-updt-dt,.doc2-updt-dt-hd{width:12%;float:left;display:inline-block;margin-right:1%}
.doc2-auth,.doc2-auth-hd,.doc2-updt-prsnl,.doc2-updt-prsnl-hd{width:15.5%;float:left;display:inline-block;margin-right:1%}
.doc2-image{width:2.5%;float:left;display:inline-block;margin-right:1%}
a.doc2-image-found{width:16px;height:16px;display:inline-block;background-image:url(../images/4988.gif);text-decoration:none}
.doc2-dt .date-time{color:#000}
.doc2-sec .sec-content input[type="checkbox"]{margin-right:.25em;margin-bottom:3px;vertical-align:middle}
.doc2-sec .res-none{padding-top:1em;padding-bottom:1em}
.doc2-sec .sub-sec-title dd{display:inline;padding-right:20px}
.doc2-menu-row{text-align:right;padding:0 4px 4px 0;margin-top:-4px}
.doc2-cat .res-modified{vertical-align:middle}
.doc2-cat.in-progress a{color:#3d3d3d}
.doc2-cat.in-progress .comment{color:#7a7a7a}
.doc2-sec-separator{border-bottom:solid 1px #ddd;padding:8px 0 8px 0}
.doc2-btn-div{float:right;padding-left:8px}
.doc2-last-div{background-color:#f6f6f6;width:284px;border-radius:5px 0 5px 5px;padding:8px}
.doc2-comm-loading{vertical-align:middle;background:transparent url(../images/6439_24.gif) no-repeat scroll center}
.doc2-q-hover{color:#505050;font-size:12px;border:1px solid #FFF;cursor:pointer;padding:2px 3px;display:inline-block}
.doc2-partition{color:#505050;font-size:12px;border-left:1px solid #cdcdcd;margin-left:15px;padding-left:13px}
.doc2-qfilter-panel{z-index:2000;margin-top:-2px;display:none;right:12px;background:none repeat scroll 0 0 #FFF;border:2px solid #688ecd;position:absolute;width:300px;border-radius:5px 0 5px 5px;text-align:left}
.doc2-btn{padding:0 2px 2px 2px}
.doc2-allfil{padding:0 8px 0 8px;word-wrap:break-word}
.doc2-allfil:hover{background-color:#dde8f5;cursor:pointer}
.doc2-fil-group{color:#505050;font-size:12px;cursor:pointer;padding-left:15px;display:inline-block}
.doc2-qHvr-click{background-color:#d1dcef;border-width:2px 2px 0 2px;border-color:#688ecd;border-style:solid;z-index:3000;margin-top:0;position:relative;cursor:pointer;padding:1px 2px 3px 2px}
.doc2-qFilter-hover{border:1px dashed #688ecd}
.doc2-q-hover>.wrkflw-selectArrow{float:none;margin-left:3px}
.doc2-visible{display:block}
.doc2-disclaimer{padding:5px 0 0 10px;color:#bebebe}
.doc2-pat-req-icon{float:left;width:16px;height:16px;margin-left:4px;margin-right:4px;background-image:url("../images/6965_16.png")}
.doc2-section-title{font-weight:bold;margin-left:4px}
.doc2-tag-icon{background:url("../images/tag_rightClickMenu_gray.png") no-repeat left}
.doc2-side-panel{display:none;top:0;right:0;z-index:3;box-sizing:border-box}
.doc2-table-content{vertical-align:top;position:relative}
.doc2-side-panel .preview_pane.pp-doc-pane{box-sizing:border-box}
.doc2-sp-scroll-container{overflow:auto;background-color:#FFF}
.doc2-sp-scroll-container.sp-add-scroll{margin-right:0}
.doc2-info.row-selected,.doc2-info.row-selected a,.doc2-info.row-selected .comment{background-color:#568ecb;color:#FFF}
.doc2-side-panel.doc2-side-panel-activated{display:block;position:absolute}
.doc2-sp-action-holder{display:inline-block;width:100%;margin-bottom:10px}
.doc2-sp-button{display:inline-block;margin-left:6px}
.doc2-preview-section{margin-bottom:5px}
.doc2-preview-section dt{color:#7c7c7c}
.doc2-preview-content{margin:5px 10px 0 10px}
.doc2-sp-banner-container{margin-bottom:-10px}
.doc2-sp-loading-container{background:url(../images/6439_32.gif) no-repeat center 40%}
.doc2-sp-header-left{width:60%;display:inline-block;vertical-align:text-bottom}
.doc2-sp-subject{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.doc2-sp-header-right{width:40%;display:inline-block;text-align:right}
.doc2-sp-contributers{font-size:12px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;color:#505050}
.doc2-sp-last-updated-label{font-size:12px;color:#505050}
.doc2-sp-last-updated{font-size:12px}
.doc2-side-msg-bar{background:#d7e6ff;border-left:2px solid #7ca4e6;border-bottom:1px solid #d8d8d8;padding:6px 10px 6px 32px;color:#505050;position:relative}
.doc2-side-msg-icon{background:url(../images/sprite_green.png) no-repeat -306px -1px;width:16px;height:16px;display:inline-block;position:absolute;left:10px;top:9px}
.doc2-sp-not-supported{text-align:center;position:relative;background:url(../images/noData_glyph_184.png) no-repeat center top;padding:186px 0 0 0;top:20%;color:#a0a0a0}
.doc2-preview-content iframe{width:100%}
.doc2-resetAll{padding:0 5px;display:inline-block}
.touch-mode .doc2-q-hover{padding:6px 3px 7px 3px}
.touch-mode .doc2-qHvr-click{padding:5px 2px 8px 2px}
.touch-mode .doc2-allfil{padding-top:8px;padding-bottom:7px}
.touch-mode .doc2-fil-group{padding:8px 0 7px 15px}
.touch-mode .doc2-resetAll{padding:8px}
.touch-mode .doc2-btn{padding:8px}