.edd-wf-edd-column-header{padding-left:31px!important}
.edd-wf-edd-column{width:20%}
.edd-wf-table .even{background-color:#eee}
.edd-wf-hover{background-color:#fffce0;display:inline-block;float:left;margin:0;width:300px}
.edd-wf-table .mpage-tooltip-hover{background-color:#fffce0}
.edd-wf-add-edd{color:#3380e5;font-size:12px;display:inline}
.edd-wf-modify-edd{color:#3380e5;padding-left:10px}
.edd-wf-edd-date{padding-left:25px}
.edd-wf-modify-edd:hover{text-decoration:underline;color:#3380e5;cursor:pointer}
.edd-wf-edd-status-pic{background:url(../images/6432_11.png) no-repeat 0 0}
.edd-wf-edd-method-column{width:30%}
.edd-wf-method-date{color:#a0a0a0}
.edd-wf-ultrasound-ega-column{width:18%}
.edd-wf-documented-by-column{width:24%}
.edd-wf-comments-column{width:8%}
.edd-wf-comments-pic{padding-left:16px;background:url(../images/6222_16.png) no-repeat 0 0}