.clearfix{zoom:1}
.tl-header-div{position:relative;display:inline}
.tl-even{background:#f0f2f6}
.tl-odd{background:#FFF}
.tl-los-hd{padding-left:5px;display:inline-block;float:left;font:normal 11px Tahoma}
.tl-los{display:inline-block;padding-left:40px;position:relative;float:left;font:normal 11px Tahoma}
.tl-admt{padding-left:5px;font:normal 11px Tahoma}
.tl-info dt{display:none}
.tl-info-hd{position:absolute;visibility:hidden}
.tl-hvr-hd{display:none}
.tl-arrival{padding-left:10px}
.tl-label{color:#666}
.tl-dispcurdt{border:2px solid #ffbf00;text-align:center}
.tl-arrival-hd{background:#f3f8ee;height:12px}
.tl-collapse,a.tl-collapse:visited,a.tl-collapse:hover,a.tl-collapse:link{padding-top:3px;text-decoration:none;background-image:url(../images/6364_left.gif);background-repeat:no-repeat;background-position:left}
.tl-expand,a.tl-expand:visited,a.tl-expand:hover,a.tl-expand:link{padding-top:3px;text-decoration:none;background-image:url(../images/6364_right.gif);background-repeat:no-repeat;background-position:left}
.tl-row-label{padding-top:2px;padding-right:20%;font:12px Tahoma;text-align:right;color:#666}
.tl-actvlst-inactiv{background-repeat:no-repeat;text-align:right;font:normal 11px Tahoma;padding-right:2px;padding-bottom:2px;background-position:right;vertical-align:text-bottom;display:inline-block;float:right}
.tl-actvlst-activ{vertical-align:text-bottom;width:10px;display:inline-block;float:right}
.tl-spacer{font:10px Tahoma;text-align:right;color:#666;padding-top:1px}
table.tl-actv-list-table td{padding-left:2px;padding-top:2px;padding-bottom:2px}
.tl-table{table-layout:fixed}
.tl-table td a{text-decoration:none}
.tl-disp-section{border-right:1px solid #ededed}
.tl-disp-section-future{border-right:1px solid #b5b5b6}
.tl-disp-dt{border-right:2px dashed #ffbf00}
.tl-row-even-future{background-color:#b4b5b9}
.tl-row-odd-future{background-color:#bababb}
.tl-row-labels{width:85px;float:left;padding-top:40px}
.tl-num-val{color:#505050;font:normal 9px Tahoma;text-align:left}
.tl-text-val{font:normal 13px Tahoma;text-align:left}
.tl-actv-text{font:normal 12px Tahoma;text-align:left}
.tl-time-val{font:normal 11px Tahoma;color:#505050;margin:0}
a.tl-time-val{text-decoration:none}
.tl-legend-label{padding-top:2px;padding-right:5px;font:12px Tahoma;color:#666}
.tl-time-intervals{background-color:#f6f6f6}
.tl-section-hvr{display:inline;padding-right:5px;font:normal 12px Tahoma;padding-top:12px;padding-bottom:12px}
.tl-section-hvr-cont{padding-top:2px;padding-bottom:2px}
.tl-critical{color:#f00}
.tl-section-hvr p{padding-left:16px;padding-top:2px}
.tl-acvt-list-icon{text-decoration:none}
.tl-actv-list-cap-dbl{background-image:url(../images/flyout_left_left.gif);background-repeat:no-repeat;background-position:left;width:5px;height:18px;float:right;display:inline}
.tl-actv-list-cap-sgl{background-image:url(../images/flyout_up_left.gif);background-repeat:no-repeat;background-position:left;width:5px;height:18px;float:left;margin-right:-3px}
.tl-toggle-exp{padding-right:10px;padding-top:3px;text-decoration:none;color:#FFF}
.tl-selected{background-color:#568ecb}
.tl-table td a.tl-actv-link{text-decoration:none;text-align:center}
.tl-actv-list-hd{font:11px Tahoma;color:#666}
.tl-actv-list{border-left:1px solid #bdbdbd;overflow-y:scroll;overflow-x:hidden;border-bottom:1px solid #bdbdbd;height:160px;word-wrap:break-word;width:100%}
.tl-actv-list-txt{color:#FFF}
.tl-actv-list-hd-in{width:100px;background:#bdbdbd;text-align:left;height:18px;display:inline-block;float:right}
.tl-actv-list-hd-out{background:#bdbdbd;text-align:left;height:18px}
.orders-c{background-image:url(../images/20004_orange_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.orders-mc{background-image:url(../images/20000_orange_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.orders-nc{background-image:url(../images/20005_orange_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.orders-mnc{background-image:url(../images/20001_orange_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.meds-onf{background-image:url(../images/20005_yellow_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.meds-monf{background-image:url(../images/20001_yellow_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.meds-of{background-image:url(../images/20004_yellow_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.meds-mof{background-image:url(../images/20000_yellow_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.meds-adm{background-image:url(../images/20006_yellow_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.meds-madm{background-image:url(../images/20002_yellow_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.labs-onf{background-image:url(../images/20005_purple_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.labs-of{background-image:url(../images/20004_purple_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.labs-monf{background-image:url(../images/20001_purple_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.labs-mof{background-image:url(../images/20000_purple_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.labs-r{background-image:url(../images/20006_purple_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.labs-mr{background-image:url(../images/20002_purple_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.assesments-adm{background-image:url(../images/20006_blue_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.assesments-madm{background-image:url(../images/20002_blue_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.events-comp{background-image:url(../images/20006_green_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.events-mcomp{background-image:url(../images/20002_green_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.crit{background-image:url(../images/5278_16.gif);background-repeat:no-repeat;text-align:center;background-position:center}
.tl-legend{color:#808080;padding-top:5px;font:normal 11px Tahoma}
.legend-table{border:solid 1px #d5dee4;padding-right:2px}
.legend-table td{font:normal 12px Tahoma;padding:5px}
.legend-ordered-nf{background-image:url(../images/20005_gray_16.gif);background-repeat:no-repeat;text-align:center;font-size:13px;padding-right:12px}
.legend-ordered-mnf{background-image:url(../images/20001_gray_16.gif);background-repeat:no-repeat;text-align:center;font-size:13px;padding-right:12px}
.legend-ordered-f{background-image:url(../images/20004_gray_16.gif);background-repeat:no-repeat;text-align:center;font-size:13px;padding-right:12px}
.legend-ordered-mf{background-image:url(../images/20000_gray_16.gif);background-repeat:no-repeat;text-align:center;font-size:13px;padding-right:12px}
.legend-admin{background-image:url(../images/20006_gray_16.gif);background-repeat:no-repeat;text-align:center;font-size:13px;padding-right:12px}
.legend-madmin{background-image:url(../images/20002_gray_16.gif);background-repeat:no-repeat;text-align:center;font-size:13px;padding-right:12px}
.legend-crit{background-image:url(../images/5278_16.gif);background-repeat:no-repeat;text-align:center;font-size:13px;padding-right:12px}
.legend-expanded{background-image:url(../images/5323_expanded_16.gif);background-repeat:no-repeat;text-align:center;font-size:11px;padding-right:10px}
.legend-collapsed{background-image:url(../images/5323_collapsed_16.gif);background-repeat:no-repeat;text-align:center;font-size:11px;padding-right:10px}
.tl-legend-exp{display:inline-block;float:left;padding-top:30px}
.tl-full-container{margin-left:87px;zoom:1}
.tl-actv-list-cont{width:33%;float:right;zoom:1}
.tl-scroll{overflow-x:auto;overflow-y:hidden;display:inline-block;width:100%}
.tl-scroll-cont{display:inline;position:relative;padding-right:10px}
.tl-sec.closed .sec-content{position:relative;visibility:visible;display:none}
.tl-row-label-display{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:80px}
.tl-row-labels td{word-wrap:normal}