.fm-wf-checkbox-column-info{width:2%;min-width:15px}
.fm-wf-column-width{width:22%}
.fm-wf-rfm-column-width{width:28%}
.fm-wf-episode-start-date{border-left:none!important}
.fm-wf-episode-time{color:#9fa3ac;display:inline-block}
.fm-wf-table .even{background-color:#eee}
.fm-wf-footer-content-area{background-color:#f0f1f2;display:inline-block;width:100%}
.fm-wf-content{padding-top:4px;padding-bottom:4px;background-color:#f0f1f2;display:inline}
.fm-wf-text-area{float:left;padding-left:24px}
.fm-wf-buttons-area{float:right}
.fm-wf-buttons-text{padding:1px 10px 0 10px;text-align:center;font-family:"Tahoma";text-shadow:0 1px 0}
.fm-wf-text-enabled{color:#000}
.fm-wf-text-disabled{color:#9f9f9f}
.fm-wf-launch{display:inline-block;padding-right:3px}
.fm-wf-clear{display:inline-block;padding-left:3px;padding-right:6px}
.fm-wf-button-left-right{background-repeat:no-repeat;width:3px;height:22px;cursor:pointer;display:inline-block;vertical-align:middle}
.fm-wf-left-active{background:url(../images/Active_Left.png)}
.fm-wf-left-disabled{background:url(../images/Disabled_Left.png);cursor:default}
.fm-wf-left-enabled{background:url(../images/Enabled_Left.png)}
.fm-wf-button-middle{background-repeat:repeat-x;min-width:64px;height:22px;cursor:pointer;display:inline-block;vertical-align:middle}
.fm-wf-middle-active{background:url(../images/Active_Mid.png)}
.fm-wf-middle-disabled{background:url(../images/Disabled_Mid.png);cursor:default}
.fm-wf-middle-enabled{background:url(../images/Enabled_Mid.png)}
.fm-wf-right-active{background:url(../images/Active_Right.png)}
.fm-wf-right-disabled{background:url(../images/Disabled_Right.png);cursor:default}
.fm-wf-right-enabled{background:url(../images/Enabled_Right.png)}