.genscr-info{clear:both;zoom:1;overflow:hidden;padding:0 1%;border-bottom:1px solid #ededed;word-wrap:break-word}
.genscr-info dt{display:none}
.genscr-name{width:49%;float:left;display:inline-block;margin-right:1%}
.genscr-res{width:48%;float:left;display:inline-block;margin-left:1%;margin-right:1%}
.genscr-info .res-ind{display:inline-block;margin-right:.3em}
.genscr-info .res-normal .res-value{margin-left:.5em}
.genscr-res a,.genscr-res a:link,{text-decoration:none;cursor:pointer}
.genscr-res a:active,.genscr-res a:hover{text-decoration:underline}