.ui-autocomplete-loading{background:white url("../images/6439_16.gif") right center no-repeat}
.ui-front{z-index:2000!important}
#gwfGoalsAddEditBody{margin:20px 20px 0 20px}
#gwfGoalsAddEditfooterbtnCont button:focus{outline:0;border-color:#9ecaed;box-shadow:0 0 10px #9ecaed}
.gwf-gae-goal-info-sec{margin-bottom:10px}
.gwf-gae-goal-info-sec input:focus,.gwf-gae-goal-info-sec select:focus,.gwf-gae-goal-info-sec textarea:focus,.gwf-gae-goal-info-sec button:focus{outline:0;border-color:#9ecaed;box-shadow:0 0 10px #9ecaed}
.gwf-gae-goal-sec{margin:0 10px 10px 10px}
.gwf-gae-goal-details{margin:0 10px}
.gwf-gae-goal-interventions-sec{margin:0 10px}
.gwf-gae-goal-interventions-sec input:focus,.gwf-gae-goal-interventions-sec select:focus,.gwf-gae-goal-interventions-sec textarea:focus,.gwf-gae-goal-interventions-sec button:focus{outline:0;border-color:#9ecaed;box-shadow:0 0 10px #9ecaed}
.gwf-gae-start-sec,.gwf-gae-target-sec,.gwf-gae-type-sec,.gwf-gae-category-sec,.gwf-gae-barriers-sec,.gwf-gae-goal-status-sec{display:inline-block;margin-right:15px}
.gwf-gae-goal-lbl,.gwf-gae-start-lbl,.gwf-gae-target-lbl,.gwf-gae-type-lbl,.gwf-gae-category-lbl,.gwf-gae-barriers-lbl,.gwf-gae-goal-status-lbl{display:block}
.gwf-gae-goal-header,.gwf-gae-interventions-header{border-bottom:1px solid #707070;font-size:13px;font-weight:bold;color:#193f72;margin-bottom:10px}
.gwf-gae-type-sec button,.gwf-gae-category-sec button,.gwf-gae-barriers-sec button,.gwf-gae-inter-type button,.gwf-gae-inter-category button{background:0;border-radius:0;-webkit-border-radius:0;border-color:#a0a0a0}
.gwf-gae-type-sec button .ui-icon,.gwf-gae-category-sec button .ui-icon,.gwf-gae-barriers-sec button .ui-icon,.gwf-gae-inter-type button .ui-icon,.gwf-gae-inter-category button .ui-icon{background-image:url(../images/ui-icons_222222_256x240.png);background-position:-64px -16px}
.gwf-gae-type-sec button span,.gwf-gae-category-sec button span,.gwf-gae-barriers-sec button span{display:inline-block}
.gwf-gae-goal-sec textarea,.gwf-gae-inter-desc textarea{width:95%\9}
.gwf-gae-goal-sec textarea,.gwf-gae-inter-desc textarea{resize:none;padding:4px;width:calc(100% - 10px);overflow:auto}
.gwf-gae-start,.gwf-gae-target{background-image:url("../images/calendar.png");background-repeat:no-repeat;background-position:right center;border:1px solid #a0a0a0;padding:3px}
.gwf-gae-goal-status{border:1px solid #a0a0a0;padding:3px}
.gwf-gae-inter-priority{cursor:url("../images/openhand.cur"),move}
.gwf-gae-inter-priority:active{cursor:url("../images/closedhand.cur"),move}
.gwf-gae-add-intervention{margin-bottom:10px;margin-left:10px;display:inline-block;color:#30649c;cursor:pointer}
.gwf-gae-inter-status select,.gwf-gae-inter-frequency select,.gwf-gae-inter-target select,.gwf-gae-inter-confidence select,.gwf-gae-goal-status{padding:2px}
.gwf-gae-inter-target input{padding:3px 2px}
.gwf-gae-inter-priority span.vertical-dots{margin-top:10px}
.gwf-gae-inter-priority span.priority-nbr{color:#3e3e3e;font-size:14px;font-weight:bold;padding-left:5px;position:relative;top:-3px}
.gwf-gae-inter-desc{width:33%}
.gwf-gae-inter-type{width:10%}
.gwf-gae-inter-category{width:10%}
.gwf-gae-inter-status{width:10%}
.gwf-gae-inter-frequency{width:10%}
.gwf-gae-inter-target{width:13%}
.gwf-gae-inter-confidence{width:7%}
.gwf-gae-inter-delete{width:3%}
.gwf-gae-inter-priority{width:4%}
.gwf-gae-inter-type button,.gwf-gae-inter-category button{width:100%!important}
.gwf-gae-inter-status select,.gwf-gae-inter-frequency select,.gwf-gae-inter-confidence select{width:100%}
.gwf-gae-inter-target-val{width:20%}
.gwf-gae-inter-target select{min-width:58%\9}
.gwf-gae-inter-target select{width:calc(80% - 14px);margin-left:5px;position:relative;top:-1.5px}
.gwf-gae-inter-delete-icon{width:16px;height:16px;background:url("../images/6457_up_16.png") no-repeat;display:block;margin:3px auto;cursor:pointer}
.gwf-gae-inter-delete-icon:hover{background:url("../images/6457_over_16.png") no-repeat}
.gwf-gae-goal-header.required:after,.gwf-gae-start-lbl.required:after,.gwf-gae-target-lbl.required:after,.gwf-gae-type-lbl.required:after,.gwf-gae-category-lbl.required:after,.gwf-gae-barriers-lbl.required:after,.gwf-gae-inter-desc span.required:after,.gwf-gae-inter-type span.required:after,.gwf-gae-inter-category span.required:after,.gwf-gae-inter-status span.required:after,.gwf-gae-inter-frequency span.required:after,.gwf-gae-inter-target span.required:after,.gwf-gae-inter-confidence span.required:after,.gwf-gae-interventions-header.required:after{content:' *';color:#ca0813}
.gwf-gae-inter-desc .inter-search-tip{color:#999;display:inline-block;float:left}
.gwf-gae-goal-sec .goal-search-tip{color:#999;display:inline-block;float:left}
.gwf-gae-inter-desc .inter-text-counter{color:#999;display:inline-block;float:right}
.gwf-gae-goal-sec .goal-text-counter{color:#999;display:inline-block;float:right}
.gwf-gae-inter-helper-area{display:block}
.gwf-gae-goal-helper-area:before,.gwf-gae-goal-helper-area:after{content:" ";display:table}
.gwf-gae-goal-helper-area:after{clear:both}
.hidden{display:none}
.gwf-gae-goal-interventions-sec .list-as-table .content-body{border:1px solid #DDD}
.gwf-gae-goal-interventions-sec .list-as-table .content-hdr{border:1px solid #DDD;border-bottom:0}
.gwf-gae-goal-interventions-sec .list-as-table .hdr{padding-bottom:0}
.gwf-gae-goal-interventions-sec .list-as-table .hdr.sort-control{border-bottom:0}
.gwf-gae-goal-interventions-sec .list-as-table .hdr dd{border-left:1px solid #DDD}
.gwf-gae-goal-interventions-sec .list-as-table .hdr dd:first-child{border-left:none}
.gwf-gae-goal-interventions-sec .list-as-table .result-info,.gwf-gae-goal-interventions-sec .list-as-table .hdr{overflow:hidden;word-wrap:break-word}
.gwf-gae-goal-interventions-sec .list-as-table .result-info>dt,.gwf-gae-goal-interventions-sec .list-as-table .hdr>dt{display:none}
.gwf-gae-goal-interventions-sec .list-as-table .result-info>dd,.gwf-gae-goal-interventions-sec .list-as-table .hdr>dd{box-sizing:border-box;position:relative;float:left;-moz-box-sizing:border-box}
.gwf-gae-goal-interventions-sec .list-as-table .result-info>dd{padding:2px 6px;min-height:50px}
.gwf-gae-goal-interventions-sec .list-as-table .result-info>dd:nth-of-type(1):before,.gwf-gae-goal-interventions-sec .list-as-table .hdr>dd:nth-of-type(1):before{display:none}
.gwf-gae-goal-interventions-sec .list-as-table .sub-sec-hd{font-size:12px;font-weight:normal;color:#3e3e3e;background:#b6c9db;padding:2px 0 2px 6px;border-top:1px solid #e9eff4;border-bottom:1px solid #9aabbb;zoom:1;overflow:hidden}
.gwf-gae-goal-interventions-sec .list-as-table .sub-sec-title{color:#3d3d3d}
.gwf-gae-goal-interventions-sec .list-as-table .sub-sec-total{font-size:11px;font-weight:normal}
.gwf-gae-goal-interventions-sec .list-as-table .sub-sec-display{font-weight:bold}
.gwf-gae-goal-interventions-sec .list-as-table .sub-sec-hd-tgl{background:url(../images/sprite_green.png) -36px 0;font-size:1px;color:#cddcee;height:7px;width:7px;float:left;cursor:pointer;margin:0;margin-top:5px;padding-right:3px}
.gwf-gae-goal-interventions-sec .list-as-table .closed .sub-sec-hd-tgl{background:url(../images/sprite_green.png) -28px 0;height:9px;width:5px;margin-top:4px}
.gwf-gae-goal-interventions-sec .list-as-table.grouping-applied .result-info dd:first-child,.gwf-gae-goal-interventions-sec .list-as-table.grouping-applied .hdr dd:first-child{padding-left:16px}
.gwf-goal{display:block}
.gwf-goal-li{margin-top:10px;background-color:#f6f6f6;border:1px solid #dcdcdc}
.gwf-goal-priority{padding-top:10px;padding-bottom:7px;padding-left:7px;display:inline-block;width:33px;border-right:1px solid #dcdcdc;height:38px;vertical-align:top}
.gwf-goal-priority span.vertical-dots{margin-top:9px}
.gwf-goal-priority span.priority-nbr{font-weight:bold;font-size:14px;padding-left:5px;position:relative;top:-3px;display:inline-block}
.vertical-dots{background:url(../images/6384_dark.png) no-repeat;display:inline-block;width:4px;height:16px}
ul.gwf-unmet-goals.ui-sortable-disabled .gwf-goal-priority span.priority-nbr{top:7px}
.gwf-goal-status-div{padding-top:10px;padding-bottom:7px;padding-left:7px;display:inline-block;height:38px;vertical-align:top}
.gwf-goal-details{width:59%\9}
.gwf-goal-details{padding-top:10px;padding-bottom:7px;padding-left:10px;display:inline-block;width:calc(100% - 230px);min-height:38px}
.gwf-goal-comment{padding-top:10px;padding-bottom:7px;display:inline-block;float:right;height:38px;color:#a0a0a0;padding-left:20px;padding-right:10px;cursor:pointer}
.gwf-goal-comment i{size:14pt;margin-top:5px}
.gwf-goal-edit{padding-top:10px;padding-bottom:7px;padding-left:10px;display:inline-block;float:right;height:38px;color:#a0a0a0;padding-right:20px;cursor:pointer}
.gwf-goal-edit i{size:14pt;margin-top:5px}
.gwf-goal-details-1{display:block;font-size:12px;margin-bottom:2px;height:18px}
.gwf-goal-details-2{display:block;font-size:12px;height:18px}
.gwf-goal-expand-collapse{font-size:1.45em;padding-right:5px;width:16px;height:16px;display:inline-block;position:relative;top:2px;left:-4px}
.gwf-goal-expand-collapse.expand-icon{background:url(../images/5323_collapsed_16.png) no-repeat;cursor:pointer}
.gwf-goal-expand-collapse.collapse-icon{background:url(../images/5323_16.png) no-repeat;cursor:pointer}
.gwf-goal-details-1:before,.gwf-goal-details-1:after{content:" ";display:table}
.gwf-goal-details-1:after{clear:both}
.gwf-goal-description{font-weight:bold;display:inline-block;float:left}
.gwf-goal-start-date-sec,.gwf-goal-target-sec,.gwf-goal-creator-sec{display:inline-block;float:right;margin-left:20px;max-width:20%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.gwf-goal-type-sec,.gwf-goal-category-sec,.gwf-goal-barriers-sec{display:inline-block;float:right;margin-left:20px;max-width:20%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;cursor:pointer;word-break:normal;word-wrap:normal}
.gwf-goal-expanded-sec{overflow:visible;white-space:pre-line;word-break:normal;word-wrap:normal}
.gwf-goal-start-lbl,.gwf-goal-target-lbl,.gwf-goal-creator-lbl,.gwf-goal-type-lbl,.gwf-goal-category-lbl{color:#505050}
.gwf-goal-num-met{display:inline-block;float:left}
.gwf-goal-inter-desc{width:35%}
.gwf-goal-inter-type,.gwf-goal-inter-category,.gwf-goal-inter-status,.gwf-goal-inter-target,.gwf-goal-inter-confidence{width:10%}
.gwf-goal-inter-frequency{width:15%}
.gwf-add-goal{display:none}
.gwf-control-bar{height:55px;border-bottom:1px solid #707070;display:block;padding-left:10px;background-color:#f6f6f6}
.gwf-control-buttons-wrapper{display:table-cell;vertical-align:middle;height:inherit}
.gwf-met-gls-control,.gwf-future-gls-control,.gwf-unmet-gls-control,.gwf-all-gls-control{min-width:75px;display:inline-block;float:left;border:1px solid #62727b;text-align:center;cursor:pointer}
.gwf-met-gls-control.selected,.gwf-future-gls-control.selected,.gwf-unmet-gls-control.selected,.gwf-all-gls-control.selected{background-color:#eaeaea;font-size:12px;font-weight:bold;color:#fff}
.gwf-unmet-gls-control{border-right:0;border-left:none}
.gwf-future-gls-control{border-right:0}
#timedMessage{padding-left:20px;font-weight:bold;position:relative;top:3px}
.gwf-met-gls-control,.gwf-future-gls-control,.gwf-unmet-gls-control,.gwf-all-gls-control{background:#f6f6f6;background:-moz-linear-gradient(top,rgba(255,255,255,1) 0,rgba(225,225,225,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(225,225,225,1)));background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0,rgba(225,225,225,1) 100%);background:-o-linear-gradient(top,rgba(255,255,255,1) 0,rgba(225,225,225,1) 100%);background:-ms-linear-gradient(top,rgba(255,255,255,1) 0,rgba(225,225,225,1) 100%);background:linear-gradient(to bottom,rgba(255,255,255,1) 0,rgba(225,225,225,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e1e1e1',GradientType=0)}
.gwf-met-gls-control:hover,.gwf-future-gls-control:hover,.gwf-unmet-gls-control:hover,.gwf-all-gls-control:hover{background:#f2f2f2;background:-moz-linear-gradient(top,rgba(242,242,242,1) 0,rgba(213,213,213,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(242,242,242,1)),color-stop(100%,rgba(213,213,213,1)));background:-webkit-linear-gradient(top,rgba(242,242,242,1) 0,rgba(213,213,213,1) 100%);background:-o-linear-gradient(top,rgba(242,242,242,1) 0,rgba(213,213,213,1) 100%);background:-ms-linear-gradient(top,rgba(242,242,242,1) 0,rgba(213,213,213,1) 100%);background:linear-gradient(to bottom,rgba(242,242,242,1) 0,rgba(213,213,213,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2',endColorstr='#d5d5d5',GradientType=0)}
.gwf-met-gls-control:active,.gwf-future-gls-control:active,.gwf-unmet-gls-control:active,.gwf-all-gls-control:active{background:#e6e6e6;background:-moz-linear-gradient(top,rgba(230,230,230,1) 0,rgba(202,202,202,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(230,230,230,1)),color-stop(100%,rgba(202,202,202,1)));background:-webkit-linear-gradient(top,rgba(230,230,230,1) 0,rgba(202,202,202,1) 100%);background:-o-linear-gradient(top,rgba(230,230,230,1) 0,rgba(202,202,202,1) 100%);background:-ms-linear-gradient(top,rgba(230,230,230,1) 0,rgba(202,202,202,1) 100%);background:linear-gradient(to bottom,rgba(230,230,230,1) 0,rgba(202,202,202,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6',endColorstr='#cacaca',GradientType=0)}
.gwf-met-gls-control.selected,.gwf-future-gls-control.selected,.gwf-unmet-gls-control.selected,.gwf-all-gls-control.selected{background:#62727b;background:-moz-linear-gradient(top,rgba(98,114,123,1) 0,rgba(81,97,105,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(98,114,123,1)),color-stop(100%,rgba(81,97,105,1)));background:-webkit-linear-gradient(top,rgba(98,114,123,1) 0,rgba(81,97,105,1) 100%);background:-o-linear-gradient(top,rgba(98,114,123,1) 0,rgba(81,97,105,1) 100%);background:-ms-linear-gradient(top,rgba(98,114,123,1) 0,rgba(81,97,105,1) 100%);background:linear-gradient(to bottom,rgba(98,114,123,1) 0,rgba(81,97,105,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62727b',endColorstr='#516169',GradientType=0)}
#goalsCommentBody textarea{width:98%\9;min-height:90%\9}
#goalsCommentBody textarea{width:calc(100% - 6px);margin-top:5px;height:calc(100% - 15px);resize:none;overflow:auto}
.gwf-goal-priority{cursor:url("../images/openhand.cur"),move}
.gwf-goal-priority:active{cursor:url("../images/closedhand.cur"),move}
.gwf-goals-unmet-header,.gwf-goals-met-header,.gwf-goals-future-header{border-bottom:1px solid #707070;font-size:13px;font-weight:bold;color:#193f72;margin-bottom:10px;margin-top:10px}
.no-goals-glyph-parent{margin-top:30px;margin-bottom:30px}
.no-goals-glyph-icon{background:url(../images/noData-large.png) no-repeat;width:185px;height:185px;display:block;margin-left:auto;margin-right:auto}
.no-goals-glyph-text{font-size:16px;color:#505050;text-align:center;margin-top:25px}
.goal-comment-icon{background:url(../images/Comment_empty.png) no-repeat;width:16px;height:16px;display:inline-block;margin-top:6px;zoom:1.5}
.goal-comment-icon.comment-exists{background:url(../images/Comment_filled.png) no-repeat}
.goal-edit-icon{background:url(../images/6816_16_up.png) no-repeat;width:16px;height:16px;display:inline-block;margin-top:6px;zoom:1.4}
.goal-edit-icon:hover{background:url(../images/6816_16_over.png) no-repeat}
.gwf-goal-status-select{padding:4px 10px;width:40px;border:1px solid transparent;margin-top:3px;cursor:pointer}
.gwf-goal-status-select.disabled{pointer-events:none}
.gwf-goal-status-select:hover{border:1px dashed #30649c}
.gwf-goal-status-select .gwf-status-icon{width:16px;height:16px;display:inline-block;zoom:1.3;margin-right:2px}
.gwf-status-unmet{background:url(../images/6376_16.png) no-repeat}
.gwf-status-met{background:url(../images/4022_16.png) no-repeat}
.gwf-status-delete{background:url(../images/trashcan.png) no-repeat;left:2px}
.gwf-goal-status-select .down-arrow{background:url(../images/5323_16.png) no-repeat;width:16px;height:16px;display:inline-block}
.gwf-inter-status-select .gwf-status-icon{width:16px;height:16px;display:inline-block;zoom:.9;margin-right:6px;position:relative;bottom:-2px}
.gwf-inter-status-select{padding:1px 5px;border:1px solid transparent;cursor:pointer;display:inline-block;height:18px}
.gwf-inter-status-select.disabled{pointer-events:none}
.gwf-inter-status-select:hover{border:1px dashed #30649c}
.gwf-inter-status-select .down-arrow{background:url(../images/5323_16.png) no-repeat;width:16px;height:16px;display:inline-block;zoom:.9;margin-left:5px;top:2px;position:relative}
.goals-status-menu .menu-item .gwf-status-icon{margin-right:6px;display:inline-block;width:16px;height:16px;zoom:.9;position:relative;bottom:-2px}
.goals-status-menu .menu-item .menu-selection-ind{display:none}
.gwf-preview-table{table-layout:fixed;width:98%}
.gwf-preview-icon{background:url(../images/5187.gif);width:16px;height:16px;float:right;display:inline-block;margin:4px 2px 0 2px;text-indent:-9999px;cursor:pointer}
.gwf-preview-cmt-checkbox{margin-right:5px}
.gwf-check-all-width{width:2%}
.gwf-pri-cell{width:4%}
.gwf-goal-cell{width:16%;padding-right:1em}
.gwf-int-cell{width:20%}
.gwf-typ-cell{width:10%}
.gwf-cat-cell{width:10%}
.gwf-sta-cell{width:10%}
.gwf-cmt-cell{width:15%;padding-right:1em}
.gwf-goal-cell-2{width:18%;padding-right:1em}
.gwf-cmt-cell-2{width:17%;padding-right:1em}
.gwf-start-date-cell{width:5%}
.gwf-target-date-cell{width:5%}
.gwf-delete-cell{width:3%}
.gwf-sort-header{cursor:pointer}
.gwf-preview-table td,.gwf-preview-table th{border:1px solid #AAA;padding-left:3px;padding-right:3px}
.dmg-phy{font:12px Tahoma}
.dmg-phy-phone{font:12px Tahoma}
@media print{.dyn-modal-dialog{display:inline;width:auto;height:auto;overflow:visible}
.dyn-modal-body-container{display:inline-block;width:auto;height:auto;overflow:visible}
.dyn-modal-hdr-container{margin-left:0}
thead{display:table-header-group}
}