.cpm .recom-o2-table{float:none;vertical-align:top}
.cpm .recom-o2-readpane{box-sizing:border-box;width:40%;position:relative;vertical-align:top}
.cpm .recom-o2-sidepanel-container{float:none}
.recom-o2-sec h2.cpm.sec-hd{border-bottom:0}