.himproc-outer{max-height:500px;overflow-y:scroll}
.himproc-sec-hd{font-size:12px;font-weight:normal;color:#3e3e3e;background-color:#e6e8f1;padding:0 3px 0 1em;border-top:1px solid #ededed;border-bottom:1px solid #aabecd;zoom:1}
.himproc-small-text{font-size:9px;color:#a0a0a0;padding:0 1em}
.himproc-label{width:25%;background-color:#f6f6f6;text-align:right;padding:0 .5em 0 1em;border-bottom:1px solid #ededed}
.himproc-text{width:25%;background-color:#FFF;padding-left:.5em;border-bottom:1px solid #ededed}
.himproc{clear:both;zoom:1;overflow-x:hidden;overflow-y:auto;border:0}
.closed .himproc{display:none}