.hm-healthplan-selector .health-plan-content{margin-top:-3px}
.hm-healthplan-selector{float:right;margin-top:-16px;padding-right:4px}
.wrkflw-views .hm-healthplan-selector .health-plan-content{margin-right:7px;margin-top:-1px}
.wrkflw-views .hm-healthplan-selector{margin:-4px 8px 0 0;border-right:1px solid;border:1px solid #FFF;border-right-color:#a0a0a0;height:22px;padding-right:0}