.hml2-sig{display:inline;padding-left:.5em}
.hml2-comm-loading{vertical-align:middle;background:transparent url(../images/6439_24.gif) no-repeat scroll center}
.hml2-loading{display:none;background:url(../images/bgFFFop50.png) center;position:absolute;width:100%;vertical-align:middle}
.hml2-dthrd,.hml2-dthrd:hover{color:#cecece;cursor:default}
.hml2-content-ft{background:transparent;padding-top:6px;padding-left:4px;box-sizing:border-box}
.closed .hml2-content-ft{display:none}
.hml2-rnw-row{border-top:1px solid #959fa7;padding:5px}
.hml2-sgn-row{padding:5px}
.hml2-route{padding-left:5px;color:#666}
.hml2-rnw-btn{font:normal 11px/1.5em Tahoma,sans-serif;margin:0 3px}
.hml2-externaldata-container{margin-bottom:20px}
.hml2-rnw-btn img{vertical-align:bottom}
.hml2-sgn-btn{width:5em;font-size:11px;margin-right:8px;padding:0 3px;min-height:22px;float:right}
.hml2-med-selected,.hml2-med-selected .hml2-sig{color:#FFF;background:#568ecb}
.hml2-rx-hx{display:table-cell;width:6%}
.hml2-rx-hx img{vertical-align:bottom}
.hml2-route-link,.hml2-disp-q-rnw,.hml2-rfl-rnw{color:#568ecb;cursor:pointer}
.hml2-rt-spn{color:#568ecb;cursor:pointer;padding:0 3px}
.hml2-route-link.hml2-dthrd{color:#cecece;cursor:default;text-decoration:none}
.hml2-med-selected .hml2-disp-q-rnw,.hml2-med-selected .hml2-rfl-rnw,.hml2-med-selected .hml2-route-opt-spn{color:#FFF;cursor:default}
.hml2-cncld .hml2-disp-q-rnw,.hml2-cncld .hml2-rfl-rnw,.hml2-cmplt .hml2-disp-q-rnw,.hml2-cmplt .hml2-rfl-rnw{color:#666;cursor:default}
.hml2-rfl,.hml2-disp-q{white-space:nowrap}
.hml2-hide-sig-line{display:none}
.hml2-cncld span,.hml2-cmplt span{text-decoration:line-through}
.hml2-route-link{text-decoration:none}
.hml2-info .hml2-dur,.hml2-info .hml2-dur-cd,.hml2-info .hml2-disp-dur,.hml2-info .hml2-disp-dur-cd,.hml2-info .hml2-disp-qty-cd,.hml2-info .hml2-cat-cd{display:none}
.hml2-info{display:table-cell;width:92%;vertical-align:top}
.hml2-info-icon-div{width:100%;display:inline-block;text-align:center}
.hml2-info-icon-div .hml2-info-container{display:inline-block;width:97%}
.header-item.hml2-info-icon-col{padding-top:18px}
.hml2-info-icon{background:url("../images/std-info.png") no-repeat scroll left center transparent;cursor:pointer;margin-right:2px;width:16px;display:inline-block}
.hml2-info-icon.hidden{display:none}
.hml2-info.error-message{display:block;width:100%}
.table-cell.hml2-info-icon-col.mpage-tooltip-hover{background-color:transparent;overflow:hidden}
.hml2-med-opt{padding:0 30px 1px 10px}
.hml2-mnu-hvr{color:#FFF;background:#568ecb;cursor:pointer}
.hml2-rt-hr{display:block;cursor:default}
.hml2-rt-menu{color:#000;width:18%;position:absolute;border:1px solid #000;background-color:#FFF;padding:5px;z-index:2000;zoom:1}
.hml2-rt-sel{font-weight:bold}
.hml2-rt-hover{display:none}
.hml2-rt-hover-hd{font-weight:bold;text-align:center}
.hml2-rt-div{position:absolute;background-color:#FFC;border:3px solid #fff15f;padding:5px}
.hml2-rt-addr{padding:3px 0}
.hml2-tt-arr-lt{position:absolute;background:url(../images/ttArrowLt.gif) no-repeat 0 0;height:16px;width:16px;z-index:1000}
.hml2-tt-arr-rt{position:absolute;background:url(../images/ttArrowRt.gif) no-repeat 0 0;height:16px;width:16px;z-index:1000}
.hml2-rt-more-printer,.hml2-rt-printer{cursor:pointer}
.hml2-rt-uid,.hml2-defrt-uid{display:none}
.hml2-rt-more-printer{color:#6f6f6f}
.hml2-mp-hvr{font-style:italic}
.hml2-mp-div{position:absolute;background-color:#FFF;border:2px solid #000;padding:5px 10px}
.hml2-mpd-rt{border-left:none}
.hml2-mpd-lt{border-right:0}
.hml2-hvr-tbl{border-collapse:collapse;position:absolute;margin-left:1px;width:120px;zoom:1;display:none}
.hml2-rfl-hvr-tbl{border-collapse:collapse;position:absolute;margin-left:1px;width:150px;display:none}
.hml2-rfl-all{margin:10px;vertical-align:middle}
.hml2-row{background:#f8f8ff}
.hml2-row-tl{border-left:1px solid #000}
.hml2-row-bl{border-bottom:1px solid #000;border-left:1px solid #000}
.hml2-row-tr{border-right:1px solid #000;border-top:1px solid #000}
.hml2-row-br{border-bottom:1px solid #000;border-right:1px solid #000}
.hml2-ref-tab{border-left:1px solid #000;border-right:1px solid #000;border-top:1px solid #000;background:#f8f8ff;text-align:center;padding:0 3px}
.hml2-row-hd{background:#f8f8ff;line-height:10px}
.hml2-row-l{border-left:1px solid #000;border-right:1px solid #000;padding:0 3px}
.hml2-rt-crnr{width:35px}
.hml2-rfl-hvr-tbl .hml2-rt-crnr{width:70px}
.hml2-qty-txt{width:20px;margin:0 10px}
.hml2-hvr-tbl .hml2-qty-txt{width:40px;margin:0 5px}
.hml2-rnw-t{color:#568ecb}
.hml2-hide-tbl{display:none}
.hml2-hover{padding:0 5px;margin:-1px 10px 10px 5px;width:400px;line-height:2em;word-wrap:break-word}
.hml2-hover dt{float:left;clear:both;margin-right:5px;color:#7c7c7c}
.hml2-hover dt span:after{content:":"}
.hml2-line-spacing{margin-top:10px}
.hml2-padding-top20{padding-top:20px}
.hml2-padding-left20{padding-left:20px}
.hml2-padding-top5{padding-top:5px}
.hml2-width{width:750px}
.hml2-accordion-left-alignmnent{margin-left:5px}
.hml2-hidden{visibility:hidden}
.hml2-mimic-a-tag{color:#3380e5;float:right;cursor:pointer}
.hml2-status-container{text-align:right;display:table-cell}
.hml2-clearfix{content:"";display:table;clear:both}
.hml2-status-disabled{color:#666}
.hml2-status{display:inline-block;margin-left:15px;vertical-align:top}
.hml2-status:first-child{color:#505050}
.hml2-status dd,.hml2-status dt{float:left}
.hml2-status>dd>a{margin:0;color:#000}
.hml2-status>.hml2-status-img{width:16px;height:16px;display:inline-block;margin-right:2px}
.hml2-status>.hml2-status-img.loading-status{background:url(../images/6439_16.gif) no-repeat}
.hml2-status>.hml2-status-img.unknown{background:url(../images/3865_16.gif) no-repeat}
.hml2-status>.hml2-status-img.inerror{background:url(../images/4017_16.gif) no-repeat}
.hml2-status>.hml2-status-img.complete{background:url(../images/4022_16.gif) no-repeat}
.hml2-status>.hml2-status-img.partial-complete{background:url(../images/reconpendingcomplete.bmp) no-repeat}
.hml2-status>.hml2-status-img.partial-inprocess{background:url(../images/reconpendinginprocess.bmp) no-repeat}
.hml2-status>.hml2-status-img.partial{background:url(../images/4013_16.gif) no-repeat}
.hml2-status>.hml2-status-img.not-started{background:url(../images/4015_16.gif) no-repeat}
.hml2-status>.hml2-status-img.inprocess{background:url(../images/4803_16.bmp) no-repeat}
.hml2-medrec-link-seperator{border-left:1px solid;padding-left:4px;border-left-color:#a0a0a0}
.hml2-pat-request-col{width:9%}
.hml2-med-col,.hml2-med-col-with-pat-req{width:34%;display:table;word-break:break-all}
.hml2-last-dose{width:14%}
.hml2-last-dose-with-pat-req{width:12%}
.hml2-compliance{width:17%}
.hml2-compliance-comment{width:20%}
.hml2-compliance-comment-with-pat-req{width:15%}
.hml2-compliance-comment-with-pat-req .header-item{padding-left:2px;padding-right:2px}
.hml2-info-icon-col{width:3%}
.hml2-info-icon-col.hidden{display:none}
.wf .list-as-table .hdr .hml2-med-col{border-left:0}
.hml2-pat-req-icon{float:left;width:16px;height:16px;margin-right:5px;background-image:url("../images/6965_16.png")}
.hml2-remove-request-btn{margin-top:1px}
.hml2-bullet-listed{display:list-item;list-style-type:disc}
.hml2-pat-req-indent{margin-left:24px}
.hml2-outside-recs-action{display:inline-block}
.hml2-outside-recs-action input[type="checkbox"]{margin-bottom:-1px;margin-right:3px}
.hml2-segmented-button{margin-bottom:10px}
.filter-grouping-label{margin-left:5px}
.filter-grouping-class-container{margin-top:20px;margin-left:20px}
.filter-grouping-control-container{margin-top:10px;margin-left:20px}
.filter-grouping-selected-label{float:left}
.selected-filter{float:left;margin-left:4px}
.hml2-grouping-contentbox{top:65px}
.hml2-formulary{width:9%}
.hml2-formulary.hml2-wb{background:white}
.result-info .hml2-formulary{padding-left:5px;float:left;margin:3px 0}
.hml2-sec .list-as-table.grouping-applied .result-info dd{padding-left:5px;float:left;margin:3px 0}
.hdr .hml2-formulary{margin-left:-5px}
.hml2-wb .health-plan-unknown{color:black}
.hml2-sec .no-health-plan-found{line-height:22px}
.hml2-sec .health-plan-selector-dropdown{margin-top:1px;margin-right:6px}
.hml2-sec .single-item-dropdown{margin-top:0}
.hml2-meds-header-info-container{padding-bottom:10px}
.hml2-meds-header-info-container-with-segmented-control{padding-bottom:23px}
button.btn.btn-secondary.hml2-cursor-wait{cursor:wait}
.hml2-side-panel{display:none;width:40%;padding-left:10px;box-sizing:border-box}
.hml2-table-with-panel{width:59.9%;display:inline-block;vertical-align:top}
.hml2-table-with-panel .hml2-last-dose,.hml2-table-with-panel .hml2-last-dose-with-pat-req,.hml2-table-with-panel .hml2-compliance,.hml2-table-with-panel .hml2-compliance-comment,.hml2-table-with-panel .hml2-compliance-comment-with-pat-req,.hml2-table-with-panel .hml2-formulary{display:none}
.hml2-table-with-panel .hml2-med-col{width:94%}
.hml2-table-with-panel .hml2-med-col-with-pat-req{width:77%}
.hml2-table-with-panel .hml2-pat-request-col{width:15%}
.hml2-table-with-panel .hml2-rx-hx{width:4.6%}
.hml2-table-with-panel .hml2-info-icon-col{width:5%}
.hml2-detail-section{padding:0 18px 14px 15px}
.hml2-detail-section.sp-body-contents-padding{background-color:#f6ebf9}
.hml2-detail-group{display:inline-block;width:33%;box-sizing:border-box;padding-right:10px;vertical-align:top}
.hml2-detail-label{padding-top:14px}
.hml2-side-panel .sp-body-contents .sp-separator2{margin-right:18px}
.hml2-footer-with-panel{width:59.9%}
.hml2-footer-with-panel .hml2-sgn-btn{margin-right:0}
.hml2-status-mod{color:#7c7c7c}
.hml2-pull-right{float:right;width:auto}
.hml2-pull-right-no-width{float:right}
.hml2-closed{display:none}
.hml2-show-expand-btn{background:url(../images/sprite_green.png) -28px 0;height:9px;width:7px;margin:4px 5px 4px 0;float:left;overflow:hidden;cursor:pointer}
.hml2-hide-expand-btn{background:url(../images/sprite_green.png) -36px 0;height:7px;width:7px;margin:4px 5px 4px 0;float:left;overflow:hidden;cursor:pointer}
.hml2-secondary-text{font-weight:normal}
.hml2-active{font-weight:bold;color:#fff;background:transparent linear-gradient(#62727b,#516169) repeat scroll 0 0}
.hml2-side-panel-header-no-btn{padding-top:0}
.hml2-side-panel-hx-icon{padding-right:5px}
.hml2-remove{display:none}
.btn-group ~ .hml2-status-container{margin-top:-23px}
.hml2-hi-ext-label{background-color:#eaddef;font-size:12px;font-weight:normal;color:#3e3e3e;padding:0 3px;border-top:1px solid #ededed;border-bottom:1px solid #ededed;zoom:1;overflow:hidden;padding-left:7px;padding-top:5px;padding-bottom:5px}
.hml2-hi-ext-btn{font-size:12px;font-weight:normal;background-color:#eaddef;color:#3e3e3e}
.hml2-hi-hide{float:left;display:inline-block;width:30%;padding:4px 7px 4px 16px}
.hml2-ext-name,.hml2-ext-comments{width:30%}
.hml2-ext-start-date,.hml2-ext-provider{width:20%}
.hml2-ext-with-panel{width:59.9%}
.hml2-ext-with-panel .hml2-ext-provider,.hml2-ext-with-panel .hml2-ext-comments{display:none}
.hml2-ext-with-panel .hml2-ext-name{width:60%}
.hml2-ext-with-panel .hml2-ext-start-date{width:40%}
.hml2-ext-selected,.hml2-ext-selected .hml2-sig{color:#FFF;background:#568ecb}
.hml2-ext-hvr-table{position:absolute;z-index:1000;background-color:#FFC;border:1px solid #000;padding:0 5px;z-index:1;margin:-1px 10px 10px 5px;width:300px;line-height:2em;word-wrap:break-word}
.hml2-ext-dt{float:left;color:#505050}
.hml2-ext-dt-span{float:left;margin-left:5px}
.hml2-ext-dd{float:left;display:inline;margin:0 5px;overflow-x:hidden}
.hml2-row-pager{border-left:1px solid #DDD;border-bottom:1px solid #DDD;border-right:1px solid #DDD}
.hml2-ext-img{float:left}
.hml2-ext-dt-label{margin-left:5px;text-align:left;padding-left:7px;font-weight:bold}
.hml2-ext-table{position:relative}