.icufs-sec{max-height:765px}
.icufs{padding:6px}
.icufs-tab-item{display:inline-block;margin-right:5px;padding:1px 15px 2px 4px;border-top:1px solid #999;border-left:1px solid #999;border-right:1px solid #999;background:#ededed;cursor:pointer}
.icufs-tabview1 .icufs-tab1,.icufs-tabview2 .icufs-tab2,.icufs-tabview3 .icufs-tab3,.icufs-tabview4 .icufs-tab4,.icufs-tabview5 .icufs-tab5{padding-top:5px;background:#e5eefc}
.icufs-tab-data{display:none;padding-bottom:18px;max-height:305px;overflow-y:auto}
.icufs-list-tab{overflow-x:hidden;padding-right:3.4%}
.icufs-group-tab{overflow-x:auto;padding-right:20px}
.icufs-list-tab .sub-sec{width:100%}
.icufs-tabview1 .icufs-data1,.icufs-tabview2 .icufs-data2,.icufs-tabview3 .icufs-data3,.icufs-tabview4 .icufs-data4,.icufs-tabview5 .icufs-data5{display:block}
.icufs-tab-body{border-top:5px solid #e5eefc;border-left:1px solid #999;border-right:1px solid #999;border-bottom:1px solid #999;padding:6px}
.icufs-temp-table-sec{padding:7px}
.icufs-temp-cont{overflow-y:auto;overflow-x:hidden;max-height:85px;padding-right:3.4%}
.icufs-table{table-layout:fixed;width:100%}
.icufs-table.icufs-evt-tbl,.icufs-io-table{width:100%}
.icufs-table td,.icufs-table th{border:1px solid #CCC;width:125px;padding:0 2px;text-align:center}
.icufs-info dt{display:none}
.icufs-row-label-left{float:left;display:inline-block;width:70%}
.icufs-row-label-right{float:right;display:inline-block;width:21%}
.icufs-volume-rate-label{color:#999}
.icufs-table .res-multiple{margin-left:.3em}
.icufs-table .closed tr,.icufs-io-table .closed tr,.icufs-medadm-table .closed tr{display:none}
.icufs-table .closed .hdr,.icufs-medadm-table .closed .dose-hdr{display:table-row}
.icufs-table .closed .hdr .icufs-prim-evt{background:#cddcee;color:#cddcee}
.icufs-table .closed .hdr .icufs-prim-evt,.icufs-table .closed .hdr .icufs-evt-set-nm{border-left:1px solid #cddcee;border-right:1px solid #cddcee}
.icufs-evt-tbl th{height:30px;vertical-align:middle;text-align:center}
.icufs-table .icufs-time-hdr-evt,.icufs-evt-tbl .icufs-lbl,.icufs-io-table .icufs-io-lbl,.icufs-io-table .icufs-io-rsltlbl,.icufs-medadm-table .icufs-medadm-lbl,.icufs-medadm-table .icufs-medadm-rsltlbl,.icufs-volume-rate-label{width:12.9%}
.icufs-io-table .icufs-io-unit,.icufs-medadm-table .icufs-medadm-unit{width:3.7%;text-align:left;padding-left:5px}
.icufs-evt-tbl th,.icufs-evt-tbl td,.icufs-io-table .icufs-io-rslt,.icufs-io-table td,.icufs-medadm-table .icufs-medadm-rslt,.icufs-medadm-table td{width:3.48%}
.icufs-io-table .icufs-io-rsltlbl,.icufs-medadm-table .icufs-medadm-rsltlbl{color:#999}
.icufs-io-table .icufs-io-label,.icufs-medadm-table .icufs-medadm-label{padding-left:10px}
.icufs-io-table .icufs-io-rslt a{color:#999}
.icufs-medadm-table .icufs-medadm-rslt a{color:#000}
.icufs-medadm-volrow{background-color:#f3f6fd}
.icufs-medadm-table .icufs-medadm-rslt a{text-decoration:none}
.icufs-medadm-hvr-info{clear:both;zoom:1;overflow-x:hidden;overflow-y:auto;padding:0 1%;word-wrap:break-word;border-bottom:1px solid #ededed}
.icufs-medadm-hvr-info dt{display:none}
.icufs-medadm-hvr-action{width:20%;float:left;display:inline-block}
.icufs-medadm-hvr-dt{width:10%;float:left;display:inline-block;margin-left:1%;margin-right:1%}
.icufs-medadm-hvr-detail{width:63%;float:left;display:inline-block;margin-right:1%}
.icufs-medadm-non-titrate{border-top:1px solid #666}
.icufs-io-table .io-sub-hd,.icufs-medadm-table .medadm-sub-hd{font-size:12px;color:#000}
.icufs-table .icufs-res-curhr{background-color:#ffeac1}
.icufs-io-day-total-rslt{background-color:#cddcee}
.icufs-table td:first-child,.icufs-table th:first-child{text-align:left}
td.icufs-res-latest,th.icufs-res-latest{font-weight:bold;border-left:4px solid #CCC;border-right:4px solid #CCC;background-color:#ededed}
td.icufs-res-latest.icufs-col-disabled{background-color:#CCC}
.icufs-tmfrm-lbl{margin-left:3em}
.icufs-tmfrm-opts{display:inline}
.icufs-tmfrm-opt{border-left:1px solid #000;padding-left:.5em;padding-right:.5em}
.icufs-tmfrm-opt:first-child{border-left:none;margin-left:.5em}
a.icufs-opt-selected{font-weight:bold;color:#666}
.closed .icufs-table,.closed .icufs-io-table,.closed .icufs-medadm-table{display:none}
.icufs-table .icufs-val,.icufs-table .row-label{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%;margin-right:4px}
.icufs-table.icufs-io-table .icufs-val,.icufs-io-table.icufs-table .row-label,.icufs-table.icufs-medadm-table .icufs-val{text-overflow:clip;white-space:normal}
.icufs-table .row-label{display:inline-block}
.icufs-cur-det,.icufs-prev-det{float:left;display:inline-block}
.icufs-prev-dt{margin-left:1em}
.icufs-prev-res-hdr{text-align:center;text-decoration:underline;font-weight:bold}
.icufs-result-line dl{zoom:1;margin-left:.5em;word-wrap:break-word;float:left;display:inline-block}
.icufs-result-line .icufs-info dt{display:inline-block}
.icufs-result-line a:link{color:#000}
.icufs-result-line{zoom:1;height:25px;width:100%;vertical-align:middle}
.icufs-result-line-wt-data{width:18%}
.icufs-result-line-io-data{width:20%}
.icufs-wt-name{width:60%;float:left;padding-right:.3em;text-align:right}
.icufs-wt-result{width:35%;float:left}
.icufs-io-name{width:45%;float:left;padding-right:.3em;text-align:right}
.icufs-io-result{width:53%;float:left}
.icufs-rst-zoom-btn{float:right}
.icufs-previous-next th{text-align:center;font-size:12px}
.icufs-result-line .unit{margin-left:.3em}
.removeSub{display:none}
.icufs-v-graph ul{list-style:none;display:inline-block;white-space:nowrap;width:99%;margin-left:0;padding-left:0}
.icufs-v-graph ul li{display:inline-block;margin-left:0;margin-bottom:0}
.icufs-legend{float:left;font-size:12px;background:#FFF;width:12.9%}
.icufs-bp-range-txt{font-weight:bold}
.icufs-bp-backgrnd{background:#f5f7fb}
.icufs-bpselect{position:relative;width:100%;white-space:nowrap;border:1px solid #ddd;height:200px;overflow:auto}
.icufs-bpgraph{height:200px;position:relative;left:13%}
div.icufs-btn{display:inline-block;position:relative;cursor:pointer;vertical-align:middle;margin-right:2px;height:22px;width:23px;border:1px solid #c9dfe5;background:#FFF}
div.icufs-btn canvas{width:22px;height:23px}
.icufs-btn-select{border-bottom:1px solid #ededed;padding:4px 0 4px 4px}
div.icufs-btns div.closed{display:none}
.icufs-rbtn{width:99%;padding:4px 0 4px 2px}
.icufs-rbtn-data{padding:2px 0 2px 15px}
.icufs-rbtn-data canvas{width:15px;height:15px}
.icufs-graph-icon-sprite{background:url("../images/Sprites/graphIconSprite.png") top left no-repeat;margin-left:.5%}
.icufs-btn.icufs-series-on.icufs-graph-icon-sprite,.btn.series-off.graph-icon-sprite{background:url("../images/Sprites/graphIconSprite.png") top left no-repeat}
.icufs-btn.icufs-series-on.icufs-filledtriangleup{background-position:-274px -10px}
.icufs-btn.icufs-series-off.icufs-filledtriangleup{background-position:-703px -10px}
.icufs-cur-det{width:200px;float:left;display:inline-block;margin-right:0;border-right:2px solid #666}
.icufs-cur-det-noprev{width:200px;float:left;display:inline-block;margin-right:0}
.icufs-prev-det{float:left;display:inline-block;padding-left:8px}
.icufs-prev-res-hdr{text-align:center;text-decoration:underline;font-weight:bold}
.icufs-additional-result{width:auto}
.icufs-data-ellipses{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.icufs-word-fix{word-wrap:normal}