.immun-o2-schedule-header-row{padding-left:10px;padding-right:10px;border:1px solid #DDD;vertical-align:middle;white-space:nowrap;min-width:193px}
.immun-o2-schedule-header-row-today{padding-left:10px;padding-right:10px;vertical-align:middle;white-space:nowrap;background-color:#fdb913;text-align:center;min-width:193px;color:#505050}
.immun-o2-schedule-header-text-left{display:inline-block;float:left}
.immun-o2-schedule-header-text-right{display:inline-block;text-align:right;float:right}
.immun-o2-schedule-header-text-top{padding-bottom:3px;vertical-align:text-top}
.immun-o2-schedule-header-text-bottom{vertical-align:text-bottom}
.immun-o2-schedule-text{padding-left:10px;border:1px solid #DDD;border-right:0;vertical-align:middle;background-color:#dde4f2;white-space:nowrap;height:41px}
.immun-o2-schedule-text-exception{background-color:#d3d3d3;white-space:nowrap;height:41px}
.immun-o2-schedule-table-today-blank{border:1px solid #DDD;border-left:1px solid orange;border-right:1px solid orange;background-color:#fffcf5}
.immun-o2-schedule-today-text{padding-left:10px;color:black;font-size:12px;border:1px solid #DDD;vertical-align:middle;background-color:#ffefae;white-space:nowrap;border-left:1px solid orange;border-right:1px solid orange;height:41px}
.immun-o2-schedule-bottom-scroll{height:20px;overflow-x:scroll;overflow-y:hidden}
.immun-o2-schedule-left-scroll{position:relative}
.immun-o2-schedule-table-content{overflow-x:hidden;border-bottom:0}
.immun-o2-schedule-headcol{position:relative;background-color:white;padding:0}
.immun-o2-schedule-headcol-first{padding-top:10px;padding-right:10px;padding-left:26px;padding-bottom:10px;border:1px solid #DDD;border-left:0;border-right:1px solid black;white-space:nowrap}
.immun-o2-schedule-headcol-detail{position:absolute;z-index:1;top:0;left:100%;height:100%;width:100%;background-color:white;border-width:3px 3px 3px 1px;border-style:solid;border-color:#007cc3;margin-top:-3px;border-left-color:#f6f6f6;box-sizing:content-box}
.immun-o2-schedule-headcol>div:first-child{padding-left:5px;padding-right:10px;white-space:nowrap;height:43px}
.immun-o2-schedule-headcol>ol{margin:0;padding:0;list-style:none;counter-reset:li 0;overflow-y:auto;height:215px}
.immun-o2-schedule-headcol>ol>li{position:relative;padding:4px;border-width:0 0 1px 0;border-style:solid;border-color:#f6f6f6;white-space:nowrap}
.immun-o2-schedule-dose-indicator{margin-right:9px;margin-left:5px;min-width:13px;text-align:center}
.immun-o2-schedule-headcol>ol>li>div{display:inline-block;vertical-align:middle;white-space:nowrap}
.immun-o2-schedule-overlay{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.25);z-index:1;display:none}
.immun-o2-schedule-blank-cell{border:1px solid #DDD;border-right:0;height:41px}
.immun-o2-schedule-uncharted{background-color:inherit}
.immun-o2-schedule-overdue-today{color:red;font-weight:bold}
.immun-o2-schedule-table-content tr::before{content:'';display:block}
.immun-o2-schedule-table-content td:first-child{position:absolute}
.immun-o2-schedule-table-content th:first-child{position:absolute}
.immun-o2-schedule-headcol-expanded{border:3px solid #007cc3;border-right-width:0}
.immun-o2-schedule-headcol-collapsed>div:first-child{border-top:1px solid #DDD;border-right:1px solid black}
.immun-schedule-headcol-flex{display:flex;align-items:center}
.immun-o2-schedule-headcol-collapsed .immun-schedule-expander-icon{background:url("../images/6890_16.png") no-repeat;width:16px;height:16px;margin-right:5px}
.immun-o2-schedule-headcol-expanded .immun-o2-schedule-listItem-active .immun-schedule-expander-icon{background:url("../images/6910_16.png") no-repeat;width:16px;height:16px;margin-right:5px}
.immun-o2-schedule-headcol-expanded .immun-schedule-expander-icon{background:url("../images/6891_16.png") no-repeat;width:16px;height:16px;margin-right:5px}
.immun-o2-schedule-headcol-expanded>div:first-child{border-width:1px 0 1px 0;border-style:solid;border-color:#f6f6f6}
.immun-o2-schedule-top-banner{border-top:1px solid black;background-color:#EEE;width:100%;z-index:1;height:43px}
.immun-o2-schedule-top-cdc{text-align:center;display:inline-block;border:1px solid #DDD;border-left:0;border-right:1px solid black;padding:10px;height:100%}
.immun-o2-schedule-top-cdc>a{color:#1c1f21}
.immun-o2-schedule-top-today{padding:5px;display:inline-block}
.immun-o2-schedule-header-past-row{padding:10px;border:1px solid #DDD;vertical-align:middle;white-space:nowrap;min-width:193px}
.immun-o2-schedule-listItem-active,.immun-o2-schedule-listItem-active .immun-o2-schedule-tertiary-text,.immun-o2-schedule-listItem-active .immun-o2-schedule-section-text,.immun-o2-schedule-listItem-active .immun-o2-schedule-inactive-text{background-color:#007cc3;color:#fff}
.immun-o2-schedule-detail-head{display:table;width:100%;height:43px;background-color:#f6f6f6}
.immun-schedule-detail-content-column-header{border-bottom:1px solid #efefef;background-color:#f6f6f6;display:table;width:100%}
.immun-o2-schedule-detail-head-bottom-border{border-bottom:1px solid #efefef}
.immun-sched-center-month{text-align:center}
.immun-o2-schedule-detail-head>div{display:table-row}
.immun-o2-schedule-detail-head>div:first-child{display:flex;vertical-align:middle;height:100%;width:100%;padding-left:5px;padding-right:5px;justify-content:space-between;align-items:center}
.immun-o2-schedule-detail-column{float:left;width:33.33333%;padding-left:5px}
.immun-o2-schedule-detail-info>span:first-child{white-space:nowrap;display:inline-block;min-width:30%;text-align:right;padding-right:3px}
.immun-o2-schedule-detail-footer{width:100%;position:absolute;bottom:0;right:0;margin:5px}
.immun-o2-schedule-detail-footer>div{text-align:right}
.immun-o2-schedule-section-text{padding-top:4px;color:#3b3b3b;font-size:16px;font-family:Tahoma,Verdana,Segoe,sans-serif}
.immun-o2-schedule-expander-header-text{color:#3b3b3b;font-size:16px;font-family:Tahoma,Verdana,Segoe,sans-serif}
.immun-o2-schedule-tertiary-text{color:#7c7c7c;font-size:12px;font-family:Tahoma,Verdana,Segoe,sans-serif}
.immun-o2-schedule-didnt-count-text{color:#b40000}
.immun-o2-schedule-inactive-text{color:#737373;text-decoration:line-through}
.immun-o2-schedule-section-secondary-text{color:#3b3b3b;font-size:14px;font-family:Tahoma,Verdana,Segoe,sans-serif;margin:0 0 3px 3px}
.immun-o2-schedule-pagination{margin:5px;border-top-width:1px;border-style:solid;border-color:#f6f6f6}
.immun-o2-schedule-pagination-prev{float:left}
.immun-o2-schedule-pagination-next{float:right}
.immun-o2-schedule-bottom-banner{background-color:#EEE;width:100%;z-index:1;border:1px solid #DDD;display:flex;justify-content:space-between;align-items:center;height:43px}
.immun-o2-schedule-other-vaccines{border-right:1px solid black;height:30px;background-color:#cddcef;font-size:14px}
.immun-schedule-vaccine-did-not-count{background:url('../images/mpages-sprite.png') no-repeat -21px -67px;width:14px;height:13px}
.immun-schedule-vaccine-did-not-count-header{display:inline-block;margin-right:5px;margin-bottom:-2px}
.immun-schedule-comment-icon{display:inline-block;background:url('../images/mpages-sprite.png') no-repeat -81px -67px;width:16px;height:14px;margin-left:10px;margin-right:5px}
.immun-sched-event-text-block{display:inline-block}
.immun-schedule-expander-details-comment-container{display:block;padding-right:10px}
.immun-schedule-hr{display:block;margin-top:5px;margin-bottom:5px}
.immun-o2-schedule-detail-info>span:first-child.immun-schedule-details-comment-label{min-width:initial;float:left}
.immun-schedule-refresh-button{cursor:pointer;background:url("../images/6922_16.png") no-repeat 4px 3px;width:24px;height:22px;margin:8px;display:inline-block;float:right}
.immun-schedule-action-button{display:inline-block;margin:5px 5px 5px 0}
.immun-sched-link-container-subtitle{margin:15px 15px 5px 15px}
.immun-schedule-link-container>ol{margin:0 15px 15px 15px}
.immun-schedule-link-container>ol>li{width:33%;float:left}
.immun-schedule-vis-error{margin:15px}
.immun-schedule-error-container{margin:0 10px}
.immun-schedule-detail-container{overflow:auto;margin-bottom:5px}
.immun-schedule-vis-horizontal-rule{display:inherit;height:1px;margin:auto;width:75%}
.immun-schedule-refresh-loading-spinner{height:100%;top:0;z-index:999}
.immun-schedule-other-vaccines-text{padding:5px}
.immun-schedule-table-outer{height:calc(100% - 86px - 20px);overflow-y:auto;overflow-x:hidden}
.immun-o2-schedule-table-content>table>tbody>tr:last-of-type>.immun-o2-schedule-headcol-collapsed>div:first-child{border-bottom:1px solid #DDD}