.immun-o2-vaccine-col{width:60%;padding-left:10px}
.immun-o2-last-admin-date-col{width:22%}
.immun-o2-patient-age-col{width:18%}
.immun-o2-registry-links-container{display:inline-block}
.immun-o2-registry-secondary-text{color:#505050}
.immun-o2-row-selected{background-color:#568ecb;color:#FFF}
.immun-o2-row-selected-init{background-color:#bbc3cb}
.immun-o2-left-container{display:inline-block;width:60%;vertical-align:top}
.immun-o2-lotManufacturer{padding-left:12px}
.immun-o2-lot{display:inline-block;width:50%;vertical-align:top}
.immun-o2-manufacturer{display:inline-block;width:50%;vertical-align:top}
.immun-o2-table{display:inline-block;width:100%;vertical-align:top}
.immun-o2-sidepanel-container{display:inline-block;padding-left:10px;width:40%;position:relative;box-sizing:border-box;vertical-align:top}
.immun-o2-sidepanel-container-test{display:inline-block;padding-left:10px;position:relative;box-sizing:border-box;vertical-align:top}
.immun-o2-maincontainer{width:auto;overflow:hidden}
.immun-o2-sec .immun-o2-readpane .preview_pane{position:relative;background-color:#f6f6f6;border-color:#DDD;border-width:1px;width:100%;box-sizing:border-box}
.wf .list-as-table .hdr .immun-o2-vaccine-col{padding-left:10px}
.wf .list-as-table .result-info .immun-o2-vaccine-col{padding-left:10px}
.immun-o2-rp-content{padding:18px 20px 10px 10px}
.immun-o2-rp-indicator{float:left;background:url(../images/note_indicator.png) no-repeat center #f6f6f6;margin-top:-2px;width:5px}
.immun-o2-rp-section-separator{border-bottom:1px solid #ddd;height:9.5px;overflow:visible}
.immun-o2-rp-main-separator{border-bottom:1px solid #FFF;height:10px;margin-bottom:12px;overflow:visible}
.immun-o2-unchart-reason{padding-left:20px}
.immun-o2-rp-history{padding:0 0 20px 10px}
.immun-o2-rp-history-title-text{display:inline-block;font-size:12px;color:#505050;padding-left:11px;background-color:#f6f6f6;padding-right:4px}
.immun-o2-rp-history-hi{padding:0 0 0 14px}
.immun-o2-rp-history-content{vertical-align:middle;overflow:hidden}
.immun-o2-rp-history-content-data{width:50%;display:inline-block;vertical-align:middle;word-wrap:break-word;float:left;margin-bottom:12px}
.immun-o2-rp-comments{padding:0 0 0 30px;overflow:visible;word-wrap:break-word;display:inline}
.immun-o2-rp-comments-text{display:block;padding-left:30px}
.immun-o2-rp-comments-text-hi{padding-left:12px}
.immun-o2-sp-value{padding:10px 0 0 0;display:inline}
.immun-o2-sp-label{padding:10px 0 0 10px;display:inline}
.immun-o2-sp-content{display:block}
.immun-o2-product{padding:0 0 10px 30px;display:block}
.immun-o2-provider{display:inline-block;padding:0 0 5px 30px}
.immun-o2-sp-admin-date{display:block}
.immun-o2-toggle{float:left;display:inline-block;height:14px;width:12px;background:url("../images/5323_expanded_16.png") no-repeat right}
.closed .immun-o2-toggle{background:url("../images/5323_collapsed_16.png") no-repeat right}
.immun-o2-sp-group{padding:0 0 10px 20px}
.immun-o2-expand-content{cursor:pointer;padding:0 0 10px 10px}
.closed .immun-o2-sp-container,.immun-o2-side-panel-open [data-column="NEXT_DOSE_RANGE"],.immun-o2-side-panel-open .immun-o2-forecast-next-dose-range-col{display:none}
.immun-o2-sp-container{padding:10px 0 10px 0}
.immun-o2-route-container{margin-bottom:20px}
.immun-o2-hi-ext-label{background-color:#eaddef;font-size:12px;font-weight:normal;color:#3e3e3e;padding:0 3px;border-top:1px solid #ededed;border-bottom:1px solid #ededed;zoom:1;overflow:hidden;padding:7px 5px 5px}
.immun-o2-br{height:5px}
.immun-o2-spinner-parent{position:relative}
.immun-o2-hi-ext-label-change-bg{font-weight:normal;color:#3e3e3e;padding:0 3px;zoom:1;overflow:hidden;padding-top:5px;padding-bottom:5px}
.immun-o2-hi-ext-btn{font-size:12px;font-weight:normal;background-color:#eaddef;color:#3e3e3e;position:relative}
.immun-o2-hi-ext-btn-right{font-weight:normal;float:right}
.immun-o2-side-panel-button{overflow:hidden}
.immun-o2-hi-ext-btn-inv{visibility:hidden;font-size:12px;font-weight:normal;position:relative}
.immun-o2-hi-hide{float:left;display:inline;-block;width:30%;padding:4px 7px 4px 16px}
.immun-o2-ext-name{width:25%}
.immun-o2-ext-start-date{width:25%}
.immun-o2-ext-comments{width:25%}
.immun-o2-ext-provider{width:25%}
.immun-o2-ext-with-panel{width:59.9%}
.immun-o2-ext-with-panel .immun-o2-ext-provider,.immun-o2-ext-with-panel .immun-o2-ext-comments{display:none}
.immun-o2-ext-with-panel .immun-o2-ext-name{width:60%}
.immun-o2-ext-with-panel .immun-o2-ext-start-date{width:40%}
.immun-o2-ext-selected,.immun-o2-ext-selected .immun-o2-sig{color:#FFF;background:#568ecb}
.immun-o2-row-pager{border:1px solid #DDD;height:20px}
.immun-o2-hi-img{height:22px;width:22px;float:left}
.immun-o2-bannerHeader{margin-left:5px;padding-top:5px}
.immun-o2-hi-banner-btn{float:right}
.immun-o2-edit-mode .immun-o2-doc-history,.immun-o2-edit-mode .btn-group{display:none}
.immun-o2-cancel-history,.immun-o2-save-history,.immun-o2-save-unchart{display:none}
.immun-o2-edit-mode .immun-o2-cancel-history,.immun-o2-edit-mode .immun-o2-save-history,.immun-o2-edit-mode .immun-o2-save-unchart{display:block}
.immun-o2-sidepanel-container .est-admin-date select:first-child{display:none}
.immun-o2-sidepanel-container .est-admin-date .dc-date-format-selector{margin-left:0}
.immun-o2-sidepanel-container .exact-admin-date select{display:none}
.immun-o2-doc-history{margin-left:5px}
.immun-o2-date-control{margin-left:-5px}
.immun-o2-spinner{margin-top:-20px}
.immun-o2-split-button{padding-right:0;margin-right:6px}
.immun-o2-split-button .btn:first-child{border-width:1px 0 1px 1px}
.immun-o2-split-button .btn:first-child+.btn{border-width:1px 1px 1px 0}
.immun-o2-split-button:hover{background-color:rgba(0,0,0,0.1)}
.immun-o2-split-button.disabled:hover{background:0}
.immun-o2-split-button .btn.btn-secondary:hover{background:0}
.immun-o2-split-button .no-split{border-right:1px solid}
.immun-o2-action-holder .sp-button2{float:left}
.immun-o2-table-container{display:inline-block;width:100%;vertical-align:top}
.immun-o2-side-panel-addition{display:inline-block;width:60%;vertical-align:top}
.immun-o2-forecast-status-col{width:12%}
.immun-o2-forecast-vaccine-col{width:30%;padding-left:10px}
.immun-o2-forecast-doses-col{width:8%}
.immun-o2-forecast-doses-icon{background:url(../images/4017_16.png) no-repeat;width:15px;height:14px;display:inline-block;margin:0 0 -1px 5px}
.immun-o2-forecast-last-admin-date-col{width:13%}
.immun-o2-forecast-last-action-col{width:12%}
.immun-o2-forecast-next-dose-range-col{width:20%}
.immun-o2-side-panel-open .immun-o2-forecast-status-col,.immun-o2-side-panel-open .immun-o2-forecast-last-admin-date-col{width:15%}
.immun-o2-side-panel-open .immun-o2-forecast-vaccine-col{width:35%;padding-left:10px}
.immun-o2-side-panel-open .immun-o2-forecast-doses-col{width:12%}
.immun-o2-side-panel-open .immun-o2-forecast-last-action-col{width:23%}
.immun-o2-forecast-status-overdue-bold{font-weight:bold;color:#c00}
.selected .immun-o2-forecast-status-overdue-bold{color:#FFF}
.immun-o2-forecast-status-overdue-date{color:#c00}
.immun-o2-sp-refused-action-label{padding-bottom:10px}
.immun-o2-empty-sp-glyph{background:url(../images/glyph-sprite.png) no-repeat -140px 0;width:135px;height:136px;display:inline-block}
.immun-o2-empty-sp-align{text-align:center}
.immun-o2-empty-sp-glyph-text{vertical-align:middle;display:block;font-size:12px;color:#505050;padding-top:8px}
.immun-o2-order-modal-status{margin:10px 0 0 4px}
.immun-o2-order-modal-separator{border-bottom:1px solid #525252;height:10px}
.immun-o2-order-modal-dialog-container{height:100%;position:absolute}
.immun-o2-order-modal-dialog-body{overflow:hidden;height:100%}
.immun-o2-sp-not-count{margin-left:10px}
.immun-o2-ex-modal-controls{width:100%}
.immun-o2-ex-modal-description-area{box-sizing:border-box;margin-bottom:15px}
.immun-o2-ex-vaccine-close{float:right;background:url('../images/mpages-sprite.png') no-repeat -59px -6px;width:10px;height:10px;margin-right:15px}
.immun-o2-ex-vaccine-close:hover{cursor:pointer}
.immun-o2-ex-removed-immun{text-decoration:line-through}
.immun-o2-ex-modal-ex-event-box{margin-right:10px}