.im-info{clear:both;zoom:1;overflow:hidden;padding:0 1%;border-bottom:1px solid #ededed;word-wrap:break-word}
.im-info dt{display:none}
.im-name{float:left;display:inline-block;width:71%}
.im-date{width:26%;float:left;display:inline-block;margin-left:1%;text-align:right}
.im-name a,.im-name a:link,{text-decoration:none;cursor:pointer;color:#000}
.im-name a:active,.im-name a:hover{text-decoration:underline;cursor:pointer}