.io-sec .closed .sub-sec-content{display:none}
.io-info dt{display:none}
.io-lbl{width:34%;padding:0 2px 0 1%;color:#000}
.io-lbl .row-label{color:#000}
.io-net .io-lbl{text-align:right}
.io-total .res-value{color:#7c7c7c}
.io-lbl .unit{margin-left:.5em}
.io-res0,.io-res1,.io-res2{width:22%;padding:0 2px;text-align:center}
.io-table{table-layout:fixed}
.io-table td{border:1px solid #ededed}
.io-scrl-tbl,.io-scrl-tbl-hd{padding-right:15px}
.io-sec.closed .sec-content{display:none}
.io-res a,.io-res a:link{text-decoration:none;color:#7c7c7c}
.io-res a:active,.io-res a:hover{text-decoration:underline;color:#7c7c7c}
.io-content-body-scrollable{background-color:white;max-height:250px;overflow-y:auto;overflow-x:hidden}