.io2-sec .closed .sub-sec-content{display:none}
.io2-info dt{display:none}
.io2-lbl{width:24%;padding:0 2px 0 12px;color:#000}
.io2-lbl .row-label{color:#000;padding:4px 6px 2px 0;margin-left:2px}
.io2-net .io2-lbl{text-align:right}
.io2-total .res-value{color:#7c7c7c}
.io2-lbl .unit{margin-left:.5em}
.io2-res{width:auto;padding:0 2px;text-align:center}
.io2-table{table-layout:fixed}
.io2-table td{border:1px solid #ededed}
.io2-scrl-tbl,.io2-scrl-tbl-hd{padding-right:15px}
.io2-sec.closed .sec-content{display:none}
.io2-res a,.io2-res a:link{text-decoration:none;color:#7c7c7c}
.io2-res a:active,.io2-res a:hover{text-decoration:underline;color:#7c7c7c}
.io2-sec .sec-footer{border:0;margin-top:-7px}
.io2-info .io2-res,.hdr .io2-res{text-align:right}
.io2-shift{width:20px}