.ito-info dt{display:none}
.ito-lbl,.ito-res{width:25%;padding:0 2px}
.ito-lbl,.ito-full-lbl{color:#505050}
.ito-hdr{background:#e8eff9}
.ito-tbl-full{border:1px solid #adcc92}
.ito-table,.ito-tbl-full{table-layout:fixed}
.ito-table td,.ito-table th,.ito-tbl-full td,.ito-tbl-full th{padding:0 2px;word-wrap:break-word}
.ito-tbl-full td,.ito-tbl-full th{width:200px}
.ito-show-all{margin-left:.5em}
.ito-full-scroll{overflow-x:scroll;padding:5px}