.wf_iv_stp_tms-medication{width:30%}
.wf_iv_stp_tms-details{width:60%}
.wf_iv_stp_tms-document-btn{display:inline-block;float:right;margin-right:5px;margin-top:8px;cursor:pointer;line-height:1.4em;border:1.5px solid #dcdcdc;border-radius:2px;background-color:#f6f6f6}
.wf_iv_stp_tms-document-btn-dthr,.wf_iv_stp_tms-document-btn-dthr:hover{display:inline-block;float:right;margin-right:5px;margin-top:8px;line-height:1.4em;border:1.5px solid #dcdcdc;color:#666;cursor:default}