.lab-info dt{display:none}
.lab-lbl{width:34%;padding:0 2px 0 16px}
.lab-res0,.lab-res1,.lab-res2{width:22%;padding:0 2px;text-align:center}
th.lab-res1{width:44%}
.lab-res0{border-right:1px solid #ededed}
.lab-table{table-layout:fixed}
.lab-scrl-tbl-hd{padding-right:15px}
.lab-sec.closed .sec-content,.lab-sec .closed .sub-sec-content{display:none}
.lab-res a,.lab-res a:link,{text-decoration:none;cursor:pointer}
.lab-res a:active,.lab-res a:hover{text-decoration:underline;cursor:pointer}