.labs-wf-table .hdr{padding-bottom:0}
.labs-wf-table .hdr .header-item.labs-wf-content-col,.labs-wf-table .result-info .table-cell.labs-wf-content-col{padding-left:6px}
.labs-wf-table .hdr .header-item.labs-wf-content-col{border-left:none}
.labs-wf-table .hdr .header-item.labs-wf-content-col.labs-wf-content-col-hdr-new-day,.labs-wf-table .labs-wf-content-col.labs-wf-content-col-hdr-new-day{border-left:1px solid #DDD}
.labs-wf-table .hdr .header-item.labs-wf-content-col.labs-wf-ambulatory-latest-col,.labs-wf-table .result-info .table-cell.labs-wf-content-col.labs-wf-ambulatory-latest-col{border-right:1px solid #DDD}
.labs-wf-table .content-body{overflow-y:hidden}
.labs-wf-table-container{display:inline-block;overflow-y:hidden;width:3000px}
.labs-wf-label-table{display:inline-block;float:left;width:200px;overflow:hidden}
.labs-wf-label-table .sub-sec-title dd{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.labs-wf-label-col{display:inline-block;float:left;width:70%;word-wrap:normal;overflow-x:hidden;white-space:nowrap;text-overflow:ellipsis;cursor:pointer}
.list-as-table .hdr dd.labs-wf-uom-col{border-left:none}
.labs-wf-content-table{display:inline-block;float:left;overflow-x:auto;overflow-y:hidden}
.labs-wf-content-table .hdr.shifted{margin-right:0}
.labs-wf-content-col{width:81px;word-wrap:normal;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.labs-wf-content-col:hover{cursor:pointer}
.labs-wf-content-col>.header-item-display:hover,.labs-wf-content-col>.labs-wf-results-unknown:hover{text-decoration:none;cursor:default}
.labs-wf-content-col .res-ind{margin:0 .5em 0 0;background-position-y:4px;height:16px}
.labs-wf-content-col .res-modified{margin:0;background-position-y:4px;height:15px}
.labs-wf-content-table .labs-wf-content-sub-sec-tgl.sub-sec-hd-tgl{display:none}
.labs-wf-bracket{color:#000;font-weight:normal}
.labs-wf-unknown-parent{background-color:#f6f6f6}
.labs-wf-unknown-parent:hover{background-color:#fffce0}
.labs-wf-results-unknown{display:inline-block;height:16px;width:16px;background:url("../images/5104_grayscale_16.png") no-repeat 0 0}
.labs-wf-disclaimer{padding-left:10px;color:#bebebe}
.labs-wf-scroll-controller-hidden{display:none}
.labs-wf-scroll-controller-visible{display:inline-block;float:left;overflow-y:scroll;overflow-x:hidden;width:18px;margin-top:35px;margin-left:-6px}
.labs-wf-ambulatory-table .labs-wf-scroll-controller-visible{margin-top:23px;margin-left:-2px}
.labs-wf-scroller-content{display:inline-block;width:1px}
.labs-wf-filter{height:20px}
.labs-wf-filter:hover{background-color:#dde8f5;cursor:pointer}
.labs-wf-filter-label{display:inline-block;width:90%;padding-left:5px;word-wrap:normal;overflow-x:hidden;white-space:nowrap;text-overflow:ellipsis}
.labs-wf-filter-checkbox{position:relative;top:-2px;left:2px}
.labs-wf-hover{background-color:#fffce0;margin:0;width:auto}
.labs-wf-hover .res-modified{padding-left:10px;vertical-align:middle;display:inline}
.labs-wf-hover-main{display:inline-block;float:left;width:250px}
.labs-wf-hover-additional{display:inline-block;float:left;width:150px}
.labs-wf-hover-additional div{text-align:center;text-decoration:underline;font-weight:bold}
.labs-wf-hover-additional dd{width:85%;overflow:hidden;padding-left:10px;display:inline-block;float:left}
.labs-wf-hover-additional span{display:inline-block;float:left}
.labs-wf-hover-additional .res-ind{margin:4px .5em 0 2px;background-position-y:4px;height:16px}
.labs-wf-hover-additional .res-modified{margin:4px 1px 0 2px;background-position-y:4px;height:16px}
.labs-wf-hover-seperator{border-right:1px solid #666}
.labs-wf-info-button-active .labs-wf-info-button{display:inline-block}
.labs-wf-info-button{display:none;background:url(../images/std-info.png) no-repeat left center;width:16px;height:16px;margin-right:4px;cursor:pointer}
.labs-wf-tag-icon{background:url("../images/tag_rightClickMenu_gray.png") no-repeat left}
.menu-item:hover .labs-wf-tag-icon{background:url("../images/tag_rightClickMenu_white.png") no-repeat left}
.labs-wf-comments-ind{display:inline-block;height:4px;width:4px;background:url("../images/comment_indicator.png") no-repeat;margin-left:4px;vertical-align:super}
.labs-wf-result-uom{font-size:11px;color:#7a7a7a;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin-top:2px;display:block;word-wrap:normal}
.labs-wf-uom-col{width:30%;cursor:pointer}
.labs-wf-table-container .table-cell{height:23px}
.labs-wf-ambulatory-table .table-cell{height:41px}
.labs-wf-sub-sec-name{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.labs-wf-time-within{font-size:10px;color:#7a7a7a;padding-bottom:6px;padding-top:2px;white-space:nowrap;text-overflow:ellipsis;line-height:10px;width:100%;overflow:hidden;display:block}
.labs-wf-ambulatory-table .labs-wf-content-table .content-hdr,.labs-wf-ambulatory-table .labs-wf-content-table .content-body{border-left:none}
.labs-wf-ambulatory-table .labs-wf-label-table .content-body{border-right:0}
.labs-wf-ambulatory-table .labs-wf-label-table .sub-sec-content{border-right:1px solid #DDD;cursor:pointer}
.labs-wf-ambulatory-table .labs-wf-label-table .content-hdr,.labs-wf-ambulatory-table .labs-wf-content-table .content-hdr{height:20px}
.labs-wf-ambulatory-table .labs-wf-content-table .content-hdr{overflow:hidden}
.labs-wf-ambulatory-table .labs-wf-content-table .content-hdr .hdr dd:first-child+dd{text-align:right}
.labs-wf-ambulatory-table .labs-wf-content-table .content-hdr .hdr dd:first-child+dd>span{float:none}
.labs-wf-ambulatory-table .labs-wf-content-table .content-body .sub-sec-content .result-info{max-height:41px}
.labs-wf-first-column-result{height:35px}
.labs-wf-ambulatory-table .labs-wf-label-table .content-body .labs-wf-info-button{float:left}
.labs-wf-ambulatory-table .labs-wf-label-col{width:185px}
.labs-wf-table-container.labs-wf-side-panel-addition,.labs-wf-ambulatory-table.labs-wf-side-panel-addition{width:60%;display:inline-block}
.labs-wf-side-panel{display:none;width:40%;padding-left:10px;position:relative;-moz-box-sizing:border-box;box-sizing:border-box;float:right;min-height:220px}
.labs-wf-side-panel-groupname{font-size:16px;padding:10px}
.labs-wf-section-separator{height:23px;position:relative;padding-top:20px}
.labs-wf-section-separator .sp-separator{display:inline-block;width:100%;margin:9px 0}
.labs-wf-title-text{font-size:12px;color:#505050;background-color:#f6f6f6;padding-right:10px;position:absolute}
.labs-wf-side-panel-result-item{padding-left:4px}
.labs-wf-side-panel-result-list{padding-top:20px}
.labs-wf-side-panel-result-list dd{display:inline-block;width:35%;padding:0 0 1px 10px;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:text-top}
.labs-wf-side-panel-result-list .res-modified{padding-left:0;margin-left:4px}
.labs-wf-selected-row-init{background-color:#bbc3cb}
.labs-wf-selected-row{background-color:#568ecb;color:#FFF}
.labs-wf-selected-row .labs-wf-time-within,.labs-wf-selected-row .res-val,.labs-wf-selected-row .labs-wf-result-uom{color:#FFF}
.labs-wf-selected-row .mpage-tooltip-hover{background-color:#568ecb}
.labs-result-value .res-val:hover{text-decoration:underline;cursor:pointer}
.labs-wf-side-panel-result-list .labs-result-date{width:65%}
.labs-close-panel{float:right}
.labs-flex-text{font-size:14px}
.labs-canvas-height{height:90px;background-position:center;margin:auto auto -10px auto}
.labs-not-all-results{background-color:#d7e6ff;margin-bottom:-10px;margin-right:9px;margin-left:9px;padding:6px 0;border-left:2px solid #005fc8}
.labs-no-graph-results{background-color:#d7e6ff;margin:auto 9px -10px 9px;padding:6px 0;border-left:2px solid #005fc8}
.labs-warning-image{display:inline-block;height:16px;width:16px;vertical-align:bottom;background:url("../images/4015_16.gif") no-repeat 0 0;margin-left:8px;margin-right:8px}
.labs-graph-tooltip{max-width:190px;word-wrap:normal;white-space:normal;font-size:12px}
.graph-date-left{float:left;margin-left:9px}
.graph-date-right{float:right;margin-right:9px}
.labs-date-range{padding-bottom:20px;margin-top:-9px;color:#7a7a7a;font-size:12px}
.touch-mode .labs-wf-ambulatory-table .labs-wf-label-table .content-hdr,.touch-mode .labs-wf-ambulatory-table .labs-wf-content-table .content-hdr{min-height:40px}
.touch-mode .labs-wf-ambulatory-table .labs-wf-content-table .content-hdr{overflow:hidden}
.labs-wf-content-col-ie-low-version>span:hover{text-decoration:underline;cursor:pointer}
.lab-selected-res-tagging{background-color:#3a78bb;border-right:1px solid #ededed;border-bottom:1px solid #ededed;color:#FFF}
.lab-selected-res-tagging .labs-wf-bracket>span,.lab-selected-res-tagging .labs-wf-time-within,.lab-selected-res-tagging .res-val,.lab-selected-res-tagging.labs-wf-result-uom{color:#FFF}
.lab-res-val-selectable:hover{cursor:pointer;text-decoration:underline}
.lab-wf-side-panel-result-list{padding-top:10px}
.lab-wf-side-panel-result-list dd{display:inline-block;padding:0 0 1px 10px;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:text-top}
.lab-wf-side-panel-result-list .sp-separator2{margin:15px}
.lab-res-add-info{width:45%;margin-top:5px}
.lab-mul-res-info{width:100%;margin-top:5px}
.lab-mul-res-label-title{width:40%;float:left}
.lab-mul-res-text-title{width:30%;float:left}
.lab-mul-res-label{width:40%;float:left;height:30px}
.lab-mul-res-text{width:30%;float:left;height:30px}
.labs-wf-results-unknown-icon{float:left}
.labs-wf-results-unknown-text{margin-left:20px}