.lh-alarm{background:url(../images/4798_16.png);height:16px;width:16px}
.lh-content-body{border:1px solid #ededed;max-height:initial}
.lh-qm-cbo{line-height:2.5em;padding:0 1%}
.lh-qm-cond-lbl{margin-right:1em}
.lh-sub-sec-hd{font-size:12px;font-weight:normal;color:#3e3e3e;background:#cddcee;padding:0 3px;border-top:1px solid #ededed;border-bottom:1px solid #aabecd;zoom:1}
.lh-sub-sec-hd-tgl{background:url(../images/sprite_green.png) -36px 0;font-size:1px;color:#cddcee;height:7px;width:7px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px}
.closed .lh-sub-sec-hd-tgl{background:url(../images/sprite_green.png) -28px 0;height:9px;width:5px}
.lh-sub-sec-title{color:#3e3e3e}
.lh-sub-sec-hd-test{font-size:12px;font-weight:normal;padding:0 3px;border-top:1px solid #ededed;border-bottom:1px solid #aabecd;zoom:1}
.lh-sub-sec-content .lh-content-body{border:0}
.closed .lh-sub-sec-content{display:none}
.lh-qm-info{clear:both;zoom:1;overflow-x:hidden;overflow-y:auto;padding:0 1%;border-bottom:1px solid #ededed;word-wrap:break-word}
.lh-qm-info dt{display:none}
.lh-qm-ic-name{width:92%;float:left;display:inline-block;margin-right:1%}
.lh-qm-ic-name-grp{width:92%;float:left;display:inline-block;margin-right:1%;text-indent:10px}
.lh-qm-ic-name-display{color:#909090;font:12px}
.lh-qm-font12{font:12px}
.lh-qm-bold-display{font-weight:bold}
.lh-qm-normal-display{font-weight:normal}
.lh-qm-blue-display{color:#00f}
.lh-qm-red-display{color:#f00}
.lh-qm-green-display{color:#0f0}
.lh-qm-yellow-display{color:#ff0}
.lh-res-none{color:#a0a0a0;display:block;padding:0 1%;zoom:1}
.lh-sub-sub-sec-content{border:1px solid #cddcee;padding:6px;background:#FFF}
.lh-sub-sec-hd{zoom:1}