.mmf2-thumb,.mmf2-canvas-container canvas{max-height:100%;max-width:100%;display:block;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto}
.mmf2-imgContain{position:relative;width:100px;height:100px;margin:5px;border:5px solid #fff;box-shadow:1px 1px 10px #888;top:0;bottom:0;left:0;right:0}
.mmf2-hvr-image-container{height:200px;width:200px;position:relative;float:left}
.mmf2-hvr-image{max-height:100%;max-width:100%;display:block;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto}
.mmf2-hvr-name{font-size:18px}
.mmf2-selected{border:5px solid #3a78bb}
.mmf2-content-body{border:1px solid #ededed;padding-left:20px}
.mmf2-viewselection-row{border-top:1px solid #ededed;padding:5px 5px 5px 0}
.mmf2-viewselection-btn{font:normal 11px/1.5em Tahoma,sans-serif;margin:0 3px;margin-left:0}
.mmf2-header-btn{font:normal 11px/1.5em Tahoma,sans-serif;margin:0 3px}
.mmf2-media-name{width:100px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;cursor:pointer;margin-left:5px;margin-right:5px;margin-bottom:5px;position:relative;border:2px solid white}
.mmf2-image{display:inline-block}
.mmf2-media-det{word-wrap:break-word;width:auto;max-width:600px}
.mmf2-iconHolder{position:absolute;right:0;bottom:0;width:60%;height:30%;display:none}
.mmf2-iconHolder.mmf2-show-related-docs-icon{border-bottom:1px solid #ededed;background:url(../images/pageMenuTab_open.png) no-repeat bottom;background-size:100%;display:inline-block}
.mmf2-docs-menu{color:#000;top:100%;margin-top:2px;width:270px;position:absolute;border:1px solid #000;background-color:#FFF;padding:5px;z-index:2000;zoom:1}
.mmf2-doc-item-opt{padding:0 10px 1px 10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.mmf2-doc-item-name{padding-left:10px}
.mmf2-imageLaunchViewer{color:#3380e5;cursor:pointer}
.mmf2-imageLaunchViewer:hover{border-bottom:1px solid #3380e5}
.mmf2-media-viewer-modal-dialog{width:100%;height:99%}
.mmf2-dateLinkLaunchViewer{cursor:pointer}
.mmf2-dateLinkLaunchViewer:hover{border-bottom:1px solid #3380e5}
.sub-sec .mmf2-group{padding-left:30px}
.mmf2-force-hidden{display:none!important}
.mmf2-search-box{width:100%}
.mmf2-search-box .placeholder{color:#777}
.mmf2-search-box input{height:20px;font:normal 11px/1.5em Tahoma,sans-serif}
.mmf2-search-box .search-box-div{border-bottom:0 solid #959fa7}
.mmf2-filter-applied-message{margin-left:25px;font-weight:bold;font-size:11px}
.mmf2-nav-panel{border:1px solid #bdbdbd;vertical-align:top;position:absolute;overflow:hidden;background-color:white;z-index:1;display:inline-block}
.mmf2-nav-content{display:inline-block;vertical-align:top;overflow:hidden;width:0;height:100%;position:relative}
.mmf2-nav-row-content{overflow-y:auto;overflow-x:hidden;top:20px;left:0;right:0;bottom:0;position:absolute}
.mmf2-nav-button-icon{padding:9px;background-repeat:no-repeat;background-position:2px 2px}
.mmf2-nav-unselected-collapsed{background-image:url(../images/arrow_unselected_right.png)}
.mmf2-nav-unselected-expanded{background-image:url(../images/arrow_unselected_left.png)}
.mmf2-nav-selected-collapsed{background-image:url(../images/arrow_selected_right.png)}
.mmf2-nav-selected-expanded{background-image:url(../images/arrow_selected_left.png)}
.mmf2-nav-header{padding-left:6px;box-sizing:border-box;width:100%;background-color:#bdbdbd;height:20px;color:#fff;overflow:hidden}
.mmf2-nav-pin{display:inline-block;width:10%;background-image:url(../images/5483_black.gif);background-repeat:no-repeat;padding:8px;box-sizing:border-box}
.mmf2-nav-pinned{background-image:url(../images/5483_black_down.gif)}
.mmf2-nav-header-title{display:inline-block;width:90%;box-sizing:border-box;vertical-align:top}
.mmf2-nav-header-selected{background-color:#b6c9db;color:#000}
.mmf2-nav-row{padding:6px;white-space:nowrap;cursor:pointer}
.mmf2-nav-selected-row{background-color:#568ecb;color:#fff}
.mmf2-nav-row-title{display:inline-block;max-width:88%;padding-right:3px;box-sizing:border-box;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.mmf2-nav-row-cnt{display:inline-block;vertical-align:top}
.mmf2-nav-button{display:inline-block;vertical-align:top;height:100%;border:1px solid #bdbdbd;background-color:#f6f6f6;background-image:-ms-linear-gradient(left,#fff 0,#eaeced 100%);background-image:-moz-linear-gradient(left,#fff 0,#eaeced 100%);background-image:-o-linear-gradient(left,#fff 0,#eaeced 100%);background-image:-webkit-gradient(linear,left top,right top,color-stop(0,#fff),color-stop(1,#eaeced));background-image:-webkit-linear-gradient(left,#fff 0,#eaeced 100%);background-image:linear-gradient(to right,#fff 0,#eaeced 100%)}
.mmf2-btn-section{width:60%;display:inline-block}
.mmf2-search-section{width:22%;display:inline-block;box-sizing:border-box;padding-right:10px}
.mmf2-zoom-section{width:18%;vertical-align:middle;height:32px;display:inline-block;text-align:center;top:0;bottom:0;left:0;right:0}
.mmf2-zoom-container{width:70%;height:100%;display:inline-block;text-align:center;vertical-align:middle}
.mmf2-zoom-bar{width:100%;height:100%;top:0;bottom:0;left:0;right:0;display:block}
.mmf2-size-label{display:inline-block;width:30%;vertical-align:middle;text-align:center;overflow:hidden;white-space:nowrap;word-wrap:normal;text-overflow:ellipsis}
input[type="range"].mmf2-zoom-bar::-ms-thumb{width:10px;height:16px;padding:0;margin:0;border-style:none;background-color:#568ecb;border-radius:5px}
input[type="range"].mmf2-zoom-bar::-ms-track{color:transparent;width:100%;height:5px;padding:0;margin:0;border:0;background-color:rgba(0,0,0,0.0)}
input[type="range"].mmf2-zoom-bar::-ms-fill-upper,input[type="range"].mmf2-zoom-bar::-ms-fill-lower{height:3px;margin:0;padding:0;background-color:#faf7f5;border:2px solid #cbd4e7;border-radius:6px 6px 6px 6px}
input[type="range"].mmf2-zoom-bar::-ms-tooltip{display:none}
input[type="range"].mmf2-zoom-bar::-ms-ticks-after{display:block}
.mmf2-rename-dialog-lbl{width:97%;height:17px;font:normal 11px/1.5em Tahoma,sans-serif;word-wrap:break-word;margin-top:5px;margin-left:5px}
.mmf2-rename-dialog-txt{width:97%;margin-top:15px;margin-bottom:15px;margin-left:5px}
.mmf2-rename-dialog-txt input{width:97%;height:17px;font:normal 11px/1.5em Tahoma,sans-serif;padding-left:3px}
.mmf2-review-pane{border:1px solid #959fa7;background:#FFF;width:100%;display:inline-block;display:none;box-sizing:border-box}
.mmf2-review-pane-left{height:100%;display:inline-block;padding-left:10px;box-sizing:border-box}
.mmf2-review-pane-right{width:300px;height:100%;background-color:FFF;display:inline-block;vertical-align:top;border-left:1px solid #d9d9d9}
.mmf2-review-pane-left-header{width:100%;background-color:#f6f6f6;padding-top:5px;padding-bottom:5px;box-sizing:border-box}
.mmf2-review-pane-left-body{width:100%;background-color:#bdbdbd;box-sizing:border-box}
.mmf2-review-pane-left-footer{width:100%;height:94px;background-color:#f6f6f6;box-sizing:border-box;border:1px solid #ededed;border-bottom:1px solid #959fa7}
.mmf2-review-pane-gallery-btn{font:normal 11px/1.5em Tahoma,sans-serif;margin-right:5px}
.mmf2-review-pane-review-label{display:inline-block;text-align:center;white-space:nowrap;word-wrap:normal;text-overflow:ellipsis;margin:0 3px;font:normal 11px/1.5em Tahoma,sans-serif}
.mmf2-review-pane-detail-name{font-size:18px;padding-bottom:20px;padding-top:10px}
.mmf2-review-pane-detail-label{display:inline-block;color:#505050;width:35%;text-align:right;font:normal 11px/1.5em Tahoma,sans-serif}
.mmf2-review-pane-detail-dat{display:inline-block;color:#000;width:60%;text-align:left;padding-left:8px;font:normal 11px/1.5em Tahoma,sans-serif}
.mmf2-review-pane-related-doc-fieldset{border:1px solid #c1c7cd;padding-left:18px;margin:10px;min-width:150px}
.mmf2-review-pane-related-doc-legend{font:normal 11px/1.5em Tahoma,sans-serif;color:#505050}
.mmf2-review-pane-related-doc-item{padding-right:5px;padding-bottom:1px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:96%;box-sizing:border-box;font:normal 11px/1.5em Tahoma,sans-serif}
.mmf2-review-pane-related-doc-date{font:normal 11px/1.5em Tahoma,sans-serif;color:#505050}
.mmf2-review-pane-view-sec{background-color:#FFF;border-bottom:1px solid #d1d1d1;padding-top:5px;padding-bottom:5px}
.mmf2-review-pane-view-btn{font:normal 11px/1.5em Tahoma,sans-serif;margin:0}
.mmf2-review-pane-img-contain{position:relative;margin:2px;border:2px solid #fff;box-shadow:1px 1px 3px #888;display:inline-block;height:50px;width:50px}
.mmf2-review-pane-selected{border:2px solid #568ecb}
.mmf2-review-pane-nav-container{z-index:2;background-color:#f6f6f6;position:absolute;height:58px;overflow:hidden;white-space:nowrap}
.mmf2-review-pane-nav-btns{position:absolute;top:22px;cursor:pointer;width:8px;height:18px}
.mmf2-review-pane-nxt-nav-area{position:absolute;cursor:pointer;width:20px;height:58px;right:0}
.mmf2-review-pane-nxt-nav{background:url(../images/Sprites/mediaGalleryReviewSprite.png) -9px -50px;right:5px}
.mmf2-review-pane-nxt-nav-active{background:url(../images/Sprites/mediaGalleryReviewSprite.png) -27px -50px;right:5px}
.mmf2-review-pane-prev-nav-area{position:absolute;cursor:pointer;width:20px;height:58px}
.mmf2-review-pane-prev-nav{left:5px;background:url(../images/Sprites/mediaGalleryReviewSprite.png) 0 -50px}
.mmf2-review-pane-prev-nav-active{left:5px;background:url(../images/Sprites/mediaGalleryReviewSprite.png) -18px -50px}
.mmf2-review-pane-nav-content{position:absolute;width:465px;overflow:hidden;left:20px;padding-right:5px;height:58px}
.mmf2-review-pane-img-content-container{position:relative;margin:2px;border:2px solid #888;box-shadow:1px 1px 3px #888;display:inline-block;height:300px;width:300px}
.mmf2-review-pane-img-nav-container{z-index:2;background-color:#969696;position:absolute;height:58px;overflow:hidden;white-space:nowrap}
.mmf2-review-pane-img-nav-content{position:absolute;overflow:hidden;left:30px;padding-right:5px;height:100%}
.mmf2-review-pane-img-nav-btns{position:absolute;top:22px;cursor:pointer;width:18px;height:50px}
.mmf2-review-pane-img-nxt-nav-area{position:absolute;cursor:pointer;width:30px;right:0;height:100%}
.mmf2-review-pane-img-nxt-nav{background:url(../images/Sprites/mediaGalleryReviewSprite.png) -19px 0;right:5px}
.mmf2-review-pane-img-nxt-nav-hover{background:url(../images/Sprites/mediaGalleryReviewSprite.png) -57px 0;right:5px}
.mmf2-review-pane-img-prev-nav-area{position:absolute;cursor:pointer;width:30px;height:100%}
.mmf2-review-pane-img-prev-nav{left:5px;background:url(../images/Sprites/mediaGalleryReviewSprite.png) 0 0}
.mmf2-review-pane-img-prev-nav-hover{left:5px;background:url(../images/Sprites/mediaGalleryReviewSprite.png) -38px 0}
.mmf2-review-pane-tab-wrap{height:98%}
.mmf2-review-pane-tabs{width:100%;margin:auto;height:30px;margin-top:5px}
.mmf2-review-pane-tabs .mmf2-tab-text{padding:0 10px 0 10px;float:left;background:url(../images/tab2_inactive_center.png)}
.mmf2-review-pane-tabs .mmf2-tab-left-edge{display:block;float:left;background:url(../images/tab2_inactive_left.png) no-repeat}
.mmf2-review-pane-tabs .mmf2-tab-right-edge{display:block;float:right;background:url(../images/tab2_inactive_right.png) no-repeat;width:6px}
.mmf2-review-pane-tabs .active>span{height:27px;line-height:28px}
.mmf2-review-pane-tabs .active>.mmf2-tab-text{background:url(../images/tab2_active_center.png)}
.mmf2-review-pane-tabs .active>.mmf2-tab-left-edge{background:url(../images/tab2_active_left.png) no-repeat}
.mmf2-review-pane-tabs .active>.mmf2-tab-right-edge{background:url(../images/tab2_active_right.png) no-repeat;width:6px}
.mmf2-review-pane-tab-wrap-hr{margin-top:-5px;margin-bottom:0;display:block;border-top:1px solid #e1e1e1;border-bottom:1px solid #BBB}
.mmf2-review-pane-tabs ul{list-style:none;overflow:hidden;padding:0;margin:0;margin-left:10px}
.mmf2-review-pane-tabs li a{color:#444;display:block;float:left;text-align:center;text-decoration:none;border:0;height:27px;line-height:32px;margin-right:3px}
.mmf2-review-pane-tabs li a:hover{color:#7d7d7d;background:#FFF}
.mmf2-review-pane-tab-content{background:#FFF;padding:0;display:none;overflow:auto}
.mmf2-review-pane-tab-content.active{display:block}
.mmf2-review-pane-right-edit-body,.mmf2-review-pane-right-details-body{padding-left:20px;padding-right:10px}
.mmf2-review-pane-edit-image-name{font-size:18px;padding-bottom:8px;padding-top:10px}
.mmf2-review-pane-edit-line-separator{display:block}
.mmf2-review-pane-edit-tools-fieldset{border:1px solid #c1c7cd;padding-left:18px;margin:10px 0;min-width:110px;padding-top:8px;height:60px}
.mmf2-review-pane-edit-tools-legend{font:normal 11px/1.5em Tahoma,sans-serif;color:#505050}
.mmf2-review-pane-edit-tools-sec{height:40px;margin-bottom:5px;margin-top:-5px}
.mmf2-review-pane-edit-btn{display:inline-block;margin-left:12px;margin-right:12px;width:25px;height:25px;padding-top:10px;padding-bottom:10px;cursor:pointer}
.mmf2-review-pane-rotate-left{background:url(../images/5224_24.png) no-repeat center center}
.mmf2-review-pane-rotate-right{background:url(../images/5225_24.png) no-repeat center center}
.mmf2-review-pane-flip-vertical{background:url(../images/5080_24.png) no-repeat center center}
.mmf2-review-pane-flip-horizontal{background:url(../images/5081_24.png) no-repeat center center}
.mmf2-review-pane-edit-btn-sec{background-color:#FFF;padding-top:5px;padding-bottom:5px;width:100%}
.mmf2-review-pane-edit-save-btn{font:normal 11px/1.5em Tahoma,sans-serif;margin-right:5px;float:right}
.mmf2-review-pane-edit-reset-btn{font:normal 11px/1.5em Tahoma,sans-serif;float:right}
.mmf2-review-pane-edit-tools{height:40px;margin-right:10px}
.mmf2-review-pane-edit-tools ul{list-style-type:none;padding:5px 10px}
.mmf2-review-pane-edit-tools ul li{display:inline}
.mmf2-review-pane-edit-msg-wrapper{font-size:12px;margin-top:4px}
.mmf2-review-pane-edit-msg-content{padding:0}
.mmf2-review-pane-edit-msg-text{font-family:Tahoma;padding:10px}
.mmf2-review-pane-edit-msg-notify{border-left:2px solid #005fc8;background-color:#d7e6ff}
.mmf2-review-pane-edit-msg-notify-primary{color:#000}
.mmf2-review-pane-edit-msg-icon{float:left;padding:10px}
.mmf2-review-pane-edit-msg-notify .mmf2-review-pane-edit-msg-icon::after{content:url('../images/5104_16.png')}
#displayInfoBoxheader{border-bottom:1px solid #abadb3}
.mmf2-iframe-receiver{display:none}