.med-info,.med-info-hdr{clear:both;zoom:1;overflow:hidden;padding:0 1%;word-wrap:break-word}
.med-info{border-bottom:1px solid #ededed}
.med-info dt{display:none}
.med-name{width:70%;float:left;display:inline-block;margin-right:1%}
.med-sig{display:inline;padding-left:.5em}
.med-date{width:24%;float:left;display:inline-block;margin-left:1%}
.med-rejected{background-image:url(../images/5278_16.gif);height:16px;width:16px;margin-top:10px;background-repeat:no-repeat;display:inline-block;padding-right:.2em;float:left}
.med-rej-ind{display:none}
.med-has-rej .med-rej-ind{width:5px;height:10px;margin-right:.2em;display:inline-block}
.med-is-rej .med-rej-ind{background:url(../images/sprite_green.png) no-repeat -152px 0;margin-bottom:4px}