.fo-hide{display:none}
.fo-processing{color:#505050;font:normal Tahoma,sans-serif;position:relative;text-decoration:none;top:.5em;font-weight:normal}
.fo-subtext{font-size:12px}
.fo-accordion-title,.fo-accordion-content,.fo-accordion-container{position:relative}
.fo-accordion-title{height:11px;overflow:hidden;vertical-align:top;text-align:center;cursor:pointer;background:url(../images/pull-tab_green_collapsed.png) no-repeat center top;display:table-cell;margin-top:-7px}
.fo-accordion-content{display:none;border:1px solid #c1c1c1;background:#eef4e2;margin:-8px -8px 7px -8px}
.fo-accordion-container{height:11px}
.fo-accordion-container.expanded{height:auto}
.fo-accordion-title.expanded{height:11px;background-image:url(../images/pull-tab_green_expanded.png);background-position:center top;margin-top:-8px}
.fo-filter-row{vertical-align:middle;padding:.5em 1em}
.fo-filter-group{display:inline}
.fo-filter{height:22px;padding-right:2%}
.fo-hdr{color:#a0a0a0;font-size:11px;height:22px;line-height:28px;background:#f6f6f6}
.fo-info,.fo-info-hdr{clear:both;zoom:1;overflow-x:hidden;padding:0 .5%;word-wrap:break-word}
.fo-info dt,.fo-det-hd{display:none}
.fo-info.row-selected{background-color:#568ecb;color:#FFF;border-bottom:1px solid #FFF}
.fo-info{cursor:pointer;overflow-y:auto;padding-bottom:3px}
.fo-info-hdr{overflow-y:hidden}
.fo-hdr-asc{background:url("../images/5322_up.png") center 2px no-repeat}
.fo-hdr-desc{background:url("../images/5322_down.png") center 2px no-repeat}
.fo-col-hdr{border-left:1px solid #ededed;border-right:1px solid #ededed;height:22px}
.fo-col-hdr:hover{cursor:pointer;background-color:#ededed;height:22px}
.fo-ico{float:left;width:16px;padding-right:2px}
.fo-powerplan{height:16px;background:url("../images/6404_16.png") 0 0 no-repeat}
.fo-careset{height:16px;background:url("../images/order_set.png.png") 0 0 no-repeat}
.fo-dt{float:left;width:9%;padding-left:.5%;padding-right:.5%}
.fo-lbl,.fo-txt{float:left;width:12%;padding-left:.5%;padding-left:.5%}
.fo-blob{float:left;width:32%;padding-left:.5%;padding-left:.5%}
.fo-select-list{font-size:10px;height:17px}
.fo-input{font-size:11px;height:13px;width:20px}
.fo-btn-row{text-align:right;padding-right:8px;margin:8px 0 4px}
.fo-btn{height:22px;margin-right:1%}
.fo-sub-sec-hdr{background:#e8eff9;display:block;font:normal 11px Tahoma,sans-serif;width:100%}
.fo-sub-sec-hd{font-size:12px;font-weight:normal;color:#3e3e3e;background:#e6e8f1;padding:0 3px;border-top:1px solid #ededed;border-bottom:1px solid #aabecd;zoom:1}
.fo-cat-type{background:#cddcee}
.fo-cat-type-sec-content .fo-sub-sec-hd{padding-left:16px}
.closed .fo-cat-type-sec-content{display:none;position:absolute}
.fo-sub-sec-disabled{color:#7c7c7c}
.fo-sub-sec-hd>.fo-sub-sec-disabled{margin-left:11px}
.fo-hd{display:block;float:left;width:100%;background:url("../images/componentTab_separator.png") 0 0 repeat-x;z-index:1}
.fo-accordion-bottom{display:block;width:100%;height:0}
.fo-tabrow{color:#7c7c7c;font:normal 12px Tahoma,sans-serif;text-align:left;list-style:none;margin:5px 0 1px 0;padding-left:4px;position:relative;bottom:0}
.fo-tabrow li{cursor:pointer;margin:0 2px;padding:3px 15px;border:2px solid #cfcfcf;background:#ececec;display:inline;line-height:20px;position:relative;z-index:0;border-top-left-radius:4px;border-top-right-radius:4px}
.fo-tabrow li.fo-selected{background:#FFF;color:#505050;line-height:25px;top:-3px;margin-bottom:-3px;z-index:2;border-bottom-color:#FFF;padding:6px 15px}
.fo-tabrow:after{position:absolute;content:"";width:100%;bottom:0;left:0;border-bottom:2px solid #cfcfcf;z-index:1}
.fo-tabrow:before{z-index:1}
.fo-tabsec-display{display:block}
.fo-tabsec-hide{display:none}
.fo-tabsec-body{max-height:400px;overflow:auto}
.fo-body{clear:both}