.neo-overview-wf-blood-type-rh-negative{color:#a0f;font:bold 12px Tahoma}
.neo-overview-wf-gravida{font:14px Tahoma}
.neo-overview-wf-hvr table{table-layout:fixed;margin-left:5px}
.neo-overview-wf-menu-items{width:100%}
.neo-overview-wf-menu-space{float:left;padding-right:1%;padding-left:1%}
.neo-overview-wf-header{color:#797979}
.neo-overview-wf-tab-container{padding-top:5px}
.neo-overview-wf-tab-container hr{margin-top:-12px;display:block;border-top:1px solid #e1e1e1;border-bottom:1px solid #bbb}
.neo-overview-wf-tabs{overflow:hidden;margin-bottom:10px}
.neo-overview-wf-tabs>ul{list-style:none;padding-left:15px}
.neo-overview-wf-tabs>ul>li{color:#797979;display:block;float:left;margin-right:3px;cursor:pointer}
.neo-overview-wf-tabs>ul>li>span{height:27px;line-height:32px}
.neo-overview-wf-tabs .neo-overview-wf-tab-text{padding:0 10px 0 10px;float:left;background:url(../images/tab2_inactive_center.png)}
.neo-overview-wf-tabs .neo-overview-wf-tab-left-edge{display:block;float:left;background:url(../images/tab2_inactive_left.png) no-repeat}
.neo-overview-wf-tabs .neo-overview-wf-tab-right-edge{display:block;float:right;background:url(../images/tab2_inactive_right.png) no-repeat;width:6px}
.neo-overview-wf-tabs .neo-overview-wf-tab-active-header{color:#505050;display:block;float:left;margin-right:3px}
.neo-overview-wf-tabs .neo-overview-wf-tab-active-header>span{height:27px;line-height:28px}
.neo-overview-wf-tabs .neo-overview-wf-tab-active-header>.neo-overview-wf-tab-text{padding:0 10px;float:left;background:url(../images/tab2_active_center.png)}
.neo-overview-wf-tabs .neo-overview-wf-tab-active-header>.neo-overview-wf-tab-left-edge{display:block;float:left;background:url(../images/tab2_active_left.png) no-repeat}
.neo-overview-wf-tabs .neo-overview-wf-tab-active-header>.neo-overview-wf-tab-right-edge{display:block;float:right;background:url(../images/tab2_active_right.png) no-repeat;width:6px}
.neo-overview-wf-tabs-content .neo-overview-wf-tabpage{border-top:1px solid #bbb}
.neo-overview-wf-race,.neo-overview-wf-fob{float:left;display:inline-block;text-overflow:ellipsis;-ms-text-overflow:ellipsis;white-space:nowrap;overflow:hidden;word-wrap:normal;max-width:100px;vertical-align:bottom}
.neo-overview-wf-edd-status-pic{background:url(../images/4948_16.gif) no-repeat 0 0;padding-left:15px!important}
.neo-overview-wf-tabular-info{overflow:auto;white-space:nowrap}
.neo-overview-wf-div-inactive{display:none}
.neo-overview-wf-div-active{width:100%;display:inline-block}
.neo-overview-wf-list-group{width:32.2%;border:1px solid #cdcdcd;display:block;min-width:225px;float:left}
.neo-overview-wf-list-group-additional{width:24%!important}
.neo-overview-wf-table-space{display:block;min-width:6px;width:6px;float:left}
.neo-overview-wf-list-group-margin{margin:0}
.neo-overview-wf-list-container{border-collapse:collapse;width:100%;overflow:hidden;word-wrap:break-word;table-layout:fixed}
.neo-overview-wf-header th{font-size:12px;background:#cddcee;color:#3e3e3e;padding-left:4px;border-bottom:1px solid #cdcdcd;font-weight:bold}
.neo-overview-wf-list-terms{text-align:right;background:#f6f6f6;color:#505050;padding-right:6px;padding-top:2px;padding-bottom:2px;border-right:1px solid #cdcdcd;width:50%;word-wrap:break-word;white-space:normal}
.neo-overview-wf-list-terms-space{text-align:right;background:#f6f6f6;color:#505050;padding-right:6px;border-right:1px solid #cdcdcd;width:50%}
.neo-overview-wf-list-descriptions{padding-left:6px;padding-top:1px;padding-bottom:1px;width:50%;min-width:100px;word-wrap:break-word;white-space:normal}