.neooverview-table td.label{background:#f2f2f2;font-weight:normal;float:left;padding-right:2px;color:#505050;width:16%;text-align:right}
.neooverview-table td.value{font-weight:normal;float:left;width:16%;text-align:left}
.neooverview-contact-table td{border-right:1px solid #DDD;padding:0 .5em;width:25%}
.neooverview-info,.neooverview-info-hd{line-height:1.5em;clear:both;zoom:1;overflow-x:hidden;overflow-y:auto;padding:0 2px;border-bottom:1px solid #e8eff9;word-wrap:break-word}
.neooverview-info dt,.neooverview-info-hd{position:absolute;visibility:hidden}
.neooverview-name{width:33%;float:left;display:inline-block;padding-right:5px}
.neooverview-sec.closed .sec-content{display:none}
.neooverview-tabmenu .sec-content{background:#FFF}
.neooverview-tabmenu{height:auto}
.neooverview-tabmenu li{display:inline;overflow:hidden;list-style-type:none;top:10px;position:static}
.neooverview-tabmenu a{margin-right:3px}
.neooverview-tabmenu a.active{background:#FFF;border:1px solid #999;border-bottom:1px solid #FFF;font:bold 12px Tahoma;height:auto}
.neooverview-tabmenu a.inactive{background:#f0f0f0;color:#b3b3b3;height:auto;border:1px solid #999;border-bottom:0;height:auto}
.neooverview-tabmenu a.active:link{text-decoration:none;padding:2px 2px 0}
.neooverview-tabmenu a.inactive:link{text-decoration:none;padding:2px 2px 0}
.neooverview-content{font:.9em/1.3em Tahoma,Helvetica,sans-serif;padding:5px;width:100%;border-top:0}
.neooverview-content a{text-decoration:underline;color:#dedecf}
.neooverview-content a:hover{color:#3380e5}
.neooverview-rightElement{text-align:right}
td.neooverview-day-of-life{text-align:right;font:12px Tahoma;margin-bottom:0;text-decoration:none;overflow:hidden}
td.neooverview-day-of-life-width{width:9%;margin-right:5px}
td.neooverview-ga-at-birth-width{width:18%;margin-right:5px}
td.neooverview-pma-width{width:16%;margin-right:5px}
tr.neonateoverview-table-header-border{border-bottom:1px solid #b9b9b9}