.order-controller-container{border:1px solid #ddd;width:100%;box-sizing:border-box}
.order-controller-folder-row{width:100%;border-top:1px solid #ddd;box-sizing:border-box}
.order-controller-folder-row:first-child{border-top:0}
.order-controller-folder-icon{display:inline-block;width:16px;height:16px;background-color:#ffd625}
.order-controller-folder-subsec{width:100%;box-sizing:border-box}
.order-controller-order-row{border-top:1px solid #ddd;box-sizing:border-box}
.order-controller-order-row:first-child{border-top:0}
.order-controller-order-icon{display:inline-block;width:18px}
.order-controller-order-icon:hover{background-color:#f2f7fd}
.order-controller-order-desc{display:inline-block}
.order-controller-order-sentence{display:inline-block;padding-left:4px;color:#999}
.order-controller-suggested-order,.order-controller-suggested-order .order-controller-order-sentence{font-weight:bold}
.cpm .sub-sec-hd.order-controller-table-title-hdr{border:1px solid #ddd;border-bottom:0;box-sizing:border-box;color:#505050;line-height:1.2em;width:100%;background-color:#f6f6f6;padding:6px 6px 2px}
.order-controller-desc-col{width:50%}
.order-controller-bc-col{width:40%}
.order-controller-order-col{width:10%}
.order-controller-icon-col{width:10%}
.order-controller-suggested-ico{width:10px;height:14px;display:inline-block;background:url(../images/mpages-sprite.png) no-repeat transparent -122px 0}
.order-controller-dup-ico{width:12px;height:11px;display:inline-block;background:url(../images/mpages-sprite.png) no-repeat -143px 0}
.order-controller-allergic-ico{width:12px;height:11px;display:inline-block;background:url(../images/mpages-sprite.png) no-repeat -164px 0}
.order-controller-minor-ico{width:2px;height:9px;display:inline-block;background:url(../images/mpages-sprite.png) no-repeat 0 -52px}
.order-controller-moderate-ico{width:5px;height:9px;display:inline-block;background:url(../images/mpages-sprite.png) no-repeat -7px -52px}
.order-controller-severe-ico{width:8px;height:9px;display:inline-block;background:url(../images/mpages-sprite.png) no-repeat -17px -52px}
.order-controller-drug-ico{width:14px;height:13px;display:inline-block;background:url(../images/mpages-sprite.png) no-repeat -185px 0}
.order-controller-ic-checking{display:inline-block}
.order-controller-interaction-info{display:inline-block}
.order-controller-bold{font-weight:bolder}
.order-controller-size{font-size:15px}
.noCPM-sec ul.dynatree-container{border:0}
.noCPM-suggested-table-cont{margin-bottom:10px}
.order-controller-hvr{background-color:#fffce0;margin:0;width:auto}
.order-controller-bread-crumb-text{text-decoration:underline;cursor:pointer}
.order-controller-powerplan-ico{height:16px;width:16px;background:url(../images/mpages-sprite.png) no-repeat -206px 0;display:inline-block;margin-right:4px}
.order-controller-careset-ico{height:16px;width:16px;background:url(../images/mpages-sprite.png) no-repeat -227px 0;display:inline-block;margin-right:4px}
.order-controller-folder-ico{height:16px;width:16px;display:inline-block;background:url(../images/mpages-sprite.png) no-repeat 0 -67px}
.order-controller-explorer-container{display:table;width:100%}
.order-controller-explorer-row{display:table-row;width:100%}
.order-controller-navbar{display:table-cell;min-width:200px;vertical-align:top;background-color:#eef1f5;box-sizing:border-box;border:1px solid #ddd}
.order-controller-content{display:table-cell;width:100%;vertical-align:top;box-sizing:border-box;border:1px solid #ddd;border-left:none}
.order-controller-navbar ul.hide{display:none}
.order-controller-navbar ul{box-sizing:border-box;cursor:pointer}
.order-controller-navbar-item-lbl{display:inline-block;width:100%;box-sizing:border-box;padding:4px}
.order-controller-nav-child .order-controller-navbar-item-lbl{padding-left:20px}
.order-controller-navbar-item-lbl:hover{background-color:#d6e1ee}
.order-controller-navbar li.selected>span{background-color:#568ecb;color:#fff}
.order-controller-exp-rec-order{text-align:center;box-sizing:border-box;padding:4px;border-bottom:1px dashed #ddd}
.order-controller-exp-rec-folder{text-align:center}
.order-controller-explorer-content-item{min-height:20px;box-sizing:border-box;padding:4px;border-bottom:1px solid #ddd}
.order-controller-exp-cont-desc-col{display:table-cell;width:70%}
.order-controller-exp-cont-action-col{display:table-cell;width:30%;vertical-align:middle;text-align:right;padding-right:6px}
.order-controller-explorer-content-item{display:table;width:100%}
.order-controller-exp-venue-sec{box-sizing:border-box;background-color:#eef1f5;border-bottom:1px solid #ddd;text-align:right;display:table;width:100%}
.order-controller-exp-venue-inner{box-sizing:border-box;display:table-cell;width:100%;vertical-align:middle;padding-top:6px;padding-bottom:6px;padding-right:6px}
.order-controller-venue-btn{font-size:10px;box-sizing:border-box;display:inline-block;min-height:22px;text-align:center;cursor:pointer;padding:0 8px;background:#e8e8e8;background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#fcfcfc),to(#e8e8e8));background-image:-webkit-linear-gradient(top,#fcfcfc,#e8e8e8);background-image:-moz-linear-gradient(top,#fcfcfc,#e8e8e8);background-image:-ms-linear-gradient(top,#fcfcfc,#e8e8e8);background-image:-o-linear-gradient(top,#fcfcfc,#e8e8e8);border:1px solid #000}
.order-controller-venue-btn.enabled{background:#62727b;background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#516169),to(#62727b));background-image:-webkit-linear-gradient(top,#516169,#62727b);background-image:-moz-linear-gradient(top,#516169,#62727b);background-image:-ms-linear-gradient(top,#516169,#62727b);background-image:-o-linear-gradient(top,#516169,#62727b);border:1px solid #000;font-weight:bold;color:white;text-shadow:0 1px,0px -1px black}
.order-controller-venue-btn:first-child{border-right:0}
.noe2-seg-cont-center{background:#e8e8e8;background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#fcfcfc),to(#e8e8e8));background-image:-webkit-linear-gradient(top,#fcfcfc,#e8e8e8);background-image:-moz-linear-gradient(top,#fcfcfc,#e8e8e8);background-image:-ms-linear-gradient(top,#fcfcfc,#e8e8e8);background-image:-o-linear-gradient(top,#fcfcfc,#e8e8e8);border:1px solid #000;height:22px;float:left;text-align:center;color:black;line-height:2em;min-width:10%;margin-left:-1px;cursor:pointer}