.nde-doc-label{font-family:tahoma;font-weight:bold;text-align:center}
.nde-section{width:50%;display:inline-block;padding:5px}
.nde-doc-textarea{width:95%;max-width:95%;margin:5px 0 10px 0;overflow:auto}
.nde-doc-btn{margin:5px 0 0 10px}
.nde-proc{position:absolute;top:85px;left:37.5%;width:25%;height:40%;margin:auto;background-image:url('../images/wheel.gif');background-color:grey;background-repeat:no-repeat}
.nde-sec-hd-processing,.nde-sec-hd-saved,.nde-sec-hd-no-privs{color:#fff;font:normal 11px Tahoma,sans-serif;padding-left:6px;text-decoration:none;vertical-align:text-bottom}
.lightblue .nde-sec-hd-processing,.lightblue .nde-sec-hd-saved,.lightblue .nde-sec-hd-no-privs{color:#505050}
.green .nde-sec-hd-processing,.green .nde-sec-hd-saved,.green .nde-sec-hd-no-privs{color:#505050}
.cernerblue .nde-sec-hd-processing,.cernerblue .nde-sec-hd-saved,.cernerblue .nde-sec-hd-no-privs{color:#505050}
.orange .nde-sec-hd-processing,.orange .nde-sec-hd-saved,.orange .nde-sec-hd-no-privs{color:#505050}
.pink .nde-sec-hd-processing,.pink .nde-sec-hd-saved,.pink .nde-sec-hd-no-privs{color:#505050}
.yellow .nde-sec-hd-processing,.yellow .nde-sec-hd-saved,.yellow .nde-sec-hd-no-privs{color:#505050}