.noe2-info{clear:both;zoom:1;overflow:hidden;padding:4px 1%;border-bottom:1px solid #ededed;word-wrap:hyphenate}
.noe2-info:hover{background-color:#edf4fb;border-bottom:1px solid #a9e2f3}
.noe2-name{word-wrap:break-word;display:inline}
.noe2-info dt{display:none}
.noe2-disp{display:inline;padding-left:2px;color:#666;word-wrap:break-word}
.noe2-body .noe2-info{color:#000}
.noe2-body .noe2-info-folder{cursor:pointer;color:#505050;font-weight:bold}
.noe2-hd{font-size:12px;padding-bottom:.5%;height:auto;overflow-x:hidden}
.noe2-freq-filter,.noe2-mine-filter,.noe2-public-filter,.noe2-shared-filter,.noe2-search-results-filter,.noe2-none-filter{overflow-x:hidden}
.noe2-lbl{margin-right:4%}
.noe2-preloader-icon{background:url(../images/6439_16.gif) no-repeat 0 0;width:16px;height:16px;display:inline-block}
.noe2-pp-icon{background:url(../images/6404_16.png) no-repeat 0 0;width:24px;height:16px;display:inline-block}
.noe2-careset-icon{background:url(../images/2314.gif) no-repeat -16px 0;width:24px;height:16px;display:inline-block}
.noe2-fav-star-active-icon{background:url(../images/3961_16.png) no-repeat 0 0;visibility:hidden;width:16px;height:16px;float:right;margin-right:5px;margin-top:2px;cursor:default}
.noe2-fav-star-disabled-icon{background:url(../images/3961_disabled.gif) no-repeat 0 0;visibility:hidden;width:16px;height:16px;float:right;margin-right:5px;margin-top:2px;cursor:default}
.noe2-fav-order-button{display:inline-block;float:right;margin-right:5px;cursor:pointer;line-height:1.2em;font-size:12px;padding:2px 12px;border:1.5px solid #dcdcdc;border-radius:2px}
.noe2-plan-group-shared-name{color:#000;font-weight:bold;padding:3px 0 2px 2px;background:#f6f6f6}
.noe2-plan-group-shared-plans{padding-bottom:3px}
.noe2-sys-name-disp{display:inline;font-style:italic;font-size:10px;padding-left:3px}
.noe2-search-default{background:url(../images/6428_16.png) no-repeat;background-color:white;background-position-y:center;width:100%;height:20px;color:#a0a0a0;font-style:italic;font-size:12px}
.noe2-body .search-box,.noe2-search{background:url(../images/6428_16.png) no-repeat;background-color:white;background-position-y:center;width:100%;height:20px;font-size:12px}
.noe-o2-healthplan-selector{float:right;padding-right:8px;margin-top:-3px}
.noe-o2-healthplan-selector .single-item-dropdown{margin-top:0}
.noe2-eligibility-info{float:right;margin-left:6px;width:60px}
.noe2-prsnl-search-box{background:#f6f6f6;border-bottom:0;float:left;width:35%}
.noe2-clear-search{float:left;height:20px;width:20px}
.noe2-clear-search .noe2-clear-button{background:url(../images/6457_up_16.png) no-repeat;background-position-y:center;margin-top:4px;height:20px;width:16px;cursor:pointer;display:none}
.noe2-clear-search .noe2-clear-button:hover{background:url(../images/6457_over_16.png) no-repeat;background-position-y:center}
.noe2-right-sidebar{background:#f6f6f6;position:relative;width:2%;float:left}
.noe2-left-sidebar{background:#f6f6f6;position:relative;width:2%;float:left}
.noe2-left-sidebar.noe2-scroll-active{background-image:url(../images/scroll_left_20.png);background-repeat:no-repeat;background-position-y:50%;background-position-x:0;cursor:pointer}
.noe2-right-sidebar.noe2-scroll-active{background-image:url(../images/scroll_right_20.png);background-repeat:no-repeat;background-position-y:50%;background-position-x:100%;cursor:pointer}
.noe2-main-container{position:relative}
.noe2-results-container{overflow:hidden;width:96%;float:left}
.noe2-column-wrapper{height:auto;width:auto}
.noe2-results-column{float:left;box-sizing:border-box;padding:5px}
.noe2-fav-path{font-size:14px;padding:0 0 5px 1%;border-bottom:2px solid #c0c0c0;font-weight:bold}
.noe2-fav-path span{font-size:14px}
.noe2-shared-fav-path{float:left;border-bottom:0}
.noe2-shared-search-container{background:#f6f6f6;border-bottom:2px solid #c0c0c0}
.noe2-top-folder-icon{background:url(../images/Folder.png) no-repeat 0 0;width:20px;height:16px;cursor:pointer;display:inline-block;*display:inline;zoom:1}
.noe2-home-icon{background:url(../images/Home.png) no-repeat 0 0;width:20px;height:16px;cursor:pointer;display:inline-block;zoom:1;margin:2px 3px 0 7px}
.noe2-up-one-level-icon{background:url(../images/returnFolder.png) no-repeat 0 0;width:20px;height:16px;cursor:pointer;display:inline-block;*display:inline;zoom:1}
.noe2-fav-folder-icon{background:url(../images/Folder.png) no-repeat 0 0;width:24px;height:16px;display:inline-block}
.noe2-folder-info{display:inline}
.noe2-folder-info dt{display:none}
.noe2-fav-folder{display:inline-block;*display:inline;zoom:1;line-height:24px;color:#505050}
.noe2-fav-separator{display:inline;cursor:default}
.noe2-group-selected{background-color:#e6e8f1;border-bottom:1px solid #c0c0c0}
.noe2-group-mouseover{background-color:#edf4fb;border-bottom:1px solid #a9e2f3}
.noe2-drop-down{cursor:pointer}
.noe2-hd.hdr{background-color:#fff;margin-bottom:2px}
.noe2-modeless-btns{margin-top:10px}
.wrkflw-view{position:relative}
.noe2-tree{width:212px}
.noe2-tree .dynatree-container{border:1px solid}
.noe2-folder-dropdown{position:relative;cursor:pointer;border:1px solid #666;padding:3px;background-image:url("../images/5322_down.png");background-repeat:no-repeat;background-position:97% center;font:12px Tahoma,Geneva,Verdana,Trebuchet MS,sans-serif}
.noe2-folder-dropdown.selected{background-image:url("../images/5322_down_hover.png")}
.noe2-favorites-modeless,.noe2-remove-modeless{position:absolute;background-color:white;border:1px solid #CCC;width:212px;z-index:30;padding:7px;color:#202020;border-radius:5px;box-shadow:3px 3px 10px #afafaf}
.noe2-remove-modeless{width:180px}
.noe2-favorites-modeless button,.noe2-remove-modeless button{min-width:75px;padding:2px;margin-left:2px;float:right}
.noe2-venue-type-link{background:url(../images/5322_down_hover.png) no-repeat 0 0;width:7px;height:4px;display:inline-block;vertical-align:sub}
.noe2-tab-container{width:auto;height:auto;padding-top:5px}
.noe2-seg-cont-center{background:#e8e8e8;background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#fcfcfc),to(#e8e8e8));background-image:-webkit-linear-gradient(top,#fcfcfc,#e8e8e8);background-image:-moz-linear-gradient(top,#fcfcfc,#e8e8e8);background-image:-ms-linear-gradient(top,#fcfcfc,#e8e8e8);background-image:-o-linear-gradient(top,#fcfcfc,#e8e8e8);border:1px solid #000;height:22px;float:left;text-align:center;color:black;line-height:2em;min-width:10%;margin-left:-1px;cursor:pointer}
.noe2-seg-cont-center.home{width:40px;min-width:0}
.noe2-seg-cont-center.first{border-top-left-radius:5px;border-bottom-left-radius:5px;margin-left:0}
.noe2-seg-cont-center.last{border-top-right-radius:5px;border-bottom-right-radius:5px;margin-right:10px}
.noe2-seg-cont-center.selected{background:#62727b;background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#516169),to(#62727b));background-image:-webkit-linear-gradient(top,#516169,#62727b);background-image:-moz-linear-gradient(top,#516169,#62727b);background-image:-ms-linear-gradient(top,#516169,#62727b);background-image:-o-linear-gradient(top,#516169,#62727b);border:1px solid #000;font-weight:bold;color:white;text-shadow:0 1px,0px -1px black;line-height:2em}
.noe2-fav-order-button-depressed{display:inline-block;float:right;margin-right:5px;cursor:pointer;line-height:1.2em;font-size:12px;padding:2px 10px;border-radius:2px;background:#62727b;background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#516169),to(#62727b));background-image:-webkit-linear-gradient(top,#516169,#62727b);background-image:-moz-linear-gradient(top,#516169,#62727b);background-image:-ms-linear-gradient(top,#516169,#62727b);background-image:-o-linear-gradient(top,#516169,#62727b);border:1px solid #000;text-align:center;font-weight:bold;color:white;text-shadow:0 1px,0px -1px black}
.noe2-shared-sec .search-box-div{float:left;border:0}
.noe2-shared-sec .noe2-fav-path{float:left;border:0}
.noe2-sentence{color:#ababab}
.noe2-tab-rounded{border:1px solid #000;border-radius:5px}
.noe2-tabsection-left-edge{border-top-left-radius:5px;border-bottom-left-radius:5px}
.noe2-tabsection-right-edge{border-top-right-radius:5px;border-bottom-right-radius:5px}
.noe2-freq-hd,.noe2-mine-hd,.noe2-public-hd,.noe2-shared-hd,.noe2-search-results-hd{cursor:pointer;color:#000;float:left;height:22px;width:10%;min-width:55px}
.noe2-home-hd{cursor:pointer;color:#000;float:left;height:22px;width:35px}
.noe2-body{clear:both}
.noe2-home-hd div,.noe2-freq-hd div,.noe2-mine-hd div,.noe2-public-hd div,.noe2-shared-hd div,.noe2-search-results-hd div{display:inline-block;float:left;overflow:hidden;white-space:nowrap}
.noe2-home-filter .noe2-home-hd,.noe2-freq-filter .noe2-freq-hd,.noe2-mine-filter .noe2-mine-hd,.noe2-public-filter .noe2-public-hd,.noe2-shared-filter .noe2-shared-hd,.noe2-search-results-filter .noe2-search-results-hd{font-weight:bold;color:#fff;cursor:default}
.noe2-home-filter .noe2-home-sec,.noe2-freq-filter .noe2-freq-sec,.noe2-mine-filter .noe2-mine-sec,.noe2-public-filter .noe2-public-sec,.noe2-shared-filter .noe2-shared-sec,.noe2-search-results-filter .noe2-search-results-sec,.noe2-none-filter .noe2-none-sec{display:block}
.noe2-fav-folder-disp-name{cursor:pointer}
.noe2-sec .cvClassFilterSpan.lb-menu2.menu-hide{display:none}