.oph-measure-tbl{padding-left:5%}
.oph-measure-vis-acuity-t1{width:15%}
.oph-measure-motility-res{text-align:left;vertical-align:top;width:20px}
.oph-measure-motility-txt{text-align:right;vertical-align:top;width:30px}
.oph-measure-motility-t1{text-align:right;vertical-align:top}
.oph-measure-motility-t2{text-align:left;vertical-align:top}
.oph-measure-vis-fields-t1{clear:both;width:5%;height:15px;empty-cells:show;vertical-align:bottom}
.oph-measure-refrac-t1{width:6.5%}
.oph-measure-refrac-txt{width:100px}
.oph-measure-vis-acuity-sec{display:block}
.oph-measure-vis-acuity-th{font:.9em Tahoma;word-wrap:break-word;vertical-align:bottom;text-align:left;color:#999;background-color:#f6f6f6;padding:3px 0}
.oph-measure-three-sec-main{overflow:hidden}
.oph-measure-iop-dil-sec{overflow:hidden}
.oph-measure-ret-glare-sec{overflow:hidden}
.oph-measure-prev-bg{background-color:#f6f6f6}
.oph-measure-vis-acuity-date{font-weight:bold}
.oph-measure-ret-sec{float:left;width:49.9%}
.oph-measure-glare-sec{float:right;width:49.9%}
.oph-measure-sub-sec-full{display:block;width:100%}
.oph-measure-three-sec-left{float:left;width:66.6%}
.oph-measure-three-sec-left1{float:left;width:49.9%}
.oph-measure-three-sec-left2{float:right;width:49.9%}
.oph-measure-three-sec-right{float:right;width:33.3%}
.oph-measure-border-left{border-left:solid;border-color:black;border-width:2px}
.oph-measure-border-right{border-right:solid;border-width:2px;border-color:black}
.oph-measure-vis-fields-right{text-align:right;border-right:solid;border-width:2px;border-color:black;padding-right:5px}
.oph-measure-vis-fields-left{padding-left:5px}
.oph-measure-border-bottom{border-bottom:solid;border-color:black;border-width:2px}
.oph-measure-border-top{padding-top:5px}
.oph-measure-sec-content{border:1px solid #959fa7;padding:6px;background:#FFF;overflow:hidden;min-height:auto}