.op-comp-table{display:inline-block;width:100%}
.op-row-selected{background:#3a78bb;color:#fff;border-bottom:solid 1px white}
.op-row-selected .op-detail{background:#3a78bb;color:#fff!important}
.op-content-ft{background:transparent;padding-top:6px;padding-left:4px}
.op-cancelled{text-decoration:line-through}
.op-name{width:29.5%}
.op-status{width:8.5%}
.op-notifications{width:8%;overflow:auto}
.op-provider{width:12.5%}
.op-orderdt{width:10.5%}
.op-statusdt{width:10.5%}
.op-venue{width:4%;text-align:center;vertical-align:middle}
.op-category{width:12.5%}
.op-hover:hover{text-decoration:underline}
.op-notifications:before{display:none}
.op-shifted{padding-right:17px}
.op-controls{text-align:right;padding-bottom:8px}
.op-detail{display:inline;color:#666;padding-left:5px}
.op-filters{margin-left:15px;padding-left:10px;border-left:1px solid}
.op-disclaimer{display:block;text-align:right;color:red;font-weight:bold}
.opSprite{background:url("../images/Sprites/ordhistSprite.png") top left no-repeat}
.op-cosign{background-position:-10px -10px;background-repeat:no-repeat;height:16px;width:16px;float:left;padding-left:5px}
.op-powerplan{background-position:-10px -81px;background-repeat:no-repeat;height:16px;width:16px;float:left;padding-left:5px}
.op-comments-icon{background:url("../images/6222_16.gif") no-repeat center;float:left;height:16px;width:16px;padding-left:5px;z-index:1}
.op-doc-icon{background:url("../images/3796.gif") no-repeat center;height:16px;width:16px;display:inline-block}
.op-inpat-icon{background:url("../images/0319.gif") no-repeat center;height:16px;width:16px;display:inline-block}
.op-amb-icon{background:url("../images/5635.gif") no-repeat center;height:16px;width:16px;display:inline-block}
.op-rx-icon{background:url("../images/4969_16.gif") no-repeat center;height:16px;width:16px;display:inline-block}
.op-preloader-icon{background:url("../images/6439_16.gif") no-repeat 0 0;width:16px;height:16px;display:inline-block}
.op-side-panel{display:none;width:0;padding-left:10px;position:relative;-moz-box-sizing:border-box;box-sizing:border-box;float:right;min-height:220px}
.op-side-panel-adj{display:inline-block;width:40%}
.op-comp-table-sp-adj{display:inline-block;width:60%}
.op-sp-group{padding-bottom:30px}
.op-sp-header{font-size:16px;color:#000;padding:10px 10px 5px}
.op-sp-detail-line{font-size:12px;color:#888;padding:0 10px}
.op-sp-detail-line>span{width:33%;display:inline-block}
.op-sp-detail-value{padding:0 10px}
.op-sp-detail-value>span{width:33%;display:inline-block}
.op-sp-centered{position:absolute;left:0;right:0;top:50%;font-size:16px}