.ordsel-o2-hover{width:400px;padding:2px 10px;display:inline-block}
.ordsel-o2-hover dd span{margin-left:4px;clear:right}
.ordsel-o2-hover dl{line-height:2em}
.ordsel-o2-det-type{float:left}
.ordsel-o2-root-subsec{display:none}
.ordsel-o2-folder{background:url(../images/4972.gif) no-repeat 0 0;width:24px;display:inline-block}
.ordsel-o2-info{clear:both;zoom:1;overflow-x:hidden;overflow-y:hidden;padding:0 1%;border-bottom:1px solid #ededed;word-wrap:break-word;cursor:pointer;width:100%}
.ordsel-o2-checkbox{float:left;margin-top:3px}
.ordsel-o2-name{float:left;display:inline-block;padding-left:2px}
.ordsel-o2-syn,.ordsel-o2-sent,.ordsel-o2-order-type,.ordsel-o2-component-id,.ordsel-o2-order-syn-and-sent-ids{float:left;display:none;margin-right:1%}
.ordsel-o2-reac{float:left;display:inline-block;margin-left:1%}
.ordsel-o2-info.ordsel-o2-selected{font-weight:bold;color:#000;cursor:default;background-color:#caf7cc}
.ordsel-o2-disp{padding-left:.5em;font-size:.85em;color:#666}
.ordsel-o2-careset-icon{background:url(../images/2314.gif) no-repeat -16px 0;width:19px;height:16px;display:inline-block;float:left;margin-top:2px;margin-left:4px}
.ordsel-o2-pp-icon{background:url(../images/6404_16.png) no-repeat 0;width:19px;height:16px;display:inline-block;float:left;margin-top:2px;margin-left:4px}
.ordsel-o2-preloader-icon{background:url("../images/6439_24.gif") no-repeat 0 0;width:24px;height:24px;display:inline-block}