.pwd-body{padding:15px}
.pwd-freetext{width:100%}
.pwd-freetext textarea{width:80%;height:50px}
.pw-bold-text{font-weight:bold}
.pw-button{min-width:70px;padding:1px 6px}
.pw-calculator-icon{background-image:url("../images/5014_16.png");display:inline-block;height:16px;width:16px}
.pw-calculator-icon-disabled{background-image:url("../images/5014_disabled.gif");display:inline-block;height:16px;width:16px}
.pw-collapsed-icon{background-image:url("../images/5323_collapsed_16.png")}
.pw-details-text{padding-right:5px}
.pw-diagram-container{width:24px;height:24px;padding-right:5px}
.pw-diagram-icon{width:24px;height:24px;display:inline-block;background:url("../images/10709.ico") no-repeat}
.pw-disabled-menu-icon{background:url("../images/6361_16_inactive.png");cursor:default;display:inline-block;height:9px;margin-left:4px;margin-top:-1px;width:19px}
.pw-disabled-text{color:#a0a0a0;cursor:default}
.pw-expanded-icon{background-image:url("../images/5323_expanded_16.png")}
.pw-hover-cursor-pointer:hover{cursor:pointer}
.pw-icon-container{display:inline-block;height:16px;margin-top:1px;vertical-align:top;width:16px}
.pw-italic{font-style:italic}
.pw-menu-container{width:27px;height:20px;line-height:27px;padding-right:5px}
.pw-menu-icon{background:url("../images/6361_16.gif");cursor:pointer;display:inline-block;height:15px;width:27px}
.pw-no-orders{padding:0 5px}
.pw-pathway-name-container{line-height:27px}
.pw-row-even{background-color:#FFF}
.pw-row-odd{background-color:#e8ebf5}
.pw-section-container{border-bottom:1px solid #DDD}
.pw-section-details{border-left:1px solid #DDD;border-right:1px solid #DDD}
.pw-section-details-item{padding:5px 13px}
.pw-section-header{background-color:#b6c9db;border-bottom:1px solid #9aabbb;border-top:1px solid #e9eff4;color:#3d3d3d;font-weight:bold;padding:2px 0}
.pw-suggested-treatments .pw-treatment-link{font-weight:bold}
.pw-tooltip-item{padding:5px}
.pw-treatment-options{margin-bottom:10px}
.pw-pp-icon{background:url(../images/6404_16.png) no-repeat 0 0;width:24px;height:16px;display:inline-block}
.pw-reg-icon{background:url(../images/5893.gif) no-repeat 0 0;width:24px;height:16px;display:inline-block}
.pw-care-set-icon{background:url(../images/order_set.png) no-repeat 0 0;width:24px;height:16px;display:inline-block}
.pw-med-inp-icon{background:url(../images/0038_16.png) no-repeat 0 0;width:24px;height:16px;display:inline-block}
.pw-med-outp-icon{background:url(../images/1021.gif) no-repeat 0 0;width:24px;height:16px;display:inline-block}
.pw-doc-content .sec-content .section{margin-bottom:18px;padding-top:0}
.pw-doc-content .sec-content .sec-hd{background-color:#f6f6f6;background-image:none;border-bottom:1px solid #cdcdcd;line-height:12px;margin-bottom:4px;padding:6px 8px}
.pw-doc-content .sec-content .sec-hd>.sec-title{font-family:Tahoma;font-size:12px;line-height:12px;padding-left:0}
.pw-doc-content .structure-group.group{padding:0}
.pw-doc-content .structure-term-item{height:inherit}
.pw-doc-content .structure-term-title{white-space:normal}
.pw-doc-content .structure-yes-no-icon{line-height:normal;float:none;display:inline-block}
.two-col .col1{width:49.3%;left:50.5%}
.two-col .col2{width:49.3%;left:51%}
.md-scratchpad-regimen-icon{background:url(../images/5893.gif) no-repeat 0 0;width:24px;height:16px;display:inline-block}
.pw-doc-content .sec-content>.pw-disabled-text{padding-left:8px}
.pw-doc-content .po_doc0-sec>.sec-content{padding:8px 0}
.pw-doc-button-container{padding-top:5px}
.pw-doc-button-left{display:inline-block;width:50%;text-align:left}
.pw-doc-button-right{display:inline-block;width:50%;text-align:right}
.pw-tab-container{margin-bottom:-1px;padding-left:5px}
.pw-tab-content-container{padding:10px 5px 5px 5px}
.pw-tab-divider{border-top:1px solid #cdcdcd}
.pw-tab-active{cursor:default;padding-right:5px}
.pw-tab-active .pw-secondary-tab-body{background:url("../images/tab2_active_center.png") no-repeat;display:inline-block;vertical-align:top;background-repeat:repeat-x;height:27px}
.pw-tab-active .secondary-tab-body .tab-text{color:#505050}
.pw-tab-active .pw-secondary-tab-left{background:url("../images/tab2_active_left.png") no-repeat;display:inline-block;vertical-align:top;height:27px;width:6px}
.pw-tab-active .pw-secondary-tab-right{background:url("../images/tab2_active_right.png") no-repeat;display:inline-block;vertical-align:top;height:27px;width:6px}
.pw-tab-inactive{cursor:pointer;padding-right:5px}
.pw-tab-inactive .pw-secondary-tab-body{background:url("../images/tab2_inactive_center.png") no-repeat;display:inline-block;vertical-align:top;background-repeat:repeat-x;border-bottom:1px solid #cdcdcd;height:26px}
.pw-tab-inactive .pw-secondary-tab-body .pw-tab-text{color:#797979;padding-top:5px}
.pw-tab-inactive .pw-secondary-tab-left{background:url("../images/tab2_inactive_left.png") no-repeat;display:inline-block;vertical-align:top;border-bottom:1px solid #cdcdcd;height:26px;width:6px}
.pw-tab-inactive .pw-secondary-tab-right{background:url("../images/tab2_inactive_right.png") no-repeat;display:inline-block;vertical-align:top;border-bottom:1px solid #cdcdcd;height:26px;width:6px}
.pw-tab-text{text-align:center;display:inline-block;vertical-align:middle;height:27px;line-height:27px;min-width:88px;padding:0 5px}
.pw-historical-pathways .pw-pathway-history{padding-left:5px}
.pw-trail-item{padding-left:10px}
.pw-trail-section-header{text-decoration:underline}
.pw-doc-content .structure-body{float:left;width:85%;max-height:none;overflow-y:visible}
.pw-doc-content .structure-organizer .pw-section-container{border-bottom:0}
.pw-doc-content .structure-organizer .pw-section-header{border-left:1px solid;border-right:1px solid;border-color:#AAA}
.pw-doc-content .structure-organizer .pw-section-details{border-color:#AAA}
.pw-section-hidden{display:none}
.multiple-terms>.structure-group-children .structure-term-info-wrapper{padding-left:20px}
.multiple-terms>.structure-group-children>.structure-term-item:first-child{border-top:0}
.structure-term-question{border-top:1px solid #AAA}
.groups .pw-section-details>.structure-group{padding-bottom:0}
.groups .structure-term-item{border-left:0;border-right:0;border-radius:0}
.groups .pw-section-details .structure-group-children>.structure-term-item:first-child{border-top:0}
.no-groups .pw-section-details{border-left:0;border-right:0}
.pw-delete-container{width:16px;vertical-align:middle}
.pw-modify-trail-container{padding-top:10px}
.pw-delete-icon{display:inline-block;height:16px;width:16px;background:url("../images/3727.gif") no-repeat;cursor:pointer}
.pw-line-through{text-decoration:line-through}
.pw-modify-trail{padding-left:5px}
.pw-last-ordered{color:#a0a0a0;cursor:default}
.pw-section-container .pw-toggle-trail-section>*:hover{cursor:pointer}