.pw-deviation-button-container{padding-top:10px;padding-bottom:10px;text-align:center;border-left:1px solid #DDD;border-right:1px solid #DDD;border-top:1px solid #DDD}
.pw-deviation-button-wrapper{padding:0 5px}
.pw-fav-icon{background:url(../images/3961_16.png) no-repeat;width:16px;height:16px;display:inline-block;margin-left:5px;vertical-align:top}