.pe-o2-tab-container{width:100%;border-top-left-radius:5px;border-top-right-radius:5px;border-top:1px solid;border-left:1px solid;border-right:1px solid;float:left;background-color:#f4f4f4;border-color:#d3d4d5}
.pe-o2-tabs{float:left;margin-left:10px;margin-top:2px}
.pe-o2-tabs .pe-o2-tab{padding:4px 10px;display:inline-block;margin-right:2px;cursor:pointer;border-top:1px solid #f4f4f4;border-left:1px solid #f4f4f4;border-right:1px solid #f4f4f4}
.pe-o2-tabs .pe-o2-tab.active{border-top-left-radius:5px;border-top-right-radius:5px;border-top:1px solid #d3d4d5;border-left:1px solid #d3d4d5;border-right:1px solid #d3d4d5;background-color:#fff;position:relative}
.pe-o2-tabs .pe-o2-tab.active:after{content:"";position:absolute;bottom:-1px;left:0;width:100%;height:2px;background-color:#fff}
.pe-o2-lang-container{float:right;margin-right:10px;margin-top:3px}
.pe-o2-tab-wrapper{border:1px solid #d3d4d5;float:left;width:100%}
.pe-o2-search-bar{border-bottom:1px solid;height:40px;background:#FFF;background:-moz-linear-gradient(top,#fff 0,#f6f6f7 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#f6f6f7));background:-webkit-linear-gradient(top,#fff 0,#f6f6f7 100%);background:-o-linear-gradient(top,#fff 0,#f6f6f7 100%);background:-ms-linear-gradient(top,#fff 0,#f6f6f7 100%);background:linear-gradient(to bottom,#fff 0,#f6f6f7 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f6f6f7',GradientType=0);border-color:#d3d4d5}
.pe-o2-add-icon{background-image:url(../images/3941_gray_16.png);width:15px;height:15px;margin-left:5px;float:left;margin-top:14px;cursor:pointer}
.pe-o2-segment-tab{float:left;margin-left:10px;margin-top:11px}
.pe-o2-segment-tab .pe-o2-seg-tabs{float:left;padding:0 9px;border-radius:4px;border:1px solid #d3d4d5;background-color:#f4f4f4;margin-right:10px;cursor:pointer}
.pe-o2-segment-tab .active{border-color:#193f72;background-color:#ccdbed;color:#143e72;cursor:default}
.pe-o2-inst-search{float:left;margin:10px 0 0 5px;width:25%;background-position:3px 4px;background-repeat:no-repeat;padding:0 10px;position:relative}
.pe-o2-inst-search .search-box{width:100%}
.pe-o2-toggle{float:right;width:14px;height:15px;margin-right:10px;margin-top:12px;cursor:pointer}
.pe-o2-expand{background:url(../images/sprite_green.png) no-repeat -70px 0}
.pe-o2-collapse{background:url(../images/sprite_green.png) no-repeat -87px 0}
.pe-o2-header-result{padding:4px 0;width:100%;float:left;border-bottom:1px solid #d3d4d5;background-color:#f4f4f4}
.pe-o2-added-container{width:calc(50% - 9px);margin-right:7px;border:1px solid #d3d4d5;float:left;margin-top:15px;min-height:80px;position:relative;padding-bottom:26px}
.pe-o2-header-text{float:left;margin-left:10px;color:#595f62}
.pe-o2-no-result{float:left;margin-left:10px;margin-top:10px;padding-bottom:20px;color:#7a7f82;font-size:11px}
.pe-o2-edu-link{background-color:#f4f4f4;padding:4px 0 4px 12px;width:100%;height:27px;float:left;bottom:0;left:0;border-top:1px solid #d3d4d5;position:absolute}
.pe-o2-edu-text{margin:0 5px 0 10px;color:#595f62}
.pe-o2-inst-res,.pe-o2-meds-res{padding:4px 0;width:100%;float:left;border-bottom:1px solid #d3d4d5}
.pe-o2-inst-data,.pe-o2-meds-data{padding-left:10px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:70%;display:inline-block}
.pe-o2-inst-modify,.pe-o2-meds-modify{float:right;margin-right:10px;margin-top:1px}
.pe-o2-inst-favorite.active{background:url("../images/6652_16.png") no-repeat 0 0}
.pe-o2-inst-favorite{background:url("../images/6652_16_inactive.png") no-repeat 0 0;display:inline-block;width:16px;height:16px;padding-right:10px;cursor:pointer;margin-left:7px}
.pe-o2-remove,.pe-o2-remove-meds{background:url("../images/6457_up_16.png") no-repeat 0 0;display:inline-block;width:16px;height:16px;cursor:pointer;margin-left:7px}
.pe-o2-remove:hover,.pe-o2-remove-meds:hover{background:url("../images/6457_over_16.png") no-repeat 0 0;margin-left:7px}
.pe-o2-print{background:url("../images/4975_disabled.gif") no-repeat 0 0;display:inline-block;width:16px;height:16px;padding-right:10px;cursor:pointer;margin-left:7px}
.pe-o2-print:hover{background:url("../images/4975.gif") no-repeat 0 0;margin-left:7px}
.pe-o2-content-wrapper{width:100%;height:310px}
.pe-o2-folder-structure{width:20%;float:left;list-style:none;padding:0;height:100%;border-right:1px solid #d3d4d5}
.pe-o2-folder-name{padding:1px 0 3px 20px;border-bottom:1px solid #d3d4d5;cursor:default;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.pe-o2-folder-name:first-child{padding:1px 0 3px 10px}
.pe-o2-white-hover:hover,.pe-o2-res:hover,.pe-o2-inst-res:hover,.pe-o2-res-medications:hover{background-color:#f5f8fc;cursor:default}
.pe-o2-active{background-color:#3a78bb;color:#fff}
.pe-o2-items-cont-wrapper{width:calc(80% - 1px);float:left;position:relative;height:100%}
.pe-o2-items-cont{width:100%;height:100%;position:relative}
.pe-o2-items-label{width:100%;padding:1px 0 3px 10px;border-bottom:1px solid;border-color:#d3d4d5;background-color:#f4f4f4}
.pe-o2-add-items-col{width:50%;float:left;padding:10px 0 20px 0;min-height:290px}
.pe-o2-add-items-col:first-child{border-right:1px solid #d3d4d5}
.pe-o2-res{display:block;line-height:14px;position:relative;margin-left:1px;padding:4px 32px 4px 12px}
.pe-o2-white-hover{background-color:#fff}
.pe-o2-name{padding-right:5px;max-width:96%;overflow:hidden;display:inline-block;text-overflow:ellipsis;white-space:nowrap}
.pe-o2-favorite{background:url("../images/6652_16_inactive.png") no-repeat 0 0;display:inline-block;width:16px;height:16px;margin-right:12px;cursor:pointer;position:absolute;right:0}
.pe-o2-favorite.active{background:url("../images/6652_16.png") no-repeat 0 0}
.pe-o2-clear-text{background:url("../images/6457_up_16.png") no-repeat 0 0;width:16px;height:16px;cursor:pointer;position:absolute;right:12px;top:3px;margin:0;display:none}
.pe-o2-pager{width:100%;height:25px;border-top:1px solid #d3d4d5;float:left;padding:2px;position:absolute;bottom:0;margin-top:8px;background-color:#FFF}
.pe-o2-empty-search-result{text-align:center}
.pe-o2-empty-search-image{margin-top:50px;background:url(../images/noData-med.png) no-repeat;height:137px;width:137px;display:inline-block}
.pe-o2-empty-search-text{color:#7a7f82;padding-top:25px}
.pe-o2-popup-label{padding-left:5px}
.pe-o2-res-content{overflow-y:auto;overflow-x:hidden;clear:both}
.pe-o2-inst-search .search-box-div{border:0}
.pe-o2-print-all{float:right;margin-right:10px;text-decoration:underline;color:#0066a6}
.pe-o2-meds-leaflet-data-container{width:100%;margin-right:7px;float:left;height:72px;position:relative;overflow-y:auto;overflow-x:hidden;clear:both}
.pe-o2-added-meds-container{width:calc(50% - 9px);margin-left:7px;border:1px solid #d3d4d5;float:left;margin-top:15px;min-height:72px}
.pe-o2-all-inst{position:relative}
.pe-o2-all-inst .pe-o2-add-items-col{min-height:310px}