.pt-info{zoom:1;clear:both;overflow:hidden;padding:0 1%;border-bottom:1px solid #ededed;word-wrap:break-word}
.pt-info a:link{text-decoration:none;color:#000}
.pt-info a:active,.pt-info a:hover{text-decoration:underline}
.pt-label{width:48%;float:left;display:inline-block;margin-right:1%}
.pt-detail{width:48%;float:left;display:inline-block;margin-left:1%}
.pt-phonenum-label{color:#999}