.pbg-info{clear:both;zoom:1;overflow:hidden;padding:0 1%;border-bottom:1px solid #ededed;word-wrap:break-word}
.pbg-name{width:25%;float:left;margin-right:1%}
.pbg-reac{width:40%;float:left;margin-left:1%;margin-right:1%}
.pbg-res{width:67%;float:left;margin-right:1%}
.pbg-dt{width:29%;float:left;margin-left:1%}
.pbg-reac a,.pbg-reac a:link,.pbg-res a,.pbg-res a:link{text-decoration:none;cursor:pointer}
.pbg-reac a:active,.pbg-res a:active{text-decoration:none}
.pbg-reac a:hover,.pbg-res a:hover{text-decoration:underline}