.pta-info{clear:both;zoom:1;overflow:hidden;padding:0 1%;border-bottom:1px solid #ededed;word-wrap:break-word}
.pta-info dt{display:none}
.pta-name{width:49%;float:left;display:inline-block;margin-right:1%}
.pta-res{width:25%;float:left;display:inline-block;margin-left:1%;margin-right:1%}
.pta-dt{width:20%;float:left;display:inline-block;margin-left:1%}
.pta-res a,.pta-res a:link,{text-decoration:none;cursor:pointer}
.pta-res a:active,.pta-res a:hover{text-decoration:underline}