.ptr-info{line-height:1.5em;clear:both;zoom:1;overflow-x:hidden;overflow-y:auto;padding:0 1%;border-bottom:1px solid #e8eff9;word-wrap:break-word}
.ptr-info-hd,.ptr-det-hd{position:absolute;visibility:hidden}
.ptr-info dt{width:48%;float:left;display:inline-block;padding-right:1%;color:#505050}
.ptr-info dd{width:48%;float:left;display:inline-block;padding-left:1%}