.po-wf-blood-type-rh-negative{color:#a0f;font:bold 12px Tahoma}
.po-wf-gravida{font:14px Tahoma}
.po-wf-current-weight{font-weight:normal;color:#000}
.po-wf-rom-abnormal-duration{color:#a0f;font:bold 12px Tahoma}
.po-wf-additional-baby{background:url(../images/4015_16.gif) no-repeat center right;float:left;width:20px}
.po-wf-hvr table{table-layout:fixed;margin-left:5px}
.po-wf-baby-label{color:#999;padding-right:5px}
.po-wf-rom-header{width:50%;padding-right:3px}
.po-wf-menu-items{width:100%}
.po-wf-menu-space{float:right;padding-right:2%}
.po-wf-no-preg-menu-items{float:right;margin-right:10%;width:40%}
.po-wf-preg-menu-item{font:11px Tahoma,sans-serif;padding:2px;color:#3380e5}
.po-wf-preg-menu-item-dthr{font:11px Tahoma,sans-serif;padding:2px;color:#666;cursor:default}
.po-wf-tab-container{padding-top:5px}
.po-wf-tab-container hr{margin-top:-12px;display:block;border-top:1px solid #e1e1e1;border-bottom:1px solid #bbb}
.po-wf-tabs{overflow:hidden;margin-bottom:10px}
.po-wf-tabs>ul{list-style:none;padding-left:15px}
.po-wf-tabs>ul>li{color:#797979;display:block;float:left;margin-right:3px;cursor:pointer}
.po-wf-tabs>ul>li>span{height:27px;line-height:32px}
.po-wf-tabs .po-wf-tab-text{padding:0 10px 0 10px;float:left;background:url(../images/tab2_inactive_center.png)}
.po-wf-tabs .po-wf-tab-left-edge{display:block;float:left;background:url(../images/tab2_inactive_left.png) no-repeat}
.po-wf-tabs .po-wf-tab-right-edge{display:block;float:right;background:url(../images/tab2_inactive_right.png) no-repeat;width:6px}
.po-wf-tabs .po-wf-tab-active-header{color:#505050;display:block;float:left;margin-right:3px}
.po-wf-tabs .po-wf-tab-active-header>span{height:27px;line-height:28px}
.po-wf-tabs .po-wf-tab-active-header>.po-wf-tab-text{padding:0 10px;float:left;background:url(../images/tab2_active_center.png)}
.po-wf-tabs .po-wf-tab-active-header>.po-wf-tab-left-edge{display:block;float:left;background:url(../images/tab2_active_left.png) no-repeat}
.po-wf-tabs .po-wf-tab-active-header>.po-wf-tab-right-edge{display:block;float:right;background:url(../images/tab2_active_right.png) no-repeat;width:6px}
.po-wf-tabs-content .po-wf-tabpage{border-top:1px solid #bbb}
.po-wf-race,.po-wf-fob{float:left;display:inline-block;text-overflow:ellipsis;-ms-text-overflow:ellipsis;white-space:nowrap;overflow:hidden;word-wrap:normal;max-width:100px;vertical-align:bottom}
.po-wf-displaybox{z-index:1;background:url('../images/po_transparent_bkg.png') repeat;background:rgba(0,0,0,0.9);position:fixed;top:0;left:0;width:100%;height:100%;color:#fff;text-align:center;vertical-align:middle}
.po-wf-graph-outerbox{height:600px;width:950px;overflow:visible;position:relative;padding-top:25px;z-index:1;vertical-align:top;margin:auto}
.po-wf-graphbox-skin{width:auto;background-color:#f9f9f9;border-radius:4px;color:#444;position:relative;text-shadow:none;padding:5px;overflow:auto}
.po-wf-no-graphbox-skin{width:auto;background-color:#f9f9f9;border-radius:4px;color:#444;position:relative;text-shadow:none;padding:5px;height:200px}
.po-wf-graphTitle{float:right;height:auto;position:relative;top:40px;padding-bottom:10px;margin-left:20px;border:0;font-size:22px;width:350px}
.po-wf-textBox{position:absolute;background-color:#fffce1;border:1px solid #bdbdbd;margin-left:70px;top:140px;width:240px;font-size:12px;text-align:left;color:#000;height:auto;z-index:1;padding:5px}
.po-wf-graph-contents{height:500px;width:550px;position:relative;top:40px;float:right}
.po-wf-graph-contents div .jqplot-base-canvas{height:450px;width:350px}
.po-wf-graph-contents div .jqplot-yaxis-label{word-wrap:break-word;width:160px;margin-left:10px;padding-right:5px;text-align:right;font-family:Tahoma;font-size:12pt}
.po-wf-graph-contents div .jqplot-xaxis-label{font-family:Tahoma!important;font-size:12pt!important}
.po-wf-tableContents{height:auto;width:350px;position:relative;float:left;margin-left:20px;margin-top:20px}
.po-wf-weight-table{border:1px solid #666;margin-top:20px;width:350px}
.po-wf-weight-body{border:1px solid #666;text-align:center}
.po-wf-graph-close{cursor:pointer;height:36px;position:absolute;right:-15px;top:8px;width:36px;z-index:1;color:#f00!important;font-size:120%!important}
.po-wf-noGraph-close{position:absolute;right:0;top:0;width:auto;z-index:1;color:#f00!important;font-size:180%!important;border-style:solid;border-width:2px;border-color:#333}
.po-wf-no-graph-data{margin-top:85px;font-size:18px}
.po-wf-edd-status-pic{background:url(../images/4948_16.gif) no-repeat 0 0;padding-left:15px!important}
.po-wf-preg-info{width:99%}
.po-wf-tabular-info{overflow:auto;white-space:nowrap}
.po-wf-div-inactive{display:none}
.po-wf-div-active{width:100%;display:inline-block}
.po-wf-list-group{width:32.2%;border:1px solid #cdcdcd;display:inline-block;min-width:225px}
.po-wf-list-group-additional{width:24%!important}
.po-wf-table-space{display:inline-block;min-width:6px;width:6px}
.po-wf-list-container{border-collapse:collapse;width:100%;overflow:hidden;word-wrap:break-word;table-layout:fixed}
.po-wf-header th{font-size:12px;background:#cddcee;color:#3e3e3e;padding-left:4px;border-bottom:1px solid #cdcdcd;font-weight:bold}
.po-wf-list-terms{text-align:right;background:#f6f6f6;color:#505050;padding-right:6px;padding-top:2px;padding-bottom:2px;border-right:1px solid #cdcdcd;width:50%;word-wrap:break-word;white-space:normal}
.po-wf-list-terms-space{text-align:right;background:#f6f6f6;color:#505050;padding-right:6px;border-right:1px solid #cdcdcd;width:50%}
.po-wf-list-descriptions{padding-left:6px;padding-top:2px;padding-bottom:2px;width:50%;min-width:100px;word-wrap:break-word;white-space:normal}