.pab-content-column{width:125px;word-wrap:normal;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;border-left:1px solid #dcdcdc}
.pab-unit{font-size:9px;color:#9f9f9f;line-height:10px}
.pab-table-data-hover{background-color:#fffce0;line-height:1.5em;margin:1px 5px 5px 2px;padding-left:5px;word-wrap:break-word;max-width:400px;display:inline-block}
.pab-table-data-hover dt{color:#505050}
.pa2-sec .flowsheet-table table{table-layout:fixed}
.pa2-sec .flowsheet-table.fs-results-table .content-body{border-width:1px 0 1px 0;border-style:solid;border-color:#dcdcdc;overflow:hidden}
.pa2-sec .flowsheet-table.fs-label-table .content-body{border-width:1px 1px 0 1px;border-style:solid;border-color:#dcdcdc;overflow:hidden}
.pa2-sec .flowsheet-table .hdr{padding-bottom:0}
.pa2-sec .flowsheet-table .content-hdr{border-bottom:0}
.pa2-sec .flowsheet-table td{padding:2px 6px 2px 4px}
.pa2-sec .flowsheet-table.fs-label-table{float:left;display:inline-block;width:204px;overflow:hidden;word-wrap:normal;border-bottom:1px solid #dcdcdc}
.pa2-sec .flowsheet-table.fs-label-table td{overflow-x:hidden;white-space:nowrap;text-overflow:ellipsis}
.pa2-sec .flowsheet-table.fs-results-table .table-cell,.pa2-sec .flowsheet-table.fs-label-table .table-cell{word-wrap:normal}
.pa2-sec .flowsheet-table.fs-results-table{max-width:2000px;border-right:1px solid #dcdcdc;display:inline-block;white-space:nowrap;overflow-x:auto;overflow-y:hidden}
.pa3-sec .flowsheet-table table{table-layout:fixed}
.pa3-sec .flowsheet-table.fs-results-table .content-body{border-width:1px 0 1px 0;border-style:solid;border-color:#dcdcdc;overflow:hidden}
.pa3-sec .flowsheet-table.fs-label-table .content-body{border-width:1px 1px 0 1px;border-style:solid;border-color:#dcdcdc;overflow:hidden}
.pa3-sec .flowsheet-table .hdr{padding-bottom:0}
.pa3-sec .flowsheet-table .content-hdr{border-bottom:0}
.pa3-sec .flowsheet-table td{padding:2px 6px 2px 4px}
.pa3-sec .flowsheet-table.fs-label-table{float:left;display:inline-block;width:204px;overflow:hidden;word-wrap:normal;border-bottom:1px solid #dcdcdc}
.pa3-sec .flowsheet-table.fs-label-table td{overflow-x:hidden;white-space:nowrap;text-overflow:ellipsis}
.pa3-sec .flowsheet-table.fs-results-table .table-cell,.pa3-sec .flowsheet-table.fs-label-table .table-cell{word-wrap:normal}
.pa3-sec .flowsheet-table.fs-results-table{max-width:2000px;border-right:1px solid #dcdcdc;display:inline-block;white-space:nowrap;overflow-x:auto;overflow-y:hidden}