.pd-delivery-table{margin-top:.5%;min-width:1300px;width:100%}
.pd-label{margin-left:2px;color:#999}
.pd-content{margin-right:75px}
.pd-scrollable{overflow:auto}
.pd-cells{padding:4px 6px;display:inline-block;border-left:1px solid #ddd;vertical-align:top}
.pd-small{width:6%}
.pd-med{width:16%}
.pd-large{width:15%}
.pd-xlarge{width:17%}
.header-item.pd-cells{padding:6px 6px 2px;background:0}