.preg-nav-bar{background-color:#cddcee;padding:0 6px;border-bottom:1px solid #adb4bc}
.preg-nav-left{background:url(../images/arrow_left_off.jpg) no-repeat center;width:8px;height:14px;display:inline-block;cursor:pointer;margin:0 5px 0 0;zoom:1;*display:inline;vertical-align:middle}
.preg-nav-right{width:8px;background:url(../images/arrow_right_off.jpg) no-repeat center;height:14px;display:inline-block;cursor:pointer;margin:0 0 0 5px;zoom:1;*display:inline;vertical-align:middle}
.preg-nav-bar ol{display:inline-block;white-space:nowrap;overflow:hidden;width:97%;zoom:1;*display:inline;vertical-align:middle}
.preg-nav-bar li{display:inline-block;font-size:14px;color:#333;margin:10px 20px;padding:5px;font-style:bold;cursor:pointer;zoom:1;*display:inline}
.preg-nav-bar li.selected{padding:5px 7px 7px;border-radius:5px;background-color:#004d6e;color:#FFF;font-weight:bold}
.preg-nav-prev-year{display:inline-block;color:#adb4bc;transform:rotate(90deg);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);writing-mode:tb-rl;zoom:1;*display:inline;*margin-right:0;*margin-bottom:10px;vertical-align:middle}
.preg-nav-next-year{display:inline-block;border-left:1px solid #adb4bc;color:#adb4bc;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);writing-mode:tb-rl;zoom:1;*display:inline;*border-bottom:0;*border-left:1px solid #adb4bc;*margin-bottom:10px;vertical-align:middle}
.preg-visit-cards{padding:0 6px;white-space:nowrap;width:99%;overflow:hidden}
.preg-visit-card{width:400px;margin:12px 10px;display:inline-block;border-radius:15px;box-shadow:0 2px 5px rgba(0,0,0,0.3);vertical-align:top;zoom:1;*display:inline}
.preg-visit-card dt{display:none}
.preg-visit-card dd{font-size:12px;color:#505050;margin:0;display:inline-block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;zoom:1;*display:inline}
.preg-data-labels dt{font-size:11px;color:#9f9f9f;display:inline-block;margin:0;zoom:1;*display:inline}
.card-hdr{height:48px;width:400px;padding:16px 16px 0 16px;background-color:#111;display:inline-block;border-top-left-radius:15px;border-top-right-radius:15px;zoom:1;*display:inline}
.selected .card-hdr{width:397px;background-color:#004d6e}
.visit-dt,.ega-rslt{width:165px;display:inline-block;zoom:1;*display:inline}
.visit-dt{color:#fff;font-size:20px;text-align:left;vertical-align:middle;margin-right:35px}
.ega-rslt{color:#fff;font-size:30px;display:inline-block;text-align:right;text-overflow:ellipsis;overflow:hidden;zoom:1;*display:inline;line-height:30px;vertical-align:middle;padding-bottom:7px}
.ega-lbl{color:#ccc}
.patient-data{padding:15px 16px 15px 16px;border-right:1px solid #ccc;border-left:1px solid #ccc;word-wrap:normal}
.preg-visit-card.selected{border-right:3px solid #004d6e;border-left:3px solid #004d6e;border-bottom:3px solid #004d6e}
.patient-data dl{margin:0}
.pt-data-top-lt{width:35%}
.pt-data-top-rt{width:62%}
.pt-data-mid,.pt-data-bot{width:85px}
.diff-weight{margin-left:3px}
.cerv-dil,.cerv-len,.cerv-eff{display:inline-block;text-overflow:ellipsis;overflow:hidden;vertical-align:bottom;zoom:1;*display:inline}
.urine-lbl{font-size:11px;color:#9f9f9f;margin:0 0 0 3px;width:32.3%}
.left-urine-spcr{margin-left:18px;background:url(../images/leftSpcr.gif) no-repeat center;width:30px;height:6px;display:inline-block}
.right-urine-spcr{background:url(../images/rightSpcr.gif) no-repeat center;width:30px;height:6px;display:inline-block}
.fetal-data-more,.fetal-data-less{padding-top:15px;background-color:#f5f5f5;border-top:1px solid #ccc;padding:15px 16px 15px 16px;border-right:1px solid #ccc;border-left:1px solid #ccc}
.fetal-data-more dl,.fetal-data-less dl{margin:0}
.fetal-data-more dt,.fetal-data-less dt{display:none}
.fetal-data-less dd,.fetal-data-less dt{width:110px}
.fetal-data-more dd,.fetal-data-more dt{width:85px}
.fetal-data-more .fetal-label,.fetal-data-more .fetal-result{width:30px;text-overflow:ellipsis;display:inline-block;white-space:nowrap;overflow:hidden;word-wrap:normal}
.fetal-data-less .fetal-label,.fetal-data-less .fetal-result{width:20px;text-overflow:ellipsis;display:inline-block;white-space:nowrap;overflow:hidden;word-wrap:normal}
.fetal-data-more .preg-data-labels dt,.fetal-data-less .preg-data-labels dt{display:inline-block;zoom:1;*display:inline}
.cmnt-data{overflow:hidden;background-color:#ececec;height:118px;border-bottom-left-radius:15px;border-bottom-right-radius:15px;padding:15px 16px 16px 16px;border:1px solid #ccc}
.cmnt-data p{word-wrap:break-word;white-space:normal}
.cmnt-hover.preg-res-hvr{display:none}
.cmnt-hover p{word-wrap:break-word;white-space:normal}
.cmnt-data span{font-size:11px;color:#9f9f9f}
.visit-card p{font-size:12px;color:#505050;margin:1px;white-space:normal}
.preg-assess-all-results{display:none}
h4.preg-data-title,dl.preg-all-res{padding:0}
h4.preg-data-title{margin-left:5px;margin-top:5px}
.preg-res-hvr{background-color:#ffc;border:1px solid #CCC;line-height:1.5em;margin:-1px 10px 10px 5px;padding:0 5px;word-wrap:break-word;position:absolute;max-width:500px}
.hover-highlight{background-color:#ffc}
.preg-res-hvr dt{color:#505050;display:inline-block;margin:1px 5px;zoom:1;*display:inline}
.preg-res-hvr dd{margin:1px 5px;display:inline-block;text-align:bottom;zoom:1;*display:inline}