.qv-sections{width:99%;display:inline-block;vertical-align:top;border-top:1px solid #b9b9b9;border-left:1px solid #b9b9b9;border-right:1px solid #b9b9b9}
.qv-right{margin-left:1%}
.qv-search{width:70%;display:inline-block;vertical-align:top}
.qv-tab-div{width:50%;display:inline-block}
.qv-tab{cursor:pointer;padding:4px 10px;border:1px solid transparent;border-color:#666;display:inline-block;vertical-align:middle;font-weight:normal;white-space:nowrap;margin:0;line-height:1;background-color:#efefef;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e1e1e1));background:-moz-linear-gradient(#fff,#e1e1e1);background:linear-gradient(#fff,#e1e1e1);box-shadow:0 0 0 1px #fff inset;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.qv-tab:hover{background-color:#e4e4e4;background:-webkit-gradient(linear,left top,left bottom,from(#f2f2f2),to(#d5d5d5));background:-moz-linear-gradient(#f2f2f2,#d5d5d5);background:linear-gradient(#f2f2f2,#d5d5d5)}
.qv-active-tab>:first-child{outline:0;color:#FFF;box-shadow:none;background-color:#354e65;background:-webkit-gradient(linear,left top,left bottom,from(#55656d),to(#62727b));background:-moz-linear-gradient(#55656d,#62727b);background:linear-gradient(#55656d,#62727b);border-right-color:#354e65;font-weight:bold}
.qv-speciality-tab>button{border-left-width:1px;border-bottom-left-radius:4px;border-top-left-radius:4px;box-shadow:none}
.qv-all-tab>button{border-bottom-right-radius:3px;border-top-right-radius:3px;border-right-color:#666}
.qv-search-header{background:#f6f6f6;padding:10px;box-sizing:border-box;border-bottom:1px solid #b9b9b9;height:75px}
.qv-search{width:100%;display:inline-block;vertical-align:top;padding-top:10px}
.qv-tabs-sec{width:100%;display:inline-block;vertical-align:top}
.qv-search-content{width:100%;overflow-y:auto;max-height:353px}
.qv-bundle-row{border-bottom:1px solid #cdcdcd;height:32px;padding:4px 0 2px 0}
.qv-bundle-row:hover{background-color:#f5f8fc}
.qv-bundle{display:inline-block;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis;width:60%}
.qv-buttons{display:inline-block;float:right;margin-right:10px}
.qv-bundle-button{float:right;vertical-align:top;display:inline-block;font-weight:bold;white-space:nowrap;word-wrap:normal;text-align:center;padding:2px 12px;border-radius:2px;line-height:1.2em;font-size:12px;background:#fff}
.qv-bundle-button:active{background:#DDD;color:#000}
.qv-bundle-button:hover{color:#000;background:#e9e9e9}
.qv-bundle-row .qv-bundle{margin-left:25px}
.qv-completed-headers{border-bottom:1px solid #dedede;height:20px;padding:3px 0 3px 10px;background:#ececec;font-size:12px;color:#3d3d3d;font-family:Tahoma,Geneva,sans-serif}
.qv-completed-headers div{width:98%;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis}
.qv-overlay-div{position:absolute;top:0;left:0;width:100%;height:100%;background-color:white;opacity:.5;z-index:5000}
.qv-img-spinner{background:url("../images/6439_32.gif");position:absolute;height:30px;width:30px;left:50%;top:50%}
.qv-bundle-area .bundle-new-content{overflow-y:hidden;max-height:inherit}
.bundle-new{padding:10px}
.bundle-new-hdr{padding-bottom:4px;border:0;color:#2e426a;border-bottom:1px solid #474747}
.bundle-new-hdr div{display:inline-block}
.bundle-new-close{background-image:url(../images/6241_16.png);height:16px;width:16px;display:inline-block;cursor:pointer;float:right}
.bundle-new-title{display:inline-block}
.bundle-new-sec{margin:15px 20px 25px 20px}
.create-new-bundle,.close-new-bundle{display:inline-block;margin:10px 0 10px 5px}
.bundle-new .title-name,.bundle-new .title-input{font-size:15px}
.bundle-new .title-name{margin-right:5px;float:left;font-weight:bold;font-size:16px}
.bundle-new .title-input{overflow:hidden}
.bundle-new .title-input input[type="text"]{border:1px solid #dedfe0;width:99%;font-size:16px;transition:border linear .2s,box-shadow linear .2s;border-radius:.25em;margin:2px;height:28px}
.bundle-new .title-input input[type="text"]:focus{box-shadow:0 0 8px #a6d9f4;border-color:#4cb2e9;outline:0}
.bundle-new-content{overflow-y:auto;max-height:700px;overflow-x:auto}
.bundle-new .form-order-title{margin:15px 20px 5px 20px}
.bundle-new .form-required-field{color:#e50000}
.bundle-title-error.hide{display:none}
.bundle-new input[type="button"]{min-width:70px;cursor:pointer;padding:5px}
.bundle-new .bundle-new-footer{background-color:#f5f5f5;border:1px solid #cfcfcf;margin:20px 0 0 0;overflow:hidden}
.bundle-new-footer .footer-btn{float:right;margin-right:15px}
.qv-form-diagnosis-sec .quick-visit-add-icon{background:url(../../images/sprite_green.png) no-repeat 0 0;width:16px;height:16px;cursor:pointer}
.qv-form-diagnosis-sec .selected-form-items{padding:5px;margin-bottom:5px;margin-right:5px;border:1px solid #CCC}
.qv-form-diagnosis-sec .selected-form-items:hover{border:1px solid #989898}
.qv-form-diagnosis-sec .selected-form-items select,.qv-form-diagnosis-sec .selected-form-items label,.qv-form-diagnosis-sec .selected-form-items div{display:inline-block}
.qv-form-diagnosis-sec .selected-form-items input[type="radio"]{margin-right:15px;vertical-align:bottom}
.qv-form-diagnosis-sec .selected-form-items:hover .diagnosis-remove{display:inline-block}
.qv-form-diagnosis-sec .diagnosis-remove{display:none;background:url(../../images/6457_up_16.png) no-repeat 0 0;height:16px;width:16px;margin-left:10px;float:right}
.qv-form-diagnosis-sec .remove-icon:hover{background:url(../../images/6457_over_16.png) no-repeat 0 0;cursor:pointer}
.qv-form-diagnosis-sec .diagnosis-sec-detail{padding-left:15px}
.qv-form-diagnosis-sec .diagnosis-label{width:90%}
#qvDiagnosisPopupHeader{font-size:13px;font-weight:bold}
#qvDiagnosisPopupFooter{float:right;margin-right:15px}
#qvDiagnosisPopupFooter input[type="button"]{min-width:70px;cursor:pointer;padding:5px}
#qvDiagnosisPopupSearch [disabled=disabled]{background-color:#fff}
#qvDiagnosisPopup .chosen-container{width:70%!important;margin-bottom:5px;vertical-align:top}
#qvDiagnosisPopup .chosen-with-drop{position:absolute!important;width:70%!important}
#qvDiagnosisPopupFooter .close-btn{display:inline-block;margin:2px 0 0 0}
.qv-diagnosis-suggest-list{margin-top:2px;overflow-x:hidden;overflow-y:auto;max-height:221px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;border-left:1px solid #c6c6c6}
.qv-diagnosis-suggest-item{padding:5px;border-bottom:1px solid #c6c6c6}
.qv-diagnosis-suggest-item:hover{background-color:#568ecb;color:#FFF;cursor:pointer}
.qv-diagnosis-vocab-list{margin:5px 0 5px 0;height:35px}
.qv-popup-body{overflow-y:visible!important}
.qv-form-education-sec .quick-visit-add-icon{background:url(../../images/sprite_green.png) no-repeat 0 0;width:16px;height:16px;cursor:pointer}
.qv-form-education-sec .selected-form-items{padding:5px;margin-bottom:5px;margin-right:5px;border:1px solid #CCC}
.qv-form-education-sec .selected-form-items:hover{border:1px solid #989898}
.qv-form-education-sec .selected-form-items select,.qv-form-education-sec .selected-form-items label,.qv-form-education-sec .selected-form-items div{display:inline-block}
.qv-form-education-sec .selected-form-items input[type="checkbox"]{margin-right:15px;vertical-align:bottom}
.qv-form-education-sec .selected-form-items:hover .education-remove{display:inline-block}
.qv-form-education-sec .education-remove{display:none;background:url(../../images/6457_up_16.png) no-repeat 0 0;height:16px;width:16px;margin-left:10px;float:right}
.qv-form-education-sec .remove-icon:hover{background:url(../../images/6457_over_16.png) no-repeat 0 0;cursor:pointer}
.qv-form-education-sec .education-sec-detail{padding-left:15px}
.qv-form-education-sec .education-label{width:85%}
#qvEducationPopupHeader{font-size:13px;font-weight:bold}
#qvEducationPopupFooter{float:right;margin-right:15px}
#qvEducationPopupFooter input[type="button"]{min-width:70px;cursor:pointer;padding:5px;display:inline-block;margin:2px 0 0 0}
.qv-education-suggest-list{margin-top:2px;overflow-x:hidden;overflow-y:auto;max-height:221px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;border-left:1px solid #c6c6c6}
.qv-education-suggest-item{padding:5px;border-bottom:1px solid #c6c6c6}
.qv-education-suggest-item:hover{background-color:#568ecb;color:#FFF;cursor:pointer}
.qvEducationDropDown{padding:1px;padding-bottom:7px;display:inline-block;width:100%}
.qvEducationDropDown select{width:100%}
.qvEducationDropDown .dropDownItem label{color:#383f42}
#qvEducationPopupSearch [disabled=disabled]{background-color:#fff}
#qvEducationPopup .chosen-container{width:70%!important;margin-bottom:15px;vertical-align:top}
#qvEducationPopup .chosen-with-drop{width:70%!important;margin-bottom:15px;vertical-align:top;position:absolute}
#qvlanguageSelect{margin-top:15px;height:25px}
#qvdomainSelect{height:25px}
.qv-form-followUp-sec .quick-visit-add-icon{background:url(../../images/sprite_green.png) no-repeat 0 0;width:16px;height:16px;cursor:pointer}
.qv-form-followUp-sec .selected-form-items{padding:5px;margin-bottom:5px;margin-right:5px;border:1px solid #CCC}
.qv-form-followUp-sec .selected-form-items:hover{border:1px solid #989898}
.qv-form-followUp-sec .selected-form-items select,.qv-form-followUp-sec .selected-form-items label,.qv-form-followUp-sec .selected-form-items div{display:inline-block}
.qv-form-followUp-sec .selected-form-items input[type="checkbox"]{margin-right:15px;vertical-align:bottom}
.qv-form-followUp-sec .selected-form-items:hover .followUp-remove{display:inline-block}
.qv-form-followUp-sec .followUp-remove{display:none;background:url(../../images/6457_up_16.png) no-repeat 0 0;height:16px;width:16px;margin-left:10px;float:right}
.qv-form-followUp-sec .remove-icon:hover{background:url(../../images/6457_over_16.png) no-repeat 0 0;cursor:pointer}
.qv-form-followUp-sec .followUp-sec-detail{padding-left:15px}
.qv-form-followUp-sec .followUp-label{width:90%}
#qvFollowUpPopupHeader{font-size:13px;font-weight:bold}
#qvFollowUpPopupFooter{float:right;margin-right:15px}
#qvFollowUpPopupFooter input[type="button"]{min-width:70px;cursor:pointer;padding:5px;display:inline-block;margin:2px 0 0 0}
.qv-followUp-suggest-list{margin-top:2px;overflow-x:hidden;overflow-y:auto;max-height:221px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;border-left:1px solid #c6c6c6}
.qv-followUp-suggest-item{padding:5px;border-bottom:1px solid #c6c6c6}
.qv-followUp-suggest-item:hover{background-color:#568ecb;color:#FFF;cursor:pointer}
.qv-form-order-sec .quick-visit-add-icon{background:url(../../images/sprite_green.png) no-repeat 0 0;width:16px;height:16px;cursor:pointer}
.qv-form-order-sec .selected-form-items{padding:5px;margin-bottom:5px;margin-right:5px;border:1px solid #CCC}
.qv-form-order-sec .selected-form-items:hover{border:1px solid #989898}
.qv-form-order-sec .selected-form-items select,.qv-form-order-sec .selected-form-items label,.qv-form-order-sec .selected-form-items div{display:inline-block}
.qv-form-order-sec .order-sentence-group{max-width:35%;vertical-align:top}
.qv-form-order-sec .selected-form-items input[type="checkbox"]{margin-right:15px;vertical-align:bottom}
.qv-form-order-sec .selected-form-items:hover .order-remove{display:inline-block}
.qv-form-order-sec .order-select-sentence-del{vertical-align:bottom}
.qv-form-order-sec .order-remove,.qv-form-order-sec .order-select-sentence-del{display:none;background:url(../../images/6457_up_16.png) no-repeat 0 0;height:16px;width:16px;margin-left:10px}
.qv-form-order-sec .order-remove{float:right}
.qv-form-order-sec .remove-icon:hover{background:url(../../images/6457_over_16.png) no-repeat 0 0;cursor:pointer}
.qv-form-order-sec .order-sec-detail{padding-left:15px}
.qv-form-order-sec .order-sentence-radio,.qv-form-order-sec .order-select-sentence-name,.qv-form-order-sec .order-select-sentence-del{display:inline-block}
.qv-form-order-sec .order-label{min-width:50%;max-width:90%}
.qv-form-order-sec .order-sentence-radio .order-select-sentence{width:100%;margin:0 0 3px 0}
.qv-form-order-sec .order-sentence-radio{width:100%}
.qv-form-order-sec .order-sentence-radio:empty{width:0}
#qvOrderPopupHeader{font-size:13px;font-weight:bold}
#qvOrderPopupFooter{float:right;margin-right:15px}
#qvOrderPopupFooter input[type="button"]{min-width:70px;cursor:pointer;padding:5px;display:inline-block;margin:5px 0 5px 5px}
.qv-order-suggest-list{margin-top:2px;overflow-x:hidden;overflow-y:auto;max-height:221px;border-top:1px solid #c6c6c6;border-right:1px solid #c6c6c6;border-left:1px solid #c6c6c6}
.qv-order-suggest-item{padding:5px;border-bottom:1px solid #c6c6c6}
.qv-order-suggest-item:hover{background-color:#568ecb;color:#FFF;cursor:pointer}
#qvOrderPopupSearch .search-box{width:95%}