.onc-rad-rslt-info-hdr{overflow-x:hidden;overflow-y:auto;padding:0 1%;word-wrap:break-word;padding-top:4px}
.onc-rad-info{overflow:hidden;padding:0 1%;border-bottom:1px solid #ededed;word-wrap:break-word}
.onc-rad-rslt-name{width:31.3%;float:left;display:inline-block;margin-right:2%;margin-left:.5%}
.onc-rad-rslt-res{width:35%;float:left;display:inline-block;margin-left:0;margin-right:0}
.onc-rad-rslt-dt{width:28.8%;float:right;display:inline-block;margin-left:.5%;margin-right:0}
.onc-rad-doc-info-hdr{overflow-x:hidden;overflow-y:auto;padding:0 1%;word-wrap:break-word}
.onc-rad-doc-cat{overflow-y:hidden}
.onc-rad-doc-cat{width:33.1%;float:left;display:inline-block;margin-left:7px}
.onc-rad-doc-cat .res-modified{vertical-align:middle}
.onc-rad-doc-auth{width:37%;float:left;display:inline-block;margin-left:0}
.onc-rad-doc-info{overflow:hidden;word-wrap:break-word;padding:4px 6px}
.onc-rad-doc-info dt{visibility:hidden}
.onc-rad-doc-dt{width:20%;float:left;display:inline-block;margin-left:8px}
.onc-rad-info-hdr-sortIcon{overflow-y:hidden;padding-top:4px;cursor:pointer}
.onc-rad-info-hdr-sortIcon.ascend{background:url(../images/5322_up.png) no-repeat scroll center 2px transparent}
.onc-rad-info-hdr-sortIcon.descend{background:url(../images/5322_down.png) no-repeat scroll center 2px transparent}
.onc-rad-info-hdr-sortIcon:hover{text-decoration:underline}
.onc-rad-hdr-line{border-bottom:2px solid #e8ebf5;color:#e8ebf5;display:inline-block;font-size:12px;height:10px;margin-bottom:10px;width:100%}
.onc-rad-hdr-name{color:#3e3e3e;font:bold 12px Tahoma}
.onc-rad-hdr-line span{background:none repeat scroll 0 0 inherit;padding-right:3px}
.onc-rad-showlnk{float:right}
a.onc-rad-showlnk-disable{float:right;color:#c0c0c0}
.onc-rad-image{width:5%;display:table-cell}
a.onc-rad-image-found{width:16px;height:16px;display:inline-block;background-image:url(../images/4988.gif);text-decoration:none}