.aoav_soi-main-cont{display:inline-block;width:100%;overflow:hidden}
.aoav_soi-top-labels{width:100%;height:30px}
.aoav_soi-index-div{width:40%;display:inline-block;float:right}
.aoav_soi-image-crit{background:url(../images/5278_11.png) no-repeat top left;display:inline-block;height:11px;width:11px}
.aoav_soi-image-high{background:url(../images/6688_11.png) no-repeat top left;display:inline-block;height:11px;width:11px}
.aoav_soi-range-normal{color:#000}
.aoav_soi-range-critical{font-weight:bold;color:#c00}
.aoav_soi-range-high{font-weight:bold;color:#ff6100}
.aoav_soi-phy-square,.aoav_soi-com-square,.aoav_soi-sup-square,.aoav_soi-det-square{margin-top:2px;width:14px;height:14px}
.aoav_soi-phy-square{background:#007cc3}
.aoav_soi-com-square{background:#26a2e5}
.aoav_soi-sup-square{background:#ffce3b}
.aoav_soi-det-square{background:#daace6}
.aoav_soi-index-body-div{margin-top:-5px}
.aoav_soi-separating-border{border-bottom:1px #000 solid}
.aoav_soi-index-body-heading-text,.aoav_soi-index-details-header span{color:#3d3d3d;font-size:12px;font-weight:bold}
.aoav_soi-index-details-header span{padding-left:7px}
.aoav_soi-index-table{max-width:250px}
.aoav_soi-index-table tr td{padding-bottom:5px}
.aoav_soi-index-table-cont{border-spacing:10px;border-collapse:separate;padding-top:15px;width:auto}
.aoav_soi-index-table-empty-row{height:5px}
.aoav_soi-index-icons{width:10%}
.aoav_soi-index-labels{width:45%}
.aoav_soi-index-values{text-align:right;width:15%}
.aoav_soi-diagnosis-ordered-list li{counter-increment:mycounter}
.aoav_soi-diagnosis-ordered-list li:before{color:#505050;padding-right:7px;content:counter(mycounter) ".)"}
.aoav_soi-diagnosis-ordered-list li span{color:#000;word-wrap:break-word}
.aoav_soi-side-panel{display:inline-block;box-sizing:border-box;width:100%}
.aoav_soi-side-panel-padding{padding-left:18px}
.aoav_soi-side-panel .side-panel{float:right;max-width:100%}
.aoav_soi-diagnosis-content{margin-top:-2px;width:auto}
.aoav_soi-diagnosis-first-col{float:left;padding-left:1px}
.aoav_soi-diagnosis-data{padding-bottom:10px}
.aoav_soi-triangle{display:inline-block;height:9px;width:13px;background:url(../images/MortalityIcon_Triangle.png) no-repeat top left}
.aoav_soi-circle{display:inline-block;height:9px;width:13px;background:url(../images/MortalityIcon_Circle.png) no-repeat top left}
.aoav_soi-diagnosis-text,.aoav_soi-date-span .aoav_soi-start-text,.aoav_soi-index-table-cont .aoav_soi-index-labels{color:#505050}
div.aoav_soi-diagnosis-data ol.aoav_soi-diagnosis-ordered-list{padding-left:58px}
.aoav_soi-percentage-text{color:#505050;font-size:10px}
.aoav_soi-empty-diagnosis{color:#000;padding-left:10px}
.aoav_soi-range-null,.aoav_soi-day-date{color:#000}
.aoav_soi-day-span{font-family:tahoma;font-size:18px;color:#000;margin-bottom:5px}
.aoav_soi-index-div .sp-header2{padding:8px 8px 6px 8px}
.aoav_soi-index-details-square{float:left;margin-right:10px}
.aoav_soi-index-details-div{padding:5px 0 15px 0;width:100%}
.aoav_soi-unit-of-measure{padding-left:4px}
.aoav_soi-percentage-col{width:15%}
.aoav_soi-phyIndex-details-col span{display:inline-block}
.aoav_soi-body-system-col{width:30%}
.aoav_soi-high-col,.aoav_soi-low-col,.aoav_soi-median-col{width:15%;text-align:right}
.aoav_soi-item-col{width:80%}
.aoav_soi-index-details-table{margin-top:7px;max-width:400px}
.aoav_soi-index-details-table th,.aoav_soi-unit-of-measure{font-size:10px;color:#505050}
.aoav_soi-index-details-table td{color:#000;font-size:12px;padding-bottom:5px}
.aoav_soi-index-details-table tr td:first-child{font-size:12px;color:#505050}
.aoav_soi-com-str{padding-left:10px;width:12%;float:left;display:list-item}
.aoav_soi-com-idt{width:83%;float:right}
.aoav_soi-com-sub{list-style:disc}
.aoav_soi-index-details-table tr td:first-child,.aoav_soi-index-details-table tr th:first-child{text-align:right;padding-right:20px}
.aoav_soi-phy-high,.aoav_soi-phy-median,.aoav_soi-phy-low{text-align:right}
.aoav_soi-disabled{color:#a0a0a0}
.aoav_soi-top-labels{width:100%;height:40px;display:inline-block;padding-right:15px}
.aoav_soi-len-of-stay{padding-top:8px;float:right;text-align:right;max-width:45%}
.aoav_soi-los-benchmark-hosp .aoav_soi-los-values,.aoav_soi-los-benchmark-icu .aoav_soi-los-values,.aoav-soi-benchmark-hosp-tooltip-table .aoav-soi-benchmark-hosp-tooltip-valuetext,.aoav-soi-benchmark-icu-tooltip-table .aoav-soi-benchmark-icu-tooltip-valuetext{font-weight:bold}
.aoav_soi-los-tool-tip{z-index:3}
.aoav_soi-los-benchmark-hosp .aoav_soi-los-benchmark-hosp-label,.aoav_soi-los-benchmark-icu .aoav_soi-los-benchmark-icu-label,.aoav-soi-benchmark-hosp-tooltip-table .aoav-soi-benchmark-hosp-tooltip-labeltext,.aoav-soi-benchmark-icu-tooltip-table .aoav-soi-benchmark-icu-tooltip-labeltext{color:#505050}
.aoav-soi-hosp-tooltip .aoav-soi-hosp-tooltip-header{font-size:11px;color:#505050;padding-right:154px}
.aoav-soi-icu-tooltip .aoav-soi-icu-tooltip-header{font-size:11px;color:#505050;padding-right:174px}
table.aoav-soi-benchmark-icu-tooltip-table td.aoav-soi-benchmark-icu-tooltip-valuetext,table.aoav-soi-benchmark-hosp-tooltip-table td.aoav-soi-benchmark-hosp-tooltip-valuetext{width:60px;vertical-align:middle}
table.aoav-soi-benchmark-icu-tooltip-table td.aoav-soi-benchmark-icu-tooltip-labeltext,table.aoav-soi-benchmark-hosp-tooltip-table td.aoav-soi-benchmark-hosp-tooltip-labeltext{width:200px;vertical-align:middle}
.aoav-soi-hosp-tooltip,.aoav-soi-icu-tooltip{padding:5px 25px 8px 15px;text-align:right}
.aoav_soi-readmission{padding-top:8px;float:right;text-align:right;padding-right:15px;max-width:45%}
.aoav_soi-readmission .aoav_soi-readmission-label{color:#505050}
.aoav_soi-readmission .aoav_soi-readmission-values{font-weight:bold}
.aoav_soi-graph-area{width:55%;float:left;display:inline-block;overflow-x:auto;overflow-y:hidden}
.aoav_soi-graph-area.aoav_soi-chart-on-scroll{border-right:1px solid #ddd}
.aoav_soi-chart{display:inline-block;width:99%;height:100%}
.aoav_soi-chart-main-div{display:inline-block;width:100%;border-right:1px solid #ddd}
.aoav_soi-graph-area .aoav_soi-chart-on-scroll{border-right:0}
.aoav_soi-graph-sp{display:inline-block;width:100%}
.aoav_soi-chart-main-div .jqplot-overlayCanvas-canvas{z-index:0}
.aoav_soi-chart-main-div .jqplot-series-canvas{z-index:1}
.aoav_soi-chart-main-div .jqplot-highlighter-tooltip{z-index:2}
.aoav_soi-chart-main-div .jqplot-event-canvas{z-index:5}
.aoav_soi-graph-days-div{border-top:1px solid #ddd;border-bottom:1px solid #ddd;font-size:9px}
.aoav_soi-graph-xaxes-buttons.aoav_soi-graph-day-button-selected{background-color:#3a78bb!important;color:#fff}
.aoav_soi-graph-xaxes-buttons.aoav_soi-hover-background{background-color:#edefef}
.aoav_soi-graph-xaxes-buttons{display:inline-block;text-align:center;border-right:1px solid #ddd;background-color:#f6f6f6}
.aoav_soi-graph-day-button-event{cursor:pointer}
.aoav_soi-graph-xaxes-value{height:22px;line-height:22px;vertical-align:middle}
.aoav_soi-graph-xvalue-div{margin-top:-4px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;font-size:12px}
.aoav_soi-graph-xvalue-high{color:#ff6100;font-weight:bold}
.aoav_soi-graph-xvalue-crit{color:#c00;font-weight:bold}
.aoav_soi-graph-xvalue-normal{color:#000}
.aoav_soi-graph-image{display:inline-block;height:11px;width:11px;vertical-align:middle;margin-left:-5%;margin-bottom:-1px}
.aoav_soi-graph-icu-header{width:99%;height:24px;background-color:#ebebeb;border-top:1px solid #ddd}
.aoav_soi-level-icu{font-size:9px;vertical-align:top;background-color:#f6f6f6;border-right:1px solid #ddd}
.aoav_soi-level-not-icu{background-color:#ebebeb;border-right:1px solid #ddd}
.aoav_soi-level{display:inline-block;text-align:center;height:23px;line-height:23px}
.aoav_soi-graph-image-crit{background:url(../images/5278_11.png) no-repeat top left}
.aoav_soi-graph-image-high{background:url(../images/6688_11.png) no-repeat top left}
.aoav_soi-chart-day-hover{padding:10px 10px 10px 15px}
.aoav_soi-chart-day-span{font-family:tahoma;color:#000}
.aoav_soi-graph-yvalue-div .aoav_soi-graph-y-axis-ticks{width:100%;float:left;clear:left;text-align:right}
.aoav_soi-graph-yvalue-main-div{width:4%;float:left;display:inline-block;background-color:#f6f6f6;border-top:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd}
.aoav_soi-graph-yvalue-top-div{width:54px;height:47px;border-bottom:1px solid #ddd;border-right:1px solid #a5a5a5}
.aoav_soi-graph-yvalue-top-div.aoav_soi-graph-yvalue-ie8{width:53px}
.aoav_soi-graph-yvalue-div{padding-right:5px;font-size:9px;border-right:1px solid #a5a5a5}
.aoav_soi-graph-yvalue-div.aoav_soi-graph-yvalue-ie8{border-right:2px solid #a5a5a5}
.aoav_soi-graph-yvalue-bottom-div{width:54px;height:23px;clear:left;border-top:1px solid #ddd;border-right:1px solid #a5a5a5}
.aoav_soi-graph-yvalue-bottom-div.aoav_soi-graph-yvalue-ie8{width:53px}