.cpm-summary-info{zoom:1;clear:both;overflow:hidden;padding:0 1%;border-bottom:1px solid #ededed;word-wrap:break-word}
.cpm-summary-label{width:30%;float:left;display:inline-block;margin-right:1%}
.cpm-summary-detail{width:68%;float:left;display:inline-block}
.cpm-reference-link-img{height:1.5em;padding:2px;float:right;margin-right:10%}
.cpm-reference-link-img:hover{cursor:pointer}
.cpm-link:hover{cursor:pointer}
.cpm-tab{border:2px solid #ddd;border-top:1px solid #ddd;overflow-y:auto}
.cpm-not-visited{font-weight:bold}
.cpm-link-only{color:#a0a0a0}
.cpm-folder-div{border:1px solid #BBB;width:95%;height:250px;margin:10px;overflow-y:auto}
.cpm-name-label{width:90%;float:left;padding-left:30px}
.cpm-modal-reference-link-img{height:1.5em;padding:2px;float:right;margin-right:10px}
.cpm-search-box{zoom:1;background-image:url(../images/magnifying-glass.gif);background-repeat:no-repeat;width:91%;font-size:.85em;margin:10px;padding-left:20px}
.cpm-search-box-div{zoom:1;border-bottom:2px solid #959fa7}
.cpm-folder-tgl{background:url(../images/icons.gif) -65px -16px;background-repeat:no-repeat;width:15px;height:14px;display:inline-block;cursor:pointer;margin-left:4px}
.closed .cpm-folder-tgl{background:url(../images/icons.gif) -48px -16px;background-repeat:no-repeat;width:15px;height:14px;display:inline-block;cursor:pointer;margin-left:4px}
.cpm-type-name{margin-left:6px;border:0}
.cpm-type-div{color:#3e3e3e;background:#cddcee;width:100%}
.cpm-add-link{text-decoration:underline;cursor:pointer}
.cpm-sub-folder{clear:left}
.cpm-folder-content{border:0}
.closed .cpm-folder-content{display:none}
.cpm-search-hidden-div{display:none}
.cpm-summary-container .links-cpm-reference-link-img{float:right}
.cpm-summary-table-label-col{width:90%}
.cpm-summary-table-url-col{width:10%}
.cpm-summary-table .result-info{border-top:1px solid #ddd}
.cpm-summary-table .result-info:first-child{border-top:0}
.cpm-summary-entry-label{display:inline-block;cursor:pointer}
.cpm-tab-loading-cont{height:100px}
.cpm-search-result-folder-ico{display:inline-block;width:24px;height:24px;background:url(../../images/10709.ico) no-repeat transparent}
.cpm-search-result-text{margin-left:4px}
.cpm-tab-menu{position:absolute;right:1px;width:60px;height:30px;margin-top:-3px;background:url(../images/pageMenuTab_open.png) no-repeat bottom}
.cpm .sec-title{font-size:14px}
.cpm .section{margin-bottom:10px}
.cpm-summary.card-area{width:100%;position:relative}
.cpmo1-card-wrapper{display:inline-block;width:33.33%;padding:4px;box-sizing:border-box;vertical-align:top}
.cpm-summary .card{display:inline-block;width:100%;border:1px solid #bdbdbd;box-shadow:4px 4px 4px #ccc;position:relative;border-radius:5px;vertical-align:top;overflow:hidden;box-sizing:border-box}
.cpm-summary .card-header{width:100%;display:table;border-bottom:1px solid #bdbdbd;background-color:#f6f6f6;table-layout:fixed}
.cpm-summary .card-title,.cpm-summary .card-begin-link{font-size:11pt;background-color:#f6f6f6;padding:4px;width:auto;display:table-cell}
.cpm-summary .card-title{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;box-sizing:border-box}
.cpm-summary .card-begin-link{cursor:pointer;text-align:center;border-left:1px solid #bdbdbd;overflow:hidden;box-sizing:border-box;text-overflow:ellipsis;white-space:nowrap;width:70px}
.cpm-summary .card-content-area{padding:4px}
.cpm-summary .reason-included{margin:6px 0 0 6px;color:#505050}
.cpm-summary .reasons{margin:6px 0 6px 0}
.cpm-summary .category{color:#505050;margin-left:12px;display:inline-block;vertical-align:middle}
.cpm-summary .result{overflow:hidden;word-break:break-all;display:inline-block;margin-left:4px;vertical-align:middle}
h2.cpm.sec-hd{background:0;border:0}
.cpm-summary.sec-content{position:relative;height:100%}
.cpm-summary .search-container{width:600px}
.cpm-summary .search-area{margin:6px 0 4px 16px}
.cpm-summary .search-text{margin-right:16px;vertical-align:middle}
.cpm-summary .search-box{height:16px;width:503px}
.cpm-summary .cpm-list{position:relative;margin:14px 0 0 16px;width:582px;border:1px solid grey;overflow-y:auto;height:260px}
li.cpm-search-result-entry{cursor:pointer;font-family:Tahoma;font-size:12px;box-sizing:border-box;padding:4px}
li.cpm-search-result-entry:hover{background-color:#d6e1ee}
li.cpm-search-result-entry.selected{background-color:#568ecb;color:#FFF}
.cpm-summary .button-container{width:600px;position:relative;height:60px;text-align:right}
.cpm-summary .button{background:-webkit-linear-gradient(#fcfcfc,#e3e3e3);background:-moz-linear-gradient(#fcfcfc,#e3e3e3);background:linear-gradient(#fcfcfc,#e3e3e3);height:33px;width:90px;margin:12px 0 0 4px;border-radius:3px}
.cpm-summary .button:hover{background:-webkit-linear-gradient(#e9f1f8,#b8cfe8);background:-moz-linear-gradient(#e9f1f8,#b8cfe8);background:linear-gradient(#e9f1f8,#b8cfe8)}
.cpm .sec-title{font-size:14px;font-family:tahoma;font-weight:bold;width:100%;overflow:hidden;text-align:left;line-height:1.2em}
.cpm .header-separator{vertical-align:middle;display:inline-block;width:100%;border-bottom:1px solid #d5dfef;margin:0 -100% 0 10px}
.cpm-tab-container hr{margin-top:-12px;display:block;border-top:1px solid #e1e1e1;border-bottom:1px solid #BBB}
.cpm-tabs{overflow:hidden;margin-bottom:10px}
.cpm-tabs>ul{list-style:none;padding-left:15px}
.cpm-tabs>ul>li{color:#797979;display:block;float:left;margin-right:3px;cursor:pointer}
.cpm-tabs>ul>li>span{height:27px;line-height:32px}
.cpm-tabs .cpm-tab-text{padding:0 10px 0 10px;float:left;background:url(../images/tab2_inactive_center.png)}
.cpm-tabs .cpm-tab-left-edge{display:block;float:left;background:url(../images/tab2_inactive_left.png) no-repeat}
.cpm-tabs .cpm-tab-right-edge{display:block;float:right;background:url(../images/tab2_inactive_right.png) no-repeat;width:6px}
.cpm-tabs .cpm-tab-active-header{color:#505050;display:block;float:left;margin-right:3px}
.cpm-tabs .cpm-tab-active-header>span{height:27px;line-height:28px}
.cpm-tabs .cpm-tab-active-header>.cpm-tab-text{padding:0 10px;float:left;background:url(../images/tab2_active_center.png)}
.cpm-tabs .cpm-tab-active-header>.cpm-tab-left-edge{display:block;float:left;background:url(../images/tab2_active_left.png) no-repeat}
.cpm-tabs .cpm-tab-active-header>.cpm-tab-right-edge{display:block;float:right;background:url(../images/tab2_active_right.png) no-repeat;width:6px}