.so-main{height:100%;width:100%}
.so-content-container{display:inline-block;width:49%;vertical-align:top;overflow:hidden;border-top:1px solid #b9b9b9;border-right:1px solid #b9b9b9;border-left:1px solid #b9b9b9}
.so-content-header{width:100%;background:#f6f6f6;padding:10px;box-sizing:border-box;border-bottom:1px solid #b9b9b9;height:75px}
.so-search{width:70%;display:inline-block;vertical-align:top}
.so-surgeon-fav-label{display:inline-block;font-size:14px;color:#505050;margin-right:8px;white-space:nowrap}
.so-surgeon-fav-label div{display:inline-block}
.so-surgeon-fav-btn{background:url(../images/3961_16.png) no-repeat;height:16px;width:16px;display:inline-block;margin-right:5px}
.so-order-result-label{background:#ececec;border-bottom:1px solid #b9b9b9;padding-left:10px}
.so-surgeon-list{width:28%;display:inline-block;vertical-align:top}
.so-order-tabs{width:75%;vertical-align:baseline;margin-top:10px;cursor:pointer;display:inline-block}
.so-content-body{width:100%;overflow-y:auto;max-height:340px}
.so-order-results{width:100%}
.so-order-favs-proc{width:100%}
.so-order-favs-pp{width:100%}
.so-tab-div{width:49%;display:inline-block}
.so-tab{cursor:pointer;padding:4px 10px;border:1px solid transparent;border-color:#666;display:inline-block;vertical-align:middle;font-weight:normal;white-space:nowrap;margin:0;line-height:1;background-color:#efefef;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e1e1e1));background:-moz-linear-gradient(#fff,#e1e1e1);background:linear-gradient(#fff,#e1e1e1);box-shadow:0 0 0 1px #fff inset;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.so-tab:hover{background-color:#e4e4e4;background:-webkit-gradient(linear,left top,left bottom,from(#f2f2f2),to(#d5d5d5));background:-moz-linear-gradient(#f2f2f2,#d5d5d5);background:linear-gradient(#f2f2f2,#d5d5d5)}
.so-proc-tab{border-left-width:1px;border-bottom-left-radius:4px;border-top-left-radius:4px;box-shadow:none}
.so-pp-tab{border-bottom-right-radius:3px;border-top-right-radius:3px;border-right-color:#666}
.so-active-tab:first-child{outline:0;color:#FFF;box-shadow:none;background-color:#354e65;background:-webkit-gradient(linear,left top,left bottom,from(#55656d),to(#62727b));background:-moz-linear-gradient(#55656d,#62727b);background:linear-gradient(#55656d,#62727b);border-right-color:#354e65;font-weight:bold}
.so-order-row{border-bottom:1px solid #cdcdcd;height:25px;padding:6px 0 0 6px}
.so-order-row:hover{background-color:#f5f8fc}
.so-order-results .so-order-row:hover .so-fav{display:inline-block}
.so-order-results .so-order-row .so-fav{display:none}
.so-order{display:inline-block;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis;width:60%}
.so-buttons{display:inline-block;float:right;margin-right:10px}
.so-buttons button:active{background:#DDD;color:#000}
.so-buttons button:hover{color:#000;background:#e9e9e9}
.so-order-button{float:right;vertical-align:top;display:inline-block;font-weight:bold;white-space:nowrap;word-wrap:normal;text-align:center;padding:2px 12px;border-radius:2px;line-height:1.2em;font-size:12px;background:#fff}
.so-fav{width:16px;height:16px;margin-right:10px;cursor:pointer;display:inline-block}
.so-fav-disable{background:url(../images/3961_disabled.gif) no-repeat}
.so-fav-active{background:url(../images/3961_16.png) no-repeat}
.so-orders-container{display:inline-block;width:49%;overflow-y:auto;vertical-align:top;margin-left:1%;border-top:1px solid #b9b9b9;border-left:1px solid #b9b9b9;border-right:1px solid #b9b9b9;max-height:415px}
.so-proc-container{width:100%}
.so-surg-cont-headers{border-bottom:1px solid #dedede;height:20px;padding:3px 0 3px 10px;background:#ececec;font-size:12px;color:#3d3d3d;font-family:Tahoma,Geneva,sans-serif}
.so-surg-cont-headers div{width:98%;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis}
.so-pp-container{width:100%}
.so-proc-row{min-height:92px;padding:10px 10px 5px 10px;background:#fff;border-bottom:1px solid #d3d6db;white-space:nowrap;word-wrap:normal}
.so-proc-block1{display:inline-block;width:90%}
.so-proc-block2{display:inline-block;vertical-align:top;float:right}
.so-proc-primary-btn{cursor:pointer;padding:4px 10px;border:1px solid transparent;border-color:#666;display:inline-block;vertical-align:middle;font-weight:normal;white-space:nowrap;margin:0;line-height:1;background-color:#efefef;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e1e1e1));background:-moz-linear-gradient(#fff,#e1e1e1);background:linear-gradient(#fff,#e1e1e1);box-shadow:0 0 0 1px #fff inset;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border-radius:3px;width:90px}
.so-proc-primary-btn:hover{background-color:#e4e4e4;background:-webkit-gradient(linear,left top,left bottom,from(#f2f2f2),to(#d5d5d5));background:-moz-linear-gradient(#f2f2f2,#d5d5d5);background:linear-gradient(#f2f2f2,#d5d5d5)}
.so-proc-primary-btn-active:hover{outline:0;color:#FFF;box-shadow:none;background-color:#354e65;background:-webkit-gradient(linear,left top,left bottom,from(#55656d),to(#62727b));background:-moz-linear-gradient(#55656d,#62727b);background:linear-gradient(#55656d,#62727b);border-right-color:#354e65}
.so-proc-primary-btn-active{outline:0;color:#FFF;box-shadow:none;background-color:#354e65;background:-webkit-gradient(linear,left top,left bottom,from(#55656d),to(#62727b));background:-moz-linear-gradient(#55656d,#62727b);background:linear-gradient(#55656d,#62727b);border-right-color:#354e65}
.so-order-name{display:inline-block}
.so-order-name-btn{padding-bottom:15px;border-bottom:1px solid #ddd;margin-bottom:8px}
.so-proc-comment{display:inline-block;width:45%;float:right}
.so-proc-modifier{display:inline-block;vertical-align:top;width:45%;padding-bottom:6px}
.so-modifierDropdown .so-mod-hidden,.so-modifier-hide{display:none}
.so-modifier-show{display:block}
.so-proc-modifier-sec{position:relative}
.so-surgeon-list select:hover{box-shadow:0 0 1px #888;cursor:pointer}
.so-surgeon-list select{margin-bottom:0;height:22px;width:98%;float:right}
.so-proc-modifier .search-input{width:99%;height:20px;border-radius:2px;border:1px solid #568ecb;padding-left:3px}
.so-modifier-highlight{font-weight:bold}
.so-modifierDropdown{background:#FFF;position:absolute;max-height:100px;width:250px;overflow-y:auto;overflow-x:hidden;border:1px solid #e9eaed;border-radius:3px}
.so-modifier-item:hover{background:#568ecb;cursor:pointer;color:#fff}
.so-modifier-name{display:inline-block;width:60%;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis}
.so-addModifierLink{color:#568ecb;cursor:pointer;margin-left:10px}
.so-proc-comment-text{color:#a7a7a7;background:#fff;float:right;width:100%;height:33px;resize:none;overflow:auto}
.so-orders-sec{white-space:nowrap;word-wrap:normal}
.so-proc-comment-active{color:#000;border:1px solid #568ecb}
.so-order-remove-btn{background:url("../images/6457_up_16.png") no-repeat;height:16px;width:16px;vertical-align:bottom;float:right;visibility:hidden;display:inline-block;margin:0 0 0 5px}
.so-order-remove-btn:hover{background:url("../images/6457_over_16.png") no-repeat;cursor:pointer}
.so-proc-row:hover .so-order-remove-btn,.so-pp-row:hover .so-order-remove-btn{visibility:visible}
.so-pp-name{display:inline-block;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis;width:80%}
.so-pp-row{padding:7px;border-bottom:1px solid #cdcdcd}
.so-pp-row:hover{background:#f5f8fc}
.so-surg-no-result{padding:7px 0 7px 20px;font-family:Tahoma,Geneva,sans-serif;font-size:12px;color:#797979;border-bottom:1px solid #d3d6db}
.so-proc .so-order{margin-left:25px}
.so-proc-row:hover{background:#f5f8fc}
.so-modifier-item{padding-left:5px;width:98%;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis}
.so-modifier-selected{height:20px;padding:2px 0 4px 15px;border:1px solid #ccc}
.so-modifier-remove-btn{background:url("../images/6457_up_16.png") no-repeat;height:16px;width:16px;vertical-align:bottom;float:right;display:none;margin:3px 4px 0 0}
.so-modifier-selected:hover{background:#eff3fa;box-shadow:0 0 4px #ccc}
.so-modifier-selected:hover .so-modifier-remove-btn{display:inline-block}
.so-modifier-remove-btn:hover{background:url("../images/6457_over_16.png") no-repeat;cursor:pointer}
.so-order-details{margin-top:30px}
.so-surg-details-hdr{margin-bottom:10px}
.so-surg-details-secs{border:1px solid #d8d7d7;padding:10px;border-radius:3px}
.so-surg-details{margin-bottom:15px}
.so-date-text-box{display:inline-block;margin-right:20px}
.so-reset-calendar{background:url(../images/3686_16.png) no-repeat;height:16px;width:16px;display:inline-block;box-shadow:0 0 5px #000;margin-right:30px;cursor:pointer}
.so-surg-details-doc input[type="text"]{width:40%}
.so-details-comment-not-active{color:#a7a7a7}
.so-details-comment-active{border:2px #a1c0e9 solid;color:#000}
.so-surg-details-pick,.so-surg-details-cal,.so-surg-details-block{display:inline-block;margin-right:20px}
.so-surg-details-cal{white-space:nowrap;word-wrap:normal}
.so-date-text-box input{width:75px}
.so-surg-details-sec2 label{margin-left:7px}
.so-deleted-orders-items{clear:both}
.so-deleted-orders-title{height:20px;line-height:20px;font-size:12px;cursor:pointer;color:#000;border-bottom:1px solid #000;box-sizing:border-box}
.so-deleted-item .so-deleted-orders-list{padding:5px;padding-left:15px;background:#fff;font-size:12px}
.ss-receipt{font-family:Tahoma,Geneva,sans-serif;width:380px;height:440px;background:#ececec;border-radius:7px;border:1px solid #ccc;box-shadow:0 0 10px 0 #b4b4b4;padding:10px}
.ss-receipt-header{white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis;width:95%;height:47px}
.ss-receipt-row-hdr{border-bottom:1px solid #CCC;background:#ececec;height:23px;padding:3px 10px 0 10px;width:95%;overflow:hidden;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis}
.ss-receipt-row-hdr .name{color:#505050}
.ss-receipt-row-hdr .position{color:#797979}
.ss-receipt-header-date{display:inline-block;font-size:16px;max-width:70%;color:#505050;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis}
.ss-receipt-header-time{display:inline-block;vertical-align:top;font-size:16px;color:#797979;margin-left:15px;max-width:25%;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis}
.ss-receipt-header-location{width:95%;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis}
.ss-receipt-inner{border:1px solid #a0a0a0;background:#fafafa;height:355px;overflow-x:hidden;overflow-y:auto}
.ss-receipt-row-proc{border-bottom:1px solid #CCC;background:#fff;padding:7px 10px 4px 10px}
.ss-receipt-row-proc-name{font-weight:bold;margin-bottom:6px}
.ss-receipt-row-proc-name .label{display:inline-block;color:#3d3d3d}
.ss-receipt-primary-label{display:inline-block;float:right;background:#717171;color:#fff;border-radius:2px;padding:0 8px 2px 8px}
.ss-receipt-row-proc-field .label{color:#7c7c7c;padding:0 5px 0 0;display:inline-block;width:25%;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis}
.ss-receipt-row-proc-field .label span{float:right}
.ss-receipt-row-proc-field .item{display:inline-block;vertical-align:top;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis;width:70%;margin-bottom:4px}
.ss-receipt-row-proc-field .modifier-Item{display:inline-block}
.ss-receipt-row-details{background:#fafafa;padding:7px 10px 7px 10px}
.ss-receipt-row-detail-anesthesiologist .item{color:#505050}
.ss-receipt-row-detail-powerPlan .power-Plan-Blck{display:inline-block;vertical-align:top;width:70%}
.ss-receipt-row-detail-powerPlan .item{display:block;width:98%}
.ss-receipt-row-detail-powerPlan .icon{background:url("../images/6404_16.png") no-repeat;width:16px;height:16px;display:inline-block;margin:0 3px 0 0}
.ss-receipt-footer{height:30px;padding-top:10px}
.ss-receipt-footer-btn{float:right;min-width:70px;padding:4px 10px;background:#f4f4f4;border:1px solid #a0a0a0}
.ss-receipt-footer-btn-hover:hover{cursor:pointer;background:#e4e4e4}
.ss-receipt-verify-warning-body{background:url("../images/4017_24.png") no-repeat;margin:10px;min-height:30px;padding-left:40px}
.ss-receipt-footer-btn-div{display:inline-block;float:right;margin-left:2px}
.ss-receipt-footer-status{display:inline-block;vertical-align:top;padding-top:4px;width:60%;text-overflow:ellipsis;word-wrap:normal;white-space:nowrap;overflow:hidden}
.ss-receipt-proc-cancel-strike{text-decoration:line-through}
.ss-receipt-proc-cancel{color:#7c7c7c}
.slwf-search-loc .arrow-down{background:url("../images/5322_down_hover.png") no-repeat}
.slwf-error-msg{background-color:#fbdbdd}
.slwf-search-loc .arrow-up{background:url("../images/5322_up_dark.png") no-repeat}
.slwf-search-loc .arrow{display:inline-block;vertical-align:bottom;height:5px;width:8px;margin:8px 8px 0 0;float:right}
.slwf-search-loc .text{width:80%;display:inline-block;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis}
.sswf-content,.slwf-content{margin-top:10px}
.sswf-comm-dropdown{padding-bottom:7px}
.sswf-comm-dropdown select{white-space:nowrap;word-wrap:normal;text-overflow:ellipsis}
.sswf-comm-dropdown option{background:#FFF}
.sswf-comm-label,.sswf-comm-select-sec{display:inline-block}
.sswf-comm-label{width:29%;padding-left:13px}
.slwf-loc-required span{color:#f00}
.slwf-loc-required{margin:5px 5px 8px 0;display:inline-block;vertical-align:top;color:#7e7e7e}
.slwf-search-loc:hover{box-shadow:0 0 5px #888}
.slwf-dropdown{width:40%;margin-left:3px;display:inline-block}
.slwf-dropdown-fac-item{font-size:12px;color:#505050;padding:2px 0 2px 6px;zoom:1;overflow:hidden;font-weight:bold}
.slwf-dropdown-loc-item div{padding:3px 0 3px 16px}
.slwf-dropdown-loc-item:hover{background:#f5f8fc;cursor:pointer}
.slwf-selected-loc div:first-child{background:#3a78bb;color:#fff}
.slwf-dropdown-list{border:1px solid #DDD;box-shadow:0 0 5px #888}
.slwf-search-loc{width:98%;height:25px;border-radius:3px;border:1px solid #a1c0e9;font-size:12px;padding:5px 0 0 14px;color:#3d3d3d;cursor:pointer}
.slwf-dropdown-list{display:none}
.slwf-dropdown-show .slwf-dropdown-list{display:block}
.sswf-row-surg-name{padding-bottom:4px;padding-top:4px;padding-left:10px}
.sswf-row-surg-name:hover{cursor:text;border:1px solid #ccc;border-radius:3px}
.sswf-row-surg-name-active{background:#eaf4ff}
.sswf-container{width:45%;display:inline-block;margin-right:2%;vertical-align:top;margin-bottom:20px}
.sswf-search-box{display:inline-block;width:60%;margin:2px;vertical-align:top}
.sswf-select-surg{display:inline-block;margin:2px;width:30%;border-top:1px solid #fff;border-right:1px solid #fff;border-left:1px solid #fff}
.sswf-selected-type-first-text span:first-child,.sswf-comm-label span:first-child{color:#F00}
.sswf-select-surg span,.sswf-comm-label span{color:#7e7e7e}
.sswf-row{font-size:110%;border-top:solid 1px #d0d0d0}
.sswf-row:hover .sswf-row-remove{display:inline-block}
.sswf-addSurgBtn{font-size:110%;padding-right:2px;display:inline-block;border-top:solid 1px #d0d0d0;width:100%}
.sswf-row-remove{display:none;background:url("../images/6457_up_16.png") no-repeat;height:16px;width:16px;margin:6px 4px 0 0;vertical-align:bottom;float:right}
.sswf-row-remove:hover{background:url("../images/6457_over_16.png") no-repeat;cursor:pointer}
.sswf-staff-header{background:url(../images/tab1_inactive_center.png) repeat center;font-size:120%;height:25px;padding:5px 0 0 10px;color:#686868;border-radius:8px 8px 0 0}
.sswf-staff-header-text{display:inline-block;width:90%;padding-bottom:1%}
.sswf-staff-header-remove{display:inline-block;float:right;padding-left:2px;background:url("../images/6457_up_16.png") no-repeat;height:20px;width:20px;margin-top:3px;vertical-align:bottom}
.sswf-staff-header-remove:hover{background:url("../images/6457_over_16.png") no-repeat;cursor:pointer}
.sswf-addSurgBtnHref{display:block;width:17%;color:#989898;text-decoration:none;cursor:default;padding:8px 0 10px 10px}
.sswf-addSurg-active span{color:#568ecb;cursor:pointer}
.sswf-staff .search-box-div{border-bottom:0;width:95%;display:inline-block;position:relative}
.sswf-staff{border:solid #ccc 2px;border-radius:5px}
.sswf-selected-type{cursor:pointer;padding-bottom:4px;padding-top:4px;padding-left:10px}
.sswf-selected-type-border{background:#fff;border-top:1px solid #0198e1;border-right:1px solid #0198e1;border-left:1px solid #0198e1}
.sswf-selected-type-hover{padding:4px 10px 4px 10px}
.sswf-fancy-dropDown{margin-left:-1px;background:#f0f8ff;position:absolute;border-bottom:1px solid #0198e1;border-right:1px solid #0198e1;border-left:1px solid #0198e1;padding:0 1px 0 1px}
.sswf-selected-type-hover:hover{background:#a4d3ee;cursor:pointer;margin-left:-1px}
.sswf-selected-type-up-arrow{background:url("../images/5322_up_dark.png") no-repeat;display:inline-block;vertical-align:bottom;height:5px;width:8px;margin:8px 8px 0 0;float:right}
.sswf-selected-type-down-arrow{background:url("../images/5322_down_hover.png") no-repeat;display:inline-block;vertical-align:bottom;height:5px;width:8px;margin:8px 8px 0 0;float:right}
.sswf-addSurgBtn span{white-space:nowrap;word-wrap:normal}
.sswf-component{min-width:800px}
.sswf-selected-type-text{width:80%;display:inline-block;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis}
.sswf-selected-type-first-text{width:95%;display:inline-block;white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis}
.sswf-container:first-child .sswf-staff-header-remove{display:none}
.sswf-required-field{background-color:#ffffa0}
.slwf-selected-loc{font-weight:bold}
.surg-viewpoint-left,.surg-viewpoint-right,.surg-viewpoint-arrow,.surg-viewpoint-tail{display:inline-block}
.surgery-tabs{height:100%;width:100%}
.surgery-tabs .sec-hd{margin-bottom:10px;padding-bottom:4px;padding-top:10px;background:url(../images/header_line.png) repeat-x left bottom;border:0;line-height:18px}
.surgery-tabs .sec-hd a{font-weight:normal;color:#000}
.surgery-tabs .sec-title{line-height:18px;font-size:18px;font-family:Lucida Sans,Lucida Grande;color:#2e363b;background:0;padding:0 0 0 8px;font-weight:normal;width:35%;margin-right:0}
.surgery-tabs .comp-title{word-wrap:break-word;max-width:75%}
.surgery-tabs .add-icon{margin:2px 2px 0 10px}
.surgery-header{margin:5px 0 5px 0}
.surg-viewpoint-center{display:inline-block;color:#FFF;font-weight:bold;text-align:center;width:100px}
.surg-viewpoint-tab-container{display:inline-block;cursor:pointer}
.surg-viewpoint-controls{width:100%;padding:10px 0 0 0;white-space:nowrap;word-wrap:normal}
.surg-viewpoint-active .surg-viewpoint-left{background:url("../images/Sprites/wizard_sprite.png") 150px 0;width:8px;height:28px}
.surg-viewpoint-active .surg-viewpoint-center{background:#88c756;height:28px;vertical-align:top}
.surg-viewpoint-active .surg-viewpoint-right{background:url("../images/Sprites/wizard_sprite.png") 26px 0;width:9px;height:28px}
.surg-viewpoint-active .surg-viewpoint-arrow{background:url("../images/Sprites/wizard_sprite.png") 74px 0;height:28px;width:15px}
.surg-viewpoint-active .surg-viewpoint-tail{background:url("../images/Sprites/wizard_sprite.png") 121px 0;width:14px;height:28px}
.surg-viewpoint-inactive .surg-viewpoint-left{background:url("../images/Sprites/wizard_sprite.png") 138px 0;width:9px;height:28px}
.surg-viewpoint-inactive .surg-viewpoint-center{background:#b5b9bd;height:28px;vertical-align:top}
.surg-viewpoint-inactive .surg-viewpoint-right{background:url("../images/Sprites/wizard_sprite.png") 8px 0;width:8px;height:28px}
.surg-viewpoint-inactive .surg-viewpoint-arrow{background:url("../images/Sprites/wizard_sprite.png") 41px 0;height:28px;width:15px}
.surg-viewpoint-inactive .surg-viewpoint-tail{background:url("../images/Sprites/wizard_sprite.png") 90px 0;width:14px;height:28px}
.surg-viewpoint-current .surg-viewpoint-left{background:url("../images/Sprites/wizard_sprite.png") 141px 0;width:9px;height:28px}
.surg-viewpoint-current .surg-viewpoint-center{background:url("../images/Sprites/wizard_sprite.png") repeat-x 0 -28px;height:28px;vertical-align:top;text-shadow:0 -1px 0 #000}
.surg-viewpoint-current .surg-viewpoint-right{background:url("../images/Sprites/wizard_sprite.png") 17px 0;width:9px;height:28px}
.surg-viewpoint-current .surg-viewpoint-arrow{background:url("../images/Sprites/wizard_sprite.png") 58px 0;height:28px;width:15px}
.surg-viewpoint-current .surg-viewpoint-tail{background:url("../images/Sprites/wizard_sprite.png") 105px 0;width:14px;height:28px}
.surgery-scratchpad-body{position:absolute;width:300px;z-index:100;border:2px solid #b6c9db;background-color:white;left:-245px}
.surgery-util-container div{float:none}
.surgery-scratchpad-rows{margin:6px 0 6px 15px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;word-wrap:normal}
.surgery-scratchpad-rows span{vertical-align:top;margin-left:5px}
.surgery-scratchpad-body div:hover{cursor:default}
.surgery-scratchpad-header{background:#b6c9db;font-weight:600;font-size:larger;padding:5px 0 5px 10px}
.surgery-scratchpad-footer{text-align:right;border-top:1px solid #bdbdbd;background-color:#f0f1f2}
.surgery-scratchpad-footer input{padding:5px 20px 5px 20px;margin:3px 10px 3px 0}
.surgery-pp-icon{background:url(../images/6404_16.png) no-repeat 0 0;width:17px;height:16px;display:inline-block}
.surgery-scratchpad-header-cnt{font-weight:normal}
.surgery-request-error-msg{background-color:#fbdbdd;border-left:2px solid #C00}
.surgery-request-alert-msg{background-color:#d7e6ff;border-left:2px solid #005fc8}
.surgery-request-alert-msg .error-text{color:#000}
.surgery-request-msg{font-size:12px;margin:5px 0 8px 0;float:none}
.surgery-request-msg span{padding-left:5px;vertical-align:top}
.surgery-request-alert-wrapper{padding:5px 0 0 5px}
.surgery-request-blue-cross-image{background-image:url("../images/6754_24.png");background-repeat:no-repeat;height:24px;width:24px;display:inline-block}
.sr-empty-content{padding-top:10%;overflow:hidden;height:100%;width:50%;display:inline-block;box-sizing:border-box}
.sr-nav-left{background:url(../images/arrow_left_off.jpg) no-repeat center;width:8px;height:14px;display:inline-block;cursor:pointer;margin:0 5px 0 0;zoom:1;vertical-align:middle}
.sr-nav-right{width:8px;background:url(../images/arrow_right_off.jpg) no-repeat center;height:14px;display:inline-block;cursor:pointer;margin:0 5px 0 5px;zoom:1;vertical-align:middle}
.sr-date-nav-bar{background-color:#cddcee;padding:0 6px;border-bottom:1px solid #adb4bc;width:99%}
.sr-nav-bar-items{display:inline-block;font-size:14px;color:#333;margin:10px 20px;padding:5px;cursor:pointer;zoom:1;font-weight:bold}
.sr-nav-bar-items.sr-selected{padding:5px 7px 7px;border-radius:5px;background-color:#004d6e;color:#FFF}
.sr-date-nav-bar ol{display:inline-block;white-space:nowrap;overflow:hidden;width:93%;zoom:1;vertical-align:middle;word-wrap:normal}
.sr-receipts-pane{padding:0 5px;white-space:nowrap;width:99%;overflow:hidden;border:1px #ccc solid;margin-top:0}
.sr-receipts-pane .ss-receipt{display:inline-block;margin:20px 10px}
.surgery-request-content{background:#f3f6fb;height:560px}
.sr-empty-receipt{background:url(../images/noData_glyph_184.png) no-repeat;height:184px;width:184px;margin:0 auto}
.sr-add-receipt{color:#568ecb;cursor:pointer}
.sr-no-receipt{color:#7e7e7e}
.sr-empty-receipt-msg{text-align:center;margin-top:30px}
.sr-receipts-pane .sr-selected{border:3px solid #004d6e}
.sr-nav-prev-year,.sr-nav-next-year{display:inline-block;color:#adb4bc}
.sr-nav-bar{height:50px;display:inline-block;background:#adb4bc;width:1px;vertical-align:bottom;margin:0 5px 0 5px}
.sr-cancel-status{color:#C00}
.sr-overlay-div{position:absolute;top:0;left:0;width:100%;height:100%;background-color:white;opacity:.5;z-index:5000}
.sr-img-spinner{background:url("../images/6439_32.gif");position:absolute;height:30px;width:30px;left:50%;top:50%}
.sr-favorites-left-column{overflow:hidden;height:100%;width:50%;display:inline-block;vertical-align:top}
.sr-fav-search-bar{height:50px;width:100%;background:#f6f7f8;padding:10px;box-sizing:border-box;background-color:#cddcee;margin-bottom:2px;border-right:1px solid #ccc}
.sr-search-input-wrapper{width:100%;box-sizing:border-box}
.sr-search-input{background:url(../images/6428_16.png) left center no-repeat;padding:5px;border:1px solid #ccc;border-radius:5px;padding-left:20px;width:100%;box-sizing:border-box;padding-right:40px;background-color:white}
.sr-favorites-content{height:508px;width:100%;display:block;border:1px solid #ccc;overflow:auto;background:#FFF;box-sizing:border-box}
.sr-fav-row{border-bottom:1px solid #e9eaed;height:25px;padding-top:6px}
.sr-fav-row:hover{background:#d7e4f1}
.sr-favorite-row-text{display:inline-block;white-space:nowrap;word-wrap:normal;overflow:hidden;margin-left:25px;max-width:70%;text-overflow:ellipsis}
.sr-favorites-open-button{float:right;vertical-align:top;display:inline-block;font-weight:bold;white-space:nowrap;word-wrap:normal;text-align:center;padding:2px 12px;border-radius:2px;line-height:15px;font-size:12px;background:#fff;cursor:pointer}
.sr-receipts-right-column{overflow:hidden;height:100%;width:50%;display:inline-block}
.sr-receipts-pane{border-left:0}
.sr-date-nav-bar{border-bottom:0;margin-bottom:2px}
.sr-column-width-toggle{width:100%}
.ss-dialog-saveasfav{position:relative;width:100%;height:100%}
.ss-dialog-saveasfav-form{padding-top:15px}
.ss-dialog-saveasfav-input{padding:5px;width:80%;background-color:#ffffa0}
.ss-dialog-saveasfav-warning{display:none;width:100%;box-sizing:border-box;line-height:initial}
.ss-dialog-saveasfav-warning-checkbox{padding-top:10px;padding-bottom:10px}
.surgery-required{color:#F00}
.surgery-request-warning-message{background-color:#feeab8;border-left:2px solid #fdb913}
.sr-remove-fav-button{position:absolute;margin:16px 0 0 8px;border:1px solid #000;background-color:#fff;padding:5px;right:0;white-space:nowrap}
.sr-remove-fav-button-same-line{margin:-5px 17px 0 0}
.sr-remove-fav-button-move-up{margin:-30px 0 0 0}
.sr-remove-fav-relative{position:relative;height:auto}
.ss-dialog-saveasfav-checkbox{margin-right:5px}
.sr-favorites-remove{width:16px;height:16px;margin-right:10px;cursor:pointer;display:inline-block;background:url(../images/3961_16.png) no-repeat}