.tal-datatable{width:100%;border:0;table-layout:fixed}
.tal-datatable td{width:50%;padding-left:5px;padding-right:5px;font-size:9px;font-weight:normal;text-align:left;word-wrap:normal;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.tal-datatable tr{border-bottom:1px solid #a7a7a7}
.tal-tableheader{width:100%;border:0}
.tal-tableheader th{width:50%;padding-left:5px;padding-right:5px;color:#6a737b;font-weight:bold}
.tal-linktext{color:#3380e5}
.tal-lookback{font-size:9px;font-weight:bold;padding-left:5px;padding-right:5px;text-align:left;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}
.brown .tal-tableheader th{background:none repeat scroll 0 0 #d8ccb8;color:#4c413e}
.cernerblue .tal-tableheader th{background:none repeat scroll 0 0 #cae7f8;color:#4c413e}
.darkgreen .tal-tableheader th{background:none repeat scroll 0 0 #dcebe0;color:#4c413e}
.green .tal-tableheader th{background:none repeat scroll 0 0 #f4f8f0;color:#4c413e}
.gray .tal-tableheader th{background:none repeat scroll 0 0 #dbdbdb;color:#0f0f0f}
.lightblue .tal-tableheader th{background:none repeat scroll 0 0 #ebf0f7;color:#4c413e}
.lightgray .tal-tableheader th{background:none repeat scroll 0 0 #dbdbdb;color:#0f0f0f}
.lowlight .tal-tableheader th{background:none repeat scroll 0 0 #d8ccb8;color:#4c413e}
.navy .tal-tableheader th{background:none repeat scroll 0 0 #c0d5dc;color:#4c413e}
.orange .tal-tableheader th{background:none repeat scroll 0 0 #ffe1cb;color:#4c413e}
.pink .tal-tableheader th{background:none repeat scroll 0 0 #ffeded;color:#4c413e}
.purple .tal-tableheader th{background:none repeat scroll 0 0 #f2ebf4;color:#4c413e}
.yellow .tal-tableheader th{background:none repeat scroll 0 0 #fef7d7;color:#4c413e}