.tri-det-name{width:40%;float:left;display:inline-block}
.tri-det-val{width:56%;float:left;display:inline-block}
#tri-fieldset{border:1px solid #c9dfe5;margin:2%}
.tri-hvr-header{margin-top:1%;font-weight:bold;margin-left:1%;border-bottom:1px solid #ededed;text-align:left;width:100%;clear:both}
.tri-legend{padding:.2em .8em;color:#6495ed;font-size:90%}
.tri-name{width:40%;float:left;display:inline-block;text-align:right;padding-right:1%}
.tri-result{zoom:1;clear:both;overflow:hidden;word-wrap:break-word}
.tri-val{float:left;display:inline-block;margin-left:1%;width:55%}