.vs-o1-name{width:40.9%}
.vs-o1-result{width:19%;text-align:center}
.vs-o1-prv-clmn{width:40%;text-align:center;border-left:1px solid #DDD}
.vs-o1-prev-result{width:19%;text-align:center;border-left:1px solid #DDD}
.vs-hdr-div{background:none repeat scroll 0 0 #f6f6f6;border:1px solid #DDD}
.vs-hdr-shifted{margin-right:16px}
.vs-o1-frst-clmn-hdr{width:19%;text-align:center}
.vs-hover{width:400px;float:left;display:inline-block;margin:2px 10px}
.vs-sec .result-info>dt{display:none}
.vs-sec .result-info>dd{padding:2px 1%}
.vs-hover dd{display:inline;float:left;overflow-x:hidden;clear:right}
.vs-hover dd span{margin-left:4px;clear:right}
.vs-hover dl{line-height:2em}
.vs-det-type{float:left}
.table-cell.vs-o1-name.mpage-tooltip-hover{background-color:transparent}