.vitals-wf-hover{background-color:#fffce0;margin:0;width:auto}
.result-variable:hover{text-decoration:underline;cursor:pointer}
.vitals-wf-hover-main{display:inline-block;float:left;width:250px}
.vitals-wf-hover-additional{display:inline-block;width:150px}
.vitals-wf-hover-additional>div{text-align:center;text-decoration:underline;font-weight:bold}
.vitals-wf-hover-additional dd{overflow:hidden;padding-left:10px;display:block;width:100%}
.vitals-wf-hover-additional>span{display:block}
.vitals-wf-hover-additional .res-ind,.vitals-wf-hover-additional .res-modified{vertical-align:middle;padding-bottom:4px}
.vitals-wf-hover-seperator{border-right:1px solid #666}
.vitals-wf-time-display{width:100%;display:block}
.WF_VS-sec .sec-content{position:relative}
.vitals-wf-amb-name{width:16%;padding-left:4px}
.vitals-wf-amb-name:hover{background-color:transparent}
.vitals-wf-amb-hdr-div{background:#f6f6f6;border:1px solid #DDD;border-bottom:0}
.vitals-wf-amb-result-clmn,.vitals-wf-amb-prv-clmn{width:12%;word-wrap:normal;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-left:4px}
.vitals-wf-amb-result-clmn.vitals-wf-amb-frst-clmn{border-width:0 1px 0 1px;border-style:solid;border-color:#DDD}
.vitals-wf-amb table{table-layout:fixed;-moz-box-sizing:border-box;box-sizing:border-box}
.vitals-wf-amb .header-item{padding-right:0}
.vitals-wf-amb .header-item.vitals-wf-amb-prv-clmn span{float:none}
.vitals-wf-amb .header-item.vitals-wf-amb-prv-clmn{text-align:center}
.vitals-wf-amb .res-high>.res-ind,.vitals-wf-amb .res-low>.res-ind,.vitals-wf-amb .res-abnormal>.res-ind,.vitals-wf-amb .res-severe>.res-ind{margin:0 .3em 2px 0;vertical-align:middle}
.vitals-wf-amb .vitals-wf-time-display{white-space:nowrap;text-overflow:ellipsis;width:100%;overflow:hidden;display:block;font-size:10px;color:#7a7a7a}
.vitals-wf-amb .hdr.shifted{margin-left:0}
.vitals-wf-selected-row-init{background-color:#bbc3cb}
.vitals-wf-selected-row{background-color:#568ecb;color:#FFF}
.vitals-wf-selected-row .vitals-wf-time-display,.vitals-wf-selected-row .vitals-wf-result-info,.vitals-wf-selected-row .result-variable,.flowsheet-table .vitals-wf-selected-row .fs-res-bracket,.vitals-wf-selected-row .fs-res-bracket span{color:#FFF}
.WF_VS-sec .fs-label-table .content-body tr,.vitals-wf-amb-name{cursor:pointer}
.vitals-wf-unknown-parent{background-color:#f6f6f6}
.vitals-wf-unknown-parent:hover{background-color:#fffce0}
.vitals-wf-result-unknown{display:inline-block;height:16px;width:16px;background:url("../images/5104_grayscale_16.png") no-repeat 0 0}
.vitals-wf-result-info{font-size:11px;color:#7a7a7a}
.vitals-wf-selected-row .mpage-tooltip-hover{background-color:#568ecb}
.WF_VS-sec .result-info{height:23px}
.WF_VS-sec .flowsheet-table.fs-results-table .table-cell{vertical-align:top}
.vitals-wf-comments-ind{display:inline-block;height:4px;width:4px;background:url("../images/comment_indicator.png") no-repeat;margin-left:4px;vertical-align:super}
.vitals-wf-label-name{width:70%}
.vitals-wf-label-uom{width:30%}
.vitals-wf-amb.vitals-wf-side-panel-addition,.flowsheet-container.vitals-wf-side-panel-addition{margin-right:660px;display:inline-block}
.vitals-wf-side-panel{right:0;top:8px;display:none;width:650px;padding-left:10px;position:absolute;-moz-box-sizing:border-box;box-sizing:border-box;float:right;min-height:220px}
.vitals-wf-side-panel-groupname{font-size:16px;padding:10px}
.vitals-wf-section-separator{height:23px;position:relative}
.vitals-wf-title-text{font-size:12px;color:#505050;background-color:#f6f6f6;padding-right:10px;position:absolute}
.vitals-wf-side-panel-result-item{padding-left:4px}
.vitals-wf-side-panel-result-list{padding-top:20px}
.vitals-wf-side-panel-result-list dd{display:inline-block;width:33%;padding:0 0 1px 10px;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:text-top}
.vitals-wf-side-panel-result-list .res-modified{padding-left:0;margin-left:4px}
.vitals-wf-section-separator .sp-separator{display:inline-block;width:100%;margin:9px 0}
.vitals-wf-side-panel-result-list .vitals-wf-bp-result-value{width:37%}
.vitals-wf-side-panel-result-list .vitals-wf-bp-result-date,.vitals-wf-side-panel-result-list .vitals-wf-result-name{width:34%}
.vitals-wf-side-panel-result-list .vitals-wf-bp-result-name{width:29%}
.vitals-wf-side-panel-result-list .vitals-wf-result-value{width:32%}
.vitals-close-panel{float:right}
.vitals-wf-amb.vitals-wf-side-panel-addition td:nth-child(n+6),.vitals-wf-amb.vitals-wf-side-panel-addition .hdr td:nth-child(n+6){display:none}
.hdr .vitals-wf-amb-col-4{visibility:hidden}
.vitals-wf-side-panel-addition .hdr .vitals-wf-amb-col-4{visibility:visible}
.vitals-wf-side-panel-addition .hdr .vitals-wf-amb-col-5{visibility:hidden}
@media screen and (max-width:1600px){.vitals-wf-amb.vitals-wf-side-panel-addition{margin-right:485px}
.vitals-wf-side-panel{width:475px}
}
@media screen and (max-width:1400px){.vitals-wf-amb.vitals-wf-side-panel-addition{margin-right:310px}
.vitals-wf-side-panel{width:300px}
}
.vitals-flex-text{font-size:14px}
.vitals-canvas-height{height:90px;background-position:center;margin:auto auto -10px auto}
.vitals-canvas-height .jqplot-event-canvas{border:1px solid #ddd}
.vitals-not-all-results,.vitals-no-graph-results{background-color:#d7e6ff;margin:auto 9px -10px 9px;padding:6px 0;border-left:2px solid #005fc8}
.vitals-warning-image{display:inline-block;height:16px;width:16px;vertical-align:bottom;background:url("../images/4015_16.gif") no-repeat 0 0;margin-left:8px;margin-right:8px}
.vitals-graph-tooltip{max-width:190px;word-wrap:normal;white-space:normal;font-size:12px}
.graph-date-left{float:left;margin-left:9px}
.graph-date-right{float:right;margin-right:9px}
.vitals-date-range{padding-bottom:20px;margin-top:3px;color:#7a7a7a;font-size:12px}
.hover-primary-data{color:#000;font-size:12px}
.hover-primary-data .vitals-wf-bp-result-value>.res-high,.hover-primary-data .vitals-wf-bp-result-value>.res-low,.hover-primary-data .vitals-wf-bp-result-value>.res-abnormal,.hover-primary-data .vitals-wf-bp-result-value>.res-severe{font-weight:bold}