.wm-info dt{display:none}
.wm-tbl-full{width:100%;table-layout:fixed}
.wm-tbl-full th,.wm-tbl-full td{padding:0 2px}
.wm-res-nm{padding-left:1%;width:34%}
.wm-res{width:22%;text-align:center}
.wm-res-chn{text-align:center;width:22%}
td.wm-res-chn{font-weight:bold}
.wm-latest{border-right:1px solid #ededed}
.wm-sec.closed .sec-content{display:none}
.wm-res .unit,.wm-res-chn .unit,.wm-det-chn .unit{padding-left:.2em}
.wm-res a,.wm-res a:link,{text-decoration:none;cursor:pointer}
.wm-res a:active,.wm-res a:hover{text-decoration:underline}