
/*************** GRAPHS */
#vs-graph {width:100%; height:80%; position:center}
#lab-graph {width:100%; height:80%; position:center}
.gr-title {font:bold 18px Tahoma; text-align:center; padding-bottom:10px; color:#8B4513}
.gr-close {float:right; font:bold 12px Tahoma; padding:3px; border:1px solid #505050; color:#505050; text-decoration:underline; background-color:#F5F5DC; cursor:pointer}
.gr-unit {color:#D2B48C; font: bold 14px}
#tooltip {position:absolute; background:#FFC; border:1px solid #E5EEFC; padding:5px; font:13px/1.5em Tahoma; z-index:1; white-space:nowrap}


/* ============== CSS RESET ============== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
    big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt,
    dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; vertical-align: baseline; }
/* remember to define focus styles! */
:focus { outline: 0; }
body { color: #000; background: #FFF; font: normal 13px/1.5em Tahoma; }
ol, ul { list-style: none;  text-align: left;}
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; font: normal 12px Tahoma;}
caption { text-align: left; font: normal 10px Tahoma;}
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
script { display: none; height: 0; width: 0; }
input { padding: 0; margin: 0; }
html { font-size: 100%; }
/*body { overflow: auto; }*/
/*body {WORD-BREAK:BREAK-ALL; } */

/* ============== COMMON STYLES ============== */
html { font: normal 12px Tahoma; }
body { text-align: left; font: normal 12px Tahoma;}
/*.wrap { cursor: default; padding: 1em; min-width: 980px; max-width: 1400px; margin: 0 auto; text-align: left; }*/
.wrap { cursor: default; padding: 1em; min-width: 980px; max-width: 1900px; margin: 0 auto; text-align: left; }
a, a span, a:active, a:link, a:link span, a:hover, a:hover span{ text-decoration: underline; cursor: pointer; color:#3380E5;}
a:visited a:visited span { background: none;}
a:focus, a:focus span {background: #E7FFCA; border: 1px dotted #505050;}
label { color: #8F8F8F; text-align: right;}
.activeNum{ color: #8F8F8F; font-size: 8px;}
hr { display: none; }
table { font-size: 100%; width: 100%; border-collapse: collapse!important; }
table td { border-bottom: 1px solid #E8EFF9; font: 13px/1.5em Tahoma; padding:0;}
table th{ font: 11px/1.2em Tahoma; color: #505050; padding:0; }
.date-time, .date-time span{ font: 11px Tahoma;}
caption { position: absolute; visibility: hidden; line-height: 0; font-size: 0; overflow: hidden; height: 0; }
.prev-next { background: #E8EFF9;  font: normal 11px/1.2em Tahoma; text-align:center; }
.prev-next li { display: inline; padding: 0 .5em; background: #E8EFF9;}
.prev-next li:first-child { border-width: 0; }
.severe, .severe th, .severe td, .severe dd, .severe dt, .critical, .critical th, .critical td, .critical dd { color: #E50D34; font-weight: bold; }
.resNormal, .resNormal th, .resNormal td, .resNormal dd, .resNormal dt {font: 13px Tahoma; text-align: left; }
.resHigh, .resHigh th, .resHigh td, .resHigh dd { color: #FF8013; font-weight: bold; }
.resLow, .resLow th, .resLow td, .resLow dd { color: #0054E7; font-weight: bold; }
.toggle{}
h3 { color: #505050; font: normal 11px/1.5em Tahoma; text-align: left; padding-left: 2px; padding-right: 0; border-bottom: 1px solid #ADCC92; border-top: 1px solid #ADCC92;} 
.handheld_only{ display:none; }
.show-hide {  text-decoration: underline; cursor: pointer; color:#3380E5; padding-left: 2px;}
.sec-item {}
/* html .sec-content{ padding-right: 5px;} */
/*============================== Section Commons ========================================*/
/*.section { background: none; margin: 0 0 10px 0; font: normal 13px Tahoma; border-bottom: 1px solid #ADCC92; border-right: 1px solid #ADCC92; }*/
.section { background: none; margin: 0 0 10px 0; padding: 0 0 0 0; font: normal 13px Tahoma; border-bottom: 1px solid #ADCC92; border-right: 1px solid #ADCC92; width: 99%; }
.subsection { margin:0; font: normal 13px Tahoma; }
#sticky {display:none;}
.sec-content { margin: 0; padding: 0 0 0 0; font: normal 13px Tahoma; border: 1px solid #ADCC92; }
.pd-sec-content { margin: 0 0 0 0; padding:0 0 0 0 ; font: normal 13px Tahoma; border: 1px solid #ADCC92; width: 100%;}
.sec-sub-content { font: normal 13px Tahoma; background: #ADCC92; }
.sec-hd, .sec-hd a, .sec-hd a  link, .sec-hd a visited, .sec-hd a active, .sec-hd a  span {color: #003C74; text-align: left; padding-left:2px;  text-decoration: none; }
/*==== Change image file path below to match client ====*/
.sec-hd { background: #FFF url(../images/header-green.gif) repeat-x 0 100%; font: bold 14px/20px Tahoma;}
.num-val, .num-val span { color: #505050; font: normal 11px Tahoma; text-align: left; padding-right: 2px; padding-left: 2px;}
p.num-val { display: inline; color: #505050; font: normal 11px Tahoma; text-align: left; padding-right: 2px; padding-left: 2px;}
.sec-hd { display: block; background:  url(../images/crnr-left.png) no-repeat 0 0;  border-right: 1px solid #ADCC92;}
.sec-hd a:hover span,  .sec-hd a:hover{text-decoration:underline; color:#3380E5; }
.pd-hd { display: block; background: url(../images/header-br.gif) repeat-x 0 100%; border-right: 1px solid #ADCC92; padding-left: 5px; margin: 0; font: normal 14px/20px Tahoma; color: #FFF;}
.sub-sec, .det-sub-sec, .det-sub-sec span {background: #F3F8EE; color: #505050; font: normal 11px/1.5em Tahoma; text-align:left; padding-left: 2px; }
.info { color: #505050; font: normal 11px Tahoma; padding-left: 3px;}
.hdr-info, .hd-info, .det-info {color: #505050; font: normal 11px Tahoma;}
.hdr-info, .hd-info {padding-left: 3px;}
.det-info {padding-right: 3px;}
.sec-hd-tgl { float: right; text-align: center; width: 1em; font-size: 1.3em; }
.det-sec-hd-tgl { float: right; text-align: center; width: 3em; font-size: 10px; }
.closed * { display: none; }
.section.closed { padding: 0; }
.subsection.closed { padding: 0; }
.closed .sub-sec, .closed .det-sub-sec { display: block; margin: 0; }
.closed .sub-sec *, .closed .det-sub-sec * { display: inline; }
.closed .sec-hd { display: block; margin: 0; }
.closed .sec-hd * { display: inline; }
.subscr {vertical-align: sub; color:#3380E5; font-size: 8px;}
.date-time { font-size: 10px; color: #505050; }
.headerrtcell { background: #E8EFF9; }
.hi {background-image: url(../images/6302_11.gif); background-repeat: no-repeat; background-position: right;  width: 12px; z-index: -1;}
.lo {background-image: url(../images/6303_11.gif); background-repeat: no-repeat; background-position: right;  width: 12px; z-index: -1;}
.crit {background-image: url(../images/5278_11.gif); background-repeat: no-repeat; background-position: right;  width: 12px; z-index: -1;}
.within { text-align: left; font: 10px Tahoma; color: #505050; }
.smallDet {font: 10px Tahoma; padding-left: 2px;}
.even { background:#F5F7FB; border-top: 1px solid #E8EFF9;}
.odd { background:#FFF; border-top: 1px solid #E8EFF9;}
.hdr-bk-b {background: url(../images/hdr-bl-dl-w.gif) repeat-x 0 100%; text-align:center; font-size: 12px; color: #505050; line-height: 45px;}
.hx, .hx span {color: purple; padding-right: 4px; font-weight: bold;}
.rx, .rx span { color: green; padding-right: 4px; font-weight: bold;}
.show-hide {  text-decoration: underline; cursor: pointer; color:#3380E5; }
.on {background-image:url(../images/flag.gif); background-repeat:no-repeat;}
.off {background-image:url(../images/flag-d.gif); background-repeat:no-repeat;}
.comment {width: 100%; margin-left: 50px; margin-top: 50px;}
.comment td {border:0; }
.comment input {width: 75px; }
/* 
 h3 span { padding-left: 4px;  position: relative;  display: inline; right:4px; width: 99.75%;}
 h3 span .closed *{  position: relative;  display: inline; right: 4px; width: 99.75%;}
*/
h3.sub-sec1 span{ position: relative;  display: inline; /* give the element a width */ right:4px; width: auto; clear:left;} 
h3.sub-sec1  span.closed *{  position: relative;  display: inline; /* give the element a width */ right: 4px; width: auto;}
.complete {background-image:url(../images/3918_16.gif); background-repeat:no-repeat;}
.not-started {background-image:url(../images/5970_16.gif); background-repeat:no-repeat;}
.partial {background-image:url(../images/5971_16.gif); background-repeat:no-repeat;}
/* ============ Patient Detail Header =========================== */
.pt-dtl-hd-table  { width:100%; background: #FFF; margin-left: 5px; margin-top: 10px; margin-bottom: 10px;}
.pt-dtl-table { width:98%; background: #FFF; margin-left: 5px; margin-top: 2px; margin-bottom: 2px;  border: 0;}
.pt-dtl-table td{ font: 12px Tahoma; color: #000; border: 0;}
.pt-dtl-table dt { position: absolute; visibility: hidden; }
.pt-dtl-table .label { font: 12px Tahoma; color: #505050; padding-right: 3px;}
#patientName {font: bold 13px Tahoma;}
.pt-dtl-table .vReason-det-type {font-weight:bold;}


   /* ============== Patient Information ============== */
/*.pt-list {position: relative; width: 99%; }*/
.pt-list {position: relative; zoom:1;  }
.pt-table{ background: #FFF; table-layout:fixed; width:100%;}
.pt-table caption { visibility: hidden; height: 1px; overflow: hidden; line-height: 1px; }
.pt-table td{ font: normal 13px/1.5em Tahoma; border-bottom: 1px solid #E8EFF9; word-wrap:break-word;} 
.pt-table th{ font: normal 13px/1.5em Tahoma; border-bottom: 1px solid #E8EFF9; color: #505050; word-wrap:break-word;} 
#edVisit { position: absolute; left: 55%; top:15%; display: none; background: #FFC; border: 1px solid #E5EEFC; padding: 5px; z-index:5000; width:auto; }
#complaint { position: absolute; left: 50%; top:15%; display: none; background: #FFC; border: 1px solid #E5EEFC; padding: 5px; z-index:5000; width:auto; }
#edVisit dt.pt-det-type, #complaint dt.pt-det-type{ display:block; width:auto; color: #505050;} 
.pt-table .pt-full-code { font: bold 13px/1.5em Tahoma; color: #E51334; text-align: left; }
.pt-table .result { display: inline; }
/*.pt-table dd {float: left;}*/
.pt-table dd.result { display: inline; }
.pt-table .pt-result { font: 13px Tahoma; color: #000; width:55%;}
.pt-label {color: #505050; text-align: left; padding-left: 2px; width: 45%}
.pt-info {}
.pt-det { }
.pt-det-hd { visibility: hidden; position: absolute; }
.pt-table dt { visibility: hidden; position: absolute; }


     /* ============== PROBLEM LIST ============== */
/*.problem-list {position: relative; width: 99% }*/
/*.pl-table{ position: relative; width: 100%; }*/
/*.pl-table{background: #FFF;  width: 100%;}*/
.problem-list {position: relative; width: 99%; }
.pl-table{background: #FFF;  table-layout:fixed; width: 100%;}
.pl-table caption { visibility: hidden; height: 1px; overflow: hidden; line-height: 1px; }
.pl-table td{ text-align: left; font: 13px/1.5em Tahoma; border-bottom: 1px solid #E8EFF9; word-wrap:break-word;}
.pl-table .result {padding-left: 2px;}
.pl-table dd.result { display: inline;}
.pl-info{min-height:100%; overflow:auto; clear:both; }
.pl-info dt, .pl-det-hd { visibility: hidden; position: absolute; }
.pl-det {visibility: hidden; position: absolute;}
.pl-det-type{}
.problem-list strong, .pl-name, .pl-det-type {font-weight:normal;}
.pl-info dd {font: 13px/1.5em Tahoma; border-bottom: 1px solid #E8EFF9; }
    /* ============== Diagnosis LIST ============== */
.diag-list {position: relative; width: 99% }
.diag-table{ position: relative; width: 99%; }
.diag-table caption { visibility: hidden; height: 1px; overflow: hidden; line-height: 1px; }
.diag-table td{ text-align: left; font: 13px/1.5em Tahoma; border-bottom: 1px solid #E8EFF9; }
.diag-table .result {padding-left: 2px;}

        /* ============== OVERFLOW SECTIONS ============== */

.section .sec-content {overflow-y: auto; overflow-x: hidden;}
.scrollable .sec-content {width: 97%;}

        /* ============== ALLERGY LIST ============== */
.allergies-list {position: relative; width: 99%; }
.al-table {background: #FFF;  width: 100%; table-layout:fixed;}
.al-table td {text-align: left; width:50%; word-wrap:break-word; padding:0 2px;}
.al-table th {text-align: left; width:50%; word-wrap:break-word; padding:0 2px;}
.al-table tbody { background: #FFF;}
.al-table .result { text-align: left;  }
.al-table .al-hd { background: #E8EFF9; font:11px/1.2em Tahoma; color: #505050;}
p.rxnHd { background: #E8EFF9; font: 11px/1.2em Tahoma; }
p.al-spc-hdr { background: #E8EFF9; font: 11px/1.2em Tahoma;}
.al-table dd.result { display: inline;}
.al-info dt, .al-det-hd { visibility: hidden; position: absolute; }
.al-table td dt { position: absolute; visibility: hidden; }
.al-table .algSeverityY, .algSeverityY dd, .algSeverityY dt, .algSeverityY td {font: bold 13px Tahoma; color: #E51334; padding-left: 2px;}
.al-table .algSevYRxn, .algSevYRxn dd, .algSevYRxn dt, .algSevYRxn td {font: bold 13px Tahoma; color: #E51334; }
.al-table .algSeverityN { padding-left: 2px;}
.al-table .algSevNRxn {  }
.al-det{}
.al-det-type{}


        /* ============== MEDICATIONS LIST ============== */
.med-list{ position: relative; zoom:1;}
.ml-table { background: #FFF;  width: 100%; table-layout:fixed;}
.ml-table caption { visibility: hidden; height: 1px; overflow: hidden; line-height: 1px; }
.ml-table td {word-wrap:break-word;}
.ml-table td dt { position: absolute; visibility: hidden; }
.ml-table .date-time { color: #505050; }
.ml-table dd.result { display: inline;}
.ml-table dd { padding-left: 5px;}
.ml-med, .ml-info dt, .ml-det-hd { visibility: hidden; position: absolute; clear:both;}
.ml-med {background: #E8EFF9; color: #505050; font: normal 11px/1.5em Tahoma; text-align: left; padding-left: 2px;}
.ml-table-info{ color: #000; font: 11px Tahoma; margin: 0 0 0 0; padding: 0 .5em; text-align:left; }
.ml-table-hd{ color: #505050; font: normal 11px Tahoma; background: #E8EFF9;}
.ml-table .result { padding-left: 4px; color: #505050; font: normal 12px Tahoma;}
.med-list span .result { padding-left: 4px; color: #000; font: normal 12px Tahoma;}
.ml-det {}
.ml-md-sig {color: #505050; font: normal 12px Tahoma; padding-left: 5px;}
.ml-med, .ml-info dt { position: absolute; visibility: hidden; }
.ml-info {font: 13px/1.5em Tahoma; border-bottom: 1px solid #E8EFF9;}
.ml-med-name { padding-left: 2px;  }
.ml-info .ml-md-name span { }
.ml-info .ml-md-sig span {  }
.ml-det-type strong {font-weight: normal;}
.ml-det-hd { visibility: hidden; position: absolute; }


        /* ============== HOME MEDICATIONS LIST ============== */
.hml-list {position: relative; width:99%;}
.hml-table {background: #FFF; width: 100%; table-layout:fixed;}
.hml-table td {word-wrap:break-word; }
.hml-table caption { visibility: hidden; height: 1px; overflow: hidden; line-height: 1px; }
p.hml-md-sig { color: #505050; font: normal 12px Tahoma; }
.hml-md-sig { color: #505050; font: normal 12px Tahoma; padding-left: 4px; }
.hml-med, .hml-info dt { position: absolute; visibility: hidden; }
.hml-info dd {font: 13px/1.5em Tahoma; border-bottom: 1px solid #E8EFF9;}
.hml-med-name { padding-left: 2px;}
.hml-info .hml-md-name span { }
.hml-info .hml-md-sig span {  }
.hml-table .result { padding-left: 4px; color: #505050; font: normal 12px Tahoma;}
.hml-table dd.result { display: inline;}
.hml-det-type{}
.hml-det { }
.hml-det-hd { visibility: hidden; position: absolute; }
 
    /* ============== VITAL SIGNS ============== */
.vital-signs { position: relative;  }
.vs-table { background: #FFF; width: 100%; table-layout:fixed;}
.vs-table caption { visibility: hidden; height: 1px; overflow: hidden; line-height: 1px; }
.vs-table td {}
.vs-table th { border-bottom: 1px solid #E8EFF9; }
.vs-table td dt { position: absolute; visibility: hidden;}
.vs-table .thHd  { padding-right: 4px; text-align: right; font: normal 12px/1.2em Tahoma; width:28%;}
.vs-table .label  { text-align: right; }
.vs-table td.current { border-right: 2px solid #C4DAFC; text-align: right;}
.vs-table .unit { text-align: left; color: #505050; font: 10px Tahoma; }
.vs-table .headerrtcell { background: #E8EFF9; }
.vs-table .date-time { font: 11px/1.2em Tahoma; color: #505050; text-align: left;}                   
.vs-table .dt-hd, .vs-table .dt-hd-b, .vs-table .dt-hd-p, .vs-table .dt-hd-pb { background: #E8EFF9; border-bottom: 1px solid #C4DAFC;  font: 10px/1.2em Tahoma; color: #505050;} 
.vs-table .dt-hd { text-align: center; } 
.vs-table .dt-hd-b { text-align: center; border-left: 1px solid #C4DAFC;}  
.vs-table .dt-hd-p { text-align: left; } 
.vs-table .dt-hd-pb{ text-align: left; border-left: 1px solid #C4DAFC;}  
.vs-table dd.result, .vs-table dd.normalcy { display: inline;}
.vs-table .result { text-align: left;  }
.vs-table dd.normalcy span { position: absolute; visibility: hidden; }
.vs-table .latest_hd, .vs-table .current{ background: #FFF; text-align: left; font: 11px/1.2em Tahoma; color: #505050;}
.vs-table .within_hd{ background: #E8EFF9; text-align: left; font: 10px/1.2em Tahoma; color: #505050; border-bottom: 2px solid #C4DAFC;}
.vs-table .within_Lhd{ background: #FFFFFF; text-align: left; font: 10px/1.2em Tahoma; color: #505050; }
.vs-table .prev_hd{ background: #E8EFF9; text-align: left; font: 11px/1.2em Tahoma; color: #505050; border-bottom: 2px solid #C4DAFC;}
.vs-table .p-n{ background: #E8EFF9; text-align: left; font: 10px/1.2em Tahoma; color: #505050;}
.vs-table .latest{ border-right: 2px solid #C4DAFC; text-align: left; }
.vs-table .previous{  text-align: left; }
.vs-table .prev-dt, .vs-table .prev-bdt{ text-align: left; border-right: 1px solid #C4DAFC; }
.vs-table .prev-bdt{ background: #E8EFF9; border-bottom: 2px solid #C4DAFC;}
.vs-table .prev-next { background: #E8EFF9;  font: 11px/1.2em Tahoma; text-align: center; border-top: 2px solid #C4DAFC; }
.vs-table .nibp-label { font-weight: bold;}
.vs-det { }
.vs-det-type { }
.vs-info {}
.vs-det-hd { visibility: hidden; position: absolute; }
.rtcell { border-right: 2px solid #E8EFF9;}
.vs-res {width:19%;}
.vs-table td.vs-res {border-right:2px solid #C4DAFC; padding-left:2px; }
.vs-icon {width:5%; text-align:right;}
.vs-lbl-hd {width:28%;}
.vs-table td, .vs-table th {word-wrap:break-word;}

        /* ============== LABS ============== */

.lab-results {position: relative; width: 100%; }
.lr-table { background: #FFF; margin-left:1px; width: 100%; table-layout:fixed;}
.lr-table caption { visibility: hidden; height: 1px; overflow: hidden; line-height: 1px; }
.lr-table td, .lr-table th {  border-bottom: 1px solid #E8EFF9; }
.lr-table td dt { position: absolute; visibility: hidden; }
.lr-table .lab  { padding-right: 4px; padding-left: 2px; text-align: right; font: 12px/1.5em Tahoma; color: #000; width:28%;}
.lr-table .lab-hd  { padding-right: 4px; text-align: right; font: 13px/1.5em Tahoma; color: #000;}
.lr-table .unit { text-align: left; color: #505050; font: 10px Tahoma;}
.lr-table dd.result{ display: inline; }
.lr-table .result, lr-footer-table .result { text-align: left; font: 13px Tahoma;}
.lr-table .resLow .lr-info dd span.result, .lr-table .resHi .lr-info dd span.result, .lr-table .critical .lr-info dd span.result {font-weight:bold;}
.lr-table .date-time, lr-footer-table. date-time { color: #505050; font: 11px Tahoma; text-align: left;}
.lr-table .date-time-w-hd { color: #505050; font: 11px Tahoma; text-align: left;}
.lr-table .date-time-hd { color: #505050; font: 11px Tahoma; text-align: left; background: #E8EFF9; border-bottom: 2px solid #C4DAFC;}
.lr-table .previousHd { font: 11px/1.2em Tahoma; color: #505050; background: #E8EFF9; border-bottom: 2px solid #C4DAFC; text-align: left; padding-left: 2px; }
.lr-table .currentHd {  font: 11px/1.2em Tahoma; color: #505050; background: #FFF; text-align: left;  padding-right: 1px; }
.lr-table .resultNormal {font: 13px Tahoma; text-align: left;}
.lr-table .prev-next {  background: #E8EFF9; font: normal 11px Tahoma; text-align: center; border-top: 2px solid #C4DAFC;}
.lr-table .latest{ border-right: 2px solid #C4DAFC; text-align: left; }
.lr-table .previous{ text-align: left;}
.lr-table .current { text-align: left;}
.lr-table .img-icon, lr-footer-table .img-icon {}
.lr-footer-table .show-hide {}
.lr-footer-table .prev-next {  background: #E8EFF9; font: normal 11px Tahoma; text-align: center; border-top: 2px solid #C4DAFC;}
.lr-det-hd { visibility: hidden; position: absolute; }
.lr-det {}
.lr-det-type {}
.lab-res {width:19%;}
.lr-table td.lab-res {border-right:2px solid #C4DAFC; padding-left:2px; }
.lab-icon {width:5%; text-align:right;}
.lab-lbl-hd {width:28%;}
.lr-table td, .lr-table th {word-wrap:break-word;}
.lr-table .latest_hd, .lr-table .prev_hd {text-align:left;}
.lr-table .prev_hd {border-bottom: 2px solid #C4DAFC;}

/* =================== MICRO =================== */
.micro-results { position: relative; }
.mic-table { background: #FFF; width:100%; table-layout:fixed;}
.mic-table caption { visibility: hidden; height: 1px; overflow: hidden; line-height: 1px; }
.mic-table td, .mic-table th { text-align: left; line-height: 1.5em; border-bottom: 1px solid #E8EFF9; word-wrap:break-word;}
.mic-table td {  border-bottom: 1px solid #E8EFF9;font: 13px/1.5em Tahoma;}
.mic-table td dt { position: absolute; visibility: hidden; }
.mic-table .even { background: #F0F7EA; }
.mic-table .date-time { font: 11px Tahoma; color: #505050; }
.mic-table dd.result, .mic-table dd.normalcy { display: inline;}
.mic-table dd.normalcy span { position: absolute; visibility: hidden; }
.mic-table dd.low, .mic-table dd.normalcy em { color: #0054E7; }
.mic-table dd.resHigh, .mic-table dd.normalcy strong { color: #FF8013; font-weight: bold; }
.mic-table .critRes { color: #E51334; font: bold 13px Tahoma; text-align: center;}
.mic-table dd.critical, .mic-table dd.normalcy strong em { color: #E51334; font-weight: bold; }
.mic-table .resultCriticalDate { color: #E51334; font: 11px Tahoma; }
.mic-table .resultCriticalDate { color: #E51334; font: bold 11px Tahoma; text-align: center;}
.mic-table .dt-hd { font: 10px Tahoma; color: #505050; padding-left: 2px;}
.mic-table .shd{ color: #505050; font: 11px/1.2em Tahoma; text-align:left;  }
.mic-table .hds{ color: #505050; font: 11px/1.2em Tahoma; text-align:center;  }
.mic-table .hds{ color: #505050; font: 11px/1.2em Tahoma; text-align:left;  }
.mic-table-info{ color: #505050; font: 11px Tahoma; margin: 0 0 0 0; padding: 0 .5em; text-align:left;}
.mic-table-info-n{ color: #505050; font: 11px Tahoma; padding: 0 .5em; text-align:left;}
.mic-table .hd{  color: #505050; font: 11px/1.2em Tahoma;  text-align:left; padding-left: 2px;}
.mic-det {}
.mic-table .status { font: 11px Tahoma; }
.mic-table .normalcy { font: 13px Tahoma; text-align: left; }
.mic-table .normal { font: 13px Tahoma; text-align: center; }
.mic-table p.status { font: 11px Tahoma; text-align: center;}
.mic-det-hd { visibility: hidden; position: absolute; }
.mic-table dd.result { display: inline;}
.mic-det-type {padding-left: 2px;}
p.mic-critical {color: #E51334; font: bold 13px Tahoma;}
.mic-critical {color: #E51334; font: bold 13px Tahoma;}
.mic-table .dt-critical {color: #E51334; font: bold 10px Tahoma;}
.mic-table .dt-normal {font: 10px Tahoma;}
.mic-src {width:43%;}
.mic-dt {width:16%;}
.mic-norm {width:25%;}
.mic-stat {width:16%;}

.mic_within_menu {position: absolute; display: none; background: #FFC; border: 1px solid #E5EEFC; padding: 5px; width:200px; white-space:nowrap}

.anylinkcssmicro{
position: absolute;
left: 0;
top: 0;
visibility: hidden;
border: 1px solid black;
padding: 10px;
font: normal 12px Tahoma;
z-index: 100; /*zIndex should be greater than that of shadow's below*/
background: #FFC;
}

/*
.anylinkcssmicro .microCol  {width: auto; padding-right: 20px; float: left;}
.anylinkcssmicro .microDl dl {clear:both; margin: 0; padding: 0; list-style-type: none;}
.anylinkcssmicro .microDl dd, .anylinkcsscols .microDl dt  { margin: 0; padding: 0; } 
.anylinkcssmicro .microDl dt { float: left; margin-right: 0.3em; }
*/

.anylinkcssmicro .microCol  {width: auto; padding-right: 20px; float: left;  font: 12px/2em Tahoma; }
.anylinkcssmicro .microDl dl {clear:both; margin: 0; padding: 0; list-style-type: none; font-smooth: always;}
.anylinkcssmicro .microDl dd, .anylinkcsscols .microDl dt  { margin: 0; padding: 0; color: #000;} 
.anylinkcssmicro .microDl dt { float: left; margin-right: 0.3em; color: #505050; }





         /* ============== NURSING DOCUMENTATION ============== */
.nursing-doc { position: relative; width: 99%}
.doc-table { background: #FFF; width: 100%; table-layout:fixed;}
.doc-table caption { visibility: hidden; height: 1px; overflow: hidden; line-height: 1px; }
.doc-table td {  border-bottom: 1px solid #E8EFF9; font: 13px/1.5em Tahoma;  text-align: left;}
.doc-table td dt { position: absolute; visibility: hidden; }
.doc-table .even { background: #F0F7EA; }
.doc-table .date-time { font: 11px Tahoma; color: #505050; text-align:left;}
.doc-table dd.result{ display: inline;}
.doc-info{ color: #505050; }
.doc-det {}
.doc-det-hd { visibility: hidden; position: absolute; }
.doc-det-type {padding-left: 2px;}
.doc-table .result{ padding-left: 5px; }
.doc-table .author { text-align: left; font: 13px Tahoma;}
.doc-table .shd{ color: #505050; font: 11px/1.2em Tahoma; text-align: left; padding-left:2px;}
.doc-table .hd{ color: #505050; font: bold 11px/1.5em Tahoma; text-align: left; padding-left: 2px;}
.doc-table .dt-res { font: 10px Tahoma; text-align:left;}
.doc-table td, .doc-table th {word-wrap:break-word;}
.doc-name {width:46%;}
.doc-dt {width:16%;}
.doc-auth {width:38%;}
		
		   /* ==============Diagnostic ============== */
.diagnostic { position: relative; width: 99%;}
.dg-table { background: #FFF; table-layout: fixed; width: 100%;}
.dg-table th{ text-align: left; word-wrap:break-word;}
.dg-table td{ word-wrap:break-word;}
.dg-table .even { background: #F5F7FB; width: 99%;}
/*.dg-table .date-time { padding-left: 2px; width: 15%; font: 10px Tahoma; color: #505050;  text-align: left; }*/
.dg-table .prev-next { background: #E8EFF9; border-top: 2px solid #C4DAFC; font: 11px Tahoma; text-align: center; }
.dg-table dd.result { display: inline; }
.dg-table .dg-item{ padding-left: 5px;}
.dg-table .prevSpcr { background: #E8EFF9; border-left: 2px solid #C4DAFC; color: #505050; font: 11px/1.5em Tahoma; }
.dg-info { color: #505050; font: 11px Tahoma; }
.dg-table .status { font: 11px Tahoma; text-align: left;}
.dg-table .bLine { border-left: 2px solid #C4DAFC; padding-left: 5px;}
.date-time-hd { padding-left: 2px;}
.status-hd { }
.dg-item-hd{ padding-left: 5px;  }
.p-dt-hd { background: #E8EFF9; border-bottom: 2px solid #C4DAFC;  padding-left: 2px;  }
.p-status-hd { background: #E8EFF9; border-bottom: 2px solid #C4DAFC; }
.dg-det { }
.dg-det-hd { visibility: hidden; position: absolute; }
.dg-name {width:32%;}
.dg-latest {width:17%;}
.dg-stat {width:26%;}
.dg-prev {width:25%;}



   /* ============== ICU Measurements Main Section ============== */
.measure-list {position: relative; width: 100%;  }

   /* ============== Respiratory ============== */
.r-list {position: relative; width: 99%;  }
.r-det{}
.r-det-hd { visibility: hidden; position: absolute; }
.r-det strong {font-weight:normal; color: #505050;}
.respTable td, .respTable th, .respTitle {padding-left: 2px;}

   /* ============== ICU Vitals Table============== */
.icu-vitals {position: relative; width: 100%;  }
.icu-vitals-table {}
.icu-vitals-table td, .icu-vitals-table th  {border-bottom: 1px solid #E8EFF9; border-right: 1px solid #E8EFF9; }
.icu-vitals-table .label {text-align: right; padding-right: 5px;}

 /* =============== Discharge Summary ====================*/
.ds-list {position: relative; width: 100%;}
.ds-table { width: 99.95%; }
.ds-table td{ padding-left: 2px;}
.ds-table th {padding-left: 2px;}
.ds-table-hd  { color: #E9EFF8; font: 14px/1.5em Tahoma; text-align: center; background-color: #A3AACA;  }
.ds-table .sub-hd, .ds-table .sub-hd a, .ds-table .sub-hd a  link, .ds-table .sub-hd a visited, .ds-table .sub-hd a active, 
.ds-table .sub-hd a  span {color: #003C74; font: 12px/1.5em; text-align: left; text-decoration: none; border-bottom: 1px solid #E8EFF9;}
.ds-table .brdr-r { border-right: 2px solid #C4DAFC; padding-left: 2px; }
.ds-table .list, .ds-table .list * {text-align: right;  padding-left:15px; width: 1%; }
.ds-table .list-td { line-height: 2.5em; text-align: left;}
.ds-table .brdr-r a, .ds-table .ds-table-hd a {color: #E9EFF8;}
 
        /*======================= Hover formatting ===================*/
.wr-det:active, .vs-det:active, .fb-det:active, .ml-det:active, .hml-det:active, .al-det:active, .mic-det:active, .pt-det:active, .lr-det:active, .ltd-det:active, 
.diag-det:active, .dg-det:active, .doc-det:active, .preg-det:active, .pmp-det:active, .fHist-det:active, .socHist-det:active, .im-det:active, .proc-det:active,
.note-det:active, .rmdr-det:active, .visit-det:active, .pl-det:active { background: #FFC; visibility: visible; display: block; padding: 0 .5em; z-index: 1000; margin: 0 2px 2px 2px; width: auto; border: 1px solid #000; font: 12px/2em Tahoma; }
.wr-det:focus, .vs-det:focus, .fb-det:focus, .ml-det:focus, .hml-det:focus, .al-det:focus, .mic-det:focus, .pt-det:focus, .lr-det:focus, .ltd-det:focus, 
.diag-det:focus, .dg-det:focus, .doc-det:focus, .preg-det:focus, .pmp-det:focus, .fHist-det:focus, .socHist-det:focus, .im-det:focus, .proc-det:focus,
.note-det:focus, .rmdr-det:focus, .visit-det:focus, .pl-det:focus{ background: #FFC; display: inline-block; padding: 0 .5em; z-index: 1000; margin: 0 2px 2px 2px; width: auto; border: 1px solid #000; font: 12px/2em Tahoma; }
.wr-det:hover, .vs-det:hover, .fb-det:hover, .ml-det:hover, .hml-det:hover, .al-det:hover, .mic-det:hover, .pt-det:hover, .lr-det:hover, .ltd-det:hover, 
.diag-det:hover, .dg-det:hover, .doc-det:hover, .preg-det:hover, .pmp-det:hover, .fHist-det:hover, .socHist-det:hover, .im-det:hover, .proc-det:hover,
.note-det:hover, .rmdr-det:hover, .visit-det:hover, .pl-det:hover{ background: #FFC; display: inline-block; padding: 0 .5em; z-index: 1000; margin: 0 2px 2px 2px; width: auto; border: 1px solid #000; font: 12px/2em Tahoma; }
.wr-det.hover, .vs-det.hover, .fb-det.hover, .ml-det.hover, .hml-det.hover, .al-det.hover, .mic-det.hover, .pt-det.hover, .lr-det.hover, .diag-det.hover, .dg-det.hover, 
.doc-det.hover, .ltd-det.hover, .preg-det.hover, .pmp-det.hover, .fHist-det.hover, .socHist-det.hover, .im-det.hover, .proc-det.hover, .note-det.hover, .rmdr-det.hover, 
.visit-det.hover, .pl-det.hover { position: absolute; display: none; z-index: 1000; background: #FFC; border: 1px solid #000; }
.wr-det dd, .vs-det dd, .ml-det dd, .hml-det dd, .al-det dd, .mic-det dd, .pt-det dd, .fb-det dd, .ltd-det dd, .pt-det dd, .diag-det dd, .dg-det dd, .lr-det dd, .doc-det dd, 
.preg-det dd, .pmp-det dd, .fHist-det dd, .socHist-det dd, .im-det dd, .proc-det dd, .note-det dd, .rmdr-det dd, .visit-det dd, .pl-det dd  {float: left;  margin: 0 .5em; }
.vs-det, .fb-det, .lr-det, .ml-det, .hml-det, .al-det, .doc-det, .preg-det, .pmp-det, .fHist-det, .socHist-det, .im-det, .proc-det, .note-det, .rmdr-det, 
.visit-det, .pl-det{ background: #FFC; padding: 0 .5em; z-index: 1000; margin:0 2px 2px 2px; width: auto; border: 1px solid #000; font: 12px/2em Tahoma;}
.wr-det, .pt-det, .ltd-det, .diag-det, .dg-det, .pl-det{ background: #FFC; padding: 0 .5em; z-index: 1000; margin: 0 2px 2px 2px; width: auto;  border: 1px solid #000; font: 12px/2em Tahoma;}
.mic-det { background: #FFC; padding: 0 .5em; z-index: 1000; margin: 0 2px 2px 2px; width: auto;  border: 1px solid #000; font: 12px/2em Tahoma; }
.wr-det dt, .vs-det dt, .fb-det dt, .ml-det dt, .hml-det dt, .al-det dt, .ltd-det dt, .mic-det dt, .pt-det dt, .lr-det dt, .ltd-det dt, .diag-det dt, .dg-det dt, 
.doc-det dt, .preg-det dt, .pmp-det dt, .fHist-det dt, .socHist-det dt, .im-det dt, .proc-det dt, .note-det dt, .rmdr-det dt, .visit-det dt, .pl-det dt{ clear: left; color: #505050; }
.wr-det dt span, .vs-det dt span, .ml-det dt span, .hml-det dt span, .al-det dt span, .mic-det dt span, .pt-det dt span, .fb-det dt span, .ltd-det dt span, .lr-det dt span, 
.diag-det dt span, .dg-det dt span, .doc-det dt span, .preg-det dt span, .pmp-det dt span, .fHist-det dt span, .socHist-det dt span, .im-det dt span, 
.proc-det dt span, .note-det dt span, .rmdr-det dt span, .visit-det dt span, .pl-det dt span { float: left; margin: 0 0 0 .5em; visibility: visible;}
.side, .method, .limb, .position { display: inline; font-size: 9px; line-height: 1.6em; }
.side:after, .method:after, .limb:after { content: ", "; }
.prn {background: #CFC;}
.no-prn {background: #CCF;}
.neg {color: #C03;}
.no-doc { background: #FFF; line-height: 1.5em; padding: 0 0; margin: 0 0; }
 
.about { clear: both; text-align: left; border: 1px solid #E5EEFC; background: #FFF; color: #505050; padding: 0 0 1em 0; margin: 1em 0 2em 0; }
.ab-hd { padding: .5em; background: #CCC; color: #505050; margin: 0 0 .5em 0; font-weight: bold; }
.about p { padding: .5em 1em; }
.about ul { padding: .5em 2em; }
.about li { list-style: disc inside; padding: .2em 0; } 
div.hidden { display: none; } 
#documentviewer{ position: absolute; width: 150px; border: 1px solid black; padding: 2px; background-color: #FFC; visibility: hidden; text-align: left; z-index: 200; filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135); }
 
.chart { position: absolute; top: 0; left: 0; background: #FFF; display: none;}
.show { display: block; }
.chart-close { position: absolute; background: #FFF; padding: .25em; top: 0; right: 0; }

 /* ============== SCROLLING SECTIONS ============== */
.sec-content {overflow-y:auto; overflow-x:hidden;  }




 /* ============== HEADER ============== */
.ps-hd { font: bold 13px Tahoma; padding-left: .25em;  padding-right: 25px; margin: 0 0 0 0; color: #003C74;  text-align: left; }	
p.disclaimer { font: normal 10px/10px Tahoma; text-align: left;  border-top: 1px solid #E5E5E5;}
p.edTimeFrame { font: normal 10px/10px Tahoma; text-align: right; color: #505050; padding-right: 10px; }
p.ed-time-frame { font: normal 10px/10px Tahoma; text-align: right; color: #505050; padding-right: 10px; border-top: 1px solid #E5E5E5;}
.info-img { padding-right: 20px;}
.info-img {background-image: url(../images/5104_16.gif); background-repeat: no-repeat; background-position: right; z-index: -1;}
.text-change-l { font: 11px Tahoma; }
.text-change-s { font: 9px Tahoma; padding-top: 2px; }
.hdrTable {width: 99%; background: #FFF; margin-left: 5px; table-layout: fixed; }
.hdrTable .hdrTitle{ }
.hdrTable td { margin-bottom: 2px; border: 0;}
.hdrTable .eds-hd { font: bold 14px/2em Tahoma; color: #003C74; text-align: left; width: 45%; }
.hdrTable .icu-hd { font: bold 14px/1.6em Tahoma; color: #003C74; text-align: left; width: 45%; padding-bottom: 3px; }
.hdrTable .ers-hd { font: bold 14px/1.6em Tahoma; color: #003C74; text-align: left; }
.infoTable td {line-height: 12px; padding-bottom: 3px; border: 0;} 
.infoTable {width: 99%; background: #FFF; margin-left: 5px;  }
.menuTable {width: 100%; background: #FFF; border-top: 1px solid #E5E5E5;}
.er-menuTable {width: 100%; background: #FFF; border-top: 1px solid #E5E5E5;}
.er-menuTable td{ border-bottom: 1px solid #E5E5E5; padding-bottom: 2px;}
.hdrTable .spcr {line-height: 5px; border-top: 1px solid #E5E5E5; border-bottom: 0;}
.menu-items {text-align: right; width: 10%; padding-right: 5px; padding-bottom: 6px; }
ul.menu-items {text-align: right; width: 35%; padding-right: 5px; }
ul.er-menu-items {text-align: right; width: 35%; padding-right: 30px; }
.expandAll { border-right: 1px solid #505050; width: 75px; padding-right: 10px; border-left: 1px solid #505050; padding-left: 10px; padding-top:5px;}
.collapse {border-right: 1px solid #505050; width: 75px; padding-right: 10px; border-left: 1px solid #505050; padding-left: 10px; padding-top:5px;}
.expandToggle {  padding-top:5px;}
.text-change-l { font: 11px Tahoma; padding-top:5px;}
.text-change-s { font: 9px Tahoma; padding-top: 7px; }
.summaryItem { padding-left: 5px; padding-top:5px;}
#dose {margin-left: 5px; }
#act {}
.hdrTable .hdr-info {padding-right: 3px; padding-left: 3px; width: 25%;}
.hdrTable .dose-wt, .hdrTable .act-wt  { padding-right: 3px; padding-left: 3px; }
/* ======================= Printer Formatting ================*/
 div#printhead {display: none;}
.noPrint {display: inline;}
.printer-table {display: none; }	
.printer-title {display: none;}
.printer-legend {display: none; }
.printer-date-time {display: none;}
.print-hi{display: none; }
.print-lo {display: none;}
.print-crit {display: none;}
 
 /* =================== Layout ========================== */ 
 
 
	/* General styles */
	body {
		margin:0;
		padding:0;
		border:0;			/* This removes the border around the viewport in old versions of IE */
		width:100%;
		background:#fff;
		min-width:768px;		/* Minimum width of layout - remove line if not required */
						/* The min-width property does not work in old versions of Internet Explorer */
		font-size:100%;
	}
	a {

	}
	a:hover {
		text-decoration:underline;
	}
	/* column container */
	.colmask {
		position:relative;		/* This fixes the IE7 overflow hidden bug */
		clear:both;
		float:left;
		width:100%;				/* width of whole page */
		overflow:hidden;			/* This chops off any overhanging divs */
	}
	/* common column settings */
	.colright,
	.colmid,
	.colleft {
		float:left;
		width:100%;				/* width of page */
		position:relative;
	}
	.col1,
	.col2,
	.col3 {
		float:left;
		position:relative;
		padding:0 0 3px 0;		/* no left and right padding on columns, we just make them narrower instead 
							only padding top and bottom is included here, make it whatever value you need */
		overflow:hidden;
	}
	/* 3 Column blog style settings */
	.threecol {
		background:#fff;			/* right column background colour */
	}
	.threecol .colmid {
		right:34%;				/* width of the right column */
		background:#fff;		/* center column background colour */
	}
	.threecol .colleft {
		left:33%;				/* width of the middle column */
		background:#fff;			/* left column background colour */
	}
	.threecol .col1 {
		width:32.75%;				/* width of center column content (column width minus padding on either side) */
		left:1.25%;			/* 100% plus left padding of center column */
	}
	.threecol .col2 {
		width:33.75%;				/* Width of left column content (column width minus padding on either side) */
	    left: 1.5%;	/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
	}
	.threecol .col3 {
		width:32.75%;				/* Width of right column content (column width minus padding on either side) */
		left:1.75%;				/* Please make note of the brackets here:
							(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */	
	}
/* 2 Column (double page) settings */
	.doublepage {
		background: transparent;		/* right column background colour */
	width: 100%;
	}
	.doublepage .colleft {
		right:50%;			/* right column width */
		background:#fff;		/* left column background colour */
	}
	.doublepage .col1 {
		width:48%;			/* left column content width (column width minus left and right padding) */
		left:50.5%;			/* right column width plus left column left padding */
	}
	.doublepage .col2 {
		width:48%;			/* right column content width (column width minus left and right padding) */
		left:52%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
	}
	/* Full page settings */
	.fullpage {
		background: transparent;		/* page background colour */
	}
	.fullpage .col1 {
		width:98.5%;			/* page width minus left and right padding */
		left:.5%;			/* page left padding */
	}

#nav {
	   width:100%;
	   margin:0;
     padding:0;
     list-style-type:none;
     list-style-position:outside;
     position:relative;
     line-height:8px;
	   font: 11px Tahoma;
	   z-index: 30;

	 }

#nav ul{

	   margin:0;
     padding:0;
     list-style-type:none;
     list-style-position:outside;
     position:relative;
     line-height:8px;
	   font: 11px Tahoma;
	   border:1px solid #E5E5E5;
	   background: #FFC;

 }
  #nav a:link, #nav a:active, #nav a:visited{
    display:block;
    color:#3380E5;
    text-decoration:underline;
 }

#nav a:hover{

    color:#3380E5;
}
/* Align list elements horizontally.
*/
#nav li{
    float:left;
    position:relative;
	padding-right: 10px;
	margin-top: 5px;
}
#nav ul {
    position:absolute;
    width:13em;
    top:8px;
    display:none;
}
/*Sets width of the hyper links to 12 em
(which in combination with the width of the UL set above
results in a horizontally displayed sub menu, despite of the ongoing float:left)
*/
#nav li ul a{
    width:10em;
    float:left;
	background: #FFC;

}
/*#nav ul ul and #nav li ul ul define where the sub menu displays
The hover states define which items to show when hovering over
an item (only the next sub level, not all of them)*/


#nav ul ul{
	top:auto;
    border:1px solid #E5E5E5;

	}
#nav ul li{
	top:auto;
    padding-bottom: 5px;
	  z-index:31;
	  margin: 5px;
	  padding-left: 5px;
	  display: inline;
	}

#nav li ul ul {
    left:-150px;
    margin:0 0 0 0;
		z-index:100;
    }


#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{

 padding-left: 0px;
    display:none;
    }
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
    display:block;
    }
/*menu*/

.pt {
	 width:98%;
	 margin:0;
     padding:0;
     list-style-type:none;
     list-style-position:outside;
     position:relative;
     line-height: 4px;
	 font: 13px Tahoma;
	 color: #000000;
	 z-index: 30;
	 }

.pt ul, pt dl{
	   margin:0;
     padding:0;
     list-style-type:none;
     list-style-position:outside;
     position:relative;
     line-height: 5px;
	   font: 11px Tahoma;
	   color: #000000;
 }

/* Align list elements horizontally.
*/
.pt li, pt dt, pt dd{
    float:left;
    position:relative;
	  padding-right: 10px;
	  margin: 0;
	  color: #000000;
}
.pt ul, pt dl {
    position:absolute;
    width: 11em;
    margin: 0;
    display:none;
}

.pt ul li, pt dd{
	  margin:0;
    padding-bottom: 5px;
	  z-index:31;
	  margin: 0 0 0 0;
	}
	
.sigEvent li {display: inline; float: left; padding-right: 8px;}
.interventions li {padding-left: 15px; padding-right: 8px;}

.two-col-sim {
	color: #000;
	font-size: 100%;
	border: none;
	background-color: transparent;
	font-weight: normal;
	width: auto;
	margin-left: 0;

}

.two-col-sim dt {
	color: #505050;
	font-weight: normal;
	float: left;
	float: left;
	padding: 0em;
	margin: 0em;
	width: 45%;
	text-align: left;
	padding-top: 2px;
	padding-bottom: 2px; 

}

.two-col-sim dd {
	padding-top: 2px;
	padding-bottom: 2px; 
    border-bottom: 1px solid #E8EFF9;
}


.pt dl{ margin:0; padding:0; list-style-type:none; list-style-position:outside; position:relative; line-height: 5px; font: 11px Tahoma; color: #000000; }

/* Align list elements horizontally.*/

.pt dd{ float:left; position:relative; padding-right: 10px; margin: 0; color: #000000; }
.pt dd strong span.label {font-weight: normal; color: #505050;}
.pt dl { position:absolute; width: 11em; margin: 0; display:none; }
.pt dl dd{ margin:0; padding-bottom: 5px; z-index:31; margin: 0 0 0 0; border-bottom: 1px solid #000; }
.pt dt {display: none;}

.two-col-sim { color: #000; font-size: 100%; border: none; background-color: transparent; font-weight: normal; width: auto; margin-left: 0; }
.two-col-sim dt { color: #505050; font-weight: normal; float: left; padding: 0em; margin: 0em; width: 45%; text-align: left; padding-left: 2px; padding-top: 2px; padding-bottom: 2px; }
.two-col-sim dd { padding-top: 2px; padding-bottom: 2px; border-bottom: 1px solid #E8EFF9; }
.two-col-sim dt strong span{font-weight: normal; color: #505050;}

.two-col-sim-r { color: #000; font-size: 100%; border: none; background-color: transparent; font-weight: normal; width: auto; margin-left: 0; }
.two-col-sim-r dt { color: #505050; font-weight: normal; float: left; margin: 0em; width: 66.25%; text-align: left; padding-left: 2px; padding-top: 2px; padding-bottom: 2px; }
.two-col-sim-r dd { padding-top: 2px; padding-bottom: 2px;  padding-left: 2px; border-bottom: 1px solid #E8EFF9; }
.two-col-sim-r dt strong span{font-weight: normal; color: #505050;}


/* ============= Results menu ============================== */

.selectedanchor{ /*CSS class that gets added to the currently selected anchor link (assuming it's a text link)*/
 /*text-decoration: underline; color:#3380E5; cursor:pointer;*/
 cursor:help; background-color: #FFC;
}

/* ######### Default class for drop down menus ######### */

.anylinkcss{
position: absolute;
left: 0;
top: 0;
visibility: hidden;
border: 1px solid black;
border-bottom-width: 0;
font: normal 12px Tahoma;
line-height: 18px;
z-index: 100; /* zIndex should be greater than that of shadow's below */
width: auto; /* default width for menu */
}

.anylinkcss ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.anylinkcss ul li a{
width: 100%;
display: block;
border-bottom: 1px solid black;
padding: 1px 0;
text-decoration: none;
font-weight: bold;

}

.anylinkcss a:hover{ /*hover background color*/
background: black;
color: white;
}

/* ######### Alternate multi-column class for drop down menus ######### */


.anylinkcsscols{
position: absolute;
left: 0;
top: 0;
visibility: hidden;
border: 1px solid black;
padding: 10px;
font: normal 12px Tahoma;
z-index: 100; /*zIndex should be greater than that of shadow's below*/
background: #FFC;
}

.anylinkcsscols .column{
width: auto;
padding-right: 20px;
float: left;
}

.anylinkcsscols .column ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.anylinkcsscols li{
padding-bottom: 3px;
}

/* ######### class for shadow DIV ######### */


.anylinkshadow{ /*CSS for shadow. Keep this as is */
position: absolute;
left: 0;
top: 0;
z-index: 99; /*zIndex for shadow*/
background: black;
visibility: hidden;
}

.anylinkcsscols p { padding-bottom: 5px;}


 /* ============== OVERRIDE STYLES FOR IE6 ============== */

.prev-next li { border-width: expression( this.previousSibling == null ? "0" : "" ); }
.pl-problem { border-top: 1px solid #E5EEFC: none ?; }
.vital-signs { width: 99%; }
.lab-results{ width: 99%; }
.weight-results{ width: 99%; }
.micro-results{ width: 99%; }
.fluid-balance{ width: 99%; }
.nursing-doc{ width: 99%; }
.home-medications-list .sec-content { height: expression( this.clientHeight > 132 ? "132px" : this.clientHeight + "px"); }

.hideHover {display: none;}      
