html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;vertical-align:baseline;}
:focus{outline:0;}
body{color:#000;background:#FFF;font:normal 13px/1.5em Tahoma,sans-serif;text-align:left;width:100%;}
ol,ul{list-style:none;text-align:left;}
table{border-collapse:separate;border-spacing:0;font:normal 13px Tahoma,sans-serif;}
caption{display:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
script{display:none;}
input{padding:0;margin:0;}
a,a:active,a:link,a:hover{text-decoration:underline;cursor:pointer;color:#3380E5;}
a:visited{background:none;}
a:focus{border:1px dotted #505050;}
hr{display:none;}
table{font-size:100%;width:100%;border-collapse:collapse;}
td{font:13px/1.5em Tahoma,sans-serif;word-wrap:break-word;vertical-align:top;}
th{font:12px/1.2em Tahoma,sans-serif;word-wrap:break-word;vertical-align:bottom;text-align:left;color:#505050;}
.even{background:#F5F7FB;}
.odd{background:#FFF;}
.res-normal a{color:#000;}
.res-severe,.res-severe a{color:#E50D34;font-weight:bold;}
.res-high,.res-high a{color:#FF8013;}
.res-low,.res-low a{color:#0054E7;}
.res-abnormal,.res-abnormal a{color:#976823;}
.hvr .res-high,.hvr .res-low,.hvr .res-abnormal{font-weight:bold;}
.res-modified{background:url(../Images/0594_11.gif) no-repeat center;display:inline-block;width:11px;height:11px;padding-left:2px;}
.res-low .res-ind{background:url(../Images/6303_11.gif) no-repeat center;display:inline-block;width:11px;height:11px;}
.res-high .res-ind{background:url(../Images/6302_11.gif) no-repeat center;display:inline-block;width:11px;height:11px;}
.res-severe .res-ind{background:url(../Images/5278_11.gif) no-repeat center;display:inline-block;width:11px;height:11px;}
.res-abnormal .res-ind{background:url(../Images/AbnormalIcon_11.gif) no-repeat center;display:inline-block;width:11px;height:11px;}
.res-high>.res-ind,.res-low>.res-ind,.res-abnormal>.res-ind,.res-severe>.res-ind{margin:5px .3em 4px 0;}
.res-normal .res-ind{display:none;}
.res-none{display:block;padding-left:1em;zoom:1;}
.res-none-hd,.info-hd,.det-hd{display:none;}
.res-low-icon{background-image:url(../Images/6303_11.gif);background-repeat:no-repeat;text-align:center;background-position:center;}
.res-high-icon{background-image:url(../Images/6302_11.gif);background-repeat:no-repeat;text-align:center;background-position:center;}
.res-severe-icon{background-image:url(../Images/5278_11.gif);background-repeat:no-repeat;text-align:center;background-position:center;}
.unit,.within{font-size:11px;color:#505050;}
.date-time{color:#666;}
.code{font-size:9px;color:#999;}
.row-label{color:#666;}
.detail-line{color:#7C7C7C;}
.hdr{color:#505050;font-size:12px;line-height:1.3em;background:#E8EFF9;vertical-align:bottom;}
.content-hdr{background:#E8EFF9;}
.hdr-scroll{margin-right:15px;}
.sub-title-disp{color:#666;font:normal 12px/1.2em Tahoma,sans-serif;padding-left:4px;background:#E8EFF9;border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;}
.hidden{display:none;}
.important-icon{background:url(../Images/4015_16.gif) no-repeat center;width:16px;height:16px;display:inline-block;margin-right:2px;}
.favHidden{display:none;}
.form-menu{position:absolute;border:1px solid #000;background-color:#FFF;padding:5px;z-index:2000;right:1px;top:20px;width:75%;}
.menu-hide{display:none;}
.section{position:relative;zoom:1;background:none;margin:0 0 10px 0;font:normal 13px Tahoma,sans-serif;}
.sec-hd-tgl{float:right;text-align:center;width:1em;font-size:25px;cursor:pointer;font-weight:normal;}
.sec-hd{font:normal 14px/1.3em Tahoma,sans-serif;display:block;background:url(../images/crnr-left.png) no-repeat 0 0;border-right:1px solid #ADCC92;}
.sec-hd,.sec-hd a{color:#003C74;font-weight:bold;text-decoration:none;}
.sec-hd a:hover{text-decoration:underline;cursor:pointer;color:#3380E5;}
.sec-title{display:inline-block;padding-left:4px;}
.sec-total{color:#505050;font:normal 11px Tahoma,sans-serif;padding-left:6px;text-decoration:none;}
.sec-content{font:normal 13px/1.5em Tahoma,sans-serif;border:1px solid #ADCC92;}
.sub-sec{zoom:1;}
.closed .sec-content,.closed .sub-sec-content,.closed .sub-title-disp{visibility:hidden;position:absolute;}
.closed .sec-hd{display:block;margin:0;border-bottom:2px ridge #E0FFFF;}
.sub-sec-hd{font:normal 12px Tahoma,sans-serif;color:#505050;background:#F3F8EE;padding-left:2px;border-top:1px solid #ADCC92;border-bottom:1px solid #ADCC92;}
.sub-sec-hd-tgl{float:right;text-align:center;width:1em;cursor:pointer;font-weight:normal;}
.add-plus{cursor:pointer;font-weight:normal;font-size:12px;display:inline;}
.add-plus img{vertical-align:middle;}
a.add-plus{font-weight:normal;text-decoration:none;padding-left:4px;}
.add-icon{background:url(../Images/3941.gif) no-repeat center;width:16px;height:16px;display:inline-block;margin-right:2px;}
.pg-hd{padding:2px 0;margin:0 0 1px 5px;color:#003C74;border-bottom:1px solid #E7E7E7;text-align:right;line-height:1.5em;display:block;zoom:1;}
.pg-title{font-weight:bold;display:inline;font-size:16px;float:left;}
.page-ctrl{margin-right:20px;vertical-align:middle;}
#expAll,#custView,#savePrefs,#clearPrefs,#otherAnchors{padding-left:5px;padding-right:5px;}
#banner,#disclaimer{margin-left:5px;}
#disclaimer{margin-bottom:1em;font:normal 10px Tahoma,sans-serif;text-align:left;clear:left;}
.col-group{position:relative;clear:both;float:left;width:100%;background:#FFF;}
.col-outer1,.col-outer2{float:left;width:100%;position:relative;}
.col1,.col2,.col3{float:left;position:relative;padding:0 0 3px 0;overflow-x:hidden;}
.pref-columns .col1,.pref-columns .col2,.pref-columns .col3{float:left;position:static;padding:0 .3% 3px 0;overflow-x:hidden;}
.pref-columns .col-group{padding:0 0 0 2%;}
.three-col .col-outer2{right:34%;}
.three-col .col-outer1{left:33%;}
.three-col .col1{width:32.65%;left:1.25%;}
.three-col .col2{width:33.65%;left:1.5%;}
.three-col .col3{width:32.65%;left:1.75%;}
.two-col .col-outer1{right:50%;}
.two-col .col1{width:49.3%;left:50.5%;}
.two-col .col2{width:49.3%;left:51%;}
.one-col .col1{width:99%;left:.5%;}
.ui-sortable-placeholder{border:1px dotted black;visibility:visible!important;height:50px!important;}
.ui-sortable-placeholder *{visibility:hidden;}
div.suggestions{-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid black;background:white;font-size:.85em;}
div.suggestions div{cursor:default;padding:0 3px;}
div.suggestions div.current{background-color:#36c;color:white;}
.highlight{font-weight:bold;}
.current .det-txt{color:#EFEFEF;}
.det-txt{color:#666;font-size:7pt;font-weight:normal;padding-left:5px;}
.explTxt{font-style:italic;}
.search-box{zoom:1;background-image:url(../images/magnifying-glass.gif);background-repeat:no-repeat;width:91%;padding-left:20px;font-size:.85em;}
.search-box-div{zoom:1;border-bottom:2px solid #ADCC92;padding:2px 0;}
.hvr{background:#FFF;padding:0 5px;z-index:1;margin:-1px 10px 10px 5px;width:400px;line-height:2em;word-wrap:break-word;}
.hvr.hover{position:absolute;display:none;z-index:1000;background-color:#FFC;border:1px solid #000;}
.hvr dt{clear:left;color:#505050;}
.hvr dt span{float:left;margin-left:5px;}
.hvr dd{float:left;display:inline;margin:0 5px;overflow-x:hidden;}
.hvr table{margin:3px 0;}
.cmp-doc{height:16px;width:16px;display:inline-block;}
.has-icon .cmp-doc{background-image:url(../images/3729_16.png);background-repeat:no-repeat;}div.rcm-search-suggestions{-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid black;background:white;font-size:.85em;}
div.rcm-search-suggestions div{cursor:default;padding:0 3px;}
.rcm-search-suggestions{z-index:9999999;}
.rcm-search-suggestions strong{font-weight:bold;}
div.rcm-search-suggestions div.rcm-search-current{background-color:#36c;color:white;position:relative;}
div.detailsToolTip{position:absolute;background-color:#ffc;border:solid 1px #666;font:10px/12px Arial,Helvetica,sans-serif;width:270px;padding:1px;z-index:100;visibility:hidden;color:#333;float:right;layer-background-color:#ffc;}
input.searchText{background-image:url(../images/6428_16.png);background-repeat:no-repeat;padding-left:20px;}
input.searchTextLoading{background-image:url(../images/6439_16.gif);background-repeat:no-repeat;padding-left:20px;}
input.required-search-field{background-color:#FFFCE1;}.expand-collapse-all{float:right; color: #0000FF;text-decoration:underline;cursor:pointer;font-size:14px;margin-right: 25px; display:inline; }.rcm-tab-folder{background-color:#F6F6F6;border-bottom:1px solid black;padding-top:6px;padding-bottom:6px;}
.rcm-tab-folder span.rcm-tab-folder-active{background-color:window;color:#1A4072;border-bottom:none;padding-bottom:9px;}
.rcm-tab-folder span{background-color:#F6F6F6;color:#736F6E;padding:7px 14px 7px 14px;font-size:13px;cursor:default;border-right:1px solid black;border-bottom:1px solid black;border-top:1px solid black;}.nowrap{white-space: nowrap;}
.pg-hd {padding:.25em 0; margin:0 0 .1em .5em; color:#003C74; border-bottom:.1em solid #E7E7E7; text-align:right; line-height:1.5em; display:none;}
/* ======== jQuery overrides =======*/
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: 1; filter:none;}
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: 1; filter:none; color:#cccccc;}
/*========= filter box =========*/
.dswl-sec-hd {font:normal 14px/1.3em Tahoma, sans-serif; display:none; background:url(../images/crnr-left.png) no-repeat 0 0; border-right:1px solid #ADCC92;}
.dswl-filters{float:left; padding-left:4px; padding-bottom:4px;padding-top:2px;width:auto;}
.dswl-patient-list-div{float:left; margin-right:.5em;}
.dswl-patient-list-label {font-size: 12px; color: #666666; float:left; margin-right:.5em;margin-top:1em;}
.dswl-filter-box{text-align:center; border: 1px black solid; width:500px; display:none; background-color:white; position:absolute; top:72px; left:8px;}
.dswl-filter-label {vertical-align:top;}
.dswl-filter-title-bar{background-color:#E6E8F1; text-align:left;width: 100%;padding-top:.5em; padding-bottom:.5em;}
.dswl-filter-title{padding-left:1em; font-size: 15px; font-weight:bold; color:rgb(62,67,129);}
.dswl-filter-subtitle{font-size:12px;}
.dswl-filter{spacing: 5em; clear:both; width: 100%; text-align:right; margin-top:1em; margin-bottom:1em;}
.dswl-filter-encounter-type{vertical-align:top;}
.dswl-filterDropdown{width:200px; margin-right:8em; margin-left: .5em;}
.dswl-filterDate{margin-left: .5em;}
.dswl-filter-checkbox{spacing: 5px; padding: 4px; width: 100%; text-align:left;}
.dswl-filter-checkbox-header{margin-left:.5em;}
.dswl-separator{clear:both; border-top:1px solid rgb(230, 232, 240); border-width:medium; margin-top:.5em; margin-bottom:.5em;}
.dswl-filter-sorting-div{spacing: 5px; padding: 4px; width: 100%; text-align:left;}
.dswl-filter-sorting-header{margin-left:.5em; font-weight:bold; color:rgb(62,67,129);text-decoration:underline;}
.dswl-filter-sorting-dropdown{padding:.5em; text-align:left;}
.dswl-filter-sorting-dropdown input{margin-left:1em;}
#payerFilter{width:175px;  margin-right:8em;}
.dswl-filter-table{float: left; width: 90%;}
.dswl-payer-table-container{width: 200px; margin-right: 7.5em; min-height: 80px; max-height: 80px; overflow-y: scroll; overflow-x: hidden; border-width:2px; border-style:inset;}
.dswl-managerNameHoverOver{background-color:#DDE8F5; cursor: pointer;}
.dswl-X-float-right{float:right;}
.dswl-remove-x{float:right; visibility:hidden; background-image:url(../images/remove_up.png); background-repeat:no-repeat;width:20px; height:20px;}
.dswl-hover-over-remove-x{float:right; visibility:hidden; background-image:url(../images/remove_over.png); background-repeat:no-repeat;width:20px; height:20px;}
.dswl-float-left{float:left;}
.open-list-maintenance-div{margin-top:5px; margin-right:.5em; float:left; cursor:pointer;}
.list-maintenance-img{padding-right:5px; vertical-align: middle;}
.no-patient-lists-image{position:relative; top:20%; margin: 0px auto;}
.no-patient-lists-primary-label{font:18px Tahoma; font-weight:bold; color:#CCCCCC; top:20%; position:relative; padding-top:32px; padding-bottom:12px; margin:0px; }
.no-patient-lists-secondary-label{font:14px Tahoma; color:#9F9F9F; top:20%; position:relative; padding:0px; margin:0px; }
.no-patient-lists-link{font:14px Tahoma; color:#3380EF; top:20%; position:relative; padding:0px; margin:0px; cursor:pointer;}
.no-patient-lists-link.hover{text-decoration:underline;}

.dswl-filter-prmySortLabel{margin-left:1.1em;}
.dswl-filter-prmySortDropdown{margin-left: .5em; width:200px;}
.dswl-filter-secSortDropdown{width:200px; margin-left:.5em;}
.dswl-filter-patientListDropdown{width:200px;}
.dswl-filter-checkbox-save-area {float:left;vertical-align:middle;text-align:left; background-color:#F6F6F6;padding-left:5px;}
.filter-checkbox-config{vertical-align:middle; margin-left:5px; margin-top:5px; margin-bottom:5px; float:left;}
.dswl-filter-button-apply{margin-right:5px;margin-top:5px; margin-bottom:5px;padding:2px;width:80px;float:right;}
.dswl-filter-button-cancel{margin-right:5px; margin-top:5px; margin-bottom:5px; padding:2px;width:80px;float:right;}
.dswl-filter-button-image {width: 20px; height: 20px; margin-top:.25em; margin-left:.5em;margin-right:.5em;background-repeat:no-repeat;}
.dswl-filtersContainer{width:100%; background-color:#E6E8F1;}
.dswl-appliedFilters{font-size: 11px; color: #666666;text-align:left; margin-top:1.5em; padding-left:.1em; padding-right:1em;min-width:35%;word-wrap:break-word;}
.dswl-appliedFiltersPatientCount{float:right;border-left: solid 1px #333333;padding-right:5px;height:100%;width:auto;}
.dswl-patientCountWhitePipeLine{font-size: 11px; color: #666666; text-align:center; border-left: solid 1px #FFFFFF; padding-bottom:4px; padding-top:1.5em;padding-left:1em;height:100%;}
.dswl-surroundAllFloatingDivs{clear:both;}
.dswl-filtersDivClass{width:99%;}
/*============= worklist ==========*/
.dswlworklist-th {font-size: 9px; color: #696969; border-right: 2px solid #EDEDED; background: #F6F6F6; padding:4px;}
.dswlworklist-IndicatorIndent {margin-left:2em;}
.dswlworklist-zebra-striping-blue{background: #F3F6FD;}
.dswlworklist-zebra-striping-white{background: #FFFFFF;}
.dswlworklist-td-border{border-right: 1px solid #EDEDED; padding: 0em .15em .15em .15em;}
.dswlworklist-firstColumnItemFont {font-size: 12px; color: #000000; border-right: 2px; border-right-color: #EDEDED; padding: 0em .15em .15em .15em;}
.dswlworklist-patientName{font-size:12px; font-weight:bold;}
.dswlworklist-alert-image{width: 16px; height: 16px; margin-top:2px; float:left;background-repeat:no-repeat;}
.dswl-note-image-div{float:left; width:26px;}
.dswl-note-image-hidden{width: 20px; height: 17px; margin-top:.45em; float:left; visibility: hidden;}
.dswl-note-image{width: 20px; height: 17px; margin-top:.45em; float:left;}
.dswl-note-image-show{visibility: visible !important;}
.dswl-note-image-edit{visibility: visible !important; border: solid 3px #3797FE !important;}
.dswlworklist-HoverParent{display:inline;}
.dswlworklist-Hover{background-color: #FFFCE1; border: solid 1px #BDBDBD; color: #333333; display: none; position: absolute; z-index: 1000;}
.dswlworklist-HoverLabel{clear:left; color: #505050; margin: 0 5px;}
.dswlworklist-HoverValue{margin-right: 5px;}
.dswlworklist-AlertsHover{color: #333333; margin: 0 5px;}
.dswlworklist-Indentation{text-indent: 4em;}
.dswlworklist-Indentation-small{text-indent: 2em;}
.dswlworklist-Indentation2{text-indent: 15px;}
.dswlworklist-SecondaryBasic{font-size: 12px; color: #666666;}
.dswlworklist-LabelText{font-size: 12px; color: #666666;}
.dswlworklist-HeaderBasic{font-size: 12px; color: #000000; border-right: 2px; border-right-color: #EDEDED; padding: 0em .15em .15em .15em;}
.dswlworklist-HeaderBasicRed{font-size: 12px; color: #CC0000; border-right: 2px; border-right-color: #EDEDED; padding: 0em .15em .15em .15em;}
.dswlworklist-transfer-image{width: 20px; height: 17px; margin-top:.45em; float:left;background-repeat:no-repeat;}
.dswlworklist-VisitLengthBar{width:90%; height: 10px; }
.dswlworklist-VisitLengthPercentage{background-color:rgb(134, 164, 205); height:100%;}
.dswlworklist-UnitsText{font-size: 9px; color: #999999;}
.dswlworklist-UnitsTextRed{font-size: 9px; color: #CC0000;}
.dswlworklist-ribbon-spacing{margin-bottom:5px; padding-right:10px; padding-left:10px; width:310px; margin-left:5px;}
.dswlworklist-Container{height:auto; width:auto;}
.dswlworklist-dashed-line{border: dashed 1px #3797FE;}
.dswlworklist-solid-line{background-color: #F3F6FD; border: solid 3px #3797FE;}
.dswlworklist-transparent-line{border:dashed 1px transparent;}
.dswlworklist-input-select{padding-left:10px; margin-left:5px; padding-top:7.5px; padding-bottom:7.5px; text-align: left}
.dswlworklist-modify-relationship-action-buttons{clear:both;float:left;margin-left:4px}
.dswlworklist-modify-relationship-action-buttons input {width:75px;margin-right:4px;margin-left:4px;margin-top:4px;margin-bottom:4px}
.dswlworklist-modify-action-buttons{clear:both;float:left;margin-left:250px}
.dswlworklist-modify-action-buttons input {width:75px;margin-right:4px;margin-left:4px;margin-top:4px;margin-bottom:4px}
.dswlworklist-modify-dialog {display:none;position:absolute;z-index:1;height:auto;width:auto;padding-right:4px;padding-left:4px;padding-top:4px;padding-bottom:4px;border:solid 3px #3797FE;background-color:white;}
.dswlworklist-modify-dialog input{margin-right:4px;margin-left:4px;margin-top:4px;margin-bottom:4px}
.dswlworklist-modify-dialog select{margin-right:4px;margin-left:4px;margin-top:4px;margin-bottom:4px}
.dswlworklist-next-review-date-container{width:97%;}
.dswlworklist-next-review-date-label{height:98%; float:left;}
.dswlworklist-next-review-date-img-container{float:right; visibility:hidden;}
.dswlworklist-next-review-date-link{background-repeat:no-repeat; width:20px; height:20px;}
.dswlworklist-encounterCol{display:none;}
.dswlworklist-versionCol{display:none;}
.dswlworklist-patientIdCol{display:none;}
.dswlworklist-documentation-specialists-table{width:200px;}
.dswlworklist-documentation-specialists-numbers{margin-left:4px; margin-right:4px;}
.dswlworklist-dsNameHoverOver{background-color:#DDE8F5; cursor: pointer;}
.dswlworklist-float-left{float:left;}
.dswlworklist-X-float-right{float:right;}
.dswlworklist-remove-x{float:right; visibility:hidden; background-image:url(../images/remove_up.png); background-repeat:no-repeat;width:20px; height:20px;}
.dswlworklist-hover-over-remove-x{float:right; visibility:hidden; background-image:url(../images/remove_over.png); background-repeat:no-repeat;width:20px; height:20px;}
.dswlworklist-dialog {padding:5px; color: black; z-index:6; border: 1px black solid; height:160px; width:350px; background-color:white; position:fixed;left:40%; display:none;}
.dswlworklist-dialog-title-bar {background-image:url(../images/H2_header_center.png); background-repeat:none; font-weight:bold; font-size:12px; color:#3E3E3E; height: 20px; width: 100%;}
.dswlworklist-dialog-message-area {margin: 5px; height:100px;font-size:15px;}
.dswlworklist-dialog-buttons {border-top:1px solid #C9DFE5; height:20px;}
.dswlworklist-dialog-buttons input {float:right; margin-right:5px; margin-top: 5px; width:40px;font-size:12px;color:rgb(62,67,129);}
.dswlWorklist-note-delete-buttons {border-top:1px solid #C9DFE5; height:20px;}
.dswlWorklist-note-delete-buttons input {float:right; margin-right:5px; margin-top: 5px; width:75px;font-size:12px;color:rgb(62,67,129);}
.dswlworklist-plain-font{color:#000000;}
.dswlworklist-plain-bold-font{color:#000000; font-weight:bold;}
.dswlworklist-alert-font{color:red; font-weight:bold;}
.dswlworklist-docSpecIndent{margin-left: .15em;}
.dswlWorklist-bottom-spacing{margin-bottom:5px;}
.searchTextSpacing {margin-top:6px;width:150px;}
.transDiv{position:fixed; top:0; left:0; bottom:0; right:0; z-index:5; display:none; margin:0; padding:0; overflow: hidden; background-image: url(../images/transparent.png); background-repeat: repeat;}
.dswlWorklist-note-hover {display:none;position:absolute;z-index:1;height:auto;width:auto;padding-right:4px;padding-left:4px;padding-top:4px;padding-bottom:4px;border:solid 3px #3797FE;background-color:white;}
.dswlWorklist-note-extra {display:none;position:absolute;z-index:1;height:auto;width:auto; background-image:url(../images/completeTransparent.png); background-repeat:repeat; margin-left:3px;}
.dswlWorklist-note-extra-inner{width:438px; height: 20px;}
.dswlWorklist-persist-hover{background-color: #FFFCE1; border: solid 1px #BDBDBD; color: #333333; display: none; position: absolute; z-index: 2;}
.dswlWorklist-note{min-height:45px;}
.dswlWorklist-note-odd{background-color:#f5f6fa;}
.dswlWorklist-note-container{border:solid 2px #F0F0F0; margin-top:12px;}
.dswlWorklist-note-text{padding-left: 1em; font-weight: bold; font-size: 12px;  overflow: hidden; word-wrap: break-word; margin-right: 3em;}
.dswlWorklist-note-prsnl{font-size: 10px; padding-left: 3.5em; padding-top: .5em; color:#A0A0A0;float: left; width: 30%;}
.dswlWorklist-note-type{font-size: 10px; padding-left: 3.5em; padding-top: .5em; color:#A0A0A0;float: left; width: 25%;}
.dswlWorklist-save-date{ font-size: 10px; padding-left: 3.5; color:#A0A0A0; padding-top: .5em; width: 20%}
.dswlWorklist-flag{float: left; width: 20px; height: 20px;}
.dswlWorklist-FlagHidden{visibility: hidden;}
.dswlWorklist-note-dialog{width:450px;}
.dswlWorklist-note-separator{width: 454px; height: 0; margin-top:10px; border-bottom:solid 3px gray;}
.dswlWorklist-note-hover-menu{float: right; visibility: hidden;}
.dswlWorklist-note-delete-image{height: 15px; width: 15px;}
.dswlWorklist-note-edit-image{height: 20px; width: 20px;}
.dswlWorklist-note-edit-textarea{width: 430px; height: 5em; overflow-x: hidden; overflow-y: auto;}
.dswlWorklist-note-edit-checkbox-container{padding-top:.5em; padding-bottom:.5em; padding-right:.5em;}
.dswlWorklist-note-edit-checkbox-label{position: relative; vertical-align: middle; bottom:1px;}
.dswlWorklist-note-edit-important-container{float:left;}
.dswlWorklist-note-edit-persist-container{padding-left:5em; float:left;}
.dswlWorklist-note-edit-container{padding-left:.5em;}
.dswlWorklist-note-edit-button-container{float:right; padding-right: 6px; padding-top:1em;}
.dswlWorklist-note-edit-button{width:75px;margin-right:4px;margin-left:4px;margin-top:4px;margin-bottom:4px;}
.dswlWorklist-note-edit-clear{clear:both;}
.dswlWorklist-no-notes{text-align: center;}
.noWorklistContainer{text-align:center; width:auto; height:600px; background:#FFFFFF; position:relative; padding:0px; margin:0px;}
label.simulate-anchor{color:#3380e5; text-decoration:underline; cursor:pointer;}
#addNoteDiv{padding-left: 1%; float:left; width: 30%;}
#noteCountDiv{float:right; padding-right: 1%; display:none;}.um-ribbon-outer-div{height:30px;padding:0;overflow:visible;cursor:pointer;width:292px;}
.um-ribbon-main-div{width:290px;height:30px;border:1px solid black;float:left;background-color:white;}
.um-los-div{height:30px;float:left;margin:0;}
.um-ribbon-line-div{float:left;position:relative;margin-left:-1px;overflow:visible;width:1px;z-index:0;display:block;}
.um-ribbon-vertical-line-div{border-left:solid 1px black;height:32px;margin-right:-1px;}
.um-ribbon-line{padding-top:1px;}
.um-edd-line-icon{position:relative;vertical-align:top;top:9px;left:-6px;}
.um-auth-line-icon{position:relative;vertical-align:top;left:-5px;}
.um-elos-line-icon{position:relative;vertical-align:top;left:-6px;top:20px;}
.um-exceeded-los-div{height:30px;width:290px;background-color:#fe0001;cursor:pointer;}
.um-exceeded-text-div{color:white;font-weight:bold;text-align:right;padding-right:10px;height:100%;padding-top:5px;}
.um-ribbon-labels{font:normal 9px;color:#999;padding-right:5px;}
.um-los-spacing{margin-right:5px;}
.um-auth-los-table{width:250px;}
.um-los-bold{font-weight:bold;}
.um-los-bold-red{font-weight:bold;color:#C00;}
.um-bottom-spacing{margin-bottom:5px;}
.um-ribbon-load-img{height:28px;width:28px;margin-left:131px;}
.um-ribbon-area-div{width:290px;cursor:pointer;}
.um-pop-out-div{z-index:3;position:absolute;max-width:400px;}
.um-pop-out-outer{background-color:#EBECED;border:1px solid #888F95;padding:2px;}
.um-pop-out-hidden{display:none;}
.um-pop-out-inner{background-color:white;border:1px solid #A7ACB1;padding:10px;}
.um-horizontal-line{border-top:1px solid darkgray;height:2px;}
.um-pop-out-img-space{margin-right:3px;}
.um-pop-out-top-img{position:relative;display:block;margin-bottom:-1px;margin-left:-12px;left:50%;}