/* COLOR SET:
	#2680E9 - modified information text color (match icons)
	#505050 - "light" text
	#7C7C7C - "lighter" text and table borders
	#F6F6F6 - background gray
	#67747C - scroll button color
*/
body {
    margin: 0px;
    font-family: Tahoma, Sans-Serif;
    font-size: 9pt;
    overflow: hidden;
}

/************************/
/* Regimen Title Bar    */
/************************/
div.regimenTitleBar {
    display: table;
    background: #F6F6F6;
    width: 100%;
}

div.expandCollapse {
    display: table-cell;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #7C7C7C;
}

div.regimenTitleText {
    display: table-cell;
    font-weight: bold;
    vertical-align: middle;
    border-bottom: 1px solid #7C7C7C;
}

/*** Filter Dropdown Menu ***/
div.filterMenu {
    display: table-cell;
    text-align: right;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    width: 19px;
    border-bottom: 1px solid #7C7C7C;
}

div.filterMenuOpen {
    display: table-cell;
    text-align: right;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 10px;
    padding-left: 10px;
    width: 19px;
    border: 1px solid black;
    border-bottom: solid 0px;
    background-color: White;
}

div.filterMenu > img {
    vertical-align: baseline;
}

.dropdown {
    position: absolute;
    z-index: 9999999;
    display: none;
}

    .dropdown .dropdown-menu {
        min-width: 165px;
        max-width: 165px;
        background: #FFF;
        cursor: default;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

.menuListItem {
    display: block;
    width: 100%;
}

.hoveredMenuListItem {
    display: block;
    width: 100%;
    background-color: #568ECB;
}

.menuCheckmark {
    display: inline-block;
    min-width: 16px;
    vertical-align: middle;
}

.menuText {
    display: inline-block;
}

.hoveredMenuText {
    display: inline-block;
    color: #FFFFFF;
}

div.menuTopBorder {
    display: table;
    width: 100%;
}

div.menuTopBorderLeft {
    display: table-cell;
    height: 3px;
    border-top: 1px solid black;
    width: 100%;
}

div.menuTopBorderRight {
    display: table-cell;
    height: 3px;
    min-width: 39px;
}

.dropdown-divider {
    display: block;
    border-top: solid 1px #E5E5E5;
    color: #EDEDED;
}

.dropdown dropdown-tip.dropdown-open {
    background: #888;
    color: #FFF;
}

    .dropdown dropdown-tip.dropdown-open:after {
        color: #FFF;
    }


/************************/
/* Tabs                 */
/************************/
div.tabBar {
    display: table;
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #000000;
    background-color: #DDDDDD;
}

div.tabScrollButton {
    display: table-cell;
    width: 12px;
    vertical-align: middle;
    border: 1px solid #67747C;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #67747C;
    background: linear-gradient(#7E8D98, #67747C);
    cursor: default;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

div.tabScrollButtonDisabled {
    border: #7C7C7C;
    background-color: #B0B0B0;
    background: #B0B0B0;
    cursor: default;
}

div.tabs {
    display: table-cell;
    white-space: nowrap;
    overflow: hidden;
}

div.tab {
    display: inline-block;
    margin: 5px;
    border: 1px solid #A0A0A0;
    padding-right: 5px;
    background-color: #F6F6F6;
    border-radius: 5px;
    vertical-align: top;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
}

div.tabHovered, div.tabSelected {
    background-color: #FFFFFF;
    border: 1px solid #0D9FD2;
}

div.tabMarker {
    float: left;
    display: inline-block;
    background: #FF6600;
    height: 100%;
    width: 8px;
    margin-right: 5px;
}

div.tabMarkerNoVariance {
    float: left;
    display: inline-block;
    height: 100%;
    width: 8px;
    box-sizing: border-box;
}

div.tabContents {
    display: inline-table;
    width: calc(100% - 13px);
    box-sizing: border-box;
    padding: 3px;
}


div.tabTitleRow {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

div.tabTitle {
    display: table-cell;
    vertical-align: top;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div.tabTitleFull {
    display: none;
}

div.tabInfoRow {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

div.tabSubTitle {
    display: table-cell;
    vertical-align: top;
    min-width: 40px;
    padding-right: 5px;
}

div.tabDate {
    display: table-cell;
    color: #505050;
    vertical-align: top;
}

div.tabCompare {
    display: table-cell;
    vertical-align: middle;
}

div.tabCompareText {
    display: inline-block;
    padding-top: 1px;
    font-size: 75%;
    vertical-align: top;
    padding-top: 3px;
}

div.tabIconRow {
    display: table;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
}

div.tabOrders {
    display: table-cell;
    min-width: 40px;
}

div.tabDetails {
    display: table-cell;
    min-width: 60px;
    padding-left: 15px;
}

div.tabStatus {
    display: table-cell;
    min-width: 60px;
    padding-left: 15px;
}

div.categoryText {
    border-bottom: 1px solid #DDDDDD;
    font-size: 80%;
    color: #505050;
    margin-bottom: 2px;
}

div.tabNoVarianceText {
    display: table-cell;
    height: 32px;
    color: #505050;
    font-size: 80%;
    vertical-align: middle;
    padding-left: 2px;
}

div.tabImage {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: top;
    padding-left: 2px;
    padding-right: 2px;
}

/************************/
/* Pages                */
/************************/
div.infoPane {
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
}

div.page {
    display: table;
    width: 100%;
}

/*** Title Row ***/
div.pageTitles {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

div.varianceTitle {
    display: table-cell;
    width: 80%;
    box-sizing: border-box;
    padding: 2px 5px;
    vertical-align: bottom;
    font-weight: bold;
    border-bottom: 1px solid #DDDDDD;
    vertical-align: middle;
}

div.titleIcon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 4px;
}

div.hasVarianceTitleIcon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #FF6600;
}

div.noVarianceTitleIcon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

div.protocolTitle {
    display: table-cell;
    width: 20%;
    box-sizing: border-box;
    border-right: 1px solid #DDDDDD;
    padding: 2px 5px;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: bold;
    border-bottom: 1px solid #DDDDDD;
}

/* Information Rows*/
div.noVariancePageRow {
    display: table-row;
    width: 100%;
    box-sizing: border-box;
}

div.pageRowScrollContainer {
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

div.pageRow {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

div.pageRowChild {
    display: table-row;
    width: 100%;
    box-sizing: border-box;
}

div.details {
    display: table-cell;
    width: 80%;
    box-sizing: border-box;
    padding: 4px 5px;
}

div.varianceTypeIcon {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    padding-top: 2px;
}

    div.varianceTypeIcon > img {
        padding-right: 2px;
    }

div.detailText {
    display: table-cell;
    vertical-align: middle;
    padding-left: 2px;
}

div.itemName {
    display: inline;
    padding-right: 4px;
}

div.changedDetails {
    display: inline;
    font-weight: bold;
}

div.doseAdjustmentText {
	display: inline;
	color: #FF0000;
}

div.unchangedDetails {
    display: inline;
    color: #7C7C7C;
}

div.unchangedDetailsVisible {
    visibility: visible;
}

div.phaseNames {
    display: inline;
    color: #505050;
    font-style: italic;
}

div.protocol {
    display: table-cell;
    width: 20%;
    box-sizing: border-box;
    border-right: 1px solid #DDDDDD;
    padding: 4px 5px;
    vertical-align: middle;
}

div.protocolText {
}

div.detailTypeSeparator {
    display: inline;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

div.pageRowSpacer{
    display: inline;
    padding-left: 2px;
}

/************************/
/* Comparison Page      */
/************************/

div.comparePage {
}

div.comparePageTitles {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

/* Title Row*/
div.leftCompareTitle {
    display: table-cell;
    width: 40%;
    box-sizing: border-box;
    vertical-align: middle;
    border-bottom: 1px solid #DDDDDD;
}

div.rightCompareTitle {
    display: table-cell;
    width: 40%;
    box-sizing: border-box;
    vertical-align: middle;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

div.compareTitle {
    display: inline;
    float: left;
    font-weight: bold;
    padding: 2px 5px;
}

div.compareClose {
    display: inline;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 80%;
    color: #7C7C7C;
    cursor: default;
    vertical-align: middle;
    font-weight: normal;
}

/* Comparison Rows */
div.compareRows {
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

div.leftCompareDetails {
    display: table-cell;
    width: 40%;
    box-sizing: border-box;
    padding: 4px 5px;
}

div.rightCompareDetails {
    display: table-cell;
    width: 40%;
    box-sizing: border-box;
    border-left: 1px solid #DDDDDD;
    padding: 4px 5px;
}

/************************/
/* Tooltip              */
/************************/
div.tooltip {
    display: none;
    position: absolute;
    z-index: 99;
    border: 1px solid #A0A0A0;
    padding: 10px;
    background: #FFFCE0;
    max-width: 400px;
    top: 0;
    left: 0;
    overflow: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3,Direction=135,Color='#A0A0A0')"; /* IE8 Drop Shadows*/
    box-shadow: 3px 3px 2px rgba(0,0,0,0.2); /* Other Browsers Drop Shadows */
    border-radius: 3px;
}

div.tooltipTitle {
    border-bottom: 1px solid #A0A0A0;
    font-weight: bold;
    vertical-align: middle;
}

div.tooltipIcon {
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    text-align: right;
}

div.tooltipItemName {
    display: inline;
    font-weight: bold;
    vertical-align: middle;
}

div.tooltipDetailRow {
    width: 100%;
    box-sizing: border-box;
    padding-top: 2px;
}

div.tooltipDetailRowChild {
    width: 100%;
    box-sizing: border-box;
    padding-top: 2px;
}

div.tooltipDetails {
    padding-left: 20px;
}

div.tooltipChangedDetails {
    display: inline;
    color: #117AD9;
}

div.tooltipUnchangedDetails {
    display: inline;
}

div.tooltipProtocol {
    display: inline;
    color: #797979;
}

div.tooltipTruncatedText {
    display: inline;
    font-style: italic;
}
