html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;vertical-align:baseline;}
:focus{outline:0;}
body{color:#000;background:#FFF;font:normal 13px / 1.5em Tahoma,sans-serif;text-align:left;width:100%;}
table{border-collapse:separate;border-spacing:0;font:normal 13px Tahoma,sans-serif;}
caption{display:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
script{display:none;}
input{padding:0;margin:0;}
a,a:active,a:link,a:hover{text-decoration:underline;cursor:pointer;color:#3380E5;}
a:visited{background:none;}
a:focus{border:1px dotted #505050;}
hr{display:none;}
table{font-size:100%;width:100%;border:#c0c0c0 solid 1px;border-collapse:collapse;}
td{font:12px/1.5em Tahoma,sans-serif;word-wrap:break-word;vertical-align:top;border:#c0c0c0 solid 1px;}
th{font:10px / 1.5em Tahoma,sans-serif;word-wrap:break-word;vertical-align:bottom;text-align:left;color:#505050;background:#F6F6F6;border:#c0c0c0 solid 1px;padding:5px 0 0 5px;}
.even{background:#e9edf5;}
.odd{background:#FFF;}
.disclaimer{font:normal 10px Tahoma,sans-serif;text-align:left;clear:left;}
.res-severe,.res-severe a{color:#E50D34;font-weight:bold;}
.res-high{color:#FF8013;font-weight:bold;}
.res-low{color:#0054E7;font-weight:bold;}
.res-none{display:block;padding-left:1em;zoom:1;}
.res-none-hd,.info-hd,.det-hd{position:absolute;visibility:hidden;}
.unit,.within,.date-time{font:normal 11px Tahoma,sans-serif;color:#505050;}
.hdr{color:#505050;font:normal 12px / 1.2em Tahoma,sans-serif;background:#E8EFF9;vertical-align:bottom;}
.sub-title-disp{color:#003C74;font:normal 12px/1.2em Tahoma,sans-serif;background:#E8EFF9;border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;}
.hidden{display:none;}
.favHidden{display:none;}
.form-menu{position:absolute;border:1px solid #000;background-color:#FFF;padding:5px;z-index:2000;right:1px;top:20px;width:75%;}
.menu-hide{display:none;}
.section{position:relative;zoom:1;background:none;margin:0 0 10px 0;font:normal 13px Tahoma,sans-serif;}
.sec-hd-tgl{float:right;padding:5px 5px 0 0;text-align:center;width:1em;font-size:25px;cursor:pointer;font-weight:normal;background:url(../images/6364_up.png) no-repeat center;text-indent:-5000px;}
.sec-hd{font:normal 13px/1.3em Tahoma,sans-serif;display:block;background:url(../images/GH1_header_center.png) 0 0;border-right:1px solid #ADCC92;height:26px;}
.sec-hd,.sec-hd a{color:#4D4D4D;font-weight:bold;text-decoration:none;}
.sec-hd a:hover{text-decoration:underline;cursor:pointer;color:#3380E5;}
.sec-title{display:block;padding:5px 0 0 5px;vertical-align:middle;}
.sec-total{color:#505050;font:normal 11px Tahoma,sans-serif;padding-left:6px;text-decoration:none;}
.sec-content{font:normal 13px/1.5em Tahoma,sans-serif;border:1px solid #ADCC92;}
.closed .sec-content,.closed .sub-sec-content,.closed .sub-title-disp{visibility:hidden;position:absolute;}
.closed .sec-hd{display:block;margin:0;border-bottom:2px ridge #E0FFFF;}
.closed .sec-hd-tgl{float:right;padding:5px 5px 0 0;text-align:center;width:1em;font-size:25px;cursor:pointer;font-weight:normal;background:url(../images/6364_down.png) no-repeat center;text-indent:-5000px;}
.sub-sec-hd{font:normal 12px Tahoma,sans-serif;color:#505050;background:#F3F8EE;padding-left:2px;border-top:1px solid #ADCC92;border-bottom:1px solid #ADCC92;}
.sub-sec-hd-tgl{float:right;text-align:center;width:1em;cursor:pointer;font-weight:normal;}
.add-plus{cursor:pointer;font-weight:normal;font-size:12px;}
.add-plus img{vertical-align:middle;}
a.add-plus{font-weight:normal;text-decoration:none;padding-left:4px;}
#PAGE_TAB_01{display:block;}
#PAGE_TAB_02{display:none;}
#PAGE_TAB_03{display:none;}
#PAGE_TAB_04{display:none;}
.tabmenu{margin-left:.75em;margin-bottom:.1em;border-bottom:1px 000 solid;}
.tabmenu li{display:inline;overflow:hidden;list-style-type:none;margin-bottom:1em;}
.tabmenu a.active{background-image:url(../images/tab_active.gif);background-repeat:no-repeat;height:1em;}
.tabmenu a.active:link{color:#003C74;font:bold 14px Tahoma;padding:2px 2px 0 2px;text-decoration:none;}
.tabmenu a.active:visited{color:#003C74;font:bold 14px Tahoma;padding:2px 2px 0 2px;text-decoration:none;}
.tabmenu a.active:active{color:#003C74;font:bold 14px Tahoma;padding:2px 2px 0 2px;text-decoration:none;}
.tabmenu a.active:hover{color:#003C74;font:bold 14px Tahoma;padding:2px 2px 0 2px;text-decoration:none;}
.tabmenu a.inactive{background-image:url(../images/tab_inactive.gif);background-repeat:no-repeat;height:1em;}
.tabmenu a.inactive:link{color:#B3B3B3;font:14px Tahoma;padding:2px 12px 0 2px;text-decoration:none;}
.tabmenu a.inactive:visited{color:#B3B3B3;font:14px Tahoma;padding:2px 12px 0 2px;text-decoration:none;}
.tabmenu a.inactive:active{color:#B3B3B3;font:14px Tahoma;padding:2px 12px 0 2px;text-decoration:none;}
.tabmenu a.inactive:hover{color:#B3B3B3;font:14px Tahoma;padding:2px 12px 0 2px;text-decoration:none;}
.content{font:14px/1.3em Tahoma,Helvetica,sans-serif;padding:5px;width:100%;border-top:none;z-index:2;}
.content a{text-decoration:underline;color:#DEDECF;}
.content a:hover{color:#3380E5;}
.rightElement{text-align:right;}
.pg-hd{padding:2px 0;margin:0 0 1px 5px;color:#003C74;border-bottom:1px solid #E7E7E7;text-align:right;line-height:1.5em;display:block;zoom:1;}
.pg-title{font-weight:bold;display:inline;font-size:16px;float:left;}
.page-ctrl{margin-right:20px;vertical-align:middle;}
#expAll,#custView,#savePrefs,#clearPrefs{padding-left:5px;padding-right:5px;}
#banner{margin-bottom:1em;margin-left:5px;}
.col-group{position:relative;clear:both;float:left;width:100%;background:#FFF;}
.col1,.col2,.col3,#clg_sidebar{float:left;position:relative;padding:0 0 3px 0;}
.three-col .col1{width:25.65%;left:1%;}
.three-col .col2{width:25.65%;left:1.5%;}
.three-col .col3{width:25.65%;left:2%;}
.two-col .col1{width:38.8%;left:1%;}
.two-col .col2{width:38.8%;left:1.5%;}
.one-col .col1{width:79%;left:.5%;}
.clg_sidebar{width:20%;}
.hvr{background:#FFF;padding:0 5px;z-index:1;margin:-1px 10px 10px 5px;width:400px;line-height:2em;word-wrap:break-word;}
.hvr.hover{position:absolute;display:none;z-index:1000;background-color:#FFC;border:1px solid #000;}
.hvr dt{clear:left;color:#505050;}
.hvr dt span{float:left;margin-left:5px;}
.hvr dd{float:left;display:inline;margin:0 5px;overflow-x:hidden;}
.hvr table{margin:3px 0;}
#clg_sidebar{background:#f6f6f9;border-right:#808080 solid 1px;}
#clg_sidebar input,#clg_sidebar select,#species_select{height:22px;width:90%;outline:solid 1px #808080;z-index:20;}
.search_box{font:15px/1.6em Tahoma,sans-serif;padding:0 10px 20px 10px;}
#curOrgName{background:#E6E7F0;color:#000;font:16px/1.6em Tahoma,sans-serif;font-weight:bold;padding-left:10px;}
#curLocText{padding-left:10px;}
#globalORGSelect,#globalORGSelect a,#globalORGSelect a:link,#globalORGSelect a:visited{color:#32B3F2;text-decoration:none;text-align:right;padding-right:5px;}
#globalORGSelect a:hover{text-decoration:underline;}
#labInfo{padding-left:10px;margin-top:10px;}
.synstring{font:10px Tahoma,sans-serif;margin-top:5px;}
#species_select{width:50%;margin-bottom:10px;}
.data_info td{padding-left:5px;}
.first_col{padding-left:16px;}
.first_col_alt_collapsed_even{background:#e9edf5 url(../images/5323_collapsed_16.png) no-repeat left bottom;vertical-align:baseline;padding-left:16px;}
.first_col_alt_expanded_even{background:#e9edf5 url(../images/5323_expanded_16.png) no-repeat left bottom;vertical-align:baseline;padding-left:16px;}
.first_col_alt_collapsed_odd{background:#FFF url(../images/5323_collapsed_16.png) no-repeat left bottom;vertical-align:baseline;padding-left:16px;}
.first_col_alt_expanded_odd{background:#FFF url(../images/5323_expanded_16.png) no-repeat left bottom;vertical-align:baseline;padding-left:16px;}
.alt_col_even{background:#e9edf5 url(../images/lab/alt_container_16.png) no-repeat right bottom;vertical-align:baseline;padding-left:16px;padding-right:16px;}
.alt_col_odd{background:#FFF url(../images/lab/alt_container_16.png) no-repeat right bottom;vertical-align:baseline;padding-left:16px;padding-right:16px;}
.data_info .data_table_section_head{background:#CCDCED url(../images/5323_expanded_16.png) no-repeat left bottom;vertical-align:baseline;padding-left:16px;}
.units{font:11px/.69em Tahoma,Helvetica,sans-serif;color:#A0A0A0;}
.data_table_container{margin:5px 5px 5px 5px;}
.seg_header{font:13px/1.62em Tahoma,Helvetica,sans-serif;color:#3E3E3E;}
.seg_sect{margin-top:15px;margin-bottom:10px;}
.seg_body{padding-left:20px;}
.seg_header a,.seg_header a:link,.seg_header a:visited{color:#32B3F2;text-decoration:none;}
.seg_header a:hover{text-decoration:underline;}
#ref_range_par .seg_body,#coll_reqs_par .seg_body{padding-left:0;}
.sec-content{padding:0 5px 5px 5px;}
.seg_body ul li{margin-left:20px;}
.seg_body ul ul li{margin-left:40px;}
.seg_body ul ul ul li{margin-left:60px;}
.seg_body ul ul ul ul li{margin-left:80px;}
.seg_body ul ul ul ul ul li{margin-left:100px;}
.seg_body ol li{margin-left:20px;}
.seg_body ol ol li{margin-left:40px;}
.seg_body ol ol ol li{margin-left:60px;}
.seg_body ol ol ol ol li{margin-left:80px;}
.seg_body ol ol ol ol ol li{margin-left:100px;}
#species_div{font:15px/1.6em Tahoma,sans-serif;}
#custView{display:none;}
#disclaimer{display:none;}
#confirmDialog{position:fixed;display:none;z-index:9951;padding:10px 10px 30px 10px;border:solid #ceceff 2px;background-color:#efefef;_position:absolute;}
#confirmDialog .plainText{overflow:auto;height:400px;}
#confirmDialog .plainText input,#confirmDialog .question input{float:right;}
#confirmDialog h4{font:bold 14px / 20px Tahoma;}
.data-main-table-container{position:relative;}
.data-table-container{position:relative;overflow-x:scroll;overflow-y:hidden;overflow-x:scroll\9;overflow-y:scroll\9;*overflow:auto;height:200px\9;}
.data-table{margin:auto;width:99%;background-color:#F7F7F7;_width:auto;}
.data-table td,.data-table th{padding:0 12px 0 2px;white-space:nowrap;}
.data-evenrow{background-color:#EFEFEF;}
.data-oddrow{background-color:#fff;}
.data-row-hover{background-color:#b6d1fa;}
.data-table-control{position:relative\9;height:20px;background-color:#cdcdcd;top:expression(this.offsetParent.scrollTop);}
.fillme{background-color:#cdcdcd;}
.data-table-control input{font:normal 11px Tahoma;}
.data-table-control li{float:left;padding:0 0 0 15px;}
.data-table thead tr{*position:absolute;top:expression(this.offsetParent.scrollTop+20);cursor:pointer;background-color:#cdcdcd;margin-right:50px;}
.data-table thead th{font:normal 11px Tahoma;}
.data-table tbody{margin-top:50px;height:200px;overflow-y:scroll;overflow-x:hidden;overflow-y:scroll\9;overflow-x:hidden\9;max-height:none\9;height:200px\9;*overflow:auto;*height:auto;}
.data-table tbody tr:first-child td{*padding-top:18px;}
.data-table td.firstChild{_padding-top:18px;}
.rowSelected,.rowSelectedMajor{background:#aaf;}
.data-table-noctrl{margin:auto;width:100%;}
.data-table-noctrl td,.data-table-noctrl th{padding-right:12px;white-space:nowrap;}
.data-table-noctrl thead tr{background-color:#cdcdcd;}
.data-table-noctrl thead th{font:normal 11px Tahoma;}
th.headerSortUp{background:url(../images/lab/asc.gif) #c0c0c0 no-repeat center right;}
th.headerSortDown{background:url(../images/lab/desc.gif) #c0c0c0 no-repeat center right;}
.hvr{position:absolute;display:none;z-index:1000;background-color:#FFC;border:1px solid #000;}
.closed .sec-content *,.closed .sub-sec-content,.closed .sub-title-disp{visibility:hidden;position:absolute;}
.orderwindow{position:absolute;left:0;top:0;display:none;z-index:9950;padding:10px 10px 30px 10px;border:solid #ceceff 2px;width:60%;}
.orderwindow h4{font:bold 14px/20px Tahoma;}
#order_dialog{background-color:#efefef;}
.data-table thead tr{top:expression(this.offsetParent.scrollTop);}
#srbox a{color:#333;text-decoration:none;}
#srbox a:hover{color:#400080;text-decoration:none;}
#srbox{height:400px;overflow:auto;border:2px solid #3d4569;position:relative;background:#fff;}
#mask{position:absolute;left:0;top:0;z-index:9000;background-color:#fff;display:none;}
.srwindow{position:absolute;left:0;top:0;width:400px;height:550px;display:none;z-index:9950;padding:10px 10px 30px 10px;border:solid #ceceff 2px;}
.srwindow h4{font:bold 14px/20px Tahoma;}
#srdialog{width:500px;height:450px;background-color:#efefef;}
#srdialog .window h4{font:bold 14px/20px Tahoma;}
.close_label{float:right;background:url(../images/lab/closelabel.png) #f7f8fb no-repeat right;border:2px solid #FFF;margin-top:5px;}
.close_label a{padding-right:25px;color:#003C74;text-align:center;padding-left:2px;text-decoration:none;font:bold 14px/20px Tahoma;}
.atreecontrol ul li{float:left;color:#003C74;font:bold 14px/20px Tahoma;list-style-type:none;}
.atreecontrol ul li,.atreecontrol ul li a,.atreecontrol ul li a link,.atreecontrol ul li a visited,.atreecontrol ul li a active,.atreecontrol ul li a span{color:#003C74;text-decoration:none;}
.atreecontrol{height:25px;}
#tv-plus{margin-left:15px;}
.srSearch{display:inline;float:right;text-align:center;padding-left:25px;}
#navtoolbar li{float:left;padding-left:25px;}
#top-links ol,#top-links ul{list-style:none;text-align:left;}
body{font-family:"Trebuchet MS",Tahoma,Verdana,sans-serif;}
#top-links a{color:#3380E5;text-decoration:none;}
#top-links a:hover{text-decoration:underline;}
#pg-wrapper{text-align:left;width:100%;}
#cerner-logo{background:url(../images/web/cerner-logo.jpg) no-repeat;height:30px;width:109px;margin-left:5px;text-indent:-9999px;float:left;color:#21345f;display:inline;}
#top-links{font-size:10px;float:right;margin:8px 0 0;display:inline;padding-right:20px;}
.pipe{color:#666;padding:0 10px;}
#top-links ul li{float:left;}
#pg-wrapper{background:#fff url(../images/web/green-banner.jpg) repeat-x top center;}
.jive-widget:after,.clearfix:after{clear:both;content:"'";display:block;font-size:0;height:0;overflow:hidden;visibility:hidden;}
.clearfix{min-height:0;}
/* for IE<7 \*/ * html .clearfix{height:1%;}
/* for IE-mac(snicker) */ /*\*//*/ .clearfix{display:inline-table;}
/**/