.pg-hd,.sec-hd-tgl,.fieldlabel,#input-procedure,#globalORGSelect,#banner-bar{display:none;}
.sec-hd{background:none;border:none;}
.sec-title{font-size:14px;}
#specimen_select,#rpt_priority_select,#species_select,.sec-content{border:none;}
#clg_sidebar{border:0;}
#proc_comp_data,#method_data,#pricing_data,#interpre_data{display:block!important;}
#synstring{display:block;font:inherit;font-size:100%;font-style:inherit;position:relative;top:-30px;}
#specimen_div,#rpt_priority_div{position:relative;top:-50px;}
.search_box{height:140px;}
*{float:none!important;}
.col-outer1{width:100%;left:.5%;}
.three-col .col1{width:100%;}
.three-col .col2{width:100%;}
.three-col .col3{width:100%;}
.two-col .col1{width:100%;}
.two-col .col2{width:100%;}
.one-col .col1{width:100%;}
.clg_sidebar{width:100%;}