	/* ============== CSS RESET ============== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
	    big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt,
	    dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	    margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; vertical-align:baseline;}
	:focus {outline:0;}
	body {color:#000; font:normal 12px/1.5em Tahoma, Geneva, Verdana, Trebuchet MS, sans-serif; text-align:left; width:100%; height:100%;}
	ol, ul {list-style:none; text-align:left;}
	table {border-collapse:separate; border-spacing:0;}
	caption {display:none;}
	blockquote:before, blockquote:after, q:before, q:after {content:"";}
	script {display:none;}
	input {padding:0; margin:0;}
	
	/* ========== Common Styles ========== */
	a, a:active, a:link {/*text-decoration:none;*/ cursor:pointer; color:#3380E5;}
	a:hover {text-decoration:underline; cursor:pointer; color:#0000FF;}
	a:visited {background:none;}
	a:focus {border:1px dotted #505050;}
	hr {display:none;}
	table {font-size:100%; width:100%; border-collapse:collapse;}
	td {word-wrap:break-word; vertical-align:top;}
	th {font-size:9px; line-height:1.2em; word-wrap:break-word; text-align:left; color:#999; background-color:#F6F6F6; padding:3px 0; font-weight:normal;}
	.even {background:#F3F6FD;}
	.odd {background:#FFF;}
	.res-normal a {color:#000;}
	.res-severe, .res-severe a {color:#E50D34; font-weight:bold;}
	.res-high, .res-high a {color:#FF8013;}
	.res-low, .res-low a {color:#0054E7;}
	.res-abnormal, .res-abnormal a {color:#976823;}
	.hvr .res-high, .hvr .res-low, .hvr .res-abnormal {font-weight:bold;}
	.res-modified { background:url(../Images/0594_11.gif) no-repeat center; display:inline-block; width:11px; height:11px; padding-left:2px;}
	.res-low .res-ind {background:url(../images/sprite_green.png) no-repeat -144px 0px; height:11px; width:7px; display:inline-block;}
	.res-high .res-ind {background:url(../images/sprite_green.png) no-repeat -136px 0px; height:11px; width:7px; display:inline-block;}
	.res-severe .res-ind {background:url(../images/sprite_green.png) no-repeat -152px 0px; height:10px; width:5px; display:inline-block;}
	.res-abnormal .res-ind {background:url(../images/sprite_green.png) no-repeat -175px 0px; height:9px; width:5px; display:inline-block;}
	.res-high > .res-ind, .res-low > .res-ind, .res-abnormal > .res-ind, .res-severe > .res-ind {margin:5px .3em 4px 0;}
	.res-normal .res-ind {display:none;}
	.res-none {color:#A0A0A0; display:block; padding:0 1%; zoom:1;}
	.res-none-hd, .info-hd, .det-hd {display:none;}
	.res-low-icon {background:url(../images/sprite_green.png) no-repeat -144px 0px; height:11px; width:7px; display:inline-block;}
	.res-high-icon {background:url(../images/sprite_green.png) no-repeat -136px 0px; height:11px; width:7px; display:inline-block;}
	.res-severe-icon {background:url(../images/sprite_green.png) no-repeat -152px 0px; height:10px; width:5px; display:inline-block;}
	.unit, .within, .code {font-size:9px;}
	.unit, .within, .code, .date-time {color:#999;}
	.row-label {color:#666;}
	.detail-line {color:#7C7C7C;}
	.hdr {color:#999; font-size:9px; line-height:1.2em; background:#F6F6F6;}
	.content-hdr {background:#F6F6F6; border:1px solid #EDEDED;}
	.hdr-scroll {margin-right:15px;}
	.hidden {display:none;}
	.important-icon {background:url(../images/sprite_green.png) no-repeat -158px 0px; width:14px; height:14px; display:inline-block; margin-right:4px;}
	.highlight{background-color:#3BB9FF;}
	/* ========== Drop Down menu =========== */
	.favHidden {display:none;}
	.form-menu {position:absolute; border:1px solid #000; background-color:#FFF; padding:5px; z-index:2000; right:1px; top:20px; width:75%;}
	.menu-hide {display: none;}
	
	/* ========== Section Commons ========== */
	.section {position:relative; zoom:1; background:none; margin:0 0 0 0; overflow:hidden;}
	.sec-hd {font-size:13px; line-height:1em; display:block; background:#C2D6AD url(../images/GH1_header_center.jpg) repeat-x 0 0; border-right:1px solid #C2D6AD; border-bottom:1px solid #B6C8A2; zoom:1; height:22px;}
	.closed .sec-hd {display:block; border-bottom:2px solid #B6C8A2;}
	.sec-hd, .sec-hd a {color:#4D4D4D; font-weight:bold; text-decoration:none;}
	.sec-hd a:hover {text-decoration:underline; cursor:pointer; color:#4D4D4D;}
	.sec-title {display:inline-block; padding:5px 6px 2px 13px; float:left; color:#4D4D4D; }
	.sec-total {font-weight:normal; color:#4D4D07; padding-left:5px; text-decoration:none;}
	.sec-hd-tgl {background:url(../images/sprite_green.png) no-repeat -87px 0px; font-size:1px; color:#999; float:right; width:14px; height:15px; cursor:pointer; display:inline-block; margin:5px;}
	.closed .sec-hd-tgl {background:url(../images/sprite_green.png) -70px 0px;}
	.sub-title-disp {color:#666; font-size:11px; line-height:1.2em; padding:2px 20px; background:#EEF4E2; border-right:1px solid #C2D6AD; border-left:1px solid #C2D6AD; border-bottom:1px solid #DCDCDC;}
	.sec-content {border:1px solid #ADCC92; padding:6px; background:#FFF;}
	.closed .sec-content, .closed .sub-sec-content, .closed .sub-title-disp, .closed .sec-footer{visibility:hidden; position:absolute;}
	.content-body {border:1px solid #EDEDED;}
	.sec-footer{color:#666;font-size:9px;line-height:1.2em;padding:2px 20px;background:#F6F6F6;border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;border-bottom:1px solid #ADCC92;}
	/* Subsection Commons */
	.sub-sec {zoom:1;}
	.sub-sec-hd {font-size:12px; font-weight:normal; color:#3E3E3E; background:#CDDCEE; padding:0 3px; border-top:1px solid #EDEDED; border-bottom:1px solid #AABECD; zoom:1;}
	.sub-sec-title {color:#3E3E3E;}
	.sub-sec-hd-tgl {background:url(../images/sprite_green.png) -36px 0px; font-size:1px; color:#CDDCEE; height:7px; width:7px; float:left; cursor:pointer; display:inline-block; margin:5px 4px 5px 2px;}
	.closed .sub-sec-hd-tgl {background:url(../images/sprite_green.png) -28px 0px; height:9px; width:5px;}
	.sub-sec-content .content-body {border:none;}
	/* Actionable Items */
	.add-icon {background:url(../images/sprite_green.png) no-repeat 0 0; width:16px; height:16px; display:inline-block; margin:4px 2px 0 2px; text-indent:-9999px;}
	.add-text {display:none;}
	
	/* ==== COLUMN STYLES ==== */
	.mpage-layout-container {
		width: 100.00%;
		heigth: 100.00%;
		overflow:auto;
	}
	.mpage-layout-column {float:left;background: #ffffff;height:100.00%; border:solid 1px #ffffff; }
	.mpage-layout-table {
		width: 99.99%;
		heigth: 100.00%;
		table-layout:fixed;
	}
	.mpage-layout-placeholder{position: relative; border: solid; border-style:dashed;border-width:1px;}
	
	/* ==== HEADER ==== */
	.ps-hd {padding:2px 0; margin:0 0 1px 5px; color:#003C74; border-bottom:1px solid #E7E7E7; text-align:right; line-height:1.5em; display:block; zoom:1;}
	.ps-hd h1 {display:inline; float:left; font-size:14px;padding-bottom:0.5em; height:100.00%}
	.ps-hd span {font-family:Tahoma; margin-right:2em; vertical-align:middle;font-weight:bold;}
	.ps-hd span a{font-weight:normal; margin:0 .5em;}
	
	/* ==== Alert === */
	.alert {margin-top:5px; background:#FFC; margin-bottom:20px; border:1px solid black; padding:5px; }  
	
	/* ========== Patient Demographics ========== */
	.dmg-pt-banner {margin-bottom:1em; margin-left:.5em;}
	.dmg-pt-name-lbl, .dmg-sex-age-lbl {position:absolute; visibility:hidden;} 
	.dmg-info dt {padding-left:10px; display:inline; color:#505050;}
	.dmg-info dd {display:inline;}
	.dmg-pt-name {font:bold 14px Tahoma;}
	.dmg-sex-age {padding-left:10px;}
	.dmg-dob, .dmg-mrn, .dmg-fin, .dmg-rfv {padding-left:2px;}
	.dmg-rfv {font-weight:bold;} 
	
	/* ========== Hover Formatting ========== */
	.hvr {background:#FFF; padding:0 5px; z-index:1; margin:-1px 10px 10px 5px; width:400px; line-height:2em; word-wrap:break-word;}
	.hvr.hover {position:absolute; display:none; z-index:1000; background-color:#FFC; border:1px solid #000;}
	.hvr dt {clear:left; color:#505050;}
	.hvr dt span {float:left; margin-left:5px;}
	.hvr dd {float:left; display:inline; margin:0 5px; overflow-x:hidden;}
	.hvr table {margin:3px 0;}
	
	
	/* ===== Interaction Component === */
	/* DL formatting */
	.interactions {margin-left:5px; margin-right:5px; border:1px solid #B6C8A2;}
	.interaction {width:100%; }
	.interaction dt, dd{float:left; padding-top:3px;}
	.interaction dt {display:none;}
	
	.inter-info {text-decoration:underline; cursor:pointer;}
	.inter-det-info{display:none;}
	.inter-info:hover {text-decoration:underline; cursor:pointer; color:#0000FF;}
	
	/*Section dd sizes */
	.inter-or-res {width:15%;  overflow:hidden; }
	.inter-com-res{width:31%;}
	.inter-sev-res { width:8%; cursor:pointer; }
	.inter-alg-res, .inter-sub-res, .inter-reac-res, .inter-adet-res {width:10%;}
	.inter-res{width:17%;}
	.inter-stat-res{width:13%;}
	.inter-det-res{width:25%;}
	.inter-dsub-res{width:20%;}
	.inter-fsub-res{width:32.5%;}
	.inter-fres{width:37.5%;}
	.inter-sec-res {width:48%;}
	.inter-desc-info-det{display:none;}
	
	/* OR Reason Box */
	.inter-or-reason { padding-left:10%; width:80%;}
	
	/* Apply Box actions */
	.inter-apply-box{margin-top:10px; float:right; width:500px; height:60px; bottom:0px; right:0px; position:relative; border:1px solid #000; padding:2px;}
	.inter-simple-box{margin-top:10px; float:right; width:500px; height:20px; bottom:0px; right:0px; position:relative; margin-bottom:10px; }
	.inter-apply-or{float:right; width:50%;}
	.inter-apply-opt{float:left; width:50%;}
	
	/* Interaction Header alert */
	.inter-alert-ord{font-weight:bold;}
	.inter-alert-det{color:#999;}
	.inter-alert-warn{padding: 5px 5px;}
	
	/* Ref links */
	.inter-ref{padding-right:5px; padding-left:5px;}
	.inter-desc{padding-top:5px; padding-bottom:5px;}
	
	.inter-continue{  float:right;}
	.inter-pat-info{ font-weight:bold; margin-right:20px; float:right;}
	
	 .inter-or-required{background:#FFFF00;}
	.inter-rx, .inter-hx, .inter-op {vertical-align:bottom; padding-right:5px;}
	.inter-alg-text {padding-right:5px;}
	.inter-text-lbl { font-weight:bolder;}
	.inter-add-info-label{font:bold 12px/1.5em Tahoma, Geneva, Verdana, Trebuchet MS, sans-serif; padding-right:5px;}
	.inter-add-info-text{font:normal 12px/1.5em Tahoma, Geneva, Verdana, Trebuchet MS, sans-serif;}
	.inter-order-dets{cursor:pointer;}
	
	/* Confidential Info */
	/*.inter-conf-info {visibility:hidden; position:absolute;}*/
	.inter-conf-info{display:none;}
