

.tab-layout-live .tab-layout-tabhide {
    display: none;
}

.tab-layout-tabhide {
    display: none;
}
.tab-layout-tabright{
	float: right;
	padding-left:2px;
	padding-right:0;
}
.tab-layout {
}

.tab-layout-wrapper{
	height: auto;
}

.tab-layout-live {
    margin-top: 20px
}

ul.tab-layout-nav {
    margin: 0;
    padding: 0em;
    border-bottom: 1px solid #ADCC92;
    font: normal 12px Tahoma;
    color: #ADCC92
}

ul.tab-layout-nav li {
    list-style: none;
    margin: 0px;
    display: inline;
}

ul.tab-layout-nav li a {
    padding: 2px 1em 2px 1em;
    margin-right: 2px;
    border: 1px solid #ADCC92;
    border-bottom: none;
    text-decoration: none;
    background-color: #ADCC92;
    position: relative;
    top: -1px;
}

ul.tab-layout-nav li a:link {
    color: rgb(100, 100, 100)
}

ul.tab-layout-nav li a:visited {
    color: #003C74;
    font: normal 12px Tahoma;
}

ul.tab-layout-nav li a:hover {
    color: rgb(0, 0, 0);
    border-color: #227
}

ul.tab-layout-nav li.tab-layout-active a {
    background-color: #FFFFFF;
    color: #505050;
    font: bold 12px Tahoma
}

ul.tab-layout-nav li.tab-layout-active a:hover {
    color: rgb(0, 0, 0);
    font: bold 12px Tahoma
}

.tab-layout-tab {
	border-style: none solid solid solid;
	border-width: 1px;
	border-color: #ADCC92;
	height: 94%;
	overflow: auto;
}

.tab-layout-live .tab-layout-tab {	
    padding: 0px 0px 0px 0px;
}

.tab-layout-live .tab-layout-tab h2 {
    display: none
}

.tab-layout-live .tab-layout-tab h3 {
    display: none
}
.ref-print{float:right;}
.inter-alert-hist{padding:10px 0 10px 0; float:right; text-decoration:underline; cursor:pointer; color:#4D4D4D;}
.inter-lang-sel { border-bottom: 1px solid black; padding-top: 5px;  height:4%; width:99%;}
