.popup_hover {
    width: auto;
    height: auto;
	top:0px;
	left:0px;
    visibility: hidden;
    position: absolute;
    z-index: 10000;
    font: normal 8pt sans-serif;
    padding: 3px;
    border: solid 1px;
    background-color: #FFFFE0;
    overflow: auto;
    opacity: 0.90;
    filter: alpha(opacity = 90);
    text-align: left;
}

.popup-modal{
 	position: absolute;
    visibility: hidden;
	width: auto;
	height: auto;
    font: normal 8pt sans-serif;
    padding: 3px;
    border-color:rgb(216,216,216);
    background-color: #FFFFFF;
    vertical-align: middle;
    overflow: visible;
 }

.popup-modal-header-text{
 	float:left;
	cursor: move;
	background-color: rgb(171,171,171);
	width: 95%;
 }
 
 .popup-modal-header-exit{
 	float:right;
	text-align: right;
	background-color: rgb(171,171,171);
	width: 4%;
	padding-right:1%;
	cursor:pointer;
 }
 
 .popup-modal-header-wrapper{	
    vertical-align: top;
    text-align: left;
	width: 100%;
	height: auto;
    /*background: #F3F8EE no-repeat 3px;*/
	background-color: rgb(171,171,171);
    color: black;
    font-weight: bold;
    font-size: 1.2em;
 }
 
 
.popup-modal-content{ 	
 }
 
.popup-modal-background{
 	position : absolute;
	top : 0px;
	left : 0px;
	width : 100%;
	height: 100.00%;
	background-color : #000000;
	zIndex : 1000;
 }
 
