/* ============== CSS RESET ============== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
    big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt,
    dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; vertical-align:baseline;}
:focus {outline:0;}
body {color:#000; background:#F6F6F6; font:normal 12px/1.5em Tahoma, Geneva, Verdana, Trebuchet MS, sans-serif; text-align:left; width:100%;}
ol, ul {list-style:none; text-align:left;}
table {border-collapse:separate; border-spacing:0;}
caption {display:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
script {display:none;}
input {padding:0; margin:0;}

/* ========== Common Styles ========== */
.mnu-hvr {color:#FFF; background:#00F; cursor:pointer;}
a, a:active, a:link {text-decoration:none; cursor:pointer; color:#3380E5;}
a:hover {text-decoration:underline; cursor:pointer; color:#3380E5;}
a:visited {background:none;}
a:focus {border:1px dotted #505050;}
hr {display:none;}
table {font-size:100%; width:100%; border-collapse:collapse;}
td {word-wrap:break-word; vertical-align:top;}
th {font-size:9px; line-height:1.2em; word-wrap:break-word; text-align:left; color:#999; background-color:#F6F6F6; padding:3px 0; font-weight:normal;}
.even {background:#F3F6FD;}
.odd {background:#FFF;}
.res-normal a, a .res-normal, a .res-multiple {color:#000;}
.res-severe, .res-severe a {color:#E50D34; font-weight:bold;}
.res-high, .res-high a {color:#FF8013;}
.res-low, .res-low a {color:#0054E7;}
.res-abnormal, .res-abnormal a {color:#976823;}
.hvr .res-high, .hvr .res-low, .hvr .res-abnormal {font-weight:bold;}
.res-modified { background:url(../Images/0594_11.gif) no-repeat center; display:inline-block; width:11px; height:11px; padding-left:2px;}
.res-low .res-ind {background:url(../images/sprite_green.png) no-repeat -144px 0px; height:11px; width:7px; display:inline-block;}
.res-high .res-ind {background:url(../images/sprite_green.png) no-repeat -136px 0px; height:11px; width:7px; display:inline-block;}
.res-severe .res-ind {background:url(../images/sprite_green.png) no-repeat -152px 0px; height:10px; width:5px; display:inline-block;}
.res-abnormal .res-ind {background:url(../images/sprite_green.png) no-repeat -175px 0px; height:9px; width:5px; display:inline-block;}
.res-high > .res-ind, .res-low > .res-ind, .res-abnormal > .res-ind, .res-severe > .res-ind {margin:5px .3em 4px 0;}
.res-normal .res-ind {display:none;}
.res-none {color:#A0A0A0; display:block; padding:0 1%; zoom:1;}
.res-none-hd, .info-hd, .det-hd {display:none;}
.res-low-icon {background:url(../images/sprite_green.png) no-repeat -144px 0px; height:11px; width:7px; display:inline-block;}
.res-high-icon {background:url(../images/sprite_green.png) no-repeat -136px 0px; height:11px; width:7px; display:inline-block;}
.res-severe-icon {background:url(../images/sprite_green.png) no-repeat -152px 0px; height:10px; width:5px; display:inline-block;}
.res-abnormal-icon {background:url(../images/sprite_green.png) no-repeat -175px 0px; height:9px; width:5px; display:inline-block;}
.unit, .within, .code {font-size:12px;}
.unit, .within, .code, .date-time {color:#999;}
.row-label {color:#666;}
.detail-line {color:#7C7C7C;}
.hdr {color:#999; font-size:9px; line-height:1.2em; background:#F6F6F6;}
.content-hdr {background:#F6F6F6; border:1px solid #EDEDED;}
.hdr-scroll, .body-scroll {padding-right:15px;}
.hidden {display:none;}
.important-icon {background:url(../images/sprite_green.png) no-repeat -158px 0px; width:14px; height:14px; display:inline-block; margin-right:4px;}

/* ========== Drop Down menu =========== */
.favHidden {display:none;}
.form-menu {position:absolute; border:1px solid #000; background-color:#FFF; padding:5px; z-index:2000; right:1px; top:20px; width:75%;}
.menu-hide {display: none;}
.opts-menu{font-weight:normal;cursor:pointer;background:url(../images/sprite_green.png) no-repeat -45px 0px;width:20px;height:17px;margin:7px 4px 0 0;display:inline-block;float:right;}
.opts-menu-content{position:absolute;border:1px solid #000;background-color:#FFF;padding:5px;z-index:2000;right:1px;top:20px;width:250px;}
.opts-menu-item{padding:2px 2px;font:normal 11px Tahoma,sans-serif;}
.opts-menu-item:hover {color:#FFF; background:#0000FF; cursor: pointer;}
.opts-menu-item-dthr, .opts-menu-item-dthr:hover {color:#cecece;background:#FFF;cursor:default;}
.lb-drop-down {cursor:pointer;}

/* ========== Viewpoint Framework ========== */
#vwpViewList{display:inline;}
.vwp-mnu:hover{color:#FFF;background:#00F;cursor:pointer;}
.vwp{padding:6px;}
.vwp-tab-container{ display:inline-block; width:14%;}
.vwp-tab-container .vwp-tab-item{display:inline-block;padding:1px 4px 2px 4px;border-top:1px solid #999;border-left:1px solid #999;border-right:1px solid #999;background-image:url(../images/viewTab_inactive_center.png);cursor:pointer;width:95%;font-size:12px;color:#7C7C7C;white-space:nowrap;overflow-x:hidden;text-overflow:ellipsis;}
.vwp-tab-container.vwp-hide {display:none; width: 0;}
.vwp-inactive-left{background-image:url(../images/viewTab_inactive_left.png);}
.vwp-inactive-right{background-image:url(../images/viewTab_inactive_right.png);}
.vwp-active-left{background-image:url(../images/viewTab_active_left.png);}
.vwp-active-right{background-image:url(../images/viewTab_active_right.png);}
.vwp-tabview0 .vwp-tab0,.vwp-tabview1 .vwp-tab1,.vwp-tabview2 .vwp-tab2,.vwp-tabview3 .vwp-tab3,.vwp-tabview4 .vwp-tab4,.vwp-tabview5 .vwp-tab5{padding-top:5px;background-image:url(../images/viewTab_active_center.png);font-size:12px;color:#1A4072;background-color:#FFF;}
.vwp-tab-data{display:none;overflow-x:auto;padding-bottom:18px;}
.vwp-tabview0 .vwp-data0,.vwp-tabview1 .vwp-data1,.vwp-tabview2 .vwp-data2,.vwp-tabview3 .vwp-data3,.vwp-tabview4 .vwp-data4,.vwp-tabview5 .vwp-data5{display:block;}
.vwp-tab-body{border-top:5px solid white;border-left:1px solid #999;border-right:1px solid #999;border-bottom:1px solid #999;padding:6px;}
.vwp-ClassDiv{font-weight:normal;cursor:pointer;padding:2px;}
.vwp-menu2{color:#000;width:100%;}
.vwp-mnu-selectWindow{position:absolute;}
.vwp-mnu-labelbox{background:#E6EEF7;padding:2px 5px;position:absolute;border-color:#568ECB;border-style:solid;border-width:2px 2px 0;float:left;z-index:1000;}
.vwp-mnu-contentbox{padding:0 18px 4px 5px;position:absolute;float:left;background:#fff;border:2px solid #568ECB;text-align:left;top:24px;}

/* ========== Section Commons ========== */
.section {position:relative; zoom:1; background:none; margin:0 0 10px 0;}
.sec-hd {font-size:13px; line-height:1em; display:block; background:#C2D6AD url(../images/GH1_header_center.jpg) repeat-x 0 0; border-right:1px solid #C2D6AD; border-bottom:1px solid #B6C8A2; zoom:1; overflow:hidden;}
.closed .sec-hd {display:block; border-bottom:2px solid #B6C8A2;}
.sec-hd, .sec-hd a {color:#4D4D4D; font-weight:bold; text-decoration:none;}
.sec-hd a:hover {text-decoration:underline; cursor:pointer; color:#4D4D4D;}
.sec-title {display:inline-block; padding:5px 6px 2px 13px; float:left; color:#4D4D4D; background:url(../images/sprite_green.png) no-repeat 0px -50px;}
.sec-total {font-weight:normal; color:#4D4D07; padding-left:5px; text-decoration:none;}
.sec-hd-tgl {background:url(../images/sprite_green.png) no-repeat -87px 0px; font-size:1px; color:#999; float:right; width:14px; height:15px; cursor:pointer; display:inline-block; margin:5px;}
.closed .sec-hd-tgl {background:url(../images/sprite_green.png) -70px 0px;}
.sub-title-disp {color:#666; font-size:11px; line-height:1.2em; padding:2px 20px; background:#EEF4E2; border-right:1px solid #C2D6AD; border-left:1px solid #C2D6AD; border-bottom:1px solid #DCDCDC;}
.sec-content {border:1px solid #ADCC92; padding:6px; background:#FFF;}
.closed .sec-content, .closed .sub-sec-content, .closed .sub-title-disp, .closed .sec-footer, .closed .accordion-container{visibility:hidden; position:absolute;}
.content-body {border:1px solid #EDEDED;}
.sec-footer{color:#666;font-size:9px;line-height:1.2em;padding:2px 20px;background:#F6F6F6;border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;border-bottom:1px solid #ADCC92;}
/* Subsection Commons */
.sub-sec {zoom:1;}
.sub-sec-hd {font-size:12px; font-weight:normal; color:#3E3E3E; background:#CDDCEE; padding:0 3px; border-top:1px solid #EDEDED; border-bottom:1px solid #AABECD; zoom:1;}
.sub-sec-title {color:#3E3E3E;}
.sub-sec-hd-tgl {background:url(../images/sprite_green.png) -36px 0px; font-size:1px; color:#CDDCEE; height:7px; width:7px; float:left; cursor:pointer; display:inline-block; margin:5px 4px 5px 2px;overflow:hidden;}
.closed .sub-sec-hd-tgl {background:url(../images/sprite_green.png) -28px 0px; height:9px; width:5px;}
.sub-sec-content .content-body {border:none;}
.fc-sub-sec {zoom:1;}
.fc-sub-sec-content{background:#E8E8E8;}
.fc-sub-sec-hd {font-size:12px; font-weight:normal; color:#3E3E3E; background:#E8E8E8; padding:0 3px; border-top:1px solid #EDEDED; border-bottom:1px solid #AABECD; zoom:1;}
/* Component display */
.comp-display{display:block;}
.comp-hide{display:none;}
/* Actionable Items */
.add-icon {background:url(../images/sprite_green.png) no-repeat 0 0; width:16px; height:16px; display:inline-block; margin:4px 2px 0 2px; text-indent:-9999px;}
.add-text {display:none;}

/* ========== Page Header ========== */
.pg-hd {padding:2px 0; margin:0 0 1px 5px; color:#003C74; border-bottom:1px solid #E7E7E7; text-align:right; line-height:1.5em; display:block; zoom:1;}
.pg-title {font-weight:bold; display:inline; font-size:16px; float:left;}
.page-ctrl {margin-right:20px; vertical-align:middle;}
.lb-page-ctrl {margin-right:20px; margin-left:25%; vertical-align:middle;}
.lb-pg-hd {padding:2px 0; margin:0 0 1px 5px; color:#003C74; text-align:right; line-height:1.5em; display:block; zoom:1;}
.lb-menu2 {color:#000; width:100%;}
.lb-mnu-selectWindow{position:absolute;float:left;font-weight:normal;cursor:pointer;padding:2px;z-index:2000;}
.lb-mnu:hover{color:#FFF;background:#00F;cursor:pointer;}
.setDefault {padding-left:5px; padding-right:5px;}
.resetAll {padding-left:5px; padding-right:5px;}
#savePrefs, #clearPrefs, #otherAnchors {padding-left:5px; padding-right:5px;}
.other-anchors {padding-right:5px;}
.expAll {padding-left:5px; padding-right:5px;}
.custView {padding-left:5px; padding-right:5px;}
.demo-banner, #disclaimer {margin-left:5px;}
#disclaimer {margin-bottom:1em; font-size:10px; text-align:left; clear:left;}
		
/* ========== Column Layouts ========== */
.col-group {position:relative; clear:both; float:left; width:98%;}
.col-outer1, .col-outer2 {float:left; width:100%; position:relative;}
.col1, .col2,	.col3 {float:left; position:relative;	padding:0 0 3px 0;}
.pref-columns .col1, .pref-columns .col2, .pref-columns .col3 {float:left; position:static; padding:0 .3% 3px 0;}
.pref-columns .col-group { padding: 0 0 0 2%; }

/* 3 Column - Equal Widths */
.three-col .col-outer2 {right:34%;}
.three-col .col-outer1 {left:33%;}
.three-col .col1 {width:32.65%; left:1.25%;}
.three-col .col2 {width:33.65%; left:1.5%;}
.three-col .col3 {width:32.65%; left:1.75%;}

/* 2 Column - Equal Widths */
.two-col .col-outer1 {right:50%;}
.two-col .col1 {width:49.3%; left:50.5%;}
.two-col .col2 {width:49.3%; left:51%;}

/* 1 Column - Full Page */
.one-col .col1 {width:99%; left:.5%;}


/*====Drag and Drop====*/
.ui-sortable-placeholder {border:1px dotted black; visibility:visible !important; height:50px !important;}
#vwpTabList .ui-sortable-placeholder {border:1px dotted black; visibility:visible!important; height:15px!important;}
.ui-sortable-placeholder {visibility:hidden;}

/*==== Auto Suggest Control =====*/
div.suggestions {-moz-box-sizing: border-box; border: 1px solid black; background: white; font-size:.85em;}
div.suggestions div {cursor: default; padding: 0px 3px; }
div.suggestions div.current {background-color: #3366cc; color: white; }
div.suggestions .det-txt {/*font-size:.95em;*/}
div.suggestions div.current span{color: white;} 
.highlight {font-weight:bold;}
.current .det-txt {color: #EFEFEF;}
.det-txt {color:#666; font-size:7pt; font-weight:normal; padding-left:5px;}   
.explTxt {font-style:italic;}
.search-box {zoom:1; background-image:url(../images/magnifying-glass.gif); background-repeat:no-repeat; width:58%; padding-left:20px;font-size:1em;height:2%;}
.search-box-div {zoom:1; border-bottom: 2px solid #ADCC92; padding:2px 0px;}
/* ========== Hover Formatting ========== */
.hvr {background:#FFF; padding:0 5px; z-index:1; margin:-1px 10px 10px 5px; width:400px; line-height:2em; word-wrap:break-word;}
.hvr.hover {position:absolute; display:none; z-index:1000; background-color:#FFC; border:1px solid #000;}
.hvr dt {clear:left; color:#505050;}
.hvr dt span {float:left; margin-left:5px;}
.hvr dd {float:left; display:inline; margin:0 5px; overflow-x:hidden;}
.hvr table {margin:3px 0;}
/*  ===Document Icon Hover === */ 
.cmp-doc {height:16px ; width: 16px; display:inline-block;}
.has-icon .cmp-doc {background-image:url(../images/3729_16.png); background-repeat:no-repeat;}
/* ========== Styles for Perioperative "Show More" table ========== */
.prsm-table {table-layout:fixed; width:auto; margin:5px; border:1px solid #999;}
.prsm-table th, .prsm-table td {width:200px; padding:0 2px;}
/* =========== User Filters and Accordion =========== */
.filter-applied-msg{padding-left:25px;color:#E50D34;font-weight:bold;}
.acc-mnu{margin-left:20px;margin-top:25px;z-index:1000;}
.acc-mnu-contentbox{left:-60px;padding:0 18px 4px 5px;position:absolute;background:#fff;border:2px solid #568ECB;text-align:left;top:24px;}
.accordion-title, .accordion-content, .accordion-container{position:relative;}
.accordion-title{height:11px;overflow:hidden;vertical-align:top;text-align:center;cursor:pointer;background:url(../images/pull-tab_green_collapsed.png) no-repeat center top;display:table-cell;background-color:#EEF4E2;border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;}
.accordion-content{height:0px;overflow:inherit;display:none;border: 1px solid #C1C1C1;background:#EEF4E2;}
.accordion-container{height:11px;}
.accordion-container.Expanded{height:auto;}
.accordion-title.Expanded{height:11px;background-image:url(../images/pull-tab_green_expanded.png);background-position:center top;}
.acc-content-div{height:250px;}
/* ========= Facility ========= */
table {border : 1px solid #C0C0C0;border-collapse: separate;font-size:100%;width:100%;text-align:Left;}
th{text-align:left;border: none;background-color: #F6F6F6;padding:3px;padding-left:7px;height:1.5em;}
td{padding-left:7px;padding-right:7px;font:12px/1.5em Tahoma, sans-serif;vertical-align :middle ;}
.row_even{background-color: #FFFFFF;}
.row_odd{background-color: #F3F6FD;}
.ii_highlight_even td,.ii_highlight_odd td{background-color:#66CCFF;}
#sortable{background: url(../images/5322_down.png) no-repeat 50% 30%;background-color: #F6F6F6;
cursor : pointer;border-right:1px;border-right-style:solid;border-right-color:#C0C0C0;font:normal 11px Tahoma, sans-serif; color:#A0A0A0;}
.headerSortUp { background: url(../images/5322_down.png) no-repeat 50% 30%;} 
.headerSortDown {  background: url(../images/5322_up.png) no-repeat 50% 30%; }.JsDatePickBox{position:relative;width:212px;font-family:Arial;z-index:110015;}
.JsDatePickBox .jsDatePickCloseButton{cursor:pointer;position:absolute;z-index:110015;top:1px;right:10px;width:33px;height:13px;background:url(../images/closeButton_normal.gif) left top no-repeat;}
.JsDatePickBox .jsDatePickCloseButtonOver{cursor:pointer;position:absolute;z-index:110015;top:1px;right:10px;width:33px;height:13px;background:url(../images/closeButton_over.gif) left top no-repeat;}
.JsDatePickBox .jsDatePickCloseButtonDown{cursor:pointer;position:absolute;z-index:110015;top:1px;right:10px;width:33px;height:13px;background:url(../images/closeButton_down.gif) left top no-repeat;}
.JsDatePickBox .boxLeftWall{float:left;width:7px;margin:0;padding:0;}
.JsDatePickBox .boxLeftWall .leftTopCorner{margin:0;padding:0;width:7px;height:8px;background:url(../images/boxTopLeftCorner.png) left top no-repeat;overflow:hidden;}
.JsDatePickBox .boxLeftWall .leftBottomCorner{margin:0;padding:0;width:7px;height:8px;background:url(../images/boxBottomLeftCorner.png) left top no-repeat;overflow:hidden;}
.JsDatePickBox .boxLeftWall .leftWall{margin:0;padding:0;width:7px;background:url(../images/boxSideWallPx.gif) #fff left top repeat-y;overflow:hidden;}
.JsDatePickBox .boxRightWall{float:left;width:7px;margin:0;padding:0;}
.JsDatePickBox .boxRightWall .rightTopCorner{margin:0;padding:0;width:7px;height:8px;background:url(../images/boxTopRightCorner.png) left top no-repeat;overflow:hidden;}
.JsDatePickBox .boxRightWall .rightBottomCorner{margin:0;padding:0;width:7px;height:8px;background:url(../images/boxBottomRightCorner.png) left top no-repeat;overflow:hidden;}
.JsDatePickBox .boxRightWall .rightWall{margin:0;padding:0;width:7px;background:url(../images/boxSideWallPx.gif) #fff right top repeat-y;overflow:hidden;}
.JsDatePickBox .topWall{position:absolute;overflow:hidden;top:0;left:7px;width:198px;height:4px;background:url(../images/boxTopPx.gif) #fff left top repeat-x;}
.JsDatePickBox .bottomWall{position:absolute;overflow:hidden;bottom:-1px;left:7px;width:198px;height:4px;background:url(../images/boxTopPx.gif) #fff left top repeat-x;}
.JsDatePickBox .hiddenBoxLeftWall{float:left;width:0;overflow:hidden;overflow:hidden;}
.JsDatePickBox .hiddenBoxRightWall{float:left;width:0;overflow:hidden;overflow:hidden;}
.JsDatePickBox .boxMain{float:left;background-color:#fff;margin:0;padding:15px 0 5px 0;}
.JsDatePickBox .boxMainStripped{background:#fff;border:none;}
.JsDatePickBox .tooltip{height:12px;line-height:11px;overflow:hidden;font-size:10px;color:#666;text-align:left;padding:0;margin:2px 0 2px 0;}
.JsDatePickBox .weekDaysRow{height:12px;overflow:hidden;line-height:11px;font-size:10px;color:#666;text-align:center;padding:0;margin:2px 0 0 0;}
.JsDatePickBox .weekDaysRow .weekDay{float:left;height:14px;overflow:hidden;width:24px;margin:0 5px 0 0;padding:0;}
.JsDatePickBox .boxMainInner{background:#fff;width:198px;float:left;margin:5px 0 0 0;padding:0;}
.JsDatePickBox .boxMainCellsContainer{background-color:#fff;margin:0;padding:0;}
.JsDatePickBox .boxMainInner .controlsBar{overflow:hidden;height:20px;position:relative;}
.JsDatePickBox .boxMainInner .controlsBarText{overflow:hidden;height:20px;line-height:20px;color:#000;font-size:12px;text-align:center;}
.JsDatePickBox .boxMainInner .monthForwardButton{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;right:22px;background:url(../images/monthForward_normal.gif) left top no-repeat;}
.JsDatePickBox .boxMainInner .monthForwardButtonOver{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;right:22px;background:url(../images/monthForward_over.gif) left top no-repeat;}
.JsDatePickBox .boxMainInner .monthForwardButtonDown{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;right:22px;background:url(../images/monthForward_down.gif) left top no-repeat;}
.JsDatePickBox .boxMainInner .monthBackwardButton{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;left:22px;background:url(../images/monthBackward_normal.gif) left top no-repeat;}
.JsDatePickBox .boxMainInner .monthBackwardButtonOver{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;left:22px;background:url(../images/monthBackward_over.gif) left top no-repeat;}
.JsDatePickBox .boxMainInner .monthBackwardButtonDown{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;left:22px;background:url(../images/monthBackward_down.gif) left top no-repeat;}
.JsDatePickBox .boxMainInner .yearForwardButton{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;right:0;background:url(../images/yearForward_normal.gif) left top no-repeat;}
.JsDatePickBox .boxMainInner .yearForwardButtonOver{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;right:0;background:url(../images/yearForward_over.gif) left top no-repeat;}
.JsDatePickBox .boxMainInner .yearForwardButtonDown{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;right:0;background:url(../images/yearForward_down.gif) left top no-repeat;}
.JsDatePickBox .boxMainInner .yearBackwardButton{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;left:0;background:url(../images/yearBackward_normal.gif) left top no-repeat;}
.JsDatePickBox .boxMainInner .yearBackwardButtonOver{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;left:0;background:url(../images/yearBackward_over.gif) left top no-repeat;}
.JsDatePickBox .boxMainInner .yearBackwardButtonDown{overflow:hidden;cursor:pointer;width:20px;height:20px;position:absolute;top:0;left:0;background:url(../images/yearBackward_down.gif) left top no-repeat;}
.JsDatePickBox .boxMainInner .skipDay{cursor:default;overflow:hidden;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;}
.JsDatePickBox .boxMainInner .dayNormal{-khtml-user-select:none;font-size:12px;cursor:pointer;overflow:hidden;color:#4c4c4c;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;text-align:center;line-height:25px;}
.JsDatePickBox .boxMainInner .dayNormalToday{-khtml-user-select:none;font-size:12px;cursor:pointer;overflow:hidden;color:#f40f0f;font-weight:bold;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;text-align:center;line-height:25px;}
.JsDatePickBox .boxMainInner .dayDisabled{-khtml-user-select:none;cursor:default;font-size:12px;overflow:hidden;color:#999;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;text-align:center;line-height:25px;}
.JsDatePickBox .boxMainInner .dayOver{-khtml-user-select:none;cursor:pointer;font-size:12px;overflow:hidden;color:#4c4c4c;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;text-align:center;line-height:25px;}
.JsDatePickBox .boxMainInner .dayOverToday{-khtml-user-select:none;cursor:pointer;font-size:12px;overflow:hidden;font-weight:bold;color:#f40f0f;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;text-align:center;line-height:25px;}
.JsDatePickBox .boxMainInner .dayDown{-khtml-user-select:none;cursor:pointer;font-size:12px;overflow:hidden;color:#F9F9F9;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;text-align:center;line-height:25px;}
.JsDatePickBox .boxMainInner .dayDownToday{-khtml-user-select:none;cursor:pointer;font-size:12px;overflow:hidden;color:#f40f0f;font-weight:bold;width:24px;height:25px;float:left;margin:4px 5px 0 0;padding:0;text-align:center;line-height:25px;}/*
 * Project: fnmp_critical_care_o1.css
 * Version 1.0.0
 */
.cc-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.cc-info dt, .cc-info-hd {position:absolute; visibility:hidden;}  
.cc-name {width:33%; float:left; display:inline-block; padding-right:5px;}
.cc-info dt, .cc-det-hd {position:absolute; visibility:hidden;}
.cc-ph {width:20%; float:left; display:inline-block; padding-left:5px;}
.cc-range {width:43%; float:left; display:inline-block; padding-left:5px;}
.cc-min{text-align:center;display:none;}
/*
 * Project: fnmp_disposition_o1.css
 * Version 1.0.0
 */
.disp-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.disp-info dt, .disp-info-hd {position:absolute; visibility:hidden;}  
.disp-name {width:33%; float:left; display:inline-block; padding-right:5px;}
.disp-info dt, .disp-det-hd {position:absolute; visibility:hidden;}
.disp-ph {width:20%; float:left; display:inline-block; padding-left:5px;}
.disp-range {width:43%; float:left; display:inline-block; padding-left:5px;}
/*
 * Project: fnmp_finalize_charges_o1.css
 * Version 1.0.0
 */
.ch-sec-hd {text-align:left; color: #003C74; background: #FFF url(../images/header-green.gif) repeat-x 0 50%; font: bold 14px/20px Tahoma; width:98%;}
.ch-sec-hd { display: block; background:  url(../images/crnr-left-wide.png) no-repeat 0 0;  border-right: 1px solid #ADCC92;}
.ch-sec-hd a:hover{cursor:hand; color:#3380E5;}
.ch-sec-hd a:active{background-color: #3380E5; color:#FFFFFF;}
.ch-sec-hd a {padding-left: 2px; padding-right: 2px; font:12px Tahoma; text-decoration:none;}
.sec-hd span{padding-left: 4px;}

.ch-sec-hd-tgl { float: right; text-align: center; width: 1em;}
.ch-sec-hd-tgl-alt { float: right; text-align: center; width: 1em; text-decoration:none; color:#0054e7;}
.ch-sub-sec {background: #F3F8EE; color: #505050; font: bold 11.5px/1.5em Tahoma; text-align:left; padding-left: .25em; }
.ch-sub-sec a:hover{cursor:hand; color:#3380E5; }
.ch-sub-sec a:active{background-color: #3380E5; color:#FFFFFF;}
.ch-sub-sec a {padding-left: 2px; padding-right: 2px; font:12px Tahoma; text-decoration:none;}
.ch-sub-sec span{padding-left: 4px;}
.ch-sub-sec td:hover{color: #0054e7;}
.mc {padding-left: 4px; font: normal 12px Tahoma; color: black;}

/* =================================== Finalize Charges =====================================*/

#panel-charges {height:75%; overflow:hidden;}
#panel-charges div{height:99.2%;}
#panel-charges .sub-title-disp{height:1.2em;}
#panel-charges .sec-content{height:90%;}
#panel-charges .sec-content #em_fc_tbody{position:relative; overflow-x:hidden;overflow-y:auto;height:85%;}
#panel-charges .sec-content #ii_fc_tbody{position:relative; overflow-x:hidden;overflow-y:auto;height:85%;}
#panel-charges .sec-content  #sc-charges-div{height:25%;}
#panel-charges .sec-content  #sc_charges_footer{display:none;border-style: none;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#ff9900 }
#panel-charges .sec-content #sc_infusion_div{padding-top:4%;height:60%;}
#panel-charges .sec-content #fc_infusion_tbody{position:relative; overflow-x:hidden;overflow-y:auto;height:85%;}

.charges_sortable{background: url(../images/5322_down.png) no-repeat 40px 5px ;float:left;background-color: #F6F6F6;
cursor : pointer;border-right:1px;border-right-style:solid;border-right-color:#C0C0C0;font:normal 11px Tahoma, sans-serif; color:#A0A0A0;}

.fc_cpt_withModifiers{width:30%;}
.fc_units_withModifiers{width:20%;}
.fc_cpt_withoutModifiers{width:44%;}
.fc_units_withoutModifiers{width:41%;}
.tbl_header{text-align:left;height:1.5em;background-color:#C8C8C8;}
.txt_header{font-size:11px;color:black;}
#panel-charges #jqwSub{height: 12%; width:95% ;border-width: 0.05em; border-style: solid; border-color: green; padding:1%;margin-left:1.5%;}
#panel-charges #jqwSubMsg{font:normal 18px Tahoma, sans-serif;}
#panel-charges #jqwSubImg{ margin: 0 1% 0 1%;}
#tblSC th {border-right:1px;border-right-style:solid;border-right-color:#C0C0C0;font:normal 11px Tahoma, sans-serif; color:#404040;}
.fc_modifiers_outerdiv {background : url(../images/dropdown.blue.active.png) no-repeat 185px 0px;border: 1px solid #aaaaaa; width:200px; height:18px;z-index:100;display:none; font:normal 12px Tahoma, sans-serif;vertical-align :middle;position:relative}
.fc_modifiers_innerdiv{display:none;z-index:5100;font-size:1em;position:absolute;}
.fc_modifiers_parentdiv{position:relative;z-index:5000;font:12px/1em}
.em_fc_modifiersList { text-align:right; width:100px; font:12px/0.8em;z-index:9000;width:203px}
.ii_fc_modifiersList { text-align:right; width:100px; font:12px/0.8em;z-index:9000;width:203px}/*
 * Project: fnmp_infusion_injection_o1.css
 * Version 1.0.0
 */
.sc-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.sc-info dt, .sc-info-hd {position:absolute; visibility:hidden;}  
.sc-name {width:33%; float:left; display:inline-block; padding-right:5px;}
.sc-info dt, .sc-det-hd {position:absolute; visibility:hidden;}
.sc-ph {width:20%; float:left; display:inline-block; padding-left:5px;}
.sc-range {width:43%; float:left; display:inline-block; padding-left:5px;}

.sc-obsCalcTable {width:50%; colspan:6; display:none;}
.sc-obsCalcTitle {width:25%; colspan:1; float:left; display:inline-block; padding-left:5px;}
.sc-obsCalcText {width:75%; colspan:1; size:50px; float:left; display:inline-block; padding-left:5px;}

#panel-inf {height:75%; overflow:hidden;}
#panel-inf div{height:99.2%;}
#panel-inf .sub-title-disp{height:1.2em;}
#panel-inf .sec-content{height:90%;}
#panel-inf #infusionDiv {width:98%;padding:5px; height:40%;}
#panel-inf #infusionLeftDiv{width:24%;float: left;}
#panel-inf #infusionCenterDiv{width:21%;float: left;padding-left:3%;}
#panel-inf #infusionRightDiv{width:51%;float: left;}
#panel-inf #fc_infusion_area{width:98%; float:left; padding:5px; height:50%; position:relative;}
#panel-inf #fc_infusion_tbody{overflow-x:hidden;overflow-y:auto; height:85%;}
#panel-inf .JsDatePickBox  {height:100%;}
#panel-inf .JsDatePickBox  div{height:100%; display:block;}
#infusion_tbl_th th {border-right:1px;border-right-style:solid;border-right-color:#C0C0C0;font:normal 11px Tahoma, sans-serif; color:#404040;}
.fc_site{padding-left: 5%;}
.site-name {zoom:1;  background-repeat:no-repeat; width:58%; padding-left:20px;font-size:1em;}
.inf_label{padding-left: 0.3%;}
.fc_date_label{width:50%;text-align:left;}
.fc_date_img{background:url(../images/cal.gif) no-repeat 50% 30% ;padding-left:2.5%;}
#combodiv { width:80%; border-style:solid;border-width:0px 1px 1px 1px; border-color:#C0C0C0; background-color:white; overflow-y:auto; overflow-x:hidden; } 
.fc-med{padding-bottom:2%}
.fc-result{width:100%;}
.fc-start {float:left;width:35%;}
.fc-stop{float:left;width:48%;}
#fc_date_cal{width:41%;}
#fc_stop_date_cal{width:30%;}
#fc_time {width:20%;}
#fc_stop_time{width:15%;}
.ii_button{width:40%;}
.fc-button{left:50%; margin:2%; position:relative;}
.fc-info-del {display:inline-block;cursor:pointer;width:80%;height:16px;padding-left:6%;}
.fc-info-hover{cursor:pointer;background:url(../images/6457_up_16.png) no-repeat center;padding-right:3px;}
.fc-info-del-hover {display:inline-block;cursor:pointer;background:url(../images/6457_over_16.png) no-repeat center center;}


#fc_charges_area{left : 0.5%;width :99%;float :left;padding : 10px 0 3px;position :relative ;}
.fc_number{width:22%;position: relative;z-index: 1;}
.fc_medication{ width : 25%}
.fc_type{width :15%;position: relative;z-index: 1;}
.fc_duration{width :10%;}
.fc_start_date{width :12%;}
.fc_stop_date{width :12%;}

.comboTypeOpt,.comboSiteOpt{width:100%; visibility:hidden;} 
/* ==================== Wizard Panel =============================*/
/* Hide MPage Banner */
#disclaimer, #banner,.pg-hd{display: none;}
#sampleWizard{display: block;width:100%;position:relative; height:90%; overflow:hidden;margin-top:0.5%;}
.jqw-panel-2, .jqw-panel-3, .jqw-panel-4, .jqw-panel-5 {margin-top: 4%; display: none; opacity: 0.9999;width:100%;height:75%;position:relative; overflow:hidden;}
/* margin-top:10px;display: none; opacity: 0.9999;width:100%;overflow: auto; overflow-x:hidden;position:relative;} */
.jqw-panel-1 {margin-top: 4%;display: block;overflow: auto; overflow-x:hidden;width:100%;position:relative;}
.jqw-nav, .jqw-nav li {margin: 0;padding: 0;}
.jqw-nav {clear: both;}
.jqw-nav li {list-style: none;float: left;height:31px;}
.jqw-nav li.jqw-navLast {background-image: none;}
/* BUTTONS */
/* .jqw-buttons {margin-top: 10px;clear: both;background-color:  #EDEDED;width:100%;}*/
.jqw-buttons {bottom:0px; left:0px; clear: both;background-color:#EDEDED; width:100%; position :fixed;}
/*
.jqw-next {float: right;width:13%;margin-right:2%;}
.submitCharges{float: right;width:13%;margin-right:2%;}
.jqw-previous { float: left;width:12%;margin-left:2%;}
.wz-hdr{float:left;width:17%;padding-top:0.5%;display:none;text-align:right;}
.wizHdr{float:left;width:80%;}
*/
.jqw-next {float: right;margin-right:1%;margin-bottom:1%;}
.submitCharges{float: right;margin-right:1%;margin-bottom:1%;}
.jqw-previous { float: left;margin-left:1%;margin-bottom:1%;}
/*.wz-hdr{float:right;width:10%;padding-top:0.5%;display:none;}*/
.wz-hdr{float:left;width:16%;padding-top:0.5%;display:none;text-align:right;}
.wizHdr{float:left;width:81%;}

/* ==================== Indicator Bar =============================Changed by : Shrinivas N*/
.ind-fsr-right {background:  url(../images/nav_sprite.png) no-repeat -16px 0px; display: inline-block; height: 32px; width: 30px; padding: 0; margin: 0px; float: left;}
.ind-fr-right {background:  url(../images/nav_sprite.png) no-repeat -49px 0px; height: 32px; width: 31px; padding: 0; margin-left: -3px; float: left;}
.ind-f-right {background:  url(../images/nav_sprite.png) no-repeat -114px 0px; height: 32px; width: 27px; padding: 0; margin: 0; padding-bottom: 2px;float: left;}
.ind-selected-sc-center, .ind-fc-center {background:  url(../images/arrow-fc.gif) repeat-x 100%; height: 32px; padding: 0; margin-left: -5px; float: left;}
.ind-left {background:  url(../images/nav_sprite.png) no-repeat -2px 0px; height: 32px; width: 10px; padding: 0; margin: 0; float: left;}
.ind-sc-center {background:  url(../images/arrow_sc.gif) repeat-x 100%; height: 32px; padding: 0; margin-left: -6px; float: left;}
.ind-sr-right {background:  url(../images/nav_sprite.png) no-repeat -82px 0px; height: 32px; width: 32px; padding: 0; margin: 0; float: left;}
.ind-sre-right {background:  url(../images/nav_sprite.png) no-repeat -145px 0px; height: 32px; width: 31px; padding: 0; margin: 0; float: left;}
.ind-selected-center-text, .ind-text, .ind-center-text {padding-right: 3px; padding-left: 3px; line-height: 31px; font-size: 14px;}
.ind-selected-center-text, .ind-text { color: #FFF;}
.ind-center-text {color: #808080;}/*
 * Project: fnmp_new_established_o1.css
 * Version 1.0.0
 */
.ne-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.ne-info dt, .ne-info-hd {position:absolute; visibility:hidden;}  
.ne-name {width:33%; float:left; display:inline-block; padding-right:5px;}
.ne-info dt, .ne-det-hd {position:absolute; visibility:hidden;}
.ne-ph {width:20%; float:left; display:inline-block; padding-left:5px;}
.ne-range {width:43%; float:left; display:inline-block; padding-left:5px;}
/*
 * Project: fnmp_nursing_assess_o1.css
 * Version 1.0.0
 */
.na-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.na-info dt, .na-info-hd {position:absolute; visibility:hidden;}  
.na-name {width:33%; float:left; display:inline-block; padding-right:5px;}
.na-info dt, .na-det-hd {position:absolute; visibility:hidden;}
.na-ph {width:20%; float:left; display:inline-block; padding-left:5px;}
.na-range {width:43%; float:left; display:inline-block; padding-left:5px;}
/*
 * Project: fnmp_order_mgmt_o1.css
 * Version 1.0.0
 */
.om-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.om-info dt, .om-info-hd {position:absolute; visibility:hidden;}  
.om-name {width:33%; float:left; display:inline-block; padding-right:5px;}
.om-info dt, .om-det-hd {position:absolute; visibility:hidden;}
.om-ph {width:20%; float:left; display:inline-block; padding-left:5px;}
.om-range {width:43%; float:left; display:inline-block; padding-left:5px;}
/*
 * Project: fnmp_patient_education_o1.css
 * Version 1.0.0
 */
.ped-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.ped-info dt, .ped-info-hd {position:absolute; visibility:hidden;}  
.ped-name {width:33%; float:left; display:inline-block; padding-right:5px;}
.ped-info dt, .ped-det-hd {position:absolute; visibility:hidden;}
.ped-ph {width:20%; float:left; display:inline-block; padding-left:5px;}
.ped-range {width:43%; float:left; display:inline-block; padding-left:5px;}
.pl-info {clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #EDEDED; word-wrap:break-word;width:98%;line-height:1.5em;}
.pl-info dt {display:none;}
.pl-name {display:inline;}
.pl-info-txt{width:97%;display:inline-block;float:right;}
.pl-assoc-name {display:inline; margin-left:.8em;}
.pl-code {display:inline; margin-left:.5em;}
.pl-hintTxt{padding-left:5px;font:normal 10px Tahoma, sans-serif; color:#336699;}
.pl-info-highlight{padding:0 1%;background-color:#66CCFF;}
.searchTypediv{float:left;padding-right:10px;}
.searchType{zoom:1;}
.pl-info-del {display:inline-block;color:#446793;cursor:pointer;width:16px;height:100%;float:left;}
.pl-info-hover .pl-info-del{display:inline-block!important;color:#446793;cursor:pointer;background:url(../images/6457_up_16.png) no-repeat left center;width:16px;height:100%;}
.pl-info-del-hover {display:inline-block;color:#446793;cursor:pointer;background:url(../images/6457_over_16.png) no-repeat left center;width:16px;height:100%;}
/*
 * Project: fnmp_process_mgmt_o1.css
 * Version 1.0.0
 */
.pm-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.pm-info dt, .pm-info-hd {position:absolute; visibility:hidden;}  
.pm-name {width:33%; float:left; display:inline-block; padding-right:5px;}
.pm-info dt, .pm-det-hd {position:absolute; visibility:hidden;}
.pm-ph {width:20%; float:left; display:inline-block; padding-left:5px;}
.pm-range {width:43%; float:left; display:inline-block; padding-left:5px;}
/*
 * Project: fnmp_visit_types_o1.css
 * Version 1.0.0
 */
.vth-div{padding-bottom:0.5%;}
.vth-comments{border:1px solid #0064FF;padding:5px;}
.vth-alert{padding-left:5px;}
.vth-alert-icon{background: url(../images/sprite_green.png) no-repeat -158px 0;width: 14px;height: 14px;margin:2px;padding-right:10px;}
.fn-clear-overlay {
  background: url(../images/spcr.gif);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
}
