* {
  cursor: default;
}

body {
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  width: 800px; 
  height: 400px; 
  margin: auto;
}
 
/* BANNER BAR */
.banner {
  background: linear-gradient(to bottom, #2f99d5 0%,#136baa 100%); 
  padding: 5px;
}
.bannerTable {
  width: 780px; 
  margin: auto; 
  color: white;
}
.bannerCell {
  width: 195px; 
  padding: 2px;
}
 
/* MESSAGE HEADER */
.highlight {
  color: red; 
  font-weight: bold; 
  font-size: 18px;
}
.redH {
  color:red; 
  font-weight: bold;
}

/* ACTION BUTTONS */
.myButton {
  box-shadow:inset 0px 1px 0px 0px #54a3f7; 
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color:#007dc1; 
  border-radius:3px; 
  border:1px solid #124d77; 
  display:inline-block; 
  /* cursor:pointer; */
  color:#ffffff; 
  font-family:Arial; 
  font-size:11px; 
  padding:6px 6px; 
  text-decoration:none; 
  text-shadow:0px 1px 0px #154682;
  width: 80px; 
  text-align: center;
}
.myButton:hover {
  box-shadow:inset 0px 1px 0px 0px #a4e271; 
  background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  border:1px solid #74b807; 
  color: black; 
  text-shadow:0px 1px 0px #77a809;
}
.myButton-active {
  box-shadow:inset 0px 1px 0px 0px #a4e271; 
  background:linear-gradient(to bottom, #a5e317 5%, #77a809 100%);
  border:1px solid #74b807; 
  color: black; 
  text-shadow:0px 1px 0px #77a809;
}

/* ORDERS TABLE */
table {
  border-collapse: collapse;
  text-align: left;
}
#ordersDiv {
  /* position: relative;  */
  top: 200px;
  border-color: #8d9097;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px 0px 5px 5px;
}
#headerDiv {
  border-color: #8d9097;
  border-style: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.ordTable {
  margin: auto;
}
.header {
  font-size: 13px; 
  font-weight: 100;
  color: rgb(89,89,89); 
  border-bottom: 1px solid #d5dbe2;
  background-color: #f6f6f6;
 
  text-align: center; 
  
}
th {
  font-weight: 100;
  padding: 5px;
}
th:not(:first-child) {
  border-left: 1px solid #d5dbe2;
}
td {
  padding: 5px;
}

.row:not(:last-child) {
  border-bottom: 1px solid #d5dbe2;
}

.order-type {
  background-color: #cadcf0;
  font-weight: bold;
}

.radio {
  width: 30px;
  text-align: center; 
}

td.radio {
  border-left: 1px solid #d5dbe2
}

td.radio:not(:first-child) {
  border-right: 1px solid #d5dbe2
}

.column1 {
  width: 365px; 
  text-align: left; 
  padding-bottom: 5px;
}
.column2 {
  width: 400px;
  text-align: left; 
  padding-bottom: 5px; 
  /* cursor:pointer; */
}
.column3 {
  width: 115px; 
  text-align: left; 
  padding-bottom: 5px;
}
.lineAdd {
  text-decoration-line: line-through;
}
.mySpan {
  display: inline-block;
}

#footerDiv {
  text-align: center; 
  position: fixed; 
  bottom: 0; 
  margin: auto; 
  background-color: #f6f6f6;
  width: 800px;
  padding-bottom: 8px; 
  padding-top: 10px;
  border-radius: 5px 5px 0px 0px;
}
.button {
  border-color: #8d9097;
  border-style: solid;
  border-width: 1px;
  background-color: #f6f6f6;

  /*color: white; */
  padding: 5px 25px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block; 
  font-size: 12px; 
  margin: 4px 20px; 
  /* cursor: pointer;  */
  border-radius: 5px;
}

/* MODAL WINDOWS */
#dialog-message {
  display: none;
}
.ui-button {
  padding: 5px;
}
.ui-widget {
  font-family: Arial,sans-serif; 
  font-size: 12px;
}
ul {
  list-style-type: none; 
  text-align: left;
}
li {
  text-align: left;
}

/* HELPERS */
.pt-name {
  font-size: 14px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.indication {
  font-family: Arial, sans-serif; 
  font-size: 12px;
}

/* Continue/Discontinue */
.triangle-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 15px solid green;
  border-bottom: 10px solid transparent;
  margin: auto;
}

.square {
  height: 15px;
  width: 15px;
  background-color: red;
  margin: auto;
}