.addressPopoverOuterDiv {
	position:fixed;
	z-index:10001;
	width:540px;
	min-height:360px;
}

.addressPopover {
	position:relative;
	background: #ECECEC;
	border: 1px solid #9B9FA1;
	padding:4px;
	width:95%;
	box-sizing:border-box;
}

.addressPopoverArrow {
	position:relative;
	width:12px;
	height:24px;
	z-index:10002;
	float:left;
	left:1px;
	background: url("../../../../images/pointer_arrow_left.png") no-repeat;
}

.addressPopoverBody {
	position: relative;
	background: #FFFFFF;
	border:1px solid #9B9FA1;
	margin:4px 0;
	padding:0 5px;
}

.addressLabel {
	margin-top:5px;
	display:block;
}

.addressFromExample {
	display:block;
	color:#858585;
}

.addressPopoverBtn {
	float:right;
	margin-right:5px;
	height:26px;
}

.paddingRight {
	padding-right:5px;
}

.paddingBottom {
	padding-bottom:5px;
}

.addressStreetLine {
	width:460px;
}

.addressCityLine {
	width: 100px;
}

.addressStateLine {
	width:150px;
}

.addressZipLine {
	width:75px;
}

.addressCountryLine {
	width:150px;
}