	/* ============== CSS RESET ============== */
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
         big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt,
         dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
         margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; vertical-align: baseline; }
    /* remember to define focus styles! */
    :focus { outline: 0; }
    body { line-height: 1em; color: #000; background: #FFF; overflow-x: hidden;}
    ol, ul { list-style: none; }
    /* tables still need 'cellspacing="0"' in the markup */
    table { border-collapse: separate; border-spacing: 0; }
    caption, th, td { text-align: left; font-weight: normal; }
    blockquote:before, blockquote:after, q:before, q:after { content: ""; }
    script { display: none; height: 0; width: 0; }
    input { padding: 0; margin: 0; }
    html { font-size: 100.1%;overflow-x: hidden; }

    /* ============== COMMON STYLES ============== */
    html { font: 12px Helvetica, Arial, sans-serif; }
    body { text-align: center; background: #F4F4F4; }
    .wrap { cursor: default; padding: 1em; width: 2000px; margin: 0 auto; }
    table { font-size: 100%; width: 96%; }
    a { color: #000080; text-decoration: none; cursor: pointer; }
    a:hover { text-decoration: underline; }
    label { color: #8F8F8F; }
    hr { display: none; }
    .prev-next { margin: 0; text-align: right;  top: 0; right:  0; width: 100.00%;}
    .prev-next li { display: inline; border-left: 1px solid #000080; padding: 0 0 0 1em; margin: 0 0 0 1em; }
    .prev-next li:first-child { margin: 0; padding: 0; border-width: 0; }
    .prev-next li a { color: #000080; }
    .prev-next span { color: #000080; }
    
    .cl-form { font: 12px Helvetica, Arial, sans-serif; margin-left: 1em; text-align: center; display: inline;}
    .cl-form input { margin-left: .5em; }
     
    .gr1 { color: #AC0000; }
    .gr2 { color: #5555FF; }
    .gr3 { color: #17AE23; }
    .gr4 { color: #000080; }
    .gr5 { color: #8ab438; }
    
    .txtToolTip {
    	position:absolute;
        visibility: hidden;
        top: 0;  
        left: 0; 
        z-index: 10000;
    	font: normal 8pt sans-serif; 
    	padding: 3px; 
        border: solid 1px;
    	background-color : #FFFFE0;
    	overflow: auto;
    	opacity : 0.90;
    	filter: alpha(opacity=90);
        text-align: left;
	}
	
	/* ============== SECTIONS ============== */
    .section { margin: .5em .5em 2em .5em; border-color:#ADCC92; border-style: none solid solid none; border-width: 1px ;  background: #ADCC92; padding: 0 0 .75em 0; }
    /*.sec-hd { text-align: left; background: #8D9CB2 no-repeat 3px center; color: white; font-weight: bold; padding: .5em .5em .5em 12px; margin: 0 0 .5em 0; font-size: 1.2em; width:100%;} color: #8395BC*/
    .sec-hd { text-align: left; background: url(../img/crnr-left-wide.png) no-repeat 0 0; color: #000080; font-weight: bold; padding: .2em .5em .5em 12px; margin: .5em 0 .5em 0; font-size: 1.2em; width:100.00%;table-layout:fixed;height:20px}
    .section.closed { padding: 0; }
	.sec-hd-title{width: 95.00%;   font-weight: bold; font-size: 0.8em; } 
	.sec-hd-title-full {width:100.00%;  font-weight: bold; font-size: 1em; }
	.sec-hd-collapse{width: 5.00%;cursor:pointer; text-align:right;font-weight: bold;}
	.closed * { display: none; }
    .closed .sec-hd { display: block; margin: 0;}
	.closed .sec-hd * { display: block; background: #F4F4F4; padding: 0 0 1em 0; }
	.div-fixed-hdr {position:absolute;display: block;width:100.00%; height:30px;overflow:visible;}
	
    /* ==== HEADER ==== */
.ps-hd {border-bottom:.1em solid #E7E7E7; color:#003C74; font-weight:bold;  margin:0 0 .1em .5em; padding:.5em; text-align:right;}
.ps-hd h1 {display:inline; float:left; font-size:1.2em;padding-bottom:0.5em; height:100.00%}
.ps-hd span {font-weight:normal; margin-right:2em; vertical-align:middle;font-weight:bold;}
.ps-hd span a{font-weight:normal; margin:0 .5em;}
    /* ========== Patient Demographics ========== */
.dmg-pt-banner {margin-bottom:1em; margin-left:.5em;}
.dmg-pt-name-lbl, .dmg-sex-age-lbl {position:absolute; visibility:hidden;}
.dmg-info dt {padding-left:10px; display:inline; color:#505050;}
.dmg-info dd {display:inline;}
.dmg-pt-name {font:bold 14px Tahoma;}
.dmg-sex-age {padding-left:10px;}
.dmg-dob, .dmg-mrn, .dmg-fin, .dmg-rfv {padding-left:2px;}
.dmg-rfv {font-weight:bold;} 
.disclaimer {font:normal 10px Tahoma; text-align:left; clear:left;} 
    /* ============== OVERFLOW SECTIONS ============== */
    .adm-list .sec-content, .am-list .sec-content, gac-list .sec-content{ max-height: 10em; overflow-y: auto; }

	/* ============== ANTI-DIABETIC MEDICATIONS LIST ============== */
    .adm-med, .adm-detail dt { position: absolute; visibility: hidden; }
    .adm-detail { border: 1px solid #E5EEFC; border-width: 1px 0; line-height: 2em; padding: 0 .5em; zoom: 1; margin: -1px .5em 0 .5em; background: #FFF; }
    .adm-detail:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    .adm-detail .adm-md-name { clear: both; }
    .adm-detail .adm-md-name span { float: left; }
    .adm-detail .adm-md-sig span { float: right; color: #666; }
	
	/* ============== ACTIVE MEDICATIONS LIST ============== */
    .am-med, .am-detail dt { position: absolute; visibility: hidden; }
	.am-med, .am-detail table { position: absolute; visibility: hidden; }
    .am-detail { border: 1px solid #E5EEFC; border-width: 1px 0; line-height: 2em; padding: 0 .5em; zoom: 1; margin: -1px .5em 0 .5em; background: #FFF; }
    .am-detail:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    .am-detail .am-md-name { clear: both; }
    .am-detail .am-md-name span { float: left; }
    .am-detail .am-md-sig span { float: right; color: #666; }
    .am-detail dd.result, .lr-table dd.normalcy { display: inline; }
    .am-detail dd.normalcy span { position: absolute; visibility: hidden; }
    .am-detail dd.low, .am-detail dd.normalcy em { color: #03C; }
    .am-detail dd.high, .am-detail dd.normalcy strong { color: red; }
    .am-detail dd.critical, .am-detail dd.normalcy strong em { color: red; font-weight: bold; }
	
	.nf {color: #666; font-style: italic;}
	
    /* ============== GLYCEMIC ADVISOR LIST ============== */
    .gac-item, .gac-detail dt { position: absolute; visibility: hidden; }
    .gac-detail { border: 1px solid #E5EEFC; border-width: 1px 0; line-height: 2em; padding: 0 .5em; zoom: 1; margin: -1px .5em 0 .5em; background: #FFF; }
    .gac-detail:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    .gac-detail .gac-md-name { clear: both; }
    .gac-detail .gac-md-name span { float: left; }
    .gac-detail .gac-md-sig span { float: left; color: #666; }
    .gac-detail .gac-md-sig a { color: #0000FF; }
    .gac-detail .gac-md-sig a:hover { text-decoration: underline; }
    
	/* ============== LABORATORY RESULTS ============== */
    .lab-results { position: relative; }
    .lr-table { background: #FFF; width: 96%; margin: 0 1%; border-collapse: separate; border: 1px solid #CCC; border-width: 0 1px 1px 1px; }
    .lr-table caption { visibility: hidden; height: 1px; overflow: hidden; line-height: 1px; }
    .lr-table td, .lr-table th { text-align: center; line-height: 1.5em; border: none;}
    .lr-table thead th { padding: .5em .25em; border: 1px solid #CCC; border-width: 1px 0; white-space: nowrap; }
    .lr-table tbody th { padding: .25em .75em .25em .25em; vertical-align: middle; color: #666; text-align: left; font-weight: bold;}
    .lr-table td { border: 0; padding: .25em; width: 20%; }
    .lr-table td.unit { white-space: nowrap; vertical-align: middle; width: 0; color: #666; font-size: .9em; }
    .lr-table td dt { position: absolute; visibility: hidden; }
    .lr-table .odd { background: #F2F2F2; }
    .lr-table .hide  { display: none; }
	.lr-table .first {border-right:solid; border-color:#CCC; border-width: 1px;}
    .lr-table .date-time { font-size: .9em; color: #666; }
    .lr-table dd.date-time:before { content: "("; }
    .lr-table dd.date-time:after { content: ")"; }
    .lr-table dd.result, .lr-table dd.normalcy { display: inline; }
    .lr-table dd.normalcy span { position: absolute; visibility: hidden; }
    .lr-table dd.low, .lr-table dd.normalcy em { color: #03C; }
    .lr-table dd.high, .lr-table dd.normalcy strong { color: red; }
    .lr-table dd.critical, .lr-table dd.normalcy strong em { color: red; font-weight: bold; }
	
	/* ============== Subcutaneous ============== */
	.subq-table { position: relative; }
    .sq-table { background: #FFF; width: 96%; margin: 0 1%; border-collapse: separate; border: 1px solid #CCC; border-width: 0 1px 1px 1px; }
    .sq-table caption { visibility: hidden; height: 1px; overflow: hidden; line-height: 1px; }
    .sq-table td, .sq-table th { text-align: center; line-height: 1.5em; border: none;}
    .sq-table thead th { padding: .5em .25em; border: 1px solid #CCC; border-width: 1px 0; white-space: nowrap; }
    .sq-table tbody th { padding: .25em .75em .25em .25em; vertical-align: middle; color: #666; text-align: left; font-weight: bold;}
    .sq-table td { border: 0; padding: .15em; text-align:left; }
	.sq-table span {text-align:right; font:bold 10pt Helvetica;}
	.minputs{ width:40.00%; border-left:none; border-right:none; border-top:none; border-color: black; border-width: 1px; text-align: right; padding-right: .50em;}
	
    .side, .method, .limb, .position { display: inline; font-size: .9em; line-height: 1.6em; }
    .side:after, .method:after, .limb:after { content: ", "; }
	.banner {width: 75.000%;  margin-top:5px;display: block; background: #ffffff;font-family: Tahoma; }
	.locheadlink  { display: block; width:24.000%; text-align: right; color:#ADCC92;  margin-top:5px; margin-right:10px;   font-weight: bold; font-size: 11px; font-family: Tahoma;}
 
    #sectionAll   { width: 99%; }
    #sectionOne   { float: left; overflow: hidden; width: 33%;  top:40px; }
    #sectionTwo   { float: left; overflow: hidden;width: 33%;  top:40px; }
    #sectionThree { float: left; overflow: hidden;width: 33%;  top:40px; }
    #sectionGraph { float: center;  width: 99%;  }
	.popup_hover {
    width: auto;
    height: auto;
	top:0px;
	left:0px;
    visibility: hidden;
    position: absolute;
    z-index: 10000;
    font: normal 9pt Tahoma;
    padding: 3px;
    border: solid 1px #505050;
    background-color: white;
    overflow: auto;
    opacity: 0.90;
    filter: alpha(opacity = 90);
    text-align: left;
	color:#00000
}

.hoverlabel{
font-weight: bold;
font-size: 10pt;
}
	
