	/* ============== CSS RESET ============== */
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;vertical-align:baseline;}
	:focus{outline:0;}
	body{color:#000;background:#F6F6F6;font:normal 12px/1.5em Tahoma,Geneva,Verdana,Trebuchet MS,sans-serif;text-align:left;width:100%;}
	ol,ul{list-style:none;text-align:left;}
	table{border-collapse:separate;border-spacing:0;}
	caption{display:none;}
	blockquote:before,blockquote:after,q:before,q:after{content:"";}
	script{display:none;}
	input{padding:0;margin:0;}
	.mnu-hvr{color:#FFF;background:#00F;cursor:pointer;}
	a,a:active,a:link{text-decoration:none;cursor:pointer;color:#3380E5;}
	a:hover{text-decoration:underline;cursor:pointer;color:#3380E5;}
	a:visited{background:none;}
	a:focus{border:1px dotted #505050;}
    caption, th, td { text-align: left; font-weight: normal; }
    blockquote:before, blockquote:after, q:before, q:after { content: ""; }
    script { display: none; height: 0; width: 0; }
    input { padding: 0; margin: 0; }
    html { font-size: 100.1%;overflow-x: hidden; }
    
    label { color: #8F8F8F; }
    hr { display: none; }
    
    /***TABLES***/
    table{font-size:100%;width:100%;border-collapse:collapse;}
	th{font-size:9px;line-height:1.2em;word-wrap:break-word;text-align:left;color:#999;background-color:#F6F6F6;padding:3px 0;font-weight:normal;}
	.even{background:#F3F6FD;}
	.odd{background:#FFF;}

    .prev-next { background: #E8EFF9;  font: normal 11px/1.2em Tahoma; text-align:center; }
	.prev-next li { display: inline; padding: 0 .5em; background: #E8EFF9;}
	.prev-next li:first-child { border-width: 0; }

    
    .cl-form { font: 12px Tahoma,Geneva,Verdana,Trebuchet MS,sans-serif; margin-left: 1em; text-align: center; display: inline;}
    .cl-form input { margin-left: .5em; }
     
    .txtToolTip {
    	position:absolute;
        visibility: hidden;
        top: 0;  
        left: 0; 
        z-index: 10000;
    	font: normal 8pt sans-serif; 
    	padding: 3px; 
        border: solid 1px;
    	background-color : #FFFFE0;
    	overflow: auto;
    	opacity : 0.90;
    	filter: alpha(opacity=90);
        text-align: left;
	}
	
	/* ============== SECTIONS ============== */
	 .section { margin: .5em .5em 1em .5em; border-color:#ADCC92; border-style: none solid solid none; border-width: 1px ;  background: none; padding: 0 0 0 0; }
    //.section{position:relative;zoom:1;background:none;margin:0 0 10px 0;}
    .sec-hd{font-size:13px;line-height:1em;display:block;background:#C2D6AD url(../images/GH1_header_center.jpg) repeat-x 0 0;border-right:1px solid #C2D6AD;border-bottom:1px solid #B6C8A2;zoom:1;overflow:hidden;}
	.closed .sec-hd{display:block;border-bottom:2px solid #B6C8A2;}
	.sec-hd,.sec-hd a{color:#4D4D4D;font-weight:bold;text-decoration:none;}
	.sec-hd a:hover{text-decoration:underline;cursor:pointer;color:#4D4D4D;}
	.sec-hd-title{display:inline-block;padding:5px 6px 2px 13px;float:left;color:#4D4D4D;background:url(../images/sprite_green.png) no-repeat 0 -50px;}
	.sec-hd-title-full {width:100.00%;  font-weight: bold; font-size: 1em; }
	.sec-hd-tgl{background:url(../images/sprite_green.png) no-repeat -87px 0;font-size:1px;color:#999;float:right;width:14px;height:15px;cursor:pointer;display:inline-block;margin:5px;}
	.closed .sec-hd-tgl{background:url(../images/sprite_green.png) -70px 0;}
	.div-fixed-hdr {position:absolute;display: block;width:100.00%; height:30px;overflow:visible;}
	
	/*Added from master summary css*/
	.ps-hd a:hover{text-decoration:underline;cursor:pointer;color:#4D4D4D;}
	.ps-hd-title{display:inline-block;padding:5px 6px 2px 13px;float:left;color:#4D4D4D;background:url(../images/sprite_green.png) no-repeat 0 -50px;}
    .sec-hd-collapse{background:url(../images/sprite_green.png) no-repeat -87px 0;font-size:1px;color:#999;float:right;width:14px;height:15px;cursor:pointer;display:inline-block;margin:5px;}
	.closed .sec-hd-collapse{background:url(../images/sprite_green.png) -70px 0;}
	.sec-content{border:1px solid #ADCC92;padding:6px;background:#FFF;}
	.closed .sec-content,.closed .sub-sec-content,.closed .sub-title-disp,.closed .sec-footer,.closed .accordion-container{visibility:hidden;position:absolute;}
	.content-body{border:1px solid #EDEDED;}
	.sec-footer{color:#666;font-size:9px;line-height:1.2em;padding:2px 20px;background:#F6F6F6;border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;border-bottom:1px solid #ADCC92;}
	.sub-sec{zoom:1;}
	.sub-sec-hd{font-size:12px;font-weight:normal;color:#3E3E3E;background:#CDDCEE;padding:0 3px;border-top:1px solid #EDEDED;border-bottom:1px solid #AABECD;zoom:1;}
	.sub-sec-title{color:#3E3E3E;}
	.sub-sec-hd-tgl{background:url(../images/sprite_green.png) -36px 0;font-size:1px;color:#CDDCEE;height:7px;width:7px;float:left;cursor:pointer;display:inline-block;margin:5px 4px 5px 2px;}
	.closed .sub-sec-hd-tgl{background:url(../images/sprite_green.png) -28px 0;height:9px;width:5px;}
	.sub-sec-content .content-body{border:none;}

    /* ==== HEADER ==== */
    .hdr{color:#999;font-size:9px;line-height:1.2em;background:#F6F6F6;}
	.content-hdr{background:#F6F6F6;border:1px solid #EDEDED;}

    /* ========== Patient Demographics ========== */
	.dmg-pt-banner {margin-left:5px;}
	.dmg-pt-name-lbl, .dmg-sex-age-lbl {position:absolute; visibility:hidden;}
	.dmg-info dt {padding-left:10px; display:inline; color:#505050;}
	.dmg-info dd {display:inline;}
	.dmg-pt-name {font:bold 14px Tahoma;}
	.dmg-sex-age {padding-left:10px;}
	.dmg-dob, .dmg-mrn, .dmg-fin, .dmg-rfv {padding-left:2px;}
	.dmg-rfv {font-weight:bold;} 
	.disclaimer {margin-bottom:1em;font-size:12px;font-weight:bold;text-align:left;clear:left;}
    /* ============== OVERFLOW SECTIONS ============== */
    .adm-list .sec-content, .am-list .sec-content, gac-list .sec-content{ max-height: 10em; overflow-y: auto; }
	
	/* ============== ANTI-DIABETIC MEDICATIONS LIST ============== */
    /* RLH .adm-med, .adm-detail dt {display:none;} */
    .adm-med, .adm-detail dt {display: none;}
    .adm-detail {border: 1px solid #ADCC92; border-width: 0 1px 1px 1px; line-height: 2em; padding: 0 .5em; zoom: 1; margin: 0; background: #FFF; }
    .adm-detail:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    .adm-detail .adm-md-name {clear:both;zoom:1;overflow:hidden;padding:0 1%;word-wrap:break-word;}
    .adm-detail .adm-md-name span { float: left; }
    .adm-detail .adm-md-sig span { float: right; color: #666; }
	
	/* ============== ACTIVE MEDICATIONS LIST ============== */
    .am-med, .am-detail dt { position: absolute; visibility: hidden; }
	.am-med, .am-detail table { position: absolute; visibility: hidden; }
    .am-detail {width: 99.5%; margin: 0; border-collapse: separate; border: 1px solid #ADCC92; border-width: 0 1px 1px 1px;}
    .am-detail:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    .am-detail .am-md-name { clear: both; }
    .am-detail .am-md-name span { float: left; }
    .am-detail .am-md-sig span { float: right; color: #666; }
    .am-detail dd.result, .lr-table dd.normalcy { display: inline; }
    .am-detail dd.normalcy span { position: absolute; visibility: hidden; }
    .am-detail dd.low, .am-detail dd.normalcy em { color: #03C; }
    .am-detail dd.high, .am-detail dd.normalcy strong { color: red; }
    .am-detail dd.critical, .am-detail dd.normalcy strong em { color: red; font-weight: bold; }
	
	.nf {color: #666;}
	
    /* ============== GLYCEMIC ADVISOR LIST ============== */
    .gac-item, .gac-detail dt { position: relative; visibility: hidden; }
    .gac-detail { border: 1px solid #E5EEFC; border-width: 1px 0; line-height: 2em; padding: 0 .5em;  margin:-1px .5em 0 .5em; background: #FFF; }
    .gac-detail:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    .gac-detail .gac-md-name { clear: both; }
    .gac-detail .gac-md-name span { float: left; }
    .gac-detail .gac-md-sig span { float: left; color: #666; }
    .gac-detail .gac-md-sig a { color: #0000FF; }
    .gac-detail .gac-md-sig a:hover { text-decoration: underline; }
    
	/* ============== LABORATORY RESULTS ============== */
    .lab-results { position: relative; }
    .lr-table { background: #FFF; width: 100%; margin: 0; border-collapse: separate; border: 1px solid #ADCC92; border-width: 0 1px 1px 1px; }
    .lr-table caption { visibility: hidden; height: 1px; overflow: hidden; line-height: 1px; }
    .lr-table td, .lr-table th { text-align: center; line-height: 1.5em; border: none;}
    .lr-table thead th { padding: .5em .25em; border: 1px solid #CCC; border-width: 1px 0; white-space: nowrap; }
    .lr-table tbody th { padding: .25em .75em .25em .25em; vertical-align: middle; color: #666; text-align: left; font-weight: bold;}
    .lr-table td { border: 0; padding: .25em; width: 25%; }
    .lr-table td.unit { white-space: nowrap; vertical-align: middle; width: 0; color: #666; font-size: .9em; }
    .lr-table td dt { position: absolute; visibility: hidden; }
    .lr-table .odd { background: #F2F2F2; }
    .lr-table .hide  { display: none; }
	.lr-table .first {border-right:solid; border-color:#CCC; border-width: 1px;}
    .lr-table .date-time { font-size: .9em; color: #666; }
    .lr-table dd.date-time:before { content: "("; }
    .lr-table dd.date-time:after { content: ")"; }
    .lr-table dd.result, .lr-table dd.normalcy { display: inline; }
    .lr-table dd.normalcy span { position: absolute; visibility: hidden; }
    .lr-table dd.low, .lr-table dd.normalcy em { color: #03C; }
    .lr-table dd.high, .lr-table dd.normalcy strong { color: red; }
    .lr-table dd.critical, .lr-table dd.normalcy strong em { color: red; font-weight: bold; }
	
	/* ============== Subcutaneous ============== */
	.subq-table { position: relative; }
    .sq-table { background: #FFF; width: 100%; margin: 0; border-collapse: separate; border: 1px solid #CCC; border-width: 0 1px 1px 1px; }
    .sq-table caption { visibility: hidden; height: 1px; overflow: hidden; line-height: 1px; }
    .sq-table td, .sq-table th { text-align: center; line-height: 1.5em; border: none;}
    .sq-table thead th { padding: .5em .25em; border: 1px solid #CCC; border-width: 1px 0; white-space: nowrap; }
    .sq-table tbody th { padding: .25em .75em .25em .25em; vertical-align: middle; color: #666; text-align: left; font-weight: bold;}
    .sq-table td { border: 0; padding: 0; text-align:left; }
	.sq-table span {text-align:right;font:bold 10pt Tahoma,sans-serif;}
	.minputs{ width:40.00%; border-left:none; border-right:none; border-top:none; border-color: black; border-width: 1px; text-align: right; padding-right: .50em;}
	
    .side, .method, .limb, .position { display: inline; font-size: .9em; line-height: 1.6em; }
    .side:after, .method:after, .limb:after { content: ", "; }
	.banner {width: 75.000%;  margin-top:5px;display: block; background: #ffffff;font-family: Tahoma; }
	.locheadlink  { display: block; width:24.000%; text-align: right; color:#ADCC92;  margin-top:5px; margin-right:10px;   font-weight: bold; font-size: 11px; font-family: Tahoma;}
 	
 	#gluCanvas { background: #FFF; width: 100%; margin: 1; border-collapse: separate; border: 1px solid #CCC; border-width: 0 1px 1px 1px; }

    #sectionAll   { width: 99%; }
    #sectionOne   { float: left; overflow: hidden; width: 33%;  top:40px; padding:2px}
    #sectionTwo   { float: left; overflow: hidden; width: 33%;  top:40px; }
    #sectionThree { float: left; overflow: hidden; width: 33%;  top:40px; padding:2px}
    #sectionGraph { float: left; width: 99%; top: 40px; padding: 2px;}

	.popup_hover {
    width: auto;
    height: auto;
	top:0px;
	left:0px;
    visibility: hidden;
    position: absolute;
    z-index: 10000;
    font: normal 9pt Tahoma;
    padding: 3px;
    border: solid 1px #505050;
    background-color: white;
    overflow: auto;
    opacity: 0.90;
    filter: alpha(opacity = 90);
    text-align: left;
	color:#00000
}

.hoverlabel{
font-weight: bold;
font-size: 10pt;
}
	
.cernerblue .sec-hd{background:url(../images/H1_header_center_cernerblue.png) repeat-x 0 0 #3EA2E2;border-color:transparent #55A9E2 #3486D1 transparent;}
.cernerblue .sec-title{color:#292929;background:url(../images/H1_header_left_cernerblue.png) no-repeat 0 0;}
.cernerblue.closed .sec-hd{border-bottom-color:#3486D1;}
.cernerblue .sec-hd,.lowlight .sec-hd a{color:#fff;font-weight:bold;}
.cernerblue .sec-hd a:hover{color:#fff;}
.cernerblue .sec-content{border-left-color:#55A9E2;border-right-color:#55A9E2;border-bottom-color:#55A9E2;background:#EAF5FC;}
.cernerblue .sub-sec-hd{color:#D3E5F8;background:url(../images/H2_header_center_cernerblue.png) repeat-x 0 0 #0d213b;border-color:#AAD4F1;}
.cernerblue .sub-sec-title{background:url(../images/H2_header_left_cernerblue.png) no-repeat 0 0;}
.cernerblue .sub-sec-content .content-body{background:#fff;border-color:#AAD4F1;}
.cernerblue .sec-total{color:#fff;}
.cernerblue .sub-title-disp{background:#CAE7F8;border-color:#fff #55A9E2 #AAD4F1 #55A9E2;}
.cernerblue .search-box-div{border-bottom-color:#AAD4F1;}



/* ============== Graph hover ============== */
.graphHover{
    font-size: 10pt;
    background: #FFF;
    border: 2px solid #ADCC92; 
    padding: 5px; 
    margin: 0;
    width: 250px;
}
/* ============== Graph hover ============== */


.divGraphLegends{
    border: 1px solid black;
    padding-left: 150px;
}
