div.rcm-search-suggestions{-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid black;background:white;font-size:.85em;}
div.rcm-search-suggestions div{cursor:default;padding:0 3px;}
.rcm-search-suggestions{z-index:9999999;}
.rcm-search-suggestions strong{font-weight:bold;}
div.rcm-search-suggestions div.rcm-search-current{background-color:#36c;color:white;position:relative;}
div.detailsToolTip{position:absolute;background-color:#ffc;border:solid 1px #666;font:10px/12px Arial,Helvetica,sans-serif;width:270px;padding:1px;z-index:100;visibility:hidden;color:#333;float:right;layer-background-color:#ffc;}
input.searchText{background-image:url(../images/6428_16.png);background-repeat:no-repeat;padding-left:20px;}
input.searchTextLoading{background-image:url(../images/6439_16.gif);background-repeat:no-repeat;padding-left:20px;}
input.required-search-field{background-color:#FFFCE1;}/* Global */

html {
	overflow: hidden;
	height: 100%;
}

body {
	margin: 0;
	font: 13px/1.5em Tahoma, sans-serif;
	height: 100%;
}

table {
	width: 100%;
	border-collapse: collapse;
}

p {
	margin: 0;
}

p.indent {
	text-indent: 1em;
}

label.indent {
	margin-left: 1em;
}

.gray {
	color: #666666;
}

.red {
	color: red;
}

.required {
	color: red;
}

.left-margin {
	margin-left: 5px;
}

.bold {
	font-weight: bold;
}

.small-text {
	font-size: 9px;
}

.align-bottom {
	vertical-align: bottom;
}

.hidden {
	display: none;
}
.hoverable:hover {
	background-color:rgb(252, 249, 206);
}

.hover-div {
	background-color: #FFFCE1;
	border: solid 1px #BDBDBD;
	color: #333333;
	display: none;
	position: absolute;
	z-index: 1000;
}

.hover-label {
	clear: left;
	color: #505050;
	margin: 0 5px;
}

.hover-value {
	margin-right: 5px;
}

.requiredInput {
	background-color:#FFFCE1;
}

/* Filter Row */
.filter-row-div {
	position: relative;
	background-color: #e6e8f1;
	width: 100%;
}

.patient-list-div {
	float: left;
	padding: 2px 0px 4px 4px;
	width: auto;
	vertical-align: center;
}

.patient-list-span {
	margin-top: 0.3em;
	display: inline-block;
}

.filter-label-div {
	color: #666666;
	float: left;
	font-size: 11px;
	min-width: auto;
	padding: 0.8em 0 0.7em 0.1em;
	margin-right: 100px;
	text-align: left;
}

.patient-count-div {
	border-left: #333333 1px solid;
	min-width: 3%;
	padding-right: 5px;
	position: absolute;
	right: 0;
	height: 100%;
}

#filterBtn {
	height: 17px;
	width: 20px;
	margin-right: 0.5em;
	margin-top: 0.25em;
    cursor: pointer;
}

#listSettingBtn {
	height: 17px;
	width: 20px;
    margin-right: 0.5em;
    cursor: pointer;
}

#patientCountLabel {
	display: inline-block;
	padding-top: 50%;
	color: #666666;
	font-size: 11px;
	padding-bottom: 4px;
	padding-left: 1em;
	padding-top: 1.5em;
	text-align: center;
}

/* Assignment Row */
.assignment-row-div {
	position: relative;
	height: 25px;
	background: #f6f6f6;
	border-bottom: #505050 1px solid;
	padding: 4px;
	text-align: right;
	width: auto;
}

.assignment-row-content {
	position: absolute;
	bottom: 4px;
	right: 0;
}

.personnel-search-div {
	float: right;
	margin-right: 30px;
}

.current-assignment-div {
	float: right;
	margin-right: 30px;
}

#assignmentBtn {
	float: right;
}

#personnelInput {
	width: 150px;
}

/* Worklist Table */
.odd-row {
	background: #ffffff;
}

.even-row {
	background: #f3f6fd;
}

.odd-row>td,.even-row>td {
	font: 13px/1.5em Tahoma, sans-serif;
	vertical-align: top;
	word-wrap: break-word;
	border-right: #ededed 1px solid;
	padding: 4px;
}

.person-link {
	color: #2400a5;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

#worklistTableContainer {
	overflow-x: hidden;
	overflow-y: auto;
}

#worklistTable {
	border-bottom: 1px solid #ededed;
}

#worklistTableHeader>thead>tr {
	font: 9px/1.5em Tahoma, sans-serif;
	font-weight: normal;
}

#worklistTableHeader>thead>tr>th {
	font-weight: 400;
	text-align: left;
	vertical-align: bottom;
	height: 30px;
	line-height: 130%;
	display: inline-block;
	background: #f6f6f6;
	border-right: #ededed 2px solid;
	color: #696969;
	padding: 4px;
}

table>tbody label {
	color: #000000;
	font-size: 12px;
	padding-left: 0.15em;
	padding-right: 0.15em;
}

.table-message {
	text-align: center;
	font-weight: bold;
	height: 60px;
	font: tahoma;
	font-size: 14px;
}

.care-managers {
	padding-bottom: 15px;
}

.care-manager-div {
	width: 100%; 
}

.care-manager-div:hover {
	background-color: #dde8f5;
	cursor: pointer;
}

.care-manager-selected-div {
	background-color: #568ECB !important;
}

.care-manager-selected-div > label{
	color: #FFFFFF;
}

/*Filters */

.separator{
	clear:both;
	border-top:1px solid rgb(230, 232, 240); 
	border-width:medium;
	margin-top:.5em; 
	margin-bottom:.5em;
 }
 
.filter-table{
	float: left; 
	width: 90%;
}

.filter-sort-dropdown{
	width:200px;
}

.filter-sorting-header{
	margin-left:.5em; 
	font-weight:bold; 
	color:rgb(62,67,129);
	text-decoration:underline;
}

.filter-sorting-dropdown{
	padding:.5em;
	text-align:left;
}

.filter-sorting-dropdown input{
	margin-left:1em;
}

.filter-checkbox-save-area {
	float:left;
	vertical-align:middle;
	text-align:left;
	background-color:#F6F6F6;
	padding-left:5px;
	width:100%;
 }
 
.filter-checkbox-config{
	vertical-align:middle;
	margin-left:5px;
	margin-top:5px;
	margin-bottom:5px;
	float:left;
}

.filter-button-apply{
	margin-right:5px;
	margin-top:5px;
	margin-bottom:5px;
	padding:2px;
	width:80px;
	float:right;
}

.filter-button-cancel{
	margin-right:25px;
	margin-top:5px;
	margin-bottom:5px;
	padding:2px;
	width:80px;
	float:right;
}

.filter-date{
	spacing: 5em;
	clear:both;
	width: 100%;
	text-align:left;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:5em;
}

.filters{
	float:left;
	padding-left:4px;
	padding-bottom:4px;
	padding-top:2px;
	width:auto;
}

.filter-box{
	text-align:center;
	border: 1px black solid;
	width:500px;
	background-color:white;
	position:Absolute;
	top:85px;
	left:8px;
	height:80%;
	max-height:732px;
	z-index:1000;
	display:none;
}

#filterBox-scrollable-content{
	overflow-y:auto;
	overflow-x:hidden;
	height :100%;
}

.filter-title-bar{
	text-align:center;
	border: 1px black solid;
	width:500px;
	position:fixed;
	top:50px;
	left:8px;
	z-index:1000;
	background-color:#E6E8F1;
	padding-top:.5em;
	padding-bottom:.5em;
	display:none;
}

.filter-title{
	padding-left:1em;
	font-size: 15px;
	font-weight:bold;
	color:rgb(62,67,129);
}

.filter-subtitle{
	font-size:12px;
}

.filter{
	spacing: 5em;
	clear:both;
	width: 100%;
	text-align:right;
	margin-top:1em;
	margin-bottom:1em;
}

.filter-encounter-type{
	vertical-align:top;
}

.filter-dropdown{
	width:200px;
	margin-right:10em;
}

.filter-label {
	vertical-align:top;
}

#payerFilter{
	width:175px;
	margin-right:10em;
}

.payer-table-container{
	width: 200px;
	margin-right: 9.5em;
	min-height: 80px;
	max-height: 80px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-width:2px;
	border-style:inset;
}

.filter-checkbox{
	spacing: 5px;
	padding: 4px;
	width: 100%;
	text-align:left;
}

.filter-checkbox-header{
	margin-left:.5em;
}

.worklist-manager-name-hover{
	background-color:#DDE8F5;
	cursor: pointer;
}

.worklist-float-left{
	float:left;
}

.worklist-X-float-right{
	float:right;
}

.worklist-remove-x{
	float:right;
	visibility:hidden;
	background-image:url(../images/remove_up.png);
	background-repeat:no-repeat;
	width:20px;
	height:20px;
}

.worklist-hover-over-remove-x{
	float:right;
	visibility:hidden;
	background-image:url(../images/remove_over.png);
	background-repeat:no-repeat;
	width:20px;
	height:20px;
}

.filter-disabled-text{
	color : #cccccc;
}

.filter-prmy-sort-label{
	width:70px;
	display: inline-block;
}

.filter-sec-sort-label{
	width:70px;
	display: inline-block;
}

.no-patient-lists-image{
	top: 20%;
    margin-top: 20px;
    margin-bottom: 0px;
}
.no-patient-lists-primary-label{
    font:18px Tahoma; 
    font-weight:bold; 
    color:#CCCCCC; 
    top:20%; 
    padding-top:32px; 
    padding-bottom:12px; 
}
.no-patient-lists-secondary-label{
    font:14px Tahoma; 
    color:#9F9F9F; 
    top:20%; 
    padding:0px; 
}
.no-patient-lists-link{
    font:14px Tahoma; 
    color:#3380EF; 
    top:20%; 
    padding:0px; 
    cursor:pointer;
    margin-bottom: 10px;
}

.no-patient-list-div{
    text-align: center;
}

/*Split Button*/

.split-button-action-button{
	border-style:none;
	width:170px;
	float:left;
	height :100%;
	padding:0px;
	margin:0px;
	background:transparent;
	font-size: 13px;
}

.split-button-dropdown-button{
	border-style:none;
	width:25px;
	height:100%;
	float:right;
	background:transparent;
	border-left:1px solid #000000;
	padding-right:5px;
}

.splitButton-button-area{
	float:right;
	width:195px;
	background-color: #fbfbfb;
	border: ridge 1px #dddddd;
	margin-left:5px;
	margin-right:5px;
	height : 22px;
	background-image:url(../images/buttonGradient.png);
	background-repeat : repeat-x;
	text-align: center;
}

.splitButton-dropdown-area{
	z-index:1000;
	width:170px;
	position:fixed;
	display:none;
	background:#FFFFFF;
	border:1px solid #000000;
}

.split-assign-dropdown-option{
	cursor : pointer;
}

.split-assign-dropdown-option:hover{
	background-color: #568ECB;
}



/* Dialog */

#dialog-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 5;
	display: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-image: url(../images/transparent.png);
    background-repeat: repeat;
}

#dialog-container {
	position: fixed;
	border: solid 1px black;
	width: 350px;
	min-height: 160px;
	z-index: 6;
	background: white;
	top: 50%;
	left: 50%;
	display: none;
	margin-left : -175px;
}

#dialog-title-bar {
	background-image: url(../images/H2_header_center.png);
	color: #3e3e3e;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	width: 100%;
}

#dialog-title {
	margin: 5px;
}

#dialog-body {
	font-size: 15px;
	height: 100px;
	margin: 5px;
}

#dialog-message {
	font: 13px/1.5em Tahoma, sans-serif;
}

#dialog-buttons {
	border-top: #c9dfe5 1px solid;
	height: 20px;
	text-align: right;
}

#dialog-buttons>input {
	text-align: center;
	color: #13E4381;
	float: right;
	font-size: 12px;
	margin-right: 5px;
	margin-top: 5px;
	width: 75px;
}