html, body {
    overflow: hidden;
	background-color: ThreeDFace;
}
div, p {
    font-family: Arial,Helvetica,Verdana,Tahoma,sans-serif;
    font-size: .95em;
}
div.outer-container {
    margin: 0;
    padding: 0;
}
div.error-box {
    border: 1px solid red;
    clear: both;
    font-size: 0.9em;
    margin: 0 0 5px;
    overflow: hidden;
    padding: 5px;
}
div.warning-box {
    border: 1px solid yellow;
    clear: both;
    font-size: 0.9em;
    margin: 0 0 5px;
    overflow: hidden;
    padding: 5px;
}
div.error-header {
    color: red;
    font-size: 0.9em;
    font-weight: bold;
    overflow: auto;
}
div.warning-header {
    color: black;
    font-size: 0.9em;
    font-weight: bold;
    overflow: auto;
}
div.text-box {
    clear: both;
    margin: 0 0 10px;
    padding: 0;
}
p.text-box {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}
label.label-font{
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}
form {
    margin: 0;
    padding: 0;
    width: 100%;
}
input#cpt_entry {
    margin: 5px 0;
    width: 100%;
}
input#form_submit {
    height: 1px;
    left: -99999px;
    position: absolute;
    width: 1px;
}
button {
    background-color: #F0F0F0;
    color: black;
}
button#close-error {
    float: right;
}
button#close-warning {
    float: right;
}
select {
    margin: 5px 0;
    width: 100%;
}
img.icon {
    float: left;
    margin: 0;
    padding: 0 5px 0 0;
}
#context-menu {
    border: 1px solid #A0A0A0;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 108px;
}
.cmenu {
    background-color: #F1F1F1;
    color: black;
    cursor: default;
    list-style: none outside none;
    margin: 2px;
    padding: 0;
}
.cmenu-item {
    cursor: default;
    font-size: 0.8em;
    margin: 0;
    padding: 0 0 2px 5px;
}
.cmenu li:hover {
    background-color: #3399FF;
    color: white;
}