.cerner_etreby_header{color:black;font-weight:bold;font-size:small;white-space:nowrap;padding-left:10px;}
.cerner_etreby_row{color:black;font-size:small;white-space:nowrap;padding-left:10px;}
.cerner_etreby_history_header{color:black;font-weight:bold;font-size:small;white-space:nowrap;}
.cerner_etreby:hover{background-color:gray;}
.cerner_etreby_div{overflow:auto;}
