.progressIndicatorBar {
	text-align: center;
	max-width: 99.50%; /* width minus padding */
	padding: 0 0.25%;
}
.progressIndicators1 > .progressIndicator {
	min-width: 100%;
	max-width: 100%;
}
.progressIndicators2 > .progressIndicator {
	min-width: 49.50%;
	max-width: 49.50%;
	margin: 0 0.25%;
}
.progressIndicators3 > .progressIndicator {
	min-width: 32.80%;
	max-width: 32.80%;
}
.progressIndicators3 > .middle {
	margin: 0 0.80%;
}
.progressIndicatorBarTooltip {
	border: 1px solid #BDBDBD;
	background-color: #FFFCE1;
	min-width: 700px;
}
.progressIndicatorBarTooltip .ui-tooltip-content {
	font: 12px Tahoma, sans-serif;
	color: #3E3E3E;
	word-wrap: break-word;
}