SELECT
    orderable = uar_get_code_display(o.catalog_cd)
    , accession_class = uar_get_code_display(p.accession_class_cd)
    , spec_type = uar_get_code_display(c.specimen_type_cd)
    , collection_method = uar_get_code_display(p.default_collection_method_cd)
    , spec_test_site = ""
    , age_from = if (c.age_from_minutes < 60)
            build(c.age_from_minutes," Minutes")
        elseif (c.age_from_minutes < 1440)
            build(c.age_from_minutes / 60," Hours")
        elseif (c.age_from_minutes >= 1440 and c.age_from_minutes < 10080)
            build(c.age_from_minutes / 1440," Days")
        elseif (c.age_from_minutes >= 10080 and c.age_from_minutes < 43200)
            build(c.age_from_minutes / 10080," Weeks")
        elseif (c.age_from_minutes >= 43200 and c.age_from_minutes < 525600)
            build(c.age_from_minutes / 43200," Months")
        elseif (c.age_from_minutes >= 525600)
            build(c.age_from_minutes / 525600," Years")
        endif
        
    , age_to = if (c.age_to_minutes < 60)
            build(c.age_to_minutes," Minutes")
        elseif (c.age_to_minutes < 1440)
            build(c.age_to_minutes / 60," Hours")
        elseif (c.age_to_minutes >= 1440 and c.age_to_minutes < 10080)
            build(c.age_to_minutes / 1440," Days")
        elseif (c.age_to_minutes >= 10080 and c.age_to_minutes < 43200)
            build(c.age_to_minutes / 10080," Weeks")
        elseif (c.age_to_minutes >= 43200 and c.age_to_minutes < 525600)
            build(c.age_to_minutes / 43200," Months")
        elseif (c.age_to_minutes >= 525600)
            build(c.age_to_minutes / 525600," Years")
        endif
    , min_vol_cnvt = concat(trim(cnvtstring(c.min_vol,3,1)), " ", cnvtlower(c.min_vol_units))
    , specimen_container = uar_get_code_display(c.spec_cntnr_cd)
    , collection_class = uar_get_code_display(c.coll_class_cd)
    , special_handling = uar_get_code_display(c.spec_hndl_cd)
    , serv_rescource =
    if (uar_get_code_display(c.service_resource_cd) = " ") "Default"
        else
            uar_get_code_display(c.service_resource_cd)
    endif
 
FROM
    order_catalog   o
    , collection_info_qualifiers   c
    , procedure_specimen_type   p
 
Where o.catalog_cd = c.catalog_cd               
    and o.activity_type_cd in (674)
    and c.catalog_cd = p.catalog_cd
    and o.active_ind = 1
 
ORDER BY
    orderable
    , c.specimen_type_cd
    , c.service_resource_cd desc