

        /* ============== CSS RESET ============== */
        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
            big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt,
            dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
            margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; vertical-align: baseline; }
        /* remember to define focus styles! */
        :focus { outline: 0; }
        body { line-height: 1em; color: #000; background: #FFF; }
        ol, ul { list-style: none; }
        /* tables still need 'cellspacing="0"' in the markup */
        table { border-collapse: separate; border-spacing: 0; }
        caption, th, td { text-align: left; font-weight: normal; }
        blockquote:before, blockquote:after, q:before, q:after { content: ""; }
        script { display: none; height: 0; width: 0; }
        input { padding: 0; margin: 0; }
        html { font-size: 100.1%; }

@media screen {
 
	 body { text-align:center;
	 	   background: #FFF none repeat scroll 0 0;
		   font: normal 12px Tahoma, Helvetica, Arial, sans-serif;
		   width:100%;
		  }

     p{ position: absolute;
		left: 220px;
		top: 330px;
	  }
 
	h1 { color: #003C74;
		font-size: 2.8em;
	  }
 
	.ghead {	color: #003C74;
			text-align: right;
			font-size: 1.5em;
			margin: 4px;
		   }
	.layoutTable td { vertical-align: middle; padding: 1em .5em 0em .5em;
				   }
					  
	.resultTable{ border-collapse: collapse;
				  border: 1px solid #ADCC92;
				/*margin-left:auto; margin-right:auto; */
				  float: left;
				  margin-bottom: 3em;
				  margin-right: 5em;
				  text-align:center;
				  width: 16em; 		  
				}
	.resultTable td {padding: 0em;}

	.resultTable thead tr { color: #003C74;
						 background: #FFF url(../images/header-green.gif) repeat-x 0 100%;		
					   }
	
	.resultTable tbody th, .resultTable tbody td { border-bottom:1px solid #E8EFF9;} 
	
	.innerTable{ border-collapse: collapse;
				  float: left;
				  margin-bottom: 3em;
				  margin-right: 5em;
				  text-align:center;
				  width: 16em; 		  
				}
	
	.tableData { width: 16em; 
				 height:auto; 
				 max-height: 20em;
				 overflow-y: auto; 
				 overflow-x: hidden;
				}
	
	.dateHead { font-weight: normal; 
			    padding: 0px 4px;
			  }
    .date {width: 49%;} 
	.sys {width: 24%;}
	.dia {width: 24%;}	

	.dateOther{width: 55%;}
	.unitOther{width: 44%;}
	
	.nograph{ visibility: visible;
			  display: block;
			  color: #003C74;
			  font-weight: bold;
			  width: 650px;
			  height: 50px;
			  border: 1px solid #FFF;
			}
	
	.selections { text-align: center;}
 
 	.flot-graph { float: left; 
				  margin-bottom: 3em;
				}
 
	.trHide {display: none;}
 
	hr { width:99%;
		white-space: nowrap;
		border:1px solid #677484;
		clear: both;
	   }
	   
    /* ========== Hover Formatting ========== */
     .hvr {background:#FFF; padding:0 5px; z-index:1; margin:-1px 10px 10px 5px; width:400px; line-height:2em; word-wrap:break-word;}
     .hvr.hover {position:absolute; display:none; z-index:1000; background-color:#FFC; border:1px solid #000;}
     .hvr dt {clear:left; color:#505050;}
     .hvr dt span {float:left; margin-left:5px;}
     .hvr dd {float:left; display:inline; margin:0 5px; overflow-x:hidden;}
     .hvr table {margin:3px 0;}
    /* ========== Normalcy Formatting ========== */	 
	 .res-severe, .res-severe a {color:#E50D34; font-weight:bold;}
	 .res-high {color:#FF8013; font-weight:bold;}
	 .res-low {color:#0054E7; font-weight:bold;}
	   
}
 
 
@media print {
	.resultTable { border-collapse: collapse;
				  float: none;
				  margin-left:auto; margin-right:auto;
	}
  
	.trHide {display: none;}
 
    p{ position: absolute;
	   left: 220px;
	   top: 330px;
	}
}
 
 
 