/*
 * Project: mp_allergies_o1.css
 * Version 1.1.0
 * Released 9/28/2010
 * @author Greg Howdeshell (GH7199)
 */
.al-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 .2em; border-bottom:.1em solid #E8EFF9; word-wrap:break-word;}
.al-info-hd, .al-info dt, .al-det-hd {position:absolute; visibility:hidden;}
.al-name {width:48%; float:left; display:inline-block; padding-right:.5em;}
.al-reac {width:48%; float:left; display:inline-block; padding-left:.5em;}/* ========== Patient Demographics ========== */
.dmg-pt-name-lbl, .dmg-sex-age-lbl {position:absolute; visibility:hidden;}
.dmg-info dt {padding-left:10px; display:inline; color:#505050;}
.dmg-info dd {display:inline;}
.dmg-pt-name {font:bold 14px Tahoma;}
.dmg-sex-age {font:12px Tahoma;padding-left:10px;}
.dmg-item {font:12px Tahoma;padding-left:2px;}/*
 * Project: mp_diagnoses_o1.css
 * Version 1.1.0
 * Released 7/23/2010
 * @author Greg Howdeshell (GH7199)
 * @author Megha Rao (MR018925)
 */
.dx-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 .2em; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.dx-info-hd, .dx-info dt, .dx-det-hd {position:absolute; visibility:hidden;}
.dx-name {display:inline;}
.dx-code {display:inline; color:#505050; padding-left:.5em; font-size:.85em;}
.dx-det br {line-height:0.1em; }/*
 * Project: mp_diagnostics_o1.css
 * Version 2.0.0
 * Released 9/27/2010
 * @author Greg Howdeshell (GH7199)
 * @author Sean Turk (ST012419)
 */
.dg-info, .dg-info-hdr {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 .2em; border-bottom:.1em solid #E8EFF9; word-wrap:break-word;}
.dg-info-hd, .dg-info dt, .dg-det-hd {position:absolute; visibility:hidden;}
.dg-info-hdr {background:#E8EFF9; font:normal 11px Tahoma; color:#505050;}
.dg-name, .dg-name-hd {width:44%; float:left; display:inline-block; padding-right:1%;}
.dg-within, .dg-within-hd {width:16%; float:left; display:inline-block;padding-right:1%;padding-right:1%;}
.dg-stat, .dg-stat-hd {width:24%; float:left; display:inline-block; padding-right:1%;}
.dg-image {display:inline-block; padding-right:1%;}
a.dg-image-found {width:16px; height:16px; display:inline-block; background-image:url(../Images/4988.gif); text-decoration:none;}
/*
 * Project: mp_discharge_plan_o1.css
 * Version 1.0.2
 * Released 9/20/2010
 * @author Greg Howdeshell (GH7199)
 */
.dp-info, .dp-info-hd {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.dp-info dt, .dp-info-hd {position:absolute; visibility:hidden;}  
.dp-name {width:33%; float:left; display:inline-block; padding-right:5px;}
.dp-info dt, .dp-det-hd {position:absolute; visibility:hidden;}
.dp-dt {width:20%; float:left; display:inline-block; padding-left:5px;}
.dp-res {width:43%; float:left; display:inline-block; padding-left:5px;}/*
 * Project: mp_documents_o1.css
 * Version 2.0.0
 * Released 9/27/2010
 * @author Greg Howdeshell (GH7199)
 * @author Subash Katageri (SK018948)
 * @author Sean Turk (ST012419)
 */
.doc-info, .doc-info-hdr {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding-left:2px; padding-right:2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.doc-info-hd, .doc-info dt, .doc-det-hd {position:absolute; visibility:hidden;}
.doc-info-hdr {background:#E8EFF9; font:normal 12px Tahoma; color:#505050;}
.doc-cat, .doc-cat-hd {width:36%; float:left; display:inline-block; padding-right:5px;}
.doc-cat-full, .doc-cat-full-hd {width:58%; float:left; display:inline-block; padding-right:1%;}
.doc-auth, .doc-auth-hd {width:29%; float:left; display:inline-block; padding-left:1%; padding-right:1%;}
.doc-dt, .doc-dt-hd {width:22%; float:left; display:inline-block; padding-left:1%;}
.doc-info-hdr-scroll {margin-right:15px;}
.content-hdr {background:#E8EFF9;}
.doc-image {width:5%; float:left; display:inline-block; padding-right:1%;}
a.doc-image-found {width:16px; height:16px; display:inline-block; background-image:url(../Images/4988.gif); text-decoration:none;}
/* ========== Bilirubin/Blood Products========== */
.flot-tooltip {border: 1px solid #000; padding: 2px; background-color: #FFC; display: none; position: absolute; font: 13px/1.5em Tahoma;}
.blood-table td{ text-align: left; font: 13px/1.5em Tahoma; border-bottom: 1px solid #E8EFF9; }
.blood-table .sub-sec-hd {font:normal 11px Tahoma; color:#505050; background:#E8EFF9; padding-left:.2em; border-top:1px solid #E8EFF9; border-bottom:1px solid #E8EFF9; }
#bilirubin-xaxislabel {width: 383px; margin:auto; text-align:center; COLOR: #545454; FONT-SIZE: smaller}
.serum-icon {color: #99CCFF; font-weight: bold}
.trans-icon {color: #FF6633; font-weight: bold}
.bilirubin-legend-item{COLOR: #545454; FONT-SIZE: smaller}
.bilirubin-legend {width: 250px; margin:auto}
#biligraph {margin:auto}
.blood-info, .blood-info-hd {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.blood-info dt, .blood-info-hd {position:absolute; visibility:hidden;}  
.blood-name {width:33%; float:left; display:inline-block; padding-right:5px;}
/*
 * Project: mp_intake_output_o1.css
 * Version 1.0.2
 * Released 12/2/2010
 * @author Kiran Handi (KH019391)
 * @author Mark Davenport (MD019066)
 */
.io-det-hd {position:absolute; visibility:hidden;}
.io-dates-range { font: 11px/1.3em Tahoma;}
.io-dates-range dd {display:inline;}
.io-values {line-height:1.5em; /*clear:both; zoom:1;*/ overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word; font: 12px Tahoma}
.io-values dd{ display:inline;}
.io-sub-date { visibility: hidden; text-align: right;  display:inline-block; width:43%; }
.io-dates { width:16%; text-align: right; display:inline-block; }
.io-result {width:16%;  text-align:right; display:inline-block; }
.io-result-scroll {width:17.3%;  text-align:right; display:inline-block; }
.io-types, .io-names {width:41%; display:inline-block;padding-right:1%;}
.io-names{ text-align: left; padding-left:2px;}
.io-types{text-align: left;}
.unit { color: #505050; text-align: left; font: 10px Tahoma; padding-left: 2px; display:inline-block; }
.io-total {width:16%;}
.io-types, .io-total,{font: 12px/1.3em Tahoma; background:#F3F8EE solid #ADCC92;}
.io-total {display:inline-block;  text-align: right; color: #505050; font-weight:bold;}
.io-ind{line-height:1.5em; padding-left:1%; width:95%; text-align: left; display:inline-block;}
.io-spacer{ float:right; text-align:center; width:1em; font-weight:normal;}

/**
 * Project: mp_laboratory_o1.css
 * Version 1.1.2
 * Released 9/20/2010
 * @author Greg Howdeshell (GH7199)
 * @author Ryan Wareham (RW012837)
 */
.lab-info dt, .lab-info-hd, .lab-det-hd {position:absolute; visibility:hidden;}
.lab-info{text-align:left;}
.lab-lbl {color:#505050; width:40%; padding:0 .2em;}
.lab-res0, .lab-res1, .lab-res2 {width:18%; padding:0 .2em;}
.lab-res0 {border-right:2px solid #E8EFF9;}
.lab-hdr {background:#E8EFF9;}
.lab-table {table-layout:fixed;}
.lab-table span {word-wrap:break-word;}
.lab-icn0,.lab-icn1,.lab-icn2,.lab-icn3{width:3%; padding:0 .2em; text-align:right;}
.lab-sec.closed .sec-content {position:relative; visibility:visible; display:none; }
.lab-scrl-tbl-hd {padding-right:15px;}/*
 * Project: mp_lines_tubes_drains_o1.css
 * Version 1.0.2
 * Released 9/20/2010
 * @author Megha Rao (MR018925)
 * @author Jacob Anderson (JA017481)
 * @author Greg Howdeshell (GH7199)
 */
.ld-info, .ld-info-hdr {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 .2em; border-bottom:.1em solid #E8EFF9; word-wrap:break-word;}
.ld-info dt, .ld-det-hd, .ld-info-hd {position:absolute; visibility:hidden;}
.ld-name {width:60%; float:left; display:inline-block; padding-right:.5em;}
.ld-dt {width:24%; float:left; display:inline-block; padding-left:5px;}
.ld-sub-sec-hdr {background:#F3F8EE;}
.ld-det-hd {position:absolute; visibility:hidden;}
.ld-info-hdr {background:#E8EFF9; font:normal 11px Tahoma; color:#505050;}/* ========== Measurements ========== */
.meas-info {border-bottom:1px solid #E8EFF9; clear:both; line-height:1.2em; padding:0 .5em; word-wrap:break-word; zoom:1;}
.meas-table th {background-color: #E8EFF9; border-right: 1px solid #000; padding:0 .5em;}
.meas-table tr {background-color: #E8EFF9; border-top: 1px solid #E8EFF9;} 
.meas-table tr.odd {background-color: #FFF; border-top: 1px solid #E8EFF9;}
.meas-table td {border-right: 1px solid #000; padding:0 .5em;}
.meas-col1, .meas-col1-hd {width:30%; float:left; display:inline-block; padding-right:5px;}
.meas-col, .meas-col-hd {width:15%; float:left; display:inline-block; padding-left:5px; padding-right:5px;}
/*
 * Project: mp_medications_o1.css
 * Version 1.2.5
 * Released 10/05/2010
 * @author Greg Howdeshell (GH7199)
 * @author Subash Katageri (SK018948)
 */
.med-info, .med-info-hdr {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.med-info-hd, .med-info dt, .med-det-hd {position:absolute; visibility:hidden;}
.med-name {width:70%; float:left; display:inline-block; padding-right:5px;}
.med-sig {display:inline; color:#505050; padding-left:5px;}
.med-date {width:24%; float:left; display:inline-block; padding-left:5px;}
.med-info-hdr {background:#E8EFF9; font:normal 12px Tahoma; color:#505050;}
/*
 * Project: mp_microbiology_o1.css
 * Version 1.0.0
 * Released 7/26/2010
 * @author Greg Howdeshell (GH7199)
 * @author Megha Rao (MR018925)
 * @author Ryan Wareham (RW012837)
 */
.mic-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;} 
.mic-info-hdr {line-height:1.5em; background:#E8EFF9; font:normal 12px Tahoma; color:#505050; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 1%; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.mic-info-hd, .mic-info dt, .mic-det-hd {position:absolute; visibility:hidden;}
.mic-catalog, .mic-catalog-hd {width:24%; float:left; display:inline-block;}
.mic-src, .mic-src-hd {width:22%; float:left; display:inline-block; padding-right:.5em;}
.mic-within, .mic-within-hd {width:20%; float:left; display:inline-block; padding-left:.5em; padding-right:.5em;}
.mic-norm, .mic-norm-hd {width:21%; float:left; display:inline-block; padding-left:.5em; padding-right:.5em;}
/* ========== Overview========== */
.overview-table td.label { background: #f2f2f2; font-weight:normal; float:left; padding-right: 2px;  color:#505050; width:16%; text-align: right;  }
.overview-table td.value { font-weight:normal;float:left; width:16%; text-align: left; }
.contact-table tr.odd {background-color: #FFF; border-top: 1px solid #E8EFF9;}
.contact-table tr {background-color: #E8EFF9; border-top: 1px solid #E8EFF9;} 
.contact-table td {border-right: 1px solid #000; padding:0 .5em; width:25%}
.overview-info, .overview-info-hd {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.overview-info dt, .overview-info-hd {position:absolute; visibility:hidden;}  
.overview-name {width:33%; float:left; display:inline-block; padding-right:5px;}


/* ================== Tab Menu ==============================*/
.tabmenu { color: #003C74; border-bottom: 1px solid #7274A5;  z-index: 1; }
.tabmenu li { display: inline; overflow: hidden; list-style-type: none; margin-bottom:0;}
.tabmenu a.active { background-image: url(../images/tab_active.gif); background-repeat:no-repeat; height: 1.5em; font: bold 12px Tahoma;}
.tabmenu a.active:link { color: #003C74; font: bold 12px Tahoma;  padding: 2px 2px 2px 2px; text-decoration: none;}
.tabmenu a.active:visited { color: #003C74; font: bold 12px Tahoma;  padding: 2px 2px 0px 2px; text-decoration: none;}
.tabmenu a.active:active{ color: #003C74; font: bold 12px Tahoma;  padding: 2px 2px 0px 2px; text-decoration: none;}
.tabmenu a.active:hover { color: #003C74; font: bold 12px Tahoma;  padding: 2px 2px 0px 2px; text-decoration: none;}
.tabmenu a.inactive { background-image: url(../images/tab_inactive.gif); background-repeat:no-repeat; height: 1.5em; color: #B3B3B3;}
.tabmenu a.inactive:link { color: #B3B3B3; font: 12px Tahoma;  padding: 2px 12px 0px 2px; text-decoration: none;}
.tabmenu a.inactive:visited { color: #B3B3B3; font: 12px Tahoma;  padding: 2px 12px 0px 2px; text-decoration: none;}
.tabmenu a.inactive:active{ color: #B3B3B3; font: 12px Tahoma;  padding: 2px 12px 0px 2px; text-decoration: none;}
.tabmenu a.inactive:hover { color: #B3B3B3; font: 12px Tahoma;  padding: 2px 12px 0px 2px; text-decoration: none;}
.content {font: 0.9em/1.3em Tahoma, Helvetica, sans-serif;  padding: 5px;  width: 100%; border-top: none; z-index: 2;	}
.content a { text-decoration: underline; color: #DEDECF; }
.content a:hover {   color: #3380E5;}	
.rightElement { text-align: right;}
td.day-of-life {font: 12px Tahoma;  margin-bottom:0; text-decoration: none; overflow:hidden; border-bottom: 1px solid #7274A5; }
/*
 * Project: mp_pathology_o1.css
 * Version 2.0.0
 * Released 9/27/2010
 * @author Greg Howdeshell (GH7199)
 * @author Anantha Ramu (AR018249)
 * @author Sean Turk (ST012419)
 */  
.path-info, .path-info-hdr {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.path-info-hd, .path-info dt, .path-det-hd {position:absolute; visibility:hidden;}
.path-info-hdr {background:#E8EFF9; font:normal 12px Tahoma; color:#505050;}
.path-cat, .path-cat-hd {width:65%; float:left; display:inline-block; padding-right:5px;}
.path-auth, .path-auth-hd {display:none;}
.path-dt, .path-dt-hd {width:22%; float:left; display:inline-block; padding-left:5px;}
.path-image {display:none;}
/*
 * Project: mp_patient_family_edu_sum_o1.css
 * Version 1.0.0
 * Released 7/26/2010
 * @author Greg Howdeshell (GH7199)
 * @author Megha Rao (MR018925)
 */
.pfe-info {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 .2em; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.pfe-info-hd, .pfe-info dt, .pfe-det-hd {position:absolute; visibility:hidden;}
.pfe-name {width:72%; float:left; display:inline-block; padding-right:.5em;}
.pfe-date {width:23%; float:left; display:inline-block; padding-left:.5em;} /*
 * Project: mp_problems_o1.css
 * Version 1.0.0
 * Released 7/23/2010
 * @author Megha Rao (MR018925)
 */
.pl-info  {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 .2em; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.pl-info-hd, .pl-info dt, .pl-det-hd {position:absolute; visibility:hidden;}
.pl-name {display:inline;}
.pl-assoc-name{display:inline; margin-left: .8em;}
.pl-code {display:inline; color:#505050; margin-left:.4em; font-size:.85em;}

/*
 * Project: mp_procedures_o1.css
 * Version 1.1.0
 * Released 9/30/2010
 * @author Anantha Ramu (AR018249)
 */
.proc-list {zoom:1;}
.proc-info-hd, .proc-info dt, .proc-det-hd  {position:absolute; visibility:hidden;}
.proc-info {border-bottom:1px solid #E8EFF9; line-height:1.5em; padding:0 .5em; word-wrap:break-word;spacing; zoom:1;}
.proc-name span {float:left; width:71%;}
.proc-date span {color:#666; float:right; font-size:.85em; margin-left:1em;}
.proc-det-date span {color:#666; float:right; font-size:.85em; margin-left:1em;}
.proc-det-name span {float:left;}

/* ========== Task Timeline ========== */
.ttl-table th {background-color: #E8EFF9; border-right: 1px solid #000; padding:0 .5em;}
.ttl-table tr {background-color: #E8EFF9; border-top: 1px solid #E8EFF9;} 
.ttl-table tr.odd {background-color: #FFF; border-top: 1px solid #E8EFF9;}
.ttl-table td {border-right: 1px solid #000; padding:0 .5em;}
.ttl-table td.checked {background-image: url(../images/4022_16.gif); background-repeat:no-repeat; background-position:center}
.tasks-info, .tasks-info-hd {line-height:1.5em; clear:both; zoom:1; overflow-x:hidden; overflow-y:auto; padding:0 2px; border-bottom:1px solid #E8EFF9; word-wrap:break-word;}
.tasks-info dt, .tasks-info-hd {position:absolute; visibility:hidden;}  
.tasks-name {width:33%; float:left; display:inline-block; padding-right:5px;}/*
 * Project: mp_vitalsigns_o1.css
 * Version 1.1.0
 * Released TBD
 * @author Mark Davenport (MD019066)
 */
.vs-info dt, .vs-info-hd, .vs-det-hd {position:absolute; visibility:hidden;}
.vs-info{text-align:left;}
.vs-lbl {color:#505050; width:36%; padding:0 .2em;}
.vs-res0, .vs-res1, .vs-res2 {width:18%; padding:0 .2em;}
.vs-within { font:normal 11px Tahoma, sans-serif; color:#505050;}
.vs-res0 {border-right:2px solid #E8EFF9;}
.vs-hdr {background:#E8EFF9;}
.vs-table {table-layout:fixed;}
.vs-table span {word-wrap:break-word;}
.vs-scrl-tbl { margin-right: 15px;}
.sec-content > .vs-scrl-tbl { padding-right: 15px; margin-right:0;}
.vs-scrl-tbl-hd { padding-right:15px;} 
.vs-icn0,.vs-icn1,.vs-icn2,.vs-icn3{width:3%; padding-right:0 .2em; text-align:right;}
.vs-sec.closed .sec-content {position:relative; visibility:visible; display:none; }
#tooltip {position:absolute; background:#FFC; border:1px solid #E5EEFC; padding:5px; font:13px/1.5em Tahoma; z-index:1; white-space:nowrap}
/* ========== Hover Formatting (Vital Signs) ========== */
#tooltip dt {clear:left; color:#505050;}
#tooltip dt span {float:left; margin:0 0 0 .5em;}
#tooltip dd {float:left; display:inline; margin:0 .5em; overflow-x:hidden;}

