/* ============== CSS RESET ============== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
    big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt,
    dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; vertical-align:baseline;}
:focus {outline:0;}
body {color:#000; background:#FFF; font:normal 12px/1.5em Tahoma, sans-serif; text-align:left; width:100%; height: 100%}
ol, ul {list-style:none; text-align:left;}
table {border-collapse:separate; border-spacing:0; font:normal 12px Tahoma, sans-serif;}
caption {display:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
script {display:none;}
input {padding:0; margin:0;}

/* ========== Common Styles ========== */
a, a:active, a:link {text-decoration:none; cursor:pointer; color:#0033CC;}
a:hover {text-decoration:underline;}
a:visited {background:none;}
a:focus {border:1px dotted #505050;}
hr {display:none;}
table {font-size:100%; width:100%; border-collapse:collapse;}
td {font:12px/1.5em Tahoma, sans-serif; word-wrap:break-word; vertical-align:top;}
th {font:10px/1.2em Tahoma, sans-serif; word-wrap:break-word; vertical-align:bottom; text-align:left; color:#666666;}
.even {background:#F3F6FD;}
.odd {background:#FFF;}
.disclaimer {font:normal 10px Tahoma, sans-serif; text-align:left; clear:left;}

.res-none-hd, .info-hd, .det-hd {position:absolute; visibility:hidden;}
.unit, .within, .date-time {font:normal 11px Tahoma, sans-serif; color:#505050;}
.hdr {color:#666666; font:normal 10px/1.2em Tahoma, sans-serif; background:#F6F6F6;}
.specHdr {color:#F8F8FF; font:normal 15px/1.2em Tahoma, sans-serif; background:#1874CD; width:100%}
.hidden {display:none;}

/* ========== Page Header ========== */
.pg-hd {padding:2px 0; margin:0 0 8px 5px; color:#003C74; border-bottom:1px solid #E7E7E7; text-align:right; line-height:1.5em; display:block; zoom:1;}
.pg-title {font-weight:bold; display:inline; font-size:16px; float:left;}
.pg-ctrl {margin-right:20px; vertical-align:middle;}
#expAll, #custView {padding-left:5px; padding-right:5px;}
#filters {padding-left:5px; padding-right:5px;margin-bottom:8px; margin-left:5px; display:block; width:90%;margin-top:5px;}
#filters select {margin-right:15px; display:inline-block; width:100%;}
.filter-lbl {margin-right:5px; color:#505050; text-align:right; float:left;}
.filter-table{margin-right:5px; margin-top:5px; width:90%; border:1px solid #EDEDED;}
.proc-fil{width:100%;}

/* ========== Hover Formatting ========== */
.hvr {background:#FFF; padding:0 5px; z-index:1; margin:-1px 10px 10px 5px; width:400px; line-height:2em; word-wrap:break-word;}
.hvr.hover {position:absolute; display:none; z-index:1000; background-color:#FFC; border:1px solid #000;}
.hvr dt {clear:left; color:#505050;}
.hvr dt span {float:left; margin-left:5px;}
.hvr dd {float:left; display:inline; margin:0 5px;}
.hvr table {margin:3px 0;}

/* ========== Button CSS ========== */
#submitButton{padding-left:50px; padding-top:15px; margin-bottom:8px; margin-left:5px; display:block; width:90%; float:right;}

/* ========== Page-Level ========== */
#report {margin:0 5px; border:0px solid #EDEDED;}
.pat-content{ height:450px ; overflow: auto;}
.pat-info dt {display:none;}
.pat-txt {clear:both; display:block; margin:0 5px;}

/* ========== Patient-Level ========== */
.pat-sec, .pat-hd {clear:both;}
.pat-table, .pat-table-hd, .filter-table {table-layout:fixed; width:100%;}
.pat-table td, .filter-table td, .pat-table-hd th {padding:3px; vertical-align:middle;}
.pat-more {display:none;}
.pat-selected .pat-more, .pat-selected  {display:block;}
.pat-det td {padding:3px;}
.pat-lbl {color:#666666; display:block;}

/* ========== Pref card-Level ========== */
.pcpl-sec, .pcpl-hd {clear:both;}
.pcpl-table, .pcpl-table-hd {table-layout:fixed; width:90%;}
.pcpl-table td, .pcpl-table-hd th {padding:3px; vertical-align:middle;}
.pcpl-det td {padding:3px;}
.pcpl-lbl {color:#666666; display:block;}

/* ========== Column Headings ========== */
.col-hd {cursor:pointer;}
.col-sort {text-decoration:underline;}

/* ========== Column Widths and Borders ========== */
.pcpl-pc-desc {width:20%;}
.pcpl-item-id {width:15%;}
.pcpl-analysis {width:20%;}
.pcpl-sug-mod {width:10%;}
.pcpl-open-hold {width:15%;}
.pcpl-accept {width:5%}
.pcpl-snooze {width:15%}

/* Borders */
.pcpl-pc-desc, .pcpl-item-id, .pcpl-analysis, .pcpl-sug-mod, .pcpl-open-hold,.pcpl-accept,.pcpl-snooze {border-left:1px solid #EDEDED; border-right:1px solid #EDEDED;}
.pcpl-selected {border:2px solid #3797FE;}
.pcpl-selected td {border-left:0; border-right:0;} 
.pcpl-sug-mod {text-align:center; padding:2px;} 

/* table rows*/
.even .pat-table .pat-mp-score {border-top:1px solid #F3F6FD; border-bottom:1px solid #F3F6FD;}
.odd .pat-table .pat-mp-score {border-top:1px solid #FFF; border-bottom:1px solid #FFF;}
.pat-selected .pat-table {border-top:0; border-bottom:0;}
.open-hold{text-align:left; width:50%}

/* ========== btn ========== */
.pat-btns {display:inline-block; padding-top:20px; padding-right:100px;}
.pat-btn {width:15%; font-size:12px; float:right;}
.fil-load{width:20%; font-size:12px; float:left;}

