body
        {font-family: Arial, sans-serif; font-size: 12px; width: 800px; height: 400px; margin: auto;}
 
      /* BANNER BAR */
      .banner
      	{background: linear-gradient(to bottom, #2f99d5 0%,#136baa 100%); padding: 5px;}
      .bannerTable
        {width: 780px; margin: auto; color: white;}
      .bannerCell
        {width: 195px; padding: 2px;}
 
      /* MESSAGE HEADER */
      .header
        {font-size: 16px; color: darkblue; background-color: lightgray; text-align: center; padding: 20px;}
      .highlight
        {color: red; font-weight: bold; font-size: 18px;}
      .redH
        {color:red; font-weight: bold;}
 
      /* ACTION BUTTONS */
      .myButton
        {box-shadow:inset 0px 1px 0px 0px #54a3f7; background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
        background-color:#007dc1; border-radius:3px; border:1px solid #124d77; display:inline-block; cursor:pointer;
        color:#ffffff; font-family:Arial; font-size:11px; padding:6px 6px; text-decoration:none; text-shadow:0px 1px 0px #154682;
        width: 80px; text-align: center;}
      .myButton:hover
        {box-shadow:inset 0px 1px 0px 0px #a4e271; background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
        border:1px solid #74b807; color: black; text-shadow:0px 1px 0px #77a809;}
      .myButton-active
        {box-shadow:inset 0px 1px 0px 0px #a4e271; background:linear-gradient(to bottom, #a5e317 5%, #77a809 100%);
          border:1px solid #74b807; color: black; text-shadow:0px 1px 0px #77a809;}
 
      /* ORDERS TABLE */
      #ordersDiv
        {postition: relative; top: 200px;}
      .ordTable
        {margin: auto;}
      .column1
        {width: 180px; text-align: right; padding-bottom: 5px;}
      .column2
        {width: 400px;text-align: left; padding-bottom: 5px; cursor:pointer;}
      .column3
        {width: 115px; text-align: center; padding-bottom: 5px;}
      .lineAdd
        {text-decoration-line: line-through;}
      .mySpan
      {display: inline-block;}
 
      #footerDiv
        {text-align: center; position: fixed; bottom: 0; margin: auto; background-color: lightgray; width: 800px;
        padding-bottom: 8px; padding-top: 10px;}
      .button
        {background-color: #4CAF50; border: none; color: white; padding: 5px 25px; text-align: center; text-decoration: none;
        display: inline-block; font-size: 12px; margin: 4px 20px; cursor: pointer; border-radius: 8px;}
 
      /* MODAL WINDOWS */
      #dialog-message
        {display: none;}
      .ui-button
        {padding: 5px;}
      .ui-widget
        {font-family: Arial,sans-serif; font-size: 12px;}
      ul
        {list-style-type: none; text-align: left;}
      li
        {text-align: left;}