/* ============== CSS RESET ============== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
    big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt,
    dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; vertical-align: baseline; }
/* remember to define focus styles! */
:focus { outline: 0; }
body { line-height: 1em; color: #000; background: #FFF; }
ol, ul { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
script { display: none; height: 0; width: 0; }
input { padding: 0; margin: 0; }
html { font-size: 100.1%; }
 
/* ============== COMMON STYLES ============== */
html { font: 9pt Tahoma, Arial, sans-serif; }
body { text-align: left; padding: 1em;}
.wrap { cursor: default; margin: 0 auto; text-align: left;}
a { color: #003C74; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
label { color: #8F8F8F; }
hr { display: none; }
table { font-size: 100%; width: 100%; border-collapse: collapse; }
caption { position: absolute; visibility: hidden; line-height: 0; font-size: 0; overflow: hidden; height: 0; }

.ante_ca-titleText {font-size:24px; font-weight:bold; text-align:center;}
.anteca_nowrap {white-space:nowrap;}
.menulink {
  text-decoration: underline;
  color: #0000ee;
  cursor: pointer;
}