div.cloud_outcomes{overflow-x: auto;overflow-y: hidden;padding-bottom: 1.75em;}
.cerner_outcomes_header{color:black;font-weight:bold;font-size:small;white-space:nowrap;padding-left:10px;}
.cerner_outcomes_row{color:black;font-size:small;white-space:nowrap;padding-left:10px;}
.cerner_outcomes_detail_header{color:black;font-weight:bold;font-size:small;padding-left:10px;}
.cerner_outcomes_detail_row{color:black;font-size:small;padding-left:10px;}
.cerner_cloud_outcomes:hover{background-color:gray;}
