.jstree-serviceresources>ul{background:url("bg.jpg") left top repeat;}
.jstree-serviceresources li,.jstree-serviceresources ins{background-image:url("d.png");background-repeat:no-repeat;background-color:transparent;}
.jstree-serviceresources li{background-position:-90px 0;background-repeat:repeat-y;}
.jstree-serviceresources li.jstree-last{background:transparent;}
.jstree-serviceresources .jstree-open>ins{background-position:-72px 0;}
.jstree-serviceresources .jstree-closed>ins{background-position:-54px 0;}
.jstree-serviceresources .jstree-leaf>ins{background-position:-36px 0;}
.jstree-serviceresources a{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;text-shadow:1px 1px 1px white;}
.jstree-serviceresources .jstree-hovered{background:#aff;border:1px solid #d8f0fa;padding:0 3px 0 1px;text-shadow:1px 1px 1px silver;}
.jstree-serviceresources .jstree-clicked{background:#beebff;border:1px solid #99defd;padding:0 3px 0 1px;}
.jstree-serviceresources .INSTITUTION a .jstree-icon{background-position:-2px -73px;}
.jstree-serviceresources .DEPARTMENT a .jstree-icon{background-position:-57px -37px;}
.jstree-serviceresources .SECTION a .jstree-icon{background-position:-56px -55px;}
.jstree-serviceresources .SUBSECTION a .jstree-icon{background-position:-20px -73px;}
.jstree-serviceresources .BENCH a .jstree-icon{background-position:-58px -75px;}
.jstree-serviceresources .INSTRUMENT a .jstree-icon{background-position:-37px -72px;}
.jstree-serviceresources a.jstree-loading .jstree-icon{background:url("throbber.gif") center center no-repeat!important;}
.jstree-serviceresources.jstree-focused{background:white;}
.jstree-serviceresources .jstree-no-dots li,.jstree-serviceresources .jstree-no-dots .jstree-leaf>ins{background:transparent;}
.jstree-serviceresources .jstree-no-dots .jstree-open>ins{background-position:-18px 0;}
.jstree-serviceresources .jstree-no-dots .jstree-closed>ins{background-position:0 0;}
.jstree-serviceresources .jstree-no-icons a .jstree-icon{display:none;}
.jstree-serviceresources .jstree-search{font-style:italic;background:#ffff9d;border:1px solid #ffff80;padding:0 3px 0 1px;}
.jstree-serviceresources .jstree-no-icons .jstree-checkbox{display:inline-block;}
.jstree-serviceresources .jstree-no-checkboxes .jstree-checkbox{display:none!important;}
.jstree-serviceresources .jstree-checked>a>.jstree-checkbox{background-position:-38px -19px;}
.jstree-serviceresources .jstree-unchecked>a>.jstree-checkbox{background-position:-2px -19px;}
.jstree-serviceresources .jstree-undetermined>a>.jstree-checkbox{background-position:-20px -19px;}
.jstree-serviceresources .jstree-checked>a>.checkbox:hover{background-position:-38px -37px;}
.jstree-serviceresources .jstree-unchecked>a>.jstree-checkbox:hover{background-position:-2px -37px;}
.jstree-serviceresources .jstree-undetermined>a>.jstree-checkbox:hover{background-position:-20px -37px;}
#vakata-dragged.jstree-serviceresources ins{background:transparent!important;}
#vakata-dragged.jstree-serviceresources .jstree-ok{background:url("d.png") -2px -53px no-repeat!important;}
#vakata-dragged.jstree-serviceresources .jstree-invalid{background:url("d.png") -18px -53px no-repeat!important;}
#jstree-marker.jstree-serviceresources{background:url("d.png") -41px -57px no-repeat!important;}
.jstree-serviceresources a.jstree-search{color:aqua;}
#vakata-contextmenu.jstree-serviceresources-context,#vakata-contextmenu.jstree-serviceresources-context li ul{background:#f0f0f0;border:1px solid #979797;-moz-box-shadow:1px 1px 2px #999;-webkit-box-shadow:1px 1px 2px #999;box-shadow:1px 1px 2px #999;}
#vakata-contextmenu.jstree-serviceresources-context a{color:black;}
#vakata-contextmenu.jstree-serviceresources-context a:hover,#vakata-contextmenu.jstree-serviceresources-context .vakata-hover>a{padding:0 5px;background:#e8eff7;border:1px solid #aecff7;color:black;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
#vakata-contextmenu.jstree-serviceresources-context li.jstree-contextmenu-disabled a,#vakata-contextmenu.jstree-serviceresources-context li.jstree-contextmenu-disabled a:hover{color:silver;background:transparent;border:0;padding:1px 4px;}
#vakata-contextmenu.jstree-serviceresources-context li.vakata-separator{background:white;border-top:1px solid #e0e0e0;margin:0;}
#vakata-contextmenu.jstree-serviceresources-context li ul{margin-left:-4px;}