.summaryDialog {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 10% 0;
    background-image: url("../../../../../images/bg999op50.png");
    z-index: 10001;
    position: fixed;
    top: 0;
    left: 0;
}

.summaryDialog.withNotification {
    padding: 9% 0;
}

.summaryDialog .summaryDialogShell {
    margin-right: 25%;
    margin-left: 25%;
    background-color: #FFFFFF;
    width: auto;
    border: 1px solid #808080;
}

.summaryDialog .summaryDialogHeader {
    position: relative;
    padding-top: 1%;
}

.summaryDialog .multiHeader {
    margin: 0 3%;
}

.summaryDialog .multiHeader H1, H2 {
    margin: 0;
}

.summaryDialog .multiHeader H2 {
    color: #808080;
    padding-bottom: 2px;
}

.summaryDialog .summaryDialogClose {
    background-image: url("../../../../../images/6241_16.png");
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
}

.summaryDialog .summaryDialogBody {
    text-align: center;
    max-width: 100%;
    padding: 15% 10%;
    margin: 0 3%;
    border-top: 1px solid #808080;
}

.summaryDialog.withNotification .summaryDialogBody {
    border-top: none;
}

.summaryDialog.withNotification .notificationBody {
    background-color: #FBDBDD;
    padding: 1% 3%;
}

.summaryDialog.withNotification .notificationMessage {
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* increasing specificity by including body tag to overwrite the rules set in ui-tooltip */
body .notificationTooltip {
    border: 1px solid #BDBDBD;
    background-color: #FFFCE1;
    padding: 2px;
    z-index: 10002;
}

.notificationTooltip .ui-tooltip-content {
    font: 12px;
    margin: 0;
}

.summaryDialog.withNotification .notificationImage {
    width: 16px;
    height: 16px;
    background-image: url("../../../../../images/6275_16.png");
    float: left;
    margin-right: 4px;
}

.summaryDialog .summaryDialogBody .singleProcessSummary {
    width: 33%;
    float: left;
    color: #555555;
}

.summaryDialog .summaryDialogBody .singleProcessSummary.dithered {
    color: #CCCCCC;
}

.summaryDialog .summaryDialogBody .singleProcessSummary .singleProcessSummaryTotal {
    font-size: medium;
    margin-bottom: 10%;
}

.summaryDialog .summaryDialogBody .singleProcessSummary .singleProcessSummaryText {
    font-size: small;
    margin-bottom: 10%;
}

.summaryDialog .summaryDialogBody .singleProcessSummary .singleProcessSummaryTotal.noLetters {
    color: #CC0000;
}

.summaryDialog .summaryDialogBody .singleProcessSummary .singleProcessSummaryTotal.noPortal {
    color: #CC0000;
}

.summaryDialog .summaryDialogBody .singleProcessSummary .singleProcessSummaryTotal.noLetters + .singleProcessSummaryText,
.summaryDialog .summaryDialogBody .singleProcessSummary .singleProcessSummaryTotal.noPortal + .singleProcessSummaryText {
    color: #555555;
}

.summaryDialog .summaryDialogBody .singleProcessSummary.middle {
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
}

.summaryDialog .singleProcessSummary .summaryImage {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.summaryDialog .singleProcessSummary .summaryImage.pendingCall {
    background-image: url("../../../../../images/PendingCalls_highlighted.png");
}

.summaryDialog .singleProcessSummary .summaryImage.completed {
    background-image: url("../../../../../images/Checkmark_highlighted.png");
}

.summaryDialog .singleProcessSummary .summaryImage.printerError {
    background-image: url("../../../../../images/PrintError_icon_32x32_(00000002).png");
}

.summaryDialog .singleProcessSummary .summaryImage.portalError {
    background-image: url("../../../../../images/PortalError_icon.32x32.png");
}

.summaryDialog .singleProcessSummary.dithered .summaryImage.completed {
    background-image: url("../../../../../images/Checkmark_unhighlighted.png");
}

.summaryDialog .summaryDialogFooter {
    text-align: right;
    padding: 1% 3%;
    background-color: #D3D3D3;
    font-size: 14px;
}

.summaryDialog .summaryDialogFooter label {
    padding-right: 20px;
}