@media screen,print{
	#filter_bar {
		float: left;
		height: 35px;
		width: 99.9%;
		border: 1px solid black;
		position: absolute;
		left: 0px;
		top: 0px;
	}
	#content_area {
		float: left;
		width: 99.9%;
		position: absolute;
		left: 0px;
		top: 60px;
	}
	#census_table{
		width:98%;
		position:absolute;
		left:1%;
		top:3px;
	}
	#census_table tr.header_row_one {
		background-color:#09F;
	}
	#census_table tr.header_row_one th {
		text-align:center;
	}
	#census_table tr.header_row_two th{
		text-align:left;
		cursor:pointer;
	}
	#census_table thead tr th {
		font-size:0.8em;
		font-weight:bold;
	}
	#census_table tbody tr td {
		font-size:0.8em;
	}
	table.pt_details_table tr td{
		font-size:0.7em;
	}
	#page_x_of_y{
		position:absolute;
		right:0px;
		top:0px;
	}
	#page_navigation{
		position:absolute;
		right:0px;
		top:15px;
	}
	#expand_collaps_all{
		position:absolute;
		right:0px;
		top:30px;
		display:none;
	}
	#expand_all,#collaps_all,#previous_data,#next_data{
		text-decoration:underline;
		cursor:pointer;
	}
	#filter_bar{
		font-size:0.8em;
	}
	
	span.open_chart{
		cursor:pointer;
		color:blue;
		font-weight:bold;
	}
	#tooltip{
		position:absolute;
		z-index:3000;
		border:1px solid #111;
		background-color:#eee;
		padding:5px;
		opacity: 0.85;
		font-size:12px;
	}
	span.consulting_physician{
		text-decoration:underline;
		cursor:pointer;
	}
	#refresh_census{
		text-decoration:underline;
		cursor:pointer;
	}
	table.tablesorter thead tr .header{
		background-image:url(../images/bg.gif);
		background-repeat:no-repeat;
		background-position: center right;
	}
	table.tablesorter thead tr .headerSortUp{
		background-image: url(../images/asc.gif);
	}
	table.tablesorter thead tr .headerSortDown{
		background-image: url(../images/desc.gif);
	}
	span.nowrap{
		white-space: nowrap;
	}
}
@media print{
	font-size:1.2em;
}
