html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;vertical-align:baseline;}
:focus{outline:0;}
body{color:#000;background:#FFF;font:normal 13px/1.5em Tahoma,sans-serif;text-align:left;width:100%;}
ol,ul{list-style:none;text-align:left;}
table{border-collapse:separate;border-spacing:0;font:normal 13px Tahoma,sans-serif;}
caption{display:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
script{display:none;}
input{padding:0;margin:0;}
a,a:active,a:link,a:hover{text-decoration:underline;cursor:pointer;color:#3380E5;}
a:visited{background:none;}
a:focus{border:1px dotted #505050;}
hr{display:none;}
table{font-size:100%;width:100%;border-collapse:collapse;}
td{font:13px/1.5em Tahoma,sans-serif;word-wrap:break-word;vertical-align:top;}
th{font:12px/1.2em Tahoma,sans-serif;word-wrap:break-word;vertical-align:bottom;text-align:left;color:#505050;}
.even{background:#F5F7FB;}
.odd{background:#FFF;}
.res-severe,.res-severe a{color:#E50D34;font-weight:bold;}
.res-high{color:#FF8013;font-weight:bold;}
.res-low{color:#0054E7;font-weight:bold;}
.res-none{display:block;padding-left:1em;zoom:1;}
.res-none-hd,.info-hd,.info dt,.det-hd{position:absolute;visibility:hidden;}
.res-low-icon{background-image:url(../Images/6303_11.gif);background-repeat:no-repeat;text-align:center;background-position:center;}
.res-high-icon{background-image:url(../Images/6302_11.gif);background-repeat:no-repeat;text-align:center;background-position:center;}
.res-severe-icon{background-image:url(../Images/5278_11.gif);background-repeat:no-repeat;text-align:center;background-position:center;}
.unit,.within,.date-time{font:normal 11px Tahoma,sans-serif;color:#505050;}
.hdr{color:#505050;font:normal 12px/1.2em Tahoma,sans-serif;background:#E8EFF9;vertical-align:bottom;}
.sub-title-disp{color:##003C74;font:normal 12px/1.2em Tahoma,sans-serif;padding-left:4px;background:#E8EFF9;border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;}
.hidden{display:none;}
.important-icon{background:url(../Images/4015_16.gif) no-repeat center;width:16px;height:16px;display:inline-block;margin-right:2px;}
.favHidden{display:none;}
.form-menu{position:absolute;border:1px solid #000;background-color:#FFF;padding:5px;z-index:2000;right:1px;top:20px;width:75%;}
.menu-hide{display:none;}
.section{position:relative;zoom:1;background:none;margin:0 0 10px 0;font:normal 13px Tahoma,sans-serif;}
.sec-hd-tgl{float:right;text-align:center;width:1em;font-size:25px;cursor:pointer;font-weight:normal;}
.sec-hd{font:normal 14px/1.3em Tahoma,sans-serif;display:block;background:url(../images/crnr-left.png) no-repeat 0 0;border-right:1px solid #ADCC92;}
.sec-hd,.sec-hd a{color:#003C74;font-weight:bold;text-decoration:none;}
.sec-hd a:hover{text-decoration:underline;cursor:pointer;color:#3380E5;}
.sec-title{display:block;padding-left:4px;}
.sec-total{color:#505050;font:normal 11px Tahoma,sans-serif;padding-left:6px;text-decoration:none;}
.sec-content{font:normal 13px/1.5em Tahoma,sans-serif;border:1px solid #ADCC92;}
.sub-sec{zoom:1;}
.closed .sec-content,.closed .sub-sec-content,.closed .sub-title-disp{visibility:hidden;position:absolute;}
.closed .sec-hd{display:block;margin:0;border-bottom:2px ridge #E0FFFF;}
.sub-sec-hd{font:normal 12px Tahoma,sans-serif;color:#505050;background:#F3F8EE;padding-left:2px;border-top:1px solid #ADCC92;border-bottom:1px solid #ADCC92;}
.sub-sec-hd-tgl{float:right;text-align:center;width:1em;cursor:pointer;font-weight:normal;}
.add-plus{cursor:pointer;font-weight:normal;font-size:12px;}
.add-plus img{vertical-align:middle;}
a.add-plus{font-weight:normal;text-decoration:none;padding-left:4px;}
.pg-hd{padding:2px 0;margin:0 0 1px 5px;color:#003C74;border-bottom:1px solid #E7E7E7;text-align:right;line-height:1.5em;display:block;zoom:1;}
.pg-title{font-weight:bold;display:inline;font-size:16px;float:left;}
.page-ctrl{margin-right:20px;vertical-align:middle;}
#expAll,#custView,#savePrefs,#clearPrefs,#otherAnchors{padding-left:5px;padding-right:5px;}
#banner,#disclaimer{margin-left:5px;}
#disclaimer{margin-bottom:1em;font:normal 10px Tahoma,sans-serif;text-align:left;clear:left;}
.col-group{position:relative;clear:both;float:left;width:100%;background:#FFF;}
.col-outer1,.col-outer2{float:left;width:100%;position:relative;}
.col1,.col2,.col3{float:left;position:relative;padding:0 0 3px 0;overflow-x:hidden;}
.pref-columns .col1,.pref-columns .col2,.pref-columns .col3{float:left;position:static;padding:0 .3% 3px 0;overflow-x:hidden;}
.pref-columns .col-group{padding:0 0 0 2%;}
.three-col .col-outer2{right:34%;}
.three-col .col-outer1{left:33%;}
.three-col .col1{width:32.65%;left:1.25%;}
.three-col .col2{width:33.65%;left:1.5%;}
.three-col .col3{width:32.65%;left:1.75%;}
.two-col .col-outer1{right:50%;}
.two-col .col1{width:49.3%;left:50.5%;}
.two-col .col2{width:49.3%;left:51%;}
.one-col .col1{width:99%;left:.5%;}
.ui-sortable-placeholder{border:1px dotted black;visibility:visible!important;height:50px!important;}
.ui-sortable-placeholder *{visibility:hidden;}
div.suggestions{-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid black;background:white;font-size:.85em;}
div.suggestions div{cursor:default;padding:0 3px;}
div.suggestions div.current{background-color:#36c;color:white;}
.current .detTxt{color:#EFEFEF;}
.explTxt{font-style:italic;}
.search-box{zoom:1;background-image:url(../images/magnifying-glass.gif);background-repeat:no-repeat;width:91%;padding-left:20px;font-size:.85em;}
.search-box-div{zoom:1;border-bottom:2px solid #ADCC92;padding:2px 0;}
.hvr{background:#FFF;padding:0 5px;z-index:1;margin:-1px 10px 10px 5px;width:400px;line-height:2em;word-wrap:break-word;}
.hvr.hover{position:absolute;display:none;z-index:1000;background-color:#FFC;border:1px solid #000;}
.hvr dt{clear:left;color:#505050;}
.hvr dt span{float:left;margin-left:5px;}
.hvr dd{float:left;display:inline;margin:0 5px;overflow-x:hidden;}
.hvr table{margin:3px 0;}
.cmp-doc{height:16px;width:16px;display:inline-block;}
.has-icon .cmp-doc{background-image:url(../images/3729_16.png);background-repeat:no-repeat;}
#confirmDialog{position:fixed;display:none;z-index:9951;padding:10px 10px 30px 10px;border:solid #ceceff 2px;background-color:#efefef;_position:absolute;}
#confirmDialog .plainText{overflow:auto;height:400px;}
#confirmDialog .plainText input,#confirmDialog .question input{float:right;}
#confirmDialog h4{font:bold 14px / 20px Tahoma;}
.data-main-table-container{position:relative;}
.data-table-container{position:relative;overflow-x:scroll;overflow-y:hidden;overflow-x:scroll\9;overflow-y:scroll\9;*overflow:auto;height:200px\9;}
.data-table{margin:auto;width:99%;background-color:#F7F7F7;_width:auto;}
.data-table td,.data-table th{padding:0 12px 0 2px;white-space:nowrap;}
.data-evenrow{background-color:#EFEFEF;}
.data-oddrow{background-color:#fff;}
.data-row-hover{background-color:#b6d1fa;}
.data-table-control{position:relative\9;height:20px;background-color:#cdcdcd;top:expression(this.offsetParent.scrollTop);}
.fillme{background-color:#cdcdcd;}
.data-table-control input{font:normal 11px Tahoma;}
.data-table-control li{float:left;padding:0 0 0 15px;}
.data-table thead tr{*position:absolute;top:expression(this.offsetParent.scrollTop+20);cursor:pointer;background-color:#cdcdcd;margin-right:50px;}
.data-table thead th{font:normal 11px Tahoma;}
.data-table tbody{margin-top:50px;height:200px;overflow-y:scroll;overflow-x:hidden;overflow-y:scroll\9;overflow-x:hidden\9;max-height:none\9;height:200px\9;*overflow:auto;*height:auto;}
.data-table tbody tr:first-child td{*padding-top:18px;}
.data-table td.firstChild{_padding-top:18px;}
.rowSelected,.rowSelectedMajor{background:#aaf;}
.data-table-noctrl{margin:auto;width:100%;}
.data-table-noctrl td,.data-table-noctrl th{padding-right:12px;white-space:nowrap;}
.data-table-noctrl thead tr{background-color:#cdcdcd;}
.data-table-noctrl thead th{font:normal 11px Tahoma;}
th.headerSortUp{background:url(../images/lab/asc.gif) #c0c0c0 no-repeat center right;}
th.headerSortDown{background:url(../images/lab/desc.gif) #c0c0c0 no-repeat center right;}
.hvr{position:absolute;display:none;z-index:1000;background-color:#FFC;border:1px solid #000;}
.closed .sec-content *,.closed .sub-sec-content,.closed .sub-title-disp{visibility:hidden;position:absolute;}
#banner{margin-bottom:1em;margin-left:5px;}
.col1,.col2,.col3{float:left;position:relative;padding:0 0 3px 0;}
#custView,#disclaimer{display:none;}
.apcaselist-info{word-wrap:break-word;}
.apcaselist-info-hd,.apcaselist-info dt,.apcaselist-det-hd{position:absolute;visibility:hidden;}
.apcaselist-name{color:#003C74;font:bold 12px/1.2em Tahoma,sans-serif;text-align:center;background:#E8EFF9;border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;border-bottom:1px solid #ADCC92;}
.apcaselist-data{border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;}
.apcaselist-data-case{border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;background:url(../images/header-green.gif) repeat 0 0;white-space:nowrap;width:200px;}
.apcaselist-data-case-top{border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;background:url(../images/header-green-top.png) repeat-x top #EAF2E1;white-space:nowrap;width:200px;font-size:smaller;}
.apcaselist-data-case-middle{border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;background-color:#EAF2E1;white-space:nowrap;width:200px;font-size:smaller;}
.apcaselist-data-case-bottom{border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;background:url(../images/header-green-bottom.png) repeat-x bottom #EAF2E1;white-space:nowrap;width:200px;}
.step_overdue{border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;}
.apcaselist-empty{border:1px solid #ADCC92;}
.closed .apcaselist-name,.closed .apcaselist-data,.closed .apcaselist-empty{visibility:hidden;position:absolute;}
#cl-lkbd-error{color:red;display:none;}
#cl-bt-padding{padding:0 0 7px 0;}
#filter{padding-right:10px;float:right;*float:none;*padding-left:50px;}
#Color_Customize{padding-right:10px;float:right;*float:none;*padding-left:50px;}
#cl-top-bar{display:inline-block;width:100%;}
#cl-lkbd-graphframe{position:absolute;width:100%;z-index:1;}
#cl-lkbd-actionbuttons{padding-right:10px;text-align:center;}
#cl-lkbd-bgPopup{background:none repeat scroll 0 0 #999;border:1px solid #CECECE;display:none;height:50px;position:absolute;width:100%;z-index:2;}
#cl-lkbd-filterPopup{background:none repeat scroll 0 0 #FFF;border:2px solid #CECECE;display:none;font-size:13px;height:180px;padding:12px;position:absolute;width:200px;z-index:10;}
#cl-lkbd-filterPopupClose{color:#6FA5FD;display:block;font-size:14px;font-weight:700;line-height:14px;position:absolute;right:6px;top:4px;}
#cl-lkbd-ok{text-align:center;}
#cl-lkbd-cancel{text-align:center;}
#cl-lkbd-default{text-align:center;}
#cl-bottom-pad{background:#FFF;height:150px;}
.hidden{display:none;}
.case_expand{display:none;}
div.case-expand-div{display:inline-block;word-wrap:break-word;overflow:hidden;}
.apcaselist-fill-col{border-right:1px solid #ADCC92;border-left:1px solid #ADCC92;background-color:#d0e1c1;white-space:nowrap;}
.overdue{color:red;font-weight:bold;}
.apcaselist-tat-detail{white-space:nowrap;width:200px;}
.apcaselist-tat-table{border:1px solid #ADCC92;}
#cl-lkbd-suggest{font:12px/1.2em Tahoma,sans-serif;color:#808080;}
.hvr{position:absolute;display:none;z-index:1000;background-color:#FFC;border:1px solid #000;}
.data-row-hover{background:#ffc;}
#confirmDialog{position:absolute;left:0;top:0;display:none;z-index:9951;padding:10px 10px 30px 10px;border:solid #ceceff 2px;background-color:#efefef;}
#confirmDialog .plainText{overflow:auto;height:400px;}
#confirmDialog .plainText input{float:right;}
#confirmDialog h4{font:bold 14px/20px Tahoma;}
#mask{position:absolute;left:0;top:0;z-index:9000;background-color:#fff;display:none;}
.btnMoreText{border:solid 1px #ceceff;background-color:#FFF;color:#000;margin-left:10px;text-align:center;font:normal 11px Tahoma;}
.ul-apcaselist-info{width:100%;}
.ul-apcaselist-info li{width:100%;}
#custView{display:none;}
#lkbkerror{color:red;display:none;}
#placeholder{height:300px;width:100%;position:relative;}
#graphframe{height:90%;width:100%;position:absolute;bottom:0;z-index:1;}
#actionbuttons{padding-right:10px;text-align:center;}
#bgPopup{display:none;position:absolute;height:200px;width:100%;background:#999;border:1px solid #cecece;z-index:2;}
#inv_Color_Customize{padding-right:10px;float:right;*float:none;*padding-left:50px;}
#filterPopup{display:none;position:absolute;height:150px;width:200px;background:#FFF;border:2px solid #cecece;z-index:2;padding:12px;font-size:13px;}
#filterPopupClose{font-size:14px;line-height:14px;right:6px;top:4px;position:absolute;color:#6fa5fd;font-weight:700;display:block;}
#ok{text-align:center;}
#cancel{text-align:center;}
#graphfilter{padding-right:10px;float:right;*float:none;*padding-left:50px;}
#invsum-top-bar{display:block;width:100%;}
#lkbd-suggest{font:12px/1.2em Tahoma,sans-serif;color:#808080;}
#mask{position:absolute;left:0;top:0;z-index:9000;background-color:#fff;display:none;}
.window{position:absolute;left:0;top:0;display:none;z-index:9950;padding:10px 10px 30px 10px;border:solid #ceceff 2px;}
#color_dialog{background-color:#efefef;}
#workflow_selector_box{padding:8px;}
#cl-clr-actionButtons{text-align:center;padding:8px;}
.window h4{font:bold 14px/20px Tahoma;}
.close_label{float:right;*float:none;*padding-left:50px;background:url(../images/closelabel.png) #f7f8fb no-repeat right;border:2px solid #FFF;margin-top:5px;}
.close_label a{padding-right:25px;color:#003C74;text-align:center;padding-left:2px;text-decoration:none;font:bold 14px/20px Tahoma;}
#cl-clr-ok,#cl-clr-cancle,#cl-clr-default{width:70px;}
.jscolor_cross{background:url(../images/cross.gif) no-repeat;}
.jscolor_arrow{background:url(../images/arrow.gif) no-repeat;}
.jscolor_pad_dark{background:url(../images/hv.png) 0 0 no-repeat;}
.jscolor_pad_light{background:url(../images/hs.png) 0 0 no-repeat;}
#mask{position:absolute;left:0;top:0;z-index:9000;background-color:#fff;display:none;}
.window{position:absolute;left:0;top:0;display:none;z-index:9950;padding:10px 10px 30px 10px;border:solid #ceceff 2px;}
#workflow_dialog{background-color:#efefef;}
.window h4{font:bold 14px/20px Tahoma;}
.close_label{float:right;*float:none;*padding-left:50px;background:url(../images/closelabel.png) #f7f8fb no-repeat right;border:2px solid #FFF;margin-top:5px;}
.close_label a{padding-right:25px;color:#003C74;text-align:center;padding-left:2px;text-decoration:none;font:bold 14px/20px Tahoma;}
#workflow_select{margin-top:5px;}