/* optimized for < 1000 px width (width = 1000 px) */
/* width of all section headers and lab/order names */
.leftColumnWidth {
    width: 100px;
}

/* arbitrary for now. offset > leftColumnWidth for lab results overflow */
.offsetLeft {
    margin-left: 17px;    
}

/* width - offsetLeft*/
.width2Weeks {
    width: 865px; 
}

/* width - offsetLeft*/
.width4Weeks {
    width: 865px; 
}

/* 2 x width4Weeks */
.width8Weeks {
    width: 1730px;
}

/* 3 x width4Weeks */
.width12Weeks {
    width: 2595px;
}
