/* optimized for 1300+ px width (width = 1300 px) */
/* width of all section headers and lab/order names */
.leftColumnWidth {
    width: 130px;
}

/* arbitrary for now. offset > leftColumnWidth for lab results overflow */
.offsetLeft {
    margin-left: 17px;    
}

/* width - offsetLeft*/
.width2Weeks {
    width: 1125px;
}

.width4Weeks {
    width: 1125px;
}

/* 2 x width4Weeks */
.width8Weeks {
    width: 2250px;
}

/* 3 x width4Weeks */
.width12Weeks {
    width: 3375px;
}
