html {
    overflow: hidden;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

/* fn_body for all company (non-custom) code */
#fn_body {
    overflow: hidden;
}
/* this container has vertical overflow */
#fn_content {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
/* data master div (the right side) */
#data {
    float: left;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
}
/* labels master div (the left side) */
#labels {
    float: left;
    width: 150px;
}

.dateRange {
    /* IE6 hack to keep date ranges from moving around when popups appear */
    border: 1px solid white;
    height: 12px; /* = 1% of html.height */
    text-align: center;
    width: 100%; /* necessary for IE6 centering */
}

.rangeLabel {
    background-color: white;
    color: blue;
    cursor: pointer;
    font-weight: bold;
    margin-left: 7px; /* = 2.5% of .dateRangeDiv.width */
    margin-right: 7px; /* = 2.5% of .dateRangeDiv.width */
    text-decoration: underline;
}

.sectionTitle {
    font-weight: bold;
}

.leftColumnText {
    padding-left: 8px; /* keeping off absolute x = 0 */
    text-align: left;
    word-wrap: break-word;
}

.data {
    position: relative;
}

.graph {
    position: relative;
}

.xAxis {
    background-color: white;
    clear: both;
    color: rgb(84, 84, 84);
    font-size: smaller;
    height: 12px; /* = dateRangeDiv.height */
    margin-left: 165px;
    position: relative;
}

*html .labRow {
   height: expression( document.body.clientWidth > 1 ? "30px" : "auto" );
}

.labRow {
    min-height: 30px;
    padding-top: 15px;
    position: relative;
}

*html .labRowLabel {
   height: expression( document.body.clientWidth > 1 ? "30px" : "auto" );
}

.labRowLabel {
    min-height: 30px;
    padding-top: 15px;
}
.labResult {
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.labResultEven {
    top: 15px; /* = .labRow.padding-top */
}

.labResultOdd {
    top: 30px;
}

*html .orderRow {
   height: expression( document.body.clientWidth > 1 ? "16px" : "auto" );
}

.orderRow {
    margin-top: 4px;
    min-height: 16px;
    padding-top: 4px;
    position: relative;
}
*html .orderRowLabel {
   height: expression( document.body.clientWidth > 1 ? "16px" : "auto" );
}

.orderRowLabel{
    margin-top: 4px;
    min-height: 16px;
    padding-top: 4px;
}
.orderBar {
    height: 8px;
    margin-top: 4px;
    padding-top: 4px;
    position: absolute;
    top: 0;
}

.loading {
    height: 32px;
    width: 32px;
}

.popupBackground {
    background-color: #ffffcc;
}

*html .popup {
   width: expression( document.body.clientWidth > 1 ? "406px" : "auto" );
}

.popup {
    border: 1px solid black;
    color: black;
    min-width: 406px; /* = 7 x 58(px) (should span 7 lab results) */
    position: absolute;
    z-index: 1;
}

.popupTable {
    background-color: white;
    color: black;
    margin: 7px;
    text-align: left;
}

.popupColumn {
    border: 1px solid;
    border-bottom-color: #e5e5e5;
    border-top-color: #e5e5e5;
    padding-left: 5px;
}

.popupRow {
    height: 20px;
    vertical-align: middle;
}

.tempLabColumn0 {
    width: 291px; /* = 75% of .popup.width - (.popupTable.margin x 2) */
}

.tempLabColumn1 {
    width: 115px; /* = */
}

*html .orderColumn0 {
   width: expression( document.body.clientWidth > 1 ? "78px" : "auto" );
}

.orderColumn0 {
    min-width: 78px;
}

*html .orderColumn1 {
   width: expression( document.body.clientWidth > 1 ? "156px" : "auto" );
}

.orderColumn1 {
    min-width: 156px;
    max-width: 312px;
}

.noResults {
    height: 20px;
    position: relative;
}

.customClientInstruction {
    position: relative;
    background-color: yellow;
    color: black;
}
