.doc2-preview-section{margin-bottom:5px}
.doc2-replaced-img-box{background:#d6e5ff;border:1px solid #7ca4e6;padding:10px;display:inline-block;width:16px;height:16px;position:relative}
.doc2-replaced-image{background:url(../../images/sprite_green.png) no-repeat -366px -1px;width:16px;height:16px;display:inline-block;position:absolute;left:10px;top:10px}