html, body {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}
.tabsControlContainer {
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-align: center;
    -ms-flex-pack: end;
}
.contentContainer {
    display: block;
    position: relative;
    height: calc(100% - 30px);
    width: 100%;
    background-color: #FFFFFF;
}
.tabButtonList {
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-align: end;
    -ms-flex: 1 1 auto;
    padding: 0;
    margin: 0;  
}
.tabButtonList li {
    display: inline;
    margin-left: 5px;
    margin-right: -2px;
}
.tabButtonList li span {
    max-width: 200px;
    min-width: 90px;
    border-width:1px;
    border-style:solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    font: 12px Tahoma,sans-serif;
    text-align: center;
}
.linkText {
    font: 12px Tahoma,sans-serif;
    color: #000000;
}
.linkText[data-enabled=true] {
    color: #3380E5;
}
.linkText[data-enabled=true]:hover {
    text-decoration: underline;
    cursor: pointer;
}
.tabBar {
	display: -ms-flexbox;
	-ms-flex-direction: row;
	width: 100%;
	border-bottom: 1px solid #b9b9b9;
	height: 30px;
	box-sizing: border-box;
	background-color: #FFFFFF;
}
.linkList {
	display: -ms-flexbox;
	-ms-flex-direction: row;
	-ms-flex-align: center;
	-ms-flex-pack: end;
	-ms-flex: 1 1 auto;
}
.linkList a {
	padding-right: 25px;
}
.linkList a:last-of-type {
	padding-right: 10px;
}
