body 		  
{ 
	margin:0;
	padding:0;
	height:100%; 
	background-color: rgb(255,255,255); 
	cursor:default;
} 
.lochead      
{ 
	width:100.000%; 	
    min-width:2000px;
	text-align:	left;	
	font-family: Tahoma;	 
	font-size:	 11pt; 
	font-size-adjust: 1.00;	
	padding:0.0700in 0.0000in 0.0700in 0.0000in; 
	background-color: rgb(255,255,255); 
	color:	rgb(0,0,0);
}
.locheadlink  
{ 
	display: block; 
	text-align: right;   
	font-family: Tahoma;   
	font-size : 11pt; 
	font-size-adjust: 1.00;
	width: 98.000%; 
	margin-right:  2.000%; 
}
.tabhdrs      
{ 
	display: block;   
	font-family: Tahoma;
	font-size: 11pt; 
	background-color: #ADCC92; 
	color: #505050;  
	border-left-width: 1px; 
	border-left-style: solid;
	border-left-color: rgb(255,255,255);
	text-align:center;
}
.subhdrs 	  
{ 
	display: block; 
	vertical-align: middle; 
	font-family: Tahoma; 
	font-size: 9pt;  
	font-weight: bold; 
	text-align: left;   
	background: rgb(246,246,246); 
	color: rgb(98,100,102);  
	text-align:center;
}
.RowTypeWhite 
{ 
	font-family: Tahoma;
	font-size: 7pt;  
	color: rgb(98,100,102);  
	background: rgb(255,255,255); 	
}
.RowTypeBlue  
{	
	text-align: left;	
	font-family: Tahoma;
	font-size: 7pt;  
	color: rgb(98,100,102);	 
	background: rgb(228,238,255);  
}
.demcell 	  
{ 
	font-size: 9pt; 
	font-family: Tahoma;
	color:	rgb(0,0,0); 
	vertical-align: top;
	text-align:center;
}
.demnamecell  
{	
	font-size: 9pt; 
	font-family: Tahoma;
	text-align:center;
}
.demnamecell2  
{	
	font-size: 9pt; 
	font-family: Tahoma;
	text-align:left;
}
.transpscroll 
{
	position:absolute; 
	width:20px; 
	right:0px;
	font-family: Tahoma; 
	height:100.000%; 
	opacity:0.0; 
	z-index:100; 
}
.hidtxt
{
	visibility: hidden;
}
.sectcell     
{
	vertical-align: middle; 
	font-size: 9pt; 
	font-family: Tahoma;
	font-size-adjust: 0.85; 
	color: rgb(98,100,102); 
}
.thinborder   
{	 
	border-left-width: 5pt; 
	border-left-style: solid; 
	border-left-color: rgb(237,237,237); 
}
.heavyborder  
{	
	border-left-width: 1pt; 
	border-left-style: solid; 
	border-left-color: rgb(170,170,170); 
}
.sectborder   
{	
	border-left-width: 1pt; 
	border-left-style: solid; 
	border-left-color: rgb(255,255,255); 
}
.expandrow	  
{ 
	border-width: 0.5pt; 
	border-style: solid solid solid solid; 
	border-color: rgb(49,106,197); 
	background: rgb(228,238,252); 
	z-index: 10;
	font-family: Tahoma;
}
.disptxt	  
{ 
	color: rgb(98,100,102); 
	font-size: 9pt;
}
.valtxt		  
{ 
	color: rgb(0,0,0); 
	font-size: 9pt; 
}
hr 			  
{
	width: 0.5pt;  
	color: rgb(49,106,197); 
	border: 0;
}
.txtToolTip   
{ 
	position:absolute; 
	visibility: hidden; 
	top: 0; left: 0; 
	z-index: 100000; 
	font-family: Tahoma;
	font: normal 8pt sans-serif; 
	padding: 3px; 
	border: solid 1px; 	
	background-color : #FFFFE0; 
	word-wrap:break-word;		
	overflow: auto;	
}
table         
{	
	border-collapse:collapse;	
	empty-cells:show;	
	border:0.000in none #000000;	
	vertical-align:top; 
}
.sechdrs2g
{
	width: 100.000%;
}
.secpathdrtxt2g
{
	cursor:default; 
	vertical-align: middle;
}
.mainColumn2g
{ 
	cursor:pointer;cursor:hand /*IE*/;
}
.mainColumn2gVerticalText
{
	cursor:default; 
	vertical-align: middle;
	writing-mode: tb-rl;
	position: absolute;
}
.mainRow2g
{
	vertical-align:top;
	height:20px;
}
.spanCursor2g
{
	cursor:pointer;cursor:hand /*IE*/;
}
.locheadlink2g  
{   
	font-family: Tahoma;   
	font-size : 11pt; 
}
.alternateRow
{
	background-color: #e0e0e0;
}
.sortedColumn
{
	background-color: #f0f0f0;
}
.HeadLine3
{
	font-size: 9pt;	
	font-family: Arial;
	color:black;
	font-weight:bold;
	background-color:#ffff66;
}
.txtToolTip 
{
	position:absolute;
	visibility: hidden;
	top: 0;  
	left: 0; 
	height: auto;
	width:	auto;
	z-index: 10000;
	font: normal 8pt sans-serif; 
	padding: 3px; 
	border: solid 1px;
	background-color : #FFFFE0;
	overflow: auto;
	text-align: left;
}
.heavyborder2g  
{	
	border-left-width: 1px; 
	border-left-style: solid; 
	border-left-color: rgb(170,170,170); 
}
.heavyborderWhite2g  
{	
	border-left-width: 1px; 
	border-left-style: solid; 
	border-left-color: rgb(255,255,255); 
}
.tabhdrsVertical      
{ 
	writing-mode: tb-rl;
	white-space: nowrap; 
	display: block;   
	font-family: Tahoma;
	font-size: 10pt;
	background-color: #ADCC92;
	color: #505050;  
	border-left-width: 1px; 
	border-left-style: solid; 
	border-left-color: rgb(255,255,255);
	text-align: left;
	vertical-align: text-bottom;
}
.tabhdrs2g      
{ 
	writing-mode: tb-rl;
	white-space: nowrap; 
	display: block;   
	font-family: Tahoma;
	font-size: 10pt;
	background-color: #ADCC92;
	color: #505050; 
	border-left-width: 1px; 
	border-left-style: solid; 
	border-left-color: rgb(255,255,255);
	text-align: center;
}
.tabhdrs2gB      
{ 
	writing-mode: tb-rl;
	white-space: nowrap;
}
.CellWidth500
{
	width: 500px;
}
.CellWidth36
{
	width: 36px;
}
.CellWidth30
{
	width: 30px;
}
.CellWidth250
{
	width: 250px;
}
.CellWidth100
{
	width: 100px;
}
.CellWidth150
{
	width: 150px;
}
.CellWidth80
{
	width: 80px;
}
.CellWidth0
{
	width: 0px;
}
.CellWidth40
{
	width: 40px;
}
.VariousText
{
	font-size: 10pt;
	font-family: Tahoma;
}
.LinkText
{
	color:#3380E5;
}
.AssessmentHeadline
{
	font-size: 11pt;	
	font-family: Arial;
	color:black;
	font-weight:bold;
}
.AssessmentText
{
	font-size: 9pt;	
	font-family: Tahoma;
	color:black;
}
#sessvarsDisplayDiv
{
    line-height: 20px;
    padding: 5px;
    font-size: 11px;
    font-family: Verdana,Arial,Helvetica;
    z-index: 10000;
    background: #FFFFCC;
    border: 1px solid #333;
    margin-bottom: 12px
}
#sessvarsHeaderDiv
{
    font-family: Trebuchet MS;
    font-size: 20px
}
#clearMemory
{
    cursor: pointer;
    font-weight: bold 
}