<tr>
	<th class="select-header fixed-header" id="select-header fixed-header" data-i18n="DashboardHeaderHandlebar.SELECT_ALL">
		<p>	</p>
	</th>
	<th class="image-header fixed-header" id="image-header fixed-header">
		<p> <label data-i18n="DashboardHeaderHandlebar.LOCATION"></label>
			<img data-i18n ="[src]DashboardHeaderHandlebar.BG_IMG;[alt]DashboardHeaderHandlebar.SORT_BY_LOCATION" height="10" width="10" class="location-sort sort-icon"/>
		</p>
	</th>
	<th class="patient-header fixed-header" id="patient-header fixed-header">
	<p>
		<label data-i18n="DashboardHeaderHandlebar.PATIENT"></label>
		<img data-i18n ="[src]DashboardHeaderHandlebar.BG_IMG;[alt]DashboardHeaderHandlebar.SORT_BY_PATIENT_NAME" height="10" width="10" class="patient-sort sort-icon"/>
	</p>
	</th>
	<th class="risk-header fixed-header" id="risk-header fixed-header">
	<p>
		 
		<label data-i18n="DashboardHeaderHandlebar.PRECAUTIONS"></label>
			
		
    </p>
	<p>
	
      <img data-i18n ="[src]DashboardHeaderHandlebar.SORTING_ASC" height="10" width="21" >
		<select class='precaution-lists-select menu' id='pclist'>

	   </select>

	</p></th>
	{{#intervals}} <th class="activity-header" id="activity-header"> <div><p>{{date}}</p><p>{{military}}</p></div> </th>
	{{/intervals}}
</tr>
