{{#if src}} <img class='maxImageSize' id='maxImageSize' alt='patient image' src='{{src}}'/>
{{/if}}
{{#isoffunit}}
<p class='location' id='location'>
	{{#isAdded}}
			<span class='info' id='locationinfo'><label class='field' id='field' data-i18n="LocationAndImageHandlebar.ADDED_FROM"> </label></span><br>
	{{/isAdded}}
	<span>{{nurse_unit}} {{room}} {{bed}}</span><br />
	<span class='info' id='nurseunitinfo'><label class='field' id='nurseunitfield' data-i18n="LocationAndImageHandlebar.PATIENT_IS_OFF_UNIT_AT"></label> {{offunitdisp}}</span><br />
	<span class='info' id='offunitinfo'><label class='field' data-i18n="LocationAndImageHandlebar.SINCE"> </label>{{offunitstartdt}}</span><br />
	<input type="checkbox" name="offUnit" value="offUnit" id="offUCheck" class="offUCheck" checked/>
</p>
{{/isoffunit}}
{{^isoffunit}}
	<p class='location' id='locationnurseunit'>
		{{#isAdded}}
			<span class='info'><label class='field' data-i18n="LocationAndImageHandlebar.ADDED_FROM"> </label></span><br />
		{{/isAdded}}
		<span>{{nurse_unit}} {{room}} {{bed}}</span><br />
	</p>
{{/isoffunit}}
