<div id="modifiable-activity-dialog">
	<div class="activity-date" id="activity-date">
		<label data-i18n="ModifiableActivityDialogHandlebar.DATE_TIME" > </label>
		<select class="event_dt" id="event_dt"/>
		<select class="event_tm" id="event_tm"/>
		<input class="event_min" id="event_min" maxlength="2" size="2"/>
		<label class="timezone" id="timezone"></label>
	</div>
	<ul>
		<div class='tabs' id='tabs'>
			<ul>
				{{#location_activities}}
				<li>
					<a href="#{{CECD}}" rel="{{INDEX}}">{{LABEL}}</a>
				</li>
				{{/location_activities}}
			</ul>
			{{#location_activities}}
			<div id="{{CECD}}" class="tabDiv">
				<select class='selection' size='10' multiple="multiple">
					{{#LIST}} <option class='activity-choice' value='{{NOMID}}'> {{NOMDISP}} </option>
					{{/LIST}}
				</select>
				<div class='activity-freetext activity-action' id='activity-freetext activity-action'>
					<label data-i18n="ModifiableActivityDialogHandlebar.OTHER"></label>
					<input type="text" name="activity" class='activity-freetext-input' id='activity-freetext-input' maxlength='255'/>
				</div>
				<h4 class="unchart-event activity-action" id="unchart-event activity-action" disabled="true" data-i18n="ModifiableActivityDialogHandlebar.UNCHART_EVENT">  </h4>
			</div>
			{{/location_activities}}
		</div>
	</ul>
	{{#isNotMultiSelect}}
		<h4 class='last-activity-choice activity-action' id='last-activity-choice activity-action'> {{lastActivity}} </h4>
		<h4 class="unchart-activity activity-action" id="unchart-activity activity-action"> {{unchart}} </h4>
	{{/isNotMultiSelect}}
	{{#offUnit}}
	<div class="activity-off-unit" id="activity-off-unit">
		<input type="checkbox" name="offUnit" value="offUnit" class="offUCheck" id="offUCheck"/>
		<label data-i18n="ModifiableActivityDialogHandlebar.MARK_AS_OFFUNIT"></label>
		<select class='off-selection hidden' id='off-selection hidden'>
			{{#nomlist}} <option value='{{NOMID}}'> {{NOMDISP}} </option>
			{{/nomlist}}
		</select>
	</div>
	{{/offUnit}}
</div>
