<div
	{{#if isoffunit}}
		class='multi-select-wraper off-unit' id='multi-select-wraper off-unit'
	{{else}}
		{{#selected}}
			class='patient-select multi-select-wraper selected' id='patient-select multi-select-wraper selected'
		{{/selected}}
		{{^selected}}
			class='patient-select multi-select-wraper' id='patient-select multi-select-wraper'
		{{/selected}}
	{{/if}}>
</div>
<div class='patient-remove' id='patient-remove'>
		{{#isAdded}}
			<a class='addedRemove' id='addedRemove'><label data-i18n="MultiSelectHandlebar.REMOVE"> </label></a>
		{{/isAdded}}
</div>
