<div id="newpatient-dialog">
	<div class='patient-lists-wrap' id='patient-lists-wrap'>
		<label class='dropdown-label' id='dropdown-label' data-i18n="PatientListsHandlebar.PATIENT_LIST">
			
		</label>
		<select class='patient-lists-select menu' id='patient-lists-select menu'>
			<option value='0' data-i18n="PatientListsHandlebar.SELECT_A_PATIENT_LIST"></option>
			{{#PTLIST}} <option class='patient-list-option' id='patient-list-option' value='{{LISTID}}'> {{LISTNM}} </option>
			{{/PTLIST}}
		</select>
		<label class='dropdown-label' id='dropdown-label' data-i18n="PatientListsHandlebar.FACILITIES">
		
		</label>
		<select class='fu-lists-select menu' id='fu-lists-select menu'>
			<option value='0' data-i18n="PatientListsHandlebar.SELECT_A_FACILITY"></option>
			{{#FUQUAL}} <option class='patient-list-option' id='patient-list-option' value='{{ORGID}}'> {{ORGNAME}} </option>
			{{/FUQUAL}}
		</select>
		<label id='nuLink' data-i18n="PatientListsHandlebar.NURSE_UNITS;[title]PatientListsHandlebar.CLICK_TO_OPEN_NURSE_UNITS"></label>
		<label id="json-loader-message-ptlist" class="loader-text"></label>
	</div>
	<div class='patient-list-wrap' id='patient-list-wrap'>
		<select class='selection' id='patient-list-wrap-selection' size='20' multiple="multiple">
		</select>
	</div>
</div>
