<div id="non-modifiable-activity-dialog">
	<div class='activity-date' id='activity-date'>
		<label data-i18n="ModifiableActivityDialogHandlebar.DATE_TIME" > </label>
	</div>
	<ul>
		<div class='tabs' id='tabs'>
			<ul>
				{{#location_activities}}
				<li>
					<a href="#{{CECD}}">{{LABEL}}</a>
				</li>
				{{/location_activities}}
			</ul>
			{{#location_activities}}
			<div id="{{CECD}}">
				<select class='selection' id='nomenselection' size='10' disabled='disabled' multiple="multiple">
					{{#LIST}} <option class='activity-choice' id='activity-choice' value='{{NOMID}}'> {{NOMDISP}} </option>
					{{/LIST}}
				</select>
				<div class='activity-freetext activity-action' id='activity-freetext activity-action'>
					<label data-i18n="ModifiableActivityDialogHandlebar.OTHER"></label>
					<input type="text" name="activity" class='activity-freetext-input' id='activity-freetext-input' disabled='disabled'/>
				</div>
			</div>
			{{/location_activities}}
		</div>
	</ul>
	<h4 class="unchart-activity activity-action" id="unchart-activity activity-action"> {{unchart}} </h4>
</div>
