<div id="nurseunit-dialog" class="nurseunit-dialog">
	<table cellspacing="0" cellpadding="0" class="WLTable" id="WLTable" border="0">
		<tr>
			<td valign="top" class="WLText" id="WLText" colspan="3" data-i18n="NurseUnitDialogHandlebar.PLEASE_SELECT_ONE_OR_MORE_NURSE_UNITS">  </td>
		</tr>
		{{#LOCQUAL}}
		{{#OPEN}}
		<tr>
			{{/OPEN}} <td valign="top" class="WLText" id="nurseunits-WLText">
			<input type="checkbox" class="nurse-units" id="nurse-units" name="nurseunit" value="{{NULOCATIONCD}}"/>
			<label>{{LOCATIONDISP}}</label></td>
			{{#CLOSE}}
		</tr>
		{{/CLOSE}}
		{{/LOCQUAL}}
	</table>
</div>
