<div class='patient-lists-wrap' id='patient-lists-wrap'>
	<label class='dropdown-label' id='pt-label' data-i18n="PatientListsHandlebar.PATIENT_LIST">
		
	</label>
	<select class='patient-lists-select menu' id='ptlist'>
		<option data-i18n="PatientListsHandlebar.SELECT_A_PATIENT_LIST"> </option>
		{{#PTLIST}} <option class='patient-list-option' id='patient-list-option' value='{{LISTID}}'> {{LISTNM}} </option>
		{{/PTLIST}}
	</select>
	<label class='dropdown-label' id='fu-label' data-i18n="PatientListsHandlebar.FACILITIES">
		
	</label>
	<select class='patient-lists-select menu' id='falist'>
		<option data-i18n="PatientListsHandlebar.SELECT_A_FACILITY"> </option>
		{{#FUQUAL}} <option class='patient-list-option' id='patient-list-option' value='{{ORGID}}'> {{ORGNAME}} </option>
		{{/FUQUAL}}
	</select>
	<label data-i18n="PatientListsHandlebar.NURSE_UNITS;[title]PatientListsHandlebar.CLICK_TO_OPEN_NURSE_UNITS" id='nuLink' ></label>
	
	<button id="ptpopSubmit" disabled="disabled" data-i18n="SafetyAttendanceCommon.SUBMIT">
	
	</button><button id="ptpopReset" data-i18n="SafetyAttendanceCommon.RESET"></button>
	<br />
	<p id="ptpopMessage"></p>
</div>
