<div class="patient-info-wrap" id="patient-info-wrap">
	
	
	<h4 ><a style='text-align:left;' href='javascript:APPLINK(0,"$APP_AppName$","/PERSONID={{person_id}} /ENCNTRID={{encntr_id}} {{tabName}}")'> {{name}} </a></h4>
	
	<p>
        <span class='field' id='field' data-i18n="PatientInfoHandlebar.LEVEL_OF_OBSERVATION"> </span>{{observation_level}}<br>
		<span class='general_comment field' id='general_comment field' data-i18n="PatientInfoHandlebar.GENERAL_COMMENT"></span>{{general_comment}}<br>
		<span class='info' id='genderinfo'>{{gender}}</span>
		<span class='info' id='ageinfo'>{{age.Count}} {{age.Unit}}</span> <br>
		<span class='field' id='birthdtinfo' data-i18n="PatientInfoHandlebar.DOB"> </span><span class='datetime'>{{birth_dt_js}}</span>
	</p>
	<p>
		<span class='field' id='mrnfield' data-i18n="PatientInfoHandlebar.MRN"> </span>{{mrn}} <span class='field'  id='finfield' data-i18n="PatientInfoHandlebar.FIN"> </span>{{fin}}
	</p>

</div>
