#filterShell{position:fixed;top:39px;left:0px;width:360px;bottom:0;z-index:5000;background-color:#FCFCFC;overflow:hidden;}
#filterTab{position:absolute;top:0px;right:0px;width:20px;bottom:0;background:#777777 ;cursor:pointer;text-align:center;border-top:1px solid #EDEDED;margin-top:-1px;}
#filterTab:hover{background:#777777;}
#filterTab.expandViewShown{cursor:default;}
#filterTab.expandViewShown:hover{background:#777777;}
.filterTabText{writing-mode:tb-rl;color:#FFFFFF;position:relative;float:left;}
#imgFilterCollapse{position:relative;top:2px;}

#filterBut
{
	background-color:#F6F6F6;
	border-top: 1px solid #CCC;
	position:absolute;
	bottom:0;
	left:0;
	width:340px;
	height:50px;
}
#filterBut input {
	margin-top:12px;
}

#filterPatientCountDiv{position:relative;top:0px;left:0px;height:40px;width:340px;background-color:#F6F6F6;border-bottom:1px solid #CCC}
#filterPatientCountDiv.withRemovable{height:80px;}
#displayPatientCountDiv{position:relative; padding-left:10px; top:12px;}
.patientCountText{font:12px Tahoma,sans-serif;}
.patientCountBold{font:600 12px Tahoma,sans-serif;}
#displayRemovableCountDiv{position:relative; padding-left:10px; top:24px;}
.removableCountText{font:12px Tahoma,sans-serif;}
.removableCountBold{font:600 12px Tahoma,sans-serif;}
.removableImage{vertical-align:middle;}
.removableCountTxt{position:relative; padding-left:10px; top:24px;}

#divPLSearchDetails{
	position:absolute;
	padding-left: 2px;
	background: #FFFCE1;
	border:1px solid #BDBDBD;
	font-size: 12px;
	z-index:10000;
	display:none;
	min-width:318px;
}
#divPLSearchDetails.show{
	display:inline;
}
#divPLSearchContent {
	overflow:hidden;
}
.moreInModify {
	position:relative;
	padding: 3px 5px 5px 5px;
	height:16px;
	font-weight: bold;
}
#filterTabTooltip{
	position:absolute;
	padding-left: 2px;
	background: #FFFCE1;
	border:1px solid #BDBDBD;
	font-size: 12px;
	width:50px;
	z-index:10000;
	display:none;
}

#filterTabTooltip.show{
	display:inline;
}

#filterMultiSelectTooltip{
	position:absolute;
	padding:0 2px;
	background: #FFFCE1;
	border:1px solid #BDBDBD;
	font-size: 12px;
	z-index:10000;
	display:none;
}

.mainToolbarSize{margin-top:5px;height:25px;}

#filterToolbarListSelect{position:relative;margin-left:10px;width:320px;float:left;border:1px solid #CECECE;cursor:default;text-overflow:ellipsis;}
#filterToolbarListSelect:hover{border-color:#CECECE;background-color:#F5F5F5;}
#filterToolbarListSelect.down{border-color:#CECECE;background-color:#EDEDED;}
#filterToolbarName{width:78%;float:left;position:relative;}
#filterToolbarListName{position:relative;float:left;left:3px;max-width:100%;vertical-align:middle;color:#505050;font:600 14px Tahoma,sans-serif;line-height:24px;text-overflow:ellipsis;white-space:nowrap;}
#filterToolbarListDetails{position:absolute;float:left;top:6px;font:11px Tahoma,sans-serif;color: #0000ff; text-decoration: underline;}
#filterToolbarListSelect img{position:relative;float:right;top:20%;height:60%;right:5px;}
#filterToolbarListSelectDrop{left:10px;width:320px;border-top:none;overflow-y:auto;overflow-x:hidden;}
#fullListNameTooltip {
	position:absolute;
	top:32px;
	left:10px;
	border:1px solid #BDBDBD;
	background-color:#FFFCE1;
	font-size:12px;
	z-index:10000;
	width: 318px;
	padding-left: 5px;
	padding-right: 5px;
	display:none;
}

#errorImage{vertical-align:middle;}
#errorText{padding-left:7px;vertical-align:middle;}

.filterToolbarDrop{position:absolute;top:32px;height:0px;width:120px;border:1px solid #BBB;background:#FFF;display:none;z-index:6000;}

.filterDropdownDiv{position:absolute;left:-1px;overflow:visible;top:100%}
.filterDropdownMenu{border:1px solid #BBB;background:#FFF;z-index: 6000}

.filterToolbarDrop.down{display:inline;}

.tdMenuIcon {width:6px}

.filterToolbarDropTable{height:100%; width:100%;padding:0;border-collapse:collapse;table-layout:fixed;}
.filterToolbarDropTable tr{height:24px;}
.filterToolbarDropTable tr:hover{background-color:#568ECB;color:#FFF;}
.filterToolbarDropTable tr.disabled{color:#999;}
.filterToolbarDropTable tr.disabled:hover{background-color:#FFF;color:#999;}
.filterToolbarDropTable td{padding:0 5px;vertical-align:middle;cursor:pointer;white-space:nowrap;}
.listDetails{position:absolute;float:right;font:11px Tahoma,sans-serif;display:none;}
.selected .listDetails{display:inline;}
.listNameDrop{float:left;text-overflow:ellipsis;}
.selected .listNameDrop{width:83%;}
.disabledTableRow{color:#999;}
.italics{font-style: italic;}

#searchDialogMinBox{position:absolute;top:6px;right:160px;height:24px;width:100px;border:1px solid #BBB;background-color:#D1E1F1;font:500 14px arial,sans-serif;line-height:24px;color:#505050;cursor:pointer;display:none;z-index:10;}

/* filter panel style */
.filterScroll
{
	position:absolute;
	top:41px;
	left:0px;
	bottom:50px;
	width:340px;
	background-color:#FCFCFC;
	overflow-y:auto;
}

.filterScroll.withRemovable
{
	top:81px;
}

.filterDiv {
	position:relative;
}

#filterTable {width:100%;}
#tabFilters {width:100%;}

.filterTitleBar
{
	text-align:left;
	padding-bottom:2px;
	cursor:default;
}

.filterTitleBar:hover
{
	background:#F3F6FD;
}

.filterTitle
{
	padding-left:5px;
	color:rgb(80,80,80);
	font:600 13px tahoma, sans-serif;
	line-height:17px;
}

.filterTitleBarSelect
{
	position:relative;
	text-align:left;
	width:100%;
	margin:4px;
}

.filterSelect
{
	width:auto;
	background-color:#F3F6FD;
	margin:5px;
	display:none;
	left:5px;
}

.filterSelect table {
	width: 100%;
	table-layout:fixed;
	display: inline-table;
}

table .selectTable tr
{
	position:relative;
	table-layout:fixed;
	border-collapse:collapse;
	margin-top:-4px;
	font:12px Tahoma,sans-serif;
	color:#000000;
}

.conditionSpan {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	width: 80%;
}

.searchDisplayTable {
	width: 290px !important;
}

.searchDisplayTable td
{
	padding-left:20px;
}

.filterSelectedTable
{
	position:relative;
	border-collapse:collapse;
	padding:0px;
	border:0px;
	margin-left:30px;
	width:90%;
	font:12px Tahoma,sans-serif;
}

.selectTable
{
	color:rgb(140,140,140);
	font:600 15px arial,sans-serif;
	text-align:left;
	cursor:default;
	background-color:#F3F6FD;
}

.appliedFilterTypeHeader {
	padding-top: 5px;
	color: #AAAAAA;
}

.encounterSummaryList {
	padding-top: 5px;
}

.individualEncounterHead {
	padding-top: 10px;
	padding-bottom: 5px;
}

.individualEncounterHead span, .individualEncounterHead img {
	vertical-align: middle;
}

.individualEncounterData {
	display: none;
	margin-left: 15px;
	padding-right: 15px;
	max-height: 220px;
	overflow-y: auto;
	border:1px solid #DDDDDD;
	background-color: #FFFFFF;
}

.individualEncounterData table {
	width: 100%;
	table-layout: fixed;
	border-color: #EEEEEE;
	overflow: hidden;
	display: inline-table;
}

.individualEncounterData td  {
	width: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.encGroups {
	padding-left: 3px;
	font-style: italic;
}

.encGroupAdded {
	color: #AAAAAA;
}

.filterEncGroupRemoved {
	color: #000000;
}

.filterSelectExpanded
{
	background-color:#F3F6FD;
	border:2px solid #568ECB;
}

.filterSelectCollapsed
{
	background-color:transparent;
}

.ageFilterField {
	box-sizing:border-box;
	width:40px;
	height:20px;
	padding:0 5px;
	margin:0 8px;
}

.rangeTo {
	padding-left: 6px;
	padding-right: 6px;
}

.ageTimeDrop {
	float:left;
    padding-left:6px;
}

.hiddenRow
{
	display:none;
}
.displayedRow
{
	display:inline;
}

#divAgeInput
{
	float:left;
	margin-left:5px;
}
#divAgeCombo
{
	float:left;
}

.admitDischargeCombo{float:left;margin-left:5px;}
.admitDischargeFilterField{width:80px;}
.admitDischargeInput{float:left;}
.admitDischargePastText{float:left;padding-top:4px;}
.admitDischargeFilterElements{float:left;padding-left:10px;}
.admitDischargeMax{float:left;clear:both;font-size:11px;padding-top:4px;}

.divInputError{border-color:#FF0000;}
.maxDaysLimit{color:#7C7C7C;}
.divAdmissionMaxColor{color:#FF0000;}
.divInvalidEntryColor{color:#E96767;}

/* saved patient list dropdown style */
#divFilterPanelTopBar
{
	position:fixed;
	background-color:#FFF;
	border-bottom:1px solid #BCBCBC;
	height:38px;
	width:100%;
	z-index:6000;
	overflow:visible;
	cursor:default;
}
#divFilterPanelTopBarContent{
	min-width:980px; /* This is changed to 980px to support screen resolution 1024px as when the screen resolution is xpx then width of topbarcontent is x-26px*/
	width:auto !important;
	overflow: visible;
}

.reqField{color:#CC0000;}

#divSaveBackground {
	position:fixed;
	height:100%;
	width:100%;
	z-index:50000;
	cursor:default;
	overflow:auto
}

#caseManagerFilter {
	width:87%;
	height:20px;
}

.dlgHeader{
	position:absolute;
	top:0;
	left:12px;
	right:12px;
	height:29px;
	border-bottom:1px solid rgb(180,180,180);
}
.dlgHeader span{
	font:bold 14px Tahoma,sans-serif;
	color:rgb(80,80,80);
	line-height:29px;
}
#dialogMiddle {
	top:35%;
	left:15px;
	right:10%;
	font-size:12px;
	position:absolute;
	width:80%;
}
#dialogButtons {
	background-color:#F6F6F6;
	border-top: 1px solid #CCC;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:35px;
}
#dialog {
	position:absolute;
	top: 35%;
	left: 40%;
	width: 400px;
	height: 150px;
	background-color:#FFFFFF;
	z-index:60000;
}

.butRevert{position:absolute;font:12px Tahoma,sans-serif;display:inline;text-align:right;color:#3380E5;cursor:pointer;right:5px;padding:2px;display:none;}
.butRevert:hover{text-decoration:underline;}
.filterSelectExpanded .butRevert{display:inline;}
.modifiedSection:hover span{display:inline;}

.divSaveListRow{position:relative;width:100%;height:32px;border-bottom:1px solid #D9D9D9;background-color:#FFF;padding-left:4px;font-size:12px;line-height:30px;}
.divSaveListRow.last{border:none;}
.divSaveListRow:hover{background-color:#F3F6FD;}
.divSaveListRow.selected{background-color:#568ECB;color:white;}
.defaultSpan{position:absolute;top:0px;right:64px;display:none;font-size:11px;color:#777;}
.selected .defaultSpan{color:#EEE;}
.divDeleteImg{position:absolute;top:8px;height:16px;right:24px;width:16px;display:none;background:url("../images/6457_up_16.png")}
.divDeleteImg:hover{background:url("../images/6457_over_16.png")}
.selected .divDeleteImg{background:url("../images/6457_up_darkBG_16.png")}
.selected .divDeleteImg:hover{background:url("../images/6457_over_darkBG_16.png")}
.divDeleteImg img{height:100%;width:100%;}
.inputRenameList{position:absolute;top:5px;height:18px;width:50%;font-size:14px;line-height:18px;z-index:20;display:none;}

.displayInline {display:inline;}
div#divRanking{min-width:320px;overflow:hidden;}
span.spanRank{float:left;margin-top:3px;margin-left:13px;margin-right:-15px;}

#divDisabledMenu {
    position:fixed;
    height:100%;
    width:340px;
    z-index:50000;
    cursor:default;
    overflow:auto;
    display:none;
}

div.rwToolbar{
	position:relative;
	display:inline-block;
	height:30px;
	float:left;
	width:auto;
	margin-left:30px;
	overflow:visible;
	cursor:default;
	z-index: 6000;
}

#hiddenToolbar {
	margin-left:0px;
}

div.rwToolbarButton{
	position:relative;
	float:left ;
	width:auto;
	height:100%;
	border:1px solid transparent;
	overflow:visible;
	cursor:default;
}
div.rwToolbarButton.enabled.hover{
	border-color:#CECECE;
	background-color:#F5F5F5;
	cursor:pointer;
}
div.rwToolbarButton.enabled.down{
	border-color:#BBB;
	background-color:#E9E9E9;
}

div.rwToolbarButton img{
	position:relative;
	float:left;
	left:4%;
	top:15%;
	overflow:visible;
	max-height:20px;
	width:auto;
	vertical-align:middle;
}

div.rwToolbarButton span{
	float:left;
	margin-left:1em;
	margin-right:0.5em;
	font:12px Tahoma,sans-serif;
	color:#443;
	vertical-align:middle;
	white-space:nowrap;
	line-height:220%;
}

div.rwToolbarButtonMask {
	position:absolute;
	top:-1px;
	left:-1px;
	right:-1px;
	bottom:-1px;
	z-index:10;
	cursor:default;
}

div.rwToolbarButtonSeparator{
	position:relative;
	float:left;
	top:8%;
	height:84%;
	width:1px;
	margin-left:9px;
	margin-right:10px;
	border-right:1px solid #999;
}

#rwToolbarButtonTooltip
{
	top:100%;
	position:absolute;
	border:1px solid #BDBDBD;
	background-color:#FFFCE1;
	font-size:12px;
	z-index:10000;
	width: 150px;
	padding-left: 5px;
	padding-right: 5px;
}

#rwFuzzySearchInputTooltip {
	position:relative;
	border:1px solid #BDBDBD;
	background-color:#FFFCE1;
	font-size:12px;
	z-index:10000;
	width: 150px;
	padding-left: 5px;
	padding-right: 5px;
}

.rwToolbarDropTable{height:100%;border-collapse:separate;}
.rwToolbarDropTable tr{height:24px;}
.rwToolbarDropTable tr:hover{background-color:#568ECB;color:#FFF;}
.rwToolbarDropTable tr.disabled{color:#999;}
.rwToolbarDropTable tr.disabled:hover{background-color:#FFF;color:#999;}
.rwToolbarDropTable td{position:relative;padding-left:5px;padding-right:60px;vertical-align:middle;cursor:pointer;white-space:nowrap;}
.rwToolbarDropTable td.menuImg {position:relative;padding-bottom:5px;padding-right:0px;vertical-align:middle;cursor:pointer;white-space:nowrap;}

/* This class is used to add a fixed height to a text field with a select besides it. */
.textInputHeight
{
	height:15px;
}
.numInput
{
	width:15%;
	height:18px;
}
.resultMedType
{
	width: 87%;
	background-image: url('../images/6428_11.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 16px;
}
.resultMedOptionList
{
	z-index: 50000;
	position:relative;
}
.divResultMedType
{
	height:35px;
	overflow:visible;
}
.filterSecDropDown
{
	width: 75%;
}
.resultMedWidth
{
	width: 93%;
}
.resultMedPadding
{
	padding-bottom:5px;
}
.resultMedAddBut
{
	color:#3380E5;
	cursor:pointer;
}
.addButdisabled
{
	cursor:default !important;
}
.resultText
{
	position:relative;
	left:15px;
}
.medsText
{
	position:relative;
	left:15px;
}
.overflowVisible
{
	overflow:visible;
}
.addButtonDropdownArrow{
	margin-top:2px;
	margin-right:1em;
}
.apptOrderFloatLeft {
	float:left;
	padding-left:5px;
	width: 30%;
}
.apptOrderFloatLeft input {
	width: 50%;
}
.apptOrderClearFloat {
	clear:both;
}
.orderTypeDrop {
	width: 90%;
}
.expectationsDrop {
	width: 90%;
}

.hidden-checkbox{
	visibility:hidden;
	margin-left:-8px;
	margin-top:-6px;
}

.encounterType {
	margin-left: 15px;
	margin-right: 10px;
}

.encounterType .topContent {
	margin-bottom: 5px;
}

.encntrDetailHeader {
	color:#AAAAAA;
	font-weight: bold;
}

.noFilterPadTop {
	padding-top:40px;
}

.appointmentRadio {
	padding-left:15px;
	padding-bottom:5px;
}
