.patientPendingCallPopoverOverlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url("../images/bg000op00.png");
}

.patientPendingCallPopoverOverlay, .patientPendingCallPopoverOverlay .popoverOuterDiv {
	z-index: 10000;
}

.patientPendingCallPopoverOverlay .popoverArrow {
	z-index: 10001;	
}

.popoverOuterDiv {
	position:fixed;
	z-index:10000;
	width: 395px;
	min-height:235px;
}

.popoverContentDiv {
	position:relative;
	background: #ECECEC;
	border: 1px solid #9B9FA1;
	width:96%;
	padding:4px;
	box-sizing:border-box;
}

.popoverContentDiv .popoverHeader,.popoverBody,.popoverFooter {
	width:98%;
}

.popoverArrow {
	position:relative;
	left:5px;
	height:12px;
	width:24px;
	z-index:10001;
}

.popoverArrowUp {
	top:1px;
	background: url("../images/pointer_arrow_up.png") no-repeat;
}

.popoverArrowDown {
	bottom:1px;
	background: url("../images/pointer_arrow_down.png") no-repeat;
}

.popoverHeader {
	height:auto;
	font:bold 13px tahoma;
	padding:2px;
	box-sizing:border-box;
}

.popoverNoteTypeMsg {
	height:auto;
	font: 13px tahoma;
	padding:2px;
	 box-sizing:border-box;
}

.popoverBody {
	position:relative;
	background:#FFFFFF;
	margin:4px 0;
	overflow-y:auto;
	border:1px solid #9B9FA1;
	box-sizing:border-box;
}

.popoverBodyFullHeight {
  height:150px;
}

.popoverBodyShortHeight {
  height:50px;
}

.popoverCall {
	position:relative;
	padding-bottom:10px;
}

.popoverCall label {
	display:block;
	font:bold 12px tahoma;
}

.popoverCallCheck {
	margin-right:5px;
}

.popoverContentDiv .prsnlName {
	float:left;
	padding-left:25px;
	width:55%;
	box-sizing:border-box;
}

.popoverContentDiv .updateTime {
	float:right;
	padding-right:5px;
	max-width:40%;
}

.popoverContentDiv .overflowableText {
	text-overflow: ellipsis;
	white-space:nowrap;
}

.completedCall {
	color: #CECECE;
}

.completedCall label {
	text-decoration: line-through;
}

.popoverFooter {
	min-height:20px;
	padding:6px;
}

body .popoverTooltip {
	border: 1px solid #BDBDBD;
	background-color: #FFFCE1;
	padding: 2px;
	z-index: 10002;
	max-width: 500px;
	word-wrap:break-word; 
}

.popoverTooltip .ui-tooltip-content {
	font: 12px;
	margin: 0;
}

.popOverBtn {
	float:right;
	margin-right:8px;
	margin-top:5px;
	height:26px;
}

.popoverTextarea {
	width: 98%;
}
