.rwDlgBackground {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:9999;
	background:url("../images/bg999op50.png");
}

#rwSearchDlg{
	position:fixed;
	top:3%;
	background-color:#FFF;
	border:1px solid #AAA;
	cursor:default;
	z-index:10000;
	min-width:975px; /*This is the minimum width we can get at 1024px*/
	width:70%;
	height:94%;
	left:11%;
}

.rwDlgHeader{
	position:absolute;
	top:0;
	left:20px;
	right:20px;
	height:35px;
	border-bottom:1px solid #000000;
}

.rwDlgHeader span{
	font:bold 12px Tahoma,sans-serif;
	position: absolute;
	margin-top: 18px;
	margin-bottom:7px;
	color:rgb(80,80,80);
}
.rwDlgHeader div {
	float:left;
}
.rwDlgHeader div.cancel {
	float:right;
	margin-top: 18px;
	margin-bottom:7px;
}

#rwSearchDlgFooter{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	height:42px;
	border-top:1px solid rgb(180,180,180);
	background-color:#F3F3F3;
}

#rwSearchDlgButtons{
	margin-top:8px;
	margin-bottom:8px;
}
#rwSearchDlgCancel {
	float:right;
	margin-right:14px;
	height:26px;
}
#rwSearchDlgSave {
	float:right;
	margin-right:5px;
	height:26px;
}
#rwSearchDlgNext {
	float:right;
	margin-right:16px;
	height:26px;
}
#rwSearchDlgPrev {
	float:left;
	margin-left:14px;
	height:26px;
}

.infoIcon{
    display:inline;
    margin-left:10px;
}

.infoIcon img{
    vertical-align:middle;
}

#rwSearchDlgBtnDivider {
	float:right;
	border-right: 1px solid #CCCCCC;
	margin-right:16px;
	height:26px;
	width:0;
}

#rwSearchDlgNavigator {
	position:absolute;
	top:36px;
	margin-top:7px;
	left:20px;
	right:20px;
	height:30px;
}

#rwSearchDlgNavigator span {
	position:relative;
	font: bold 14px Tahoma,sans-serif;
	top: 8px;
	color:#FFFFFF;
}

#navigatorWklType {
	float:left;
	width:150px;
	height:35px;
}
#navigatorWklType.active {
	background:url("../images/Step1_green_active.png");
	background-repeat:no-repeat;
}
#navigatorWklType.inactive {
	background:url("../images/Step1_grey_inactive.png");
	background-repeat:no-repeat;
}
#navigatorWklType.complete {
	background:url("../images/Step1_ltgreen_complete.png");
	background-repeat:no-repeat;
}
#navigatorWklType span {
	left:8px;
}

#navigatorCriteria {
	float:left;
	width:118px;
	height:35px;
}
#navigatorCriteria.inactive {
	background:url("../images/Step2_grey_inactive.png");
	background-repeat:no-repeat;
}
#navigatorCriteria.active {
	background:url("../images/Step2_green_active.png");
	background-repeat:no-repeat;
}
#navigatorCriteria.complete {
	background:url("../images/Step2_ltgreen_complete.png");
	background-repeat:no-repeat;
}
#navigatorCriteria span {
	left:20px;
}

#navigatorSummary {
	float:left;
	width:122px;
	height:35px;
}
#navigatorSummary.active {
	background:url("../images/Step3_green_active.png");
	background-repeat:no-repeat;
}
#navigatorSummary.inactive {
	background:url("../images/Step3_grey_inactive.png");
	background-repeat:no-repeat;
}
#navigatorSummary span {
	left:20px;
}

#rwSearchDlgContent {
	position:absolute;
	top:75px;
	bottom:65px;
	left:20px;
	right:20px;
	margin-top:30px;
}

#contentWklType {
	position:absolute;
	top:0;
	bottom:0;
	height:100%;
	width:100%;
	font: 12px Tahoma,sans-serif;
	color: #505050;
}
.sectionHeader {
	border-bottom: 1px solid #C5C5C5;
	padding-bottom:5px;
}
.sectionHeader img {
	padding-right:5px;
	float:left;
}
.sectionHeader div {
	float:right;
	padding-right:5px;
	color: #0000ff;
	cursor: pointer;
}
.sectionHeader span {
	float:left;
	color:#212121;
}
.sectionHeader .toggleSection {
	float:right;
}
.clickableHeader {
	cursor: pointer;
}
.clearSection {
	float:right;
	margin-top:5px;
	color: #0000FF;
	cursor: pointer;
}
.locationContainer .sectionHeader .clearSection {
	float:right;
	margin-top:0;
	padding-right: 5px;
	color: #0000FF;
	cursor: pointer;
}
.requiredText {
	color: #7A7A7A;
	font-style: italic;
	padding-left: 5px;
}
.requiredIndicator {
  color: #FF0000;
}
#chooseProviders {
	margin-top:25%;
	margin-left:25%;
	margin-right:25%;
}
.rightPaneContent {
	position:absolute;
	margin-top:15px;
	top:15px;
	bottom:0;
	overflow-y:auto;
	width:100%;
}
.rightPaneContent table {
	table-layout:fixed;
	width:100%;
}
.checkContent {
	width:auto;
}
.hasInput {
	background-color:rgb(255,255,255)
}
.noInput {
	background-color:rgb(255,255,160);
}
.moreLink {
	color:blue;
}
.moreEllipsis {
	display: inline;
	padding-right:5px;
}
.moreContent {
	display: none;
}
#wklTypeLeftPane {
	position:absolute;
	float:left;
	border-right: 1px solid #AAAAAA;
	box-sizing:border-box;
	top:0;
	bottom:0;
	width:300px;
	height:100%;
	padding-right:14px;
}
#wklTypeRightPane {
	position:absolute;
	margin-left:20px;
	left:301px;
	float:left;
	top:0;
	bottom:0;
	right:0;
	padding-left: 11px;
}
.relationsRightColOverlay {
	z-index: 50002;
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 276px;
	right: 0;
	background: url("../images/bg000op50.png") repeat;
}
.reltnClear {
	position: absolute;
	top: 82px;
	left: 276px;
	right: 0;
	height: 18px;
	padding-right: 10px;
	margin-bottom: 2px;
	background-color: #F8F8F8;
	border-left: 1px solid #C5C5C5;
	border-right: 1px solid #C5C5C5
}
.reltnClear span {
	margin-top: 2px;
}
.relationsContent {
	position: absolute;
	top: 100px;
	bottom: 0;
	left: 276px;
	right: 0;
	padding-right: 2px;
	overflow-y: auto;
	border: 1px solid #C5C5C5;
	border-top: 0;
	box-sizing: border-box;
}
.relationsContent table {
	width: 100%;
	table-layout: fixed;
	word-wrap: break-word;
}
.relationsContent td  {
	padding:3px;
}
.relationsLabel {
	position: absolute;
	top: 30px;
	left: 276px;
	right: 0;
}
.tabs {
	position: absolute;
	top: 50px;
	left: 276px;
	right: 0;
	background-color: #F0F0F0;
	border: 1px solid #C5C5C5;
	box-sizing: border-box; /* Needed since we are specifying both width and border for div */
}
.tabs label {
	margin-right: 20px;
	line-height: 30px;
	padding-left: 5px;
}
/* This is needed to initially hide the visits tab when the page loads */
.visitRelationship {
	display: none;
}
.providerRel > .sectionHeader {
	border-bottom: 1px solid #B9B9B9;
	margin-bottom: 10px;
}
.boldText {
	font-weight: bold;
}
.paddedRight {
	padding-right: 5px;
}
.ditheredText {
	color: #7A7A7A;
}
.listNameInput {
	margin-top:5px;
	width:100%;
}
.encGroupRemoved {
	color: #505050;
}
.listNameDisp {
	height:15%;
}
.listProvidersDisp {
	position: absolute;
	top: 30px;
	left: 11px;
	bottom: 0;
	width: 250px;
}

.listProvidersDisp .clickableHeader {
	padding: 5px;
	background-color: #F0F0F0;
}
.clickableHeader > span {
	color: #787878;
}
.listProvidersDisp .clickableHeaderExpanded {
	padding: 5px;
	background-color: #E0E0E0;
}
.listProvidersDisp .clickableHeader:hover {
	background-color: #E0E0E0;
}
.listProvidersDisp .clearSection {
	padding-right: 5px;
}

.clickableHeader > .chkCntInd {
	visibility: hidden;
	background-color: #888888;
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	padding: 1px 3px;
}

.clickableHeaderExpanded > .chkCntInd {
	visibility: hidden;
	background-color: #888888;
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	padding: 1px 3px;
}
.providerGroupList {
	margin-top:2px;
	width:100%;
	height:85%;
	overflow-y:auto;
	background-color:#ffffff;
	box-sizing:border-box;
}
.providerGroupList table {
	width:100%;
}
.providerGroups {
	display:none;
	background-color: #F8F8F8;
}
.singleProvider {
	max-height: 100%;
	overflow-y: auto;
	display:none;
	background-color: #FFFFFF;
	padding-bottom: 5px;
}
span.providerSelText {
	margin-bottom: 8px;
}
.providersSection {
	position: absolute;
	top: 20px;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #F0F0F0;
	border: 1px solid #C5C5C5;
	box-sizing:border-box;
}
.singleProviderSearch {
	background-color: #F8F8F8;
}
.singleProviderSearchInptWrapper {
	margin-right: 10px;
	margin-left: 5px;
	padding-top:5px;
}
.fullWidth {
	width:100%;
}
.zeroHeight {
	height:0;
}
.providerList {
	margin-top:2px;
	width:100%;
	background-color:#ffffff;
	box-sizing:border-box;
	overflow-y:auto;
	display:none;
}
.prsnlRemoveImg {
	display: none;
	float:right;
	margin: 2px 5px 2px 5px;
	height:16px;
	width:16px;
	background-image:url("../images/6457_up_16.png");
	background-position:center;
	background-repeat:no-repeat;
}
.prsnlRemoveImg:hover {
	background-image:url("../images/6457_over_16.png");
	cursor:pointer;
}
.singleProviderSelection:hover {
	background-color:#E0E0E0;
	border:1px solid #C5C5C5;
}
.singleProviderSelection label {
	margin-top:5px;
	margin-bottom:5px;
	width: 85%;
}
#contentCriteria {
	position:absolute;
	top:0;
	bottom:0;
	height:100%;
	width:100%;
	font: 12px Tahoma,sans-serif;
	color: #505050;
	display:none;
}
#criteriaLeftPane {
	position:absolute;
	float:left;
	border-right: 3px solid #DEDEDE;
	box-sizing:border-box;
	height:100%;
	width:25%;
	overflow-y:auto;
}
#criteriaList{
	width:100%;
	border: 1px solid #AAAAAA;
	box-sizing:border-box;
	border-right:0;
	margin-top:8px;
}
#criteriaList td {
	height:16px;
	padding: 5px 10px 5px 10px;
	border-bottom: 1px solid #AAAAAA;
}
#criteriaList tr.selected {
	background-color:#568ECB;
	color:white;
}
#criteriaList div {
	float:left;
	width:16px;
	height:16px;
	padding-right:5px;
}
.completeImg {
	display:none;
}
.errorImg {
	display:none;
}
#criteriaRightPane {
	position:absolute;
	margin-left:10px;
	float:left;
	left:25%;
	top:0;
	bottom:0;
	right:0;
}
.topContent {
	border-bottom: 1px solid #DDDDDD;
	margin-bottom:10px;
	padding-bottom:5px;
	width:100%;
}
.topContent span {
	padding-left:5px;
	padding-right:5px;
}
#conditionOperator label {
	margin-right:10px;
}
.multiInputContent {
	background-color:#f8f8f8;
	border:1px solid #DDDDDD;
	padding:7px;
}
.invalidEntry {
	display:none;
	color:#FF0000;
	padding-left:5px;
}
.padding {
	padding-left:5px;
	line-height:20px;
}
.rwResultValueInputs {
	display: none;
	padding-left:7px;
}
.medMinWidth {
	min-width:615px;
}
.resultMinWidth {
	min-width:855px;
}
.resultValue {
	display:none;
}
.borderedContent {
	float:left;
	line-height:20px;
	margin-right:6px;
	padding-right:6px;
	border-right:1px solid #DDDDDD;
}
.overflowDiv {
	overflow:auto;
	height:50%;
}
.cwNumInput {
	width:50px;
	height:15px;
}
.medStatus {
	float:left;
	line-height:20px;
	margin-right:6px;
	padding-right:6px;
	border-right:1px solid #DDDDDD;
	margin-left:6px;
	padding-left:6px;
	border-left:1px solid #DDDDDD;
}
.medTime {
	padding-top:20px;
	line-height:20px;
}
#rwDivMedSearch {
	line-height:20px;
}
.searchInput {
	background-image: url('../images/6428_11.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:16px;
	padding-right:16px;
}
.searchOptions {
	width:100%;
}
.leftFloat {
	float:left;
	height:50%;
}
.rightFloat {
	float:right;
}
.resultAdd {
	background-color: #F8F8F8;
	border-left:0;
	padding:6px;
	padding-bottom:3px;
	min-width: 25px;
}
.resultTime {
	min-width:200px;
}
.resultAdd span {
	line-height:20px;
}
.resultAdd img {
	padding-left:4px;
	cursor:pointer;
}
.bottomContent {
	margin-top:40px;
}
.addedResults {
	padding-left:5px;
	padding-right:5px;
}

.medAdd {
	border-left: 1px solid #DDDDDD;
	margin-left:6px;
	padding:32px 6px 34px 6px
}
.medAdd span {
	line-height:20px;
}
.medAdd img {
	padding-left:4px;
	cursor: pointer;
}
.rwMedsText {
	border-bottom: 1px solid #CCC;
	padding-top:5px;
	padding-left:5px;
	width:100%;
}
#addedMeds {
	padding-left:5px;
	padding-right:5px;
}
#EXPECTATIONS div {
	overflow-x:auto;
	overflow-y:hidden;
}
#EXPECTATIONS div.sectionContent {
	width:100%;
}
.expectList {
	overflow-y:auto !important;
	overflow-x:hidden !important;
	position:relative;
	float:left;
	top:0;
	left:0;
	width:40%;
	height:100%;
	border:1px solid #DDDDDD;
	box-sizing:border-box;
}
.statusList {
	overflow-y:auto !important;
	overflow-x:hidden !important;
	position:relative;
	float:left;
	top:0;
	left:10px;
	width:20%;
	border:1px solid #DDDDDD;
	box-sizing:border-box;
}

#ORDERSSTATUS div {
	overflow-x:auto;
	overflow-y:hidden;
}
#ORDERSSTATUS div.sectionContent {
	width:100%;
}
.admissionDischargeFilter .multiInputContent,
.ageFilter{
	display:inline-block;
}
.appointmentStatus{
	border:1px solid #DDDDDD;
	display:inline-block;
}
#rwOrderType {
	overflow-y:auto !important;
	overflow-x:hidden !important;
	position:relative;
	float:left;
	top:0;
	left:0;
	width:40%;
    height:70%;
	border:1px solid #DDDDDD;
	box-sizing:border-box;
}
#rwOrderStatus {
	overflow-y:auto !important;
	overflow-x:hidden !important;
	position:relative;
	float:left;
	top:0;
	left:10px;
	width:30%;
    height:70%;
	border:1px solid #DDDDDD;
	box-sizing:border-box;
}
.ordersContent {
	margin-left:12px;
	margin-right:50px;
	margin-bottom:15px;
	width:300px;
}
#rwOrderFuture {
	padding-left:10px;
	padding-right:10px;
}
#rwOrderTimeMax {
	padding-left:6px;
	line-height:20px;
}
.moreContentTable td {
	border-bottom: 1px solid #DDDDDD;
}
.moreContentTable th {
	background-color:#f8f8f8;
	border-bottom: 1px solid #DDDDDD;
	font-weight:bold;
	text-align:left;
}
.moreContentTable span {
	padding-left:5px;
}

.floatTable {
	width:100% !important;
	border-collapse:collapse;
	border:1px solid #DDDDDD;
}

.admissionDischargeFilter input{
	width:60px;
	margin-right:6px;
}
.admissionDischargeFilter input.maxExceeded{
	border-color:#FF0000;
}
.admissionDischargeFilter span.maxText {
	padding-left:6px;
	line-height:30px;
}
.admissionDischargeFilter span.maxText.maxExceeded{
	color:#FF0000;
}

#AGE input {
	width:60px;
	margin-right:6px;
	margin-left:6px;
}
#AGE span.textTo {
	line-height: 30px;
}

.rwApptLookbackSection, .rwAppointmentStatus {
	margin-left:20px;
}

.rwApptDateInput {
	width:60px;
	margin-right:6px;
	display:block;
}

.rwApptDateOption {
	padding-top:9px;
}

.rwApptTimeMaxSpan {
	margin-left:6px;
	line-height: 30px;
}

#contentSummary {
	padding:16px;
	position:absolute;
	border:1px solid #DDDDDD;
	top:0;
	bottom:0;
	overflow-y:auto;
	display:none;
	width:100%;
	box-sizing:border-box;
}
.summaryHeader {
	border-bottom:1px solid #CCCCCC;
	padding-bottom:5px;
	width:100%;
	color: #878787;
	font: 14px Tahoma,sans-serif;
}
#summaryCriteria {
	margin-top:35px;
}
.summaryContent {
	margin-left:15px;
	margin-right:15px;
	margin-top: 15px;
	font: 12px Tahoma,sans-serif;
}
.summaryContent div.summaryDiv {
	margin-bottom:10px;
	display:none;
}
.summaryContent div.summaryLabel {
	color:#AAAAAA;
	width: 200px;
	margin-right: 5px;
	padding-left: 16px;
	text-align:left;
	float:left;
}
.summaryContent div.summaryText {
	color:#202020;
}
.summaryText div h3 {
	font-weight:bold;
}
.summaryInfoImg {
	background: url('../images/5104_16.png') no-repeat left center;
}
.summaryDiv .summaryLocationTitle {
	color: #AAAAAA;
	font-weight: normal;
}
.summaryLocationTitle {
	font-weight: bold;
	float: left;
	color: #7A7A7A;
	padding-right: 3px;
}
.summaryLocationName {
	float: left;
	color:#202020;
}
.summaryBuilding > .summaryLocationName {
	float: none;
}
.summaryLocationUnitList {
	display: block;
}
.zebra-white{background:#FFF;}
.zebra-blue{background:#E8EBF5;}

input.rwSearchDlgBtn{
	float:right;
	margin-right:8px;
	height:26px;
}

.encounterTypesContent {
	padding-left:10px;
	padding-right:10px;
}

.groupIndividualEncSection {
	padding:10px;
	background-color:#eee;
	border:1px solid #DDDDDD;
}

.addIndividualEncLabel {
	margin-top:15px;
	margin-bottom:5px;
}

.addIndividualEncLabel span, .addIndividualEncLabel img {
	vertical-align:middle;
}

.addIndividualEncContent {
	margin-left:15px;
	padding-right:15px;
	background-color:#FFF;
	max-height:155px;
	overflow-y:auto;
	display:none;
	border:1px solid #DDDDDD;
}

.addIndividualEncContent table {
	table-layout:fixed;
	margin-left:0;
	width:100%;
}

.addIndividualEncContent td {
	width:25%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.addedEncTypesContent {
	max-height:180px;
	overflow-y:auto;
}

.addedEncTypesContent ul {
	width: 100%;
}

.addedEncTypesContent li {
	border-bottom:1px solid #DDDDDD;
	padding: 5px 30px 5px 10px;
}

.addedEncTypesContent .individualList li {
	border-bottom:1px solid #DDDDDD;
	padding-left: 75px;
}

.addedEncTypesContent .individualLabel {
	padding-left:10px;
}

.addedEncTypesContent .encounterTypeLabel {
	color:#AAAAAA;
}

.addedEncTypesSection .topContent {
	margin-bottom:0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.encSummaryLabel {
	font-weight: bold;
}

.groupSummaryLabel {
	margin-right: 5px;
	float: left;
}

.addedEncTypesSection {
	margin-top:20px;
}

.removeEncounterType {
	float: right;
	visibility: hidden;
}

.boldText {
	font-weight: bold;
}

.expandImg, .collapseBtn {
	display: none;
}

.checkMarkImg {
	visibility:hidden;
}

.apptRadio {
	padding-left: 20px;
	padding-bottom: 5px;
}

.listTypeGroup {
	padding: 5px 5px 5px 10px;
}

.listTypeGroup > label {
	display: inline-block;
	padding-bottom: 5px;
}

.locationControl {
	position: absolute;
	top: 30px;
	bottom: 70px;
	left: 11px;
	right: 0;
}
.locationColumn {
	position: absolute;
	top: 0;
	bottom: 0;
	border: 1px solid #EAEAEA;
}
.locationColumn.col1 {
	left: 0;
	width: 32%;
}
.locationColumn.col1 img {
	display: none;
}
.locationColumn.col2 {
	width: 32%;
	right: 32%;
}
.locationColumn.col3 {
	width: 32%;
	right: 0;
}
.locationLookbackRangeContainer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 11px;
	height: 69px;
}
.locationLookbackTitle {
	float: left;
	margin-top: 3px;
	color: #212121;
}
.locationLookbackPast, .locationLookbackTimeUnit {
	float: left;
	padding: 5px;
}
.locationLookbackPast > input {
	width: 50px;
	height: 20%;
}
.locationLookbackLabel {
	display: block;
}
.locationLookbackTimeUnit {
	display: block;
}
.locationLookbackUnitContainer > span {
	padding-left: 5px;
}

.locationLookbackRangeInputContainer {
	background-color: #F5F5F5;
	padding: 0 10px;
	border: 1px solid #E0E0E0;
}
.locationLookbackHeader {
	padding-bottom: 2px;
}
.locationLookbackHeader > .requiredIndicator {
	float: left;
	margin-top: 3px;
}
.locationColumnHeader {
	position: absolute;
	width:100%;
	top: 0;
	height: 22px;
	background-color: #F5F5F5;
	border-bottom: 1px solid #E0E0E0;
	color: #000000;
	padding-top: 3px;
	box-sizing: border-box;
}
.locationColumn.inContext > .locationColumnHeader {
	background-color: #E0E0E0;
}
.locationColumnHeader > .locationColumnTitle {
	float: left;
	padding-left: 2px;
}
.locationColumnHeader > .locationColumnSelectedInd {
	float: right;
	padding-right: 2px;
}
.locationColumnSecondaryHeader {
	position: absolute;
	width:100%;
	top: 22px;
	height: 20px;
	background-color: #F5F5F5;
	padding: 2px;
	box-sizing: border-box;
}
.locationColumnSecondaryHeader .secondaryClear {
	float: right;
	color: #0000FF;
	cursor: pointer;
}
.locationColumnInfoMessage {
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;
	font: 12px Tahoma,sans-serif;
}
.locationColumn > .locationColumnOptionsSection {
	position: absolute;
	top: 22px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
}
.locationColumn.col3 > .locationColumnOptionsSection {
	top: 43px;
}
.locationColumn.col3 .locationColumnRow span {
	padding-top: 3px;
}
.locationColumnRow {
	padding: 1px 2px 1px 4px;
	max-width: 100%;
	white-space: nowrap;
	margin-top: -2px;
}
.locationColumnRow:first-child {
	margin-top: 0;
}
.locationColumnRow.selected {
	background-color: #568ECB;
	color: #FFFFFF;
}
.locationColumnRow.selected .unitCntInd {
	color: #000000;
	background-color: #D7E0EF;
}
.locationColumnRow.dithered {
	color: #BABABA;
}
.locationColumnRow span{
	float: left;
	padding: 1px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: auto;
}
.col1 .locationColumnRow span {
	width:100%;
}
.col2 .locationColumnRow span {
	width:90%;
}
.locationColumnRow img {
	float: right;
	width: 16px;
}
.locationColumnRow input[type=checkbox] {
	float: left;
}
.col1 .locationColumnRow .unitCntInd {
	display: none;
}
.unitCntInd {
	visibility: hidden;
	background-color: #888888;
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	padding: 1px 3px;
	float: right;
	margin-right: 10px;
}

body .locationTooltip {
	border: 1px solid #BDBDBD !important; /*assigning the tooltip class doesn't inherit this style, but the !important override makes sure this style is applied*/
	background-color: #FFFCE1;
	padding: 2px;
	z-index: 10001;
}

body .locationTooltip .ui-tooltip-content {
	font: 12px;
	margin: 0;
	word-wrap:break-word;
}
