.dynamicFilterTooltip {
	box-sizing: border-box;
	border: 1px solid #BDBDBD; /*assigning the tooltip class doesn't inherit this style, but the !important override makes sure this style is applied*/
	background-color: #FFFCE1;
	z-index:10002 !important;
	padding: 2px;
	width: 1000px;
	position: absolute;
}

.dynamicFilterTooltip .ui-tooltip-content  {
	font-size: 12px;
	margin: 0;
	word-wrap: break-word;
}

.rwDlg {
	position:fixed;
	top:8%;
	left:40%;
	bottom:8%;
	width:500px;
	background-color:#FFF;
	border:1px solid #AAA;
	z-index:10000;
	cursor:default;
}

.rwDlgContent {
	position:absolute;
	top:34px;
	left:12px;
	right:12px;
	bottom:40px;
}

.rwDlgFooter{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	height:35px;
	border-top:1px solid rgb(180,180,180);
	background-color:#F3F3F3;
}

#shareList {
	position:absolute;
	right:0;
	left:46%;
	top:2%;
	height:257px;
	border: 1px solid rgb(180,180,180);
	overflow-y: auto;
}

#shareControls {
	position: absolute;
	float:left;
	top:2%;
	bottom: 0;
	width:45%;
}

#shareControls select {
	width: 155px;
}

#shareDlg {
	height:340px;
}

.shareButton {
	margin-top:5px;
}

#shareListHeaders {
	position:relative;
	height:24px;
	background-color:#F6F6F6;
	border-bottom:1px solid #CCC;
	width:100%;
}

#shareListHeaders div{
	position:relative;
	padding-top:10px;
	padding-left:8px;
	left:0;
	color:#A0A0A0;
	float:left;
	font:11px Tahoma,sans-serif;
	font-weight:bold;
	width:100px;
	height:25px;
}

#shareListName {
	border-right: 1px solid #CCC;
}

.name-tooltip{
	position:absolute;
	max-width:180px;
	padding: 0 2px;
	background: #FFFCE1;
	border:1px solid #BDBDBD;
	font-size: 12px;
	z-index:500000;
}

.showBorder{
	border-bottom: 1px solid #CCC;
}

.proxyRow.selected {
	background-color:#568ECB;
	color:#FFF;
}

.proxyRow span{
	float:left;
	width:100px;
	padding-left:8px;
	height: 20px;
	white-space: pre;
}
.proxyName {
	border-right:1px solid #CCC;
}

div.inAccessibleListMsg {
	position:absolute;
	top:45%;
	margin-left:35%;
	margin-right:45%;
	text-align:center;
	font-size:16px;
	display:none;
	white-space:nowrap;
}

#providerSelection {
	height:55px;
	overflow:visible;
}

.prsnlNamesList {
	z-index: 60000;
	position:relative;
}


#custDlg {
	height:325px;
}

#custColumnsList {
	position:relative;
	border: 1px solid rgb(180,180,180);
	width: 400px;
	top:10px;
	float:left;
}

#custColHeaders {
	position:relative;
	height:24px;
	background-color:#F6F6F6;
	border-bottom:1px solid #CCC;
	width:100%;
}

#custColHeaders div{
	position:relative;
	padding-left:5px;
	padding-top:10px;
	height:15px;
	vertical-align:middle;
	left:0;
	color:#A0A0A0;
	float:left;
	font:11px Tahoma,sans-serif;
	font-weight:bold;
}
#custColRows {
	overflow-y:scroll;
	height: 180px;
}
#custShowHide {
	width:60px;
	border-right: 1px solid #CCC;
}

#custColName {
	width:300px;
}

#custColControls {
	float:left;
	position:relative;
	top:10px;
	left:5px;
	width:60px;
}

#colDown {
	float:left;
	background:url("../images/3897_16.png");
	background-repeat: no-repeat;
	background-position: center center;
	width:20px;
}

#colDown.disabled {
	background:url("../images/3897_disabled.gif");
	background-repeat: no-repeat;
	background-position: center center;
}

#colUp {
	float:left;
	background:url("../images/3900_16.png");
	background-repeat: no-repeat;
	background-position: center center;
	width:20px;
}

#colUp.disabled {
	background:url("../images/3900_disabled.gif");
	background-repeat: no-repeat;
	background-position: center center;
}

.colRow {
	height:20px;
}

.colRow div {
	height:100%;
}

.colRow.selected {
	background-color:#568ECB;
	color:#FFF;
}

.colTitle {
	padding-top:2px;
	padding-left:5px;
	width:305px;
}

.colShowHide {
	width:45px;
	padding-left:20px;
	border-right: 1px solid #CCC;
}

.colLeft {
	float:left;
}

#inAccDialogOkBut {
	position:absolute;top:20%;height:60%;width:80px;left:40%;
}

.searchCtrlInput {
	width:100%;
	background-image:url("../images/6428_11.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 16px;
}
.searching {
	background-image:url("../images/6439_16.gif");
}

.searchCtrlList div {
	z-index:90000;
	position:absolute;
}

div.bodySpinner{
	position:absolute;
	top:40%;
	left:48%;
	height:48px;
	width:48px;
	background:url("../images/6439_48.gif");
	z-index:10;
	display:none;
}

.searchCtrlList select{
	width:10%;
	background-repeat: no-repeat;
}

.centerText {
	word-wrap: break-word;
}

.vertAlignImages {
	display: table-cell;
	vertical-align: middle;
}

#fuzzySearchBox {
	float: right;
	width: auto;
	position:relative;
	padding-right:5px;
	top:5px;
	height:30px;
	border:1px solid transparent;
	overflow:visible;
	cursor:default;
}

#fuzzySearchInput {
	position: relative;
	top:3px;
	height: 18px;
	background-image: url('../images/6428_11.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 16px;
	width: 180px;
}

.centerContent {
	text-align:center;
}

.overlayDimmed {
	background-image: url("../images/bg999op50.png");
}

.genCommMessageViewSummaryAction {
	text-decoration: none;
	margin: 0 24px;
}
.overlayDisabled {
	background-image: url("../images/bg000op75.png");
}

.hidden {
	display: none;
}
