/* ============== CSS RESET ============== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
	big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt,
	dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; vertical-align:baseline;overflow:hidden;}
:focus {outline:0;}
html{background-color:#FDFDFD;}
body {color:#000; background:#FFF; font:normal 13px/1.5em Tahoma, sans-serif; text-align:left; width:100%;}
ol, ul {list-style:none; text-align:left;}
table {border-collapse:separate; border-spacing:0; font:normal 13px Tahoma, sans-serif;}
caption {display:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
script {display:none;}

/* ======================================= */

div.wklOuterDiv{
	position:absolute;
	top:38px;
	bottom:0;
	left:360px;
	right:0;
	background-color:#EEE;
	cursor:default;
}
div.wklOuterDiv.full{
	left:20px;
}
div.wklOuterDiv.resizingCol {
	cursor:e-resize;
}

div.wklHorizScroller{
	position:absolute;	
	bottom:0;
	left:0;
	overflow-x:scroll;
	width:100%;
}
div.wklHorizScroller.hidden{
	overflow-x:hidden;
}	
div.wklHorizScrollerInset{
	position:relative;
	display:inline-block;
}
#wklExpandedView
{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	width:0;
	z-index:1;
	background-color:white;
	display:none;
	overflow-y:auto;
	overflow-x:auto;
}

#wklHeaderDiv{
	position:absolute;
	top:0px;
	height:26px;
	left:0;
	right:0;
}

div.wklHeaderFixed{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	z-index:3000;
}

div.wklHeaderScroll{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	overflow:hidden;
}
div.wklHeaderHorizScroller{
	position:relative;
	margin-right:400px;
}

div.wklHeaderCell{
	position:relative;
	height:24px;
	background-color:#F6F6F6;
	border:1px solid #CCC;
	color:#A0A0A0;
	border-left:none;
	float:left;
}

div.wklHeaderCell.rightmost{
	float:none;
	width:auto;
}

div.wklHeaderCell:hover{
	background-color:#EFEFEF;
}

div.wklHeaderCell div{
	position:relative;
	color:#505050;
	font:10px; 
	top:6px;
	left:6px;
	bottom:6px;
	right:6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	float:left;
}

div.wklHeaderCell img {
	float:right;
	position:absolute;
	top:0px;
	right:3px;
}

.patientHeaderExtraMargin{
	left:25px !important;
}

#wklBodyDiv{
	position:absolute;
	top:26px;
	left:0;
	right:0;
	overflow-y:auto;
	height:92%;
}
#wklBodyDiv.expandViewShown{
	overflow-y:hidden;
}

#wklBodyFixed{
	position:absolute;
	top:0;
	left:0;
	border-bottom:1px solid #CCC;
	z-index:10;
}

#wklBodyFixedGrayTop {
	top:0;
}

#wklBodyFixedGrayBottom {
	bottom:0;
}

.wklExpandedPanelOverlay {
	position:absolute;
	left:0;
	z-index: 1;
	border: 2px solid #888888;
	display:none;	
}

.wklShadowOverlayDimmed {
	background-image: url("../images/bg999op05.png");
}

.wklShadow {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	display:none;
}

#wklBodyScroll{
	position:absolute;
	border-bottom:1px solid #CCC;
	top: 0;
	right: 0;
	left: 0;
}

div.wklSpinner{
	position:absolute;
	top:60px;
	left:48%;
	height:48px;
	width:48px;
	background:url("../images/6439_48.gif");
	z-index:10;
	display:none;
}

#loadingMessage{
	position:absolute;
	height:48px;
	width:48px;
	z-index:10000;
	display:none;
}

div.wklPatientRowFixed
{
	position:relative;
	top:0;
	left:0;
	height:100px;
	display:block;
}

div.wklPatientRowFixed.selected
{
	border-bottom:1px solid #FFF;
	height:99px;
}

div.wklPtCellHoverArea
{
	position:absolute;
	height:100%;
	top:0;
	right:0;
	display:none;
	width: 20px;
}

.wklPtCellShadow {
	position:absolute;
	height:100%;
	top:0;
	right:0;
	display:none;
	width: 5px;
}

div.wklPtCellButton
{
	position:absolute;
	height:100%;
	top:0;
	right:0;
	background:url("../images/target_hover_arrow_right.png");
	background-position:center;
	width:0px;
	cursor:pointer;
}
div.wklPtCellButton.expandViewShown
{
	background:url("../images/arrow_left.png");
}
div.wklPtCellButton.expandViewShown:hover
{
	background:url("../images/arrow_left_hover.png");
}

div.wklPatientRow{
	position:relative;
	display:block;
	height:100px;	
	margin-right:400px;
}
div.wklPatientRow.selected{
	border-bottom:1px solid #FFF;
	height:99px;
}

div.wklRowCell{
	position:relative;
	height:100px;
	border-right:1px solid #CCC;
	float:left;
}
div.wklRowCell.rightmost{
	width:auto;
	float:none;
}
div.wklRowCell.selected{
	background-color:#568ECB;
	border-color:#568ECB;
	color:#FFF;
}
div.wklRowCell.removable{
	background-image:url("../images/red_hatch_16.png");
}
div.wklRowCell.deltaCell{
	width:20px;
	border-right:none;
}
div.wklRowCell.standardCell{
	width:200px;
}
div.wklMessage 
{
	position:absolute;
	top:40%;
	margin-left:45%;
	margin-right:45%;
	font-size:16px;
	display:none;
}
#createListBtn {
	display: none;
	padding-left:100px;
}
div.patientName{
	position:relative;
	left:10px;
	margin-top:1px;
}
div.patientName.ellipsis{
	width:85%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.patientInfo{
	position:relative;
	left:10px;
}
div.age{
	left:10px;
}
div.rating{
	position:relative;
}

div.ptCommentInd.ptPhone {
	background-image:url("../images/phone_contact.png");
	background-repeat: no-repeat;
	visibility: visible;
}
#ptPhoneNums {
	padding: 5px 9px 0px 9px;
}
div.ptPhoneNum {
	font: 12px Tahoma;
	padding-bottom:5px;
}
span.phoneDispText {
	color: #858585;
}
span.phoneNum {
	color: #000000;
}

div.ptCommentInd.ptPendingPhone {
	background:url("../images/phone_pending_purple.png")  no-repeat;
	visibility: visible;
	cursor:pointer;
}

div.ptCommentInd{
	position:relative;
	float:left;
	top:5px;
	left:5px;
	height:16px;
	width:16px;
	background-image:url("../images/6222_16.png");
	visibility:hidden;
}
div.ptCommentInd.todo{
	background-image:url("../images/5258_16.png");
}

#ptPhoneHover {
	width:auto;
}

div.ptCommentHover{
	position:absolute;
	max-width:320px;
	padding:2px 4px 4px;
	border:1px solid #BDBDBD;
	background-color:#FFFCE1;
	font:12px Tahoma,sans-serif;
	color:rgb(62,62,62);
	word-wrap:break-word;
	display:none;
	z-index:100000;
}
div.ptCommentHover .commTitle{
	display:block;
	margin-bottom:2px;
	font-weight:bold;
	white-space:nowrap;
}
div.ptCommentHover .commSeq{
	display:block;
	float:right;
	font-size:11px;
	color:rgb(120,120,120);
}

div.wklRightClickWindow {
	position:absolute;
	width:180px;
	background-color:#FFFFFF;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
	display:none;
	z-index: 5000;
}

div.wklRightClickWindowRankTab {
	position:relative;
	left:0px;
	right:0px;
	width:100%;
	height:50%;
	word-wrap:break-word;
	display:block;
}

div.wklRightClickWindowRankTab:hover {
	background-color:#568ECB;
	color:#FFFFFF;
	font-weight:bold;
}

div.wklRightClickWindowRmvPatTab {
	position:relative;
	left:0px;
	right:0px;
	width:100%;
	height:50%;
	word-wrap:break-word;
	display:block;
}

div.wklRightClickWindowRmvPatTab:hover {
	background-color:#568ECB;
	color:#FFFFFF;
	font-weight:bold;
}

#spanRightClickRankImg {
	position:absolute;
	float:right;
	padding-top:2px;
	padding-right:5px;
	padding-left:5px;
}

#spanRightClickRankFont {
	width:135px;
	font-size:12px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:10px;
	padding-right:10px;
	word-wrap:break-word;
	float:left;
}

#spanRightClickRemoveFont {
	width:170px;
	font-size:12px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:10px;
	padding-right:10px;
	word-wrap:break-word;
	float:left;
}

div.wklRightClickRankOptions {
	position:absolute;
	width:85px;
	background-color:#FFFFFF;
	border-style:solid;
	border-width:1px;	
	display:none;
	z-index: 5000;
}


div.wklRightClickRankOptionsTabs {
	background-color:#FFFFFF;
	padding-bottom:1px;
	position:relative;
	left:0px;
	right:0px;
	height:20px;
	display:block;	
}
div.wklRightClickRankOptionsTabs:hover {
	background-color:#568ECB;
}

div.wklHeaderDrop{position:absolute;height:24px;width:140px;border-width:1px;border-style:solid;background:#FFF;z-index:6000;display:none;}

.wklHeaderDropTable{height:100%; width:100%;padding:0;border-collapse:collapse;table-layout:fixed;z-index:6000;}
.wklHeaderDropTable tr{height:24px;}
.wklHeaderDropTable tr:hover{background-color:#568ECB;color:#FFF;}
.wklHeaderDropTable tr.disabled{color:#999;}
.wklHeaderDropTable tr.disabled:hover{background-color:#FFF;color:#999;}
.wklHeaderDropTable td{padding:0 5px;padding-right:8px;vertical-align:middle;cursor:pointer;white-space:nowrap;}

.wklHeaderSubMenu{position:absolute;width:160px;border-width:1px; border-style:solid;background:#FFF;display:none;z-index:6000;}
.wklHeaderSubMenu.setwklRankMenu{width:114px;}
.tdMenuIcon {width:6px;}

div.ellipsisToolTip{
	position:absolute;
	padding: 2px;
	background: #FFFCE1; 
	border:1px solid #BDBDBD; 
	font-size: 12px;
	z-index:5000;
	word-wrap:break-word;
}
#disqualifyingCritera {
	position:absolute;
	width:310px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top:3px;
	padding-bottom:3px;
	background: #FFFCE1; 
	border:1px solid #BDBDBD; 
	font-size: 12px;
	left:20px;
	z-index: 5000;
}
.errorToolTips{
	position:absolute;
	width:150px;
	padding-left: 2px;
	background: #FFFCE1; 
	border:1px solid #BDBDBD; 
	font-size: 12px;
	z-index:5000;
}

div.expandedViewBtnDiv {
	position:relative;
	float:left;
	padding-left:7px;
	padding-top:10px;
}
.expandedViewBtn {
	position:relative;
	height:25px;
}

.worklistContentDiv.selected{border-bottom:1px solid #FFF;background-color:#568ECB;color:white;height:99%;}
.worklistContentTable tr{height:14px;}
.worklistContentTable td{padding: 2px 2px 1px;}
.worklistContentTable td  div.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.divWorklistMoreImg{
	display:inline;
	float: right;
	padding-right:5px;
}
.divWorklistMoreImg span{display:block;font:600 9px Tahoma;color: #0000ff;text-decoration:underline; text-align:right;}
.selected .divWorklistMoreImg span{color:#FFF;}

#moreTooltip { display:inline; }

.col1 div span a{font:13px Tahoma,sans-serif; font-weight:bold; color:#193F72; text-decoration:none;}
.col1.selected a{color:#FFF;}
.col1 .typeSpan{color:#888;font:12px Tahoma,sans-serif;line-height:20px;}
.col1.selected .typeSpan{color:#FFF;}
.col1 .dataSpan{color:#111;font:12px Tahoma,sans-serif;line-height:20px;}
.col1.selected .dataSpan{color:#FFF;}

.rankContainer{display:inline;white-space:nowrap;float:left;cursor:pointer;margin-top:2px;} 
.rankContainer .rank{display:inline;background:url("../images/Rating_Off.png");width:17px;height:17px;background-position:center;float:left;}
.rankContainer .rank.on{background:url("../images/Rating_On.png");height:17px;}
.rankContainer .rank.blank{background:none;height:17px;width:26px;}
.rankContainer .rank.noLeftPadding{background:none;height:17px;width:0px;}

.hoverColor{color:black !important;background:#FFFCE1;}
.hoverColor span a{color:black !important;}

#wklResizeLine {
	height:100%;
	border-right:2px dashed #888888;
	position:absolute;
	cursor:e-resize;
	display:none;
}

.wklHeaderResizeDiv {
	width:10px;
	height:100%;
	left:10px !important;
	top: 0px !important;
	position:relative;
	cursor:e-resize;
	float:right;
}

.subDiv {
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	position:relative;
}

#wklMessageBanner {
	box-sizing:border-box;
	position:absolute;
	top:39px;
	left:360px;
	padding: 8px 7px 0 7px;
	display: none;
	width: 100%;

}

#wklErrMessageDiv {
	background:#fbdbdd;
	border-left: 2px #CC0000 solid;
	padding: 8px 7px 0px 7px;
	margin-bottom:8px;
	display:none;
}

.infoMessageContainer {
	background: #D7E6FF;
	border-left: 2px #7CA4E6 solid;
	padding: 8px 7px 0 7px;
	margin-bottom: 8px;
	display: none;
}

.warnMessageContainer {
	background: #FEEAB8;
	border-left: 2px #FFBC0D solid;
	padding: 8px 7px 0;
	margin-bottom: 8px;
	display: none;
}

.wklMessageBannerAction {
	float: right;
	font: 11px Tahoma, sans-serif;
	color: #4C4CFF;
	text-decoration: underline;
	cursor: pointer;
}

.wklMessageBannerAction button {
	border: 1px #ADA58C solid;
	background-color: #F8F2E4;
	font: 11px Tahoma, sans-serif;
	padding: 2px 12px;
}

.singleMessageDiv {
	float:left;	
	font:12px, Tahoma;
	padding-bottom:8px;
	width: 60%;
}

#singleMessageSpan {
	font:12px Tahoma,sans-serif;color: #000000;
	float:left;
	padding: 2px 7px 0px 7px;
	display: inline;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.singleMessageDiv span {
	float:left;
	padding: 0 7px 0 7px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:75%;
}

.singleMessageDiv img {
	float:left;
	padding-top: 1px;
}

.notifyMessageHover {
	position: absolute;
	max-width: 360px;
	padding: 4px;
	border: 1px solid #BDBDBD;
	background-color: #FFFCE1;
	font: 12px Tahoma, sans-serif;
	color: #3E3E3E;
	display: none;
	z-index: 4000;
}

.dividerDiv {
	height:5px;
	display:none;
}

.riskHeader {
	color: #7B7B7D;
	font:12px Tahoma,sans-serif;
}

.bottomSpace {
	margin-bottom:10px;
}

div.message{
	white-space: nowrap;
}