.genCommDlg {
	position: relative;
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
	cursor: default;
	z-index: 10000;
	margin-left: 5%;
	margin-right: 5%;
}

.genCommDlgBtn {
	float:right;
	margin-right:8px;
	margin-top:5px;
	height:26px;
}

.genCommBody {
	padding: 10px 15px 0 15px;
}

.genCommLeftPanel {
	position:relative;
	width:38%;
	height:100%;
	float:left;
	overflow:auto;
}

.genCommBody, .genCommLeftPanel {
	/*the maximum height to avoid excessive whitespace*/
	max-height: 480px;
}

.genCommLeftPanel select {
	display:block;
}

.requiredNotSelected option {
	background-color:#FFFFCE;
}

.requiredSelected option {
	background-color: #FFFFFF;
}

.requiredNotSelected {
	background-color:#FFFFCE;
}

.requiredSelected {
	background-color: #FFFFFF;
}

.genCommFreetextSubject {
	display:block;
	margin-bottom: 15px;
	background-color:#FFFFCE;
}

.genCommLeftPanel .textboxHasInput {
	background-color: #FFFFFF;
}

.invisible {
	visibility:hidden;
}

.visible {
	visibility:visible;
}

.genCommRightPanel {
	position:relative;
	width:58%;
	height:100%;
	float:right;
}

.genCommTextareaContainer {
	position:relative;
	padding-top:8px;
	width:100%;
}

.genCommTextareaContainer textarea {
	display:none;
}

.dropmenudiv {
	z-index:10002 !important;
}

.genCommSubjectContainer {
	position:relative;
	margin-top:15px;
	width:100%;
	height:38px;
	background: #ECECEC;
}

.genCommSubjectContainer div {
	float:left;
	padding-left:5px;
	padding-top:12px;
	color:#333333;
	font: bold 13px tahoma; 
}

.senderDetailsArea {
	margin-top:25px;
	width:95%;
}

.senderDetailsHeader {
	border-bottom:1px solid #333333;
	width:100%;
	margin-bottom:10px;
}

.senderDetailsArea .searchCtrlInput {
	width:60%;
}

.senderAddressTypeLabel {
	display:block;
	margin-top:10px;
}

.senderAddressArea {
	margin-top:10px;
}

.senderAddressAreaText {
	margin-left:5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	font:12px tahoma; 
}

.senderAddressAreaEdit {
	cursor:pointer;
	color:#0000ff;
	margin-left:5px;
}

.noAddr {
	color:#858585;
}

.addressPopoverTooltip {
	border: 1px solid #BDBDBD !important; /*assigning the tooltip class doesn't inherit this style, but the !important override makes sure this style is applied*/
	background-color: #FFFCE1;
	z-index:10002 !important;
	padding: 2px;
}

.addressPopoverTooltip .ui-tooltip-content {
	font: 12px;
	margin: 0;
}

.genCommDlg .rwDlgFooter {
	position: relative;
}

.genCommDlg .rwDlgHeader {
	position: relative;
	left: 0;
	right: 0;
	margin: 0 20px;
}
