/*

dcp_pl_custom_blackbird.css contains customized css properties of blackbird for dwl

*/

#blackbird .header .right .controls span.bbClearButton { margin-right:8px;background-position:-16px -80px;}
#exportLink {color:#FFFFFF; font-size: 12px;}
#selectAll {color:#FFFFFF; font-size: 12px;}

.alignDivLeft {float: left; margin-left: 5px;}