.result_NumberOfDays_left
{
	width: 55%;
	float: left;

}	
.result_NumberOfDays
{
	width: 45%;
	float: left;
	
}
.result_NumberOfDays_container
{
	width: 100%;
	min-width: 800px;
	background: #90C3FC;
	float: right;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top: 0px;
	border-bottom: 2px;
	border-left: 0px;
	border-right: 0px;
	border-color: #39506B;
	border-style: solid;
}

.form_top{
margin:0 auto;
width:100%;
padding-bottom:6px;
padding-left: 0px;
height: 20px;
border-top: 1px;
border-color: #C2C2C2;
border-bottom: 0px;
border-left: 0px;
border-right: 0px;
border-style: solid;
font-size: 11px;
}
.lab_option{
width:100%;
padding-left: 0px;
}

.form_normalcy
{
width: 350px;;
height: 20px;
float: left;

}
.form_view_type
{
width: 180px;
height: 20px;
float: right;
}
.result_normal
{
	color: default;
}
.result_crit
{
	color: red; 
	font-weight:bold;
}
.result_norm_low
{
	color: blue;
}
.result_norm_hi
{
	color: #FF8400;
}
.result_norm_abn
{
	color: #8F6333;
}


.patient_info 
{
	font-weight: bold;
}
.content_container
{
	width: 100%;
	min-width: 1000px;
	border: 5px;
	border-style: solid;
	margin-top: 0;
}

.content_left
{
	width: 125px;
	background: white;
	float: left;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-style: solid;
}
.content_right
{
	width: 82%;
	margin-top: 0px;
}
